codegen/codegen-tools/src/test/resources/types/CategoryProduct2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://www.ebayopensource.org/turmeric/common/v1/types" elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:ons="http://www.ebayopensource.org/turmeric/common/v1/types" xmlns:tns="http://www.ebayopensource.org/turmeric/common/v1/types">
	<complexType name="CategoryProduct2">
		<sequence>
			<element name="Price" type="string" minOccurs="0"/>
			<element name="Name" type="string" minOccurs="0"/>
		</sequence>
	</complexType>
</schema>
