codegen/codegen-tools/src/test/resources/types/CategoryRelease.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://www.ebayopensource.org/soaframework/examples/config" elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:ons="http://www.ebayopensource.org/soaframework/examples/config" xmlns:tns="http://www.ebayopensource.org/soaframework/examples/config">

<include schemaLocation="typelib://CategoryName.xsd"/>
	<complexType name="CategoryRelease">
		<sequence>
			<element name="type" type="string" minOccurs="0"/>
			<element name="speed" type="string" minOccurs="0"/>
			<element name="Name" type="tns:CategoryName" minOccurs="0"/>
		</sequence>
	</complexType>
</schema>
