codegen/codegen-tools/src/test/resources/org/ebayopensource/turmeric/test/tools/codegen/data/protobuf/MultiLevelSimpleType.wsdl

<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  xmlns:tns="http://codegen.tools.soaframework.test.ebayopensource.org"
                  targetNamespace="http://codegen.tools.soaframework.test.ebayopensource.org"
                  name="Calculator">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
                    xmlns="http://codegen.tools.soaframework.test.ebay.com"
                    targetNamespace="http://codegen.tools.soaframework.test.ebayopensource.org"
                    attributeFormDefault="unqualified"
                    elementFormDefault="qualified">
                    
    <xs:complexType name="MultiAttrSimpleType">
					  <xs:choice>
					   <xs:element maxOccurs="1" minOccurs="0" name="argE" type="xs:string" />
					   <xs:element maxOccurs="1" minOccurs="0" name="argF" type="xs:string" />
					  </xs:choice>
					   <xs:attribute name="attrA" type="xs:date" use="required"/>
					   <xs:attribute name="attrB" type="tns:TestEnum"/>
					   <xs:attribute name="attrC" type="tns:Level1"/>
					
					  
	</xs:complexType>
	
	<xs:simpleType name="TestEnum">
	<xs:restriction base="xs:string">
	<xs:enumeration value="one"></xs:enumeration>
	<xs:enumeration value="two"></xs:enumeration>
	<xs:enumeration value="three"></xs:enumeration>
	</xs:restriction>
	</xs:simpleType>
	
	
	<xs:simpleType name="Level1">
	<xs:restriction base="tns:Level2">
	</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Level2">
	<xs:restriction base="tns:Level3">
	</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="Level3">
	<xs:restriction base="xs:string">
	</xs:restriction>
	</xs:simpleType>
           
  <xs:element name="test" type="tns:MultiAttrSimpleType"></xs:element>         
           
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="add">
        <wsdl:part name="add" element="tns:test"/>
    </wsdl:message>
    <wsdl:message name="addResponse">
        <wsdl:part name="addResponse" element="tns:test"/>
    </wsdl:message>
    <wsdl:portType name="Calculator">
        <wsdl:operation name="add">
            <wsdl:input name="add" message="tns:add"/>
            <wsdl:output name="addResponse" message="tns:addResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="CalculatorSoapBinding" type="tns:Calculator">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="add">
            <soap:operation soapAction="add" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="CalculatorService">
        <wsdl:port name="Calculator" binding="tns:CalculatorSoapBinding">
            <soap:address location="http://localhost:8080/calculator"/>
            <wswa:UsingAddressing xmlns:wswa="http://www.w3.org/2005/08/addressing/wsdl"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
