codegen/codegen-tools/src/test/resources/org/ebayopensource/turmeric/test/tools/codegen/data/protobuf/Myschema1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://codegen.tools.soaframework.test.ebayopensource.org" xmlns:xs ="http://www.w3.org/2001/XMLSchema" targetNamespace="http://codegen.tools.soaframework.test.ebayopensource.org">

    						<xs:complexType name="pname">
							  <xs:sequence>
							    <xs:element name="firstname" type="xs:string"/>
							    <xs:element name="lastname" type="xs:string"/>
							  </xs:sequence>
							</xs:complexType> 
</xs:schema>