codegen/codegen-tools/src/test/resources/org/ebayopensource/turmeric/test/tools/codegen/data/protobuf/ShippingService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
	xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://www.ebay.com/marketplace/shipping/v1/services"
	xmlns:xs="http://www.w3.org/2001/XMLSchema" name="ShippingService"
	targetNamespace="http://www.ebay.com/marketplace/shipping/v1/services">
	<wsdl:types>
		<xs:schema attributeFormDefault="unqualified"
			elementFormDefault="qualified"
			targetNamespace="http://www.ebay.com/marketplace/shipping/v1/services">
			<xs:element name="getRatesResponse" type="tns:GetRatesResponse">
				<xs:annotation>
					<xs:documentation>
						Response contaning a list of standard rates.
						Each
						rate is associated with a package.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="getRatesRequest" type="tns:GetRatesRequest">
				<xs:annotation>
					<xs:documentation>
						Request contaning a list of packages. Each
						package is associated with a source and a
						destination address.
					</xs:documentation>
				</xs:annotation>
			</xs:element>

			<xs:element name="voidLabelResponse" type="tns:VoidLabelResponse">
				<xs:annotation>
					<xs:documentation>
						Response containing information after canceling
						a
						label.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="voidLabelRequest" type="tns:VoidLabelRequest">
				<xs:annotation>
					<xs:documentation>
						Request contaning information to cancel a label.
					</xs:documentation>
				</xs:annotation>
			</xs:element>

			<xs:element name="getVoidLabelStatusResponse" type="tns:GetVoidLabelStatusResponse">
				<xs:annotation>
					<xs:documentation>
						Response containing information about a label
						status after its cancellation.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="getVoidLabelStatusRequest" type="tns:GetVoidLabelStatusRequest">
				<xs:annotation>
					<xs:documentation>
						Response containing information to get a label
						status after its cancellation.
					</xs:documentation>
				</xs:annotation>
			</xs:element>


			<xs:element name="regenerateLabelResponse" type="tns:RegenerateLabelResponse">
				<xs:annotation>
					<xs:documentation>
						Response containing information after
						regenerating a label.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="regenerateLabelRequest" type="tns:RegenerateLabelRequest">
				<xs:annotation>
					<xs:documentation>
						Request containing information to regenerate a
						label.
					</xs:documentation>
				</xs:annotation>
			</xs:element>



			<xs:element name="generateLabelsResponse" type="tns:GenerateLabelsResponse">
				<xs:annotation>
					<xs:documentation>
						Response containing information after generating
						a label.
					</xs:documentation>
				</xs:annotation>

			</xs:element>
			<xs:element name="generateLabelsRequest" type="tns:GenerateLabelsRequest">
				<xs:annotation>
					<xs:documentation>
						Request containing information to generate a
						label.
					</xs:documentation>
				</xs:annotation>
			</xs:element>






























			<xs:complexType name="MyComplexType">
			<xs:sequence>
			<xs:element name="myname" type="xs:string">
			
			</xs:element>
			
			</xs:sequence>
			
			
			</xs:complexType>



			<xs:complexType name="GetRatesRequest">
				<xs:annotation>
					<xs:documentation></xs:documentation>
					<xs:appinfo>
						<typeLibrarySource library="ShippingDomainTypeLibrary"
							namespace="http://www.ebay.com/marketplace/shipping/v1/services">
						</typeLibrarySource>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexContent>
					<xs:extension base="tns:BaseRequest">
						<xs:sequence>
							<xs:element maxOccurs="unbounded" minOccurs="1"
								name="rateRequest" type="tns:RateRequest">
								<xs:annotation>
									<xs:documentation>
										One or more occurrences. List of
										packages for
										which shipping rate
										is required.
									</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="myelement" type="xs:string">
							</xs:element>
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:complexType name="GetRatesResponse">
				<xs:annotation>
					<xs:documentation></xs:documentation>
					<xs:appinfo>
						<typeLibrarySource library="ShippingDomainTypeLibrary"
							namespace="http://www.ebay.com/marketplace/shipping/v1/services">
						</typeLibrarySource>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexContent>
					<xs:extension base="tns:BaseResponse">
						<xs:sequence>
							<xs:element maxOccurs="unbounded" minOccurs="0"
								name="rateResponse" type="tns:RateResponse">
								<xs:annotation>
									<xs:documentation>
										Zero or more occurrences. List
										of packages
										with shipping cost
										calculated.
									</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:complexType name="RegenerateLabelRequest">
				<xs:annotation>
					<xs:documentation></xs:documentation>
					<xs:appinfo>
						<typeLibrarySource library="ShippingDomainTypeLibrary"
							namespace="http://www.ebay.com/marketplace/shipping/v1/services">
						</typeLibrarySource>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexContent>
					<xs:extension base="tns:BaseRequest">
						<xs:sequence>
							<xs:element maxOccurs="1" minOccurs="0" name="trackingNumber"
								type="xs:string">
								<xs:annotation>
									<xs:documentation>
										Tracking number of the label to
										be reprinted.
									</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element maxOccurs="1" minOccurs="0" name="shipmentId"
								type="xs:long">
								<xs:annotation>
									<xs:documentation>
										Shipment Id of the label to be
										reprinted.
									</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:complexType name="RegenerateLabelResponse">
				<xs:annotation>
					<xs:documentation></xs:documentation>
					<xs:appinfo>
						<typeLibrarySource library="ShippingDomainTypeLibrary"
							namespace="http://www.ebay.com/marketplace/shipping/v1/services">
						</typeLibrarySource>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexContent>
					<xs:extension base="tns:BaseResponse">
						<xs:sequence>
							<xs:element maxOccurs="1" minOccurs="1" name="trackingNumber"
								type="xs:string">
								<xs:annotation>
									<xs:documentation>
										Tracking number of the
										regenerated label.
									</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element maxOccurs="1" minOccurs="1" name="shippingLabelURL"
								type="xs:string">
								<xs:annotation>
									<xs:documentation>
										URL of the regenerated label.
									</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element maxOccurs="1" minOccurs="1" name="shipmentId"
								type="xs:long">
								<xs:annotation>
									<xs:documentation>
										Shipment Id of the regenerated
										label.
									</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:complexType name="VoidLabelRequest">
				<xs:annotation>
					<xs:documentation></xs:documentation>
					<xs:appinfo>
						<typeLibrarySource library="ShippingDomainTypeLibrary"
							namespace="http://www.ebay.com/marketplace/shipping/v1/services">
						</typeLibrarySource>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexContent>
					<xs:extension base="tns:BaseRequest">
						<xs:sequence>
							<xs:element maxOccurs="1" minOccurs="0" name="shipmentId"
								type="xs:long">
								<xs:annotation>
									<xs:documentation>
										Shipment Id of the label to be
										canceled.
									</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element maxOccurs="1" minOccurs="0" name="trackingNumber"
								type="xs:string">
								<xs:annotation>
									<xs:documentation>
										Tracking Number of the label to
										be canceled.
									</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element maxOccurs="1" minOccurs="0" name="reasonCode"
								type="xs:token">
								<xs:annotation>
									<xs:documentation>
										Reason Code of the label to be
										canceled.
									</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:complexType name="VoidLabelResponse">
				<xs:annotation>
					<xs:documentation></xs:documentation>
					<xs:appinfo>
						<typeLibrarySource library="ShippingDomainTypeLibrary"
							namespace="http://www.ebay.com/marketplace/shipping/v1/services">
						</typeLibrarySource>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexContent>
					<xs:extension base="tns:BaseResponse">
						<xs:sequence>
							<xs:element maxOccurs="1" minOccurs="1" name="shipmentId"
								type="xs:long">
								<xs:annotation>
									<xs:documentation>
										Shipment Id of the canceled
										label.
									</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element maxOccurs="1" minOccurs="1" name="voidStatus"
								type="xs:token">
								<xs:annotation>
									<xs:documentation>
										Void status of the canceled
										label.
									</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element maxOccurs="1" minOccurs="1" name="trackingNumber"
								type="xs:string">
								<xs:annotation>
									<xs:documentation>
										Tracking Number of the canceled
										label.
									</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:complexType name="GetVoidLabelStatusRequest">
				<xs:annotation>
					<xs:documentation></xs:documentation>
					<xs:appinfo>
						<typeLibrarySource library="ShippingDomainTypeLibrary"
							namespace="http://www.ebay.com/marketplace/shipping/v1/services">
						</typeLibrarySource>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexContent>
					<xs:extension base="tns:BaseRequest">
						<xs:sequence>
							<xs:element maxOccurs="1" minOccurs="0" name="shipmentId"
								type="xs:long">
								<xs:annotation>
									<xs:documentation>
										Shipment Id of the canceled
										label.
									</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element maxOccurs="1" minOccurs="1" name="trackingNumber"
								type="xs:string">
								<xs:annotation>
									<xs:documentation>
										Tracking Number of the canceled
										label.
									</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:complexType name="GetVoidLabelStatusResponse">
				<xs:annotation>
					<xs:documentation></xs:documentation>
					<xs:appinfo>
						<typeLibrarySource library="ShippingDomainTypeLibrary"
							namespace="http://www.ebay.com/marketplace/shipping/v1/services">
						</typeLibrarySource>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexContent>
					<xs:extension base="tns:BaseResponse">
						<xs:sequence>
							<xs:element maxOccurs="1" minOccurs="1" name="trackingNumber"
								type="xs:string">
								<xs:annotation>
									<xs:documentation>
										Tracking Number of the canceled
										label.
									</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element maxOccurs="1" minOccurs="1" name="status"
								type="xs:string">
								<xs:annotation>
									<xs:documentation>
										Status of the canceled label.
									</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element maxOccurs="1" minOccurs="1" name="voidStatus"
								type="xs:token">
								<xs:annotation>
									<xs:documentation>
										Void status of the canceled
										label.
									</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:complexType name="AVRequestData">
				<xs:annotation>
					<xs:documentation></xs:documentation>
					<xs:appinfo>
						<typeLibrarySource library="ShippingDomainTypeLibrary"
							namespace="http://www.ebay.com/marketplace/shipping/v1/services">
						</typeLibrarySource>
					</xs:appinfo>
				</xs:annotation>
				<xs:sequence>
					<xs:element minOccurs="0" name="correlationId" type="xs:string">
					</xs:element>
					<xs:element minOccurs="1" name="contactInfo" type="tns:ContactInfo">
					</xs:element>
					<xs:element minOccurs="0" name="addressType" type="xs:token">
					</xs:element>
					<xs:element maxOccurs="1" minOccurs="0"
						name="addressValidationOption" type="tns:AddressValidationOption">
					</xs:element>
				</xs:sequence>
			</xs:complexType>
			<xs:simpleType name="AddressValidationOption">
				<xs:annotation>
					<xs:documentation>
						Tokens -
						FullAddressValidation,LastLineValidation
					</xs:documentation>
					<xs:appinfo>
						<typeLibrarySource library="ShippingDomainTypeLibrary"
							namespace="http://www.ebay.com/marketplace/shipping/v1/services">
						</typeLibrarySource>
					</xs:appinfo>
				</xs:annotation>
				<xs:restriction base="xs:token"></xs:restriction>
			</xs:simpleType>
			<xs:complexType name="AVResponseData">
				<xs:annotation>
					<xs:documentation>
						AVResponseData Contains corelationId - matches
						request corelationID. Includes
						VerifiedContactInfo, and Set of
						flags indicates
						what fields get updated. ErrorMessage shows
						error
						related to address verification.
					</xs:documentation>
					<xs:appinfo>
						<typeLibrarySource library="ShippingDomainTypeLibrary"
							namespace="http://www.ebay.com/marketplace/shipping/v1/services">
						</typeLibrarySource>
					</xs:appinfo>
				</xs:annotation>
				<xs:sequence>
					<xs:element minOccurs="0" name="correlationId" type="xs:string">
					</xs:element>
					<xs:element minOccurs="0" name="verifiedContactInfo"
						type="tns:ContactInfo">
					</xs:element>
					<xs:element minOccurs="0" name="modifiedFields" type="tns:ModifiedFields">
					</xs:element>
					<xs:element minOccurs="0" name="addressType" type="tns:AddressType">
					</xs:element>
					<xs:element minOccurs="0" name="errorMessage" type="tns:ErrorMessage">
					</xs:element>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="ModifiedFields">
				<xs:annotation>
					<xs:documentation>
						Set of Field flags indicate If any specific
						field
						value get corrected
					</xs:documentation>
					<xs:appinfo>
						<typeLibrarySource library="ShippingDomainTypeLibrary"
							namespace="http://www.ebay.com/marketplace/shipping/v1/services">
						</typeLibrarySource>
					</xs:appinfo>
				</xs:annotation>
				<xs:sequence>
					<xs:element minOccurs="0" name="contactNameChanged"
						type="xs:boolean">
					</xs:element>
					<xs:element minOccurs="0" name="addressLine1Changed"
						type="xs:boolean">
					</xs:element>
					<xs:element minOccurs="0" name="addressLine2Changed"
						type="xs:boolean">
					</xs:element>
					<xs:element minOccurs="0" name="addressLine3Changed"
						type="xs:boolean">
					</xs:element>
					<xs:element minOccurs="0" name="cityChanged" type="xs:boolean">
					</xs:element>
					<xs:element minOccurs="0" name="stateChanged" type="xs:boolean">
					</xs:element>
					<xs:element minOccurs="0" name="postalCodeChanged" type="xs:boolean">
					</xs:element>
					<xs:element minOccurs="0" name="additionalPostalCodeChanged"
						type="xs:boolean">
					</xs:element>
					<xs:element minOccurs="0" name="countryChanged" type="xs:boolean">
					</xs:element>
					<xs:element minOccurs="0" name="urbanCodeChanged" type="xs:boolean">
					</xs:element>
				</xs:sequence>
			</xs:complexType>
			<xs:simpleType name="AddressType">
				<xs:annotation>
					<xs:documentation>
						RESIDENTIAL,COMMERCIAL,UNKNOWN - Default
					</xs:documentation>
					<xs:appinfo>
						<typeLibrarySource library="ShippingDomainTypeLibrary"
							namespace="http://www.ebay.com/marketplace/shipping/v1/services">
						</typeLibrarySource>
					</xs:appinfo>
				</xs:annotation>
				<xs:restriction base="xs:token"></xs:restriction>
			</xs:simpleType>
			
			
			<xs:complexType abstract="true" name="BaseRequest">
				<xs:annotation>
					<xs:documentation>
						This is the base class for request container for
						all service operations.
					</xs:documentation>
					<xs:appinfo>
						<typeLibrarySource library="MarketPlaceServiceCommonTypeLibrary"
							namespace="http://www.ebay.com/marketplace/services">
						</typeLibrarySource>
					</xs:appinfo>
				</xs:annotation>
				<xs:sequence>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="extension"
						type="tns:ExtensionType">
					</xs:element>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="ContactInfo">
				<xs:annotation>
					<xs:documentation>
						Detailed Contact information - Contact name,
						address and phone number
					</xs:documentation>
					<xs:appinfo>
						<typeLibrarySource library="ShippingDomainTypeLibrary"
							namespace="http://www.ebay.com/marketplace/shipping/v1/services">
						</typeLibrarySource>
					</xs:appinfo>
				</xs:annotation>
				<xs:sequence>
					<xs:element minOccurs="0" name="firstName" type="xs:string">
					</xs:element>
					<xs:element minOccurs="0" name="middleName" type="xs:string">
					</xs:element>
					<xs:element minOccurs="0" name="lastName" type="xs:string">
					</xs:element>
					<xs:element minOccurs="1" name="contactAddress" type="tns:ContactAddress">
					</xs:element>
					<xs:element minOccurs="0" name="companyName" type="xs:string">
					</xs:element>
					<xs:element minOccurs="0" name="phone" type="xs:string">
					</xs:element>
					<xs:element minOccurs="0" name="extension" type="xs:string">
					</xs:element>
					<xs:element minOccurs="0" name="emailAddress" type="xs:string">
					</xs:element>
					<xs:element minOccurs="0" name="phone2" type="xs:string">
					</xs:element>
					<xs:element minOccurs="0" name="fax" type="xs:string">
					</xs:element>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="CustomsFormData">
				<xs:annotation>
					<xs:documentation></xs:documentation>
					<xs:appinfo>
						<typeLibrarySource library="ShippingDomainTypeLibrary"
							namespace="http://www.ebay.com/marketplace/shipping/v1/services">
						</typeLibrarySource>
					</xs:appinfo>
				</xs:annotation>
				<xs:sequence>
					<xs:element maxOccurs="1" minOccurs="0"
						name="uspsCustomsFormData" type="tns:USPSCustomsFormData">
					</xs:element>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="GenerateLabelsRequest">
				<xs:annotation>
					<xs:documentation></xs:documentation>
					<xs:appinfo>
						<typeLibrarySource library="ShippingDomainTypeLibrary"
							namespace="http://www.ebay.com/marketplace/shipping/v1/services">
						</typeLibrarySource>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexContent>
					<xs:extension base="tns:BaseRequest">
						<xs:sequence>
							<xs:element maxOccurs="1" minOccurs="1" name="correlationId"
								type="xs:string">
								<xs:annotation>
									<xs:documentation>
										Unique Id of a package for which
										label is to
										be generated.
									</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element maxOccurs="1" minOccurs="1" name="shippingCarrier"
								type="tns:ShippingCarrier">
								<xs:annotation>
									<xs:documentation>
										Shipping carrier used for the
										package.
									</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element maxOccurs="unbounded" minOccurs="1"
								name="shippingLabelRequestData" type="tns:ShippingLabelRequestData">
								<xs:annotation>
									<xs:documentation>
										Package Information.
									</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:complexType name="ShippingLabelRequestData">
				<xs:annotation>
					<xs:documentation></xs:documentation>
					<xs:appinfo>
						<typeLibrarySource library="ShippingDomainTypeLibrary"
							namespace="http://www.ebay.com/marketplace/shipping/v1/services">
						</typeLibrarySource>
					</xs:appinfo>
				</xs:annotation>
				<xs:sequence>
					<xs:element maxOccurs="1" minOccurs="1" name="labelCost"
						type="tns:LabelCost">
					</xs:element>

					<xs:element maxOccurs="1" minOccurs="1" name="shippingDate"
						type="xs:dateTime">
					</xs:element>


					<xs:element maxOccurs="1" minOccurs="0" name="correlationId"
						type="xs:string">
					</xs:element>
					<xs:element maxOccurs="1" minOccurs="1"
						name="shippingPackageDetails" type="tns:ShippingPackageDetails">
					</xs:element>
					<xs:element maxOccurs="1" minOccurs="1" name="shipFrom"
						type="tns:ContactInfo">
					</xs:element>
					<xs:element maxOccurs="1" minOccurs="1" name="shipTo"
						type="tns:ContactInfo">
					</xs:element>
					<xs:element maxOccurs="unbounded" minOccurs="0"
						name="serviceOptions" type="tns:ShippingOption">
					</xs:element>
					<xs:element maxOccurs="1" minOccurs="1" name="shippingService"
						type="tns:ShippingService">
					</xs:element>
					<xs:element maxOccurs="1" minOccurs="0" name="printerType"
						type="xs:token">
					</xs:element>
					<xs:element maxOccurs="unbounded" minOccurs="0"
						name="labelOption" type="tns:ShippingOption">
					</xs:element>
					<xs:element maxOccurs="1" minOccurs="0" name="customsForm"
						type="tns:CustomsFormData">
					</xs:element>
					<xs:element maxOccurs="1" minOccurs="0" name="customMessage"
						type="xs:string">
					</xs:element>
					<xs:element name="shipFromPostalCode" type="xs:string" 
							minOccurs="0" maxOccurs="1">
					</xs:element>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="USPSCustomsFormData">
				<xs:annotation>
					<xs:documentation></xs:documentation>
					<xs:appinfo>
						<typeLibrarySource library="ShippingDomainTypeLibrary"
							namespace="http://www.ebay.com/marketplace/shipping/v1/services">
						</typeLibrarySource>
					</xs:appinfo>
				</xs:annotation>
				<xs:sequence>
					<xs:element maxOccurs="1" minOccurs="0" name="licenseNumber"
						type="xs:string">
					</xs:element>
					<xs:element maxOccurs="1" minOccurs="1" name="shippedItemDetail"
						type="xs:string">
					</xs:element>
					<xs:element maxOccurs="1" minOccurs="1" name="shippedItemType"
						type="xs:token">
					</xs:element>
					<xs:element maxOccurs="1" minOccurs="0" name="comments"
						type="xs:string">
					</xs:element>
					<xs:element maxOccurs="1" minOccurs="0" name="invoiceNumber"
						type="xs:string">
					</xs:element>
					<xs:element maxOccurs="1" minOccurs="0" name="certificateNumber"
						type="xs:string">
					</xs:element>
					<xs:element maxOccurs="1" minOccurs="0" name="eelpfc"
						type="xs:string">
					</xs:element>
					<xs:element maxOccurs="unbounded" minOccurs="1"
						name="uspsCustomsFormItemDetail" type="tns:USPSCustomsFormItemDetail">
					</xs:element>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="USPSCustomsFormItemDetail">
				<xs:annotation>
					<xs:documentation></xs:documentation>
					<xs:appinfo>
						<typeLibrarySource library="ShippingDomainTypeLibrary"
							namespace="http://www.ebay.com/marketplace/shipping/v1/services">
						</typeLibrarySource>
					</xs:appinfo>
				</xs:annotation>
				<xs:sequence>
					<xs:element maxOccurs="1" minOccurs="0" name="originCountry"
						type="xs:string">
					</xs:element>
					<xs:element maxOccurs="1" minOccurs="1" name="weightMajor"
						type="tns:WeightMeasure">
					</xs:element>
					<xs:element maxOccurs="1" minOccurs="1" name="itemValue"
						type="tns:Amount">
					</xs:element>
					<xs:element maxOccurs="1" minOccurs="0" name="tariffCode"
						type="xs:string">
					</xs:element>
					<xs:element maxOccurs="1" minOccurs="1" name="quantity"
						type="xs:int">
					</xs:element>
					<xs:element maxOccurs="1" minOccurs="1" name="weightMinor"
						type="tns:WeightMeasure">
					</xs:element>
					<xs:element maxOccurs="1" minOccurs="1" name="description"
						type="xs:string">
					</xs:element>

				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="GenerateLabelsResponse">
				<xs:annotation>
					<xs:documentation></xs:documentation>
					<xs:appinfo>
						<typeLibrarySource library="ShippingDomainTypeLibrary"
							namespace="http://www.ebay.com/marketplace/shipping/v1/services">
						</typeLibrarySource>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexContent>
					<xs:extension base="tns:BaseResponse">
						<xs:sequence>
							<xs:element maxOccurs="1" minOccurs="1" name="correlationId"
								type="xs:string">
								<xs:annotation>
									<xs:documentation>
										Unique Id of a package for which
										label is
										generated.
									</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element maxOccurs="1" minOccurs="1" name="shippingCarrier"
								type="tns:ShippingCarrier">
								<xs:annotation>
									<xs:documentation>
										Shipping carrier used for the
										package.
									</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element maxOccurs="1" minOccurs="1"
								name="shippingLabelReferenceId" type="xs:long">
								<xs:annotation>
									<xs:documentation>
										Reference id for the label.
									</xs:documentation>
								</xs:annotation>
							</xs:element>

						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>

			<xs:element name="getLabelRateResponse" type="tns:GetLabelRateResponse">

			</xs:element>
			<xs:element name="getLabelRateRequest" type="tns:GetLabelRateRequest">
			</xs:element>

			<xs:element name="validateAddressResponse" type="tns:ValidateAddressResponse">

			</xs:element>
			<xs:element name="validateAddressRequest" type="tns:ValidateAddressRequest">
			</xs:element>

			<xs:element name="fetchLabelsResponse" type="tns:FetchLabelsResponse">

			</xs:element>
			<xs:element name="fetchLabelsRequest" type="tns:FetchLabelsRequest">
			</xs:element>
			<xs:complexType name="GetLabelRateRequest">
				<xs:annotation>
					<xs:documentation></xs:documentation>
					<xs:appinfo>
						<typeLibrarySource library="ShippingDomainTypeLibrary"
							namespace="http://www.ebay.com/marketplace/shipping/v1/services">
						</typeLibrarySource>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexContent>
					<xs:extension base="tns:BaseRequest">
						<xs:sequence>
							<xs:element maxOccurs="1" minOccurs="1" name="rateRequest"
								type="tns:RateRequest">
								<xs:annotation>
									<xs:documentation>
										Package for which shipping rate
										is required.
									</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:complexType name="GetLabelRateResponse">
				<xs:annotation>
					<xs:documentation></xs:documentation>
					<xs:appinfo>
						<typeLibrarySource library="ShippingDomainTypeLibrary"
							namespace="http://www.ebay.com/marketplace/shipping/v1/services">
						</typeLibrarySource>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexContent>
					<xs:extension base="tns:BaseResponse">
						<xs:sequence>
							<xs:element maxOccurs="1" minOccurs="1" name="rateResponse"
								type="tns:RateResponse">
								<xs:annotation>
									<xs:documentation>
										Package with shipping cost
										calculated.
									</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:complexType name="ValidateAddressRequest">
				<xs:annotation>
					<xs:documentation></xs:documentation>
					<xs:appinfo>
						<typeLibrarySource library="ShippingDomainTypeLibrary"
							namespace="http://www.ebay.com/marketplace/shipping/v1/services">
						</typeLibrarySource>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexContent>
					<xs:extension base="tns:BaseRequest">
						<xs:sequence>
							<xs:element maxOccurs="1" minOccurs="1" name="avRequestData"
								type="tns:AVRequestData">
								<xs:annotation>
									<xs:documentation>
										Request data consists of address
										to be
										verified.
									</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:complexType name="ValidateAddressResponse">
				<xs:annotation>
					<xs:documentation></xs:documentation>
					<xs:appinfo>
						<typeLibrarySource library="ShippingDomainTypeLibrary"
							namespace="http://www.ebay.com/marketplace/shipping/v1/services">
						</typeLibrarySource>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexContent>
					<xs:extension base="tns:BaseResponse">
						<xs:sequence>
							<xs:element maxOccurs="1" minOccurs="0" name="avResponseData"
								type="tns:AVResponseData">
								<xs:annotation>
									<xs:documentation>
										Response data consists of
										verified address.
									</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:complexType name="FetchLabelsRequest">
				<xs:annotation>
					<xs:documentation></xs:documentation>
					<xs:appinfo>
						<typeLibrarySource library="ShippingDomainTypeLibrary"
							namespace="http://www.ebay.com/marketplace/shipping/v1/services">
						</typeLibrarySource>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexContent>
					<xs:extension base="tns:BaseRequest">
						<xs:sequence>
							<xs:element maxOccurs="1" minOccurs="1"
								name="shippingLabelsReferenceId" type="xs:long">
							</xs:element>
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:complexType name="FetchLabelsResponse">
				<xs:annotation>
					<xs:documentation></xs:documentation>
					<xs:appinfo>
						<typeLibrarySource library="ShippingDomainTypeLibrary"
							namespace="http://www.ebay.com/marketplace/shipping/v1/services">
						</typeLibrarySource>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexContent>
					<xs:extension base="tns:BaseResponse">
						<xs:sequence>
							<xs:element maxOccurs="1" minOccurs="1"
								name="shippingLabelsReferenceId" type="xs:long">
							</xs:element>
							<xs:element maxOccurs="1" minOccurs="1" name="shippingCarrier"
								type="tns:ShippingCarrier">
							</xs:element>
							<xs:element maxOccurs="1" minOccurs="1" name="totalCost"
								type="tns:Amount">
							</xs:element>
							<xs:element maxOccurs="unbounded" minOccurs="0"
								name="shippingLabelResponse" type="tns:ShippingLabelResponse">
							</xs:element>
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:element name="getVersionResponse" type="tns:GetVersionResponse">

			</xs:element>
			<xs:element name="getVersionRequest" type="tns:GetVersionRequest">
			</xs:element>
			<xs:complexType name="ContactAddress">
				<xs:annotation>
					<xs:documentation>
						Postal mail address
					</xs:documentation>
					<xs:appinfo>
						<typeLibrarySource library="ShippingDomainTypeLibrary"
							namespace="http://www.ebay.com/marketplace/shipping/v1/services">
						</typeLibrarySource>
					</xs:appinfo>
				</xs:annotation>
				<xs:sequence>
					<xs:element minOccurs="0" name="addressLine1" type="xs:string">
					</xs:element>
					<xs:element minOccurs="0" name="addressLine2" type="xs:string">
					</xs:element>
					<xs:element minOccurs="0" name="addressLine3" type="xs:string">
					</xs:element>
					<xs:element minOccurs="0" name="suiteOrApt" type="xs:string">
					</xs:element>
					<xs:element minOccurs="0" name="city" type="xs:string">
					</xs:element>
					<xs:element minOccurs="0" name="stateOrProvince" type="xs:string">
					</xs:element>
					<xs:element minOccurs="0" name="postalCode" type="xs:string">
					</xs:element>
					<xs:element minOccurs="0" name="additionalPostalCode"
						type="xs:string">
					</xs:element>
					<xs:element minOccurs="1" name="country" type="xs:string">
					</xs:element>
					<xs:element minOccurs="0" name="urbancode" type="xs:string">
					</xs:element>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="LinearMeasure">
				<xs:annotation>
					<xs:appinfo>
						<typeLibrarySource library="MarketPlaceServiceCommonTypeLibrary"
							namespace="http://www.ebay.com/marketplace/services">
						</typeLibrarySource>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleContent>
					<xs:extension base="xs:double">
						<xs:attribute name="unit" type="tns:LinearMeasurementUnit"
							use="required">
						</xs:attribute>
					</xs:extension>
				</xs:simpleContent>
			</xs:complexType>
			<xs:simpleType name="LinearMeasurementUnit">
				<xs:annotation>
					<xs:appinfo>
						<typeLibrarySource library="MarketPlaceServiceCommonTypeLibrary"
							namespace="http://www.ebay.com/marketplace/services">
						</typeLibrarySource>
					</xs:appinfo>
				</xs:annotation>
				<xs:restriction base="xs:string">
					<xs:enumeration value="cm"></xs:enumeration>

					<xs:enumeration value="mm"></xs:enumeration>
					<xs:enumeration value="inches"></xs:enumeration>
					<xs:enumeration value="ft"></xs:enumeration>
				</xs:restriction>
			</xs:simpleType>
			<xs:complexType name="RateRequest">
				<xs:annotation>
					<xs:documentation></xs:documentation>
					<xs:appinfo>
						<typeLibrarySource library="ShippingDomainTypeLibrary"
							namespace="http://www.ebay.com/marketplace/shipping/v1/services">
						</typeLibrarySource>
					</xs:appinfo>
				</xs:annotation>
				<xs:sequence>

					<xs:element maxOccurs="1" minOccurs="1" name="correlationId"
						type="xs:string">
						<xs:annotation>
							<xs:documentation>
								Unique Id for the package.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element maxOccurs="1" minOccurs="1" name="sourceAddress"
						type="tns:ContactAddress">
						<xs:annotation>
							<xs:documentation>
								Source Address of the package.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element maxOccurs="1" minOccurs="1" name="destinationAddress"
						type="tns:ContactAddress">
						<xs:annotation>
							<xs:documentation>
								Destination Address of the package.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element maxOccurs="1" minOccurs="1"
						name="shippingPackageDetails" type="tns:ShippingPackageDetails">
						<xs:annotation>
							<xs:documentation>
								Gives the package type, package weight,
								package
								dimensions and declared value.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element maxOccurs="1" minOccurs="0" name="shippingDate"
						type="xs:dateTime">
						<xs:annotation>
							<xs:documentation>
								Shipping date.
							</xs:documentation>
						</xs:annotation>
					</xs:element>

					<xs:element maxOccurs="unbounded" minOccurs="0"
						name="shippingOption" type="tns:ShippingOption">
						<xs:annotation>
							<xs:documentation>
								Various options for the package.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element maxOccurs="unbounded" minOccurs="0"
						name="carrierRate" type="tns:CarrierRate">
						<xs:annotation>
							<xs:documentation>
								Zero or more occurrences. Each carrier
								rate
								consists of a carrier and list of
								services of that carrier.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="ShippingOption">
				<xs:annotation>
					<xs:documentation></xs:documentation>
					<xs:appinfo>
						<typeLibrarySource library="ShippingDomainTypeLibrary"
							namespace="http://www.ebay.com/marketplace/shipping/v1/services">
						</typeLibrarySource>
					</xs:appinfo>
				</xs:annotation>
				<xs:sequence>
					<xs:element maxOccurs="1" minOccurs="0" name="optionValue"
						type="xs:token">
					</xs:element>
					<xs:element maxOccurs="1" minOccurs="1" name="optionName"
						type="xs:token">
					</xs:element>

				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="ShippingPackageDetails">
				<xs:annotation>
					<xs:documentation></xs:documentation>
					<xs:appinfo>
						<typeLibrarySource library="ShippingDomainTypeLibrary"
							namespace="http://www.ebay.com/marketplace/shipping/v1/services">
						</typeLibrarySource>
					</xs:appinfo>
				</xs:annotation>
				<xs:sequence>
					<xs:element minOccurs="1" name="weightMajor" type="tns:WeightMeasure">
					</xs:element>
					<xs:element minOccurs="1" name="weightMinor" type="tns:WeightMeasure">
					</xs:element>
					<xs:element minOccurs="1" name="packageType" type="xs:token">
					</xs:element>
					<xs:element minOccurs="0" name="packageLength" type="tns:LinearMeasure">
					</xs:element>
					<xs:element minOccurs="0" name="packageWidth" type="tns:LinearMeasure">
					</xs:element>
					<xs:element minOccurs="0" name="packageDepth" type="tns:LinearMeasure">
					</xs:element>
					<xs:element minOccurs="0" name="declaredValue" type="tns:Amount">
					</xs:element>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="WeightMeasure">

				<xs:annotation>
					<xs:appinfo>
						<typeLibrarySource library="MarketPlaceServiceCommonTypeLibrary"
							namespace="http://www.ebay.com/marketplace/services">
						</typeLibrarySource>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleContent>
					<xs:extension base="xs:double">
						<xs:attribute name="unit" type="tns:WeightMeasurementUnit"
							use="required">
						</xs:attribute>
					</xs:extension>
				</xs:simpleContent>
			</xs:complexType>
			<xs:simpleType name="WeightMeasurementUnit">
				<xs:annotation>
					<xs:appinfo>
						<typeLibrarySource library="MarketPlaceServiceCommonTypeLibrary"
							namespace="http://www.ebay.com/marketplace/services">
						</typeLibrarySource>
					</xs:appinfo>
				</xs:annotation>
				<xs:restriction base="xs:string">
					<xs:enumeration value="kg"></xs:enumeration>
					<xs:enumeration value="gm"></xs:enumeration>
					<xs:enumeration value="lbs"></xs:enumeration>
					<xs:enumeration value="oz"></xs:enumeration>
				</xs:restriction>
			</xs:simpleType>
			<xs:complexType name="RateResponse">
				<xs:annotation>
					<xs:documentation></xs:documentation>
					<xs:appinfo>
						<typeLibrarySource library="ShippingDomainTypeLibrary"
							namespace="http://www.ebay.com/marketplace/shipping/v1/services">
						</typeLibrarySource>
					</xs:appinfo>
				</xs:annotation>
				<xs:sequence>

					<xs:element maxOccurs="1" minOccurs="1" name="correlationId"
						type="xs:string">
						<xs:annotation>
							<xs:documentation>
								Unique Id of the package.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element maxOccurs="unbounded" minOccurs="0"
						name="carrierRate" type="tns:CarrierRate">
						<xs:annotation>
							<xs:documentation>
								Zero or more occurrences. Each carrier
								rate
								consists of a carrier and list of
								services of that carrier.
							</xs:documentation>
						</xs:annotation>
					</xs:element>

					<xs:element maxOccurs="1" minOccurs="0" name="errorMessage"
						type="tns:ErrorMessage">
					</xs:element>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="CarrierRate">
				<xs:annotation>
					<xs:documentation></xs:documentation>
					<xs:appinfo>
						<typeLibrarySource library="ShippingDomainTypeLibrary"
							namespace="http://www.ebay.com/marketplace/shipping/v1/services">
						</typeLibrarySource>
					</xs:appinfo>
				</xs:annotation>
				<xs:sequence>

					<xs:element maxOccurs="1" minOccurs="1" name="carrier"
						type="tns:ShippingCarrier">
						<xs:annotation>
							<xs:documentation>
								Shipping Carrier.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element maxOccurs="unbounded" minOccurs="0"
						name="serviceRate" type="tns:ServiceRate">
						<xs:annotation>
							<xs:documentation>
								Zero or more occurrences. Each service
								rate has
								a shipping service for the
								carrier and the rate for that service.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element maxOccurs="1" minOccurs="0" name="errorMessage"
						type="tns:ErrorMessage">
					</xs:element>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="ServiceRate">
				<xs:annotation>
					<xs:documentation></xs:documentation>
					<xs:appinfo>
						<typeLibrarySource library="ShippingDomainTypeLibrary"
							namespace="http://www.ebay.com/marketplace/shipping/v1/services">
						</typeLibrarySource>
					</xs:appinfo>
				</xs:annotation>
				<xs:sequence>


					<xs:element maxOccurs="1" minOccurs="1" name="service"
						type="tns:ShippingService">
						<xs:annotation>
							<xs:documentation>
								Shipping Service
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element maxOccurs="1" minOccurs="0" name="shippingCost"
						type="tns:ShippingCost">
						<xs:annotation>
							<xs:documentation>
								Shipping Rate for a service
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element maxOccurs="1" minOccurs="0" name="errorMessage"
						type="tns:ErrorMessage">
					</xs:element>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="ShippingCarrier">
				<xs:annotation>
					<xs:documentation></xs:documentation>
					<xs:appinfo>
						<typeLibrarySource library="ShippingDomainTypeLibrary"
							namespace="http://www.ebay.com/marketplace/shipping/v1/services">
						</typeLibrarySource>
					</xs:appinfo>
				</xs:annotation>
				<xs:sequence>

					<xs:element maxOccurs="1" minOccurs="1" name="carrierName"
						type="xs:token">
						<xs:annotation>
							<xs:documentation>
								Carrier name.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element maxOccurs="1" minOccurs="0" name="rateType"
						type="tns:ShippingRateType">
						<xs:annotation>
							<xs:documentation>
								Rate type can be daily pickup, on
								demand.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element maxOccurs="1" minOccurs="0" name="deliveryType"
						type="tns:ShippingDeliveryType">
						<xs:annotation>
							<xs:documentation>
								Delivery type can be residential or
								commercial.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:complexType>
			<xs:simpleType name="ShippingDeliveryType">
				<xs:annotation>
					<xs:documentation>
						Shipping Delivery Type, set to Residential all
						the time.
					</xs:documentation>
					<xs:appinfo>
						<typeLibrarySource library="ShippingDomainTypeLibrary"
							namespace="http://www.ebay.com/marketplace/shipping/v1/services">
						</typeLibrarySource>
					</xs:appinfo>
				</xs:annotation>
				<xs:restriction base="xs:string">
					<xs:enumeration value="Residential"></xs:enumeration>
					<xs:enumeration value="Commercial"></xs:enumeration>
				</xs:restriction>
			</xs:simpleType>

			<xs:complexType name="ShippingCost">
				<xs:annotation>
					<xs:documentation></xs:documentation>
					<xs:appinfo>
						<typeLibrarySource library="ShippingDomainTypeLibrary"
							namespace="http://www.ebay.com/marketplace/shipping/v1/services">
						</typeLibrarySource>
					</xs:appinfo>
				</xs:annotation>
				<xs:sequence>

					<xs:element maxOccurs="1" minOccurs="1" name="totalCost"
						type="tns:Amount">
						<xs:annotation>
							<xs:documentation>
								Total cost is the sum of all the costs
								from cost
								breakup.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element maxOccurs="unbounded" minOccurs="1"
						name="costBreakUp" type="tns:CostBreakUp">
						<xs:annotation>
							<xs:documentation>
								Cost breakup consists of shipping cost,
								insured
								cost etc.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="GetVersionRequest">
				<xs:annotation>
					<xs:documentation></xs:documentation>
					<xs:appinfo>
						<typeLibrarySource library="ShippingDomainTypeLibrary"
							namespace="http://www.ebay.com/marketplace/shipping/v1/services">
						</typeLibrarySource>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexContent>
					<xs:extension base="tns:BaseRequest">
						<xs:sequence></xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:complexType name="GetVersionResponse">
				<xs:annotation>
					<xs:documentation></xs:documentation>
					<xs:appinfo>
						<typeLibrarySource library="ShippingDomainTypeLibrary"
							namespace="http://www.ebay.com/marketplace/shipping/v1/services">
						</typeLibrarySource>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexContent>
					<xs:extension base="tns:BaseResponse">
						<xs:sequence></xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:simpleType name="AckValue">
				<xs:annotation>
					<xs:documentation>
						Indicates whether the error is a severe error
						(causing the request to fail)
						or an informational error (a warning)
						that should be communicated
						to the
						user.
			</xs:documentation>
					<xs:appinfo>
						<typeLibrarySource library="MarketPlaceServiceCommonTypeLibrary"
							namespace="http://www.ebay.com/marketplace/services"></typeLibrarySource>
					</xs:appinfo>
				</xs:annotation>
				<xs:restriction base="xs:string">

					<xs:enumeration value="Success">
						<xs:annotation>
							<xs:documentation>
								The request was processed successfully, but
								something occurred that
								may
								affect your application or the user.
							</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="Failure">
						<xs:annotation>

							<xs:documentation>
								The request that triggered the error was not
								processed
								successfully.
								When a serious application-level error
								occurs, the error is returned
								instead of the business data.
							</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="Warning">
						<xs:annotation>
							<xs:documentation>
								The request that triggered the error was
								processed successfully but
								with some warnings.
					</xs:documentation>

						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="PartialFailure">
						<xs:annotation>
							<xs:documentation>
								The request that triggered the error was
								processed successfully but
								with some warnings.				</xs:documentation>
						</xs:annotation>
					</xs:enumeration>

				</xs:restriction>
			</xs:simpleType>
			<xs:complexType name="Amount">
				<xs:annotation>
					<xs:appinfo>
						<typeLibrarySource library="MarketPlaceServiceCommonTypeLibrary"
							namespace="http://www.ebay.com/marketplace/services"></typeLibrarySource>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleContent>
					<xs:extension base="xs:double">
						<xs:attribute name="currencyId" type="xs:string" use="required"></xs:attribute>
					</xs:extension>
				</xs:simpleContent>
			</xs:complexType>
			<xs:complexType abstract="true" name="BaseResponse">
				<xs:annotation>
					<xs:documentation>
						Base response container for all service
						operations.
						Contains error information associated with the request.
					</xs:documentation>
					<xs:appinfo>
						<typeLibrarySource library="MarketPlaceServiceCommonTypeLibrary"
							namespace="http://www.ebay.com/marketplace/services"></typeLibrarySource>
					</xs:appinfo>
				</xs:annotation>

				<xs:sequence>
					<xs:element name="ack" type="tns:AckValue">
						<xs:annotation>
							<xs:documentation>

							</xs:documentation>
							<xs:appinfo>
								<CallInfo>
									<AllCalls></AllCalls>
									<Returned>Always</Returned>

								</CallInfo>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="errorMessage" type="tns:ErrorMessage">
						<xs:annotation>
							<xs:documentation>
								Information for an error or warning that
								occurred when eBay processed the request.
					</xs:documentation>

							<xs:appinfo>
								<CallInfo>
									<AllCalls></AllCalls>
									<Returned>Conditionally</Returned>
								</CallInfo>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>

					<xs:element minOccurs="0" name="version" type="xs:string">
						<xs:annotation>
							<xs:documentation></xs:documentation>
							<xs:appinfo>
								<CallInfo>
									<AllCalls></AllCalls>
									<Returned>Always</Returned>

								</CallInfo>
							</xs:appinfo>
						</xs:annotation>

					</xs:element>
					<xs:element minOccurs="0" name="timestamp" type="xs:dateTime">
						<xs:annotation>
							<xs:documentation></xs:documentation>

							<xs:appinfo>
								<CallInfo>
									<AllCalls></AllCalls>
									<Returned>Always</Returned>
								</CallInfo>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="extension"
						type="tns:ExtensionType"></xs:element>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="CostBreakUp">
				<xs:annotation>
					<xs:documentation></xs:documentation>
					<xs:appinfo>
						<typeLibrarySource library="ShippingDomainTypeLibrary"
							namespace="http://www.ebay.com/marketplace/shipping/v1/services"></typeLibrarySource>
					</xs:appinfo>
				</xs:annotation>
				<xs:sequence>
					<xs:element maxOccurs="1" minOccurs="1" name="name"
						type="xs:token"></xs:element>
					<xs:element maxOccurs="1" minOccurs="0" name="value"
						type="xs:string"></xs:element>
					<xs:element maxOccurs="1" minOccurs="1" name="cost"
						type="tns:Amount"></xs:element>
				</xs:sequence>
			</xs:complexType>
			<xs:simpleType name="ErrorCategory">
				<xs:annotation>
					<xs:documentation>
						Documentation goes here.
			</xs:documentation>
					<xs:appinfo>
						<typeLibrarySource library="SOACommonTypeLibrary"
							namespace="http://www.ebay.com/marketplace/services"></typeLibrarySource>
					</xs:appinfo>
				</xs:annotation>

				<xs:restriction base="xs:token">
					<xs:enumeration value="System"></xs:enumeration>
					<xs:enumeration value="Application"></xs:enumeration>
					<xs:enumeration value="Request"></xs:enumeration>
				</xs:restriction>

			</xs:simpleType>
			<xs:complexType name="ErrorData">
				<xs:annotation>
					<xs:documentation>Documentation goes here</xs:documentation>

					<xs:appinfo>
						<typeLibrarySource library="SOACommonTypeLibrary"
							namespace="http://www.ebay.com/marketplace/services"></typeLibrarySource>
					</xs:appinfo>
				</xs:annotation>

				<xs:sequence>
					<xs:element name="errorId" type="xs:long"></xs:element>
					<xs:element name="domain" type="xs:string"></xs:element>
					<xs:element minOccurs="0" name="subdomain" type="xs:string"></xs:element>
					<xs:element name="severity" type="tns:ErrorSeverity"></xs:element>
					<xs:element name="category" type="tns:ErrorCategory"></xs:element>
					<xs:element name="message" type="xs:string"></xs:element>
					<xs:element minOccurs="0" name="exceptionId" type="xs:token"></xs:element>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="parameter"
						type="tns:ErrorParameter"></xs:element>
				</xs:sequence>


			</xs:complexType>
			<xs:complexType name="ErrorMessage">
				<xs:annotation>
					<xs:documentation>Documentation goes here</xs:documentation>

					<xs:appinfo>
						<typeLibrarySource library="SOACommonTypeLibrary"
							namespace="http://www.ebay.com/marketplace/services"></typeLibrarySource>
					</xs:appinfo>
				</xs:annotation>

				<!--
					<xs:sequence> <xs:any maxOccurs="unbounded" minOccurs="0"
					processContents="lax" /> </xs:sequence>
				-->

				<xs:sequence>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="error"
						type="tns:ErrorData">
					</xs:element>
				</xs:sequence>

			</xs:complexType>
			<xs:complexType name="ErrorParameter">
				<xs:annotation>
					<xs:documentation>Documentation goes here</xs:documentation>

					<xs:appinfo>
						<typeLibrarySource library="SOACommonTypeLibrary"
							namespace="http://www.ebay.com/marketplace/services"></typeLibrarySource>
					</xs:appinfo>
				</xs:annotation>

				<xs:simpleContent>
					<xs:extension base="xs:string">
						<xs:attribute name="name" type="xs:string" use="optional"></xs:attribute>
					</xs:extension>
				</xs:simpleContent>
			</xs:complexType>
			<xs:simpleType name="ErrorSeverity">
				<xs:annotation>
					<xs:documentation>
						Documentation goes here.
			</xs:documentation>
					<xs:appinfo>
						<typeLibrarySource library="SOACommonTypeLibrary"
							namespace="http://www.ebay.com/marketplace/services"></typeLibrarySource>
					</xs:appinfo>
				</xs:annotation>

				<xs:restriction base="xs:token">
					<xs:enumeration value="Error"></xs:enumeration>
					<xs:enumeration value="Warning"></xs:enumeration>
				</xs:restriction>

			</xs:simpleType>
			<xs:complexType name="ExtensionType">
				<xs:annotation>
					<xs:documentation>Documentation goes here</xs:documentation>

					<xs:appinfo>
						<typeLibrarySource library="MarketPlaceServiceCommonTypeLibrary"
							namespace="http://www.ebay.com/marketplace/services"></typeLibrarySource>
					</xs:appinfo>
				</xs:annotation>
				<xs:sequence>
					<xs:element name="id" type="xs:positiveInteger"></xs:element>
					<xs:element name="version" type="xs:string"></xs:element>
					<xs:element name="contentType" type="xs:string"></xs:element>
					<xs:element name="value" type="xs:string"></xs:element>
					<!-- <xs:any maxOccurs="unbounded" minOccurs="0" processContents="lax"></xs:any> -->
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="LabelCost">
				<xs:annotation>
					<xs:documentation></xs:documentation>
					<xs:appinfo>
						<typeLibrarySource library="ShippingDomainTypeLibrary"
							namespace="http://www.ebay.com/marketplace/shipping/v1/services"></typeLibrarySource>
					</xs:appinfo>
				</xs:annotation>
				<xs:sequence>
					<xs:element maxOccurs="1" minOccurs="1"
						name="totalCostWithDiscount" type="tns:Amount"></xs:element>
					<xs:element maxOccurs="1" minOccurs="1"
						name="totalCostWithoutDiscount" type="tns:Amount"></xs:element>
					<xs:element maxOccurs="unbounded" minOccurs="1"
						name="costBreakUp" type="tns:CostBreakUp"></xs:element>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="ShippingLabelResponse">
				<xs:annotation>
					<xs:documentation></xs:documentation>
					<xs:appinfo>
						<typeLibrarySource library="ShippingDomainTypeLibrary"
							namespace="http://www.ebay.com/marketplace/shipping/v1/services"></typeLibrarySource>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexContent>
					<xs:extension base="tns:BaseResponse">
						<xs:sequence>
							<xs:element maxOccurs="1" minOccurs="1" name="labelURL"
								type="xs:string">
							</xs:element>
							<xs:element maxOccurs="1" minOccurs="1" name="labelCost"
								type="tns:LabelCost">
							</xs:element>
							<xs:element maxOccurs="1" minOccurs="0" name="correlationId"
								type="xs:string">
							</xs:element>
							<xs:element maxOccurs="1" minOccurs="1" name="trackingNumber"
								type="xs:string">
							</xs:element>
							<xs:element maxOccurs="1" minOccurs="1" name="shipmentId"
								type="xs:long">
							</xs:element>
							<xs:element maxOccurs="1" minOccurs="1" name="shippingService"
								type="tns:ShippingService">
							</xs:element>
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:complexType name="ShippingService">
				<xs:annotation>
					<xs:documentation></xs:documentation>
					<xs:appinfo>
						<typeLibrarySource library="ShippingDomainTypeLibrary"
							namespace="http://www.ebay.com/marketplace/shipping/v1/services"></typeLibrarySource>
					</xs:appinfo>
				</xs:annotation>
				<xs:sequence>
					<xs:element minOccurs="1" name="shippingServiceName"
						type="xs:token">
					</xs:element>
				</xs:sequence>
			</xs:complexType>
			<xs:element name="getInsuranceQuoteRequest" type="tns:GetInsuranceQuoteRequest">
			</xs:element>
			<xs:element name="getInsuranceQuoteResponse" type="tns:GetInsuranceQuoteResponse">
			</xs:element>
<xs:complexType name="GetInsuranceQuoteRequest">
		<xs:annotation>
			<xs:documentation></xs:documentation>
		<xs:appinfo><typeLibrarySource library="PackageInsuranceTypeLibrary" namespace="http://www.ebay.com/marketplace/shipping/v1/services"></typeLibrarySource></xs:appinfo></xs:annotation>
		<xs:complexContent>
			<xs:extension base="tns:BaseRequest">
				<xs:sequence>
					<xs:element maxOccurs="1" minOccurs="1" name="insuranceProvider" type="xs:token">
						<xs:annotation>
							<xs:documentation>
								Override the base to make it required.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="1" name="insuredAmount" type="tns:Amount"></xs:element>
					<xs:element minOccurs="0" name="effectiveDate" type="xs:dateTime"></xs:element>
					<xs:element maxOccurs="unbounded" name="additionalOption" type="tns:ShippingOption"></xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType><xs:complexType name="GetInsuranceQuoteResponse">
		<xs:annotation>
			<xs:documentation></xs:documentation>
		<xs:appinfo><typeLibrarySource library="PackageInsuranceTypeLibrary" namespace="http://www.ebay.com/marketplace/shipping/v1/services"></typeLibrarySource></xs:appinfo></xs:annotation>
		<xs:complexContent>
			<xs:extension base="tns:BaseResponse">
				<xs:sequence>
					<xs:element minOccurs="0" name="quote" type="tns:Quote"></xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType><xs:complexType name="Quote">
		<xs:annotation>
			<xs:documentation></xs:documentation>
		<xs:appinfo><typeLibrarySource library="PackageInsuranceTypeLibrary" namespace="http://www.ebay.com/marketplace/shipping/v1/services"></typeLibrarySource></xs:appinfo></xs:annotation>
		<xs:sequence>
			<xs:element minOccurs="0" name="quoteId" type="xs:long"></xs:element>
			<xs:element minOccurs="1" name="totalPremium" type="tns:Amount"></xs:element>
			<xs:element maxOccurs="unbounded" name="costBreakup" type="tns:CostBreakUp"></xs:element>
		</xs:sequence>
	</xs:complexType><xs:simpleType name="ShippingRateType">
		<xs:annotation>
			<xs:documentation>
				Shipping Rate Type.
			</xs:documentation>
		<xs:appinfo><typeLibrarySource library="ShippingDomainTypeLibrary" namespace="http://www.ebay.com/marketplace/shipping/v1/services"></typeLibrarySource></xs:appinfo></xs:annotation>
		<xs:restriction base="xs:string">
  			<xs:enumeration value="OnDemand"></xs:enumeration> 
			<xs:enumeration value="DailyPickup"></xs:enumeration> 
			<xs:enumeration value="FedexStandardList"></xs:enumeration>
			<xs:enumeration value="FedexCounter"></xs:enumeration>
			<xs:enumeration value="USPSDiscounted"></xs:enumeration>
		</xs:restriction>
	</xs:simpleType></xs:schema>
	</wsdl:types>

	<wsdl:message name="getRatesRequest">
		<wsdl:part name="params" element="tns:getRatesRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getRatesResponse">
		<wsdl:part name="params" element="tns:getRatesResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="voidLabelRequest">
		<wsdl:part name="params" element="tns:voidLabelRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="voidLabelResponse">
		<wsdl:part name="params" element="tns:voidLabelResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getVoidLabelStatusRequest">
		<wsdl:part name="params"
			element="tns:getVoidLabelStatusRequest">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="getVoidLabelStatusResponse">
		<wsdl:part name="params"
			element="tns:getVoidLabelStatusResponse">
		</wsdl:part>
	</wsdl:message>

	<wsdl:message name="regenerateLabelRequest">
		<wsdl:part name="params" element="tns:regenerateLabelRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="regenerateLabelResponse">
		<wsdl:part name="params"
			element="tns:regenerateLabelResponse">
		</wsdl:part>
	</wsdl:message>

	<wsdl:message name="generateLabelsRequest">
		<wsdl:part name="params" element="tns:generateLabelsRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="generateLabelsResponse">
		<wsdl:part name="params" element="tns:generateLabelsResponse"></wsdl:part>
	</wsdl:message>

	<wsdl:message name="getLabelRateRequest">
		<wsdl:part name="params" element="tns:getLabelRateRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getLabelRateResponse">
		<wsdl:part name="params" element="tns:getLabelRateResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="validateAddressRequest">
		<wsdl:part name="params" element="tns:validateAddressRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="validateAddressResponse">
		<wsdl:part name="params"
			element="tns:validateAddressResponse">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="fetchLabelsRequest">
		<wsdl:part name="params" element="tns:fetchLabelsRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="fetchLabelsResponse">
		<wsdl:part name="params" element="tns:fetchLabelsResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getVersionRequest">
		<wsdl:part name="params" element="tns:getVersionRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getVersionResponse">
		<wsdl:part name="params" element="tns:getVersionResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getInsuranceQuoteRequest">
		<wsdl:part name="params" element="tns:getInsuranceQuoteRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getInsuranceQuoteResponse">
		<wsdl:part name="params" element="tns:getInsuranceQuoteResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:portType name="ShippingServicePort">

		<wsdl:operation name="getRates">
			<wsdl:documentation>
				Calculate shipping rates for the given list of Shipping
				Packages and Addresses.
			</wsdl:documentation>
			<wsdl:input message="tns:getRatesRequest"></wsdl:input>
			<wsdl:output message="tns:getRatesResponse"></wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="voidLabel">
			<wsdl:documentation>
				This operation can be used to cancel the shipping label
				that was generated.
			</wsdl:documentation>
			<wsdl:input message="tns:voidLabelRequest"></wsdl:input>
			<wsdl:output message="tns:voidLabelResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getVoidLabelStatus">
			<wsdl:documentation>
				This operation is used after voiding shipping label for
				a given shipment or tracking number to provide the
				current status of the shipping label void request.
			</wsdl:documentation>
			<wsdl:input message="tns:getVoidLabelStatusRequest"></wsdl:input>
			<wsdl:output message="tns:getVoidLabelStatusResponse"></wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="regenerateLabel">
			<wsdl:documentation>
				This operation is used to re-generate the URL from where
				the label can be retrieved if the URL to print the label
				doens't work.
			</wsdl:documentation>
			<wsdl:input message="tns:regenerateLabelRequest"></wsdl:input>
			<wsdl:output message="tns:regenerateLabelResponse"></wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="generateLabels">
			<wsdl:documentation>
				This operation is used to generate the URL from where
				the label can be retrieved.
			</wsdl:documentation>
			<wsdl:input message="tns:generateLabelsRequest"></wsdl:input>
			<wsdl:output message="tns:generateLabelsResponse"></wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="getLabelRate">
			<wsdl:input message="tns:getLabelRateRequest"></wsdl:input>
			<wsdl:output message="tns:getLabelRateResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="validateAddress">
			<wsdl:input message="tns:validateAddressRequest"></wsdl:input>
			<wsdl:output message="tns:validateAddressResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="fetchLabels">
			<wsdl:input message="tns:fetchLabelsRequest"></wsdl:input>
			<wsdl:output message="tns:fetchLabelsResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getVersion">
			<wsdl:input message="tns:getVersionRequest"></wsdl:input>
			<wsdl:output message="tns:getVersionResponse"></wsdl:output>
		</wsdl:operation>



		<wsdl:operation name="getInsuranceQuote">
			<wsdl:input message="tns:getInsuranceQuoteRequest"></wsdl:input>
			<wsdl:output message="tns:getInsuranceQuoteResponse"></wsdl:output>
		</wsdl:operation>



	</wsdl:portType>
	<wsdl:binding name="ShippingServiceHttpBinding"
		type="tns:ShippingServicePort">


		<http:binding verb="POST" />
		<wsdl:operation name="getRates">

			<http:operation location="/getRates" />
			<wsdl:input>
				<mime:content type="application/x-www-form-urlencoded" />









			</wsdl:input>
			<wsdl:output>
				<mime:content type="text/xml" />









			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="voidLabel">

			<http:operation location="/voidLabel" />
			<wsdl:input>
				<mime:content type="application/x-www-form-urlencoded" />









			</wsdl:input>
			<wsdl:output>
				<mime:content type="text/xml" />









			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getVoidLabelStatus">

			<http:operation location="/getVoidLabelStatus" />
			<wsdl:input>
				<mime:content type="application/x-www-form-urlencoded" />









			</wsdl:input>
			<wsdl:output>
				<mime:content type="text/xml" />









			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="regenerateLabel">

			<http:operation location="/regenerateLabel" />
			<wsdl:input>
				<mime:content type="application/x-www-form-urlencoded" />







			</wsdl:input>
			<wsdl:output>
				<mime:content type="text/xml" />







			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="generateLabels">

			<http:operation location="/generateLabels" />
			<wsdl:input>
				<mime:content type="application/x-www-form-urlencoded" />





			</wsdl:input>
			<wsdl:output>
				<mime:content type="text/xml" />





			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="getLabelRate">

			<http:operation location="/getLabelRate" />
			<wsdl:input>
				<mime:content type="application/x-www-form-urlencoded" />



			</wsdl:input>
			<wsdl:output>
				<mime:content type="text/xml" />



			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="validateAddress">

			<http:operation location="/validateAddress" />
			<wsdl:input>
				<mime:content type="application/x-www-form-urlencoded" />



			</wsdl:input>
			<wsdl:output>
				<mime:content type="text/xml" />



			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="fetchLabels">

			<http:operation location="/fetchLabels" />
			<wsdl:input>
				<mime:content type="application/x-www-form-urlencoded" />



			</wsdl:input>
			<wsdl:output>
				<mime:content type="text/xml" />



			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getVersion">

			<http:operation location="/getVersion" />
			<wsdl:input>
				<mime:content type="application/x-www-form-urlencoded" />


			</wsdl:input>
			<wsdl:output>
				<mime:content type="text/xml" />


			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getInsuranceQuote">

			<http:operation location="/getInsuranceQuote" />
			<wsdl:input>
				<mime:content type="application/x-www-form-urlencoded" />

			</wsdl:input>
			<wsdl:output>
				<mime:content type="text/xml" />

			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="ShippingServiceSOAPBinding"
		type="tns:ShippingServicePort">


		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="getRates">

			<soap:operation
				soapAction="http://www.ebay.com/marketplace/shipping/v1/services/getRates" />
			<wsdl:input>

				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>

				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="voidLabel">

			<soap:operation
				soapAction="http://www.ebay.com/marketplace/shipping/v1/services/voidLabel" />
			<wsdl:input>

				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>

				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getVoidLabelStatus">

			<soap:operation
				soapAction="http://www.ebay.com/marketplace/shipping/v1/services/getVoidLabelStatus" />
			<wsdl:input>

				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>

				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="regenerateLabel">

			<soap:operation
				soapAction="http://www.ebay.com/marketplace/shipping/v1/services/regenerateLabel" />
			<wsdl:input>

				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>

				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="generateLabels">

			<soap:operation
				soapAction="http://www.ebay.com/marketplace/shipping/v1/services/generateLabels" />
			<wsdl:input>

				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>

				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="getLabelRate">

			<soap:operation
				soapAction="http://www.ebay.com/marketplace/shipping/v1/services/getLabelRate" />
			<wsdl:input>

				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>

				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="validateAddress">

			<soap:operation
				soapAction="http://www.ebay.com/marketplace/shipping/v1/services/validateAddress" />
			<wsdl:input>

				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>

				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="fetchLabels">

			<soap:operation
				soapAction="http://www.ebay.com/marketplace/shipping/v1/services/fetchLabels" />
			<wsdl:input>

				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>

				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getVersion">

			<soap:operation
				soapAction="http://www.ebay.com/marketplace/shipping/v1/services/getVersion" />
			<wsdl:input>

				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>

				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getInsuranceQuote">

			<soap:operation
				soapAction="http://www.ebay.com/marketplace/shipping/v1/services/getInsuranceQuote" />
			<wsdl:input>

				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>

				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="ShippingService">
		<wsdl:documentation>
			<Version>1.0.0</Version>
			Shipping Service is a suite consisting of operations related
			to Standard Rates, Shipping Label and Address Validation.
			This provides API for the users to rate shipping packages,
			print and reprint labels, void labels and validate
			addresses.
		</wsdl:documentation>
		<wsdl:port binding="tns:ShippingServiceHttpBinding"
			name="ShippingServiceHttpPort">
			<http:address
				location="https://svcs.ebay.com/services/shipping/v1/ShippingService" />
		</wsdl:port>
		<wsdl:port binding="tns:ShippingServiceSOAPBinding"
			name="ShippingServiceSOAPPort">
			<soap12:address
				location="https://svcs.ebay.com/services/shipping/v1/ShippingService" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>

