codegen/codegen-tools/src/test/resources/org/ebayopensource/turmeric/test/tools/codegen/data/protobuf/TestWsdlMinOccurs.wsdl

<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  xmlns:tns="http://codegen.tools.soaframework.test.ebayopensource.org"
                  targetNamespace="http://codegen.tools.soaframework.test.ebayopensource.org"
                  name="Calculator">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
                    xmlns="http://codegen.tools.soaframework.test.ebayopensource.org"
                    targetNamespace="http://codegen.tools.soaframework.test.ebayopensource.org"
                    attributeFormDefault="unqualified"
                    elementFormDefault="qualified">
                    
					  <xs:simpleType name="MySimpleTypeIntRest">
					  <xs:restriction base="xs:int">
					   <xs:totalDigits value="3" />
					  </xs:restriction>
					 </xs:simpleType>
					
					<xs:complexType name="SampleComplexType">
					<xs:sequence>
					<xs:element  maxOccurs="unbounded" name="Int" type="tns:MySimpleTypeIntRest" /> <!-- nillable="true" -->
					<xs:element minOccurs="1" name="Value1" type="xs:string" /><!-- nillable="true" -->
					<xs:element minOccurs="0" name="Value2" type="xs:string"  /><!-- nillable="true" -->
					<xs:element minOccurs="0" maxOccurs="2" name="Value3" type="xs:string" /><!-- nillable="true" -->
					<xs:element minOccurs="1" maxOccurs="1" name="Value4" type="xs:string"  /><!-- nillable="true" -->
					<xs:element minOccurs="1" maxOccurs="2" name="Value5" type="xs:string" /><!-- nillable="true" -->
					<xs:element minOccurs="2" maxOccurs="2" name="Value6" type="xs:string" /><!-- nillable="true" -->
					<xs:element minOccurs="1" maxOccurs="unbounded" name="Value7" type="xs:string" /><!-- nillable="true" -->
					<xs:element minOccurs="0" maxOccurs="1" name="Value8" type="xs:string" /><!-- nillable="true" -->
					<xs:element name="Value9" type="xs:string" /><!-- nillable="true" -->
					<xs:choice>
					<xs:element name="Value10" type="xs:string" /><!-- nillable="true" -->
					</xs:choice>



						</xs:sequence>
						</xs:complexType>
               
           
  <xs:element name="test" type="tns:SampleComplexType"></xs:element>         
           
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="add">
        <wsdl:part name="add" element="tns:test"/>
    </wsdl:message>
    <wsdl:message name="addResponse">
        <wsdl:part name="addResponse" element="tns:test"/>
    </wsdl:message>
    <wsdl:portType name="Calculator">
        <wsdl:operation name="add">
            <wsdl:input name="add" message="tns:add"/>
            <wsdl:output name="addResponse" message="tns:addResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="CalculatorSoapBinding" type="tns:Calculator">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="add">
            <soap:operation soapAction="add" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="CalculatorService">
        <wsdl:port name="Calculator" binding="tns:CalculatorSoapBinding">
            <soap:address location="http://localhost:8080/calculator"/>
            <wswa:UsingAddressing xmlns:wswa="http://www.w3.org/2005/08/addressing/wsdl"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
