codegen/codegen-tools/src/test/resources/org/ebayopensource/turmeric/test/tools/codegen/data/protobuf/TestWsdlNoEproto.wsdl

<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  xmlns:tns="http://codegen.tools.soaframework.test.ebayopensource.org"
                  targetNamespace="http://codegen.tools.soaframework.test.ebayopensource.org"
                  name="Calculator">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
                    xmlns="http://codegen.tools.soaframework.test.ebayopensource.org"
                    targetNamespace="http://codegen.tools.soaframework.test.ebayopensource.org"
                    attributeFormDefault="unqualified"
                    elementFormDefault="qualified">
                    
                    <xs:simpleType name="testtoken">
  <xs:restriction base="xs:token">

</xs:restriction>
</xs:simpleType>

<xs:simpleType name="teststring">
  <xs:restriction base="xs:string">

</xs:restriction>
</xs:simpleType>
<xs:simpleType name="testdecimal">
 <xs:restriction base="xs:decimal">
  <xs:fractionDigits value="2"/>
  <xs:minExclusive value="0.00"/>
  <xs:maxExclusive value="100.00"/>
 </xs:restriction>
</xs:simpleType>

<xs:simpleType name="testinteger">
 <xs:restriction base="xs:integer">
  <xs:minExclusive value="0"/>
  <xs:maxExclusive value="100"/>
 </xs:restriction>
</xs:simpleType>

<xs:simpleType name="MySimpleTypeList">
  <xs:list itemType="xs:double" />
 </xs:simpleType>

        
           
  <xs:element name="testReq" type="tns:MySimpleTypeList"></xs:element>         
   <xs:element name="testRes" type="tns:testinteger"></xs:element>           
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="add">
        <wsdl:part name="add" element="tns:testReq"/>
    </wsdl:message>
    <wsdl:message name="addResponse">
        <wsdl:part name="addResponse" element="tns:testRes"/>
    </wsdl:message>
    <wsdl:portType name="Calculator">
        <wsdl:operation name="add">
            <wsdl:input name="add" message="tns:add"/>
            <wsdl:output name="addResponse" message="tns:addResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="CalculatorSoapBinding" type="tns:Calculator">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="add">
            <soap:operation soapAction="add" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="CalculatorService">
        <wsdl:port name="Calculator" binding="tns:CalculatorSoapBinding">
            <soap:address location="http://localhost:8080/calculator"/>
            <wswa:UsingAddressing xmlns:wswa="http://www.w3.org/2005/08/addressing/wsdl"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
