codegen/codegen-tools/src/test/resources/org/ebayopensource/turmeric/test/tools/codegen/data/protobuf/TestWsdlChoiceAttrGroup.wsdl

<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  xmlns:tns="http://codegen.tools.soaframework.test.ebayopensource.org"
                  targetNamespace="http://codegen.tools.soaframework.test.ebayopensource.org"
                  name="Calculator">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
                    xmlns="http://codegen.tools.soaframework.test.ebayopensource.org"
                    targetNamespace="http://codegen.tools.soaframework.test.ebayopensource.org"
                    attributeFormDefault="unqualified"
                    elementFormDefault="qualified">
                    
 <xs:complexType name="ComplexTypeUsingChoice1">
					<xs:choice>
					   <xs:element maxOccurs="1" minOccurs="0" name="argE"
					    type="xs:string" />
					   <xs:element maxOccurs="1" minOccurs="0" name="argF"
					    type="xs:string" />
					  </xs:choice>
					 </xs:complexType>
					 
					 
					 <xs:complexType name="ComplexTypeUsingChoiceAttr">
					  <xs:choice>
					   <xs:element maxOccurs="1" minOccurs="0" name="argE" type="xs:string" />
					   <xs:element maxOccurs="1" minOccurs="0" name="argF" type="xs:string" />
					</xs:choice>
					   <xs:attribute name="attrA" type="xs:date" use="required"/>
					   <xs:attribute name="attrB" type="xs:int"/>
					
					  
					 </xs:complexType>
					 
					 
					 <xs:group name="Literal">
					  <xs:choice>
					   <xs:element name="par1" type="xs:int" />
					   <xs:element name="par2" type="xs:boolean" />
					   <xs:element name="par3" type="xs:string" />
					  </xs:choice>
					 </xs:group>
					 <xs:complexType name="ComplexTypeusingGrp">
					  <xs:group ref="tns:Literal"></xs:group>
					 </xs:complexType>
					 
					 
					
               
           
  <xs:element name="test" type="tns:ComplexTypeUsingChoice1"></xs:element>         
  <xs:element name="test1" type="tns:ComplexTypeusingGrp"></xs:element>  
  <xs:element name="test2" type="tns:ComplexTypeUsingChoiceAttr"></xs:element>

 
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="add">
        <wsdl:part name="add" element="tns:test"/>
    </wsdl:message>
    <wsdl:message name="addResponse">
        <wsdl:part name="addResponse" element="tns:test1"/>
    </wsdl:message>
    <wsdl:message name="subRequest">
    	<wsdl:part name="parameters" element="tns:test2"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="subResponse">
    	<wsdl:part name="subResponse" element="tns:test"></wsdl:part>
    </wsdl:message>
    <wsdl:portType name="Calculator">
        <wsdl:operation name="add">
            <wsdl:input name="add" message="tns:add"/>
            <wsdl:output name="addResponse" message="tns:addResponse"/>
        </wsdl:operation>
        <wsdl:operation name="sub">
        	<wsdl:input message="tns:subRequest"></wsdl:input>
        	<wsdl:output message="tns:subResponse"></wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="CalculatorSoapBinding" type="tns:Calculator">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="add">
            <soap:operation soapAction="add" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        
        <wsdl:operation name="sub">
            <soap:operation soapAction="sub" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="CalculatorService">
        <wsdl:port name="Calculator" binding="tns:CalculatorSoapBinding">
            <soap:address location="http://localhost:8080/calculator"/>
            <wswa:UsingAddressing xmlns:wswa="http://www.w3.org/2005/08/addressing/wsdl"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
