codegen/codegen-tools/src/test/resources/org/ebayopensource/turmeric/test/tools/codegen/data/protobuf/TestWsdlComplexTypeCC.wsdl

<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  xmlns:tns="http://codegen.tools.soaframework.test.ebayopensource.org"
                  targetNamespace="http://codegen.tools.soaframework.test.ebayopensource.org"
                  name="Calculator">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
                    xmlns="http://codegen.tools.soaframework.test.ebayopensource.org"
                    targetNamespace="http://codegen.tools.soaframework.test.ebayopensource.org"
                    attributeFormDefault="unqualified"
                    elementFormDefault="qualified">
                    
					 <xs:complexType name="baseType1">
					      <xs:attributeGroup ref="tns:attgroup1"></xs:attributeGroup>
					 </xs:complexType>
					
					 <xs:complexType name="restrictedType1">
					  <xs:complexContent>
					   <xs:restriction base = "tns:baseType1">
					    <xs:attribute name = "att1" type = "xs:string" use = "required"/>
					    <xs:attribute name = "att2" type = "xs:string" use = "prohibited"/>
					    <xs:attribute name = "att3" type = "xs:string" use = "optional"/>
					   </xs:restriction>
					  </xs:complexContent>
					 </xs:complexType>
					<xs:attributeGroup name="attgroup1">
					  <xs:attribute name = "att1" type = "xs:string" use = "optional"/>
					  <xs:attribute name = "att2" type = "xs:string" use = "optional"/>
					  <xs:attribute name = "att3" type = "xs:string" use = "optional"/>
					  <xs:attribute name = "att4" type = "xs:string" use = "optional"/>
					
					</xs:attributeGroup>
					
					
										<xs:complexType name="baseType2">
					        <xs:attributeGroup ref="tns:attgroup2"></xs:attributeGroup>
					</xs:complexType>
					
					 <xs:complexType name="restrictedType2">
					  <xs:complexContent>
					   <xs:extension base = "tns:baseType2">
					<xs:sequence>
					<xs:choice>
						<xs:element name="blah" type="xs:string"/>
					    </xs:choice>
					  </xs:sequence>
						<xs:attribute name="balance" type="xs:string" use="required"/>
					
					   </xs:extension>
					  </xs:complexContent>
					 </xs:complexType>
					
					<xs:attributeGroup name="attgroup2">
					  <xs:attribute name = "att1" type = "xs:string" use = "optional"/>
					  <xs:attribute name = "att2" type = "xs:string" use = "optional"/>
					  <xs:attribute name = "att3" type = "xs:string" use = "optional"/>
					  <xs:attribute name = "att4" type = "xs:string" use = "optional"/>
					
					</xs:attributeGroup>
					
 
					
               
           
  <xs:element name="test" type="tns:restrictedType2"></xs:element>         
  <xs:element name="test1" type="tns:restrictedType1"></xs:element>  
     
           
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="add">
        <wsdl:part name="add" element="tns:test"/>
    </wsdl:message>
    <wsdl:message name="addResponse">
        <wsdl:part name="addResponse" element="tns:test1"/>
    </wsdl:message>
    <wsdl:portType name="Calculator">
        <wsdl:operation name="add">
            <wsdl:input name="add" message="tns:add"/>
            <wsdl:output name="addResponse" message="tns:addResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="CalculatorSoapBinding" type="tns:Calculator">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="add">
            <soap:operation soapAction="add" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="CalculatorService">
        <wsdl:port name="Calculator" binding="tns:CalculatorSoapBinding">
            <soap:address location="http://localhost:8080/calculator"/>
            <wswa:UsingAddressing xmlns:wswa="http://www.w3.org/2005/08/addressing/wsdl"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
