codegen/codegen-tools/src/test/resources/org/ebayopensource/turmeric/test/tools/codegen/data/protobuf/TestWsdlOtherTypes.wsdl

<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  xmlns:tns="http://codegen.tools.soaframework.test.ebayopensource.org"
                  targetNamespace="http://codegen.tools.soaframework.test.ebayopensource.org"
                  name="Calculator">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
                    xmlns="http://codegen.tools.soaframework.test.ebayopensource.org"
                    targetNamespace="http://codegen.tools.soaframework.test.ebayopensource.org"
                    attributeFormDefault="unqualified"
                    elementFormDefault="qualified">
                    
 			     <xs:complexType name="NationalityType">
           <xs:all>

            <xs:element name="name" type="xs:string"/>
  	    	<xs:element name="email" type="xs:string"/>
			<xs:element name="address" type="xs:string"/>
           </xs:all>
           </xs:complexType>
           
           <xs:complexType name="ParamType">
           		<xs:sequence>
           		<xs:element minOccurs="1" maxOccurs="unbounded" name="param" type="tns:NationalityType" />
				<xs:element minOccurs="0" name="paramC" type="xs:ENTITY" />
				<xs:element minOccurs="0" name="paramD" type="xs:language" />
				 <xs:element minOccurs="0" name="paramE" type="xs:Name" />
				 <xs:element minOccurs="0" name="paramF" type="xs:NCName" />
				 <xs:element minOccurs="0" name="paramG" type="xs:negativeInteger" />
				 <xs:element minOccurs="0" name="paramH" type="xs:nonNegativeInteger" />
				 <xs:element minOccurs="0" name="paramI" type="xs:nonPositiveInteger" />
				 <xs:element minOccurs="0" name="paramJ" type="xs:normalizedString" />
				 <xs:element minOccurs="0" name="paramK" type="xs:positiveInteger" />
				 <xs:element minOccurs="0" name="paramL" type="xs:unsignedByte" />
				<xs:element minOccurs="0" name="paramM" type="xs:unsignedInt" />
				<xs:element minOccurs="0" name="paramN" type="xs:unsignedLong" />
				<xs:element minOccurs="0" name="paramO" type="xs:unsignedShort" />
				<xs:element name="paramB" type="xs:ENTITIES" />
				
				</xs:sequence>
				</xs:complexType>
				
				<!-- <xs:complexType name="ParamType1">
           		<xs:sequence>
           		<xs:element minOccurs="0" name="param1" type="xs:string" />
           		<xs:element minOccurs="0" name="param2" type="xs:string" />
           		<xs:element minOccurs="0" name="param3" type="xs:string" />
           		<xs:element minOccurs="0" name="param4" type="xs:string" />
           		</xs:sequence>
           		</xs:complexType> -->
				
           

               
           
  <xs:element name="test" type="tns:NationalityType"></xs:element>         
  <xs:element name="test1" type="tns:ParamType"></xs:element>  
        
           
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="add">
        <wsdl:part name="add" element="tns:test"/>
    </wsdl:message>
    <wsdl:message name="addResponse">
        <wsdl:part name="addResponse" element="tns:test1"/>
    </wsdl:message>
    <wsdl:portType name="Calculator">
        <wsdl:operation name="add">
            <wsdl:input name="add" message="tns:add"/>
            <wsdl:output name="addResponse" message="tns:addResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="CalculatorSoapBinding" type="tns:Calculator">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="add">
            <soap:operation soapAction="add" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="CalculatorService">
        <wsdl:port name="Calculator" binding="tns:CalculatorSoapBinding">
            <soap:address location="http://localhost:8080/calculator"/>
            <wswa:UsingAddressing xmlns:wswa="http://www.w3.org/2005/08/addressing/wsdl"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
