codegen/codegen-tools/src/test/resources/org/ebayopensource/turmeric/test/tools/codegen/data/protobuf/TestTypes.wsdl

<wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema"
                  xmlns:tns="http://codegen.tools.soaframework.test.ebayopensource.org"
                  targetNamespace="http://codegen.tools.soaframework.test.ebayopensource.org"
                  name="Calculator">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
                    xmlns="http://codegen.tools.soaframework.test.ebayopensource.org"
                    targetNamespace="http://codegen.tools.soaframework.test.ebayopensource.org"
                    attributeFormDefault="unqualified"
                    elementFormDefault="qualified">
                    
         <xs:simpleType name="timeValueType">
  <xs:restriction base="xs:token">
    <xs:pattern value="\d{2}:\d{2}"/>
  </xs:restriction>
</xs:simpleType>
<xs:complexType name="test1">
<xs:sequence>

<xs:element name="test2" type="xs:string"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="timeType">
  <xs:complexContent>
    <xs:extension base="tns:test1">
    <xs:sequence>
    <xs:element name="sometype">
				    <xs:complexType>
				    
				    <xs:sequence>
				    <xs:element name="test" type="xs:string"/>
				    </xs:sequence>
				    </xs:complexType>
    </xs:element>
    
    </xs:sequence>
    </xs:extension>
  </xs:complexContent>
</xs:complexType>
     
           
  <xs:element name="test" type="tns:timeType"></xs:element>         
           
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="add">
        <wsdl:part name="add" element="tns:test"/>
    </wsdl:message>
    <wsdl:message name="addResponse">
        <wsdl:part name="addResponse" element="tns:test"/>
    </wsdl:message>
    <wsdl:portType name="Calculator">
        <wsdl:operation name="add">
            <wsdl:input name="add" message="tns:add"/>
            <wsdl:output name="addResponse" message="tns:addResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="CalculatorSoapBinding" type="tns:Calculator">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="add">
            <soap:operation soapAction="add" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="CalculatorService">
        <wsdl:port name="Calculator" binding="tns:CalculatorSoapBinding">
            <soap:address location="http://localhost:8080/calculator"/>
            <wswa:UsingAddressing xmlns:wswa="http://www.w3.org/2005/08/addressing/wsdl"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
