codegen/codegen-tools/src/test/resources/xsd/CategoryProduct.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://www.ebay.com/marketplace/services" elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.ebay.com/marketplace/services">
	<complexType name="CategoryProduct">
		<sequence>
			<element name="Price" type="string" minOccurs="0"/>
			<element name="Name" type="string" minOccurs="0"/>
		</sequence>
	</complexType>
</schema>
