codegen/codegen-tools/src/test/resources/xsd/TestXsd2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://www.ebay.com/soaframework/examples/config" elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:ons="http://www.ebay.com/soaframework/examples/config" xmlns:tns="http://www.ebay.com/soaframework/examples/config" version="1.2.3">
	
	<include schemaLocation="TestXsd1.xsd"></include>
	
	<complexType name="test2">
	<sequence>
	<choice minOccurs="1">
	<element name="first" type="string"></element>
	<element name="sec" type="tns:test1"></element>
	</choice>
	</sequence>
	</complexType>
	
</schema>
