codegen/codegen-tools/src/test/resources/org/ebayopensource/turmeric/test/tools/codegen/data/proto/AdBillingService_for_tags.wsdl

<?xml version="1.0" encoding="UTF-8"?><definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://www.ebayopensource.org/tumeric/billingadcommerce/v1/services" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xs="http://www.w3.org/2001/XMLSchema" name="AdBillingService" targetNamespace="http://www.ebayopensource.org/tumeric/billingadcommerce/v1/services">
 <types> 
    <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.ebayopensource.org/tumeric/billingadcommerce/v1/services">

     <!-- CORE TYPES -->

     <xs:simpleType name="AckValue">
       <xs:annotation>
         <xs:documentation>
             Indicates whether the error is a severe error
             (causing the request to fail) or an
             informational error (a warning) that should be
             communicated to the user.
         </xs:documentation>
         <xs:appinfo>
           <typeLibrarySource library="common-type-library" namespace="http://www.ebayopensource.org/tumeric/services"/>
         </xs:appinfo>
       </xs:annotation>
       <xs:restriction base="xs:string">
         <xs:enumeration value="Success">
           <xs:annotation>
             <xs:documentation>
               The request was processed successfully,
               but something occurred that may affect
               your application or the user.
             </xs:documentation>
           </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="Failure">
           <xs:annotation>
             <xs:documentation>
               The request that triggered the error was
               not processed successfully. When a
               serious application-level error occurs,
               the error is returned instead of the
               business data.
             </xs:documentation>
           </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="Warning">
           <xs:annotation>
             <xs:documentation>
                The request that triggered the error was
                processed successfully but with some
                warnings.
             </xs:documentation>
           </xs:annotation>
         </xs:enumeration>
         <xs:enumeration value="PartialFailure">
           <xs:annotation>
             <xs:documentation>
                 The request that triggered the error was
                 processed successfully but with some
                 warnings.
             </xs:documentation>
           </xs:annotation>
         </xs:enumeration>
       </xs:restriction>
     </xs:simpleType>

     <xs:complexType abstract="true" name="BaseServiceRequest">
       <xs:annotation>
         <xs:documentation>
           This is the base class for request container for
           all service operations.
         </xs:documentation>
         <xs:appinfo>
            <typeLibrarySource library="common-type-library" namespace="http://www.ebayopensource.org/tumeric/services"/>
         </xs:appinfo>
       </xs:annotation>
       <xs:sequence>

       </xs:sequence>
     </xs:complexType>

     <xs:complexType abstract="true" name="BaseServiceResponse">
     <xs:annotation>
       <xs:documentation>
          Base response container for all service
          operations. Contains error information
          associated with the request.
       </xs:documentation>
         <xs:appinfo>
           <typeLibrarySource library="common-type-library" namespace="http://www.ebayopensource.org/tumeric/services"/>
         </xs:appinfo>
       </xs:annotation>
       <xs:sequence>
         <xs:element name="ack" type="tns:AckValue">
           <xs:annotation>
             <xs:documentation/>
             <xs:appinfo>
               <CallInfo>
                 <AllCalls/>
                 <Returned>Always</Returned>
               </CallInfo>
             </xs:appinfo>
           </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="errorMessage" type="tns:ErrorMessage">
           <xs:annotation>
             <xs:documentation>
               Information for an error or warning that
               occurred when eBay processed the
               request.
             </xs:documentation>
             <xs:appinfo>
               <CallInfo>
                 <AllCalls/>
                 <Returned>Conditionally</Returned>
               </CallInfo>
             </xs:appinfo>
           </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="version" type="xs:string">
           <xs:annotation>
             <xs:documentation/>
             <xs:appinfo>
               <CallInfo>
                 <AllCalls/>
                 <Returned>Always</Returned>
               </CallInfo>
             </xs:appinfo>
           </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="timestamp" type="xs:dateTime">
           <xs:annotation>
             <xs:documentation/>
             <xs:appinfo>
               <CallInfo>
                 <AllCalls/>
                 <Returned>Always</Returned>
               </CallInfo>
             </xs:appinfo>
           </xs:annotation>
         </xs:element>

         </xs:sequence>
        </xs:complexType>

        <xs:simpleType name="ErrorCategory">
          <xs:annotation>
            <xs:documentation>
              Documentation goes here.
            </xs:documentation>
            <xs:appinfo>
              <typeLibrarySource library="common-type-library" namespace="http://www.ebayopensource.org/tumeric/services"/>
            </xs:appinfo>
          </xs:annotation>
          <xs:restriction base="xs:token">
            <xs:enumeration value="System"/>
            <xs:enumeration value="Application"/>
            <xs:enumeration value="Request"/>
          </xs:restriction>
        </xs:simpleType>

        <xs:complexType name="ErrorData">
          <xs:annotation>
            <xs:documentation>
              Documentation goes here
            </xs:documentation>
            <xs:appinfo>
              <typeLibrarySource library="common-type-library" namespace="http://www.ebayopensource.org/tumeric/services"/>
            </xs:appinfo>
          </xs:annotation>
          <xs:sequence>
            <xs:element name="errorId" type="xs:long"/>
            <xs:element name="domain" type="xs:string"/>
            <xs:element minOccurs="0" name="subdomain" type="xs:string"/>
            <xs:element name="severity" type="tns:ErrorSeverity"/>
            <xs:element name="category" type="tns:ErrorCategory"/>
            <xs:element name="message" type="xs:string"/>
            <xs:element minOccurs="0" name="exceptionId" type="xs:token"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="parameter" type="tns:ErrorParameter"/>
	      </xs:sequence>
        </xs:complexType>

        <xs:complexType name="ErrorMessage">
          <xs:annotation>
            <xs:documentation>
              Documentation goes here
            </xs:documentation>
            <xs:appinfo>
              <typeLibrarySource library="common-type-library" namespace="http://www.ebayopensource.org/tumeric/services"/>
            </xs:appinfo>
          </xs:annotation>
          <!-- 
          <xs:sequence>

          </xs:sequence>
           -->
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="error" type="tns:ErrorData"/>
          </xs:sequence>
        </xs:complexType>

        <xs:complexType name="ErrorParameter">
          <xs:annotation>
            <xs:documentation>
               Documentation goes here
            </xs:documentation>
            <xs:appinfo>
            <typeLibrarySource library="common-type-library" namespace="http://www.ebayopensource.org/tumeric/services"/>
            </xs:appinfo>
          </xs:annotation>
          <xs:simpleContent>
            <xs:extension base="xs:string">
              <xs:attribute name="name" type="xs:string" use="optional"/>
            </xs:extension>
          </xs:simpleContent>
        </xs:complexType>
			
        <xs:simpleType name="ErrorSeverity">
          <xs:annotation>
            <xs:documentation>
              Documentation goes here.
            </xs:documentation>
            <xs:appinfo>
              <typeLibrarySource library="common-type-library" namespace="http://www.ebayopensource.org/tumeric/services"/>
            </xs:appinfo>
          </xs:annotation>
          <xs:restriction base="xs:token">
            <xs:enumeration value="Error"/>
            <xs:enumeration value="Warning"/>
          </xs:restriction>
        </xs:simpleType>
        
        <!-- WSDL LOCAL TYPES -->

        <xs:element name="applyUsageChargeRequest" type="tns:ApplyUsageChargeRequest"/>
        
        <xs:complexType name="ApplyUsageChargeRequest">
          <xs:annotation>
            <xs:documentation>
               Document goes here
            </xs:documentation>
          </xs:annotation>
          <xs:complexContent>
            <xs:extension base="tns:BaseBatchRequestType">
              <xs:sequence>
                <xs:element maxOccurs="unbounded" minOccurs="1" name="usageCharge" type="tns:UsageChargeType"/>
              </xs:sequence>
            </xs:extension>
          </xs:complexContent>
        </xs:complexType>

        <xs:element name="applyUsageChargeResponse" type="tns:ApplyUsageChargeResponse"/>

        <xs:complexType name="ApplyUsageChargeResponse">
          <xs:annotation>
            <xs:documentation>
              Document goes here
            </xs:documentation>
          </xs:annotation>
          <xs:complexContent>
            <xs:extension base="tns:BaseBatchResponseType">
              <xs:sequence>
                <xs:element maxOccurs="unbounded" minOccurs="1" name="usageChargeResponse" type="tns:UsageChargeResponseType"/>
              </xs:sequence>
            </xs:extension>
          </xs:complexContent>
       </xs:complexType>


       <xs:complexType name="UsageChargeType">
         <xs:annotation>
            <xs:documentation>
              The element that represents, one single fee transaction that is sent to the billing system.
            </xs:documentation>
         </xs:annotation>
         <xs:complexContent>
           <xs:extension base="tns:BaseRequestType">
           <xs:sequence>

             <xs:element name="chargeId" type="xs:string">
               <xs:annotation>
                 <xs:documentation>
                     Charge Identifier. This
                     uniquely identifies a charge
                     transaction in the client's
                     section.
                 </xs:documentation>
               </xs:annotation>
             </xs:element>

             <xs:element name="chargeContextId" type="xs:string">
               <xs:annotation>
                 <xs:documentation>
                    Context of the Charge
                    Identifier. This uniquely
                    identifies where the charge was
                    generated, and in what context.
                    This can be any kind of grouping
                    id, with which the charge is
                    associated.
                 </xs:documentation>
               </xs:annotation>
             </xs:element>

             <xs:element minOccurs="1" name="chargeType" type="xs:int">
               <xs:annotation>
                  <xs:documentation>
                        Identifier for a type of
                       charge. This will be the action
                       code defined by the Billing
                       system, and published per
                       client.
                  </xs:documentation>
               </xs:annotation>
             </xs:element>

             <xs:element minOccurs="1" name="taxPolicyId" type="xs:int">
               <xs:annotation>
                 <xs:documentation>
                    Site where the charge
                    originated. Also referred as
                    Provider identifier, and is
                    client specific value, pre
                    configured in the billing
                    system.
                 </xs:documentation>
               </xs:annotation>
             </xs:element>

             <xs:element minOccurs="1" name="pricingPolicyId" type="xs:int">
               <xs:annotation>
                 <xs:documentation>
                     Category of the charge.
                    This is pre-configured for client
                    in the billing system.
                 </xs:documentation>
               </xs:annotation>
             </xs:element>

             <xs:element name="chargeDate" type="xs:dateTime">
               <xs:annotation>
                 <xs:documentation>
                     Date when the charge was
                    created.
                 </xs:documentation>
               </xs:annotation>
             </xs:element>

             <xs:element name="chargeAmount" type="tns:Money">
               <xs:annotation>
                 <xs:documentation>
                      Amount and the currency
                     associated with it the charge.
                 </xs:documentation>
               </xs:annotation>
             </xs:element>

             <xs:element minOccurs="0" name="memo" type="xs:string">
               <xs:annotation>
                 <xs:documentation>
                      Any additional text
                     description associated with the
                     charge. But not the title.
                 </xs:documentation>
               </xs:annotation>
             </xs:element>

           </xs:sequence>
         </xs:extension>
       </xs:complexContent>
     </xs:complexType>


     <xs:complexType name="UsageChargeResponseType">
       <xs:complexContent>
         <xs:extension base="tns:BaseResponseType">
           <xs:sequence>
             <xs:element minOccurs="0" name="referenceId" type="xs:string">
               <xs:annotation>
                 <xs:documentation>
                    Reference identifier. This is an
                    optional element, that will be
                    returned by the service, per
                    tenant/client basis. If the
                    charge identifier is generated
                    by the service, and not the
                    client, this field will be
                    populated optionally.
                 </xs:documentation>
               </xs:annotation>
             </xs:element>
           </xs:sequence>
         </xs:extension>
       </xs:complexContent>
     </xs:complexType>


     <!-- Added UsageCredit wsdl local types by suvemuri --> 	

       <xs:element name="applyUsageCreditRequest" type="tns:ApplyUsageCreditRequest"/>
        
        <xs:complexType name="ApplyUsageCreditRequest">
          <xs:annotation>
            <xs:documentation>
               Document goes here
            </xs:documentation>
          </xs:annotation>
          <xs:complexContent>
            <xs:extension base="tns:BaseBatchRequestType">
              <xs:sequence>
                <xs:element maxOccurs="unbounded" minOccurs="1" name="usageCredit" type="tns:UsageCreditType"/>
              </xs:sequence>
            </xs:extension>
          </xs:complexContent>
        </xs:complexType>

        <xs:element name="applyUsageCreditResponse" type="tns:ApplyUsageCreditResponse"/>

        <xs:complexType name="ApplyUsageCreditResponse">
          <xs:annotation>
            <xs:documentation>
              Document goes here
            </xs:documentation>
          </xs:annotation>
          <xs:complexContent>
            <xs:extension base="tns:BaseBatchResponseType">
              <xs:sequence>
                <xs:element maxOccurs="unbounded" minOccurs="1" name="usageCreditResponse" type="tns:UsageCreditResponseType"/>
              </xs:sequence>
            </xs:extension>
          </xs:complexContent>
       </xs:complexType>
       

       <xs:complexType name="UsageCreditType">
         <xs:annotation>
            <xs:documentation>
              The element that represents, one single fee credit transaction that is sent to the billing system.
            </xs:documentation>
         </xs:annotation>
         <xs:complexContent>
           <xs:extension base="tns:BaseRequestType">
           <xs:sequence>

             <xs:element minOccurs="1" name="chargeId" type="xs:string">
               <xs:annotation>
                 <xs:documentation>
                     Credit Identifier. This 
                     uniquely identifies a charge
                     transaction in the client's
                     section.
                 </xs:documentation>
               </xs:annotation>
             </xs:element>

             <xs:element minOccurs="0" name="chargeContextId" type="xs:string">
               <xs:annotation>
                 <xs:documentation>
                    Context of the Credit
                    Identifier. This uniquely
                    identifies where the credit was
                    generated, and in what context.
                    This can be any kind of grouping
                    id, with which the credit is
                    associated.
                 </xs:documentation>
               </xs:annotation>
             </xs:element>

             <xs:element minOccurs="1" name="reasonCode" type="xs:int">
               <xs:annotation>
                 <xs:documentation>
                    Pre-defined reason code, 
                    establishing the reason 
                    for the credit.
                 </xs:documentation>
               </xs:annotation>
             </xs:element>

             <xs:element name="creditDate" type="xs:dateTime">
               <xs:annotation>
                 <xs:documentation>
                     Date on which the charge was 
                     generated on the client system.
                 </xs:documentation>
               </xs:annotation>
             </xs:element>

             <xs:element name="creditAmount" type="tns:Money">
               <xs:annotation>
                 <xs:documentation>
                      Amount of the charge in the 
                      relevant currency. The currency 
                      is an attribute, and follows the 
                      ISO 4217 standards.
                 </xs:documentation>
               </xs:annotation>
             </xs:element>
             
             <xs:element minOccurs="0" name="submitterName" type="xs:string">
               <xs:annotation>
                 <xs:documentation>
                     Id of the CSR submitting the request
                 </xs:documentation>
               </xs:annotation>
             </xs:element>
             

             <xs:element minOccurs="0" name="memo" type="xs:string">
               <xs:annotation>
                 <xs:documentation>
                     Any additional text
                     description associated with the
                     credit. But not the title.
                 </xs:documentation>
               </xs:annotation>
             </xs:element>

           </xs:sequence>
         </xs:extension>
       </xs:complexContent>
     </xs:complexType>          

     <xs:complexType name="UsageCreditResponseType">                           
       <xs:complexContent>
         <xs:extension base="tns:BaseResponseType">
              <xs:element minOccurs="1" name="creditAmountIssued" type="tns:Money">
				<xs:annotation>
			        	<xs:documentation>
			                    This is the Credit Amount Issued. 
			                    It is possible to be less than 
			                    creditRequested.
			            </xs:documentation>
			    </xs:annotation>
             </xs:element>                        
         </xs:extension>
       </xs:complexContent>
     </xs:complexType>

       
     <!-- End of UsageCredit wsdl local types --> 
	
     <!--  BILLING DOMAIN TYPE LIBRARY - tns TYPES -->

     <xs:complexType name="AccountIdType">
       <xs:annotation>
        <xs:documentation/>
          <xs:appinfo>
            <typeLibrarySource library="common-type-library" namespace="http://www.ebayopensource.org/tumeric/billing/v1/services">
            </typeLibrarySource>
          </xs:appinfo>
       </xs:annotation>
       <xs:sequence>
         <xs:element name="clientId" type="xs:string">  </xs:element>
         <xs:element name="accountId" type="xs:string">  </xs:element>
         <xs:element name="accountSuffixId" type="xs:string">  </xs:element>
       </xs:sequence>
     </xs:complexType>
     
        <xs:complexType name="RequestHeaderType">
          <xs:annotation>
            <xs:documentation/>
            <xs:appinfo>
               <typeLibrarySource library="common-type-library" namespace="http://www.ebayopensource.org/tumeric/billing/v1/services">
               </typeLibrarySource>
            </xs:appinfo>
          </xs:annotation>
          <xs:sequence>
            <xs:element name="requestId" type="xs:string">  </xs:element>
            <xs:element name="requestTime" type="xs:dateTime"/>
          </xs:sequence>
        </xs:complexType>

        <xs:complexType name="ResponseHeaderType">
          <xs:annotation>
            <xs:documentation/>
            <xs:appinfo>
              <typeLibrarySource library="common-type-library" namespace="http://www.ebayopensource.org/tumeric/billing/v1/services">
              </typeLibrarySource>
            </xs:appinfo>
          </xs:annotation>
          <xs:sequence>
            <xs:element name="requestId" type="xs:string">                 </xs:element>
          </xs:sequence>
        </xs:complexType>

        <xs:complexType name="BaseRequestType">
          <xs:complexContent>
            <xs:extension base="tns:BaseServiceRequest">
            <xs:annotation>
              <xs:documentation/>
                <xs:appinfo>
                  <typeLibrarySource library="common-type-library" namespace="http://www.ebayopensource.org/tumeric/billing/v1/services">
                  </typeLibrarySource>
                </xs:appinfo>
              </xs:annotation>
              <xs:sequence>
                <xs:element name="requestHeader" type="tns:RequestHeaderType"> </xs:element>
                <xs:element name="accountId" type="tns:AccountIdType">     </xs:element>
              </xs:sequence>
            </xs:extension>
          </xs:complexContent>
        </xs:complexType>

        <xs:complexType name="BaseResponseType">
          <xs:complexContent>
            <xs:extension base="tns:BaseServiceResponse">
              <xs:annotation>
                <xs:documentation/>
                <xs:appinfo>
                  <typeLibrarySource library="common-type-library" namespace="http://www.ebayopensource.org/tumeric/billing/v1/services">
                  </typeLibrarySource>
                </xs:appinfo>
              </xs:annotation>
              <xs:sequence>
                <xs:element name="responseHeader" type="tns:ResponseHeaderType"> </xs:element>
              </xs:sequence>
           </xs:extension>
          </xs:complexContent>
        </xs:complexType>
        
        <xs:complexType name="BaseBatchRequestType">
          <xs:annotation>
            <xs:documentation/>
              <xs:appinfo>
                <typeLibrarySource library="common-type-library" namespace="http://www.ebayopensource.org/tumeric/billing/v1/services">
                </typeLibrarySource>
              </xs:appinfo>
          </xs:annotation>
           <xs:sequence>
              <xs:element minOccurs="0" name="batchId" type="xs:string">    </xs:element>                
           </xs:sequence>
        </xs:complexType>
        
        <xs:complexType name="BaseBatchResponseType">
          <xs:annotation>
          <xs:documentation/>
            <xs:appinfo>
              <typeLibrarySource library="common-type-library" namespace="http://www.ebayopensource.org/tumeric/billing/v1/services">
              </typeLibrarySource>
		    </xs:appinfo>
		  </xs:annotation>
       </xs:complexType>

       <!-- xs:complexType name="Amount">
         <xs:annotation>
           <xs:appinfo>
             <typeLibrarySource
                library="MarketPlaceServiceCommonTypeLibrary"
                namespace="http://www.ebay.com/marketplace/services">
             </typeLibrarySource>
           </xs:appinfo>
         </xs:annotation>
         <xs:simpleContent>
           <xs:extension base="xs:double">
             <xs:attribute name="currencyId" type="xs:string" use="required"> </xs:attribute>
           </xs:extension>
         </xs:simpleContent>
       </xs:complexType-->
       
       <xs:element name="getVersionResponse" type="tns:GetVersionResponse"/>
       
       <xs:complexType name="GetVersionResponse">
          <xs:complexContent>
            <xs:extension base="tns:BaseServiceResponse">
              <xs:annotation>
                <xs:documentation/>
                <xs:appinfo>
                </xs:appinfo>
              </xs:annotation>
           </xs:extension>
          </xs:complexContent>
       </xs:complexType>


      <xs:simpleType name="IsoCurrencyCode">
				<xs:annotation>
					<xs:documentation>
						Currency representation based on ISO 4217
						Standard:
						http://www.iso.org/iso/currency_codes_list-1
						Every currency has the following attributs:
						Numeric Code - 3 Digits Zero Padded Numeric
						Code, which uniquely identifies a currency.
						Alphabetic Code - 3 Letter Alphabetic Code,
						which uniquely identifies a currency. Currency -
						The name of the currency Antity - The
						country/Entity, which uses this currency.

						This type exposes only a sub-set of ISO 4217.
						The enumeration represents the Alphabetic Code.
						Comments are included for quick reference.
					</xs:documentation>
					<xs:appinfo>
						<typeLibrarySource library="common-type-library" namespace="http://www.ebayopensource.org/tumeric/services">
						</typeLibrarySource>
					</xs:appinfo>
				</xs:annotation>

				<xs:restriction base="xs:token"><!-- Currency,                         Entity                          ISO Currency Code -->
					<xs:enumeration value="USD"/>
					<!-- U.S. Dollar                       United States                   840               -->
					<xs:enumeration value="CAD"/>
					<!-- Canadian Dollar                   Canada                          124               -->
					<xs:enumeration value="GBP"/>
					<!-- Pound Sterling                    United Kingdom                  826               -->
					<xs:enumeration value="DEM"/>
					<!-- German Mark                       Germany                         276               -->
					<xs:enumeration value="AUD"/>
					<!-- Australian Dollar                 Australia                       036               -->
					<xs:enumeration value="JPY"/>
					<!-- Japanese Yen                      Japanese Yen                    392               -->
					<xs:enumeration value="EUR"/>
					<!-- Euro                              European Union                  978               -->
					<xs:enumeration value="FRF"/>
					<!-- French Franc                      France                          250               -->
					<xs:enumeration value="ATS"/>
					<!-- Austrian Schilling                Austria                         040               -->
					<xs:enumeration value="BEF"/>
					<!-- Belgian Franc                     Belgium                         056               -->
					<xs:enumeration value="CHF"/>
					<!-- Swiss Franc                       Switzerland                     756               -->
					<xs:enumeration value="CNY"/>
					<!-- Chinese Yuan Renminbi             China                           156               -->
					<xs:enumeration value="CZK"/>
					<!-- Czech Koruna                      Czech Republic                  203               -->
					<xs:enumeration value="DKK"/>
					<!-- Danish Krone                      Denmark                         208               -->
					<xs:enumeration value="ESP"/>
					<!-- Spanish Peseta                    Spain                           724               -->
					<xs:enumeration value="FIM"/>
					<!-- Finnish Markka                    Finland                         246               -->
					<xs:enumeration value="GRD"/>
					<!-- Greek Drachma                     Greece                          300               -->
					<xs:enumeration value="HKD"/>
					<!-- Hong Kong Dollar                  Hong Kong                       344               -->
					<xs:enumeration value="HUF"/>
					<!-- Hungarian Forint                  Hungary                         348               -->
					<xs:enumeration value="IDR"/>
					<!-- Indonesian Rupiah                 Indonesia                       360               -->
					<xs:enumeration value="IEP"/>
					<!-- Irish Pound                       Ireland                         372               -->
					<xs:enumeration value="ILS"/>
					<!-- Israeli new Shekel                Israel                          376               -->
					<xs:enumeration value="ITL"/>
					<!-- Italian Lira                      Italy                           380               -->
					<xs:enumeration value="NLG"/>
					<!-- Dutch Guilder                     Netherlands                     528               -->
					<xs:enumeration value="NOK"/>
					<!-- Norwegian Krone                   Norway                          578               -->
					<xs:enumeration value="NZD"/>
					<!-- New Zealand Dollar                New Zealand                     554               -->
					<xs:enumeration value="PHP"/>
					<!-- Philippine Peso                   Philippines                     608               -->
					<xs:enumeration value="PLN"/>
					<!-- Polish New Zloty                  Poland                          985               -->
					<xs:enumeration value="PTE"/>
					<!-- Portuguese Escudo                 Portugal                        620               -->
					<xs:enumeration value="RUR"/>
					<!-- Russian Ruble                     Russian Federation              810               -->
					<xs:enumeration value="SEK"/>
					<!-- Swedish Krona                     Sweden                          752               -->
					<xs:enumeration value="SGD"/>
					<!-- Singapore Dollar                  Singapore                       702               -->
					<xs:enumeration value="THB"/>
					<!-- Thai Baht                         Thailand                        764               -->
					<xs:enumeration value="TWD"/>
					<!-- New Taiwan dollar                 Taiwan                          901               -->
					<xs:enumeration value="ZAR"/>
					<!-- South African Rand                South Africa                    710               -->
					<xs:enumeration value="INR"/>
					<!-- Indian Rupee                      India                           356               -->
					<xs:enumeration value="PEN"/>
					<!-- Peruvian New Sol                  Peru                            604               -->
					<xs:enumeration value="MYR"/>
					<!-- Malaysian Ringgit                 Malaysia                        458               -->
					<xs:enumeration value="VND"/>
					<!-- Vietnamese New Dong               Vietnam                         704               -->
					<xs:enumeration value="KRW"/>
					<!-- South Korean Won                  South Korea                     410               -->
					<xs:enumeration value="TRY"/>
					<!-- New Turkish Lira                  Turkey                          949               -->
					<xs:enumeration value="ANG"/>
					<!-- Antillian Guilder                 Netherlands Antilles            532               -->
					<xs:enumeration value="AWG"/>
					<!-- Aruban Guilder                    Aruba                           533               -->
					<xs:enumeration value="BMD"/>
					<!-- Bermudan Dollar                   Bermudan Dollar                 060               -->
					<xs:enumeration value="CRC"/>
					<!-- Costa Rican Colon                 Costa Rica                      188               -->
					<xs:enumeration value="RON"/>
					<!-- Romanian New Leu                  Romania                         946               -->
					<xs:enumeration value="VEF"/>
					<!-- Venezuelan Bolivar Fuerte         Venezuela                       937               -->
					<xs:enumeration value="BBD"/>
					<!-- Barbados Dollar                   Barbados                        052               -->
					<xs:enumeration value="BGN"/>
					<!-- Bulgarian Lev                     Bulgaria                        975               -->
					<xs:enumeration value="BND"/>
					<!-- Brunei Dollar                     Brunei                          096               -->
					<xs:enumeration value="BSD"/>
					<!-- Bahamian Dollar                   Bahamas                         044               -->
					<xs:enumeration value="COP"/>
					<!-- Colombian Peso                    Columbia                        170               -->
					<xs:enumeration value="DOP"/>
					<!-- Dominican Peso                    Dominican Republic              214               -->
					<xs:enumeration value="GTQ"/>
					<!-- Guatemalan Quetzal                Guatemala                       320               -->
					<xs:enumeration value="KYD"/>
					<!-- Cayman Isles Dollar               Cayman Islands                  136               -->
					<xs:enumeration value="MVR"/>
					<!-- Maldivian Rufiyaa                 Maldives                        462               -->
					<xs:enumeration value="QAR"/>
					<!-- Qatari Rial                       Qatar                           634               -->
					<xs:enumeration value="SAR"/>
					<!-- Saudi Riyal                       Saudi Arabia                    682               -->
					<xs:enumeration value="TTD"/>
					<!-- Trinidadian and Tobagonian Dollar Trinidad and Tobago             780               -->
					<xs:enumeration value="UAH"/>
					<!-- Ukrainian hryvnia                 Ukraine                         980               -->
					<xs:enumeration value="UYU"/>
					<!-- Peso Uruguayo                     Uruguay                         858               -->
					<xs:enumeration value="XCD"/>
					<!-- East Caribbean Dollar             East Caribbean Currency Area    951               -->
					<xs:enumeration value="XPF"/>
					<!-- French Polynesian Franc           French Polynesia                953               -->
					<xs:enumeration value="JMD"/>
					<!-- Jamaican Dollar                   Jamaica                         388               -->

				</xs:restriction>
         </xs:simpleType>

         <xs:complexType name="Money">
            <xs:annotation>
               <xs:documentation>
                   This type is used to represent Money. It should
                   be used by any WSDL, which needs to send/receive
                   Money information.
               </xs:documentation>
               <xs:appinfo>
                  <typeLibrarySource library="common-type-library" namespace="http://www.ebayopensource.org/tumeric/services">
                  </typeLibrarySource>
               </xs:appinfo>
            </xs:annotation>

            <xs:simpleContent>
               <xs:extension base="xs:decimal">
                  <xs:attribute name="currencyCode" type="tns:IsoCurrencyCode" use="required">
                  </xs:attribute>
               </xs:extension>
            </xs:simpleContent>
         </xs:complexType>      
       
    </xs:schema>
  </types>
  <message name="applyUsageCreditResponse">
    <part element="tns:applyUsageCreditResponse" name="params">
    </part>
  </message>
  <message name="applyUsageChargeResponse">
    <part element="tns:applyUsageChargeResponse" name="params">
    </part>
  </message>
  <message name="applyUsageChargeRequest">
    <part element="tns:applyUsageChargeRequest" name="params">
    </part>
  </message>
  <message name="getVersionResponse">
    <part element="tns:getVersionResponse" name="params">
    </part>
  </message>
  <message name="applyUsageCreditRequest">
    <part element="tns:applyUsageCreditRequest" name="params">
    </part>
  </message>
  <portType name="AdBillingServicePort">
    <operation name="applyUsageCharge">
<wsdl:documentation>Applies a usage charge transaction to a billing account, in billable currency.</wsdl:documentation>
      <input message="tns:applyUsageChargeRequest">
    </input>
      <output message="tns:applyUsageChargeResponse">
    </output>
    </operation>
    <operation name="applyUsageCredit">
<wsdl:documentation>Applies a usage credit transaction to a billing account, in billable currency.</wsdl:documentation>
      <input message="tns:applyUsageCreditRequest">
    </input>
      <output message="tns:applyUsageCreditResponse">
    </output>
    </operation>
    <operation name="getVersion">
      <output message="tns:getVersionResponse">
    </output>
    </operation>
  </portType>
  <binding name="AdBillingServiceSOAPBinding" type="tns:AdBillingServicePort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="applyUsageCharge">
      <soap:operation soapAction="http://www.ebayopensource.org/tumeric/billingadcommerce/v1/services/applyUsageCharge"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="applyUsageCredit">
      <soap:operation soapAction="http://www.ebayopensource.org/tumeric/billingadcommerce/v1/services/applyUsageCredit"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getVersion">
      <soap:operation soapAction="http://www.ebayopensource.org/tumeric/billingadcommerce/v1/services/getVersion"/>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="AdBillingService">
<wsdl:documentation>
         <Version>1.0.0</Version>
         Ad Billing service handles an operation at a transaction level, on a given billing account.
         Its built to handle all kinds of operations, which adcommerce would expect for its billing needs.
      </wsdl:documentation>
    <port binding="tns:AdBillingServiceSOAPBinding" name="AdBillingServiceSOAPPort">
      <soap12:address location="https://svcs.ebay.com/services/billing/AdBillingService/v1"/>
    </port>
  </service>
</definitions>