codegen/codegen-tools/src/test/resources/org/ebayopensource/turmeric/test/tools/codegen/data/proto/AddressVerificationService_for_tags.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://www.ebayopensource.org/tumeric/shipping/v1/services" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xs="http://www.w3.org/2001/XMLSchema" name="AddressVerificationService" targetNamespace="http://www.ebayopensource.org/tumeric/shipping/v1/services">
	<wsdl:types>
		<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.ebayopensource.org/tumeric/shipping/v1/services">

			<xs:element name="verifyAddressRequest" type="tns:AddressVerificationServiceRequest"/>
			<xs:element name="verifyAddressResponse" type="tns:AddressVerificationServiceResponse"/>
			<xs:complexType name="AVRequestData">
				<xs:annotation>
					<xs:documentation/>
					<xs:appinfo>
						<typeLibrarySource library="common-type-library" namespace="http://www.ebayopensource.org/tumeric/shipping/v1/services">
						</typeLibrarySource>
					</xs:appinfo>
				</xs:annotation>
				<xs:sequence>
					<xs:element maxOccurs="1" minOccurs="0" name="correlationId" type="xs:string">
					</xs:element>
					<xs:element maxOccurs="1" minOccurs="1" name="contactInfo" type="tns:ContactInfo">
					</xs:element>
					<xs:element maxOccurs="1" minOccurs="0" name="addressType" type="tns:AddressType">
					</xs:element>
				</xs:sequence>
			</xs:complexType>
			<xs:simpleType name="AddressType">
				<xs:annotation>
					<xs:documentation>
						RESIDENTIAL,COMMERCIAL,UNKNOWN - Default
					</xs:documentation>
					<xs:appinfo>
						<typeLibrarySource library="common-type-library" namespace="http://www.ebayopensource.org/tumeric/shipping/v1/services">
						</typeLibrarySource>
					</xs:appinfo>
				</xs:annotation>
				<xs:restriction base="xs:token"/>
			</xs:simpleType>
			<xs:complexType name="AddressVerificationServiceRequest">
				<xs:annotation>
					<xs:documentation>
						Address Verification specify list of address,
						token and kind of AddressValidation
					</xs:documentation>
					<xs:appinfo>
						<typeLibrarySource library="common-type-library" namespace="http://www.ebayopensource.org/tumeric/shipping/v1/services">
						</typeLibrarySource>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexContent>
					<xs:extension base="tns:BaseServiceRequest">
						<xs:sequence>
							<xs:element maxOccurs="2" minOccurs="1" name="avRequestData" type="tns:AVRequestData">
							</xs:element>
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:complexType abstract="true" name="BaseServiceRequest">
				<xs:annotation>
					<xs:documentation>
						This is the base class for request container for
						all service operations.
					</xs:documentation>
					<xs:appinfo>
						<typeLibrarySource library="common-type-library" namespace="http://www.ebayopensource.org/tumeric/services">
						</typeLibrarySource>
					</xs:appinfo>
				</xs:annotation>
				<xs:sequence>

						processContents="lax"&gt;

				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="ContactAddress">
				<xs:annotation>
					<xs:documentation>
						Postal mail address
					</xs:documentation>
					<xs:appinfo>
						<typeLibrarySource library="common-type-library" namespace="http://www.ebayopensource.org/tumeric/shipping/v1/services">
						</typeLibrarySource>
					</xs:appinfo>
				</xs:annotation>
				<xs:sequence>
					<xs:element maxOccurs="1" minOccurs="0" name="addressLine1" type="xs:string">
					</xs:element>
					<xs:element maxOccurs="1" minOccurs="0" name="addressLine2" type="xs:string">
					</xs:element>
					<xs:element maxOccurs="1" minOccurs="0" name="addressLine3" type="xs:string">
					</xs:element>
					<xs:element maxOccurs="1" minOccurs="0" name="suiteOrApt" type="xs:string">
					</xs:element>
					<xs:element maxOccurs="1" minOccurs="0" name="city" type="xs:string">
					</xs:element>
					<xs:element maxOccurs="1" minOccurs="0" name="stateOrProvince" type="xs:string">
					</xs:element>
					<xs:element maxOccurs="1" minOccurs="0" name="postalCode" type="xs:string">
					</xs:element>
					<xs:element maxOccurs="1" minOccurs="0" name="additionalPostalCode" type="xs:string">
					</xs:element>
					<xs:element maxOccurs="1" minOccurs="1" name="country" type="xs:string">
					</xs:element>
					<xs:element maxOccurs="1" minOccurs="0" name="urbancode" type="xs:string">
					</xs:element>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="ContactInfo">
				<xs:annotation>
					<xs:documentation>
						Detailed Contact information - Contact name,
						address and phone number
					</xs:documentation>
					<xs:appinfo>
						<typeLibrarySource library="common-type-library" namespace="http://www.ebayopensource.org/tumeric/shipping/v1/services">
						</typeLibrarySource>
					</xs:appinfo>
				</xs:annotation>
				<xs:sequence>
					<xs:element maxOccurs="1" minOccurs="0" name="firstName" type="xs:string">
					</xs:element>
					<xs:element maxOccurs="1" minOccurs="0" name="middleName" type="xs:string">
					</xs:element>
					<xs:element maxOccurs="1" minOccurs="0" name="lastName" type="xs:string">
					</xs:element>
					<xs:element maxOccurs="1" minOccurs="1" name="contactAddress" type="tns:ContactAddress">
					</xs:element>
					<xs:element maxOccurs="1" minOccurs="0" name="companyName" type="xs:string">
					</xs:element>
					<xs:element maxOccurs="1" minOccurs="0" name="phone" type="xs:string">
					</xs:element>
					<xs:element maxOccurs="1" minOccurs="0" name="extension" type="xs:string">
					</xs:element>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="AVResponseData">
				<xs:annotation>
					<xs:documentation>
						AVResponseData Contains corelationId - matches
						request corelationID. Includes
						VerifiedContactInfo, and Set of flags indicates
						what fields get updated. ErrorMessage shows
						error related to address verification.
					</xs:documentation>
					<xs:appinfo>
						<typeLibrarySource library="common-type-library" namespace="http://www.ebayopensource.org/tumeric/shipping/v1/services">
						</typeLibrarySource>
					</xs:appinfo>
				</xs:annotation>
				<xs:sequence>
					<xs:element maxOccurs="1" minOccurs="0" name="correlationId" type="xs:string">
					</xs:element>
					<xs:element maxOccurs="1" minOccurs="0" name="verifiedContactInfo" type="tns:ContactInfo">
					</xs:element>
					<xs:element maxOccurs="1" minOccurs="0" name="modifiedFields" type="tns:ModifiedFields">
					</xs:element>
					<xs:element maxOccurs="1" minOccurs="0" name="addressType" type="tns:AddressType">
					</xs:element>
					<xs:element maxOccurs="1" minOccurs="0" name="errorMessage" type="tns:ErrorMessage">
					</xs:element>
				</xs:sequence>
			</xs:complexType>
			<xs:simpleType name="AckValue">
				<xs:annotation>
					<xs:documentation>
						Indicates whether the error is a severe error
						(causing the request to fail) or an
						informational error (a warning) that should be
						communicated to the user.
					</xs:documentation>
					<xs:appinfo>
						<typeLibrarySource library="common-type-library" namespace="http://www.ebayopensource.org/tumeric/services">
						</typeLibrarySource>
					</xs:appinfo>
				</xs:annotation>
				<xs:restriction base="xs:string">

					<xs:enumeration value="Success">
						<xs:annotation>
							<xs:documentation>
								The request was processed successfully,
								but something occurred that may affect
								your application or the user.
							</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="Failure">
						<xs:annotation>

							<xs:documentation>
								The request that triggered the error was
								not processed successfully. When a
								serious application-level error occurs,
								the error is returned instead of the
								business data.
							</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="Warning">
						<xs:annotation>
							<xs:documentation>
								The request that triggered the error was
								processed successfully but with some
								warnings.
							</xs:documentation>

						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="PartialFailure">
						<xs:annotation>
							<xs:documentation>
								The request that triggered the error was
								processed successfully but with some
								warnings.
							</xs:documentation>
						</xs:annotation>
					</xs:enumeration>

				</xs:restriction>
			</xs:simpleType>
			<xs:complexType name="AddressVerificationServiceResponse">
				<xs:annotation>
					<xs:documentation/>
					<xs:appinfo>
						<typeLibrarySource library="common-type-library" namespace="http://www.ebayopensource.org/tumeric/shipping/v1/services">
						</typeLibrarySource>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexContent>
					<xs:extension base="tns:BaseServiceResponse">
						<xs:sequence>
							<xs:element maxOccurs="unbounded" minOccurs="0" name="verifiedAVResponseData" type="tns:AVResponseData">
							</xs:element>
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:complexType abstract="true" name="BaseServiceResponse">
				<xs:annotation>
					<xs:documentation>
						Base response container for all service
						operations. Contains error information
						associated with the request.
					</xs:documentation>
					<xs:appinfo>
						<typeLibrarySource library="common-type-library" namespace="http://www.ebayopensource.org/tumeric/services">
						</typeLibrarySource>
					</xs:appinfo>
				</xs:annotation>

				<xs:sequence>
					<xs:element name="ack" type="tns:AckValue">
						<xs:annotation>
							<xs:documentation>

							</xs:documentation>
							<xs:appinfo>
								<CallInfo>
									<AllCalls/>
									<Returned>Always</Returned>

								</CallInfo>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="errorMessage" type="tns:ErrorMessage">
						<xs:annotation>
							<xs:documentation>
								Information for an error or warning that
								occurred when eBay processed the
								request.
							</xs:documentation>

							<xs:appinfo>
								<CallInfo>
									<AllCalls/>
									<Returned>Conditionally</Returned>
								</CallInfo>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>

					<xs:element minOccurs="0" name="version" type="xs:string">
						<xs:annotation>
							<xs:documentation/>
							<xs:appinfo>
								<CallInfo>
									<AllCalls/>
									<Returned>Always</Returned>

								</CallInfo>
							</xs:appinfo>
						</xs:annotation>

					</xs:element>
					<xs:element minOccurs="0" name="timestamp" type="xs:dateTime">
						<xs:annotation>
							<xs:documentation/>

							<xs:appinfo>
								<CallInfo>
									<AllCalls/>
									<Returned>Always</Returned>
								</CallInfo>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>

						processContents="lax"&gt;

				</xs:sequence>
			</xs:complexType>
			<xs:simpleType name="ErrorCategory">
				<xs:annotation>
					<xs:documentation>
						Documentation goes here.
					</xs:documentation>
					<xs:appinfo>
						<typeLibrarySource library="common-type-library" namespace="http://www.ebayopensource.org/tumeric/services">
						</typeLibrarySource>
					</xs:appinfo>
				</xs:annotation>

				<xs:restriction base="xs:token">
					<xs:enumeration value="System"/>
					<xs:enumeration value="Application"/>
					<xs:enumeration value="Request"/>
				</xs:restriction>

			</xs:simpleType>
			<xs:complexType name="ErrorData">
				<xs:annotation>
					<xs:documentation>
						Documentation goes here
					</xs:documentation>

					<xs:appinfo>
						<typeLibrarySource library="common-type-library" namespace="http://www.ebayopensource.org/tumeric/services">
						</typeLibrarySource>
					</xs:appinfo>
				</xs:annotation>

				<xs:sequence>
					<xs:element name="errorId" type="xs:long"/>
					<xs:element name="domain" type="xs:string"/>
					<xs:element minOccurs="0" name="subdomain" type="xs:string">
					</xs:element>
					<xs:element name="severity" type="tns:ErrorSeverity">
					</xs:element>
					<xs:element name="category" type="tns:ErrorCategory">
					</xs:element>
					<xs:element name="message" type="xs:string"/>
					<xs:element minOccurs="0" name="exceptionId" type="xs:token">
					</xs:element>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="parameter" type="tns:ErrorParameter">
					</xs:element>
				</xs:sequence>


			</xs:complexType>
			<xs:complexType name="ErrorMessage">
				<xs:annotation>
					<xs:documentation>
						Documentation goes here
					</xs:documentation>

					<xs:appinfo>
						<typeLibrarySource library="common-type-library" namespace="http://www.ebayopensource.org/tumeric/services">
						</typeLibrarySource>
					</xs:appinfo>
				</xs:annotation>

				<!-- 
					<xs:sequence>

					processContents="lax" />
					</xs:sequence>
				-->

				<xs:sequence>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="error" type="tns:ErrorData">
					</xs:element>
				</xs:sequence>

			</xs:complexType>
			<xs:complexType name="ErrorParameter">
				<xs:annotation>
					<xs:documentation>
						Documentation goes here
					</xs:documentation>

					<xs:appinfo>
						<typeLibrarySource library="common-type-library" namespace="http://www.ebayopensource.org/tumeric/services">
						</typeLibrarySource>
					</xs:appinfo>
				</xs:annotation>

				<xs:simpleContent>
					<xs:extension base="xs:string">
						<xs:attribute name="name" type="xs:string" use="optional">
						</xs:attribute>
					</xs:extension>
				</xs:simpleContent>
			</xs:complexType>
			<xs:simpleType name="ErrorSeverity">
				<xs:annotation>
					<xs:documentation>
						Documentation goes here.
					</xs:documentation>
					<xs:appinfo>
						<typeLibrarySource library="common-type-library" namespace="http://www.ebayopensource.org/tumeric/services">
						</typeLibrarySource>
					</xs:appinfo>
				</xs:annotation>

				<xs:restriction base="xs:token">
					<xs:enumeration value="Error"/>
					<xs:enumeration value="Warning"/>
				</xs:restriction>

			</xs:simpleType>
			<xs:complexType name="ModifiedFields">
				<xs:annotation>
					<xs:documentation>
						Set of Field flags indicate If any specific
						field value get corrected
					</xs:documentation>
					<xs:appinfo>
						<typeLibrarySource library="common-type-library" namespace="http://www.ebayopensource.org/tumeric/shipping/v1/services">
						</typeLibrarySource>
					</xs:appinfo>
				</xs:annotation>
				<xs:sequence>
					<xs:element maxOccurs="1" minOccurs="0" name="contactNameChanged" type="xs:boolean">
					</xs:element>
					<xs:element maxOccurs="1" minOccurs="0" name="addressLine1Changed" type="xs:boolean">
					</xs:element>
					<xs:element maxOccurs="1" minOccurs="0" name="addressLine2Changed" type="xs:boolean">
					</xs:element>
					<xs:element maxOccurs="1" minOccurs="0" name="addressLine3Changed" type="xs:boolean">
					</xs:element>
					<xs:element maxOccurs="1" minOccurs="0" name="cityChanged" type="xs:boolean">
					</xs:element>
					<xs:element maxOccurs="1" minOccurs="0" name="stateChanged" type="xs:boolean">
					</xs:element>
					<xs:element maxOccurs="1" minOccurs="0" name="postalCodeChanged" type="xs:boolean">
					</xs:element>
					<xs:element maxOccurs="1" minOccurs="0" name="additionalPostalCodeChanged" type="xs:boolean">
					</xs:element>
					<xs:element maxOccurs="1" minOccurs="0" name="countryChanged" type="xs:boolean">
					</xs:element>
					<xs:element maxOccurs="1" minOccurs="0" name="urbanCodeChanged" type="xs:boolean">
					</xs:element>
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="verifyAddressRequest">
		<wsdl:part element="tns:verifyAddressRequest" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="verifyAddressResponse">
		<wsdl:part element="tns:verifyAddressResponse" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:portType name="AddressVerificationServicePort">
		<wsdl:operation name="verifyAddresses">
			<wsdl:input message="tns:verifyAddressRequest"/>
			<wsdl:output message="tns:verifyAddressResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="AddressVerificationServiceSOAPBinding" type="tns:AddressVerificationServicePort">

		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="verifyAddresses">

			<soap:operation soapAction="http://www.ebayopensource.org/tumeric/shipping/v1/services/verifyAddresses"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="AddressVerificationService">
		<wsdl:port binding="tns:AddressVerificationServiceSOAPBinding" name="AddressVerificationServiceSOAP">
			<soap12:address location="https://svcs.ebay.com/services/shipping/AddressVerificationService/v1"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>