codegen/codegen-tools/src/test/resources/org/ebayopensource/turmeric/test/tools/codegen/data/proto/AdjustmentService_for_tags.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://www.ebayopensource.org/tumeric/billing/v1/services" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xs="http://www.w3.org/2001/XMLSchema" name="AdjustmentService" targetNamespace="http://www.ebayopensource.org/tumeric/billing/v1/services">
    
    <wsdl:types>
        <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.ebayopensource.org/tumeric/billing/v1/services">

		 <!-- Usage Adjustment Resquest -->
	     <xs:element name="applyUsageAdjustmentRequest" type="tns:ApplyUsageAdjustmentRequest"/>
	     <xs:complexType name="ApplyUsageAdjustmentRequest">
	      <xs:annotation>
	         <xs:documentation>
	               Applies credit to a pre-existing usage transaction in the billing system.
	         </xs:documentation>
	      </xs:annotation>
	      <xs:complexContent>
	        <xs:extension base="tns:BaseBatchRequestType">
	          <xs:sequence>
	             <xs:element maxOccurs="unbounded" minOccurs="1" name="usageAdjustment" type="tns:UsageAdjustmentType"/>
	          </xs:sequence>
	        </xs:extension>
	       </xs:complexContent>
	     </xs:complexType>
	
	     <xs:complexType name="UsageAdjustmentType">
	       <xs:annotation>
	          <xs:documentation>
	              The element that represents, one single fee credit transaction that is sent to the billing system.
	            </xs:documentation>
	       </xs:annotation>
	       <xs:complexContent>
	         <xs:extension base="tns:BaseAdjustmentRequestType">
	         <xs:sequence>
		         <xs:element minOccurs="1" name="chargeId" type="xs:string">
		           <xs:annotation>
		              <xs:documentation>
		                     Usage Adjustment Identifier. This 
		                     uniquely identifies a charge
		                     transaction in the client's
		                     section.
		              </xs:documentation>
		           </xs:annotation>
		         </xs:element>
		         <xs:element minOccurs="0" name="chargeContextId" type="xs:string">
		           <xs:annotation>
		               <xs:documentation>
		                    Context of the Credit
		                    Identifier. This uniquely
		                    identifies where the credit was
		                    generated, and in what context.
		                    This can be any kind of grouping
		                    id, with which the credit is
		                    associated.
		               </xs:documentation>
		           </xs:annotation>
		         </xs:element>
	        </xs:sequence>
	       </xs:extension>
	      </xs:complexContent>
	     </xs:complexType>      
	     
	     <!-- Usage Adjustment Response -->
	     <xs:element name="applyUsageAdjustmentResponse" type="tns:ApplyUsageAdjustmentResponse"/>
	     <xs:complexType name="ApplyUsageAdjustmentResponse">
	       <xs:annotation>
	       <xs:documentation>
	              Response for the credit that was applied against a usage transaction.
	       </xs:documentation>
	       </xs:annotation>
	         <xs:complexContent>
	            <xs:extension base="tns:BaseBatchResponseType">
	              <xs:sequence>
	                <xs:element maxOccurs="unbounded" minOccurs="1" name="usageAdjustmentResponse" type="tns:UsageAdjustmentResponseType"/>
	              </xs:sequence>
	            </xs:extension>
	       </xs:complexContent>
	     </xs:complexType>
	     
	     <xs:complexType name="UsageAdjustmentResponseType">                           
	       <xs:complexContent>
	         <xs:extension base="tns:BaseResponseType">
	           <xs:sequence>
	             <xs:element minOccurs="0" name="referenceId" type="xs:string">
	               <xs:annotation>
	                 <xs:documentation>
	                    Reference identifier. This is an
	                    optional element, that will be
	                    returned by the service, per
	                    tenant/client basis. If the
	                    credit identifier is generated
	                    by the service, and not the
	                    client, this field will be
	                    populated optionally.
	                 </xs:documentation>
	               </xs:annotation>
	             </xs:element>
	                          
	             <xs:element minOccurs="0" name="usageAdjustmentResponseDetails" type="tns:UsageAdjustmentResponseDetailsType"/>
	                           
	           </xs:sequence>
	         </xs:extension>
	       </xs:complexContent>
	     </xs:complexType>
	     
	     <!--  TODO: Do we even have this data coming back? No amount should be returned as double!  -->
	     <xs:complexType name="UsageAdjustmentResponseDetailsType">
	       <xs:annotation>
	           <xs:documentation>
	               The element that represents the credit response details. This is optional to begin with, which bubbles up repsonses.
	           </xs:documentation>
	       </xs:annotation>
	       <xs:sequence>
	         <xs:element minOccurs="1" name="creditRequested" type="xs:double">
	           <xs:annotation>
	             <xs:documentation>
	                 This is the Credit Amount Requested.
	             </xs:documentation>
	           </xs:annotation>
	         </xs:element>
	         <xs:element minOccurs="1" name="actualCreditIssued" type="xs:double">
	            <xs:annotation>
	              <xs:documentation>
	                 This is the Credit Amount Issued. 
	                 It is possible to be less than 
	                 creditRequested.
	              </xs:documentation>
	            </xs:annotation>
	         </xs:element>
	         <xs:element minOccurs="1" name="originalCharge" type="xs:double">
	            <xs:annotation>
	              <xs:documentation>
	                 This is the original charge 
	                 against which credit is being 
	                 requested.
	              </xs:documentation>
	            </xs:annotation>
	         </xs:element>
	         <xs:element minOccurs="1" name="totalPreviousCredits" type="xs:double">
	            <xs:annotation>
	            <xs:documentation>
	               This is the cumulative of all 
	               credits issued exccluding the 
	               latest credit requested.
	             </xs:documentation>
	             </xs:annotation>
	         </xs:element>
	         <xs:element minOccurs="1" name="totalCreditableTransactionBalance" type="xs:double">
	           <xs:annotation>
	             <xs:documentation>
	                This is the amount left after 
	                the all credits are deducted 
	                from original charges.
	             </xs:documentation>
	           </xs:annotation>
	         </xs:element>             		
	       </xs:sequence>
	     </xs:complexType>
	     
		<!-- Recurring Charge Adjustment Request -->
		
	     <xs:element name="applyRecurringChargeAdjustmentRequest" type="tns:ApplyRecurringChargeAdjustmentRequest"/>
	     <xs:complexType name="ApplyRecurringChargeAdjustmentRequest">
	      <xs:annotation>
	         <xs:documentation>
	               Applies adjustment to an existing recurring charge transaction.
	         </xs:documentation>
	      </xs:annotation>
	      <xs:complexContent>
	        <xs:extension base="tns:BaseBatchRequestType">
	          <xs:sequence>
	             <xs:element maxOccurs="unbounded" minOccurs="1" name="recurringChargeAdjustment" type="tns:RecurringChargeAdjustmentType"/>
	          </xs:sequence>
	        </xs:extension>
	       </xs:complexContent>
	     </xs:complexType>
	
	     <xs:complexType name="RecurringChargeAdjustmentType">
	       <xs:annotation>
	          <xs:documentation>
	              The element that represents a single recurring charge adjustment that is sent to the billing system.
	          </xs:documentation>
	       </xs:annotation>
	       <xs:complexContent>
	         <xs:extension base="tns:BaseAdjustmentRequestType">
	         <xs:sequence>
	         	<xs:element minOccurs="1" name="recurringChargeId" type="tns:BilledTransactionIdType">
	         		<xs:annotation>
	         			<xs:documentation>
	         				The transaction identifier for the transaction
	         				to which the recurring charge adjustment applies.
	         			</xs:documentation>
	         		</xs:annotation>
	         	</xs:element>
	         	<xs:element minOccurs="1" name="elementId" type="xs:long">
	         	<xs:annotation>
	         		<xs:documentation>
	         			Product element identifier
	         		</xs:documentation>
	         	</xs:annotation>
	         </xs:element>      
	         
	         </xs:sequence>
	       </xs:extension>
	      </xs:complexContent>
	     </xs:complexType>    
	     
	     <!-- Non Recurring Charge Adjustment Request -->
	
	     <xs:element name="applyNonRecurringChargeAdjustmentRequest" type="tns:ApplyNonRecurringChargeAdjustmentRequest"/>
	     <xs:complexType name="ApplyNonRecurringChargeAdjustmentRequest">
	     	<xs:annotation>
	     		<xs:documentation>
	     			Applies adjustment to a non-recurring charge.
	     		</xs:documentation>
	     	</xs:annotation>
	     	<xs:complexContent>
	     		<xs:extension base="tns:BaseBatchRequestType">
	     			<xs:sequence>
	     				<xs:element maxOccurs="unbounded" minOccurs="1" name="nonRecurringChargeAdjustment" type="tns:NonRecurringChargeAdjustmentType"/>
	     			</xs:sequence>
	     		</xs:extension>
	     	</xs:complexContent>
	     </xs:complexType>
	
	     <xs:complexType name="NonRecurringChargeAdjustmentType">
	     	<xs:annotation>
	     		<xs:documentation>
	     			The element that represents a single adjustment that is
	     			sent to the billing system.
	     		</xs:documentation>
	     	</xs:annotation>
	     	<xs:complexContent>
	     		<xs:extension base="tns:BaseAdjustmentRequestType">
	     			<xs:sequence>
	    				<xs:element minOccurs="1" name="nonRecurrinChargeId" type="tns:BilledTransactionIdType">
	     					<xs:annotation>
	     						<xs:documentation>
	     							The transaction identifier for the transaction
	     							to which the non recurring charge adjustment applies.
	     						</xs:documentation>
	     					</xs:annotation>
	     				</xs:element>
	     				<xs:element minOccurs="1" name="adjustmentType" type="tns:AdjustmentTransactionTypeCode">
	     					<xs:annotation>
	     						<xs:documentation>
	     							Transaction code used to identify the type of
	     							adjustment to be applied to a non recurring charge. 
	     						</xs:documentation>
	     					</xs:annotation>
	     				</xs:element>
	
	     			</xs:sequence>
	     		</xs:extension>
	     	</xs:complexContent>
	     </xs:complexType>
	
	     <!-- Account Adjustment Request -->
	
	     <xs:element name="applyAccountAdjustmentRequest" type="tns:ApplyAccountAdjustmentRequest"/>
	     <xs:complexType name="ApplyAccountAdjustmentRequest">
	     	<xs:annotation>
	     		<xs:documentation>
	     			Applies adjustment to an account in the billing system.
	     		</xs:documentation>
	     	</xs:annotation>
	     	<xs:complexContent>
	     		<xs:extension base="tns:BaseBatchRequestType">
	     			<xs:sequence>
	     				<xs:element maxOccurs="unbounded" minOccurs="1" name="accountAdjustment" type="tns:AccountAdjustmentType"/>
	     			</xs:sequence>
	     		</xs:extension>
	     	</xs:complexContent>
	     </xs:complexType>
	
	     <xs:complexType name="AccountAdjustmentType">
	     	<xs:annotation>
	     		<xs:documentation>
	     			The element that represents a single account adjustment.
	     		</xs:documentation>
	     	</xs:annotation>
	     	<xs:complexContent>
	     		<xs:extension base="tns:BaseAdjustmentRequestType">
	     			<xs:sequence>
	     				<xs:element minOccurs="1" name="adjustmentType" type="tns:AdjustmentTransactionTypeCode">
	     					<xs:annotation>
	     						<xs:documentation>
	     							Transaction code used to identify the type of
	     							adjustment to be applied to an account. 
	     						</xs:documentation>
	     					</xs:annotation>
	     				</xs:element>
	     				<xs:element minOccurs="1" name="creditMode" type="tns:CreditMode">
	     					<xs:annotation>
	     						<xs:documentation>
	     							Indicates whether or not the available credit amount is issued if the requested 
	     							amount is larger than the available credit balance. 
	     							CreditExactAmount: the requested amount is credited only it is less than or 
	     							equal to the available credit balance. Otherwise, the request amount is not credited.
	     							CreditAvailableAmount: if the requested amount is larger than the available credit balance,
	     							then the available credit amount is credited.
	     						</xs:documentation>
	     					</xs:annotation>
	     				</xs:element>
	     			</xs:sequence>
	     		</xs:extension>
	     	</xs:complexContent>
	     </xs:complexType>
	
	     <xs:simpleType name="AdjustmentTransactionTypeCode">
	     	<xs:restriction base="xs:long">
	     	    <xs:annotation>
	     		<xs:documentation>Transaction code used to identify the type of adjustment to be applied. </xs:documentation>
	     	    </xs:annotation>
	     	</xs:restriction>
	     </xs:simpleType>
	     
	     <xs:simpleType name="CreditMode">
	     	<xs:restriction base="xs:token">
	     	    <xs:annotation>
	     		<xs:documentation>
					Indicates the 2 credit modes: CreditExactAmount, CreditAvailableAmount.
	     		</xs:documentation>
	     	    </xs:annotation>
	     	</xs:restriction>
	     </xs:simpleType>
	     
	     <xs:complexType name="BilledTransactionIdType">
	     	<xs:annotation>
	     		<xs:documentation>
	     			This type identifies a transaction in an invoice. All
	     			the transactions in an invoice are billed transactions.
	     		</xs:documentation>
	     	</xs:annotation>
	     	<xs:sequence>
	     		<xs:element minOccurs="1" name="invoiceReference" type="tns:InvoiceReferenceType">
	     			<xs:annotation>
	     				<xs:documentation>
	     					Reference to the invoice.
	     				</xs:documentation>
	     			</xs:annotation>
	     		</xs:element>
	     		<xs:element minOccurs="1" name="invoiceRow" type="xs:long">
	     			<xs:annotation>
	     				<xs:documentation>
	     					Row identifier used to identify a row in an
	     					invoice.
	     				</xs:documentation>
	     			</xs:annotation>
	     		</xs:element>
	     	</xs:sequence>
	     </xs:complexType>
	
	     <xs:complexType name="InvoiceIdType">
	         <xs:annotation>
	             <xs:documentation>Identifies an invoice.</xs:documentation>
	         </xs:annotation>
	         <xs:sequence>
	             <xs:element minOccurs="1" name="InvoiceNumberMajor" type="xs:long">
	                 <xs:annotation>
	                     <xs:documentation>
		                     The second part of the composite primary key identifying 
		                     the specific invoice (BILL_INVOICE.bill_ref_no); the first part of the 
		                     composite primary key is the account number.
	                     </xs:documentation>
	                 </xs:annotation>
	             </xs:element>
	             <xs:element minOccurs="1" name="InvoiceNumberMinor" type="xs:int">
	                 <xs:annotation>
	                     <xs:documentation>
		                    The third part of the composite primary key identifying 
		                    the specific invoice (BILL_INVOICE.bill_ref_resets).
	                     </xs:documentation>
	                 </xs:annotation>
	             </xs:element>
	         </xs:sequence>
	     </xs:complexType>
	
	     <xs:complexType name="InvoiceReferenceType">
	         <xs:annotation>
	             <xs:documentation>Identifies an invoice.</xs:documentation>
	         </xs:annotation>
	         <xs:sequence>
	             <xs:element minOccurs="1" name="InvoiceId" type="tns:InvoiceIdType">
	             </xs:element>
	             <xs:element minOccurs="1" name="invoiceStatementDate" type="xs:dateTime">
	                 <xs:annotation>
	                     <xs:documentation>Invoice statement date.</xs:documentation>
	                 </xs:annotation>
	             </xs:element>
	         </xs:sequence>
	     </xs:complexType>
	
	     <xs:simpleType name="RequestStatus">
	     	<xs:restriction base="xs:token">
	     	    <xs:annotation>
	     		<xs:documentation>
					APPROVED: indicates approved adjustment request.
	     		</xs:documentation>
	     	    </xs:annotation>
	     	</xs:restriction>
	     </xs:simpleType>
	     
	     <!-- Adjustment Response -->
	     <xs:element name="applyAdjustmentResponse" type="tns:ApplyAdjustmentResponse"/>
	     <xs:complexType name="ApplyAdjustmentResponse">
	       <xs:annotation>
	       <xs:documentation>
	              Response for the adjustment that was applied against a transaction or invoice.
	       </xs:documentation>
	       </xs:annotation>
	         <xs:complexContent>
	            <xs:extension base="tns:BaseBatchResponseType">
	              <xs:sequence>
	                <xs:element maxOccurs="unbounded" minOccurs="1" name="adjustmentResponse" type="tns:AdjustmentResponseType"/>
	              </xs:sequence>
	            </xs:extension>
	       </xs:complexContent>
	     </xs:complexType>     
	     
	     <xs:complexType name="AdjustmentResponseType">                           
	       <xs:complexContent>
	         <xs:extension base="tns:BaseResponseType">
	           <xs:sequence>
	             <xs:element minOccurs="0" name="referenceId" type="xs:string">
	               <xs:annotation>
	                 <xs:documentation>
	                    Reference identifier. This is an
	                    optional element, that will be
	                    returned by the service, per
	                    tenant/client basis. If the
	                    adjustment identifier is generated
	                    by the service, and not the
	                    client, this field will be
	                    populated optionally.
	                 </xs:documentation>
	               </xs:annotation>
	             </xs:element>
	                          
	             <xs:element minOccurs="0" name="adjustmentResponseDetails" type="tns:AdjustmentResponseDetailsType"/>
	                           
	           </xs:sequence>
	         </xs:extension>
	       </xs:complexContent>
	     </xs:complexType>
	     
	     <xs:complexType name="AdjustmentResponseDetailsType">
	     	<xs:annotation>
	     		<xs:documentation>
	     			The element that represents the adjustment response
	     			details. 
	     		</xs:documentation>
	     	</xs:annotation>
	     	<xs:sequence>
	     		<xs:element minOccurs="1" name="actualAdjustmentApplied" type="tns:Money">
	     			<xs:annotation>
	     				<xs:documentation>
	     					This is the actual adjustment amount applied. It is
	     					possible to be less than the amount requested.
	     				</xs:documentation>
	     			</xs:annotation>
	     		</xs:element>
	     	</xs:sequence>
	     </xs:complexType>
	     
	     <!--  TYPES DEFINED IN BILLING DOMAIN TYPE LIBRARY -->
	
	     <xs:complexType name="AccountIdType">
	       <xs:annotation>
	        <xs:documentation/>
	          <xs:appinfo>
	            <typeLibrarySource library="common-type-library" namespace="http://www.ebayopensource.org/tumeric/billing/v1/services">
	            </typeLibrarySource>
	          </xs:appinfo>
	       </xs:annotation>
	       <xs:sequence>
	         <xs:element minOccurs="1" name="clientId" type="xs:string">  </xs:element>
	         <xs:element minOccurs="1" name="accountId" type="xs:string">  </xs:element>
	         <xs:element minOccurs="1" name="accountSuffixId" type="xs:string">  </xs:element>
	       </xs:sequence>
	     </xs:complexType>
	     
	        <xs:complexType name="RequestHeaderType">
	          <xs:annotation>
	            <xs:documentation/>
	            <xs:appinfo>
	               <typeLibrarySource library="common-type-library" namespace="http://www.ebayopensource.org/tumeric/billing/v1/services">
	               </typeLibrarySource>
	            </xs:appinfo>
	          </xs:annotation>
	          <xs:sequence>
	            <xs:element name="requestId" type="xs:string">  </xs:element>
	            <xs:element name="requestTime" type="xs:dateTime"/>
	          </xs:sequence>
	        </xs:complexType>
	
	        <xs:complexType name="ResponseHeaderType">
	          <xs:annotation>
	            <xs:documentation/>
	            <xs:appinfo>
	              <typeLibrarySource library="common-type-library" namespace="http://www.ebayopensource.org/tumeric/billing/v1/services">
	              </typeLibrarySource>
	            </xs:appinfo>
	          </xs:annotation>
	          <xs:sequence>
	            <xs:element name="requestId" type="xs:string">                 </xs:element>
	          </xs:sequence>
	        </xs:complexType>
	
	        <xs:complexType name="BaseRequestType">
	          <xs:complexContent>
	            <xs:extension base="tns:BaseServiceRequest">
	            <xs:annotation>
	              <xs:documentation/>
	                <xs:appinfo>
	                  <typeLibrarySource library="common-type-library" namespace="http://www.ebayopensource.org/tumeric/billing/v1/services">
	                  </typeLibrarySource>
	                </xs:appinfo>
	              </xs:annotation>
	              <xs:sequence>
	                <xs:element name="requestHeader" type="tns:RequestHeaderType"> </xs:element>
	                <xs:element name="accountId" type="tns:AccountIdType">     </xs:element>
	              </xs:sequence>
	            </xs:extension>
	          </xs:complexContent>
	        </xs:complexType>
	
	        <xs:complexType name="BaseAdjustmentRequestType"> 
	           	<xs:complexContent>
	        		<xs:extension base="tns:BaseRequestType">
	        			<xs:annotation>
	        				<xs:documentation>
	        					The common request type that represents the adjustment details
	        				</xs:documentation>
	        				<xs:appinfo>
	        					<typeLibrarySource library="common-type-library" namespace="http://www.ebayopensource.org/tumeric/billing/v1/services">
	        					</typeLibrarySource>
	        				</xs:appinfo>
	        			</xs:annotation>
	        			<xs:sequence>
	
	        				<xs:element minOccurs="1" name="adjustmentAmount" type="tns:Money">
	        					<xs:annotation>
	        						<xs:documentation>
	        							Amount of the adjustment requested.
	        						</xs:documentation>
	        					</xs:annotation>
	        				</xs:element>
	
	        				<xs:element minOccurs="1" name="reasonCode" type="xs:int">
	        					<xs:annotation>
	        						<xs:documentation>
	        							Pre-defined reason code,
	        							establishing the reason for the
	        							adjustment.
	        						</xs:documentation>
	        					</xs:annotation>
	        				</xs:element>
	
	        				<xs:element minOccurs="1" name="adjustmentDate" type="xs:dateTime">
	        					<xs:annotation>
	        						<xs:documentation>
	        							Date on which the adjustment was
	        							generated on the client system.
	        						</xs:documentation>
	        					</xs:annotation>
	        				</xs:element>
	
	        				<xs:element minOccurs="1" name="adjustmentRequestStatus" type="tns:RequestStatus">
	        					<xs:annotation>
	        						<xs:documentation>
	        							Status of an adjustment request;
	        						</xs:documentation>
	        					</xs:annotation>
	        				</xs:element>
	
	        				<xs:element minOccurs="0" name="submitter" type="xs:string">
	        					<xs:annotation>
	        						<xs:documentation>
	        							Id or name of the person who is submitting
	        							the adjustment request.
	        						</xs:documentation>
	        					</xs:annotation>
	        				</xs:element>
	
	        				<xs:element minOccurs="0" name="memo" type="xs:string">
	        					<xs:annotation>
	        						<xs:documentation>
	        							Any description associated with the adjustment.
	        						</xs:documentation>
	        					</xs:annotation>
	        				</xs:element>
	
	        			</xs:sequence>
	        		</xs:extension>
	        	</xs:complexContent>
	        </xs:complexType>
			
	        <xs:complexType name="BaseResponseType">
	          <xs:complexContent>
	            <xs:extension base="tns:BaseServiceResponse">
	              <xs:annotation>
	                <xs:documentation/>
	                <xs:appinfo>
	                  <typeLibrarySource library="common-type-library" namespace="http://www.ebayopensource.org/tumeric/billing/v1/services">
	                  </typeLibrarySource>
	                </xs:appinfo>
	              </xs:annotation>
	              <xs:sequence>
	                <xs:element name="responseHeader" type="tns:ResponseHeaderType"> </xs:element>
	              </xs:sequence>
	           </xs:extension>
	          </xs:complexContent>
	        </xs:complexType>
	        
	        <xs:complexType name="BaseBatchRequestType">
	          <xs:annotation>
	            <xs:documentation/>
	              <xs:appinfo>
	                <typeLibrarySource library="common-type-library" namespace="http://www.ebayopensource.org/tumeric/billing/v1/services">
	                </typeLibrarySource>
	              </xs:appinfo>
	          </xs:annotation>
	           <xs:sequence>
	              <xs:element minOccurs="0" name="batchId" type="xs:string">    </xs:element>                
	           </xs:sequence>
	        </xs:complexType>
	        
	        <xs:complexType name="BaseBatchResponseType">
	          <xs:annotation>
	          <xs:documentation/>
	            <xs:appinfo>
	              <typeLibrarySource library="common-type-library" namespace="http://www.ebayopensource.org/tumeric/billing/v1/services">
	              </typeLibrarySource>
			    </xs:appinfo>
			  </xs:annotation>
	       </xs:complexType>
	
	      <xs:simpleType name="IsoCurrencyCode">
					<xs:annotation>
						<xs:documentation>
							Currency representation based on ISO 4217
							Standard:
							http://www.iso.org/iso/currency_codes_list-1
							Every currency has the following attributs:
							Numeric Code - 3 Digits Zero Padded Numeric
							Code, which uniquely identifies a currency.
							Alphabetic Code - 3 Letter Alphabetic Code,
							which uniquely identifies a currency. Currency -
							The name of the currency Antity - The
							country/Entity, which uses this currency.
	
							This type exposes only a sub-set of ISO 4217.
							The enumeration represents the Alphabetic Code.
							Comments are included for quick reference.
						</xs:documentation>
						<xs:appinfo>
							<typeLibrarySource library="common-type-library" namespace="http://www.ebayopensource.org/tumeric/services">
							</typeLibrarySource>
						</xs:appinfo>
					</xs:annotation>
	
					<xs:restriction base="xs:token"><!-- Currency,                         Entity                          ISO Currency Code -->
						<xs:enumeration value="USD"/>
						<!-- U.S. Dollar                       United States                   840               -->
						<xs:enumeration value="CAD"/>
						<!-- Canadian Dollar                   Canada                          124               -->
						<xs:enumeration value="GBP"/>
						<!-- Pound Sterling                    United Kingdom                  826               -->
						<xs:enumeration value="DEM"/>
						<!-- German Mark                       Germany                         276               -->
						<xs:enumeration value="AUD"/>
						<!-- Australian Dollar                 Australia                       036               -->
						<xs:enumeration value="JPY"/>
						<!-- Japanese Yen                      Japanese Yen                    392               -->
						<xs:enumeration value="EUR"/>
						<!-- Euro                              European Union                  978               -->
						<xs:enumeration value="FRF"/>
						<!-- French Franc                      France                          250               -->
						<xs:enumeration value="ATS"/>
						<!-- Austrian Schilling                Austria                         040               -->
						<xs:enumeration value="BEF"/>
						<!-- Belgian Franc                     Belgium                         056               -->
						<xs:enumeration value="CHF"/>
						<!-- Swiss Franc                       Switzerland                     756               -->
						<xs:enumeration value="CNY"/>
						<!-- Chinese Yuan Renminbi             China                           156               -->
						<xs:enumeration value="CZK"/>
						<!-- Czech Koruna                      Czech Republic                  203               -->
						<xs:enumeration value="DKK"/>
						<!-- Danish Krone                      Denmark                         208               -->
						<xs:enumeration value="ESP"/>
						<!-- Spanish Peseta                    Spain                           724               -->
						<xs:enumeration value="FIM"/>
						<!-- Finnish Markka                    Finland                         246               -->
						<xs:enumeration value="GRD"/>
						<!-- Greek Drachma                     Greece                          300               -->
						<xs:enumeration value="HKD"/>
						<!-- Hong Kong Dollar                  Hong Kong                       344               -->
						<xs:enumeration value="HUF"/>
						<!-- Hungarian Forint                  Hungary                         348               -->
						<xs:enumeration value="IDR"/>
						<!-- Indonesian Rupiah                 Indonesia                       360               -->
						<xs:enumeration value="IEP"/>
						<!-- Irish Pound                       Ireland                         372               -->
						<xs:enumeration value="ILS"/>
						<!-- Israeli new Shekel                Israel                          376               -->
						<xs:enumeration value="ITL"/>
						<!-- Italian Lira                      Italy                           380               -->
						<xs:enumeration value="NLG"/>
						<!-- Dutch Guilder                     Netherlands                     528               -->
						<xs:enumeration value="NOK"/>
						<!-- Norwegian Krone                   Norway                          578               -->
						<xs:enumeration value="NZD"/>
						<!-- New Zealand Dollar                New Zealand                     554               -->
						<xs:enumeration value="PHP"/>
						<!-- Philippine Peso                   Philippines                     608               -->
						<xs:enumeration value="PLN"/>
						<!-- Polish New Zloty                  Poland                          985               -->
						<xs:enumeration value="PTE"/>
						<!-- Portuguese Escudo                 Portugal                        620               -->
						<xs:enumeration value="RUR"/>
						<!-- Russian Ruble                     Russian Federation              810               -->
						<xs:enumeration value="SEK"/>
						<!-- Swedish Krona                     Sweden                          752               -->
						<xs:enumeration value="SGD"/>
						<!-- Singapore Dollar                  Singapore                       702               -->
						<xs:enumeration value="THB"/>
						<!-- Thai Baht                         Thailand                        764               -->
						<xs:enumeration value="TWD"/>
						<!-- New Taiwan dollar                 Taiwan                          901               -->
						<xs:enumeration value="ZAR"/>
						<!-- South African Rand                South Africa                    710               -->
						<xs:enumeration value="INR"/>
						<!-- Indian Rupee                      India                           356               -->
						<xs:enumeration value="PEN"/>
						<!-- Peruvian New Sol                  Peru                            604               -->
						<xs:enumeration value="MYR"/>
						<!-- Malaysian Ringgit                 Malaysia                        458               -->
						<xs:enumeration value="VND"/>
						<!-- Vietnamese New Dong               Vietnam                         704               -->
						<xs:enumeration value="KRW"/>
						<!-- South Korean Won                  South Korea                     410               -->
						<xs:enumeration value="TRY"/>
						<!-- New Turkish Lira                  Turkey                          949               -->
						<xs:enumeration value="ANG"/>
						<!-- Antillian Guilder                 Netherlands Antilles            532               -->
						<xs:enumeration value="AWG"/>
						<!-- Aruban Guilder                    Aruba                           533               -->
						<xs:enumeration value="BMD"/>
						<!-- Bermudan Dollar                   Bermudan Dollar                 060               -->
						<xs:enumeration value="CRC"/>
						<!-- Costa Rican Colon                 Costa Rica                      188               -->
						<xs:enumeration value="RON"/>
						<!-- Romanian New Leu                  Romania                         946               -->
						<xs:enumeration value="VEF"/>
						<!-- Venezuelan Bolivar Fuerte         Venezuela                       937               -->
						<xs:enumeration value="BBD"/>
						<!-- Barbados Dollar                   Barbados                        052               -->
						<xs:enumeration value="BGN"/>
						<!-- Bulgarian Lev                     Bulgaria                        975               -->
						<xs:enumeration value="BND"/>
						<!-- Brunei Dollar                     Brunei                          096               -->
						<xs:enumeration value="BSD"/>
						<!-- Bahamian Dollar                   Bahamas                         044               -->
						<xs:enumeration value="COP"/>
						<!-- Colombian Peso                    Columbia                        170               -->
						<xs:enumeration value="DOP"/>
						<!-- Dominican Peso                    Dominican Republic              214               -->
						<xs:enumeration value="GTQ"/>
						<!-- Guatemalan Quetzal                Guatemala                       320               -->
						<xs:enumeration value="KYD"/>
						<!-- Cayman Isles Dollar               Cayman Islands                  136               -->
						<xs:enumeration value="MVR"/>
						<!-- Maldivian Rufiyaa                 Maldives                        462               -->
						<xs:enumeration value="QAR"/>
						<!-- Qatari Rial                       Qatar                           634               -->
						<xs:enumeration value="SAR"/>
						<!-- Saudi Riyal                       Saudi Arabia                    682               -->
						<xs:enumeration value="TTD"/>
						<!-- Trinidadian and Tobagonian Dollar Trinidad and Tobago             780               -->
						<xs:enumeration value="UAH"/>
						<!-- Ukrainian hryvnia                 Ukraine                         980               -->
						<xs:enumeration value="UYU"/>
						<!-- Peso Uruguayo                     Uruguay                         858               -->
						<xs:enumeration value="XCD"/>
						<!-- East Caribbean Dollar             East Caribbean Currency Area    951               -->
						<xs:enumeration value="XPF"/>
						<!-- French Polynesian Franc           French Polynesia                953               -->
						<xs:enumeration value="JMD"/>
						<!-- Jamaican Dollar                   Jamaica                         388               -->
	
					</xs:restriction>
	         </xs:simpleType>
	
	         <xs:complexType name="Money">
	            <xs:annotation>
	               <xs:documentation>
	                   This type is used to represent Money. It should
	                   be used by any WSDL, which needs to send/receive
	                   Money information.
	               </xs:documentation>
	               <xs:appinfo>
	                  <typeLibrarySource library="common-type-library" namespace="http://www.ebayopensource.org/tumeric/services">
	                  </typeLibrarySource>
	               </xs:appinfo>
	            </xs:annotation>
	
	            <xs:simpleContent>
	               <xs:extension base="xs:decimal">
	                  <xs:attribute name="currencyCode" type="tns:IsoCurrencyCode" use="required">
	                  </xs:attribute>
	               </xs:extension>
	            </xs:simpleContent>
	         </xs:complexType>      

	     <!-- CORE TYPES -->
	     
	     <xs:simpleType name="AckValue">
	       <xs:annotation>
	         <xs:documentation>
	             Indicates whether the error is a severe error
	             (causing the request to fail) or an
	             informational error (a warning) that should be
	             communicated to the user.
	         </xs:documentation>
	         <xs:appinfo>
	           <typeLibrarySource library="common-type-library" namespace="http://www.ebayopensource.org/tumeric/services"/>
	         </xs:appinfo>
	       </xs:annotation>
	       <xs:restriction base="xs:string">
	         <xs:enumeration value="Success">
	           <xs:annotation>
	             <xs:documentation>
	               The request was processed successfully,
	               but something occurred that may affect
	               your application or the user.
	             </xs:documentation>
	           </xs:annotation>
	         </xs:enumeration>
	         <xs:enumeration value="Failure">
	           <xs:annotation>
	             <xs:documentation>
	               The request that triggered the error was
	               not processed successfully. When a
	               serious application-level error occurs,
	               the error is returned instead of the
	               business data.
	             </xs:documentation>
	           </xs:annotation>
	         </xs:enumeration>
	         <xs:enumeration value="Warning">
	           <xs:annotation>
	             <xs:documentation>
	                The request that triggered the error was
	                processed successfully but with some
	                warnings.
	             </xs:documentation>
	           </xs:annotation>
	         </xs:enumeration>
	         <xs:enumeration value="PartialFailure">
	           <xs:annotation>
	             <xs:documentation>
	                 The request that triggered the error was
	                 processed successfully but with some
	                 warnings.
	             </xs:documentation>
	           </xs:annotation>
	         </xs:enumeration>
	       </xs:restriction>
	     </xs:simpleType>
	
	     <xs:complexType abstract="true" name="BaseServiceRequest">
	       <xs:annotation>
	         <xs:documentation>
	           This is the base class for request container for
	           all service operations.
	         </xs:documentation>
	         <xs:appinfo>
	            <typeLibrarySource library="common-type-library" namespace="http://www.ebayopensource.org/tumeric/services"/>
	         </xs:appinfo>
	       </xs:annotation>
	     </xs:complexType>
	
	     <xs:complexType abstract="true" name="BaseServiceResponse">
	     <xs:annotation>
	       <xs:documentation>
	          Base response container for all service
	          operations. Contains error information
	          associated with the request.
	       </xs:documentation>
	         <xs:appinfo>
	           <typeLibrarySource library="common-type-library" namespace="http://www.ebayopensource.org/tumeric/services"/>
	         </xs:appinfo>
	       </xs:annotation>
	       <xs:sequence>
	         <xs:element name="ack" type="tns:AckValue">
	           <xs:annotation>
	             <xs:documentation/>
	             <xs:appinfo>
	               <CallInfo>
	                 <AllCalls/>
	                 <Returned>Always</Returned>
	               </CallInfo>
	             </xs:appinfo>
	           </xs:annotation>
	         </xs:element>
	         <xs:element minOccurs="0" name="errorMessage" type="tns:ErrorMessage">
	           <xs:annotation>
	             <xs:documentation>
	               Information for an error or warning that
	               occurred when eBay processed the
	               request.
	             </xs:documentation>
	             <xs:appinfo>
	               <CallInfo>
	                 <AllCalls/>
	                 <Returned>Conditionally</Returned>
	               </CallInfo>
	             </xs:appinfo>
	           </xs:annotation>
	         </xs:element>
	         <xs:element minOccurs="0" name="version" type="xs:string">
	           <xs:annotation>
	             <xs:documentation/>
	             <xs:appinfo>
	               <CallInfo>
	                 <AllCalls/>
	                 <Returned>Always</Returned>
	               </CallInfo>
	             </xs:appinfo>
	           </xs:annotation>
	         </xs:element>
	         <xs:element minOccurs="0" name="timestamp" type="xs:dateTime">
	           <xs:annotation>
	             <xs:documentation/>
	             <xs:appinfo>
	               <CallInfo>
	                 <AllCalls/>
	                 <Returned>Always</Returned>
	               </CallInfo>
	             </xs:appinfo>
	           </xs:annotation>
	         </xs:element>
	         </xs:sequence>
	        </xs:complexType>
	
	        <xs:simpleType name="ErrorCategory">
	          <xs:annotation>
	            <xs:documentation>
	              Documentation goes here.
	            </xs:documentation>
	            <xs:appinfo>
	              <typeLibrarySource library="common-type-library" namespace="http://www.ebayopensource.org/tumeric/services"/>
	            </xs:appinfo>
	          </xs:annotation>
	          <xs:restriction base="xs:token">
	            <xs:enumeration value="System"/>
	            <xs:enumeration value="Application"/>
	            <xs:enumeration value="Request"/>
	          </xs:restriction>
	        </xs:simpleType>
	
	        <xs:complexType name="ErrorData">
	          <xs:annotation>
	            <xs:documentation>
	              Documentation goes here
	            </xs:documentation>
	            <xs:appinfo>
	              <typeLibrarySource library="common-type-library" namespace="http://www.ebayopensource.org/tumeric/services"/>
	            </xs:appinfo>
	          </xs:annotation>
	          <xs:sequence>
	            <xs:element name="errorId" type="xs:long"/>
	            <xs:element name="domain" type="xs:string"/>
	            <xs:element minOccurs="0" name="subdomain" type="xs:string"/>
	            <xs:element name="severity" type="tns:ErrorSeverity"/>
	            <xs:element name="category" type="tns:ErrorCategory"/>
	            <xs:element name="message" type="xs:string"/>
	            <xs:element minOccurs="0" name="exceptionId" type="xs:token"/>
	            <xs:element maxOccurs="unbounded" minOccurs="0" name="parameter" type="tns:ErrorParameter"/>
		      </xs:sequence>
	        </xs:complexType>
	
	        <xs:complexType name="ErrorMessage">
	          <xs:annotation>
	            <xs:documentation>
	              Documentation goes here
	            </xs:documentation>
	            <xs:appinfo>
	              <typeLibrarySource library="common-type-library" namespace="http://www.ebayopensource.org/tumeric/services"/>
	            </xs:appinfo>
	          </xs:annotation>
	          <!-- 
	          <xs:sequence>

	          </xs:sequence>
	           -->
	          <xs:sequence>
	            <xs:element maxOccurs="unbounded" minOccurs="0" name="error" type="tns:ErrorData"/>
	          </xs:sequence>
	        </xs:complexType>
	
	        <xs:complexType name="ErrorParameter">
	          <xs:annotation>
	            <xs:documentation>
	               Documentation goes here
	            </xs:documentation>
	            <xs:appinfo>
	            <typeLibrarySource library="common-type-library" namespace="http://www.ebayopensource.org/tumeric/services"/>
	            </xs:appinfo>
	          </xs:annotation>
	          <xs:simpleContent>
	            <xs:extension base="xs:string">
	              <xs:attribute name="name" type="xs:string" use="optional"/>
	            </xs:extension>
	          </xs:simpleContent>
	        </xs:complexType>
				
	        <xs:simpleType name="ErrorSeverity">
	          <xs:annotation>
	            <xs:documentation>
	              Documentation goes here.
	            </xs:documentation>
	            <xs:appinfo>
	              <typeLibrarySource library="common-type-library" namespace="http://www.ebayopensource.org/tumeric/services"/>
	            </xs:appinfo>
	          </xs:annotation>
	          <xs:restriction base="xs:token">
	            <xs:enumeration value="Error"/>
	            <xs:enumeration value="Warning"/>
	          </xs:restriction>
	        </xs:simpleType>
	        
			<!--  Begin of getVersion types  -->			
            <xs:element name="getVersionRequest" type="tns:AdjustmentServiceGetVersionRequest"/>
            <xs:complexType name="AdjustmentServiceGetVersionRequest">
                <xs:annotation>
                    <xs:documentation>
                        Document goes here
                    </xs:documentation>
                </xs:annotation>
                <xs:complexContent>
                    <xs:extension base="tns:BaseServiceRequest">
                        <xs:sequence/>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            
            <xs:element name="getVersionResponse" type="tns:AdjustmentServiceGetVersionResponse"/>
            <xs:complexType name="AdjustmentServiceGetVersionResponse">
                <xs:annotation>
                    <xs:documentation>
                        Document goes here
                    </xs:documentation>
                </xs:annotation>
                <xs:complexContent>
                    <xs:extension base="tns:BaseServiceResponse">
                    	<!-- 
                        <xs:sequence>
                            <xs:element name="version" type="xs:string" maxOccurs="1" minOccurs="1" />
                        </xs:sequence>
                        -->
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
			<!--  End   of getVersion types  -->

        </xs:schema>
    </wsdl:types>
    
    <wsdl:message name="applyUsageAdjustmentRequest">
    	<wsdl:part element="tns:applyUsageAdjustmentRequest" name="params"/>
    </wsdl:message>

    <wsdl:message name="applyUsageAdjustmentResponse">
    	<wsdl:part element="tns:applyUsageAdjustmentResponse" name="params"/>
    </wsdl:message>
  
    <wsdl:message name="applyRecurringChargeAdjustmentRequest">
    	<wsdl:part element="tns:applyRecurringChargeAdjustmentRequest" name="params"/>
    </wsdl:message>
  
    <wsdl:message name="applyNonRecurringChargeAdjustmentRequest">
    	<wsdl:part element="tns:applyNonRecurringChargeAdjustmentRequest" name="params"/>
    </wsdl:message>
  
    <wsdl:message name="applyAccountAdjustmentRequest">
    	<wsdl:part element="tns:applyAccountAdjustmentRequest" name="params"/>
    </wsdl:message>

    <wsdl:message name="applyAdjustmentResponse">
    	<wsdl:part element="tns:applyAdjustmentResponse" name="params"/>
    </wsdl:message>
    
	<!--  Begin of getVersion messages  -->    
    <wsdl:message name="getVersionRequest">
        <wsdl:part element="tns:getVersionRequest" name="params"/>
    </wsdl:message>
    
    <wsdl:message name="getVersionResponse">
        <wsdl:part element="tns:getVersionResponse" name="params"/>
    </wsdl:message>
	<!--  End   of getVersion messages  -->    
  
    <wsdl:portType name="AdjustmentServicePort">
	
	    <wsdl:operation name="applyUsageAdjustment">
	      <wsdl:documentation>Applies a usage adjustment transaction to a billing account, in billable currency.</wsdl:documentation>
	      <wsdl:input message="tns:applyUsageAdjustmentRequest"/>
	      <wsdl:output message="tns:applyUsageAdjustmentResponse"/>
	    </wsdl:operation>
	    
	    <wsdl:operation name="applyRecurringChargeAdjustment">
	      <wsdl:documentation>Applies an adjustment against a recurring charge to a billing account.</wsdl:documentation>
	      <wsdl:input message="tns:applyRecurringChargeAdjustmentRequest"/>
	      <wsdl:output message="tns:applyAdjustmentResponse"/>
	    </wsdl:operation>
	    
	    <wsdl:operation name="applyNonRecurringChargeAdjustment">
	      <wsdl:documentation>Applies an adjustment against a non-recurring charge to a billing account.</wsdl:documentation>
	      <wsdl:input message="tns:applyNonRecurringChargeAdjustmentRequest"/>
	      <wsdl:output message="tns:applyAdjustmentResponse"/>
	    </wsdl:operation>
	    
	 	<wsdl:operation name="applyAccountAdjustment">
	      <wsdl:documentation>Applies an invoice adjustment to a billing account.</wsdl:documentation>
	      <wsdl:input message="tns:applyAccountAdjustmentRequest"/>
	      <wsdl:output message="tns:applyAdjustmentResponse"/>
	    </wsdl:operation>
	    
        <wsdl:operation name="getVersion">
	        <wsdl:documentation>Required operation for each service</wsdl:documentation>        
            <wsdl:input message="tns:getVersionRequest"/>
            <wsdl:output message="tns:getVersionResponse"/>
        </wsdl:operation>	    
	
    </wsdl:portType>
    
    <wsdl:binding name="AdjustmentServiceHttpBinding" type="tns:AdjustmentServicePort">
        <http:binding verb="POST"/>
        
        <wsdl:operation name="applyUsageAdjustment">
            <http:operation location="/applyUsageAdjustment"/>
            <wsdl:input>
                <mime:content part="params" type="application/x-www-form-urlencoded"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content part="params" type="text/xml"/>
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="applyRecurringChargeAdjustment">
            <http:operation location="/applyRecurringChargeAdjustment"/>
            <wsdl:input>
                <mime:content part="params" type="application/x-www-form-urlencoded"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content part="params" type="text/xml"/>
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="applyNonRecurringChargeAdjustment">
            <http:operation location="/applyNonRecurringChargeAdjustment"/>
            <wsdl:input>
                <mime:content part="params" type="application/x-www-form-urlencoded"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content part="params" type="text/xml"/>
            </wsdl:output>
        </wsdl:operation>

        <wsdl:operation name="applyAccountAdjustment">
            <http:operation location="/applyAccountAdjustment"/>
            <wsdl:input>
                <mime:content part="params" type="application/x-www-form-urlencoded"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content part="params" type="text/xml"/>
            </wsdl:output>
        </wsdl:operation>
        
		<wsdl:operation name="getVersion">
			<http:operation location="/getVersion"/>
			<wsdl:input>
				<mime:content part="params" type="application/x-www-form-urlencoded"/>
			</wsdl:input>
			<wsdl:output>
				<mime:content part="params" type="text/xml"/>
			</wsdl:output>
		</wsdl:operation>
		        
    </wsdl:binding>
    
    <wsdl:binding name="AdjustmentServiceSOAPBinding" type="tns:AdjustmentServicePort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        
	 	<wsdl:operation name="applyUsageAdjustment">
	  		<soap:operation soapAction="http://www.ebayopensource.org/tumeric/billing/v1/services/applyUsageAdjustment"/>
	  		<wsdl:input>
	  			<soap:body use="literal"/>
	  		</wsdl:input>
	  		<wsdl:output>
	  			<soap:body use="literal"/>
	  		</wsdl:output>
	  	</wsdl:operation>
	  	
	  	<wsdl:operation name="applyRecurringChargeAdjustment">
	  		<soap:operation soapAction="http://www.ebayopensource.org/tumeric/billing/v1/services/applyRecurringChargeAdjustment"/>
	  		<wsdl:input>
	  			<soap:body use="literal"/>
	  		</wsdl:input>
	  		<wsdl:output>
	  			<soap:body use="literal"/>
	  		</wsdl:output>
	  	</wsdl:operation>
	  	
	  	<wsdl:operation name="applyNonRecurringChargeAdjustment">
	  		<soap:operation soapAction="http://www.ebayopensource.org/tumeric/billing/v1/services/applyNonRecurringChargeAdjustment"/>
	  		<wsdl:input>
	  			<soap:body use="literal"/>
	  		</wsdl:input>
	  		<wsdl:output>
	  			<soap:body use="literal"/>
	  		</wsdl:output>
	  	</wsdl:operation>
	  	
	  	<wsdl:operation name="applyAccountAdjustment">
	  		<soap:operation soapAction="http://www.ebayopensource.org/tumeric/billing/v1/services/applyAccountAdjustment"/>
	  		<wsdl:input>
	  			<soap:body use="literal"/>
	  		</wsdl:input>
	  		<wsdl:output>
	  			<soap:body use="literal"/>
	  		</wsdl:output>
	  	</wsdl:operation>
	  	
	  	<wsdl:operation name="getVersion">
	  		<soap:operation soapAction="http://www.ebayopensource.org/tumeric/billing/v1/services/getVersion"/>
	  		<wsdl:input>
	  			<soap:body use="literal"/>
	  		</wsdl:input>
	  		<wsdl:output>
	  			<soap:body use="literal"/>
	  		</wsdl:output>
	  	</wsdl:operation>	  	
	  	
    </wsdl:binding>
    
    <wsdl:service name="AdjustmentService">
        <wsdl:documentation>
            <Version>1.0.0</Version>
        </wsdl:documentation>
        
        <wsdl:port binding="tns:AdjustmentServiceHttpBinding" name="AdjustmentServiceHttpPort">
            <http:address location="https://svcs.ebay.com/services/billing/v1/AdjustmentService"/>
        </wsdl:port>
        
        <wsdl:port binding="tns:AdjustmentServiceSOAPBinding" name="AdjustmentServiceSOAPPort">
            <soap12:address location="https://svcs.ebay.com/services/billing/v1/AdjustmentService"/>
        </wsdl:port>
        
    </wsdl:service>
</wsdl:definitions>