codegen/codegen-tools/src/test/resources/org/ebayopensource/turmeric/test/tools/codegen/data/proto/AdminApplicationCatalogService_for_tags.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://www.ebayopensource.org/tumeric/services" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xs="http://www.w3.org/2001/XMLSchema" name="AdminApplicationCatalogService" targetNamespace="http://www.ebayopensource.org/tumeric/services">

	<wsdl:types>
		<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.ebayopensource.org/tumeric/services">

			<xs:complexType abstract="true" name="BaseServiceRequest">
				<xs:annotation>
					<xs:documentation>
						This is the base class for request container for
						all service operations.
					</xs:documentation>
				</xs:annotation>
				<xs:sequence>

				</xs:sequence>
			</xs:complexType>

			<xs:complexType abstract="true" name="BaseServiceResponse">
				<xs:annotation>
					<xs:documentation>
						Base response container for all service
						operations. Contains error information
						associated with the request.
					</xs:documentation>
				</xs:annotation>
				<xs:sequence>
					<xs:element name="ack" type="tns:AckValue">
						<xs:annotation>
							<xs:documentation>

							</xs:documentation>
							<xs:appinfo>
								<CallInfo>
									<AllCalls/>
									<Returned>Always</Returned>
								</CallInfo>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="errorMessage" type="tns:ErrorMessage">
						<xs:annotation>
							<xs:documentation>
								Information for an error or warning that
								occurred when eBay processed the
								request.
							</xs:documentation>
							<xs:appinfo>
								<CallInfo>
									<AllCalls/>
									<Returned>Conditionally</Returned>
								</CallInfo>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="version" type="xs:string">
						<xs:annotation>
							<xs:documentation/>
							<xs:appinfo>
								<CallInfo>
									<AllCalls/>
									<Returned>Always</Returned>
								</CallInfo>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="timestamp" type="xs:dateTime">
						<xs:annotation>
							<xs:documentation/>
							<xs:appinfo>
								<CallInfo>
									<AllCalls/>
									<Returned>Always</Returned>
								</CallInfo>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>

				</xs:sequence>
			</xs:complexType>


			<xs:complexType name="ErrorMessage">
				<xs:annotation>
					<xs:documentation>
						ErrorMessage to indicate any Error/Warning
						occured as part of service call. Any run time
						error will not be reported here, but will be
						reported aspart of soap fault.
					</xs:documentation>
				</xs:annotation>
				<xs:sequence>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="error" type="tns:ErrorData">
						<xs:annotation>
							<xs:documentation>
								Details about a single error.
							</xs:documentation>
							<xs:appinfo>
								<CallInfo>
									<AllCalls/>
									<Returned>Conditionally</Returned>
								</CallInfo>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:complexType>



			<xs:complexType name="ErrorData">
				<xs:annotation>
					<xs:documentation>
						This represents error details.
					</xs:documentation>
				</xs:annotation>
				<xs:sequence>
					<xs:element name="errorId" type="xs:long">
						<xs:annotation>
							<xs:documentation>
								A unique code that identifies the
								particular error condition that
								occurred. Your application can use error
								codes as identifiers in your customized
								error-handling algorithms.
							</xs:documentation>
							<xs:appinfo>
								<CallInfo>
									<AllCalls/>
									<Returned>Conditionally</Returned>
								</CallInfo>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="domain" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								Name of the domain upon which the error
								occurred. &lt;dl&gt; &lt;lh&gt;Domains
								include:&lt;/lh&gt; &lt;dt&gt;
								Marketplace &lt;/dt&gt; &lt;dd&gt; A
								business or validation error occurred
								for the Merchandising Service.
								&lt;/dd&gt; &lt;dt&gt; SOA &lt;/dt&gt;
								&lt;dd&gt; An exception occurred in the
								Service Oriented Architecture (SOA)
								framework. &lt;/dd&gt; &lt;/dl&gt;
							</xs:documentation>
							<xs:appinfo>
								<CallInfo>
									<AllCalls/>
									<Returned>Conditionally</Returned>
								</CallInfo>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="severity" type="tns:ErrorSeverity">
						<xs:annotation>
							<xs:documentation>
								Indicates whether the error caused the
								request to fail (Error) or not
								(Warning). &lt;br&gt;&lt;br&gt; If the
								request fails and the source of the
								problem is within the application (such
								as a missing required element), please
								change the application before you retry
								the request. If the problem is due to
								end-user input data, please alert the
								end-user to the problem and provide the
								means for them to correct the data. Once
								the problem in the application or data
								is resolved, you can attempt to re- send
								the request to eBay.
								&lt;br&gt;&lt;br&gt; If the source of
								the problem is on eBay's side, you can
								retry the request as-is a reasonable
								number of times (eBay recommends twice).
								If the error persists, contact Developer
								Technical Support. Once the problem has
								been resolved, the request may be resent
								in its original form.
								&lt;br&gt;&lt;br&gt; When a warning
								occurs, the error is returned in
								addition to the business data. In this
								case, you do not need to retry the
								request (as the original request was
								successful). However, depending on the
								cause or nature of the warning, you
								might need to contact either the end
								user or eBay to effect a long term
								solution to the problem to prevent it
								from reoccurring in the future.
							</xs:documentation>
							<xs:appinfo>
								<CallInfo>
									<AllCalls/>
									<Returned>Conditionally</Returned>
								</CallInfo>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="category" type="tns:ErrorCategory">
						<xs:annotation>
							<xs:documentation>
								There are three categories of errors:
								request errors, application errors, and
								system errors.
							</xs:documentation>
							<xs:appinfo>
								<CallInfo>
									<AllCalls/>
									<Returned>Conditionally</Returned>
								</CallInfo>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="message" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								A detailed description of the condition
								that resulted in the error.
							</xs:documentation>
							<xs:appinfo>
								<CallInfo>
									<AllCalls/>
									<Returned>Conditionally</Returned>
								</CallInfo>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="subdomain" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								Name of the subdomain upon which the
								error occurred. &lt;dl&gt;
								&lt;lh&gt;Subdomains include:&lt;/lh&gt;
								&lt;dt&gt; Merchandising &lt;/dt&gt;
								&lt;dd&gt; The error is specific to the
								Merchandising service. &lt;/dd&gt;
								&lt;dt&gt; MarketplaceCommon &lt;/dt&gt;
								&lt;dd&gt; The error is common to all
								Marketplace services. &lt;/dd&gt;
								&lt;/dl&gt;
							</xs:documentation>
							<xs:appinfo>
								<CallInfo>
									<AllCalls/>
									<Returned>Conditionally</Returned>
								</CallInfo>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="exceptionId" type="xs:token">
						<xs:annotation>
							<xs:documentation>
								Unique identifier for an exception
								associated with an error.
							</xs:documentation>
							<xs:appinfo>
								<CallInfo>
									<AllCalls/>
									<Returned>Conditionally</Returned>
								</CallInfo>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="parameter" type="tns:ErrorParameter">
						<xs:annotation>
							<xs:documentation>
								Some warning and error messages return
								one or more variables that contain
								contextual information about the error.
								This is often the field or value that
								triggered the error.
							</xs:documentation>
							<xs:appinfo>
								<CallInfo>
									<AllCalls/>
									<Returned>Conditionally</Returned>
								</CallInfo>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:complexType>


			<xs:complexType name="ErrorParameter">
				<xs:annotation>
					<xs:documentation>
						Contextual information associated with an error.
					</xs:documentation>
				</xs:annotation>
				<xs:simpleContent>
					<xs:extension base="xs:string">
						<xs:attribute name="name" type="xs:string">
							<xs:annotation>
								<xs:documentation>
									The name of the parameter in the
									list of parameter types returned
									within the error type.
								</xs:documentation>
								<xs:appinfo>
									<CallInfo>
										<AllCalls/>
										<Returned>
											Conditionally
										</Returned>
									</CallInfo>
								</xs:appinfo>
							</xs:annotation>
						</xs:attribute>
					</xs:extension>
				</xs:simpleContent>
			</xs:complexType>



			<xs:simpleType name="AckValue">
				<xs:annotation>
					<xs:documentation>
						Indicates whether the error is a severe error
						(causing the request to fail) or an
						informational error (a warning) that should be
						communicated to the user.
					</xs:documentation>
				</xs:annotation>
				<xs:restriction base="xs:string">
					<xs:enumeration value="Success">
						<xs:annotation>
							<xs:documentation>
								The request was processed successfully,
								but something occurred that may affect
								your application or the user.
							</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="Failure">
						<xs:annotation>
							<xs:documentation>
								The request that triggered the error was
								not processed successfully. When a
								serious application-level error occurs,
								the error is returned instead of the
								business data.
							</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="Warning">
						<xs:annotation>
							<xs:documentation>
								The request that triggered the error was
								processed successfully but with some
								warnings.
							</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="PartialFailure">
						<xs:annotation>
							<xs:documentation>
								The request that triggered the error was
								processed successfully but with some
								warnings.
							</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
				</xs:restriction>
			</xs:simpleType>

			<xs:simpleType name="ErrorSeverity">
				<xs:annotation>
					<xs:documentation>
						Indicates whether the error is a severe error
						(causing the request to fail) or an
						informational error (a warning) that should be
						communicated to the user.
					</xs:documentation>
				</xs:annotation>
				<xs:restriction base="xs:string">
					<xs:enumeration value="Error">
						<xs:annotation>
							<xs:documentation>
								The request that triggered the error was
								not processed successfully. When a
								serious application-level error occurs,
								the error is returned instead of the
								business data.
							</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="Warning">
						<xs:annotation>
							<xs:documentation>
								The request was processed successfully,
								but something occurred that may affect
								your application or the user. For
								example, eBay may have changed a value
								the user sent in. In this case, eBay
								returns a normal, successful response
								and also returns the warning.
							</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
				</xs:restriction>
			</xs:simpleType>

			<xs:simpleType name="ErrorCategory">
				<xs:annotation>
					<xs:documentation>
						There are three categories of error: request
						errors, application errors, and system errors.
						Request and application errors are caused
						primarily by invalid data passed in the request.
						System errors are caused primarily by
						application failures and cannot be corrected by
						changing request values.
					</xs:documentation>
				</xs:annotation>
				<xs:restriction base="xs:string">
					<xs:enumeration value="System">
						<xs:annotation>
							<xs:documentation>
								Indicates that an error has occurred on
								the eBay system side, such as a database
								or server down. An application can retry
								the request as-is a reasonable number of
								times (eBay recommends twice). If the
								error persists, contact Developer
								Technical Support. Once the problem has
								been resolved, the request may be resent
								in its original form.
							</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="Application">
						<xs:annotation>
							<xs:documentation>
								An error occurred due to a problem with
								the request, such as missing or invalid
								fields. The problem must be corrected
								before the request can be made again. If
								the problem is due to something in the
								application (such as a missing required
								field), the application must be changed.
								Once the problem in the application or
								data is resolved, resend the corrected
								request to eBay.
							</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="Request">
						<xs:annotation>
							<xs:documentation>
								An error occurred due to a problem with
								the request, such as invalid or missing
								data. The problem must be corrected
								before the request can be made again. If
								the problem is a result of end-user
								data, the application must alert the
								end-user to the problem and provide the
								means for the end-user to correct the
								data. Once the problem in the data is
								resolved, resend the request to eBay
								with the corrected data.
							</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
				</xs:restriction>
			</xs:simpleType>
			
			<xs:element name="addCategoriesRequest" type="tns:AddCategoriesRequest">
			</xs:element>
			<xs:element name="addCategoriesResponse" type="tns:AddCategoriesResponse">
			</xs:element>

			<xs:complexType name="AddCategoriesRequest">
				<xs:complexContent>
					<xs:extension base="tns:BaseServiceRequest">
						<xs:sequence>
							<xs:element maxOccurs="unbounded" minOccurs="1" name="categories" type="tns:CatalogCategory">
								<xs:annotation>
									<xs:documentation>Objects that hold category details of those categories to be added</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			
			<xs:complexType name="CatalogCategory">
				<xs:sequence>
					<xs:element name="categoryId" type="xs:long">
						<xs:annotation>
							<xs:documentation>
								Unique Id for a category
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="globalId" type="xs:token">
						<xs:annotation>
							<xs:documentation>
								Site Id to which the category can belong
								to
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="categoryName" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								Locale specific name of a category
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="categoryDescription" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								Locale specific description of what type
								of applications a user can expect for a
								category
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="categoryType" type="xs:token">
						<xs:annotation>
							<xs:documentation>
								Category type into which a category can
								be put
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="categoryLevel" type="xs:int">
						<xs:annotation>
							<xs:documentation>
								Level at which a category has to be
								added. Shows if it a parent category or
								a child to some other category
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="parentCategoryId" type="xs:long">
						<xs:annotation>
							<xs:documentation>
								Parent category's unique id value if
								this category is a sub category for
								another category
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="applicationCount" type="xs:int">
						<xs:annotation>
							<xs:documentation>
								Number of applications under a category
							</xs:documentation>
						</xs:annotation>
					</xs:element>

						processContents="lax" /&gt;
					<xs:element maxOccurs="unbounded" minOccurs="0" name="childCategory" type="tns:CatalogCategory"/>
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="AddCategoriesResponse">
				<xs:complexContent>
					<xs:extension base="tns:BaseServiceResponse"/>
				</xs:complexContent>
			</xs:complexType>
			
			<xs:element name="addFeaturedApplicationsRequest" type="tns:AddFeaturedApplicationsRequest">
			</xs:element>
			<xs:element name="addFeaturedApplicationsResponse" type="tns:AddFeaturedApplicationsResponse">
			</xs:element>

			<xs:complexType name="AddFeaturedApplicationsRequest">
				<xs:complexContent>
					<xs:extension base="tns:BaseServiceRequest">
						<xs:sequence>
							<xs:element maxOccurs="unbounded" minOccurs="1" name="featuredApplication" type="tns:FeaturedCatalogApplication">
								<xs:annotation>
									<xs:documentation>List of featured application objects that holds details of applications to be added as featured applications</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			
			<xs:complexType name="FeaturedCatalogApplication">
				<xs:sequence>
					<xs:element name="applicationId" type="xs:long">
						<xs:annotation>
							<xs:documentation>Unique Id of the application that is to be added as a featured application</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="globalId" type="xs:token">
						<xs:annotation>
							<xs:documentation>Site id of the application that is to be added as featured application</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="placementType" type="xs:token">
						<xs:annotation>
							<xs:documentation>Placement of the application as featured application. It is the page in which the application can be displayed as a featured application</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="insertStatus" type="xs:boolean">
						<xs:annotation>
							<xs:documentation>Status of insertion of application as a featured application. Will be true if the insertion was successful and false if insertion was not successful</xs:documentation>
						</xs:annotation>
					</xs:element>

				</xs:sequence>
			</xs:complexType>
			
			<xs:complexType name="AddFeaturedApplicationsResponse">
				<xs:complexContent>
					<xs:extension base="tns:BaseServiceResponse">
						<xs:sequence>
							<xs:element maxOccurs="unbounded" minOccurs="1" name="featuredApplication" type="tns:FeaturedCatalogApplication">
								<xs:annotation>
									<xs:documentation>List of applications give in the request to be added as featured applications along with the insertion status acknowledgement</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			
			<xs:element name="setApplicationCatalogPropertiesRequest" type="tns:SetApplicationCatalogPropertiesRequest">
			</xs:element>
			<xs:element name="setApplicationCatalogPropertiesResponse" type="tns:SetApplicationCatalogPropertiesResponse">
			</xs:element>

			<xs:complexType name="SetApplicationCatalogPropertiesRequest">
				<xs:complexContent>
					<xs:extension base="tns:BaseServiceRequest">
						<xs:sequence>
							<xs:element name="propertyName" type="xs:token">
								<xs:annotation>
									<xs:documentation>Name of the property that is to be set for Application Catalog</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="propertyScope" type="xs:token">
								<xs:annotation>
									<xs:documentation>Scope under which the property being added can be used or accessed</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="propertyValue" type="xs:string">
								<xs:annotation>
									<xs:documentation>Value of the property that is to be set for Application Catalog</xs:documentation>
								</xs:annotation>
							</xs:element>						
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>

			<xs:complexType name="SetApplicationCatalogPropertiesResponse">
				<xs:complexContent>
					<xs:extension base="tns:BaseServiceResponse"/>
				</xs:complexContent>
			</xs:complexType>
			
			<xs:element name="removeFeaturedApplicationsRequest" type="tns:RemoveFeaturedCatalogApplicationsRequest">
			</xs:element>
			<xs:element name="removeFeaturedApplicationsResponse" type="tns:RemoveFeaturedCatalogApplicationsResponse">
			</xs:element>

			<xs:complexType name="RemoveFeaturedCatalogApplicationsRequest">
				<xs:complexContent>
					<xs:extension base="tns:BaseServiceRequest">
						<xs:sequence>
							<xs:element maxOccurs="unbounded" minOccurs="1" name="featuredApplication" type="tns:FeaturedCatalogApplication">
								<xs:annotation>
									<xs:documentation>List of featured applications that are to be deleted as featured applications</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			
			<xs:complexType name="RemoveFeaturedCatalogApplicationsResponse">
				<xs:complexContent>
					<xs:extension base="tns:BaseServiceResponse"/>
				</xs:complexContent>
			</xs:complexType>
			
			<xs:element name="setApplicationStateRequest" type="tns:SetCatalogApplicationStateRequest">
			</xs:element>
			<xs:element name="setApplicationStateResponse" type="tns:SetCatalogApplicationStateResponse">
			</xs:element>

			<xs:complexType name="SetCatalogApplicationStateRequest">
				<xs:complexContent>
					<xs:extension base="tns:BaseServiceRequest">
						<xs:sequence>
							<xs:element name="applicationId" type="xs:long">
									<xs:annotation>
									<xs:documentation>Unique Id of the application for which state has to be changed or set</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="globalId" type="xs:token">
								<xs:annotation>
									<xs:documentation>Site id of the application for which the state has to be modified</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="applicationState" type="xs:token">
								<xs:annotation>
									<xs:documentation>State to which the application's state has to be modified to</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="stateChangeReason" type="xs:string">
								<xs:annotation>
									<xs:documentation>Reason for changing the state of the application</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>

			<xs:complexType name="SetCatalogApplicationStateResponse">
				<xs:complexContent>
					<xs:extension base="tns:BaseServiceResponse"/>
				</xs:complexContent>
			</xs:complexType>
		</xs:schema>
	</wsdl:types>
	
	<wsdl:message name="addCategoriesRequest">
		<wsdl:part element="tns:addCategoriesRequest" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="addCategoriesResponse">
		<wsdl:part element="tns:addCategoriesResponse" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="addFeaturedApplicationsRequest">
		<wsdl:part element="tns:addFeaturedApplicationsRequest" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="addFeaturedApplicationsResponse">
		<wsdl:part element="tns:addFeaturedApplicationsResponse" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="setApplicationCatalogPropertiesRequest">
		<wsdl:part element="tns:setApplicationCatalogPropertiesRequest" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="setApplicationCatalogPropertiesResponse">
		<wsdl:part element="tns:setApplicationCatalogPropertiesResponse" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="removeFeaturedApplicationsRequest">
		<wsdl:part element="tns:removeFeaturedApplicationsRequest" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="removeFeaturedApplicationsResponse">
		<wsdl:part element="tns:removeFeaturedApplicationsResponse" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="setApplicationStateRequest">
		<wsdl:part element="tns:setApplicationStateRequest" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="setApplicationStateResponse">
		<wsdl:part element="tns:setApplicationStateResponse" name="parameters">
		</wsdl:part>
	</wsdl:message>
		
	<wsdl:portType name="AdminApplicationCatalogServicePort">
		<wsdl:operation name="addCategories">
			<wsdl:input message="tns:addCategoriesRequest"/>
			<wsdl:output message="tns:addCategoriesResponse"/>
		</wsdl:operation>
		<wsdl:operation name="addFeaturedApplications">
			<wsdl:input message="tns:addFeaturedApplicationsRequest"/>
			<wsdl:output message="tns:addFeaturedApplicationsResponse"/>
		</wsdl:operation>
		<wsdl:operation name="setApplicationCatalogProperties">
			<wsdl:input message="tns:setApplicationCatalogPropertiesRequest"/>
			<wsdl:output message="tns:setApplicationCatalogPropertiesResponse"/>
		</wsdl:operation>
		<wsdl:operation name="removeFeaturedApplications">
			<wsdl:input message="tns:removeFeaturedApplicationsRequest"/>
			<wsdl:output message="tns:removeFeaturedApplicationsResponse"/>
		</wsdl:operation>
		<wsdl:operation name="setApplicationState">
			<wsdl:input message="tns:setApplicationStateRequest"/>
			<wsdl:output message="tns:setApplicationStateResponse"/>
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="AdminApplicationCatalogServiceHttpBinding" type="tns:AdminApplicationCatalogServicePort">
		<http:binding verb="POST"/>
		<wsdl:operation name="addCategories">
			<http:operation location="AdminApplicationCatalogService/addCategories"/>
			<wsdl:input>
				<mime:content part="addCategories" type="text/xml"/>
			</wsdl:input>
			<wsdl:output>
				<mime:content part="addCategories" type="text/xml"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="addFeaturedApplications">
			<http:operation location="AdminApplicationCatalogService/addFeaturedApplications"/>
			<wsdl:input>
				<mime:content part="addFeaturedApplcations" type="text/xml"/>
			</wsdl:input>
			<wsdl:output>
				<mime:content part="addFeaturedApplications" type="text/xml"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="setApplicationCatalogProperties">
			<http:operation location="AdminApplicationCatalogService/setApplicationCatalogProperties"/>
			<wsdl:input>
				<mime:content part="setApplicationCatalogProperties" type="text/xml"/>
			</wsdl:input>
			<wsdl:output>
				<mime:content part="setApplicationCatalogProperties" type="text/xml"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="removeFeaturedApplications">
			<http:operation location="AdminApplicationCatalogService/removeFeaturedApplicaitons"/>
			<wsdl:input>
				<mime:content part="removeFeaturedApplications" type="text/xml"/>
			</wsdl:input>
			<wsdl:output>
				<mime:content part="removeFeaturedApplications" type="text/xml"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="setApplicationState">
			<http:operation location="AdminApplicationCatalogService/setApplicationState"/>
			<wsdl:input>
				<mime:content part="setApplicationState" type="text/xml"/>
			</wsdl:input>
			<wsdl:output>
				<mime:content part="setApplicationState" type="text/xml"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	
	<wsdl:binding name="AdminApplicationCatalogServiceSOAPBinding" type="tns:AdminApplicationCatalogServicePort">
		<soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="addCategories">
			<soap12:operation soapAction="urn:addCategories" style="document"/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="addFeaturedApplications">
			<soap12:operation soapAction="urn:addFeaturedApplications" style="document"/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="setApplicationCatalogProperties">
			<soap12:operation soapAction="urn:setApplicationCatalogProperties" style="document"/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="removeFeaturedApplications">
			<soap12:operation soapAction="urn:removeFeaturedApplications" style="document"/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="setApplicationState">
			<soap12:operation soapAction="urn:setApplicationState" style="document"/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	
	<wsdl:service name="AdminApplicationCatalogService">
		<wsdl:port binding="tns:AdminApplicationCatalogServiceHttpBinding" name="AdminApplicationCatalogServiceHttp">
			<http:address location="http://svcs.ebay.com/AdminApplicationCatalogService"/>
		</wsdl:port>
		<wsdl:port binding="tns:AdminApplicationCatalogServiceSOAPBinding" name="AdminApplicationCatalogServiceSOAP">
			<soap12:address location="http://svcs.ebay.com/AdminApplicationCatalogService"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>