codegen/codegen-tools/src/test/resources/org/ebayopensource/turmeric/test/tools/codegen/data/proto/ApplicationAuthorizationService_for_tags.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:ns0="http://www.ebayopensource.org/tumeric/services" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.ebayopensource.org/tumeric/services">
	<wsdl:types>
		<xs:schema xmlns:tns="http://www.ebayopensource.org/tumeric/services" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.ebayopensource.org/tumeric/services">
			<xs:complexType abstract="true" name="BaseServiceRequest">
				<xs:annotation>
					<xs:documentation>
						This is the base class for request container for all service operations.
					</xs:documentation>
				</xs:annotation>
				<xs:sequence>

				</xs:sequence>
			</xs:complexType>
			<xs:complexType abstract="true" name="BaseServiceResponse">
				<xs:annotation>
					<xs:documentation>
			Base response container for all service operations. Contains error information
			associated with the request.
		</xs:documentation>
				</xs:annotation>
				<xs:sequence>
					<xs:element name="ack" type="tns:AckValue">
						<xs:annotation>
							<xs:documentation>
					
				</xs:documentation>
							<xs:appinfo>
								<CallInfo>
									<AllCalls/>
									<Returned>Always</Returned>
								</CallInfo>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="errorMessage" type="tns:ErrorMessage">
						<xs:annotation>
							<xs:documentation>
					Information for an error or warning that occurred when eBay processed the
					request.
				</xs:documentation>
							<xs:appinfo>
								<CallInfo>
									<AllCalls/>
									<Returned>Conditionally</Returned>
								</CallInfo>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="version" type="xs:string">
						<xs:annotation>
							<xs:documentation>
				</xs:documentation>
							<xs:appinfo>
								<CallInfo>
									<AllCalls/>
									<Returned>Always</Returned>
								</CallInfo>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="timestamp" type="xs:dateTime">
						<xs:annotation>
							<xs:documentation>
				</xs:documentation>
							<xs:appinfo>
								<CallInfo>
									<AllCalls/>
									<Returned>Always</Returned>
								</CallInfo>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>

				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="BaseApplicationAuthorizationServiceRequest">
				<xs:complexContent>
					<xs:extension base="tns:BaseServiceRequest">
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:complexType name="BaseApplicationAuthorizationServiceResponse">
				<xs:complexContent>
					<xs:extension base="tns:BaseServiceResponse">
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:simpleType name="AckValue">
				<xs:annotation>
					<xs:documentation>
						Indicates whether the error is a severe error (causing the request to fail)
						or an informational error (a warning) that should be communicated to the
						user.
					</xs:documentation>
				</xs:annotation>
				<xs:restriction base="xs:string">
					<xs:enumeration value="Success">
						<xs:annotation>
							<xs:documentation>
								The request was processed successfully, but something occurred that may
								affect your application or the user.				
							</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="Failure">
						<xs:annotation>
							<xs:documentation>
								The request that triggered the error was not processed successfully.
								When a serious application-level error occurs, the error is returned
								instead of the business data.
							</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="Warning">
						<xs:annotation>
							<xs:documentation>
								The request that triggered the error was processed successfully but with some warnings.
							</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="PartialFailure">
						<xs:annotation>
							<xs:documentation>
								The request that triggered the error was processed successfully but with some warnings.
							</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
				</xs:restriction>
			</xs:simpleType>
			<xs:complexType name="ErrorMessage">
				<xs:annotation>
					<xs:documentation>
						ErrorMessage to indicate any Error/Warning occured as part of service call.
						Any run time error will not be reported here, but will be reported aspart of
						soap fault.
					</xs:documentation>
				</xs:annotation>
				<xs:sequence>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="error" type="tns:ErrorData"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="ErrorData">
				<xs:annotation>
					<xs:documentation>
						This represents error details.
					</xs:documentation>
				</xs:annotation>
				<xs:sequence>
					<xs:element name="errorId" type="xs:long"/>
					<xs:element name="domain" type="xs:string"/>
					<xs:element name="severity" type="tns:ErrorSeverity"/>
					<xs:element name="category" type="tns:ErrorCategory"/>
					<xs:element name="message" type="xs:string"/>
					<xs:element minOccurs="0" name="subdomain" type="xs:string"/>
					<xs:element minOccurs="0" name="exceptionId" type="xs:token"/>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="parameter" type="tns:ErrorParameter"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="ErrorParameter">
				<xs:annotation>
					<xs:documentation>
						represent contextual data associated with an error.
					</xs:documentation>
				</xs:annotation>
				<xs:simpleContent>
					<xs:extension base="xs:string">
						<xs:attribute name="name" type="xs:string"/>
					</xs:extension>
				</xs:simpleContent>
			</xs:complexType>
			<xs:simpleType name="ErrorSeverity">
				<xs:annotation>
					<xs:documentation>
						Reprents the level of error. E.g. Error/Warning
					</xs:documentation>
				</xs:annotation>
				<xs:restriction base="xs:string">
					<xs:enumeration value="Error"/>
					<xs:enumeration value="Warning"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType name="ErrorCategory">
				<xs:annotation>
					<xs:documentation>
						Reprents the error catagorization. Request and Application Error are mostly occured due to 
						invalid data passed in request. System Error cannot be fixed by changing request values and 
						mostly occured due to application failure.						 
					</xs:documentation>
				</xs:annotation>
				<xs:restriction base="xs:string">
					<xs:enumeration value="System"/>
					<xs:enumeration value="Application"/>
					<xs:enumeration value="Request"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:complexType name="HasPermissionRequest">
				<xs:complexContent>
					<xs:extension base="tns:BaseApplicationAuthorizationServiceRequest">
						<xs:sequence>
							<xs:element minOccurs="1" name="permissionName" type="xs:token"/>
							<xs:element minOccurs="1" name="operationKey" type="tns:OperationKey"/>
							<xs:element minOccurs="0" name="subjectKey" type="tns:SubjectKey"/>
							<xs:element maxOccurs="1" minOccurs="0" name="securityDomain" type="tns:SecurityDomain">
							</xs:element>
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:complexType name="SubjectKey">
				<xs:annotation>
					<xs:documentation>
						The subject unique key
					</xs:documentation>
				</xs:annotation>
				<xs:sequence>
					<xs:element minOccurs="0" name="subjectName" type="xs:token"/>
					<xs:element minOccurs="0" name="subjectType" type="xs:string"/>
					<xs:element minOccurs="0" name="subjectId" type="xs:long"/>
				</xs:sequence>
			</xs:complexType>
			<!--<xs:simpleType name="ResourceType">
				<xs:restriction base="xs:string">
					<xs:enumeration value="SERVICE"/>
					<xs:enumeration value="WEB"/>
				</xs:restriction>
			</xs:simpleType> -->
			<xs:complexType name="OperationKey">
				<xs:sequence>
					<xs:element minOccurs="0" name="operationId" type="xs:long"/>
					<xs:element minOccurs="0" name="operationName" type="xs:token"/>
					<xs:element name="resourceName" type="xs:token"/>
					<xs:element name="resourceType" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="ResourceKey">
				<xs:sequence>
					<xs:element minOccurs="0" name="resourceId" type="xs:long"/>
					<xs:element name="resourceType" type="xs:string">
            		</xs:element>
					<xs:element minOccurs="0" name="resourceName" type="xs:token"/>
				</xs:sequence>
			</xs:complexType>
			<!--
			<xs:complexType name="OperationKey">
				<xs:annotation>
					<xs:documentation>
						The operation unique key
					</xs:documentation>
				</xs:annotation>
				<xs:sequence>
					<xs:element minOccurs="1" name="operationName" type="xs:token"/>
					<xs:element minOccurs="1" name="resourceName" type="xs:token"/>
					<xs:element minOccurs="1" name="resourceType" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
-->
			<xs:complexType name="OperationType">
				<xs:annotation>
					<xs:documentation>
						The operation object
					</xs:documentation>
				</xs:annotation>
				<xs:sequence>
					<xs:element minOccurs="1" name="operationName" type="xs:token"/>
					<xs:element minOccurs="1" name="resourceName" type="xs:token"/>
					<xs:element minOccurs="1" name="resourceType" type="xs:string"/>
					<xs:element minOccurs="1" name="deleteStatus" type="xs:boolean"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="HasPermissionResponse">
				<xs:complexContent>
					<xs:extension base="tns:BaseApplicationAuthorizationServiceResponse">
						<xs:sequence>
							<xs:element minOccurs="1" name="permitted" type="xs:boolean"/>
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:element name="hasPermissionRequest" nillable="false" type="tns:HasPermissionRequest"/>
			<xs:element name="hasPermissionResponse" nillable="false" type="tns:HasPermissionResponse"/>
			<xs:element name="hasAuthorizeAccessResponse" type="tns:HasAuthorizeAccessResponse"/>
			<xs:element name="hasAuthorizeAccessRequest" type="tns:HasAuthorizeAccessRequest"/>
			<xs:complexType name="HasAuthorizeAccessRequest">
				<xs:complexContent>
					<xs:extension base="tns:BaseApplicationAuthorizationServiceRequest">
						<xs:sequence>
							<xs:element maxOccurs="unbounded" minOccurs="1" name="operationKey" type="tns:OperationKey"/>
							<xs:element minOccurs="0" name="subjectKey" type="tns:SubjectKey"/>
							<xs:element maxOccurs="1" minOccurs="0" name="securityDomain" type="tns:SecurityDomain">
							</xs:element>
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:complexType name="HasAuthorizeAccessResponse">
				<xs:complexContent>
					<xs:extension base="tns:BaseApplicationAuthorizationServiceResponse">
						<xs:sequence>
							<xs:element minOccurs="1" name="authorized" type="xs:boolean"/>
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:element name="getAuthorizedOperationsRequest" type="tns:GetAuthorizedOperationsRequest">
            </xs:element>
			<xs:element name="getAuthorizedOperationsResponse" type="tns:GetAuthorizedOperationsResponse">
            </xs:element>
			<xs:complexType name="GetAuthorizedOperationsRequest">
				<xs:complexContent>
					<xs:extension base="tns:BaseApplicationAuthorizationServiceRequest">
						<xs:sequence>
							<xs:element minOccurs="0" name="subjectKey" type="tns:SubjectKey"/>
							<xs:element maxOccurs="unbounded" minOccurs="0" name="resourceKey" type="tns:ResourceKey">
							</xs:element>
							<xs:element maxOccurs="1" minOccurs="0" name="securityDomain" type="tns:SecurityDomain">
							</xs:element>
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:complexType name="GetAuthorizedOperationsResponse">
				<xs:complexContent>
					<xs:extension base="tns:BaseApplicationAuthorizationServiceResponse">
						<xs:sequence>
							<xs:element maxOccurs="unbounded" minOccurs="0" name="operation" type="tns:OperationKey">
            				</xs:element>
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
		
			<xs:simpleType name="SecurityDomain">
				<xs:restriction base="xs:string">
					<xs:enumeration value="ASAC20"/>
					<xs:enumeration value="ASAC30"/>
				</xs:restriction>
			</xs:simpleType>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="hasPermissionRequest">
		<wsdl:part element="ns0:hasPermissionRequest" name="parameters">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="hasPermissionResponse">
		<wsdl:part element="ns0:hasPermissionResponse" name="parameters">
    </wsdl:part>
	</wsdl:message>
	<wsdl:message name="hasAuthorizeAccessRequest">
		<wsdl:part element="ns0:hasAuthorizeAccessRequest" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="hasAuthorizeAccessResponse">
		<wsdl:part element="ns0:hasAuthorizeAccessResponse" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="getAuthorizedOperationsRequest">
		<wsdl:part element="ns0:getAuthorizedOperationsRequest" name="parameters">
  	</wsdl:part>
	</wsdl:message>
	<wsdl:message name="getAuthorizedOperationsResponse">
		<wsdl:part element="ns0:getAuthorizedOperationsResponse" name="parameters"/>
	</wsdl:message>
	<wsdl:portType name="ApplicationAuthorizationServicePortType">
		<wsdl:operation name="hasPermission">
			<wsdl:input message="ns0:hasPermissionRequest" wsaw:Action="urn:hasPermissionRequest">
    </wsdl:input>
			<wsdl:output message="ns0:hasPermissionResponse" wsaw:Action="urn:hasPermissionResponse">
    </wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="hasAuthorizeAccess">
			<wsdl:input message="ns0:hasAuthorizeAccessRequest" wsaw:Action="urn:hasAuthorizeAccessRequest"/>
			<wsdl:output message="ns0:hasAuthorizeAccessResponse" wsaw:Action="urn:hasAuthorizeAccessRequest"/>
		</wsdl:operation>
		<wsdl:operation name="getAuthorizedOperations">
			<wsdl:input message="ns0:getAuthorizedOperationsRequest" wsaw:Action="urn:getAuthorizedOperationsRequest"/>
			<wsdl:output message="ns0:getAuthorizedOperationsResponse" wsaw:Action="urn:getAuthorizedOperationsRequest"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="ApplicationAuthorizationServiceSoapBinding" type="ns0:ApplicationAuthorizationServicePortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="hasPermission">
			<soap:operation soapAction="urn:hasPermission" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="hasAuthorizeAccess">
			<soap:operation soapAction="urn:hasAuthorizeAccess" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getAuthorizedOperations">
			<soap:operation soapAction="urn:getAuthorizedOperations" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:binding name="ApplicationAuthorizationServiceHttpBinding" type="ns0:ApplicationAuthorizationServicePortType">
		<http:binding verb="POST"/>
		<wsdl:operation name="hasPermission">
			<http:operation location="ApplicationAuthorizationService/hasPermission"/>
			<wsdl:input>
				<mime:content part="hasPermissionRequest" type="text/xml"/>
			</wsdl:input>
			<wsdl:output>
				<mime:content part="hasPermissionResponse" type="text/xml"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="hasAuthorizeAccess">
			<http:operation location="ApplicationAuthorizationService/hasAuthorizeAccess"/>
			<wsdl:input>
				<mime:content part="hasAuthorizeAccessRequest" type="text/xml"/>
			</wsdl:input>
			<wsdl:output>
				<mime:content part="hasAuthorizeAccessResponse" type="text/xml"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getAuthorizedOperations">
			<http:operation location="ApplicationAuthorizationService/getAuthorizedOperations"/>
			<wsdl:input>
				<mime:content part="getAuthorizedOperationsRequest" type="text/xml"/>
			</wsdl:input>
			<wsdl:output>
				<mime:content part="getAuthorizedOperationsResponse" type="text/xml"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="ApplicationAuthorizationService">
		<wsdl:port binding="ns0:ApplicationAuthorizationServiceSoapBinding" name="ApplicationAuthorizationServiceSOAP">
			<soap:address location="http://svcs.ebay.com/ApplicationAuthorizationService"/>
		</wsdl:port>

		<wsdl:port binding="ns0:ApplicationAuthorizationServiceHttpBinding" name="ApplicationAuthorizationServiceHttp">
			<http:address location="http://svcs.ebay.com/ApplicationAuthorizationService"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>