codegen/codegen-tools/src/test/resources/org/ebayopensource/turmeric/test/tools/codegen/data/proto/AsacAdminService_for_tags.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="AsacAdminService"
	targetNamespace="http://www.ebay.com/marketplace/cs/v1/services"
	xmlns="http://schemas.xmlsoap.org/wsdl/"
	xmlns:aas="http://www.ebay.com/marketplace/cs/v1/services"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
	xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/">
	<types>		
		<xs:schema attributeFormDefault="unqualified" 
			elementFormDefault="qualified" 
			targetNamespace="http://www.ebay.com/marketplace/cs/v1/services">
			
			<xs:complexType name="AsacUsers">
				<xs:sequence>
					<xs:element name="asacUser" type="aas:AsacUserDetail" 
						 minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="AsacUserDetail">
				<xs:complexContent>
					<xs:extension base="aas:AsacUser">
						<xs:sequence>
							<xs:element
								name="createionDate" type="xs:dateTime" minOccurs="0" />
							<xs:element
								name="lastModifiedDate" type="xs:dateTime" minOccurs="0" />
							<xs:element
								name="lastSignInDate" type="xs:dateTime" minOccurs="0" />
							<xs:element
								name="passwordUpdateDate" type="xs:dateTime" minOccurs="0" />
							<xs:element
								name="passwordFailureCount" type="xs:int" minOccurs="0" />
							<xs:element
								name="locked" type="xs:boolean" minOccurs="0" />
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:complexType name="AsacUser">
				<xs:sequence>
					<xs:element name="approvedBy"
						type="xs:string" minOccurs="0" />
					<xs:element name="comment"
						type="xs:string" minOccurs="0" />
					<xs:element name="email"
						type="xs:string" minOccurs="0" />
					<xs:element name="employeeNo"
						type="xs:string" minOccurs="0" />
					<xs:element name="expirationDate"
						type="xs:dateTime" minOccurs="0" />
					<xs:element name="firstName"
						type="xs:string" minOccurs="0" />
					<xs:element
						name="forcePasswordExpiration" type="xs:int" minOccurs="0" />
					<xs:element name="justification"
						type="xs:string" minOccurs="0" />
					<xs:element name="lastName"
						type="xs:string" maxOccurs="1" minOccurs="0"/>
					<xs:element name="location"
						type="xs:string" minOccurs="0" />
					<xs:element name="loginName"
						type="xs:token" minOccurs="0" />
					<xs:element name="manager"
						type="xs:string" minOccurs="0" />
					<xs:element name="password"
						type="xs:string" minOccurs="0" />

					
					<xs:element name="passwordNeverExpire"
						type="xs:int" minOccurs="0" />
					<xs:element name="telephone"
						type="xs:string" minOccurs="0" />
					<xs:element name="userId"
						type="xs:long" minOccurs="0" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="UserKey">
				<xs:sequence>
					<xs:element name="userId"
						type="xs:long" minOccurs="0" />
					<xs:element name="loginName"
						type="xs:string" minOccurs="0" />
				</xs:sequence>
			</xs:complexType>

			<xs:element name="createUserRequest" 
				type="aas:CreateUpdateUserRequest" />
			<xs:element name="createUserResponse" 
				type="aas:CreateUpdateUserResponse" />
			<xs:element name="updateUserRequest" 
				type="aas:CreateUpdateUserRequest" />
			<xs:element name="updateUserResponse" 
				type="aas:CreateUpdateUserResponse" />
			<xs:element name="findUsersRequest" 
				type="aas:FindUsersRequest" />
			<xs:element name="findUsersResponse" 
				type="aas:FindUsersResponse" />
			<xs:element name="changePasswordRequest" 
				type="aas:ChangePasswordRequest" />
			<xs:element name="changePasswordResponse" 
				type="aas:ChangePasswordResponse" />

			<xs:complexType name="CreateUpdateUserRequest">
				<xs:complexContent>
					<xs:extension base="aas:BaseServiceRequest">
						<xs:sequence>
							<xs:element name="asacUser"
								type="aas:AsacUser">
							</xs:element>
						</xs:sequence>

					</xs:extension>
				</xs:complexContent>
			</xs:complexType>

			<xs:complexType name="CreateUpdateUserResponse">
				<xs:complexContent>
					<xs:extension base="aas:BaseServiceResponse">
						<xs:sequence>
							<xs:element name="asacUser"
								type="aas:AsacUserDetail">
							</xs:element>
						</xs:sequence>

					</xs:extension>
				</xs:complexContent>
			</xs:complexType>

			<xs:complexType name="FindUsersRequest">
				<xs:complexContent>
					<xs:extension base="aas:BaseServiceRequest">
						<xs:sequence>
							<xs:element name="userKey"
								type="aas:UserKey" minOccurs="0" maxOccurs="unbounded">
							</xs:element>
							<xs:element name="queryString"
								type="xs:string" minOccurs="0" maxOccurs="1">
							</xs:element>
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:complexType name="FindUsersResponse">
				<xs:complexContent>
					<xs:extension base="aas:BaseServiceResponse">
						<xs:sequence>
							<xs:element name="asacUser"
								type="aas:AsacUserDetail" maxOccurs="unbounded" minOccurs="0">
							</xs:element>
						</xs:sequence>

					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:complexType name="ChangePasswordRequest">
				<xs:complexContent>
					<xs:extension base="aas:BaseServiceRequest">
						<xs:sequence>
							<xs:element name="loginName"
								type="xs:string" minOccurs="1" maxOccurs="1">
							</xs:element>
							<xs:element name="oldPasword"
								type="xs:string" maxOccurs="1">
							</xs:element>
							<xs:element name="newPassword"
								type="xs:string" maxOccurs="1">
							</xs:element>

						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:complexType name="ChangePasswordResponse">
				<xs:complexContent>
					<xs:extension base="aas:BaseServiceResponse">
						<xs:sequence>
							<xs:element name="success"
								type="xs:boolean">
							</xs:element>
						</xs:sequence>

					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			
			<xs:simpleType name="AckValue">
				<xs:annotation>
					<xs:documentation>
						Indicates whether the error is a severe error
						(causing the request to fail) or an
						informational error (a warning) that should be
						communicated to the user.
					</xs:documentation>
					<xs:appinfo>
						<typeLibrarySource
							library="MarketPlaceServiceCommonTypeLibrary"
							namespace="http://www.ebay.com/marketplace/services">
						</typeLibrarySource>
					</xs:appinfo>
				</xs:annotation>
				<xs:restriction base="xs:string">

					<xs:enumeration value="Success">
						<xs:annotation>
							<xs:documentation>
								The request was processed successfully,
								but something occurred that may affect
								your application or the user.
							</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="Failure">
						<xs:annotation>

							<xs:documentation>
								The request that triggered the error was
								not processed successfully. When a
								serious application-level error occurs,
								the error is returned instead of the
								business data.
							</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="Warning">
						<xs:annotation>
							<xs:documentation>
								The request that triggered the error was
								processed successfully but with some
								warnings.
							</xs:documentation>

						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="PartialFailure">
						<xs:annotation>
							<xs:documentation>
								The request that triggered the error was
								processed successfully but with some
								warnings.
							</xs:documentation>
						</xs:annotation>
					</xs:enumeration>

				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType name="ErrorCategory">
				<xs:annotation>
					<xs:documentation>
						Documentation goes here.
					</xs:documentation>
					<xs:appinfo>
						<typeLibrarySource
							library="SOACommonTypeLibrary"
							namespace="http://www.ebay.com/marketplace/services">
						</typeLibrarySource>
					</xs:appinfo>
				</xs:annotation>

				<xs:restriction base="xs:token">
					<xs:enumeration value="System"></xs:enumeration>
					<xs:enumeration value="Application"></xs:enumeration>
					<xs:enumeration value="Request"></xs:enumeration>
				</xs:restriction>

			</xs:simpleType>
			<xs:complexType name="ErrorData">
				<xs:annotation>
					<xs:documentation>
						Documentation goes here
					</xs:documentation>

					<xs:appinfo>
						<typeLibrarySource
							library="SOACommonTypeLibrary"
							namespace="http://www.ebay.com/marketplace/services">
						</typeLibrarySource>
					</xs:appinfo>
				</xs:annotation>

				<xs:sequence>
					<xs:element name="errorId" type="xs:long"></xs:element>
					<xs:element name="domain" type="xs:string"></xs:element>
					<xs:element name="subdomain"
						type="xs:string" minOccurs="0">
					</xs:element>
					<xs:element name="severity"
						type="aas:ErrorSeverity">
					</xs:element>
					<xs:element name="category"
						type="aas:ErrorCategory">
					</xs:element>
					<xs:element name="message" type="xs:string"></xs:element>
					<xs:element name="exceptionId"
						type="xs:token" minOccurs="0">
					</xs:element>
					<xs:element name="parameter" type="aas:ErrorParameter" 
						 minOccurs="0" maxOccurs="unbounded">
					</xs:element>
				</xs:sequence>


			</xs:complexType>
			<xs:complexType name="ErrorMessage">
				<xs:annotation>
					<xs:documentation>
						Documentation goes here
					</xs:documentation>

					<xs:appinfo>
						<typeLibrarySource
							library="SOACommonTypeLibrary"
							namespace="http://www.ebay.com/marketplace/services">
						</typeLibrarySource>
					</xs:appinfo>
				</xs:annotation>

				<!-- 
					<xs:sequence>

					processContents="lax" />
					</xs:sequence>
				-->

				<xs:sequence>
					<xs:element name="error" type="aas:ErrorData" 
						 minOccurs="0" maxOccurs="unbounded">
					</xs:element>
				</xs:sequence>

			</xs:complexType>
			<xs:complexType name="ErrorParameter">
				<xs:annotation>
					<xs:documentation>
						Documentation goes here
					</xs:documentation>

					<xs:appinfo>
						<typeLibrarySource
							library="SOACommonTypeLibrary"
							namespace="http://www.ebay.com/marketplace/services">
						</typeLibrarySource>
					</xs:appinfo>
				</xs:annotation>

				<xs:simpleContent>
					<xs:extension base="xs:string">
						<xs:attribute name="name" type="xs:string"
							use="optional">
						</xs:attribute>
					</xs:extension>
				</xs:simpleContent>
			</xs:complexType>
			<xs:simpleType name="ErrorSeverity">
				<xs:annotation>
					<xs:documentation>
						Documentation goes here.
					</xs:documentation>
					<xs:appinfo>
						<typeLibrarySource
							library="SOACommonTypeLibrary"
							namespace="http://www.ebay.com/marketplace/services">
						</typeLibrarySource>
					</xs:appinfo>
				</xs:annotation>

				<xs:restriction base="xs:token">
					<xs:enumeration value="Error"></xs:enumeration>
					<xs:enumeration value="Warning"></xs:enumeration>
				</xs:restriction>

			</xs:simpleType>
			<xs:complexType abstract="true"
				name="BaseServiceRequest">
				<xs:annotation>
					<xs:documentation>
						This is the base class for request container for
						all service operations.
					</xs:documentation>
					<xs:appinfo>
						<typeLibrarySource
							library="MarketPlaceServiceCommonTypeLibrary"
							namespace="http://www.ebay.com/marketplace/services">
						</typeLibrarySource>
					</xs:appinfo>
				</xs:annotation>
				<xs:sequence>

						processContents="lax">

				</xs:sequence>
			</xs:complexType>
			<xs:complexType abstract="true"
				name="BaseServiceResponse">
				<xs:annotation>
					<xs:documentation>
						Base response container for all service
						operations. Contains error information
						associated with the request.
					</xs:documentation>
					<xs:appinfo>
						<typeLibrarySource
							library="MarketPlaceServiceCommonTypeLibrary"
							namespace="http://www.ebay.com/marketplace/services">
						</typeLibrarySource>
					</xs:appinfo>
				</xs:annotation>

				<xs:sequence>
					<xs:element name="ack" type="aas:AckValue">
						<xs:annotation>
							<xs:documentation>

							</xs:documentation>
							<xs:appinfo>
								<CallInfo>
									<AllCalls></AllCalls>
									<Returned>Always</Returned>

								</CallInfo>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="errorMessage"
						type="aas:ErrorMessage" minOccurs="0">
						<xs:annotation>
							<xs:documentation>
								Information for an error or warning that
								occurred when eBay processed the
								request.
							</xs:documentation>

							<xs:appinfo>
								<CallInfo>
									<AllCalls></AllCalls>
									<Returned>Conditionally</Returned>
								</CallInfo>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>

					<xs:element name="version"
						type="xs:string" minOccurs="0">
						<xs:annotation>
							<xs:documentation></xs:documentation>
							<xs:appinfo>
								<CallInfo>
									<AllCalls></AllCalls>
									<Returned>Always</Returned>

								</CallInfo>
							</xs:appinfo>
						</xs:annotation>

					</xs:element>
					<xs:element name="timestamp"
						type="xs:dateTime" minOccurs="0">
						<xs:annotation>
							<xs:documentation></xs:documentation>

							<xs:appinfo>
								<CallInfo>
									<AllCalls></AllCalls>
									<Returned>Always</Returned>
								</CallInfo>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>

						processContents="lax">

				</xs:sequence>
			</xs:complexType>
			
			<xs:element name="getVersionRequest" type="aas:GetVersionRequest"/>
			<xs:complexType name="GetVersionRequest">
				<xs:annotation>
					<xs:documentation />

					<xs:appinfo />
				</xs:annotation>
				<xs:complexContent>
					<xs:extension base="aas:BaseServiceRequest">
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			
			<xs:complexType name="GetVersionResponse">
				<xs:annotation>
					<xs:documentation />

					<xs:appinfo />
				</xs:annotation>
				<xs:complexContent>
					<xs:extension base="aas:BaseServiceResponse">
						<xs:sequence>
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>

			<xs:element name="getVersionResponse" type="aas:GetVersionResponse"/>
		</xs:schema>
	</types>
	<message name="updateUserResponse">
		<part name="updateUserResponse" element="aas:updateUserResponse"></part>
	</message>
	<message name="createUserResponse">
		<part name="createUserResponse" element="aas:createUserResponse"></part>
	</message>
	<message name="createUserRequest">
		<part name="createUserRequest" element="aas:createUserRequest"></part>
	</message>
	<message name="updateUserRequest">
		<part name="updateUserRequest" element="aas:updateUserRequest"></part>
	</message>
	<wsdl:message name="findUsersRequest">
		<wsdl:part name="findUsersRequest" element="aas:findUsersRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="findUsersResponse">
		<wsdl:part name="findUsersResponse" element="aas:findUsersResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="changePasswordRequest">
		<wsdl:part name="changePasswordRequest"
			element="aas:changePasswordRequest">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="changePasswordResponse">
		<wsdl:part name="changePasswordResponse"
			element="aas:changePasswordResponse">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="getVersionRequest">
		<wsdl:part name="getVersionRequest" element="aas:getVersionRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getVersionResponse">
		<wsdl:part name="getVersionResponse" element="aas:getVersionResponse"></wsdl:part>
	</wsdl:message>
	<portType name="AsacAdminServicePort">
		<operation name="createUser">
			<input message="aas:createUserRequest"></input>
			<output message="aas:createUserResponse"></output>
		</operation>
		<operation name="updateUser">
			<input message="aas:updateUserRequest"></input>
			<output message="aas:updateUserResponse"></output>
		</operation>
		<wsdl:operation name="findUsers">
			<wsdl:input message="aas:findUsersRequest"></wsdl:input>
			<wsdl:output message="aas:findUsersResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="changePassword">
			<wsdl:input message="aas:changePasswordRequest"></wsdl:input>
			<wsdl:output message="aas:changePasswordResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getVersion">
			<wsdl:input message="aas:getVersionRequest"></wsdl:input>
			<wsdl:output message="aas:getVersionResponse"></wsdl:output>
		</wsdl:operation>
	</portType>
	<binding name="AsacAdminServiceSOAPBinding"
		type="aas:AsacAdminServicePort">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<operation name="createUser">
			<soap:operation
				soapAction="http://www.ebay.com/marketplace/services/createUser" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="updateUser">
			<soap:operation
				soapAction="http://www.ebay.com/marketplace/services/updateUser" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="findUsers">
			<soap:operation
				soapAction="http://www.ebay.com/marketplace/services/findUsers" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="changePassword">
			<soap:operation
				soapAction="http://www.ebay.com/marketplace/services/changePassword" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
		<operation name="getVersion">
			<soap:operation
				soapAction="http://www.ebay.com/marketplace/services/getVersion" />
			<input>
				<soap:body use="literal" />
			</input>
			<output>
				<soap:body use="literal" />
			</output>
		</operation>
	</binding>
	<binding name="AsacAdminServiceHttpBinding"
		type="aas:AsacAdminServicePort">
		<http:binding verb="POST" />
		<operation name="createUser">
			<http:operation location="/createUser" />
			<input>
				<mime:content part="parameters"
					type="application/x-www-form-urlencoded" />
			</input>
			<output>
				<mime:content part="parameters" type="text/xml" />
			</output>
		</operation>
		<operation name="updateUser">
			<http:operation location="/updateUser" />
			<input>
				<mime:content part="parameters"
					type="application/x-www-form-urlencoded" />
			</input>
			<output>
				<mime:content part="parameters" type="text/xml" />
			</output>
		</operation>
		<operation name="findUsers">
			<http:operation location="/findUsers" />
			<input>
				<mime:content part="parameters"
					type="application/x-www-form-urlencoded" />
			</input>
			<output>
				<mime:content part="parameters" type="text/xml" />
			</output>
		</operation>
		<operation name="changePassword">
			<http:operation location="/changePassword" />
			<input>
				<mime:content part="parameters"
					type="application/x-www-form-urlencoded" />
			</input>
			<output>
				<mime:content part="parameters" type="text/xml" />
			</output>
		</operation>
		<operation name="getVersion">
			<http:operation location="/getVersion" />
			<input>
				<mime:content part="parameters"
					type="application/x-www-form-urlencoded" />
			</input>
			<output>
				<mime:content part="parameters" type="text/xml" />
			</output>
		</operation>
	</binding>
	<service name="AsacAdminService">
		<wsdl:documentation>
			<Version>1.0.0</Version>
			The AsacAdminService provides provisioning operations for client
		</wsdl:documentation>
		<port name="AsacAdminServiceHttpPort"
			binding="aas:AsacAdminServiceHttpBinding">
			<http:address
				location="https://svcs.ebay.com/services/cs/AsacAdminService/v1" />
		</port>
		<port name="AsacAdminServiceSOAPPort"
			binding="aas:AsacAdminServiceSOAPBinding">
			<soap:address
				location="https://svcs.ebay.com/services/cs/AsacAdminService/v1" />
		</port>
	</service>
</definitions>
