codegen/codegen-tools/src/test/resources/org/ebayopensource/turmeric/test/tools/codegen/data/proto/BuildServiceService_for_tags.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="urn:tr2services.turboroller.ebay.com" xmlns:intf="urn:tr2services.turboroller.ebay.com" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:tr2services.turboroller.ebay.com">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:tr2services.turboroller.ebay.com">
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="Result">
    <sequence>
     <element name="errorMessage" type="xsd:string"/>
     <element name="success" type="xsd:boolean"/>
    </sequence>
   </complexType>
   <complexType name="BuildData">
    <sequence>
     <element name="buildName" type="xsd:string"/>
     <element name="buildNumberStr" type="xsd:string"/>
     <element name="buildType" type="xsd:string"/>
     <element name="configSpec" type="xsd:string"/>
     <element name="deploymentEnvironment" type="xsd:string"/>
     <element name="packageName" type="xsd:string"/>
     <element name="trainNumberStr" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="ArrayOfBuildData">
   	<xsd:attribute name="a" type="xsd:string"/>
   </complexType>
   <complexType name="ResultOfBuildServiceListBuilds">
    <complexContent>
     <extension base="impl:Result">
      <sequence>
       <element name="buildData" type="impl:ArrayOfBuildData"/>
      </sequence>
     </extension>
    </complexContent>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="listBuildsRequest">

   </wsdl:message>

   <wsdl:message name="addBuildResponse">

      <wsdl:part name="addBuildReturn" type="xsd:string"/>

   </wsdl:message>

   <wsdl:message name="listBuildsResponse">

      <wsdl:part name="listBuildsReturn" type="impl:ResultOfBuildServiceListBuilds"/>

   </wsdl:message>

   <wsdl:message name="addBuildRequest">

      <wsdl:part name="buildData" type="impl:BuildData"/>

   </wsdl:message>

   <wsdl:portType name="BuildService">

      <wsdl:operation name="listBuilds">

         <wsdl:input message="impl:listBuildsRequest" name="listBuildsRequest"/>

         <wsdl:output message="impl:listBuildsResponse" name="listBuildsResponse"/>

      </wsdl:operation>

      <wsdl:operation name="addBuild" parameterOrder="buildData">

         <wsdl:input message="impl:addBuildRequest" name="addBuildRequest"/>

         <wsdl:output message="impl:addBuildResponse" name="addBuildResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="BuildServiceSoapBinding" type="impl:BuildService">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="listBuilds">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="listBuildsRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:tr2services.turboroller.ebay.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="listBuildsResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:tr2services.turboroller.ebay.com" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addBuild">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addBuildRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:tr2services.turboroller.ebay.com" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="addBuildResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:tr2services.turboroller.ebay.com" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="BuildServiceService">

      <wsdl:port binding="impl:BuildServiceSoapBinding" name="BuildService">

         <wsdlsoap:address location="http://tr2api.vip.ebay.com/TurboRoller/services/BuildService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>