codegen/codegen-tools/src/test/resources/org/ebayopensource/turmeric/test/tools/codegen/data/proto/CalcServiceProtobufInvalidNS.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="Calculator"
	targetNamespace="http://www.ebay.com/marketplace/services" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:xsd="http://www.w3.org/1999/XMLSchema" xmlns:tns="http://www.ebay.com/marketplace/services"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://schemas.xmlsoap.org/wsdl/">
	<wsdl:types>
		<xsd:schema attributeFormDefault="unqualified"
			elementFormDefault="qualified" targetNamespace="http://www.ebay.com/marketplace/services"
			xmlns="http://www.ebay.com/marketplace/services" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:element name="Inparams">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="value1" type="xsd:int" />
						<xsd:element name="value2" type="xsd:int" />
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:complexType abstract="true" name="AXCV">
				<xsd:sequence>
					<xsd:element name="value1" type="xsd:int" />
					<xsd:element name="value2" type="xsd:int" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="WrongSequence">
				<xsd:sequence minOccurs="1">
					<xsd:sequence maxOccurs="1">
						<xsd:choice maxOccurs="1">
							<xsd:element name="value1" type="xsd:int" />
							<xsd:element name="value2" type="xsd:int" />
						</xsd:choice>
					</xsd:sequence>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="AAAAAA">
				<xsd:sequence>
					<xsd:element name="value1">
						<xsd:complexType>
							<xsd:sequence>
								<xsd:any></xsd:any>
								<xsd:element name="elementAtLevel2" type="tns:AXCV">
								</xsd:element>
							</xsd:sequence>
						</xsd:complexType>
					</xsd:element>
					<xsd:element name="value2" type="xsd:long" />
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="AnyNotSupportedType">
				<xsd:anyAttribute></xsd:anyAttribute>
			</xsd:complexType>
			<xsd:complexType name="FieldNotSupportedType">
				<xsd:sequence>
					<xsd:element name="usesfield">

					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="keyElement" type="xsd:string">
				<xsd:key name="KeyA">
					<xsd:selector xpath="Inparams.value1"></xsd:selector>
					<xsd:field xpath="Inparams.value1"></xsd:field>
				</xsd:key>
			</xsd:element>
			<xsd:simpleType name="UsesUnion">
				<xsd:union>
					<xsd:simpleType>
						<xsd:list itemType="xsd:long"></xsd:list>
					</xsd:simpleType>
					<xsd:simpleType>
						<xsd:restriction base="xsd:boolean">
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:union>
			</xsd:simpleType>
			<xsd:complexType name="KeyRefNotSupportedType">
				<xsd:sequence>
					<xsd:element name="usesfield">
						<xsd:keyref name="KeyRefAName" refer="tns:KeyA">
							<xsd:selector xpath="Inparams.value1"></xsd:selector>
							<xsd:field xpath="Inparams.value1"></xsd:field>
						</xsd:keyref>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:element name="Response">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="return" type="xsd:int" />
						<xsd:element name="aMyComplexType">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="value1">
										<xsd:complexType>
											<xsd:sequence>
												<xsd:element name="elementAtLevel2" type="xsd:string">
												</xsd:element>
											</xsd:sequence>
										</xsd:complexType>
									</xsd:element>
									<xsd:element name="value2" type="xsd:long" />
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="Inparams">
		<wsdl:part name="Inparams" element="tns:Inparams" />
	</wsdl:message>
	<wsdl:message name="Response">
		<wsdl:part name="Response" element="tns:Response" />
	</wsdl:message>
	<wsdl:portType name="Calculator">
		<wsdl:operation name="add">
			<wsdl:input name="inparams" message="tns:Inparams" />
			<wsdl:output name="Response" message="tns:Response" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="CalculatorSoapBinding" type="tns:Calculator">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="add">
			<soap:operation soapAction="add" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="CalcService">
		<wsdl:port name="Calculator" binding="tns:CalculatorSoapBinding">
			<soap:address location="http://localhost:8080/calculator" />
			<wswa:UsingAddressing xmlns:wswa="http://www.w3.org/2005/08/addressing/wsdl" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
