codegen/codegen-tools/src/test/resources/org/ebayopensource/turmeric/test/tools/codegen/data/proto/CalPoolDataService_for_tags.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://www.ebayopensource.org/tumeric/logging/v1/services" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xs="http://www.w3.org/2001/XMLSchema" name="CalPoolDataService" targetNamespace="http://www.ebayopensource.org/tumeric/logging/v1/services">
	<wsdl:types>
		<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.ebayopensource.org/tumeric/logging/v1/services">
			<xs:simpleType name="AckValue">
				<xs:annotation>
					<xs:documentation>
						Indicates whether the error is a severe error
						(causing the request to fail) or an
						informational error (a warning) that should be
						communicated to the user.
					</xs:documentation>
					<xs:appinfo>
						<typeLibrarySource library="common-type-library" namespace="http://www.ebayopensource.org/tumeric/services"/>
					</xs:appinfo>
				</xs:annotation>
				<xs:restriction base="xs:string">
					<xs:enumeration value="Success">
						<xs:annotation>
							<xs:documentation>
								The request was processed successfully,
								but something occurred that may affect
								your application or the user.
							</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="Failure">
						<xs:annotation>
							<xs:documentation>
								The request that triggered the error was
								not processed successfully. When a
								serious application-level error occurs,
								the error is returned instead of the
								business data.
							</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="Warning">
						<xs:annotation>
							<xs:documentation>
								The request that triggered the error was
								processed successfully but with some
								warnings.
							</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="PartialFailure">
						<xs:annotation>
							<xs:documentation>
								The request that triggered the error was
								processed successfully but with some
								warnings.
							</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
				</xs:restriction>
			</xs:simpleType>
			<xs:complexType abstract="true" name="BaseServiceRequest">
				<xs:annotation>
					<xs:documentation>
						This is the base class for request container for
						all service operations.
					</xs:documentation>
					<xs:appinfo>
						<typeLibrarySource library="common-type-library" namespace="http://www.ebayopensource.org/tumeric/services"/>
					</xs:appinfo>
				</xs:annotation>
				<xs:sequence>

						processContents="lax" /&gt;
				</xs:sequence>
			</xs:complexType>
			<xs:complexType abstract="true" name="BaseServiceResponse">
				<xs:annotation>
					<xs:documentation>
						Base response container for all service
						operations. Contains error information
						associated with the request.
					</xs:documentation>
					<xs:appinfo>
						<typeLibrarySource library="common-type-library" namespace="http://www.ebayopensource.org/tumeric/services"/>
					</xs:appinfo>
				</xs:annotation>
				<xs:sequence>
					<xs:element name="ack" type="tns:AckValue">
						<xs:annotation>
							<xs:documentation/>
							<xs:appinfo>
								<CallInfo>
									<AllCalls/>
									<Returned>Always</Returned>
								</CallInfo>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="errorMessage" type="tns:ErrorMessage">
						<xs:annotation>
							<xs:documentation>
								Information for an error or warning that
								occurred when eBay processed the
								request.
							</xs:documentation>
							<xs:appinfo>
								<CallInfo>
									<AllCalls/>
									<Returned>Conditionally</Returned>
								</CallInfo>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="version" type="xs:string">
						<xs:annotation>
							<xs:documentation/>
							<xs:appinfo>
								<CallInfo>
									<AllCalls/>
									<Returned>Always</Returned>
								</CallInfo>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="timestamp" type="xs:dateTime">
						<xs:annotation>
							<xs:documentation/>
							<xs:appinfo>
								<CallInfo>
									<AllCalls/>
									<Returned>Always</Returned>
								</CallInfo>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>

						processContents="lax" /&gt;
				</xs:sequence>
			</xs:complexType>
			<xs:simpleType name="ErrorCategory">
				<xs:annotation>
					<xs:documentation>
						Documentation goes here.
					</xs:documentation>
					<xs:appinfo>
						<typeLibrarySource library="common-type-library" namespace="http://www.ebayopensource.org/tumeric/services"/>
					</xs:appinfo>
				</xs:annotation>
				<xs:restriction base="xs:token">
					<xs:enumeration value="System"/>
					<xs:enumeration value="Application"/>
					<xs:enumeration value="Request"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:complexType name="ErrorData">
				<xs:annotation>
					<xs:documentation>
						Documentation goes here
					</xs:documentation>
					<xs:appinfo>
						<typeLibrarySource library="common-type-library" namespace="http://www.ebayopensource.org/tumeric/services"/>
					</xs:appinfo>
				</xs:annotation>
				<xs:sequence>
					<xs:element name="errorId" type="xs:long"/>
					<xs:element name="domain" type="xs:string"/>
					<xs:element minOccurs="0" name="subdomain" type="xs:string"/>
					<xs:element name="severity" type="tns:ErrorSeverity"/>
					<xs:element name="category" type="tns:ErrorCategory"/>
					<xs:element name="message" type="xs:string"/>
					<xs:element minOccurs="0" name="exceptionId" type="xs:token"/>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="parameter" type="tns:ErrorParameter"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="ErrorMessage">
				<xs:annotation>
					<xs:documentation>
						Documentation goes here
					</xs:documentation>
					<xs:appinfo>
						<typeLibrarySource library="common-type-library" namespace="http://www.ebayopensource.org/tumeric/services"/>
					</xs:appinfo>
				</xs:annotation>
				<!-- 
					<xs:sequence>

					processContents="lax" />
					</xs:sequence>
				-->
				<xs:sequence>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="error" type="tns:ErrorData"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="ErrorParameter">
				<xs:annotation>
					<xs:documentation>
						Documentation goes here
					</xs:documentation>
					<xs:appinfo>
						<typeLibrarySource library="common-type-library" namespace="http://www.ebayopensource.org/tumeric/services"/>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleContent>
					<xs:extension base="xs:string">
						<xs:attribute name="name" type="xs:string" use="optional"/>
					</xs:extension>
				</xs:simpleContent>
			</xs:complexType>
			<xs:simpleType name="ErrorSeverity">
				<xs:annotation>
					<xs:documentation>
						Documentation goes here.
					</xs:documentation>
					<xs:appinfo>
						<typeLibrarySource library="common-type-library" namespace="http://www.ebayopensource.org/tumeric/services"/>
					</xs:appinfo>
				</xs:annotation>
				<xs:restriction base="xs:token">
					<xs:enumeration value="Error"/>
					<xs:enumeration value="Warning"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:element name="getPoolListPerColoRequest" type="tns:GetPoolListPerColoRequest"/>
			<xs:complexType name="GetPoolListPerColoRequest">
				<xs:annotation>
					<xs:documentation>
						Document goes here
					</xs:documentation>
				</xs:annotation>
				<xs:complexContent>
					<xs:extension base="tns:BaseServiceRequest">
						<xs:sequence>
							<xs:element maxOccurs="1" minOccurs="1" name="startTime" type="xs:dateTime"/>
							<xs:element maxOccurs="1" minOccurs="1" name="endTime" type="xs:dateTime"/>
							<xs:element name="colocation" type="tns:ColoName">
							</xs:element>
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:element name="getPoolListPerColoResponse" type="tns:GetPoolListPerColoResponse"/>
			<xs:complexType name="GetPoolListPerColoResponse">
				<xs:annotation>
					<xs:documentation>
						Document goes here
					</xs:documentation>
				</xs:annotation>
				<xs:complexContent>
					<xs:extension base="tns:BaseServiceResponse">
						<xs:sequence>
							<xs:element maxOccurs="unbounded" minOccurs="0" name="pool" type="tns:Pool"/>
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:element name="getGlobalPoolListRequest" type="tns:GetGlobalPoolListRequest"/>
			<xs:complexType name="GetGlobalPoolListRequest">
				<xs:annotation>
					<xs:documentation>
						Document goes here
					</xs:documentation>
				</xs:annotation>
				<xs:complexContent>
					<xs:extension base="tns:BaseServiceRequest">
						<xs:sequence>
							<xs:element maxOccurs="1" minOccurs="1" name="startTime" type="xs:dateTime"/>
							<xs:element maxOccurs="1" minOccurs="1" name="endTime" type="xs:dateTime">
							</xs:element>

						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:element name="getGlobalPoolListResponse" type="tns:GetGlobalPoolListResponse"/>
			<xs:complexType name="GetGlobalPoolListResponse">
				<xs:annotation>
					<xs:documentation>
						Document goes here
					</xs:documentation>
				</xs:annotation>
				<xs:complexContent>
					<xs:extension base="tns:BaseServiceResponse">
						<xs:sequence>
							<xs:element maxOccurs="unbounded" minOccurs="0" name="pool" type="tns:Pool"/>
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:element name="getMachineListPerPoolPerColoRequest" type="tns:GetMachineListPerPoolPerColoRequest"/>
			<xs:complexType name="GetMachineListPerPoolPerColoRequest">
				<xs:annotation>
					<xs:documentation>
						Document goes here
					</xs:documentation>
				</xs:annotation>
				<xs:complexContent>
					<xs:extension base="tns:BaseServiceRequest">
						<xs:sequence>
							<xs:element maxOccurs="1" minOccurs="1" name="startTime" type="xs:dateTime"/>
							<xs:element maxOccurs="1" minOccurs="1" name="endTime" type="xs:dateTime">
							</xs:element>
							<xs:element name="colocation" type="tns:ColoName">
							</xs:element>
							<xs:element name="pool" type="tns:Pool">
							</xs:element>
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:element name="getMachineListPerPoolPerColoResponse" type="tns:GetMachineListPerPoolPerColoResponse"/>
			<xs:complexType name="GetMachineListPerPoolPerColoResponse">
				<xs:annotation>
					<xs:documentation>
						Document goes here
					</xs:documentation>
				</xs:annotation>
				<xs:complexContent>
					<xs:extension base="tns:BaseServiceResponse">
						<xs:sequence>
							<xs:element maxOccurs="unbounded" minOccurs="0" name="machine" type="tns:Machine"/>
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:element name="getMachineListPerPoolRequest" type="tns:GetMachineListPerPoolRequest"/>
			<xs:complexType name="GetMachineListPerPoolRequest">
				<xs:annotation>
					<xs:documentation>
						Document goes here
					</xs:documentation>
				</xs:annotation>
				<xs:complexContent>
					<xs:extension base="tns:BaseServiceRequest">
						<xs:sequence>
							<xs:element maxOccurs="1" minOccurs="1" name="startTime" type="xs:dateTime"/>
							<xs:element maxOccurs="1" minOccurs="1" name="endTime" type="xs:dateTime">
							</xs:element>
							<xs:element maxOccurs="1" minOccurs="1" name="pool" type="tns:Pool">
							</xs:element>

						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:element name="getMachineListPerPoolResponse" type="tns:GetMachineListPerPoolResponse"/>
			<xs:complexType name="GetMachineListPerPoolResponse">
				<xs:annotation>
					<xs:documentation>
						Document goes here
					</xs:documentation>
				</xs:annotation>
				<xs:complexContent>
					<xs:extension base="tns:BaseServiceResponse">
						<xs:sequence>
							<xs:element maxOccurs="unbounded" minOccurs="0" name="machine" type="tns:Machine"/>
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>

			<xs:simpleType name="ColoName">
				<xs:restriction base="xs:token">
					<xs:enumeration value="SJC">
						<xs:annotation>
							<xs:documentation>
								SanJose.
							</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="PHX">
						<xs:annotation>
							<xs:documentation>
								Pheonix.
							</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="SMF">
						<xs:annotation>
							<xs:documentation>
								Sacramento.
							</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="DEN">
						<xs:annotation>
							<xs:documentation>Denver.</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="SQW">
						<xs:annotation>
							<xs:documentation>
								Sacramento.
							</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="QSX">
						<xs:annotation>
							<xs:documentation>Denver.</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="SJC_SEC">
						<xs:annotation>
							<xs:documentation>
								SanJose Secure CAL.
							</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
				</xs:restriction>
			</xs:simpleType>
		
			<xs:complexType name="Pool">
				<xs:sequence>
					<xs:element name="name" type="xs:string"/>
					<xs:element name="attr" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
		
			<xs:complexType name="Machine">
				<xs:sequence>
					<xs:element name="name" type="xs:string"/>
					<xs:element name="attr" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
			<xs:element name="getVersionRequest" type="tns:GetVersionRequest">

			</xs:element>
			<xs:element name="getVersionResponse" type="tns:GetVersionResponse">

			</xs:element>

			<xs:complexType name="GetVersionRequest">
				<xs:complexContent>
					<xs:extension base="tns:BaseServiceRequest"/>
				</xs:complexContent>
			</xs:complexType>
		
			<xs:complexType name="GetVersionResponse">
				<xs:complexContent>
					<xs:extension base="tns:BaseServiceResponse"/>
				</xs:complexContent>
			</xs:complexType>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="getPoolListPerColoRequest">
		<wsdl:part element="tns:getPoolListPerColoRequest" name="params"/>
	</wsdl:message>
	<wsdl:message name="getPoolListPerColoResponse">
		<wsdl:part element="tns:getPoolListPerColoResponse" name="params"/>
	</wsdl:message>
	<wsdl:message name="getGlobalPoolListRequest">
		<wsdl:part element="tns:getGlobalPoolListRequest" name="params"/>
	</wsdl:message>
	<wsdl:message name="getGlobalPoolListResponse">
		<wsdl:part element="tns:getGlobalPoolListResponse" name="params"/>
	</wsdl:message>
	<wsdl:message name="getMachineListPerPoolPerColoRequest">
		<wsdl:part element="tns:getMachineListPerPoolPerColoRequest" name="params"/>
	</wsdl:message>
	<wsdl:message name="getMachineListPerPoolPerColoResponse">
		<wsdl:part element="tns:getMachineListPerPoolPerColoResponse" name="params"/>
	</wsdl:message>
	<wsdl:message name="getMachineListPerPoolRequest">
		<wsdl:part element="tns:getMachineListPerPoolRequest" name="params"/>
	</wsdl:message>
	<wsdl:message name="getMachineListPerPoolResponse">
		<wsdl:part element="tns:getMachineListPerPoolResponse" name="params"/>
	</wsdl:message>
	<wsdl:message name="getVersionRequest">
		<wsdl:part element="tns:getVersionRequest" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="getVersionResponse">
		<wsdl:part element="tns:getVersionResponse" name="parameters"/>
	</wsdl:message>
	<wsdl:portType name="CalPoolDataServicePort">
		<wsdl:operation name="getPoolListPerColo">
			<wsdl:input message="tns:getPoolListPerColoRequest"/>
			<wsdl:output message="tns:getPoolListPerColoResponse"/>
		</wsdl:operation>
		<wsdl:operation name="getGlobalPoolList">
			<wsdl:input message="tns:getGlobalPoolListRequest"/>
			<wsdl:output message="tns:getGlobalPoolListResponse"/>
		</wsdl:operation>
		<wsdl:operation name="getMachineListPerPoolPerColo">
			<wsdl:input message="tns:getMachineListPerPoolPerColoRequest"/>
			<wsdl:output message="tns:getMachineListPerPoolPerColoResponse"/>
		</wsdl:operation>
		<wsdl:operation name="getMachineListPerPool">
			<wsdl:input message="tns:getMachineListPerPoolRequest"/>
			<wsdl:output message="tns:getMachineListPerPoolResponse"/>
		</wsdl:operation>
		<wsdl:operation name="getVersion">
			<wsdl:input message="tns:getVersionRequest"/>
			<wsdl:output message="tns:getVersionResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="CalPoolDataServiceHttpBinding" type="tns:CalPoolDataServicePort">
		<http:binding verb="POST"/>
		<wsdl:operation name="getPoolListPerColo">
			<http:operation location="/getPoolListPerColo"/>
			<wsdl:input>
				<mime:content part="params" type="application/x-www-form-urlencoded"/>
			</wsdl:input>
			<wsdl:output>
				<mime:content part="params" type="text/xml"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getGlobalPoolList">
			<http:operation location="/getGlobalPoolList"/>
			<wsdl:input>
				<mime:content part="params" type="application/x-www-form-urlencoded"/>
			</wsdl:input>
			<wsdl:output>
				<mime:content part="params" type="text/xml"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getMachineListPerPoolPerColo">
			<http:operation location="/getMachineListPerPoolPerColo"/>
			<wsdl:input>
				<mime:content part="params" type="application/x-www-form-urlencoded"/>
			</wsdl:input>
			<wsdl:output>
				<mime:content part="params" type="text/xml"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getMachineListPerPool">
			<http:operation location="/getMachineListPerPool"/>
			<wsdl:input>
				<mime:content part="params" type="application/x-www-form-urlencoded"/>
			</wsdl:input>
			<wsdl:output>
				<mime:content part="params" type="text/xml"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getVersion">
			<http:operation location="/getVersion"/>
			<wsdl:input>
				<mime:content part="params" type="application/x-www-form-urlencoded"/>
			</wsdl:input>
			<wsdl:output>
				<mime:content part="params" type="text/xml"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="CalPoolDataServiceSOAPBinding" type="tns:CalPoolDataServicePort">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="getPoolListPerColo">
			<soap:operation soapAction="http://www.ebayopensource.org/tumeric/logging/v1/services/getPoolListPerColo"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getGlobalPoolList">
			<soap:operation soapAction="http://www.ebayopensource.org/tumeric/logging/v1/services/getGlobalPoolList"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getMachineListPerPoolPerColo">
			<soap:operation soapAction="http://www.ebayopensource.org/tumeric/logging/v1/services/getMachineListPerPoolPerColo"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getMachineListPerPool">
			<soap:operation soapAction="http://www.ebayopensource.org/tumeric/logging/v1/services/getMachineListPerPool"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getVersion">
			<soap:operation soapAction="http://www.ebayopensource.org/tumeric/logging/v1/services/getMachineListPerPool"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="CalPoolDataService">
		<wsdl:port binding="tns:CalPoolDataServiceHttpBinding" name="CalPoolDataServiceHttpPort">
			<http:address location="https://svcs.ebay.com/services/logging/v1/CalPoolDataService"/>
		</wsdl:port>
		<wsdl:port binding="tns:CalPoolDataServiceSOAPBinding" name="CalPoolDataServiceSOAPPort">
			<soap12:address location="https://svcs.ebay.com/services/logging/v1/CalPoolDataService"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>