codegen/codegen-tools/src/test/resources/org/ebayopensource/turmeric/test/tools/codegen/data/proto/CalSearchService_for_tags.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="CalSearchService"
	targetNamespace="http://www.ebay.com/marketplace/logging/v1/services"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
	xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
	xmlns:tns="http://www.ebay.com/marketplace/logging/v1/services"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/">
	<wsdl:types>
		<xs:schema attributeFormDefault="unqualified"
			elementFormDefault="qualified"
			targetNamespace="http://www.ebay.com/marketplace/logging/v1/services">
			<xs:simpleType name="AckValue">
				<xs:annotation>
					<xs:documentation>
						Indicates whether the error is a severe error
						(causing the request to fail) or an
						informational error (a warning) that should be
						communicated to the user.
					</xs:documentation>
					<xs:appinfo>
						<typeLibrarySource
							library="MarketPlaceServiceCommonTypeLibrary"
							namespace="http://www.ebay.com/marketplace/services" />
					</xs:appinfo>
				</xs:annotation>
				<xs:restriction base="xs:string">
					<xs:enumeration value="Success">
						<xs:annotation>
							<xs:documentation>
								The request was processed successfully,
								but something occurred that may affect
								your application or the user.
							</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="Failure">
						<xs:annotation>
							<xs:documentation>
								The request that triggered the error was
								not processed successfully. When a
								serious application-level error occurs,
								the error is returned instead of the
								business data.
							</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="Warning">
						<xs:annotation>
							<xs:documentation>
								The request that triggered the error was
								processed successfully but with some
								warnings.
							</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="PartialFailure">
						<xs:annotation>
							<xs:documentation>
								The request that triggered the error was
								processed successfully but with some
								warnings.
							</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
				</xs:restriction>
			</xs:simpleType>
			<xs:complexType abstract="true" name="BaseServiceRequest">
				<xs:annotation>
					<xs:documentation>
						This is the base class for request container for
						all service operations.
					</xs:documentation>
					<xs:appinfo>
						<typeLibrarySource
							library="MarketPlaceServiceCommonTypeLibrary"
							namespace="http://www.ebay.com/marketplace/services" />
					</xs:appinfo>
				</xs:annotation>
				<xs:sequence>

						processContents="lax" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType abstract="true"
				name="BaseServiceResponse">
				<xs:annotation>
					<xs:documentation>
						Base response container for all service
						operations. Contains error information
						associated with the request.
					</xs:documentation>
					<xs:appinfo>
						<typeLibrarySource
							library="MarketPlaceServiceCommonTypeLibrary"
							namespace="http://www.ebay.com/marketplace/services" />
					</xs:appinfo>
				</xs:annotation>
				<xs:sequence>
					<xs:element name="ack" type="tns:AckValue">
						<xs:annotation>
							<xs:documentation />
							<xs:appinfo>
								<CallInfo>
									<AllCalls />
									<Returned>Always</Returned>
								</CallInfo>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="errorMessage"
						type="tns:ErrorMessage" minOccurs="0">
						<xs:annotation>
							<xs:documentation>
								Information for an error or warning that
								occurred when eBay processed the
								request.
							</xs:documentation>
							<xs:appinfo>
								<CallInfo>
									<AllCalls />
									<Returned>Conditionally</Returned>
								</CallInfo>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="version" type="xs:string"
						minOccurs="0">
						<xs:annotation>
							<xs:documentation />
							<xs:appinfo>
								<CallInfo>
									<AllCalls />
									<Returned>Always</Returned>
								</CallInfo>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="timestamp" type="xs:dateTime"
						minOccurs="0">
						<xs:annotation>
							<xs:documentation />
							<xs:appinfo>
								<CallInfo>
									<AllCalls />
									<Returned>Always</Returned>
								</CallInfo>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>

						processContents="lax" />
				</xs:sequence>
			</xs:complexType>
			<xs:simpleType name="ErrorCategory">
				<xs:annotation>
					<xs:documentation>
						Documentation goes here.
					</xs:documentation>
					<xs:appinfo>
						<typeLibrarySource
							library="SOACommonTypeLibrary"
							namespace="http://www.ebay.com/marketplace/services" />
					</xs:appinfo>
				</xs:annotation>
				<xs:restriction base="xs:token">
					<xs:enumeration value="System" />
					<xs:enumeration value="Application" />
					<xs:enumeration value="Request" />
				</xs:restriction>
			</xs:simpleType>
			<xs:complexType name="ErrorData">
				<xs:annotation>
					<xs:documentation>
						Documentation goes here
					</xs:documentation>
					<xs:appinfo>
						<typeLibrarySource
							library="SOACommonTypeLibrary"
							namespace="http://www.ebay.com/marketplace/services" />
					</xs:appinfo>
				</xs:annotation>
				<xs:sequence>
					<xs:element name="errorId" type="xs:long" />
					<xs:element name="domain" type="xs:string" />
					<xs:element name="subdomain" type="xs:string"
						minOccurs="0" />
					<xs:element name="severity"
						type="tns:ErrorSeverity" />
					<xs:element name="category"
						type="tns:ErrorCategory" />
					<xs:element name="message" type="xs:string" />
					<xs:element name="exceptionId" type="xs:token"
						minOccurs="0" />
					<xs:element name="parameter"
						type="tns:ErrorParameter" minOccurs="0" maxOccurs="unbounded" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="ErrorMessage">
				<xs:annotation>
					<xs:documentation>
						Documentation goes here
					</xs:documentation>
					<xs:appinfo>
						<typeLibrarySource
							library="SOACommonTypeLibrary"
							namespace="http://www.ebay.com/marketplace/services" />
					</xs:appinfo>
				</xs:annotation>
				<!-- 
					<xs:sequence>

					processContents="lax" />
					</xs:sequence>
				-->
				<xs:sequence>
					<xs:element name="error" type="tns:ErrorData"
						minOccurs="0" maxOccurs="unbounded" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="ErrorParameter">
				<xs:annotation>
					<xs:documentation>
						Documentation goes here
					</xs:documentation>
					<xs:appinfo>
						<typeLibrarySource
							library="SOACommonTypeLibrary"
							namespace="http://www.ebay.com/marketplace/services" />
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleContent>
					<xs:extension base="xs:string">
						<xs:attribute name="name" type="xs:string"
							use="optional" />
					</xs:extension>
				</xs:simpleContent>
			</xs:complexType>
			<xs:simpleType name="ErrorSeverity">
				<xs:annotation>
					<xs:documentation>
						Documentation goes here.
					</xs:documentation>
					<xs:appinfo>
						<typeLibrarySource
							library="SOACommonTypeLibrary"
							namespace="http://www.ebay.com/marketplace/services" />
					</xs:appinfo>
				</xs:annotation>
				<xs:restriction base="xs:token">
					<xs:enumeration value="Error" />
					<xs:enumeration value="Warning" />
				</xs:restriction>
			</xs:simpleType>
			<xs:element name="calSearchRequest"
				type="tns:CalSearchRequest" />
			<xs:complexType name="CalSearchRequest">
				<xs:annotation>
					<xs:documentation>
						Document goes here
					</xs:documentation>
				</xs:annotation>
				<xs:complexContent>
					<xs:extension base="tns:BaseServiceRequest">
						<xs:sequence>
							<xs:element name="startTime"
								type="xs:dateTime" minOccurs="1" maxOccurs="1" />
							<xs:element name="endTime"
								type="xs:dateTime" minOccurs="1" maxOccurs="1" />
							<xs:element name="urlCmd" type="xs:string"
								minOccurs="0" maxOccurs="1" />
							<xs:element name="colocation"
								type="xs:string" minOccurs="0" maxOccurs="unbounded" />
							<xs:element name="outputHeader"
								type="xs:string" minOccurs="1" maxOccurs="unbounded" />
							<xs:element name="groupByKey"
								type="xs:string" minOccurs="0" maxOccurs="unbounded" />
							<xs:element name="resultsLimitCount"
								type="xs:string" minOccurs="0" maxOccurs="1" />
							<xs:element name="doAggregation"
								type="xs:boolean" minOccurs="0" maxOccurs="1" />
							<xs:element name="pool" type="tns:Pool"
								minOccurs="1" maxOccurs="unbounded">
							</xs:element>
							<xs:element name="indexKeyValue"
								type="tns:KeyValue" minOccurs="0" maxOccurs="unbounded">
							</xs:element>
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:element name="calSearchResponse"
				type="tns:CalSearchResponse" />
			<xs:complexType name="CalSearchResponse">
				<xs:annotation>
					<xs:documentation>
						Document goes here
					</xs:documentation>
				</xs:annotation>
				<xs:complexContent>
					<xs:extension base="tns:BaseServiceResponse">
						<xs:sequence>
							<xs:element name="header" type="xs:string"
								minOccurs="1" maxOccurs="unbounded" />
							<xs:element name="headerDataType"
								type="xs:string" minOccurs="1" maxOccurs="unbounded" />
							<xs:element name="resultRow"
								type="tns:ResultRow" minOccurs="0" maxOccurs="unbounded">
							</xs:element>
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:element name="calSearchAggregatorRequest"
				type="tns:CalSearchRequest" />

			<xs:element name="calSearchAggregatorResponse"
				type="tns:CalSearchResponse" />

			<xs:complexType name="Pool">
				<xs:sequence>
					<xs:element name="name" type="xs:string" />
					<xs:element name="attr" type="xs:string" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="KeyValue">
				<xs:sequence>
					<xs:element name="key" type="xs:string" />
					<xs:element name="value" type="xs:string" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="ResultRow">
				<xs:sequence>
					<xs:element name="value" type="xs:string"
						minOccurs="0" maxOccurs="unbounded">
					</xs:element>
				</xs:sequence>
			</xs:complexType>

			<xs:element name="getVersionRequest"
				type="tns:GetVersionRequest">

			</xs:element>
			<xs:element name="getVersionResponse"
				type="tns:GetVersionResponse">

			</xs:element>

			<xs:complexType name="GetVersionRequest">
				<xs:complexContent>
					<xs:extension base="tns:BaseServiceRequest"></xs:extension>
				</xs:complexContent>
			</xs:complexType>

			<xs:complexType name="GetVersionResponse">
				<xs:complexContent>
					<xs:extension base="tns:BaseServiceResponse"></xs:extension>
				</xs:complexContent>
			</xs:complexType>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="calSearchRequest">
		<wsdl:part name="params" element="tns:calSearchRequest">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="calSearchAggregatorResponse">
		<wsdl:part name="params"
			element="tns:calSearchAggregatorResponse">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="calSearchAggregatorRequest">
		<wsdl:part name="params"
			element="tns:calSearchAggregatorRequest">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="calSearchResponse">
		<wsdl:part name="params" element="tns:calSearchResponse">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="getVersionRequest">
		<wsdl:part name="parameters" element="tns:getVersionRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getVersionResponse">
		<wsdl:part name="parameters" element="tns:getVersionResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:portType name="CalSearchServicePort">
		<wsdl:operation name="calSearch">
			<wsdl:input message="tns:calSearchRequest"></wsdl:input>
			<wsdl:output message="tns:calSearchResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="calSearchAggregator">
			<wsdl:input message="tns:calSearchAggregatorRequest">
			</wsdl:input>
			<wsdl:output message="tns:calSearchAggregatorResponse">
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getVersion">
			<wsdl:input message="tns:getVersionRequest"></wsdl:input>
			<wsdl:output message="tns:getVersionResponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="CalSearchServiceSOAPBinding"
		type="tns:CalSearchServicePort">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="calSearch">
			<soap:operation
				soapAction="http://www.ebay.com/marketplace/logging/v1/services/calSearch" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="calSearchAggregator">
			<soap:operation
				soapAction="http://www.ebay.com/marketplace/logging/v1/services/calSearchAggregator" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getVersion">
			<soap:operation
				soapAction="http://www.ebay.com/marketplace/logging/v1/services/getVersion" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="CalSearchServiceHttpBinding"
		type="tns:CalSearchServicePort">
		<http:binding verb="POST" />
		<wsdl:operation name="calSearch">
			<http:operation location="/calSearch" />
			<wsdl:input>
				<mime:content part="params"
					type="application/x-www-form-urlencoded" />
			</wsdl:input>
			<wsdl:output>
				<mime:content part="params" type="text/xml" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="calSearchAggregator">
			<http:operation location="/calSearchAggregator" />
			<wsdl:input>
				<mime:content part="params"
					type="application/x-www-form-urlencoded" />
			</wsdl:input>
			<wsdl:output>
				<mime:content part="params" type="text/xml" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getVersion">
			<http:operation location="/getVersion" />
			<wsdl:input>
				<mime:content part="params"
					type="application/x-www-form-urlencoded" />
			</wsdl:input>
			<wsdl:output>
				<mime:content part="params" type="text/xml" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="CalSearchService">
		<wsdl:port name="CalSearchServiceHttpPort"
			binding="tns:CalSearchServiceHttpBinding">
			<http:address
				location="https://svcs.ebay.com/services/logging/v1/CalSearchService" />
		</wsdl:port>
		<wsdl:port name="CalSearchServiceSOAPPort"
			binding="tns:CalSearchServiceSOAPBinding">
			<soap12:address
				location="https://svcs.ebay.com/services/logging/v1/CalSearchService" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
