codegen/codegen-tools/src/test/resources/org/ebayopensource/turmeric/test/tools/codegen/data/proto/CatalogContentService_for_tags.wsdl

<?xml version="1.0" encoding="UTF-8"?><definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://www.ebayopensource.org/tumeric/tumeric/v1/services" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CatalogContentService" targetNamespace="http://www.ebayopensource.org/tumeric/tumeric/v1/services">
<wsdl:documentation/>
  <types>
    <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.ebayopensource.org/tumeric/tumeric/v1/services">
								
			<xs:element name="getProductDetailsResponse" type="tns:GetProductDetailsResponse"/>
			<xs:complexType name="GetProductDetailsResponse">
				<xs:complexContent>
					<xs:extension base="tns:BaseResponse">
						<xs:sequence>
							<xs:element maxOccurs="unbounded" minOccurs="0" name="product" type="tns:Product"/>
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
		

			<xs:element name="getProductDetailsRequest" type="tns:GetProductDetailsRequest"/>
			<xs:complexType name="GetProductDetailsRequest">
				<xs:annotation>
					<xs:documentation>
						This is the request object for getProductDetails
						operation
					</xs:documentation>
				</xs:annotation>
				<xs:complexContent>
					<xs:extension base="tns:BaseRequest">
						<xs:sequence>
							<xs:element maxOccurs="unbounded" minOccurs="1" name="productDetailsRequest" type="tns:ProductDetailsRequest"/>
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			
			
		<xs:element name="addProductInfoRequest" type="tns:AddProductInfoRequest"/>
			<xs:complexType name="AddProductInfoRequest">
				<xs:annotation>
					<xs:documentation>
						This is the request object for getProductDetails
						operation
					</xs:documentation>
				</xs:annotation>
				<xs:complexContent>
					<xs:extension base="tns:BaseRequest">
						<xs:sequence>
							<xs:element maxOccurs="unbounded" minOccurs="1" name="addInfoRequest" type="tns:AddInfoRequest"/>
							<xs:element maxOccurs="1" minOccurs="1" name="source" type="xs:token"/> 
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			
			<xs:element name="addProductInfoResponse" type="tns:AddProductInfoResponse"/>
			<xs:complexType name="AddProductInfoResponse">
				<xs:annotation>
					<xs:documentation>
						This is the request object for getProductDetails
						operation
					</xs:documentation>
				</xs:annotation>
				<xs:complexContent>
					<xs:extension base="tns:BaseResponse">
						<xs:sequence>
							<xs:element maxOccurs="unbounded" minOccurs="1" name="addInfoResponse" type="tns:AddInfoResponse"/>
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			
			
			<xs:element name="getProductInfoRequest" type="tns:GetProductInfoRequest"/>
			<xs:complexType name="GetProductInfoRequest">
				<xs:annotation>
					<xs:documentation>
						This is the request object for getProductDetails
						operation
					</xs:documentation>
				</xs:annotation>
				<xs:complexContent>
					<xs:extension base="tns:BaseRequest">
						<xs:sequence>
							<xs:element maxOccurs="unbounded" minOccurs="1" name="getInfoRequest" type="tns:GetInfoRequest"/>
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			
			<xs:element name="getProductInfoResponse" type="tns:GetProductInfoResponse"/>
			<xs:complexType name="GetProductInfoResponse">
				<xs:annotation>
					<xs:documentation>
						This is the request object for getProductDetails
						operation
					</xs:documentation>
				</xs:annotation>
				<xs:complexContent>
					<xs:extension base="tns:BaseResponse">
						<xs:sequence>
							<xs:element maxOccurs="unbounded" minOccurs="1" name="getInfoResponse" type="tns:GetInfoResponse"/>
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			
		    <xs:element name="getVersionRequest" type="tns:GetVersionRequest"/>
				
			<xs:complexType name="GetVersionRequest">
				<xs:annotation>
					<xs:documentation>
						Document goes here
					</xs:documentation>
				</xs:annotation>
				<xs:complexContent>
					<xs:extension base="tns:BaseRequest">
						<xs:sequence/>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			
			<xs:element name="getVersionResponse" type="tns:GetVersionResponse"/>
			<xs:complexType name="GetVersionResponse">
				<xs:annotation>
					<xs:documentation>
						Document goes here
					</xs:documentation>
				</xs:annotation>
				<xs:complexContent>
					<xs:extension base="tns:BaseResponse">
						<xs:sequence/>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
		
		   <xs:complexType name="GetInfoResponse">
				<xs:sequence>
					<xs:element maxOccurs="1" minOccurs="1" name="epid" type="xs:string"/>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="productInfo" type="tns:ProductInfo"/>
				</xs:sequence>
			</xs:complexType>
			
			
			<xs:complexType name="GetInfoRequest">
				<xs:sequence>
					<xs:element maxOccurs="1" minOccurs="1" name="productIdentifier" type="tns:ProductIdentifier">
						<xs:annotation>
							<xs:documentation>
								The ProductIdentifierType and a value
								for one of the supported
								ProductIdentifierTypes which are unique
								across all sites (ePID, MementoString
								etc)
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element maxOccurs="unbounded" minOccurs="1" name="requestedProductInformation" type="tns:RequestedProductInformation">
					</xs:element>
				</xs:sequence>
			</xs:complexType>
		
			<xs:complexType name="RequestedProductInformation">
				<xs:sequence>
					<xs:element maxOccurs="1" minOccurs="1" name="source" type="xs:token">
					</xs:element>
					<xs:element maxOccurs="1" minOccurs="0" name="saleType" type="xs:token">
					</xs:element>
					<xs:element maxOccurs="1" minOccurs="0" name="itemCondition" type="xs:token">
					</xs:element>
					<xs:element maxOccurs="1" minOccurs="0" name="productInformationName" type="xs:string">
					</xs:element>
					<xs:element maxOccurs="1" minOccurs="1" name="startDate" type="xs:date"/>
					<xs:element maxOccurs="1" minOccurs="1" name="endDate" type="xs:date"/>
					<xs:element maxOccurs="1" minOccurs="1" name="desiredDateGranularity" type="xs:int"/>

				</xs:sequence>
			</xs:complexType>
			
		    <xs:complexType name="AddInfoResponse">
				<xs:sequence>
					<xs:element maxOccurs="1" minOccurs="0" name="invocationId" type="xs:string"/> 
				</xs:sequence>
			</xs:complexType>
			
			
			<xs:complexType name="AddInfoRequest">
				<xs:sequence>
					<xs:element maxOccurs="1" minOccurs="0" name="invocationId" type="xs:string"/> 
					<xs:element maxOccurs="1" minOccurs="1" name="productIdentifier" type="tns:ProductIdentifier">
						<xs:annotation>
							<xs:documentation>
								The ProductIdentifierType and a value
								for one of the supported
								ProductIdentifierTypes which are unique
								across all sites (ePID, MementoString
								etc)
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element maxOccurs="unbounded" minOccurs="1" name="productInformation" type="tns:ProductInformationNameValue">
					</xs:element>
				</xs:sequence>
			</xs:complexType>
			
			
			<xs:complexType name="ProductInformationNameValue">
				<xs:sequence>
					<xs:element maxOccurs="1" minOccurs="1" name="saleType" type="xs:token">
					</xs:element>
					<xs:element maxOccurs="1" minOccurs="1" name="itemCondition" type="xs:token">
					</xs:element>
					<xs:element maxOccurs="1" minOccurs="1" name="valueType" type="xs:token">
					</xs:element>
					<xs:element maxOccurs="1" minOccurs="1" name="productInformationName" type="xs:string">
					</xs:element>
					<xs:element maxOccurs="1" minOccurs="1" name="productInformationNumericValue" type="xs:decimal">
					</xs:element>
					<xs:element maxOccurs="1" minOccurs="1" name="date" type="xs:date"/>
					
					<xs:element maxOccurs="1" minOccurs="1" name="numberOfDays" type="xs:int"/>
				</xs:sequence>
			</xs:complexType>
		

			<xs:complexType name="ProductDetailsRequest">
				<xs:sequence>
					<!-- what is dataset? -->
					<xs:element maxOccurs="unbounded" minOccurs="0" name="datasetPropertyName" type="xs:string"/>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="dataset" type="xs:token">
						<xs:annotation>
							<xs:documentation/>
						</xs:annotation>
					</xs:element>

					<xs:element maxOccurs="1" minOccurs="0" name="productStatusFilter" type="tns:ProductStatus"/>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="productInfoRequest" type="tns:RequestedProductInformation">
					</xs:element>
				   <xs:element maxOccurs="1" minOccurs="1" name="productIdentifier" type="tns:ProductIdentifier">
						<xs:annotation>
							<xs:documentation>
								The ProductIdentifierType and a value
								for one of the supported
								ProductIdentifierTypes which are unique
								across all sites (ePID, MementoString
								etc)
							</xs:documentation>
						</xs:annotation>
					</xs:element>

				</xs:sequence>
			</xs:complexType>
			<xs:simpleType name="AckValue">
				<xs:annotation>
					<xs:documentation>
						Indicates whether the error is a severe error
						(causing the request to fail) or an
						informational error (a warning) that should be
						communicated to the user.
					</xs:documentation>
					<xs:appinfo>
						<typeLibrarySource library="common-type-library" namespace="http://www.ebayopensource.org/tumeric/services"/>
					</xs:appinfo>
				</xs:annotation>
				<xs:restriction base="xs:string">
					<xs:enumeration value="Success">
						<xs:annotation>
							<xs:documentation>
								The request was processed successfully,
								but something occurred that may affect
								your application or the user.
							</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="Failure">
						<xs:annotation>
							<xs:documentation>
								The request that triggered the error was
								not processed successfully. When a
								serious application-level error occurs,
								the error is returned instead of the
								business data.
							</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="Warning">
						<xs:annotation>
							<xs:documentation>
								The request that triggered the error was
								processed successfully but with some
								warnings.
							</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="PartialFailure">
						<xs:annotation>
							<xs:documentation>
								The request that triggered the error was
								processed successfully but with some
								warnings.
							</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
				</xs:restriction>
			</xs:simpleType>
			<xs:complexType abstract="true" name="BaseRequest">
				<xs:annotation>
					<xs:documentation>
						This is the base class for request container for
						all service operations.
					</xs:documentation>
					<xs:appinfo>
						<typeLibrarySource library="common-type-library" namespace="http://www.ebayopensource.org/tumeric/services"/>
					</xs:appinfo>
				</xs:annotation>
				<xs:sequence>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="extension" type="tns:ExtensionType"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType abstract="true" name="BaseResponse">
				<xs:annotation>
					<xs:documentation>
						Base response container for all service
						operations. Contains error information
						associated with the request.
					</xs:documentation>
					<xs:appinfo>
						<typeLibrarySource library="common-type-library" namespace="http://www.ebayopensource.org/tumeric/services"/>
					</xs:appinfo>
				</xs:annotation>
				<xs:sequence>
					<xs:element name="ack" type="tns:AckValue">
						<xs:annotation>
							<xs:documentation/>
							<xs:appinfo>
								<CallInfo>
									<AllCalls/>
									<Returned>Always</Returned>
								</CallInfo>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="errorMessage" type="tns:ErrorMessage">
						<xs:annotation>
							<xs:documentation>
								Information for an error or warning that
								occurred when eBay processed the
								request.
							</xs:documentation>
							<xs:appinfo>
								<CallInfo>
									<AllCalls/>
									<Returned>Conditionally</Returned>
								</CallInfo>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="version" type="xs:string">
						<xs:annotation>
							<xs:documentation/>
							<xs:appinfo>
								<CallInfo>
									<AllCalls/>
									<Returned>Always</Returned>
								</CallInfo>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="timestamp" type="xs:dateTime">
						<xs:annotation>
							<xs:documentation/>
							<xs:appinfo>
								<CallInfo>
									<AllCalls/>
									<Returned>Always</Returned>
								</CallInfo>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="extension" type="tns:ExtensionType"/>
				</xs:sequence>
			</xs:complexType>
			<xs:simpleType name="ErrorCategory">
				<xs:annotation>
					<xs:documentation>
						Documentation goes here.
					</xs:documentation>
					<xs:appinfo>
						<typeLibrarySource library="common-type-library" namespace="http://www.ebayopensource.org/tumeric/services"/>
					</xs:appinfo>
				</xs:annotation>
				<xs:restriction base="xs:token">
					<xs:enumeration value="System"/>
					<xs:enumeration value="Application"/>
					<xs:enumeration value="Request"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:complexType name="ErrorData">
				<xs:annotation>
					<xs:documentation>
						Documentation goes here
					</xs:documentation>
					<xs:appinfo>
						<typeLibrarySource library="common-type-library" namespace="http://www.ebayopensource.org/tumeric/services"/>
					</xs:appinfo>
				</xs:annotation>
				<xs:sequence>
					<xs:element name="errorId" type="xs:long"/>
					<xs:element name="domain" type="xs:string"/>
					<xs:element minOccurs="0" name="subdomain" type="xs:string"/>
					<xs:element name="severity" type="tns:ErrorSeverity"/>
					<xs:element name="category" type="tns:ErrorCategory"/>
					<xs:element name="message" type="xs:string"/>
					<xs:element minOccurs="0" name="exceptionId" type="xs:token"/>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="parameter" type="tns:ErrorParameter"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="ErrorMessage">
				<xs:annotation>
					<xs:documentation>
						Documentation goes here
					</xs:documentation>
					<xs:appinfo>
						<typeLibrarySource library="common-type-library" namespace="http://www.ebayopensource.org/tumeric/services"/>
					</xs:appinfo>
				</xs:annotation>
				<!-- 
					<xs:sequence>

					processContents="lax" />
					</xs:sequence>
				-->
				<xs:sequence>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="error" type="tns:ErrorData"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="ErrorParameter">
				<xs:annotation>
					<xs:documentation>
						Documentation goes here
					</xs:documentation>
					<xs:appinfo>
						<typeLibrarySource library="common-type-library" namespace="http://www.ebayopensource.org/tumeric/services"/>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleContent>
					<xs:extension base="xs:string">
						<xs:attribute name="name" type="xs:string" use="optional"/>
					</xs:extension>
				</xs:simpleContent>
			</xs:complexType>
			<xs:simpleType name="ErrorSeverity">
				<xs:annotation>
					<xs:documentation>
						Documentation goes here.
					</xs:documentation>
					<xs:appinfo>
						<typeLibrarySource library="common-type-library" namespace="http://www.ebayopensource.org/tumeric/services"/>
					</xs:appinfo>
				</xs:annotation>
				<xs:restriction base="xs:token">
					<xs:enumeration value="Error"/>
					<xs:enumeration value="Warning"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:complexType name="ExtensionType">
				<xs:annotation>
					<xs:documentation>
						Documentation goes here
					</xs:documentation>
					<xs:appinfo>
						<typeLibrarySource library="common-type-library" namespace="http://www.ebayopensource.org/tumeric/services"/>
					</xs:appinfo>
				</xs:annotation>
				<xs:sequence>
					<xs:element name="id" type="xs:positiveInteger"/>
					<xs:element name="version" type="xs:string"/>
					<xs:element name="contentType" type="xs:string"/>
					<xs:element name="value" type="xs:string"/>

						processContents="lax" /&gt;
				</xs:sequence>
			</xs:complexType>
			
			

			<xsd:complexType name="PaginationInput">
				<xsd:annotation>
					<xsd:appinfo>
						<typeLibrarySource library="common-type-library" namespace="http://www.ebayopensource.org/tumeric/services"/>
					</xsd:appinfo>
				</xsd:annotation>
				<xsd:sequence>
					<xsd:element minOccurs="0" name="pageNumber" type="xsd:int"/>
					<xsd:element minOccurs="0" name="entriesPerPage" type="xsd:int"/>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="PaginationOutput">
				<xsd:annotation>
					<xsd:appinfo>
						<typeLibrarySource library="common-type-library" namespace="http://www.ebayopensource.org/tumeric/services"/>
					</xsd:appinfo>
				</xsd:annotation>
				<xsd:sequence>
					<xsd:element minOccurs="0" name="totalPages" type="xsd:int"/>
					<xsd:element minOccurs="0" name="totalEntries" type="xsd:int"/>
					<xsd:element minOccurs="0" name="pageNumber" type="xsd:int"/>
					<xsd:element minOccurs="0" name="entriesPerPage" type="xsd:int"/>
				</xsd:sequence>
			</xsd:complexType>


			<xs:simpleType name="OrderType">
				<xs:annotation>
					<xs:documentation>
						Defines the order type as Ascending or
						Descending
					</xs:documentation>
					<xs:appinfo>
						<typeLibrarySource library="common-type-library" namespace="http://www.ebayopensource.org/tumeric/tumeric/v1/services">
						</typeLibrarySource>
					</xs:appinfo>
				</xs:annotation>
				<xs:restriction base="xs:string">
					<xs:enumeration value="Ascending"/>
					<xs:enumeration value="Descending"/>
				</xs:restriction>
			</xs:simpleType>



			<xs:complexType name="Properties">
				<xs:annotation>
					<xs:appinfo>
						<typeLibrarySource library="common-type-library" namespace="http://www.ebayopensource.org/tumeric/tumeric/v1/services">
						</typeLibrarySource>
					</xs:appinfo>
				</xs:annotation>
				<xs:sequence>
					<xs:element maxOccurs="1" minOccurs="0" name="metadataVersion" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								Version information reflects the latest
								update of the properties or values.
							</xs:documentation>
						</xs:annotation>
					</xs:element>

					<xs:element maxOccurs="unbounded" minOccurs="0" name="propertyName" type="tns:Property">
					</xs:element>
					<xs:element maxOccurs="1" minOccurs="1" name="dataset" type="xs:token">
					</xs:element>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="Property">
				<xs:annotation>
					<xs:appinfo>
						<typeLibrarySource library="common-type-library" namespace="http://www.ebayopensource.org/tumeric/tumeric/v1/services">
						</typeLibrarySource>
					</xs:appinfo>
				</xs:annotation>
				<xs:sequence>
					<xs:element maxOccurs="1" minOccurs="1" name="propertyName" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								This is the canonical name of the
								property. Used to identify a property
								within a catalog that this category
								belongs to.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element maxOccurs="1" minOccurs="0" name="propertyNameMetadata" type="tns:PropertyNameMetadata">
					</xs:element>
					<xs:element maxOccurs="1" minOccurs="0" name="propertyDisplayName" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								This will be the display name of the
								property
							</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="PropertyNameMetadata">
				<xs:annotation>
					<xs:documentation>
						This will contain any metadata about the propert
						name.
					</xs:documentation>
					<xs:appinfo>
						<typeLibrarySource library="common-type-library" namespace="http://www.ebayopensource.org/tumeric/tumeric/v1/services">
						</typeLibrarySource>
					</xs:appinfo>
				</xs:annotation>
				<xs:sequence>
					<xs:element maxOccurs="1" minOccurs="0" name="displaySequence" type="xs:int">
					</xs:element>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="PropertyNameValue">
				<xs:annotation>
					<xs:appinfo>
						<typeLibrarySource library="common-type-library" namespace="http://www.ebayopensource.org/tumeric/tumeric/v1/services">
						</typeLibrarySource>
					</xs:appinfo>
				</xs:annotation>
				<xs:sequence>
					<xs:element maxOccurs="1" minOccurs="0" name="propertyName" type="xs:string">
					</xs:element>
					<xs:element maxOccurs="1" minOccurs="0" name="value" type="tns:Value">
					</xs:element>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="childPropertyNameValue" type="tns:PropertyNameValue">
					</xs:element>
				</xs:sequence>
			</xs:complexType>

					
			<xs:complexType name="ProductInfoRequest">
				<xs:sequence>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="sourceFilter" type="xs:token">
					</xs:element>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="requestedTrend" type="xs:token">
					</xs:element>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="propertyFilter" type="xs:token">
					</xs:element>
					<xs:element maxOccurs="1" minOccurs="0" name="trendStartDate" type="xs:dateTime">
					</xs:element>
					<xs:element maxOccurs="1" minOccurs="0" name="trendNumberOfDays" type="xs:int">
					</xs:element>
				</xs:sequence>
			</xs:complexType>
			
			<xs:complexType name="TrendRecord">
				<xs:annotation>
					<xs:documentation>
						This defines the price trend for differnt item formats and conditons.
					</xs:documentation>
				</xs:annotation>
				<xs:sequence>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="trend" type="tns:TrendData">
						<xs:annotation>
							<xs:documentation>
								The data for a specific day.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:complexType>


		   <xs:complexType name="ProductInfoResponse">
				<xs:sequence>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="source" type="xs:token">
					</xs:element>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="requestedTrend" type="xs:token">
					</xs:element>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="propertyFilter" type="xs:token">
					</xs:element>
					<xs:element maxOccurs="1" minOccurs="0" name="trendStartDate" type="xs:dateTime">
					</xs:element>
					<xs:element maxOccurs="1" minOccurs="0" name="trendNumberOfDays" type="xs:int">
					</xs:element>
				</xs:sequence>
			</xs:complexType>
			
			<xs:complexType name="ProductInfo">
				<xs:sequence>
					<xs:element maxOccurs="1" minOccurs="1" name="propertyName" type="xs:token">
					</xs:element>
					<xs:element maxOccurs="1" minOccurs="1" name="saleType" type="xs:token">
					</xs:element>
					<xs:element maxOccurs="1" minOccurs="1" name="itemCondition" type="xs:token">
					</xs:element>
					<xs:element maxOccurs="1" minOccurs="1" name="dateGranularity" type="xs:int">
					</xs:element>
					<xs:element maxOccurs="1" minOccurs="1" name="productInfoValueType" type="xs:token">
					</xs:element>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="propertyValueTrend" type="tns:TrendData">
					</xs:element>
					<xs:element maxOccurs="1" minOccurs="1" name="dataAvailable" type="xs:boolean"/>
					<xs:element maxOccurs="1" minOccurs="1" name="source" type="xs:token">
					</xs:element>

						processContents="lax" /&gt;
				</xs:sequence>
			</xs:complexType>
		
			<xs:complexType name="TrendData">
				<xs:annotation>
					<xs:documentation>
						The product price for a specific day.
					</xs:documentation>
				</xs:annotation>
				<xs:sequence>
					<xs:element maxOccurs="1" minOccurs="1" name="date" type="xs:date">
						<xs:annotation>
							<xs:documentation>
								The date.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element maxOccurs="1" minOccurs="1" name="data" type="xs:decimal">
					<xs:annotation>
						<xs:documentation>
							the numerical data
						</xs:documentation>
					</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:complexType>



			<xs:complexType name="StockPhotoURL">
				<xs:annotation>
					<xs:documentation/>
					<xs:appinfo>
						<typeLibrarySource library="common-type-library" namespace="http://www.ebayopensource.org/tumeric/tumeric/v1/services">
						</typeLibrarySource>
					</xs:appinfo>
				</xs:annotation>
				<xs:sequence>
					<xs:element maxOccurs="1" minOccurs="0" name="thumbnail" type="tns:URIValue">
					</xs:element>
					<xs:element maxOccurs="1" minOccurs="0" name="standard" type="tns:URIValue">
					</xs:element>
				</xs:sequence>
			</xs:complexType>       
			
		<xs:complexType name="Notes">
		<xs:annotation>
			<xs:documentation/>
		<xs:appinfo>
		<typeLibrarySource library="common-type-library" namespace="http://www.ebayopensource.org/tumeric/tumeric/v1/services"/>
		</xs:appinfo>
		</xs:annotation>
		<xs:sequence>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="noteDetails" type="tns:PropertyValue"/>
		</xs:sequence>
	</xs:complexType><xs:complexType name="NumericValue">
		<xs:annotation>
			<xs:documentation>
				This class holds a numeric value
			</xs:documentation>
		<xs:appinfo><typeLibrarySource library="common-type-library" namespace="http://www.ebayopensource.org/tumeric/tumeric/v1/services"/></xs:appinfo></xs:annotation>
		<xs:sequence>
			<xs:element name="value" type="xs:string">
				<xs:annotation>
					<xs:documentation>a number</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="unitOfMeasurement" type="xs:token">
				<xs:annotation>
					<xs:documentation>
						UOM of this value. List of valid values are:
						bps, kbps, bit, byte, kb, MB, mW, W, Hz, kHz, m,
						mm, rph, hr, min, ms, ns, sec, g, lbs This is
						optional b/c UOM may not apply to all numeric
						values (e.g. number of doors)
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Product">
        <xs:annotation><xs:appinfo><typeLibrarySource library="common-type-library" namespace="http://www.ebayopensource.org/tumeric/tumeric/v1/services"/></xs:appinfo></xs:annotation>
        <xs:sequence>
			<xs:element minOccurs="0" name="productIdentifier" type="tns:ProductIdentifier"/>
			<xs:element maxOccurs="1" minOccurs="0" name="stockPhotoURL" type="tns:StockPhotoURL">
			</xs:element>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="productDetails" type="tns:PropertyValue"/>
			<xs:element minOccurs="0" name="productStatus" type="tns:ProductStatus"/>
			<xs:element minOccurs="0" name="type" type="xs:string"/>
			<xs:element minOccurs="0" name="notes" type="tns:Notes"/>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="productInfo" type="tns:ProductInfo"/>
		</xs:sequence>
	</xs:complexType><xs:complexType name="ProductIdentifier">
		<xs:annotation>
			<xs:documentation>
				Type could be ePID, MementoString as well as ISBN, UPC,
				EAN, Brand_MPN.
			</xs:documentation>
		<xs:appinfo><typeLibrarySource library="common-type-library" namespace="http://www.ebayopensource.org/tumeric/tumeric/v1/services"/></xs:appinfo></xs:annotation>
		<xs:sequence>
			<xs:element maxOccurs="1" minOccurs="0" name="ePID" type="xs:string">
				<xs:annotation>
					<xs:documentation>
						Ebay Product Reference Id
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="ISBN" type="xs:string">
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="UPC" type="xs:string">
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="EAN" type="xs:string">
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="productId" type="xs:string">
				<xs:annotation>
					<xs:documentation>
						MementoString
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType><xs:complexType name="ProductStatus">
		<xs:annotation>
			<xs:documentation>
				This will indicate if the product is disabled for the
				specific application like selling flow, review flow or
				half sell flow.
			</xs:documentation>
		<xs:appinfo><typeLibrarySource library="common-type-library" namespace="http://www.ebayopensource.org/tumeric/tumeric/v1/services"/></xs:appinfo></xs:annotation>
		<xs:sequence>
			<xs:element maxOccurs="1" minOccurs="0" name="excludeForeBaySelling" type="xs:boolean">
				<xs:annotation>
					<xs:documentation/>
				</xs:annotation>
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="excludeForeBayReviews" type="xs:boolean">
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="excludeForHalfSelling" type="xs:boolean">
			</xs:element>
		</xs:sequence>
	</xs:complexType><xs:complexType name="PropertyValue">
        <xs:annotation><xs:appinfo><typeLibrarySource library="common-type-library" namespace="http://www.ebayopensource.org/tumeric/tumeric/v1/services"/></xs:appinfo></xs:annotation>
        <xs:sequence>
			<xs:element maxOccurs="1" minOccurs="1" name="propertyName" type="xs:string">
			</xs:element>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="value" type="tns:Value">
			</xs:element>
		</xs:sequence>
	</xs:complexType><xs:complexType name="StringValue">
				<xs:annotation>
					<xs:documentation>
						This class holds a String value
					</xs:documentation>
				<xs:appinfo><typeLibrarySource library="common-type-library" namespace="http://www.ebayopensource.org/tumeric/tumeric/v1/services"/></xs:appinfo></xs:annotation>
				<xs:sequence>
					<xs:element name="value" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								a string value
							</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:complexType><xs:complexType name="URIValue">
		<xs:annotation>
			<xs:documentation>
				This class holds a URL value
			</xs:documentation>
		<xs:appinfo><typeLibrarySource library="common-type-library" namespace="http://www.ebayopensource.org/tumeric/tumeric/v1/services"/></xs:appinfo></xs:annotation>
		<xs:sequence>

			

		</xs:sequence>
	</xs:complexType><xs:complexType name="Value">
        <xs:annotation><xs:appinfo><typeLibrarySource library="common-type-library" namespace="http://www.ebayopensource.org/tumeric/tumeric/v1/services"/></xs:appinfo></xs:annotation>
        <xs:sequence>
			<xs:choice>
				<xs:annotation>
					<xs:documentation>
						A value can be one of the types given below.
					</xs:documentation>
				</xs:annotation>
				<xs:element name="text" type="tns:StringValue">
					<xs:annotation>
						<xs:documentation>
							For string value type.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="number" type="tns:NumericValue">
					<xs:annotation>
						<xs:documentation>
							For numeric value type.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="URL" type="tns:URIValue">
					<xs:annotation>
						<xs:documentation>
							For URL value type.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>

		</xs:sequence>
	</xs:complexType></xs:schema>
  </types>
  
  
  	<message name="getVersionRequest">
		<part element="tns:getVersionRequest" name="params"/>
	</message>
	<message name="getVersionResponse">
		<part element="tns:getVersionResponse" name="params"/>
	</message>
  <message name="addProductInfoRequest">
    <part element="tns:addProductInfoRequest" name="params">
<wsdl:documentation>
				Request object for getProductDetails operation
			</wsdl:documentation>
    </part>
  </message>
  <message name="getProductDetailsRequest">
    <part element="tns:getProductDetailsRequest" name="params">
<wsdl:documentation>
				Request object for getProductDetails operation
			</wsdl:documentation>
    </part>
  </message>
  <message name="getProductDetailsResponse">
    <part element="tns:getProductDetailsResponse" name="params">
<wsdl:documentation>
				response object for getProductDetails operation
			</wsdl:documentation>
    </part>
  </message>
  <message name="addProductInfoResponse">
    <part element="tns:addProductInfoResponse" name="params">
<wsdl:documentation>
				Response object for getProductDetails operation
			</wsdl:documentation>
    </part>
  </message>
  
    <message name="getProductInfoResponse">
    <part element="tns:getProductInfoResponse" name="params">
<wsdl:documentation>
				Response object for getProductDetails operation
			</wsdl:documentation>
    </part>
  </message>
    <message name="getProductInfoRequest">
    <part element="tns:getProductInfoRequest" name="params">
<wsdl:documentation>
				Response object for getProductDetails operation
			</wsdl:documentation>
    </part>
  </message>
  
  
  
  <portType name="CatalogContentServicePortType">
    <operation name="getProductDetails">
<wsdl:documentation>
				Given the product reference id, this operation will get
				the product details. This operation will indicate if the
				product has fitment information or not.
			</wsdl:documentation>
      <input message="tns:getProductDetailsRequest">
    </input>
      <output message="tns:getProductDetailsResponse">
    </output>
    </operation>
    <operation name="addProductInfo">
<wsdl:documentation>
				adds product information (such as statistics/trends)
			</wsdl:documentation>
      <input message="tns:addProductInfoRequest">
    </input>
      <output message="tns:addProductInfoResponse">
    </output>
    </operation>
     <operation name="getProductInfo">
	<wsdl:documentation>
				retrieves product information (such as statistics/trends)
			</wsdl:documentation>
      <input message="tns:getProductInfoRequest">
    </input>
      <output message="tns:getProductInfoResponse">
    </output>
    </operation>
    <operation name="getVersion">
			<documentation>operation to get current version of the service</documentation>
			<input message="tns:getVersionRequest"/>
			<output message="tns:getVersionResponse"/>
	</operation>
  </portType>
  <binding name="CatalogContentServiceSOAP12Binding" type="tns:CatalogContentServicePortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="getProductDetails">
      <soap:operation soapAction="http://www.ebayopensource.org/tumeric/tumeric/v1/services/getProductDetails"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="addProductInfo">
      <soap:operation soapAction="http://www.ebayopensource.org/tumeric/tumeric/v1/services/addProductInfo"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getProductInfo">
      <soap:operation soapAction="http://www.ebayopensource.org/tumeric/tumeric/v1/services/getProductInfo"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <wsdl:operation name="getVersion">
			<soap:operation soapAction="http://www.ebayopensource.org/tumeric/catalog/v1/services/getVersion"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
  </binding>
  <service name="CatalogContentService">
    <port binding="tns:CatalogContentServiceSOAP12Binding" name="CatalogContentServiceSOAP12port_http">
      <soap12:address location="https://svcs.ebay.com/services/Catalog/CatalogContentService/v1"/>
    </port>
  </service>
</definitions>