codegen/codegen-tools/src/test/resources/org/ebayopensource/turmeric/test/tools/codegen/data/proto/CatalogLanguageProcessingService_for_tags.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.ebayopensource.org/tumeric/catalog/v1/services" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CatalogLanguageProcessingService" targetNamespace="http://www.ebayopensource.org/tumeric/catalog/v1/services">
  <wsdl:types>
    <xs:schema xmlns:Q1="http://www.ebayopensource.org/tumeric/services" xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.ebayopensource.org/tumeric/catalog/v1/services">
			<xs:element name="normalize" type="tns:NormalizeBatchRequest">
				&gt;
			</xs:element>
			<xs:element name="normalizeBatchResponse" type="tns:NormalizeBatchResponse">
			</xs:element>

			<xs:complexType abstract="true" name="BaseServiceRequest">
				<xs:annotation>
					<xs:documentation>
						This is the base class for request container for
						all service operations.
					</xs:documentation>
				</xs:annotation>
				<xs:sequence>

				</xs:sequence>
			</xs:complexType>

			<xs:complexType abstract="true" name="BaseServiceResponse">
				<xs:annotation>
					<xs:documentation>
						Base response container for all service
						operations. Contains error information
						associated with the request.
					</xs:documentation>
				</xs:annotation>
				<xs:sequence>
					<xs:element name="ack" type="tns:AckValue">
						<xs:annotation>
							<xs:documentation>
								Indicates whether there are any errors
								or warnings associated with the
								processing of the request.
							</xs:documentation>
							<xs:appinfo>
								<CallInfo>
									<AllCalls/>
									<Returned>Always</Returned>
								</CallInfo>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="errorMessage" type="tns:ErrorMessage">
						<xs:annotation>
							<xs:documentation>
								Information for an error or warning that
								occurred when eBay processed the
								request. Not returned when
								responseStatus is Success. See &lt;a
								href="http://developer.ebay.com/DevZone/merchandising/docs/CallRef/Errors/ErrorMessages.html"
								title="All error messages by code
								number"&gt;Errors by Number&lt;/a&gt;
								for a list of errors and warnings that
								can be returned by Merchandising API
								calls.
							</xs:documentation>
							<xs:appinfo>
								<CallInfo>
									<AllCalls/>
									<Returned>Conditionally</Returned>
								</CallInfo>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="version" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								The version of the response payload
								schema. Indicates the version of the
								schema that eBay used to process the
								request. Developer Technical Support may
								ask you for the version value when you
								work with them to troubleshoot issues.
							</xs:documentation>
							<xs:appinfo>
								<CallInfo>
									<AllCalls/>
									<Returned>Always</Returned>
								</CallInfo>
							</xs:appinfo>
						</xs:annotation>

					</xs:element>
					<xs:element minOccurs="0" name="timestamp" type="xs:dateTime">
						<xs:annotation>
							<xs:documentation>
								This value represents the date and time
								when eBay processed the request. The
								time zone of this value is &lt;a
								href="types/simpleTypes.html#dateTime"&gt;GMT&lt;/a&gt;
								and the format is the ISO 8601 date and
								time format (YYYY-MM-DDTHH:MM:SS.SSSZ).
								See the "dateTime" type for information
								about this time format and converting to
								and from the GMT time zone.
							</xs:documentation>
							<xs:appinfo>
								<CallInfo>
									<AllCalls/>
									<Returned>Always</Returned>
								</CallInfo>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>

				</xs:sequence>
			</xs:complexType>

            <xs:complexType name="NumericValue">
            	<xs:sequence>
            		<xs:element name="value" type="xs:string">
            			<xs:annotation>
            				<xs:documentation>
            					A number.
            				</xs:documentation>
            			</xs:annotation>
            		</xs:element>
            		<xs:element name="unitOfMeasurement" type="tns:UnitOfMeasurement">
            			<xs:annotation>
            				<xs:documentation>
            					UOM of this value. List of valid values
            					are: bps, kbps, bit, byte, kb, MB, mW,
            					W, Hz, kHz, m, mm, rph, hr, min, ms, ns,
            					sec, g, lbs This is optional b/c UOM may
            					not apply to all numeric values (e.g.
            					number of doors)
            				</xs:documentation>
            			</xs:annotation></xs:element>
            	</xs:sequence>
            </xs:complexType>
            
           <xs:complexType name="UnitOfMeasurement">
				<xs:annotation>			
					<xs:documentation>
						UOM of this value.
						List of valid values are: bps, kbps, bit, byte, kb, MB, mW, W, Hz, kHz, m, mm, rph, hr, min, ms, ns, sec, g, lbs
					</xs:documentation>
				</xs:annotation>	
				<xs:simpleContent>
					<xs:extension base="xs:token"/>
				</xs:simpleContent>
            </xs:complexType>

			<xs:complexType name="StringValue">
				<xs:annotation>
					<xs:documentation>
						This class holds a String value
					</xs:documentation>
				</xs:annotation>
				<xs:sequence>
					<xs:element name="value" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								a string value
							</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="URIValue">
				<xs:annotation>
					<xs:documentation>
						This class holds a URL value
					</xs:documentation>
				</xs:annotation>
				<xs:sequence>

					
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="Property">
				<xs:sequence>
					<xs:element maxOccurs="1" minOccurs="1" name="canonicalName" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								This is the canonical name of the
								property. Used to identify a property
								within a catalog.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="PropertyValueWithDirectives">
				<xs:sequence>
					<xs:element maxOccurs="1" minOccurs="1" name="property" type="tns:Property">
					</xs:element>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="value" type="tns:Value">
					</xs:element>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="localDirective" type="xs:token">
						<xs:annotation>
							<xs:documentation>
								Anything here will override any
								"globalDirectives" for this
								property-value pair. can be one or more
								of "spellcheck" "regularExpression",
								"synonym","stopWord", "truncationWord".
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element maxOccurs="1" minOccurs="0" name="editDistanceConfiguration" type="tns:EditDistanceConfiguration">
					</xs:element>
				</xs:sequence>
			</xs:complexType>
			
			<xs:complexType name="PropertyValue">
				<xs:sequence>
					<xs:element maxOccurs="1" minOccurs="1" name="property" type="tns:Property">
					</xs:element>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="value" type="tns:Value">
					</xs:element>
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="Value">
				<xs:sequence>
					<xs:choice>
						<xs:annotation>
							<xs:documentation>
								A value can be one of the types given
								below.
							</xs:documentation>
						</xs:annotation>
						<xs:element name="stringValue" type="tns:StringValue">
							<xs:annotation>
								<xs:documentation>
									For string value type.
								</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="numericValue" type="tns:NumericValue">
							<xs:annotation>
								<xs:documentation>
									For numeric value type.
								</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="uriValue" type="tns:URIValue">
							<xs:annotation>
								<xs:documentation>
									For URL value type.
								</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:choice>

				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="NormalizeBatchRequest">
				<xs:annotation>
					<xs:documentation>
						This is the request type for normalize operation
					</xs:documentation>
				</xs:annotation>
				<xs:complexContent>
					<xs:extension base="tns:BaseServiceRequest">
						<xs:sequence>
							<xs:element maxOccurs="unbounded" minOccurs="1" name="request" type="tns:NormalizeRequest">
							</xs:element>
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:complexType name="BaseNormalizeRequest">
				<xs:sequence>
					<xs:element maxOccurs="1" minOccurs="1" name="invocationId" type="xs:string">
					</xs:element>
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="BaseNormalizeResponse">
				<xs:sequence>
					<xs:element maxOccurs="1" minOccurs="1" name="invocationId" type="xs:string">
					</xs:element>
				</xs:sequence>
			</xs:complexType>


			<xs:element name="catalogName" type="xs:string">
				<xs:annotation>
					<xs:documentation>
						canonical name of the catalog as defined in
						eBay, Inc catalog DB
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="locale" type="xs:token">
				<xs:annotation>
					<xs:documentation>
						locale this product belongs to. Format of a
						locale is ISOCountryCode_ISOLanguageCode.
						Current valid values are: US_EN, DE_DE, GB_EN,
						FR_FR, NL_NL, IT_IT, CN_ZH, AU_EN, ES_ES, IN_IN,
						CA_FR, BE_FR
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:complexType name="NormalizeRequest">
				<xs:complexContent>
					<xs:extension base="tns:BaseNormalizeRequest">
						<xs:sequence>
							<xs:element maxOccurs="unbounded" minOccurs="1" name="propertyValue" type="tns:PropertyValueWithDirectives">
							</xs:element>
							<xs:element maxOccurs="unbounded" minOccurs="1" name="globalDirective" type="xs:token">
								<xs:annotation>
									<xs:documentation>
										can be one or more of
										"spellcheck"
										"regularExpression",
										"synonym","stopWord",
										"truncationWord"
									</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element maxOccurs="1" minOccurs="1" name="context" type="tns:CatalogContext">
							</xs:element>
							<xs:element maxOccurs="unbounded" minOccurs="0" name="responseChoice" type="xs:token">
								<xs:annotation>
									<xs:documentation>
										can be one or more of
										"normalizedValues",
										"discoveredValues"
									</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>

			<xs:complexType name="NormalizeBatchResponse">
				<xs:annotation>
					<xs:documentation>
						This is the response type for the normalize
						operation
					</xs:documentation>
				</xs:annotation>
				<xs:complexContent>
					<xs:extension base="tns:BaseServiceResponse">
						<xs:sequence>
							<xs:element maxOccurs="unbounded" minOccurs="0" name="responses" type="tns:NormalizeResponse">
							</xs:element>
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>

			<xs:complexType name="NormalizeResponse">
				<xs:complexContent>
					<xs:extension base="tns:BaseNormalizeResponse">
						<xs:sequence>
							<xs:element maxOccurs="unbounded" minOccurs="0" name="normalizedValues" type="tns:PropertyValue">
							</xs:element>
							<xs:element maxOccurs="unbounded" minOccurs="0" name="discoveredValues" type="tns:PropertyValue">
							</xs:element>
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>

			<xs:complexType name="ErrorMessage">
				<xs:annotation>
					<xs:documentation>
						ErrorMessage to indicate any Error/Warning that
						occured as part of service call. Any run time
						error will not be reported here, but will be
						reported as part of a SOAP fault.
					</xs:documentation>
				</xs:annotation>
				<xs:sequence>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="error" type="tns:ErrorData">
						<xs:annotation>
							<xs:documentation>
								Details about a single error.
							</xs:documentation>
							<xs:appinfo>
								<CallInfo>
									<AllCalls/>
									<Returned>Conditionally</Returned>
								</CallInfo>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="ErrorData">
				<xs:annotation>
					<xs:documentation>
						This represents error details.
					</xs:documentation>
				</xs:annotation>
				<xs:sequence>
					<xs:element name="errorId" type="xs:long">
						<xs:annotation>
							<xs:documentation>
								A unique code that identifies the
								particular error condition that
								occurred. Your application can use error
								codes as identifiers in your customized
								error-handling algorithms.
							</xs:documentation>
							<xs:appinfo>
								<CallInfo>
									<AllCalls/>
									<Returned>Conditionally</Returned>
								</CallInfo>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="domain" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								Name of the domain upon which the error
								occurred. &lt;dl&gt; &lt;lh&gt;Domains
								include:&lt;/lh&gt; &lt;dt&gt; Catalog
								&lt;/dt&gt; &lt;dd&gt; A business or
								validation error occurred for the
								Catalog Service. &lt;/dd&gt; &lt;dt&gt;
								SOA &lt;/dt&gt; &lt;dd&gt; An exception
								occurred in the Service Oriented
								Architecture (SOA) framework.
								&lt;/dd&gt; &lt;/dl&gt;
							</xs:documentation>
							<xs:appinfo>
								<CallInfo>
									<AllCalls/>
									<Returned>Conditionally</Returned>
								</CallInfo>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="severity" type="tns:ErrorSeverity">
						<xs:annotation>
							<xs:documentation>
								Indicates whether the error caused the
								request to fail (Error) or not
								(Warning). &lt;br&gt;&lt;br&gt; If the
								request fails and the source of the
								problem is within the application (such
								as a missing required element), please
								change the application before you retry
								the request. If the problem is due to
								end-user input data, please alert the
								end-user to the problem and provide the
								means for them to correct the data. Once
								the problem in the application or data
								is resolved, you can attempt to re- send
								the request to eBay.
								&lt;br&gt;&lt;br&gt; If the source of
								the problem is on eBay's side, you can
								retry the request as-is a reasonable
								number of times (eBay recommends twice).
								If the error persists, contact Developer
								Technical Support. Once the problem has
								been resolved, the request may be resent
								in its original form.
								&lt;br&gt;&lt;br&gt; When a warning
								occurs, the error is returned in
								addition to the business data. In this
								case, you do not need to retry the
								request (as the original request was
								successful). However, depending on the
								cause or nature of the warning, you
								might need to contact either the end
								user or eBay to effect a long term
								solution to the problem to prevent it
								from reoccurring in the future.
							</xs:documentation>
							<xs:appinfo>
								<CallInfo>
									<AllCalls/>
									<Returned>Conditionally</Returned>
								</CallInfo>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="category" type="tns:ErrorCategory">
						<xs:annotation>
							<xs:documentation>
								There are three categories of errors:
								request errors, application errors, and
								system errors.
							</xs:documentation>
							<xs:appinfo>
								<CallInfo>
									<AllCalls/>
									<Returned>Conditionally</Returned>
								</CallInfo>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="message" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								A detailed description of the condition
								that resulted in the error.
							</xs:documentation>
							<xs:appinfo>
								<CallInfo>
									<AllCalls/>
									<Returned>Conditionally</Returned>
								</CallInfo>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="subdomain" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								Name of the subdomain upon which the
								error occurred. &lt;dl&gt;
								&lt;lh&gt;Subdomains include:&lt;/lh&gt;
								&lt;dt&gt; Merchandising &lt;/dt&gt;
								&lt;dd&gt; The error is specific to the
								Merchandising service. &lt;/dd&gt;
								&lt;dt&gt; MarketplaceCommon &lt;/dt&gt;
								&lt;dd&gt; The error is common to all
								Marketplace services. &lt;/dd&gt;
								&lt;/dl&gt;
							</xs:documentation>
							<xs:appinfo>
								<CallInfo>
									<AllCalls/>
									<Returned>Conditionally</Returned>
								</CallInfo>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="exceptionId" type="xs:token">
						<xs:annotation>
							<xs:documentation>
								Unique identifier for an exception
								associated with an error.
							</xs:documentation>
							<xs:appinfo>
								<CallInfo>
									<AllCalls/>
									<Returned>Conditionally</Returned>
								</CallInfo>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="parameter" type="tns:ErrorParameter">
						<xs:annotation>
							<xs:documentation>
								Some warning and error messages return
								one or more variables that contain
								contextual information about the error.
								This is often the field or value that
								triggered the error.
							</xs:documentation>
							<xs:appinfo>
								<CallInfo>
									<AllCalls/>
									<Returned>Conditionally</Returned>
								</CallInfo>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="ErrorParameter">
				<xs:annotation>
					<xs:documentation>
						Contextual information associated with an error.
					</xs:documentation>
				</xs:annotation>
				<xs:simpleContent>
					<xs:extension base="xs:string">
						<xs:attribute name="name" type="xs:string">
							<xs:annotation>
								<xs:documentation>
									The name of the parameter in the
									list of parameter types returned
									within the error type.
								</xs:documentation>
								<xs:appinfo>
									<CallInfo>
										<AllCalls/>
										<Returned>
											Conditionally
										</Returned>
									</CallInfo>
								</xs:appinfo>
							</xs:annotation>
						</xs:attribute>
					</xs:extension>
				</xs:simpleContent>
			</xs:complexType>

			<xs:simpleType name="ErrorSeverity">
				<xs:annotation>
					<xs:documentation>
						Indicates whether the error is a severe error
						(causing the request to fail) or an
						informational error (a warning) that should be
						communicated to the user.
					</xs:documentation>
				</xs:annotation>
				<xs:restriction base="xs:string">
					<xs:enumeration value="Error">
						<xs:annotation>
							<xs:documentation>
								The request that triggered the error was
								not processed successfully. When a
								serious application-level error occurs,
								the error is returned instead of the
								business data.
							</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="Warning">
						<xs:annotation>
							<xs:documentation>
								The request was processed successfully,
								but something occurred that may affect
								your application or the user. For
								example, eBay may have changed a value
								the user sent in. In this case, eBay
								returns a normal, successful response
								and also returns the warning.
							</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
				</xs:restriction>
			</xs:simpleType>

			<xs:simpleType name="ErrorCategory">
				<xs:annotation>
					<xs:documentation>
						There are three categories of error: request
						errors, application errors, and system errors.
						Request and application errors are caused
						primarily by invalid data passed in the request.
						System errors are caused primarily by
						application failures and cannot be corrected by
						changing request values.
					</xs:documentation>
				</xs:annotation>
				<xs:restriction base="xs:string">
					<xs:enumeration value="System">
						<xs:annotation>
							<xs:documentation>
								Indicates that an error has occurred on
								the eBay system side, such as a database
								or server down. An application can retry
								the request as-is a reasonable number of
								times (eBay recommends twice). If the
								error persists, contact Developer
								Technical Support. Once the problem has
								been resolved, the request may be resent
								in its original form.
							</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="Application">
						<xs:annotation>
							<xs:documentation>
								An error occurred due to a problem with
								the request, such as missing or invalid
								fields. The problem must be corrected
								before the request can be made again. If
								the problem is due to something in the
								application (such as a missing required
								field), the application must be changed.
								Once the problem in the application or
								data is resolved, resend the corrected
								request to eBay.
							</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="Request">
						<xs:annotation>
							<xs:documentation>
								An error occurred due to a problem with
								the request, such as invalid or missing
								data. The problem must be corrected
								before the request can be made again. If
								the problem is a result of end-user
								data, the application must alert the
								end-user to the problem and provide the
								means for the end-user to correct the
								data. Once the problem in the data is
								resolved, resend the request to eBay
								with the corrected data.
							</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
				</xs:restriction>
			</xs:simpleType>

			<xs:simpleType name="AckValue">
				<xs:annotation>
					<xs:documentation>
						Indicates whether the error is a severe error
						(causing the request to fail) or an
						informational error (a warning) that should be
						communicated to the user.
					</xs:documentation>
				</xs:annotation>
				<xs:restriction base="xs:string">
					<xs:enumeration value="Success">
						<xs:annotation>
							<xs:documentation>
								The request was processed successfully,
								but something occurred that may affect
								your application or the user.
							</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="Failure">
						<xs:annotation>
							<xs:documentation>
								The request that triggered the error was
								not processed successfully. When a
								serious application-level error occurs,
								the error is returned instead of the
								business data.
							</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="Warning">
						<xs:annotation>
							<xs:documentation>
								The request that triggered the error was
								processed successfully but with some
								warnings.
							</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="PartialFailure">
						<xs:annotation>
							<xs:documentation>
								The request that triggered the error was
								processed successfully but with some
								warnings.
							</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
				</xs:restriction>
			</xs:simpleType>


			<xs:complexType name="EditDistanceConfiguration">
				<xs:sequence>
					<xs:element maxOccurs="unbounded" minOccurs="1" name="editDistanceProperties" type="tns:Property">
					</xs:element>
					<xs:element maxOccurs="1" minOccurs="1" name="editDistanceThreshold" type="xs:double">
					</xs:element>
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="CatalogContext">
				<xs:sequence>
					<xs:element ref="tns:catalogName"/>
					<xs:element ref="tns:locale"/>
					<xs:element name="applicationName" type="xs:token">
						<xs:annotation>
							<xs:documentation>
								The applicationName further restricts
								the rules to the set that is applicable
								for an application. This value should
								match the application name associated
								with the rules, for example "C3".
							</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
  </wsdl:types>
  <wsdl:message name="NormalizeBatchResponse">
    <wsdl:part element="tns:normalizeBatchResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="NormalizeBatchRequest">
    <wsdl:part element="tns:normalize" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="CatalogLanguageProcessingService">
    <wsdl:operation name="normalize">
<wsdl:documentation>
				This method compares the input data against an index of
				synonyms. It will then normalize or discover values from
				the input and return the normalized values as output.
			</wsdl:documentation>
      <wsdl:input message="tns:NormalizeBatchRequest">
    </wsdl:input>
      <wsdl:output message="tns:NormalizeBatchResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CatalogLanguageProcessingServiceSOAP" type="tns:CatalogLanguageProcessingService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="normalize">
      <soap:operation soapAction="urn:normalize" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CatalogLanguageProcessingService">
<wsdl:documentation>
			CatalogLanguageProcessingService an interface between eBay,
			Inc's catalog natural language processing data and
			components and applications that need to normalize or
			discover data
		</wsdl:documentation>
    <wsdl:port binding="tns:CatalogLanguageProcessingServiceSOAP" name="CatalogLanguageProcessingServiceSOAP">
      <soap:address location="http://www.ebay.com/marketplace/catalog/services/CatalogLanguageProcessingService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>