codegen/codegen-tools/src/test/resources/org/ebayopensource/turmeric/test/tools/codegen/data/proto/DeviceConfigurationService_for_tags.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://www.ebayopensource.org/tumeric/mobile/v1/services" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xs="http://www.w3.org/2001/XMLSchema" name="DeviceConfigurationService" targetNamespace="http://www.ebayopensource.org/tumeric/mobile/v1/services">
	<wsdl:documentation>
		Service to get the configuration settings for an application.
	</wsdl:documentation>
	<wsdl:types>
		<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.ebayopensource.org/tumeric/mobile/v1/services">
			<xs:element name="getVersionResponse" type="tns:GetVersionResponse"/>
			<xs:complexType name="GetVersionResponse">
				<xs:annotation>
					<xs:documentation>
						The version of this service
					</xs:documentation>
				</xs:annotation>
				<xs:complexContent>
					<xs:extension base="tns:BaseResponse">
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>

			<xs:complexType name="GetConfigurationRequest">
				<xs:annotation>
					<xs:documentation>
						The request to get an application's
						configuration
					</xs:documentation>
				</xs:annotation>
				<xs:complexContent>
					<xs:extension base="tns:BaseRequest">
						<xs:sequence>
							<xs:element maxOccurs="1" minOccurs="1" name="applicationName" type="xs:string">
								<xs:annotation>
									<xs:documentation>
										The name of the mobile device.
										Examples are iPhone, Nokia e63,
										BlackBerry Curve 8900.
									</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element maxOccurs="1" minOccurs="1" name="applicationVersion" type="xs:string">
								<xs:annotation>
									<xs:documentation>
										The software version of the
										application running on the
										mobile device.
									</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element maxOccurs="1" minOccurs="1" name="currentConfigurationVersion" type="xs:string">
								<xs:annotation>
									<xs:documentation>
										represents the configuration
										version that the requesting
										client currently holds.

										If this version is different
										from the latest version
										maintained by the service, a
										response with the latest set of
										properties is sent back to the
										client.

										No validation is performed upon
										this field. If an application
										wishes to get the latest
										configuration properties, it is
										recommended that this field be
										set to the empty string.
									</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element maxOccurs="1" minOccurs="0" name="siteId" type="xs:int">
								<xs:annotation>
									<xs:documentation>
										siteId represents an eBay Site
										ID. It is an integer field and
										expected to match with an eBay
										Site. The default value is 0
										which is the eBay US site.

										This field is validated. If the
										provided value does not match
										with an existing eBay Site, the
										response will be an error.
									</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>

			<xs:complexType name="GetConfigurationResponse">
				<xs:annotation>
					<xs:documentation>
						Includes the latest configuration version and
						list of properties. The configurationVersion is
						always equal to the latest configuration
						version.

						If the properties list is empty, it means that
						either (a) the configurationVersion in this
						response and the configurationVersion in the
						request are the same and that the client already
						has the latest set of configuration properties
						or (b) this configurationVersion defines no
						properties.

						In cases where an invalid configurationVersion
						is given in the request, it is assumed that the
						client does not have the latest configuration so
						the latest response is returned.

						This response has an AckValue of FAILURE if and
						only if the other request parameters are
						erroneous or invalid.
					</xs:documentation>
				</xs:annotation>
				<xs:complexContent>
					<xs:extension base="tns:BaseResponse">
						<xs:sequence>
							<xs:element maxOccurs="1" minOccurs="1" name="configurationVersion" type="xs:string">
								<xs:annotation>
									<xs:documentation>
										The latest configurationVersion
										in use
									</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element maxOccurs="unbounded" minOccurs="0" name="configuration" type="tns:Configuration">
							</xs:element>
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:element name="getConfigurationRequest" type="tns:GetConfigurationRequest">

				<xs:annotation>
					<xs:documentation>
						Represents the request to get the latest
						configuration of an application
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="getConfigurationResponse" type="tns:GetConfigurationResponse">

			</xs:element>

			<xs:complexType name="Property">
				<xs:annotation>
					<xs:documentation>
						A property is a simple pair of name and value.
					</xs:documentation>
				</xs:annotation>
				<xs:sequence>
					<xs:element maxOccurs="1" minOccurs="1" name="name" type="xs:string">
					</xs:element>
					<xs:element maxOccurs="1" minOccurs="1" name="value" type="xs:string">
					</xs:element>
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="GetVersionRequest">
				<xs:complexContent>
					<xs:extension base="tns:BaseRequest"/>
				</xs:complexContent>
			</xs:complexType>
			<xs:element name="getVersionRequest" type="tns:GetVersionRequest">
			</xs:element>

			<xs:complexType name="ExtensionType">
				<xs:annotation>
					<xs:documentation>
						Documentation goes here
					</xs:documentation>
					<xs:appinfo>
						<typeLibrarySource library="common-type-library" namespace="http://www.ebayopensource.org/tumeric/services"/>
					</xs:appinfo>
				</xs:annotation>
				<xs:sequence>
					<xs:element name="id" type="xs:positiveInteger"/>
					<xs:element name="version" type="xs:string"/>
					<xs:element name="contentType" type="xs:string"/>
					<xs:element name="value" type="xs:string"/>

						processContents="lax" /&gt;
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="BaseResponse">
				<xs:annotation>
					<xs:documentation>
						Base response container for all service
						operations. Contains error information
						associated with the request.
					</xs:documentation>
					<xs:appinfo>
						<typeLibrarySource library="common-type-library" namespace="http://www.ebayopensource.org/tumeric/services"/>
					</xs:appinfo>
				</xs:annotation>

				<xs:sequence>
					<xs:element name="ack" type="tns:AckValue">
						<xs:annotation>
							<xs:documentation>

							</xs:documentation>
							<xs:appinfo>
								<CallInfo>
									<AllCalls/>
									<Returned>Always</Returned>

								</CallInfo>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="errorMessage" type="tns:ErrorMessage">
						<xs:annotation>
							<xs:documentation>
								Information for an error or warning that
								occurred when eBay processed the
								request.
							</xs:documentation>

							<xs:appinfo>
								<CallInfo>
									<AllCalls/>
									<Returned>Conditionally</Returned>
								</CallInfo>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>

					<xs:element minOccurs="0" name="version" type="xs:string">
						<xs:annotation>
							<xs:documentation/>
							<xs:appinfo>
								<CallInfo>
									<AllCalls/>
									<Returned>Always</Returned>

								</CallInfo>
							</xs:appinfo>
						</xs:annotation>

					</xs:element>
					<xs:element minOccurs="0" name="timestamp" type="xs:dateTime">
						<xs:annotation>
							<xs:documentation/>

							<xs:appinfo>
								<CallInfo>
									<AllCalls/>
									<Returned>Always</Returned>
								</CallInfo>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="extension" type="tns:ExtensionType"/>
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="BaseRequest">
				<xs:annotation>
					<xs:documentation>
						This is the base class for request container for
						all service operations.
					</xs:documentation>
					<xs:appinfo>
						<typeLibrarySource library="common-type-library" namespace="http://www.ebayopensource.org/tumeric/services"/>
					</xs:appinfo>
				</xs:annotation>
				<xs:sequence>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="extension" type="tns:ExtensionType"/>
				</xs:sequence>
			</xs:complexType>

			<xs:simpleType name="AckValue">
				<xs:annotation>
					<xs:documentation>
						Indicates whether the error is a severe error
						(causing the request to fail) or an
						informational error (a warning) that should be
						communicated to the user.
					</xs:documentation>
					<xs:appinfo>
						<typeLibrarySource library="common-type-library" namespace="http://www.ebayopensource.org/tumeric/services"/>
					</xs:appinfo>
				</xs:annotation>
				<xs:restriction base="xs:string">
					<xs:enumeration value="Success">
						<xs:annotation>
							<xs:documentation>
								The request was processed successfully,
								but something occurred that may affect
								your application or the user.
							</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="Failure">
						<xs:annotation>
							<xs:documentation>
								The request that triggered the error was
								not processed successfully. When a
								serious application-level error occurs,
								the error is returned instead of the
								business data.
							</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="Warning">
						<xs:annotation>
							<xs:documentation>
								The request that triggered the error was
								processed successfully but with some
								warnings.
							</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="PartialFailure">
						<xs:annotation>
							<xs:documentation>
								The request that triggered the error was
								processed successfully but with some
								warnings.
							</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType name="ErrorCategory">
				<xs:annotation>
					<xs:documentation>
						Documentation goes here.
					</xs:documentation>
					<xs:appinfo>
						<typeLibrarySource library="common-type-library" namespace="http://www.ebayopensource.org/tumeric/services"/>
					</xs:appinfo>
				</xs:annotation>
				<xs:restriction base="xs:token">
					<xs:enumeration value="System"/>
					<xs:enumeration value="Application"/>
					<xs:enumeration value="Request"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:complexType name="ErrorData">
				<xs:annotation>
					<xs:documentation>
						Documentation goes here
					</xs:documentation>
					<xs:appinfo>
						<typeLibrarySource library="common-type-library" namespace="http://www.ebayopensource.org/tumeric/services"/>
					</xs:appinfo>
				</xs:annotation>
				<xs:sequence>
					<xs:element name="errorId" type="xs:long"/>
					<xs:element name="domain" type="xs:string"/>
					<xs:element minOccurs="0" name="subdomain" type="xs:string"/>
					<xs:element name="severity" type="tns:ErrorSeverity"/>
					<xs:element name="category" type="tns:ErrorCategory"/>
					<xs:element name="message" type="xs:string"/>
					<xs:element minOccurs="0" name="exceptionId" type="xs:token"/>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="parameter" type="tns:ErrorParameter"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="ErrorMessage">
				<xs:annotation>
					<xs:documentation>
						Documentation goes here
					</xs:documentation>
					<xs:appinfo>
						<typeLibrarySource library="common-type-library" namespace="http://www.ebayopensource.org/tumeric/services"/>
					</xs:appinfo>
				</xs:annotation>
				<!-- 
					<xs:sequence>

					processContents="lax" />
					</xs:sequence>
				-->
				<xs:sequence>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="error" type="tns:ErrorData"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="ErrorParameter">
				<xs:annotation>
					<xs:documentation>
						Documentation goes here
					</xs:documentation>
					<xs:appinfo>
						<typeLibrarySource library="common-type-library" namespace="http://www.ebayopensource.org/tumeric/services"/>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleContent>
					<xs:extension base="xs:string">
						<xs:attribute name="name" type="xs:string" use="optional"/>
					</xs:extension>
				</xs:simpleContent>
			</xs:complexType>
			<xs:simpleType name="ErrorSeverity">
				<xs:annotation>
					<xs:documentation>
						Documentation goes here.
					</xs:documentation>
					<xs:appinfo>
						<typeLibrarySource library="common-type-library" namespace="http://www.ebayopensource.org/tumeric/services"/>
					</xs:appinfo>
				</xs:annotation>
				<xs:restriction base="xs:token">
					<xs:enumeration value="Error"/>
					<xs:enumeration value="Warning"/>
				</xs:restriction>
			</xs:simpleType>
		
			<xs:complexType name="Configuration">
				<xs:sequence>
					<xs:element maxOccurs="1" minOccurs="1" name="name" type="xs:string"/>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="property" type="tns:Property"/>
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="getVersionResponse">
		<wsdl:part element="tns:getVersionResponse" name="params"/>
	</wsdl:message>
	<wsdl:message name="getConfigurationRequest">
		<wsdl:part element="tns:getConfigurationRequest" name="params">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="getConfigurationResponse">
		<wsdl:part element="tns:getConfigurationResponse" name="params">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="getVersionRequest">
		<wsdl:part element="tns:getVersionRequest" name="params"/>
	</wsdl:message>
	<wsdl:portType name="DeviceConfigurationServicePort">
		<wsdl:operation name="getVersion">
			<wsdl:documentation>
				Gets the current version of the DeviceConfigurationService
			</wsdl:documentation>
			<wsdl:input message="tns:getVersionRequest"/>
			<wsdl:output message="tns:getVersionResponse"/>
		</wsdl:operation>
		<wsdl:operation name="getConfiguration">
			<wsdl:documentation>
				Gets the list of configuration properties for a provided
				application name, application version, siteid.

				The currentConfigurationVersion represents the
				configuration version currently held by the requesting
				client. If it matches with the latest version maintained
				by the service then an empty response with only the
				latest configuration version is returned.

				If no properties are found for an application name,
				application version and siteid, an error response is
				sent back.
			</wsdl:documentation>
			<wsdl:input message="tns:getConfigurationRequest"/>
			<wsdl:output message="tns:getConfigurationResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="DeviceConfigurationServiceHttpBinding" type="tns:DeviceConfigurationServicePort">

		<http:binding verb="GET"/>
		<wsdl:operation name="getVersion">

			<http:operation location="/getVersion"/>
			<wsdl:input>

				<http:urlEncoded/>
			</wsdl:input>
			<wsdl:output>
				<mime:content part="params" type="text/xml"/>


			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getConfiguration">

			<http:operation location="/getConfiguration"/>
			<wsdl:input>

				<http:urlEncoded/>
			</wsdl:input>
			<wsdl:output>
				<mime:content part="parameters" type="text/xml"/>


			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="DeviceConfigurationServiceSOAPBinding" type="tns:DeviceConfigurationServicePort">

		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="getVersion">

			<soap:operation soapAction="http://www.ebayopensource.org/tumeric/mobile/v1/services/getVersion"/>
			<wsdl:input>

				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>

				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getConfiguration">

			<soap:operation soapAction="http://www.ebayopensource.org/tumeric/mobile/v1/services/getConfiguration"/>
			<wsdl:input>

				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>

				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="DeviceConfigurationService">
		<wsdl:documentation>
			<Version>1.0.0</Version>
			The DeviceConfigurationService provides a service for
			application developers to retrieve configuration settings
			for a mobile application.
		</wsdl:documentation>
		<wsdl:port binding="tns:DeviceConfigurationServiceHttpBinding" name="DeviceConfigurationServiceHttpPort">
			<http:address location="https://svcs.ebay.com/services/mobile/v1/DeviceConfigurationService"/>
		</wsdl:port>
		<wsdl:port binding="tns:DeviceConfigurationServiceSOAPBinding" name="DeviceConfigurationServiceSOAPPort">
			<soap12:address location="https://svcs.ebay.com/services/mobile/v1/DeviceConfigurationService"/>
			<soap:address location="https://svcs.ebay.com/services/mobile/v1/DeviceConfigurationService"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>