codegen/codegen-tools/src/test/resources/org/ebayopensource/turmeric/test/tools/codegen/data/proto/EchoEidpService_for_tags.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:ns0="http://www.ebayopensource.org/tumeric/services" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.ebayopensource.org/tumeric/services">
  <wsdl:types>
 	   <xs:schema xmlns:echo="http://www.ebayopensource.org/tumeric/services" xmlns:tns="http://www.ebayopensource.org/tumeric/services" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.ebayopensource.org/tumeric/services">
				
	<xs:complexType name="EchoLocaleType">
			<xs:attribute name="locale" type="xs:string"/>
			<xs:attribute name="lang" type="xs:string"/>
			<xs:attribute name="siteId" type="xs:string"/>
	</xs:complexType>
	
	<xs:complexType name="EchoPrincipalIdentifer">
		<xs:attribute name="fqname" type="xs:string"/>
	</xs:complexType>
	
	<xs:complexType name="EchoVersionType">
				<xs:attribute name="major" type="xs:string"/>
				<xs:attribute name="minor" type="xs:string"/>
				<xs:attribute name="release" type="xs:string"/>
	</xs:complexType>
	
	
	<xs:simpleType name="EchoSupportedMimeTypes">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Text/XML"/>
			<xs:enumeration value="Text/HTML"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="EchoEventTypeType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Event"/>
			<xs:enumeration value="Alert"/>
			<xs:enumeration value="Notification"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="EchoApplicationStateType">
		<xs:annotation>
			<xs:documentation>
				defines possible application states
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="MarkUp"/>
			<xs:enumeration value="MarkDown"/>
		</xs:restriction>
	</xs:simpleType>


	<xs:complexType name="EchoLoginCredentialsType">
		<xs:complexContent>
			<xs:extension base="tns:EchoPrincipalIdentifer">
				<xs:sequence>
					<xs:element name="secret" type="xs:string"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:complexType name="EchoAuthenticatedRequestCredentialsType">
		<xs:complexContent>
			<xs:extension base="tns:EchoPrincipalIdentifer">
				<xs:sequence>
					<xs:choice>
						<xs:element name="token" type="tns:EchoSecurityTokenType"/>
						<xs:element name="tokenRef" type="tns:EchoSecurityTokenRefType"/>
					</xs:choice>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:simpleType name="EchoTokenTypes">
		<xs:restriction base="xs:string">
			<xs:enumeration value="BYREF"/>
			<xs:enumeration value="BYVALUE"/>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:complexType name="EchoSecurityTokenRefType">
		<xs:complexContent>
			<xs:extension base="tns:EchoBaseSecurityTokenType">
				<xs:attribute name="tokenref" type="xs:short"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	

	<xs:complexType name="EchoSecurityTokenType">
		<xs:complexContent>
			<xs:extension base="tns:EchoBaseSecurityTokenType">
				<xs:sequence>
						<xs:element name="tokenValue" type="xs:string"/>
				</xs:sequence>
				
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:complexType name="EchoBaseSecurityTokenType">
		<xs:attribute name="type" type="tns:EchoTokenTypes"/>
		<xs:attribute name="issuingAuthority" type="xs:string" use="required"/>
		<xs:attribute name="expires" type="xs:dateTime" use="required"/>
	</xs:complexType>
	
	
   <!--- BaseReqRes.xd --> 

<xs:complexType name="BaseRequestHeader">
		<xs:sequence>
			<xs:element name="version" type="tns:EchoVersionType"/>
			<xs:element name="locale" type="tns:EchoLocaleType"/>
			<xs:element name="receiver" type="tns:EchoPrincipalIdentifer"/>
		</xs:sequence>
	</xs:complexType>
	
	<!-- To be used When request is to be authenticated using a token or a tokenRef ONLY and NOT secret-->
	<xs:complexType name="EchoAuthenticatedRequestHeader">
		<xs:complexContent>
			<xs:extension base="tns:BaseRequestHeader">
				<xs:sequence>
					<xs:element name="sender" type="tns:EchoAuthenticatedRequestCredentialsType"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<!-- To be used ONLY in cases where request do not need to be authenticated.-->
	<xs:complexType name="EchoUnAuthenticatedRequestHeader">
		<xs:complexContent>
			<xs:extension base="tns:BaseRequestHeader">
				<xs:sequence>
					<xs:element name="sender" type="tns:EchoPrincipalIdentifer"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!--
	<xs:complexType name="StandardRequestorType">
		<xs:complexContent>
			<xs:extension base="tns:PrincipalIdentifer">
				<xs:sequence>
					<xs:element name="Credential" type="tns:RequestCredentialsType"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	-->
	<!--
	<xs:complexType name="LoginRequestorType">
		<xs:complexContent>
			<xs:extension base="tns:PrincipalIdentifer">
				<xs:sequence>
					<xs:element name="Credential" type="tns:LoginCredentialsType"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
-->
	<!-- Base Request Types -->
	<xs:complexType abstract="true" name="BaseAuthenticatedServiceRequest">
		<xs:annotation>
			<xs:documentation>
			This is the base class for request container for all service operations.
		</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="header" type="tns:EchoAuthenticatedRequestHeader"/>
		</xs:sequence>
	</xs:complexType>
	
	
	<!-- ****************************************************************************** -->
	<!-- Base Response Types -->
	<xs:complexType abstract="true" name="BaseServiceResponse">
		<xs:annotation>
			<xs:documentation>
				Base response container for all service operations. Contains error information
				associated with the request.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ack" type="tns:AckValue">
				<xs:annotation>
					<xs:documentation>
					</xs:documentation>
					<xs:appinfo>
						<CallInfo>
							<AllCalls/>
							<Returned>Always</Returned>
						</CallInfo>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="errorMessage" type="tns:ErrorMessage">
				<xs:annotation>
					<xs:documentation>
								Information for an error or warning that occurred when eBay processed the
								request.
							</xs:documentation>
					<xs:appinfo>
						<CallInfo>
							<AllCalls/>
							<Returned>Conditionally</Returned>
						</CallInfo>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="version" type="xs:string">
				<xs:annotation>
					<xs:documentation>
							</xs:documentation>
					<xs:appinfo>
						<CallInfo>
							<AllCalls/>
							<Returned>Always</Returned>
						</CallInfo>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="timestamp" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>
							</xs:documentation>
					<xs:appinfo>
						<CallInfo>
							<AllCalls/>
							<Returned>Always</Returned>
						</CallInfo>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="AckValue">
		<xs:annotation>
			<xs:documentation>
						Indicates whether the error is a severe error (causing the request to fail)
						or an informational error (a warning) that should be communicated to the
						user.
					</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="Success">
				<xs:annotation>
					<xs:documentation>
								The request was processed successfully, but something occurred that may
								affect your application or the user.				
							</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Failure">
				<xs:annotation>
					<xs:documentation>
								The request that triggered the error was not processed successfully.
								When a serious application-level error occurs, the error is returned
								instead of the business data.
							</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Warning">
				<xs:annotation>
					<xs:documentation>
								The request that triggered the error was processed successfully but with some warnings.
							</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="PartialFailure">
				<xs:annotation>
					<xs:documentation>
								The request that triggered the error was processed successfully but with some warnings.
							</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="ErrorMessage">
		<xs:annotation>
			<xs:documentation>
						ErrorMessage to indicate any Error/Warning occured as part of service call.
						Any run time error will not be reported here, but will be reported aspart of
						soap fault.
					</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="error" type="tns:ErrorData">
				<xs:annotation>
					<xs:documentation>
								ActivityProfile about a single error.
							</xs:documentation>
					<xs:appinfo>
						<CallInfo>
							<AllCalls/>
							<Returned>Conditionally</Returned>
						</CallInfo>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ErrorData">
		<xs:annotation>
			<xs:documentation>
						This represents error details.
					</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="errorId" type="xs:long">
				<xs:annotation>
					<xs:documentation>
								A unique code that identifies the particular error condition that occurred.
								Your application can use error codes as identifiers in your customized
								error-handling algorithms.
							</xs:documentation>
					<xs:appinfo>
						<CallInfo>
							<AllCalls/>
							<Returned>Conditionally</Returned>
						</CallInfo>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="domain" type="xs:string">
				<xs:annotation>
					<xs:documentation>
								Name of the domain upon which the error occurred. 
								&lt;dl&gt;
								&lt;lh&gt;Domains include:&lt;/lh&gt;
								&lt;dt&gt;
									Marketplace
								&lt;/dt&gt;
								&lt;dd&gt;
									A business or validation error occurred for the UserProfile Service.
								&lt;/dd&gt;
								&lt;dt&gt;
									SOA
								&lt;/dt&gt;
								&lt;dd&gt;
									An exception occurred in the Service Oriented Architecture (SOA) framework.
								&lt;/dd&gt;
								&lt;/dl&gt;
							</xs:documentation>
					<xs:appinfo>
						<CallInfo>
							<AllCalls/>
							<Returned>Conditionally</Returned>
						</CallInfo>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="severity" type="tns:ErrorSeverity">
				<xs:annotation>
					<xs:documentation>
								Indicates whether the error caused the request to fail (Error) or not
								(Warning).
								&lt;br&gt;&lt;br&gt;
								If the request fails and the source of the problem is within the application
								(such as a missing required element), please change the application before you
								retry the request. If the problem is due to end-user input data, please alert
								the end-user to the problem and provide the means for them to correct the data.
								Once the problem in the application or data is resolved, you can attempt to re-
								send the request to eBay.
								&lt;br&gt;&lt;br&gt;
								If the source of the problem is on eBay's side, you can retry the request as-is
								a reasonable number of times (eBay recommends twice). If the error persists,
								contact Developer Technical Support. Once the problem has been resolved, the
								request may be resent in its original form.
								&lt;br&gt;&lt;br&gt;
								When a warning occurs, the error is returned in addition to the business data.
								In this case, you do not need to retry the request (as the original request was
								successful). However, depending on the cause or nature of the warning, you
								might need to contact either the end user or eBay to effect a long term
								solution to the problem to prevent it from reoccurring in the future.
							</xs:documentation>
					<xs:appinfo>
						<CallInfo>
							<AllCalls/>
							<Returned>Conditionally</Returned>
						</CallInfo>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="category" type="tns:ErrorCategory">
				<xs:annotation>
					<xs:documentation>
								There are three categories of errors: request errors, application errors, and
								system errors.
							</xs:documentation>
					<xs:appinfo>
						<CallInfo>
							<AllCalls/>
							<Returned>Conditionally</Returned>
						</CallInfo>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="message" type="xs:string">
				<xs:annotation>
					<xs:documentation>
								A detailed description of the condition that resulted in the error.
							</xs:documentation>
					<xs:appinfo>
						<CallInfo>
							<AllCalls/>
							<Returned>Conditionally</Returned>
						</CallInfo>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="subdomain" type="xs:string">
				<xs:annotation>
					<xs:documentation>
								Name of the subdomain upon which the error occurred. 
								&lt;dl&gt;
								&lt;lh&gt;Subdomains include:&lt;/lh&gt;
								&lt;dt&gt;
									UserProfile
								&lt;/dt&gt;
								&lt;dd&gt;
									The error is specific to the UserProfile service.
								&lt;/dd&gt;
								&lt;dt&gt;
									MarketplaceCommon
								&lt;/dt&gt;
								&lt;dd&gt;
									The error is common to all Marketplace services.
								&lt;/dd&gt;
								&lt;/dl&gt;
							</xs:documentation>
					<xs:appinfo>
						<CallInfo>
							<AllCalls/>
							<Returned>Conditionally</Returned>
						</CallInfo>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="exceptionId" type="xs:token">
				<xs:annotation>
					<xs:documentation>
								Unique identifier for an exception associated with an error.
							</xs:documentation>
					<xs:appinfo>
						<CallInfo>
							<AllCalls/>
							<Returned>Conditionally</Returned>
						</CallInfo>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="parameter" type="tns:ErrorParameter">
				<xs:annotation>
					<xs:documentation>
								Some warning and error messages return one or more variables that contain
								contextual information about the error. This is often the field or value that
								triggered the error.
							</xs:documentation>
					<xs:appinfo>
						<CallInfo>
							<AllCalls/>
							<Returned>Conditionally</Returned>
						</CallInfo>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ErrorParameter">
		<xs:annotation>
			<xs:documentation>
			Contextual information associated with an error.
		</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="name" type="xs:string">
					<xs:annotation>
						<xs:documentation>
						The name of the parameter in the list of parameter types returned
						within the error type.
					</xs:documentation>
						<xs:appinfo>
							<CallInfo>
								<AllCalls/>
								<Returned>Conditionally</Returned>
							</CallInfo>
						</xs:appinfo>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="ErrorSeverity">
		<xs:annotation>
			<xs:documentation>
			Indicates whether the error is a severe error (causing the request to fail)
			or an informational error (a warning) that should be communicated to the
			user.
		</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="Error">
				<xs:annotation>
					<xs:documentation>
					The request that triggered the error was not processed successfully.
					When a serious application-level error occurs, the error is returned
					instead of the business data.
				</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Warning">
				<xs:annotation>
					<xs:documentation>
					The request was processed successfully, but something occurred that may
					affect your application or the user. For example, eBay may have changed a
					value the user sent in. In this case, eBay returns a normal, successful
					response and also returns the warning.
				</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ErrorCategory">
		<xs:annotation>
			<xs:documentation>
			There are three categories of error: request errors, application errors,
			and system errors. Request and application errors are caused primarily by
			invalid data passed in the request. System errors are caused primarily by
			application failures and cannot be corrected by changing request values.
		</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="System">
				<xs:annotation>
					<xs:documentation>
					Indicates that an error has occurred on the eBay system side, such as a
					database or server down. An application can retry the request as-is a
					reasonable number of times (eBay recommends twice). If the error
					persists, contact Developer Technical Support. Once the problem has been
					resolved, the request may be resent in its original form.
				</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Application">
				<xs:annotation>
					<xs:documentation>
					An error occurred due to a problem with the request, such as missing or
					invalid fields. The problem must be corrected before the request can be
					made again. If the problem is due to something in the application (such
					as a missing required field), the application must be changed. Once the
					problem in the application or data is resolved, resend the corrected
					request to eBay.
				</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Request">
				<xs:annotation>
					<xs:documentation>
					An error occurred due to a problem with the request, such as invalid or
					missing data. The problem must be corrected before the request can be
					made again. If the problem is a result of end-user data, the application
					must alert the end-user to the problem and provide the means for the
					end-user to correct the data. Once the problem in the data is resolved,
					resend the request to eBay with the corrected data.
				</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>



	<xs:complexType name="EchoAuthenticateRequestType">
		<xs:annotation>
			<xs:documentation>
				Request container for Authenticate operation in the EIDP Service. application identity and token are to be sent in HTTP/S header
			</xs:documentation>
		</xs:annotation>
		<!--xs:sequence>
		
				< xs:element name="Locale" type="tns:LocaleType"/>
			< xs:element name="Version" type="tns:VersionType"/>
			<xs:element name="Locale" type="tns:LocaleType"/>
			<xs:element name="Receiver" type="tns:PrincipalIdentifer"/>
		</xs:sequence-->
		
		<xs:complexContent>
			<xs:extension base="tns:BaseAuthenticatedServiceRequest">
				<xs:sequence>
					<xs:element name="tokenToValidate" type="xs:string">
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:complexType name="EchoAuthenticateResponseType">
		<xs:annotation>
			<xs:documentation>
				Response container for Authenticate operation in the EIDP Service.
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="tns:BaseServiceResponse">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

    <xs:complexType abstract="true" name="BaseLoginServiceRequest">
		<xs:sequence>
			<xs:element name="header" type="tns:EchoUnAuthenticatedRequestHeader"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="EchoLoginRequestType">
		<xs:complexContent>
			<xs:extension base="tns:BaseLoginServiceRequest">
				<xs:sequence>
					<xs:element name="credential" type="tns:EchoLoginCredentialsType"/>
					<xs:element minOccurs="0" name="accept" type="xs:string">
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	
	<xs:complexType name="EchoLoginResponseType">
		<xs:annotation>
			<xs:documentation>
				Response container for login operation in the EIDP Service.
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="tns:BaseServiceResponse">
				<xs:sequence>
					<xs:element name="securityToken" type="tns:EchoSecurityTokenType"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

		
	
		
			 
	
	
	  <!--  before insert  -->
			<xs:element name="authenticateRequest" type="tns:EchoAuthenticateRequestType"/>
	
			<xs:element name="authenticateResponse" type="tns:EchoAuthenticateResponseType"/>
			
			<xs:element name="loginRequest" type="tns:EchoLoginRequestType"/>
	
			<xs:element name="loginResponse" type="tns:EchoLoginResponseType"/>

		</xs:schema>
  </wsdl:types>

  <wsdl:message name="authenticateRequest">
    <wsdl:part element="ns0:authenticateRequest" name="authenticateRequest">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="authenticateResponse">
    <wsdl:part element="ns0:authenticateResponse" name="authenticateResponse">
    </wsdl:part> 
    
  </wsdl:message>
  
 
 <wsdl:message name="loginRequest">
    <wsdl:part element="ns0:loginRequest" name="loginRequest">
    </wsdl:part>
  </wsdl:message>
  
  <wsdl:message name="loginResponse">
    <wsdl:part element="ns0:loginResponse" name="loginResponse">
    </wsdl:part>
  </wsdl:message>
  
 
 
  <wsdl:portType name="EchoEidpServicePort">
    <wsdl:operation name="authenticate">
      <wsdl:input message="ns0:authenticateRequest">
    </wsdl:input>
      <wsdl:output message="ns0:authenticateResponse">
    </wsdl:output>
    </wsdl:operation>
    
    <wsdl:operation name="login">
      <wsdl:input message="ns0:loginRequest">
    </wsdl:input>
      <wsdl:output message="ns0:loginResponse">
    </wsdl:output>
    </wsdl:operation>
    
  </wsdl:portType>
  
  <wsdl:binding name="EchoEidpServiceHttpBinding" type="ns0:EchoEidpServicePort">
    <http:binding verb="POST"/>
    <wsdl:operation name="authenticate">
      <http:operation location="EchoEidpService/authenticate"/>
      <wsdl:input>
        <mime:content part="authenticateRequest" type="text/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="authenticateResponse" type="text/xml"/>
      </wsdl:output>
    </wsdl:operation>
    
     <wsdl:operation name="login">
      <http:operation location="EchoEidpService/login"/>
      <wsdl:input>
        <mime:content part="loginRequest" type="text/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="loginResponse" type="text/xml"/>
      </wsdl:output>
    </wsdl:operation>
    
  </wsdl:binding>
  
  <wsdl:binding name="EchoEidpServiceSOAPBinding" type="ns0:EchoEidpServicePort">
    <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="authenticate">
      <soap12:operation soapAction="urn:authenticate" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="login">
      <soap12:operation soapAction="urn:login" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>

  </wsdl:binding>
  
  <wsdl:service name="EchoEidpService">
    <wsdl:port binding="ns0:EchoEidpServiceSOAPBinding" name="EchoEidpServiceSOAP">
      <soap12:address location="http://svcs.ebay.com/EchoEidpService"/>
    </wsdl:port>
    <wsdl:port binding="ns0:EchoEidpServiceHttpBinding" name="EchoEidpServiceHttp">
      <http:address location="http://svcs.ebay.com/EchoEidpService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>