codegen/codegen-tools/src/test/resources/org/ebayopensource/turmeric/test/tools/codegen/data/proto/EsamsBridgeService_for_tags.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.ebayopensource.org/tumeric/services" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="EsamsBridgeService" targetNamespace="http://www.ebayopensource.org/tumeric/services">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.ebayopensource.org/tumeric/services">
        
        <xsd:complexType abstract="true" name="BaseServiceRequestType">
			<xsd:annotation>
				<xsd:documentation>
					This is the base class for request container for all service operations.
				</xsd:documentation>
			</xsd:annotation>
		    	<xsd:sequence>
				<xsd:any maxOccurs="unbounded" minOccurs="0" processContents="lax"/>
		    	</xsd:sequence>
            	</xsd:complexType>
            
            	<xsd:complexType abstract="true" name="BaseServiceResponseType">
			<xsd:annotation>
				<xsd:documentation>
					Base response container for all service operations. error ( boolean ) value indicate if there is any error in the errorMessage List. The error in errorMessage could be an 
					error or a warning.
				</xsd:documentation>
			</xsd:annotation>
			<xsd:sequence>
			    	<xsd:element name="ack" type="tns:AckValue"/>
			    	<xsd:element minOccurs="0" name="errorMessage" type="tns:ErrorMessage"/>
			    	<xsd:any maxOccurs="unbounded" minOccurs="0" processContents="lax"/>
			</xsd:sequence>
      </xsd:complexType>
      
      <xsd:simpleType name="AckValue">
			<xsd:annotation>
				<xsd:documentation>
					Indicates whether the error is a severe error (causing the request to fail)
					or an informational error (a warning) that should be communicated to the
					user.
				</xsd:documentation>
			</xsd:annotation>
			<xsd:restriction base="xsd:string">
				<xsd:enumeration value="Success">
					<xsd:annotation>
						<xsd:documentation>
							The request was processed successfully, but something occurred that may
							affect your application or the user.				
						</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="Failure">
					<xsd:annotation>
						<xsd:documentation>
							The request that triggered the error was not processed successfully.
							When a serious application-level error occurs, the error is returned
							instead of the business data.
						</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="Warning">
					<xsd:annotation>
						<xsd:documentation>
							The request that triggered the error was processed successfully but with some warnings.
						</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
				<xsd:enumeration value="PartialFailure">
					<xsd:annotation>
						<xsd:documentation>
							The request that triggered the error was processed successfully but with some warnings.
						</xsd:documentation>
					</xsd:annotation>
				</xsd:enumeration>
			</xsd:restriction>
		</xsd:simpleType>

	    <xsd:complexType name="ErrorMessage">
			<xsd:annotation>
				<xsd:documentation>
					ErrorMessage to indicate any Error/Warning occured as part of service call.
					Any run time error will not be reported here, but will be reported aspart of
					soap fault.
				</xsd:documentation>
			</xsd:annotation>
			<xsd:sequence>
			    <xsd:element maxOccurs="unbounded" minOccurs="0" name="error" type="tns:ErrorData"/>
			</xsd:sequence>
         </xsd:complexType>
            
         <xsd:complexType name="ErrorData">
			<xsd:annotation>
				<xsd:documentation>
					This represents error details.
				</xsd:documentation>
			</xsd:annotation>
			<xsd:sequence>
			    <xsd:element name="errorId" type="xsd:long"/>
			    <xsd:element name="domain" type="xsd:string"/>
			    <xsd:element name="severity" type="tns:ErrorSeverity"/>
			    <xsd:element name="category" type="tns:ErrorCategory"/>
			    <xsd:element name="message" type="xsd:string"/>
			    <xsd:element minOccurs="0" name="subdomain" type="xsd:string"/>
			    <xsd:element minOccurs="0" name="exceptionId" type="xsd:token"/>
			    <xsd:element maxOccurs="unbounded" minOccurs="0" name="parameter" type="tns:ErrorParameter"/>
			</xsd:sequence>
          </xsd:complexType>
            
          <xsd:complexType name="ErrorParameter">
			<xsd:annotation>
				<xsd:documentation>
					represent contextual data associated with an error.
				</xsd:documentation>
			</xsd:annotation>
			<xsd:simpleContent>
			    <xsd:extension base="xsd:string">
				<xsd:attribute name="name" type="xsd:string"/>
			    </xsd:extension>
			</xsd:simpleContent>
          </xsd:complexType>
            
          <xsd:simpleType name="ErrorSeverity">
			<xsd:annotation>
				<xsd:documentation>
					Reprents the level of error. E.g. Error/Warning
				</xsd:documentation>
			</xsd:annotation>
			<xsd:restriction base="xsd:string">
			    <xsd:enumeration value="Error"/>
			    <xsd:enumeration value="Warning"/>
			</xsd:restriction>
           </xsd:simpleType>
            
          <xsd:simpleType name="ErrorCategory">
			<xsd:annotation>
				<xsd:documentation>
					Reprents the error catagorization. Request and Application Error are mostly occured due to 
					invalid data passed in request. System Error cannot be fixed by changing request values and 
					mostly occured due to application failure.						 
				</xsd:documentation>
			</xsd:annotation>
                	<xsd:restriction base="xsd:string">
			    <xsd:enumeration value="System"/>
			    <xsd:enumeration value="Application"/>
			    <xsd:enumeration value="Request"/>
			</xsd:restriction>
         </xsd:simpleType>
         
         
          
     <xsd:element name="KeyPairHolder">
      <xsd:complexType>
      		<xsd:complexContent>
			    <xsd:extension base="tns:BaseServiceResponseType">
      				<xsd:sequence>
			      		<xsd:element name="version" type="xsd:int"/>
			      		<xsd:element minOccurs="0" name="privateKey" type="tns:PrivateKeyDescriptor">
			      		</xsd:element>
			      		<xsd:element maxOccurs="unbounded" name="certificateList" type="tns:CertificateDescriptor">
			      		</xsd:element>
			      		<xsd:element name="usage" type="xsd:string"/>
			      		     <xsd:element name="rotationPeriod" type="xsd:int"/>
			      			<xsd:element name="verifyPeriod" type="xsd:int"/>
			      			<!-- xsd:element name="ext" type="xsd:anyType"/-->
      	             </xsd:sequence>
      		    </xsd:extension>
			</xsd:complexContent>
      </xsd:complexType>
      </xsd:element>

      <xsd:element name="SecretKeyHolder">
      	<xsd:complexType>
      	<xsd:complexContent>
			    <xsd:extension base="tns:BaseServiceResponseType">
      		<xsd:sequence>
      			<xsd:element name="version" type="xsd:int"/>
      			<xsd:element name="secretKey" type="tns:SecretKeyDescriptor"/>
      			<xsd:element name="rotationPeriod" type="xsd:int"/>
      			<xsd:element name="verifyPeriod" type="xsd:int"/>
      			<xsd:element name="ext" type="xsd:string"/>
      		</xsd:sequence>
      		 </xsd:extension>
			</xsd:complexContent>
      	</xsd:complexType>
      </xsd:element>

	<xsd:element name="PrivateKey" type="tns:PrivateKeyDescriptor"/>
	
 	 <xsd:complexType name="PrivateKeyDescriptor">
 	     <xsd:complexContent>
			    <xsd:extension base="tns:BaseServiceResponseType">
      	<xsd:sequence>
      		<xsd:element name="encodededPrivateKey" type="xsd:string"/>
      		<xsd:element name="algorithm" type="xsd:string"/>
      	</xsd:sequence>
      	 </xsd:extension>
		</xsd:complexContent>
      </xsd:complexType>

      
      <xsd:complexType name="SecretKeyDescriptor">
      <xsd:complexContent>
			    <xsd:extension base="tns:BaseServiceResponseType">
      	<xsd:sequence>
      		<xsd:element name="encodedSecretKey" type="xsd:string"/>
      		<xsd:element name="algorithm" type="xsd:string"/>
      	</xsd:sequence>
      	 </xsd:extension>
		</xsd:complexContent>
      </xsd:complexType>

      <xsd:complexType name="CertificateDescriptor">
          <xsd:complexContent>
			    <xsd:extension base="tns:BaseServiceResponseType">
		      	<xsd:sequence>
		      		<xsd:element name="algorithm" type="xsd:string"/>
		      		<xsd:element name="encodedCertifcate" type="xsd:string"/>
		      	</xsd:sequence>
      	     </xsd:extension>
			</xsd:complexContent>
      </xsd:complexType>

      <xsd:element name="CertificateHolder">
      	<xsd:complexType>
      	    <xsd:complexContent>
			    <xsd:extension base="tns:BaseServiceResponseType">
		      		<xsd:sequence>
		      			<xsd:element name="version" type="xsd:int"/>
		      			<xsd:element name="certificate" type="tns:CertificateDescriptor"/>
		      			<xsd:element name="rotationPeriod" type="xsd:int"/>
      			        <xsd:element name="verifyPeriod" type="xsd:int"/>
		      			<xsd:element name="ext" type="xsd:string"/>
		      		</xsd:sequence>
		      	</xsd:extension>
			</xsd:complexContent>
      	</xsd:complexType>
      </xsd:element>

      <xsd:element name="NonKeyHolder">
      	<xsd:complexType>
      	    <xsd:complexContent>
			    <xsd:extension base="tns:BaseServiceResponseType">
		      		<xsd:sequence>
		      			<xsd:element name="version" type="xsd:long"/>
		      			<xsd:element name="value" type="xsd:string"/>
		      		</xsd:sequence>
		      	</xsd:extension>
			</xsd:complexContent>
      	</xsd:complexType>
      </xsd:element>

      <xsd:element name="TrustStore">
      	<xsd:complexType>
            <xsd:annotation>
            	<xsd:documentation>
            		according to MK, keystore will only used to store
            		certs, no secretkey, so it should be truststore.
            	</xsd:documentation>
            </xsd:annotation>
            <xsd:complexContent>
			    <xsd:extension base="tns:BaseServiceResponseType">
		            <xsd:sequence>
		            	<xsd:element maxOccurs="unbounded" name="entryList" type="tns:Entry"/>   	
		            </xsd:sequence>
		          </xsd:extension>
			</xsd:complexContent>
      	</xsd:complexType>
      </xsd:element>
      
              <xsd:complexType name="Entry">
                   <xsd:sequence>
                       <xsd:element name="alias" type="xsd:string"/>
		      			<xsd:element maxOccurs="unbounded" name="certificateList" type="tns:CertificateDescriptor"/>
		      		</xsd:sequence>
                    </xsd:complexType>

                
      <xsd:element name="getPrivateKey">
      	<xsd:complexType>
      	     <xsd:complexContent>
			    	<xsd:extension base="tns:BaseServiceRequestType">
			      		<xsd:sequence>
			      			<xsd:element name="issuer" type="xsd:string"/>
			      			<xsd:element name="serial_no" type="xsd:integer"/>
			      		</xsd:sequence>
			      </xsd:extension>
			</xsd:complexContent>
      	</xsd:complexType>
      </xsd:element>
  
       <xsd:element name="GenericKeyLocator" type="tns:GenericKeyLocator">
            </xsd:element>
            
            <xsd:complexType name="GenericKeyLocator">
            	<xsd:complexContent>
			    	<xsd:extension base="tns:BaseServiceRequestType">
		            	<xsd:sequence>
		            		<xsd:element name="channelName" type="xsd:string"/>
		            		<xsd:element name="version" type="xsd:int"/>
		            	</xsd:sequence>
		            </xsd:extension>
				</xsd:complexContent>
            </xsd:complexType>
            

            <xsd:element name="getCertificateResponse" type="tns:CertificateDescriptor">
            </xsd:element>
            
            <xsd:element name="CertSelector">
            	<xsd:complexType>
            	<xsd:complexContent>
			    	<xsd:extension base="tns:BaseServiceRequestType">
	            		<xsd:sequence>
	            			<xsd:element name="issuer" type="xsd:string">
	            			</xsd:element>
	            			<xsd:element name="serialNumber" type="xsd:integer">
	            			</xsd:element>
	            		</xsd:sequence>
	            	  </xsd:extension>
			        </xsd:complexContent>
            	</xsd:complexType>
            </xsd:element>    
            <xsd:element name="getTrustStore" type="xsd:string"/>
            
            <xsd:element name="getAllKeys" type="xsd:boolean"/>
            
            <xsd:element name="AllKeys">
            	<xsd:complexType>
            		<xsd:complexContent>
			    	   <xsd:extension base="tns:BaseServiceResponseType">
	            		<xsd:sequence>
	            		    <xsd:element maxOccurs="unbounded" name="combo_truststore_list" type="tns:combo_trusstore"/>
	            		    <xsd:element maxOccurs="unbounded" name="combo_non_key_list" type="tns:combo_non_key"/>
	            		    <xsd:element maxOccurs="unbounded" name="combo_cert_list" type="tns:combo_cert"/>
							<xsd:element maxOccurs="unbounded" name="combo_keypair_list" type="tns:combo_keypair"/>
							<xsd:element maxOccurs="unbounded" name="combo_sym_key_list" type="tns:combo_sym_key"/>
							<!--xsd:element maxOccurs="unbounded" name="comb_private_key_list" type="tns:comb_asym_key_cert"/-->
	            		</xsd:sequence>
	            	  </xsd:extension>
			        </xsd:complexContent>
            	</xsd:complexType>
            </xsd:element>    
            
              <xsd:complexType name="combo_trusstore">
                   <xsd:sequence>
                       <xsd:element name="trustStoreName" type="xsd:string"/>
		      			<xsd:element maxOccurs="unbounded" name="entryList" type="tns:Entry"/>   	
		      		</xsd:sequence>
               </xsd:complexType>
               <xsd:complexType name="combo_non_key">
                   <xsd:sequence>
                       <xsd:element name="GenericKeyLocator" type="tns:GenericKeyLocator"/>
		      			<xsd:element name="key" type="xsd:string"/>   	
		      		</xsd:sequence>
               </xsd:complexType>
               <xsd:complexType name="combo_cert">
                   <xsd:sequence>
                       <xsd:element name="GenericKeyLocator" type="tns:GenericKeyLocator"/>
		      			<xsd:element name="certDescriptor" type="tns:CertificateDescriptor"/>   	
		      		</xsd:sequence>
               </xsd:complexType>
               
               <xsd:complexType name="combo_keypair">
                   <xsd:sequence>
 						<xsd:element name="GenericKeyLocator" type="tns:GenericKeyLocator"/>
			      		<xsd:element minOccurs="0" name="privateKey" type="tns:PrivateKeyDescriptor">
			      		</xsd:element>
			      		<xsd:element maxOccurs="unbounded" name="certificateList" type="tns:CertificateDescriptor">
			      		</xsd:element>
			      		<xsd:element name="usage" type="xsd:string"/>
			      		     <xsd:element name="secretSignPeriod" type="xsd:long"/>
			      			<xsd:element name="extraVerifyPeriod" type="xsd:long"/>
		      		</xsd:sequence>
               </xsd:complexType>
               <xsd:complexType name="combo_sym_key">
                   <xsd:sequence>
                       <xsd:element name="GenericKeyLocator" type="tns:GenericKeyLocator"/>
		      			<xsd:element name="key" type="tns:SecretKeyDescriptor"/>   	
		      		</xsd:sequence>
               </xsd:complexType>
        
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="getPrivateKeyRequest">
    <wsdl:part element="tns:getPrivateKey" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCertificateByChannelRequest">
    <wsdl:part element="tns:GenericKeyLocator" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getTrustStoreResponse">
    <wsdl:part element="tns:TrustStore" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCertificateBySelectorRequest">
    <wsdl:part element="tns:CertSelector" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAllKeysResponse">
    <wsdl:part element="tns:AllKeys" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getAllKeysRequest">
    <wsdl:part element="tns:getAllKeys" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getKeyPairRequest">
    <wsdl:part element="tns:GenericKeyLocator" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getSecretKeyRequest">
    <wsdl:part element="tns:GenericKeyLocator" name="getSecurityKeyRequestMsg">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getKeyPairResponse">
    <wsdl:part element="tns:KeyPairHolder" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getTrustStoreRequest">
    <wsdl:part element="tns:getTrustStore" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getNonKeyRequest">
    <wsdl:part element="tns:GenericKeyLocator" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getNonKeyResponse">
    <wsdl:part element="tns:NonKeyHolder" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCertificateByChannelResponse">
    <wsdl:part element="tns:CertificateHolder" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCertificateBySelectorResponse">
    <wsdl:part element="tns:CertificateHolder" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getPrivateKeyResponse">
    <wsdl:part element="tns:KeyPairHolder" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getSecretKeyResponse">
    <wsdl:part element="tns:SecretKeyHolder" name="getSecretKeyResponseMsg">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="soapNameService">
    <wsdl:operation name="getSecretKey">
      <wsdl:input message="tns:getSecretKeyRequest">
    </wsdl:input>
      <wsdl:output message="tns:getSecretKeyResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPrivateKey">
      <wsdl:input message="tns:getPrivateKeyRequest">
    </wsdl:input>
      <wsdl:output message="tns:getPrivateKeyResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getKeyPair">
      <wsdl:input message="tns:getKeyPairRequest">
    </wsdl:input>
      <wsdl:output message="tns:getKeyPairResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCertificateBySelector">
      <wsdl:input message="tns:getCertificateBySelectorRequest">
    </wsdl:input>
      <wsdl:output message="tns:getCertificateBySelectorResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCertificate">
      <wsdl:input message="tns:getCertificateByChannelRequest">
    </wsdl:input>
      <wsdl:output message="tns:getCertificateByChannelResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getNonKey">
      <wsdl:input message="tns:getNonKeyRequest">
    </wsdl:input>
      <wsdl:output message="tns:getNonKeyResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTrustStore">
      <wsdl:input message="tns:getTrustStoreRequest">
    </wsdl:input>
      <wsdl:output message="tns:getTrustStoreResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="soapNameService" type="tns:soapNameService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getSecretKey">
      <soap:operation soapAction="getSecretKey"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPrivateKey">
      <soap:operation soapAction="getPrivateKey"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getKeyPair">
      <soap:operation soapAction="getKeyPair"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCertificateBySelector">
      <soap:operation soapAction="getCertificateBySelector"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCertificate">
      <soap:operation soapAction="getCertificate"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getNonKey">
      <soap:operation soapAction="getNonKey"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTrustStore">
      <soap:operation soapAction="getTrustStore"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EsamsBridgeService">
    <wsdl:port binding="tns:soapNameService" name="soapNameService">
      <soap:address location="http://localhost:8080/ws/spf"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>