codegen/codegen-tools/src/test/resources/org/ebayopensource/turmeric/test/tools/codegen/data/proto/ExperimentationManagementService_for_tags.wsdl

<?xml version="1.0" encoding="UTF-8"?><definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://www.ebayopensource.org/tumeric/experimentationmanagement/v1/services" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xs="http://www.w3.org/2001/XMLSchema" name="ExperimentationManagementService" targetNamespace="http://www.ebayopensource.org/tumeric/experimentationmanagement/v1/services">
	<types>
		<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.ebayopensource.org/tumeric/experimentationmanagement/v1/services">

			<xs:element name="getVersionRequest" type="tns:GetVersionRequest"/>
			<xs:element name="getVersionResponse" type="tns:GetVersionResponse"/>
			<xs:element name="createExperimentRequest" type="tns:CreateExperimentRequest"/>
			<xs:element name="createExperimentResponse" type="tns:CreateExperimentResponse"/>						
			<xs:element name="updateExperimentRequest" type="tns:UpdateExperimentRequest"/>
			<xs:element name="updateExperimentResponse" type="tns:UpdateExperimentResponse"/>
			<xs:element name="getExperimentRequest" type="tns:GetExperimentRequest"/>
			<xs:element name="getExperimentResponse" type="tns:GetExperimentResponse"/>			
			
			<xs:complexType name="GetVersionRequest">
				<xs:annotation>
					<xs:documentation>
						Request object to get service version.
					</xs:documentation>
				</xs:annotation>
				<xs:complexContent>
					<xs:extension base="tns:BaseRequest"/>
				</xs:complexContent>
			</xs:complexType>
			
			<xs:complexType name="GetVersionResponse">
				<xs:annotation>
					<xs:documentation>
						Response object to hold the Service version.
					</xs:documentation>
				</xs:annotation>
				<xs:complexContent>
					<xs:extension base="tns:BaseResponse">
						<xs:sequence>
							<xs:element name="version" type="xs:string"/>
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>			

			<xs:complexType name="CreateExperimentRequest">
				<xs:annotation>
					<xs:documentation>
						Request object to create an Experiment.
					</xs:documentation>
					<xs:appinfo/>
				</xs:annotation>
				<xs:complexContent>
					<xs:extension base="tns:BaseRequest">
						<xs:sequence>
							<xs:element maxOccurs="1" minOccurs="1" name="experiment" type="tns:Experiment">
								<xs:annotation>
									<xs:documentation>
										Experiment would be created using an experiment object with a null experiment id.
									</xs:documentation>
								</xs:annotation>
							</xs:element>						
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			
			<xs:complexType name="CreateExperimentResponse">
				<xs:annotation>
					<xs:documentation>
						Response object to hold the created experiment.
					</xs:documentation>
				</xs:annotation>
				<xs:complexContent>
					<xs:extension base="tns:BaseResponse">
						<xs:sequence>
							<xs:element maxOccurs="1" minOccurs="0" name="experiment" type="tns:Experiment"/>
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			
			<xs:complexType name="UpdateExperimentRequest">
				<xs:annotation>
					<xs:documentation>
						Request object to update an Experiment.
					</xs:documentation>
					<xs:appinfo/>
				</xs:annotation>
				<xs:complexContent>
					<xs:extension base="tns:BaseRequest">
						<xs:sequence>
							<xs:element maxOccurs="1" minOccurs="1" name="experiment" type="tns:Experiment">
								<xs:annotation>
									<xs:documentation>
										The experiment object obtained as response from getExperiment or createExperiment operations can be modified and input to this operation.
									</xs:documentation>
								</xs:annotation>
							</xs:element>						
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>

			<xs:complexType name="UpdateExperimentResponse">
				<xs:annotation>
					<xs:documentation>
						Response object to hold the experiment.
					</xs:documentation>
				</xs:annotation>
				<xs:complexContent>
					<xs:extension base="tns:BaseResponse">
						<xs:sequence>
							<xs:element maxOccurs="1" minOccurs="0" name="experiment" type="tns:Experiment"/>
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>			
			
			<xs:complexType name="GetExperimentRequest">
				<xs:annotation>
					<xs:documentation>
						Request object to get an Experiment.
					</xs:documentation>
					<xs:appinfo/>
				</xs:annotation>
				<xs:complexContent>
					<xs:extension base="tns:BaseRequest">
						<xs:sequence>							
							<xs:element maxOccurs="1" minOccurs="1" name="experimentId" type="xs:long">  
								<xs:annotation>
									<xs:documentation>
										Experiment would be obtained based on the experiment Id or experiment Name. 
									</xs:documentation>
								</xs:annotation>
							</xs:element>														
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>

			<xs:complexType name="GetExperimentResponse">
				<xs:annotation>
					<xs:documentation>
						Response object to hold the experiment.
					</xs:documentation>
				</xs:annotation>
				<xs:complexContent>
					<xs:extension base="tns:BaseResponse">
						<xs:sequence>
							<xs:element maxOccurs="1" minOccurs="0" name="experiment" type="tns:Experiment"/>
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>

			<xs:complexType name="Experiment">
				<xs:annotation>
					<xs:documentation>
						Holds experiment level data.
					</xs:documentation>
				</xs:annotation>
				<xs:sequence>					
					<xs:element maxOccurs="1" minOccurs="0" name="experimentId" type="xs:long"/>
					<xs:element maxOccurs="1" minOccurs="1" name="experimentName" type="xs:string"/>
					<xs:element maxOccurs="1" minOccurs="1" name="globalId" type="xs:string"/>					
					<xs:element maxOccurs="1" minOccurs="1" name="startDate" type="xs:dateTime"/>
					<xs:element maxOccurs="1" minOccurs="0" name="endDate" type="xs:dateTime"/>					
					<xs:element maxOccurs="1" minOccurs="0" name="experimentStatus" type="xs:token"/>										
					<xs:element maxOccurs="1" minOccurs="0" name="gxt" type="xs:string"/>
					<xs:element maxOccurs="1" minOccurs="0" name="experimentHypothesis" type="xs:string"/>				
					<xs:element maxOccurs="unbounded" minOccurs="1" name="treatment" type="tns:Treatment"/> 
					<xs:element maxOccurs="unbounded" minOccurs="0" name="trackingROIDefn" type="tns:TrackingROIDefn"/>
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="Treatment">
				<xs:annotation>
					<xs:documentation>
						Holds treatment level data.
					</xs:documentation>
				</xs:annotation>
				<xs:sequence>
					<xs:element maxOccurs="1" minOccurs="0" name="treatmentId" type="xs:long"/>
					<xs:element maxOccurs="1" minOccurs="1" name="treatmentName" type="xs:string"/>                    
					<xs:element maxOccurs="1" minOccurs="1" name="treatmentType" type="xs:token"/>					    
					<xs:element maxOccurs="1" minOccurs="1" name="treatmentTrafficPercentage" type="xs:float"/>  
					<xs:element maxOccurs="1" minOccurs="0" name="treatmentStatus" type="xs:token"/>					
					<xs:element maxOccurs="1" minOccurs="0" name="treatmentPageIds" type="xs:string"/> <!--revisit -->
					<xs:element maxOccurs="unbounded" minOccurs="0" name="factor" type="tns:Factor"/>					
					<xs:element maxOccurs="1" minOccurs="0" name="optInUrl" type="xs:string"/>
					<xs:element maxOccurs="1" minOccurs="0" name="optOutUrl" type="xs:string"/> 
					<xs:element maxOccurs="unbounded" minOccurs="0" name="treatmentUser" type="tns:TreatmentUser"/>
				</xs:sequence>
			</xs:complexType>
			
			<xs:complexType name="TrackingROIDefn">
				<xs:annotation>
					<xs:documentation>
						Holds Experiment Tracking ROI Definition.
					</xs:documentation>
				</xs:annotation>
				<xs:sequence>
					<xs:element maxOccurs="1" minOccurs="0" name="roiEventId" type="xs:long"/>	
					<xs:element maxOccurs="1" minOccurs="1" name="roiDisplayName" type="xs:string"/>					
					<xs:element maxOccurs="1" minOccurs="1" name="roiType" type="xs:int"/>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="roiPageId" type="xs:int"/>
					<xs:element maxOccurs="1" minOccurs="1" name="roiName" type="xs:string"/>
					<xs:element maxOccurs="1" minOccurs="0" name="roiValue" type="xs:string"/>					
				</xs:sequence>
			</xs:complexType>

		<xs:complexType name="TreatmentUser">
				<xs:annotation>
					<xs:documentation>
						Holds treatments user level data.
					</xs:documentation>
				</xs:annotation>
				<xs:sequence>
					<xs:element minOccurs="1" name="userId" type="xs:long"/>
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="Factor">
				<xs:annotation>
					<xs:documentation>
						Object to hold the Factors.
					</xs:documentation>
				</xs:annotation>
				<xs:sequence>
					<xs:element maxOccurs="1" minOccurs="0" name="factorId" type="xs:long"/>
					<xs:element maxOccurs="1" minOccurs="1" name="factorName" type="xs:string"/>
					<xs:element maxOccurs="1" minOccurs="1" name="factorValue" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>

			<xs:simpleType name="ExperimentStatus">
				<xs:annotation>
					<xs:documentation>
						The various status an experiment can be in. As of now - Pending, Planned, Active, Completed, Canceled, Stopped, Deleted, Ramp_Pending, Ramp_Planned, Ramp_Active, Ramp_Stopped, Ramp_Completed, Default, BlackOutExperiments.
					</xs:documentation>
				</xs:annotation>
				<xs:restriction base="xs:token"/>
			</xs:simpleType>

			<xs:simpleType name="TreatmentType">
				<xs:annotation>
					<xs:documentation>
						The various treatment types, as of now -
						Control, Variant.
					</xs:documentation>
				</xs:annotation>
				<xs:restriction base="xs:token"/>
			</xs:simpleType>

			<xs:simpleType name="TreatmentStatus">
				<xs:annotation>
					<xs:documentation>
						The various status applied to a treatment as of now Inactive,Active,Delete.
					</xs:documentation>
				</xs:annotation>
				<xs:restriction base="xs:token"/>
			</xs:simpleType>

			<xs:complexType abstract="true" name="BaseRequest">
				<xs:annotation>
					<xs:documentation>
						This is the base class for request container for
						all service operations.
					</xs:documentation>
					<xs:appinfo>
						<typeLibrarySource library="common-type-library" namespace="http://www.ebayopensource.org/tumeric/services">
						</typeLibrarySource>
					</xs:appinfo>
				</xs:annotation>
				<xs:sequence>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="extension" type="tns:ExtensionType"/>
				</xs:sequence>
			</xs:complexType>

			<xs:complexType abstract="true" name="BaseResponse">
				<xs:annotation>
					<xs:appinfo>
						<typeLibrarySource library="common-type-library" namespace="http://www.ebayopensource.org/tumeric/services"/>
					</xs:appinfo>
					<xs:documentation>
						Base response container for all service
						operations. Contains error information
						associated with the request.
					</xs:documentation>
				</xs:annotation>
				<xs:sequence>
					<xs:element name="ack" type="tns:AckValue">
						<xs:annotation>
							<xs:documentation/>
							<xs:appinfo>
								<CallInfo>
									<AllCalls/>
									<Returned>Always</Returned>
								</CallInfo>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="errorMessage" type="tns:ErrorMessage">
						<xs:annotation>
							<xs:documentation>
								Information for an error or warning that
								occurred when eBay processed the
								request.
							</xs:documentation>
							<xs:appinfo>
								<CallInfo>
									<AllCalls/>
									<Returned>Conditionally</Returned>
								</CallInfo>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="extension" type="tns:ExtensionType"/>
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="ExtensionType">
				<xs:annotation>
					<xs:documentation>
						Extension (if needed)
					</xs:documentation>
					<xs:appinfo>
						<typeLibrarySource library="common-type-library" namespace="http://www.ebayopensource.org/tumeric/services">
						</typeLibrarySource>
					</xs:appinfo>
				</xs:annotation>
				<xs:sequence>
					<xs:element name="id" type="xs:positiveInteger"/>
					<xs:element name="version" type="xs:string"/>
					<xs:element name="contentType" type="xs:string"/>
					<xs:element name="value" type="xs:string"/>

						processContents="lax" /&gt;
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="ErrorMessage">
				<xs:annotation>
					<xs:appinfo>
						<typeLibrarySource library="common-type-library" namespace="http://www.ebayopensource.org/tumeric/services"/>
					</xs:appinfo>
					<xs:documentation>
						ErrorMessage to indicate any Error/Warning
						occured as part of service call. Any run time
						error will not be reported here, but will be
						reported aspart of soap fault.
					</xs:documentation>
				</xs:annotation>
				<xs:sequence>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="error" type="tns:ErrorData">
						<xs:annotation>
							<xs:documentation>
								Details about a single error.
							</xs:documentation>
							<xs:appinfo>
								<CallInfo>
									<AllCalls/>
									<Returned>Conditionally</Returned>
								</CallInfo>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="ErrorData">
				<xs:annotation>
					<xs:appinfo>
						<typeLibrarySource library="common-type-library" namespace="http://www.ebayopensource.org/tumeric/services"/>
					</xs:appinfo>
					<xs:documentation>
						This represents error details.
					</xs:documentation>
				</xs:annotation>
				<xs:sequence>
					<xs:element name="errorId" type="xs:long">
						<xs:annotation>
							<xs:documentation>
								A unique code that identifies the
								particular error condition that
								occurred. Your application can use error
								codes as identifiers in your customized
								error-handling algorithms.
							</xs:documentation>
							<xs:appinfo>
								<CallInfo>
									<AllCalls/>
									<Returned>Conditionally</Returned>
								</CallInfo>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="domain" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								Name of the domain upon which the error
								occurred. &lt;dl&gt; &lt;lh&gt;Domains
								include:&lt;/lh&gt; &lt;dt&gt;
								Marketplace &lt;/dt&gt; &lt;dd&gt; A
								business or validation error occurred
								for the Merchandising Service.
								&lt;/dd&gt; &lt;dt&gt; SOA &lt;/dt&gt;
								&lt;dd&gt; An exception occurred in the
								Service Oriented Architecture (SOA)
								framework. &lt;/dd&gt; &lt;/dl&gt;
							</xs:documentation>
							<xs:appinfo>
								<CallInfo>
									<AllCalls/>
									<Returned>Conditionally</Returned>
								</CallInfo>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="severity" type="tns:ErrorSeverity">
						<xs:annotation>
							<xs:documentation>
								Indicates whether the error caused the
								request to fail (Error) or not
								(Warning). &lt;br&gt;&lt;br&gt; If the
								request fails and the source of the
								problem is within the application (such
								as a missing required element), please
								change the application before you retry
								the request. If the problem is due to
								end-user input data, please alert the
								end-user to the problem and provide the
								means for them to correct the data. Once
								the problem in the application or data
								is resolved, you can attempt to re- send
								the request to eBay.
								&lt;br&gt;&lt;br&gt; If the source of
								the problem is on eBay's side, you can
								retry the request as-is a reasonable
								number of times (eBay recommends twice).
								If the error persists, contact Developer
								Technical Support. Once the problem has
								been resolved, the request may be resent
								in its original form.
								&lt;br&gt;&lt;br&gt; When a warning
								occurs, the error is returned in
								addition to the business data. In this
								case, you do not need to retry the
								request (as the original request was
								successful). However, depending on the
								cause or nature of the warning, you
								might need to contact either the end
								user or eBay to effect a long term
								solution to the problem to prevent it
								from reoccurring in the future.
							</xs:documentation>
							<xs:appinfo>
								<CallInfo>
									<AllCalls/>
									<Returned>Conditionally</Returned>
								</CallInfo>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="category" type="tns:ErrorCategory">
						<xs:annotation>
							<xs:documentation>
								There are three categories of errors:
								request errors, application errors, and
								system errors.
							</xs:documentation>
							<xs:appinfo>
								<CallInfo>
									<AllCalls/>
									<Returned>Conditionally</Returned>
								</CallInfo>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="message" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								A detailed description of the condition
								that resulted in the error.
							</xs:documentation>
							<xs:appinfo>
								<CallInfo>
									<AllCalls/>
									<Returned>Conditionally</Returned>
								</CallInfo>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="subdomain" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								Name of the subdomain upon which the
								error occurred. &lt;dl&gt;
								&lt;lh&gt;Subdomains include:&lt;/lh&gt;
								&lt;dt&gt; Merchandising &lt;/dt&gt;
								&lt;dd&gt; The error is specific to the
								Merchandising service. &lt;/dd&gt;
								&lt;dt&gt; MarketplaceCommon &lt;/dt&gt;
								&lt;dd&gt; The error is common to all
								Marketplace services. &lt;/dd&gt;
								&lt;/dl&gt;
							</xs:documentation>
							<xs:appinfo>
								<CallInfo>
									<AllCalls/>
									<Returned>Conditionally</Returned>
								</CallInfo>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="exceptionId" type="xs:token">
						<xs:annotation>
							<xs:documentation>
								Unique identifier for an exception
								associated with an error.
							</xs:documentation>
							<xs:appinfo>
								<CallInfo>
									<AllCalls/>
									<Returned>Conditionally</Returned>
								</CallInfo>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="parameter" type="tns:ErrorParameter">
						<xs:annotation>
							<xs:documentation>
								Some warning and error messages return
								one or more variables that contain
								contextual information about the error.
								This is often the field or value that
								triggered the error.
							</xs:documentation>
							<xs:appinfo>
								<CallInfo>
									<AllCalls/>
									<Returned>Conditionally</Returned>
								</CallInfo>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="ErrorParameter">
				<xs:annotation>
					<xs:appinfo>
						<typeLibrarySource library="common-type-library" namespace="http://www.ebayopensource.org/tumeric/services"/>
					</xs:appinfo>
					<xs:documentation>
						Contextual information associated with an error.
					</xs:documentation>
				</xs:annotation>
				<xs:simpleContent>
					<xs:extension base="xs:string">
						<xs:attribute name="name" type="xs:string">
							<xs:annotation>
								<xs:documentation>
									The name of the parameter in the
									list of parameter types returned
									within the error type.
								</xs:documentation>
								<xs:appinfo>
									<CallInfo>
										<AllCalls/>
										<Returned>
											Conditionally
										</Returned>
									</CallInfo>
								</xs:appinfo>
							</xs:annotation>
						</xs:attribute>
					</xs:extension>
				</xs:simpleContent>
			</xs:complexType>

			<xs:simpleType name="AckValue">
				<xs:annotation>
					<xs:appinfo>
						<typeLibrarySource library="common-type-library" namespace="http://www.ebayopensource.org/tumeric/services"/>
					</xs:appinfo>
					<xs:documentation>
						Indicates whether the error is a severe error
						(causing the request to fail) or an
						informational error (a warning) that should be
						communicated to the user.
					</xs:documentation>
				</xs:annotation>
				<xs:restriction base="xs:string">
					<xs:enumeration value="Success">
						<xs:annotation>
							<xs:documentation>
								The request was processed successfully,
								but something occurred that may affect
								your application or the user.
							</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="Failure">
						<xs:annotation>
							<xs:documentation>
								The request that triggered the error was
								not processed successfully. When a
								serious application-level error occurs,
								the error is returned instead of the
								business data.
							</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="Warning">
						<xs:annotation>
							<xs:documentation>
								The request that triggered the error was
								processed successfully but with some
								warnings.
							</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="PartialFailure">
						<xs:annotation>
							<xs:documentation>
								The request that triggered the error was
								processed successfully but with some
								warnings.
							</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
				</xs:restriction>
			</xs:simpleType>

			<xs:simpleType name="ErrorSeverity">
				<xs:annotation>
					<xs:appinfo>
						<typeLibrarySource library="common-type-library" namespace="http://www.ebayopensource.org/tumeric/services"/>
					</xs:appinfo>
					<xs:documentation>
						Indicates whether the error is a severe error
						(causing the request to fail) or an
						informational error (a warning) that should be
						communicated to the user.
					</xs:documentation>
				</xs:annotation>
				<xs:restriction base="xs:string">
					<xs:enumeration value="Error">
						<xs:annotation>
							<xs:documentation>
								The request that triggered the error was
								not processed successfully. When a
								serious application-level error occurs,
								the error is returned instead of the
								business data.
							</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="Warning">
						<xs:annotation>
							<xs:documentation>
								The request was processed successfully,
								but something occurred that may affect
								your application or the user. For
								example, eBay may have changed a value
								the user sent in. In this case, eBay
								returns a normal, successful response
								and also returns the warning.
							</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
				</xs:restriction>
			</xs:simpleType>

			<xs:simpleType name="ErrorCategory">
				<xs:annotation>
					<xs:appinfo>
						<typeLibrarySource library="common-type-library" namespace="http://www.ebayopensource.org/tumeric/services"/>
					</xs:appinfo>
					<xs:documentation>
						There are three categories of error: request
						errors, application errors, and system errors.
						Request and application errors are caused
						primarily by invalid data passed in the request.
						System errors are caused primarily by
						application failures and cannot be corrected by
						changing request values.
					</xs:documentation>
				</xs:annotation>
				<xs:restriction base="xs:string">
					<xs:enumeration value="System">
						<xs:annotation>
							<xs:documentation>
								Indicates that an error has occurred on
								the eBay system side, such as a database
								or server down. An application can retry
								the request as-is a reasonable number of
								times (eBay recommends twice). If the
								error persists, contact Developer
								Technical Support. Once the problem has
								been resolved, the request may be resent
								in its original form.
							</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="Application">
						<xs:annotation>
							<xs:documentation>
								An error occurred due to a problem with
								the request, such as missing or invalid
								fields. The problem must be corrected
								before the request can be made again. If
								the problem is due to something in the
								application (such as a missing required
								field), the application must be changed.
								Once the problem in the application or
								data is resolved, resend the corrected
								request to eBay.
							</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="Request">
						<xs:annotation>
							<xs:documentation>
								An error occurred due to a problem with
								the request, such as invalid or missing
								data. The problem must be corrected
								before the request can be made again. If
								the problem is a result of end-user
								data, the application must alert the
								end-user to the problem and provide the
								means for the end-user to correct the
								data. Once the problem in the data is
								resolved, resend the request to eBay
								with the corrected data.
							</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
				</xs:restriction>
			</xs:simpleType>
		</xs:schema>
	</types>
	<message name="getVersionRequest">
		<part element="tns:getVersionRequest" name="messageParameters">
		</part>
	</message>	
	<message name="getVersionResponse">
		<part element="tns:getVersionResponse" name="messageParameters">
		</part>
	</message>
	<message name="createExperimentRequest">
		<part element="tns:createExperimentRequest" name="messageParameters">
		</part>
	</message>
	<message name="createExperimentResponse">
		<part element="tns:createExperimentResponse" name="messageParameters">
		</part>
	</message>	
	<message name="updateExperimentRequest">
		<part element="tns:updateExperimentRequest" name="messageParameters">
		</part>
	</message>
	<message name="updateExperimentResponse">
		<part element="tns:updateExperimentResponse" name="messageParameters">
		</part>
	</message>
	<message name="getExperimentRequest">
		<part element="tns:getExperimentRequest" name="messageParameters">
		</part>
	</message>
	<message name="getExperimentResponse">
		<part element="tns:getExperimentResponse" name="messageParameters">
		</part>
	</message>	

	<portType name="ExperimentationManagementServicePort">
		<operation name="getVersion">
			<wsdl:documentation>
				Operation to get the service version.
			</wsdl:documentation>
			<input message="tns:getVersionRequest" name="getVersionRequest">
			</input>
			<output message="tns:getVersionResponse" name="getVersionResponse">
			</output>
		</operation>	
		<operation name="createExperiment">
			<wsdl:documentation>
				Creates a new experiment and returns the same if ack is success.
			</wsdl:documentation>
			<input message="tns:createExperimentRequest"/>
			<output message="tns:createExperimentResponse"/>
		</operation>
		<operation name="updateExperiment">
			<wsdl:documentation>
				Updates an existing experiment, if ack success, returns the updated experiment.
			</wsdl:documentation>
			<input message="tns:updateExperimentRequest"/>
			<output message="tns:updateExperimentResponse"/>
		</operation>
		<operation name="getExperiment">
			<wsdl:documentation>
				Retrieves the experiment by id.
			</wsdl:documentation>
			<input message="tns:getExperimentRequest"/>
			<output message="tns:getExperimentResponse"/>
		</operation>
	</portType>
	<binding name="ExperimentationManagementServiceSOAPBinding" type="tns:ExperimentationManagementServicePort">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="getVersion">
			<soap12:operation soapAction="urn:getVersion" style="document"/>
			<input>
				<soap12:body use="literal"/>
			</input>
			<output>
				<soap12:body use="literal"/>
			</output>
		</operation>		
		<operation name="createExperiment">
			<soap:operation soapAction="urn:createExperiment"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="updateExperiment">
			<soap:operation soapAction="urn:updateExperiment"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="getExperiment">
			<soap:operation soapAction="urn:getExperiment"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
	</binding>
	<service name="ExperimentationManagementService">
		<wsdl:documentation>
			<Version>1.0.0</Version>
			This service will be used to perform
			Create,Read,Update,Delete level operations to experiments
			and its metadata. Its first use will be to create, update and delete experiments for the dlite tool.
		</wsdl:documentation>
		<port binding="tns:ExperimentationManagementServiceSOAPBinding" name="ExperimentationManagementServiceSOAPPort">
			<soap12:address location="https://svcs.ebay.com/services/experimentationmanagement/ExperimentationManagementService/v1"/>
		</port>		
	</service>
</definitions>