codegen/codegen-tools/src/test/resources/org/ebayopensource/turmeric/test/tools/codegen/data/proto/FindingDemandService_for_tags.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://www.ebayopensource.org/tumeric/search/v1/services" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xs="http://www.w3.org/2001/XMLSchema" name="FindingDemandService" targetNamespace="http://www.ebayopensource.org/tumeric/search/v1/services">
	<wsdl:types>
		<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.ebayopensource.org/tumeric/search/v1/services">
			<xs:simpleType name="AckValue">
				<xs:annotation>
					<xs:documentation>
						Indicates whether the error is a severe error
						(causing the
						request to fail) or an
						informational error (a warning)
						that should be
						communicated to the user.
					</xs:documentation>
					<xs:appinfo>
						<typeLibrarySource library="common-type-library" namespace="http://www.ebayopensource.org/tumeric/services"/>
					</xs:appinfo>
				</xs:annotation>
				<xs:restriction base="xs:string">
					<xs:enumeration value="Success">
						<xs:annotation>
							<xs:documentation>
								The request was processed successfully,
								but
								something
								occurred that may affect
								your application or the user.
							</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="Failure">
						<xs:annotation>
							<xs:documentation>
								The request that triggered the error was
								not
								processed
								successfully. When a
								serious application-level error
								occurs,
								the error is
								returned instead of the
								business data.
							</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="Warning">
						<xs:annotation>
							<xs:documentation>
								The request that triggered the error was
								processed
								successfully but with some
								warnings.
							</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="PartialFailure">
						<xs:annotation>
							<xs:documentation>
								The request that triggered the error was
								processed
								successfully but with some
								warnings.
							</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
				</xs:restriction>
			</xs:simpleType>
			<xs:complexType abstract="true" name="BaseRequest">
				<xs:annotation>
					<xs:documentation>
						This is the base class for request container for
						all
						service operations.
					</xs:documentation>
					<xs:appinfo>
						<typeLibrarySource library="common-type-library" namespace="http://www.ebayopensource.org/tumeric/services"/>
					</xs:appinfo>
				</xs:annotation>
				<xs:sequence>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="extension" type="tns:ExtensionType"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType abstract="true" name="BaseResponse">
				<xs:annotation>
					<xs:documentation>
						Base response container for all service
						operations.
						Contains error information
						associated with the request.
					</xs:documentation>
					<xs:appinfo>
						<typeLibrarySource library="common-type-library" namespace="http://www.ebayopensource.org/tumeric/services"/>
					</xs:appinfo>
				</xs:annotation>
				<xs:sequence>
					<xs:element name="ack" type="tns:AckValue">
						<xs:annotation>
							<xs:documentation/>
							<xs:appinfo>
								<CallInfo>
									<AllCalls/>
									<Returned>Always</Returned>
								</CallInfo>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="errorMessage" type="tns:ErrorMessage">
						<xs:annotation>
							<xs:documentation>
								Information for an error or warning that
								occurred when
								eBay processed the
								request.
							</xs:documentation>
							<xs:appinfo>
								<CallInfo>
									<AllCalls/>
									<Returned>Conditionally</Returned>
								</CallInfo>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="version" type="xs:string">
						<xs:annotation>
							<xs:documentation/>
							<xs:appinfo>
								<CallInfo>
									<AllCalls/>
									<Returned>Always</Returned>
								</CallInfo>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="timestamp" type="xs:dateTime">
						<xs:annotation>
							<xs:documentation/>
							<xs:appinfo>
								<CallInfo>
									<AllCalls/>
									<Returned>Always</Returned>
								</CallInfo>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="extension" type="tns:ExtensionType"/>
				</xs:sequence>
			</xs:complexType>
			<xs:simpleType name="ErrorCategory">
				<xs:annotation>
					<xs:documentation>
						Documentation goes here.
					</xs:documentation>
					<xs:appinfo>
						<typeLibrarySource library="common-type-library" namespace="http://www.ebayopensource.org/tumeric/services"/>
					</xs:appinfo>
				</xs:annotation>
				<xs:restriction base="xs:token">
					<xs:enumeration value="System"/>
					<xs:enumeration value="Application"/>
					<xs:enumeration value="Request"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:complexType name="ErrorData">
				<xs:annotation>
					<xs:documentation>
						Documentation goes here
					</xs:documentation>
					<xs:appinfo>
						<typeLibrarySource library="common-type-library" namespace="http://www.ebayopensource.org/tumeric/services"/>
					</xs:appinfo>
				</xs:annotation>
				<xs:sequence>
					<xs:element name="errorId" type="xs:long"/>
					<xs:element name="domain" type="xs:string"/>
					<xs:element minOccurs="0" name="subdomain" type="xs:string"/>
					<xs:element name="severity" type="tns:ErrorSeverity"/>
					<xs:element name="category" type="tns:ErrorCategory"/>
					<xs:element name="message" type="xs:string"/>
					<xs:element minOccurs="0" name="exceptionId" type="xs:token"/>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="parameter" type="tns:ErrorParameter"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="ErrorMessage">
				<xs:annotation>
					<xs:documentation>
						Documentation goes here
					</xs:documentation>
					<xs:appinfo>
						<typeLibrarySource library="common-type-library" namespace="http://www.ebayopensource.org/tumeric/services"/>
					</xs:appinfo>
				</xs:annotation>
				<!--

					processContents="lax" /> </xs:sequence>
				-->
				<xs:sequence>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="error" type="tns:ErrorData"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="ErrorParameter">
				<xs:annotation>
					<xs:documentation>
						Documentation goes here
					</xs:documentation>
					<xs:appinfo>
						<typeLibrarySource library="common-type-library" namespace="http://www.ebayopensource.org/tumeric/services"/>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleContent>
					<xs:extension base="xs:string">
						<xs:attribute name="name" type="xs:string" use="optional"/>
					</xs:extension>
				</xs:simpleContent>
			</xs:complexType>
			<xs:simpleType name="ErrorSeverity">
				<xs:annotation>
					<xs:documentation>
						Documentation goes here.
					</xs:documentation>
					<xs:appinfo>
						<typeLibrarySource library="common-type-library" namespace="http://www.ebayopensource.org/tumeric/services"/>
					</xs:appinfo>
				</xs:annotation>
				<xs:restriction base="xs:token">
					<xs:enumeration value="Error"/>
					<xs:enumeration value="Warning"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:complexType name="ExtensionType">
				<xs:annotation>
					<xs:documentation>
						Documentation goes here
					</xs:documentation>
					<xs:appinfo>
						<typeLibrarySource library="common-type-library" namespace="http://www.ebayopensource.org/tumeric/services"/>
					</xs:appinfo>
				</xs:annotation>
				<xs:sequence>
					<xs:element name="id" type="xs:positiveInteger"/>
					<xs:element name="version" type="xs:string"/>
					<xs:element name="contentType" type="xs:string"/>
					<xs:element name="value" type="xs:string"/>

				</xs:sequence>
			</xs:complexType>
			<xs:element name="getVersionRequest" type="tns:GetVersionRequest"/>
			<xs:complexType name="GetVersionRequest">
				<xs:annotation>
					<xs:documentation>
						Document goes here
					</xs:documentation>
				</xs:annotation>
				<xs:complexContent>
					<xs:extension base="tns:BaseRequest">
						<xs:sequence/>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:element name="getVersionResponse" type="tns:GetVersionResponse"/>
			<xs:complexType name="GetVersionResponse">
				<xs:annotation>
					<xs:documentation>
						Document goes here
					</xs:documentation>
				</xs:annotation>
				<xs:complexContent>
					<xs:extension base="tns:BaseResponse">
						<xs:sequence/>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:element name="getDemandDataRequest" type="tns:GetDemandDataRequest">
			</xs:element>
			<xs:element name="getDemandDataResponse" type="tns:GetDemandDataResponse">
			</xs:element>

			<xs:complexType name="GetDemandDataRequest">
				<xs:complexContent>
					<xs:extension base="tns:BaseRequest">
						<xs:sequence>
							<xs:element minOccurs="1" name="serviceContext" type="tns:ServiceContext">
							</xs:element>

							<xs:element maxOccurs="unbounded" minOccurs="1" name="request" type="tns:DemandRequest"/>
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>

			<xs:complexType name="GetDemandDataResponse">
				<xs:complexContent>
					<xs:extension base="tns:BaseResponse">
						<xs:sequence>

							<xs:element maxOccurs="unbounded" minOccurs="0" name="response" type="tns:DemandResponse">
							</xs:element>

							<xs:element minOccurs="0" name="executionTimeMillis" type="xs:long">
							</xs:element>
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>

			<xs:complexType name="ServiceContext">
				<xs:annotation>
					<xs:documentation>
						Contextual information used by Search Services.
					</xs:documentation>
				<xs:appinfo><typeLibrarySource library="common-type-library" namespace="http://www.ebayopensource.org/tumeric/search/v2/typelibrary"/></xs:appinfo></xs:annotation>
				<xs:sequence>
					<xs:element maxOccurs="1" minOccurs="1" name="globalId" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								The Global Id as defined in SOA platform e.g. EBAY-US.
							</xs:documentation>
						</xs:annotation>			
					</xs:element>
					<xs:element maxOccurs="1" minOccurs="0" name="partnerId" type="xs:int">
						<xs:annotation>
							<xs:documentation>
								The partner id as defined in ParnerEnum, in most cases its value should be 2 (ebay).
							</xs:documentation>
						</xs:annotation>			
					</xs:element>
					<xs:element maxOccurs="1" minOccurs="0" name="locale" type="xs:token">
						<xs:annotation>
							<xs:documentation>
								Locale in the format of "language,country,variant". Check java.util.Locale
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element maxOccurs="1" minOccurs="0" name="timeZone" type="xs:token">
						<xs:annotation>
							<xs:documentation>
								Time zone in the format of "GMT+/-hh:mm"
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element maxOccurs="1" minOccurs="0" name="currency" type="xs:token">
						<xs:annotation>
							<xs:documentation>
								Money currency. Check com.ebay.af.common.types.Currency for the available values.		
							</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="DiagnosticInfo">
				<xs:annotation>
					<xs:documentation>
						This type holds the logs returned from Voyager. 
					</xs:documentation>
				<xs:appinfo><typeLibrarySource library="common-type-library" namespace="http://www.ebayopensource.org/tumeric/search/v1/typelibrary"/></xs:appinfo></xs:annotation>
				<xs:sequence>
					<xs:element maxOccurs="1" minOccurs="0" name="sender" type="xs:string">
						<xs:annotation>
							<xs:documentation>	
								The name or id of the application or module that generates the log.			
							</xs:documentation>
						</xs:annotation>			
					</xs:element>
					<xs:element maxOccurs="1" minOccurs="0" name="log" type="xs:string">
						<xs:annotation>
							<xs:documentation>	
								The name or id of the log.			
							</xs:documentation>
						</xs:annotation>						
					</xs:element>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="record" type="tns:Property">
						<xs:annotation>
							<xs:documentation>	
								The logs as a list of name value pairs.			
							</xs:documentation>
						</xs:annotation>			
					</xs:element>
				</xs:sequence>
			</xs:complexType>
		
            <xs:complexType name="DemandRequest">
            	<xs:sequence>
            		<xs:element minOccurs="0" name="includeDiagnosticInfo" type="xs:boolean"/>
            		<xs:element minOccurs="1" name="dimension" type="tns:Member">
            			<xs:annotation>
            				<xs:documentation>
            					The dimension or entity in DSBE. For available
            					dimension values, see the DemandEntityKeys in
            					com.ebay.finding.metadata.dsbe.DemandQueryDictionary
            					(also in DemandToDictionary,
            					DemandNeighborhoodDictionary).
            				</xs:documentation>
            			</xs:annotation>
            		</xs:element>
            		<xs:element maxOccurs="unbounded" minOccurs="1" name="measure" type="tns:Member">
            			<xs:annotation>
            				<xs:documentation>
            					The measures or attributes in DSBE. For
            					available measure values, see the
            					DemandAttributeKeys in
            					com.ebay.finding.metadata.dsbe.DemandQueryDictionary
            					(also in DemandToDictionary,
            					DemandNeighborhoodDictionary). All the measures
            					have to be valid for the dimension.
            				</xs:documentation>
            			</xs:annotation>
            		</xs:element>
            		<xs:element maxOccurs="unbounded" minOccurs="0" name="constraint" type="tns:Constraint">
            		</xs:element>
            		<xs:element maxOccurs="unbounded" minOccurs="0" name="sortBy" type="tns:SortBy">
            		</xs:element>
            		<xs:element minOccurs="0" name="fetchSize" type="xs:int"/>
            	</xs:sequence>
            </xs:complexType>
            
            <xs:complexType name="DemandResponse">
            	<xs:sequence>
            		<xs:element maxOccurs="unbounded" minOccurs="0" name="diagnosticInfo" type="tns:DiagnosticInfo"/>
            		<xs:element minOccurs="1" name="resultSummary" type="tns:ResultSummaryInfo">
            		</xs:element>
            		<xs:element maxOccurs="unbounded" minOccurs="0" name="demandResult" type="tns:SearchResult">
            		</xs:element>
            	</xs:sequence>
            </xs:complexType>
            <xs:complexType name="Property">
				<xs:annotation>
					<xs:documentation> 
						Name value pair for defining properties associated with entities.
					</xs:documentation>
				<xs:appinfo><typeLibrarySource library="common-type-library" namespace="http://www.ebayopensource.org/tumeric/search/v2/typelibrary"/></xs:appinfo></xs:annotation>
				<xs:sequence>
					<xs:element maxOccurs="1" minOccurs="1" name="name" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								The name of the property.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="value" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								The values of the property.
							</xs:documentation>
						</xs:annotation>			
					</xs:element>				
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="SortBy">
				<xs:annotation>
					<xs:documentation>
						SortBy is used to define the order of result entries.
					</xs:documentation>
				<xs:appinfo><typeLibrarySource library="common-type-library" namespace="http://www.ebayopensource.org/tumeric/search/v2/typelibrary"/></xs:appinfo></xs:annotation>
				<xs:sequence>
					<xs:choice>
						<xs:element maxOccurs="1" minOccurs="0" name="sortField" type="tns:Field">
							<xs:annotation>
								<xs:documentation>
									The field which the sort operation is based on.
								</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:choice>
					<xs:element maxOccurs="1" minOccurs="0" name="sortOrder" type="tns:SortOrder">
						<xs:annotation>
							<xs:documentation>
								The order of the sort.
							</xs:documentation>
						</xs:annotation>
					</xs:element>				
				</xs:sequence>
			</xs:complexType>
			<xs:simpleType name="SortOrder">
				<xs:annotation>
					<xs:documentation>
						This type defines sort order.
					</xs:documentation>
				<xs:appinfo><typeLibrarySource library="common-type-library" namespace="http://www.ebayopensource.org/tumeric/search/v2/typelibrary"/></xs:appinfo></xs:annotation>
				<xs:restriction base="xs:string">
					<xs:enumeration value="INCREASING">
						<xs:annotation>
							<xs:documentation>increasing</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="DECREASING">
						<xs:annotation>
							<xs:documentation>decreasing</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
				</xs:restriction>
			</xs:simpleType>
			<xs:complexType name="Field">
				<xs:annotation>
					<xs:documentation>	
						Field type is the atomic unit which can be used in constraint or read set. 
						Field can be an item attribute, aspect, or function. 
						It could be Member or Expression.
					</xs:documentation>
				<xs:appinfo><typeLibrarySource library="common-type-library" namespace="http://www.ebayopensource.org/tumeric/search/v2/typelibrary"/></xs:appinfo></xs:annotation>
				<xs:choice>
					<xs:element name="member" type="tns:Member">
						<xs:annotation>
								<xs:documentation>The string value of operand</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="expression" type="tns:Expression">
						<xs:annotation>
								<xs:documentation>The string value of operand</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:complexType>
			<xs:complexType name="Member">
				<xs:annotation> 
					<xs:documentation>
						This type defines a member in a Dictionary. It could be a static member
						defined in the Dictionary such as Title, Category Id, or a built-in function defined in the dictionary
						such as Distance(), ShippingCost(). A Member can be uniquely identified by its namespace and name.
					</xs:documentation>
					<xs:appinfo>
						<typeLibrarySource library="common-type-library" namespace="http://www.ebayopensource.org/tumeric/search/v2/typelibrary">
						</typeLibrarySource>
					</xs:appinfo>
				</xs:annotation>
				<xs:sequence>
					<xs:element maxOccurs="1" minOccurs="1" name="namespace" type="xs:token">
						<xs:annotation>
							<xs:documentation>
								The Namespace of the member. For complete list of namespace definitions,
								please check com.ebay.finding.metadata.namespace.NamespaceEnum.
							</xs:documentation>
						</xs:annotation>				
					</xs:element>		
					<xs:element maxOccurs="1" minOccurs="1" name="name" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								The name of the Member.
							</xs:documentation>
						</xs:annotation>				
					</xs:element>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="property" type="tns:Property">
						<xs:annotation>
							<xs:documentation>
								Additional properties of the Member, used mainly for parameters of built-in
								function Members, such as the postal code for Location and ShippingCost.  							
							</xs:documentation>
						</xs:annotation>				
					</xs:element>	
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="Expression">
				<xs:annotation>
					<xs:documentation>	
						This is an abstract type which defines the function used in voyager, 
						e.g, MACRO(ShowInSite5,0,0) and EQ(StartTime, NOW). 
						It has two sub types: LogicalExpression and NumericExpression.
					</xs:documentation>
					<xs:appinfo>
						<typeLibrarySource library="common-type-library" namespace="http://www.ebayopensource.org/tumeric/search/v2/typelibrary">
						</typeLibrarySource>
					</xs:appinfo>
				</xs:annotation>
				<xs:sequence>
					<xs:element maxOccurs="1" minOccurs="0" name="member" type="tns:Member">
						<xs:annotation>
							<xs:documentation>	
								Member is only for SimpleLogicalExpression and StrategyLogicalExpression.
								KeywordLogicalExpression could have or no Member. If no member, it searches against title.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element maxOccurs="1" minOccurs="0" name="operator" type="tns:Operator">
						<xs:annotation>
							<xs:documentation>	
								The operator defined in Operator may not be applicable to all the expressions.  
								We will document it.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="operand" type="tns:Operand">
						<xs:annotation>
							<xs:documentation>	
								The operand.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="type" type="tns:ExpressionType">
						<xs:annotation>
							<xs:documentation>	
								The element specifies the expression type 
							</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="Operator">
				<xs:annotation>
					<xs:documentation>
						The operator type
					</xs:documentation>
					<xs:appinfo>
						<typeLibrarySource library="common-type-library" namespace="http://www.ebayopensource.org/tumeric/search/v2/typelibrary">
						</typeLibrarySource>
					</xs:appinfo>
				</xs:annotation>
				<xs:choice>
					<xs:element name="aggregateNumericOperator" type="tns:AggregateNumericOperator">
						<xs:annotation>
								<xs:documentation>The operator for AggregateNumericExpression</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="compositeLogicalOperator" type="tns:CompositeLogicalOperator">
						<xs:annotation>
								<xs:documentation>The operator for CompositeLogicalExpression</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="keywordLogicalOperator" type="tns:KeywordLogicalOperator">
						<xs:annotation>
								<xs:documentation>The operator for KeywordLogicalExpression</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="simpleNumericOperator" type="tns:SimpleNumericOperator">
						<xs:annotation>
								<xs:documentation>The operator for SimpleNumericExpression</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="simpleLogicalOperator" type="tns:SimpleLogicalOperator">
						<xs:annotation>
								<xs:documentation>The operator for SimpleLogicalExpression</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:complexType>
			<xs:simpleType name="IsoCurrencyCode">
		        <xs:annotation>
		            <xs:documentation>
		             Currency representation based on ISO 4217 Standard: http://www.iso.org/iso/currency_codes_list-1
		             Every currency has the following attributs: 
		                  Numeric Code    - 3 Digits Zero Padded Numeric Code, which uniquely identifies a currency.
		                  Alphabetic Code - 3 Letter Alphabetic Code, which uniquely identifies a currency. 
		                  Currency        - The name of the currency
		                  Antity          - The country/Entity, which uses this currency.
		
		              This type exposes only a sub-set of ISO 4217.
		              The enumeration represents the Alphabetic Code. Comments are included for quick reference.
		            </xs:documentation>
		        	<xs:appinfo>
		        		<typeLibrarySource library="common-type-library" namespace="http://www.ebayopensource.org/tumeric/services">
		        		</typeLibrarySource>
		        	</xs:appinfo>
		        </xs:annotation>
		        <xs:restriction base="xs:token">   <!-- Currency,                         Entity                          ISO Currency Code -->
		            <xs:enumeration value="USD"/> <!-- U.S. Dollar                       United States                   840               -->
		            <xs:enumeration value="CAD"/> <!-- Canadian Dollar                   Canada                          124               -->
		            <xs:enumeration value="GBP"/> <!-- Pound Sterling                    United Kingdom                  826               -->
		            <xs:enumeration value="DEM"/> <!-- German Mark                       Germany                         276               -->
		            <xs:enumeration value="AUD"/> <!-- Australian Dollar                 Australia                       036               -->
		            <xs:enumeration value="JPY"/> <!-- Japanese Yen                      Japanese Yen                    392               -->
		            <xs:enumeration value="EUR"/> <!-- Euro                              European Union                  978               -->
		            <xs:enumeration value="FRF"/> <!-- French Franc                      France                          250               -->
		            <xs:enumeration value="ATS"/> <!-- Austrian Schilling                Austria                         040               -->
		            <xs:enumeration value="BEF"/> <!-- Belgian Franc                     Belgium                         056               -->
		            <xs:enumeration value="CHF"/> <!-- Swiss Franc                       Switzerland                     756               -->
		            <xs:enumeration value="CNY"/> <!-- Chinese Yuan Renminbi             China                           156               -->
		            <xs:enumeration value="CZK"/> <!-- Czech Koruna                      Czech Republic                  203               -->
		            <xs:enumeration value="DKK"/> <!-- Danish Krone                      Denmark                         208               -->
		            <xs:enumeration value="ESP"/> <!-- Spanish Peseta                    Spain                           724               -->
		            <xs:enumeration value="FIM"/> <!-- Finnish Markka                    Finland                         246               -->
		            <xs:enumeration value="GRD"/> <!-- Greek Drachma                     Greece                          300               -->
		            <xs:enumeration value="HKD"/> <!-- Hong Kong Dollar                  Hong Kong                       344               -->
		            <xs:enumeration value="HUF"/> <!-- Hungarian Forint                  Hungary                         348               -->
		            <xs:enumeration value="IDR"/> <!-- Indonesian Rupiah                 Indonesia                       360               -->
		            <xs:enumeration value="IEP"/> <!-- Irish Pound                       Ireland                         372               -->
		            <xs:enumeration value="ILS"/> <!-- Israeli new Shekel                Israel                          376               -->
		            <xs:enumeration value="ITL"/> <!-- Italian Lira                      Italy                           380               -->
		            <xs:enumeration value="NLG"/> <!-- Dutch Guilder                     Netherlands                     528               -->
		            <xs:enumeration value="NOK"/> <!-- Norwegian Krone                   Norway                          578               -->
		            <xs:enumeration value="NZD"/> <!-- New Zealand Dollar                New Zealand                     554               -->
		            <xs:enumeration value="PHP"/> <!-- Philippine Peso                   Philippines                     608               -->
		            <xs:enumeration value="PLN"/> <!-- Polish New Zloty                  Poland                          985               -->
		            <xs:enumeration value="PTE"/> <!-- Portuguese Escudo                 Portugal                        620               -->
		            <xs:enumeration value="RUR"/> <!-- Russian Ruble                     Russian Federation              810               -->
		            <xs:enumeration value="SEK"/> <!-- Swedish Krona                     Sweden                          752               -->
		            <xs:enumeration value="SGD"/> <!-- Singapore Dollar                  Singapore                       702               -->
		            <xs:enumeration value="THB"/> <!-- Thai Baht                         Thailand                        764               -->
		            <xs:enumeration value="TWD"/> <!-- New Taiwan dollar                 Taiwan                          901               -->
		            <xs:enumeration value="ZAR"/> <!-- South African Rand                South Africa                    710               -->
		            <xs:enumeration value="INR"/> <!-- Indian Rupee                      India                           356               -->
		            <xs:enumeration value="PEN"/> <!-- Peruvian New Sol                  Peru                            604               -->
		            <xs:enumeration value="MYR"/> <!-- Malaysian Ringgit                 Malaysia                        458               -->
		            <xs:enumeration value="VND"/> <!-- Vietnamese New Dong               Vietnam                         704               -->
		            <xs:enumeration value="KRW"/> <!-- South Korean Won                  South Korea                     410               -->
		            <xs:enumeration value="TRY"/> <!-- New Turkish Lira                  Turkey                          949               -->
		            <xs:enumeration value="ANG"/> <!-- Antillian Guilder                 Netherlands Antilles            532               -->
		            <xs:enumeration value="AWG"/> <!-- Aruban Guilder                    Aruba                           533               -->
		            <xs:enumeration value="BMD"/> <!-- Bermudan Dollar                   Bermudan Dollar                 060               -->
		            <xs:enumeration value="CRC"/> <!-- Costa Rican Colon                 Costa Rica                      188               -->
		            <xs:enumeration value="RON"/> <!-- Romanian New Leu                  Romania                         946               -->
		            <xs:enumeration value="VEF"/> <!-- Venezuelan Bolivar Fuerte         Venezuela                       937               -->
		            <xs:enumeration value="BBD"/> <!-- Barbados Dollar                   Barbados                        052               -->
		            <xs:enumeration value="BGN"/> <!-- Bulgarian Lev                     Bulgaria                        975               -->
		            <xs:enumeration value="BND"/> <!-- Brunei Dollar                     Brunei                          096               -->
		            <xs:enumeration value="BSD"/> <!-- Bahamian Dollar                   Bahamas                         044               -->
		            <xs:enumeration value="COP"/> <!-- Colombian Peso                    Columbia                        170               -->
		            <xs:enumeration value="DOP"/> <!-- Dominican Peso                    Dominican Republic              214               -->
		            <xs:enumeration value="GTQ"/> <!-- Guatemalan Quetzal                Guatemala                       320               -->
		            <xs:enumeration value="KYD"/> <!-- Cayman Isles Dollar               Cayman Islands                  136               -->
		            <xs:enumeration value="MVR"/> <!-- Maldivian Rufiyaa                 Maldives                        462               -->
		            <xs:enumeration value="QAR"/> <!-- Qatari Rial                       Qatar                           634               -->
		            <xs:enumeration value="SAR"/> <!-- Saudi Riyal                       Saudi Arabia                    682               -->
		            <xs:enumeration value="TTD"/> <!-- Trinidadian and Tobagonian Dollar Trinidad and Tobago             780               -->
		            <xs:enumeration value="UAH"/> <!-- Ukrainian hryvnia                 Ukraine                         980               -->
		            <xs:enumeration value="UYU"/> <!-- Peso Uruguayo                     Uruguay                         858               -->
		            <xs:enumeration value="XCD"/> <!-- East Caribbean Dollar             East Caribbean Currency Area    951               -->
		            <xs:enumeration value="XPF"/> <!-- French Polynesian Franc           French Polynesia                953               -->
		            <xs:enumeration value="JMD"/> <!-- Jamaican Dollar                   Jamaica                         388               -->
		        </xs:restriction>
		    </xs:simpleType>
		   	<xs:complexType name="Money">
				<xs:annotation>
					<xs:documentation>
						This type is used to represent Money. It should be used
						by any WSDL, which needs to send/receive Money
						information.
					</xs:documentation>
					<xs:appinfo>
						<typeLibrarySource library="common-type-library" namespace="http://www.ebayopensource.org/tumeric/services">
						</typeLibrarySource>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleContent>
					<xs:extension base="xs:decimal">
						<xs:attribute name="currencyCode" type="tns:IsoCurrencyCode" use="required"/>
					</xs:extension>
				</xs:simpleContent>
			</xs:complexType>
			<xs:complexType name="Operand">
				<xs:annotation>
					<xs:documentation>	
						This type defines all the operands available		
					</xs:documentation>
					<xs:appinfo>
						<typeLibrarySource library="common-type-library" namespace="http://www.ebayopensource.org/tumeric/search/v2/typelibrary">
						</typeLibrarySource>
					</xs:appinfo>
				</xs:annotation>		
				<xs:choice>
					<xs:element name="stringValue" type="xs:string">
						<xs:annotation>
								<xs:documentation>The string value of operand</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="intValue" type="xs:int">
						<xs:annotation>
								<xs:documentation>The integer value of operand</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="doubleValue" type="xs:double">
						<xs:annotation>
								<xs:documentation>The double value of operand</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="dateValue" type="xs:dateTime">
						<xs:annotation>
								<xs:documentation>The date value of operand</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="moneyValue" type="tns:Money">
						<xs:annotation>
								<xs:documentation>The money value of operand</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="fieldValue" type="tns:Field">
						<xs:annotation>
								<xs:documentation>The Field value of operand</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:choice>
			</xs:complexType>
			<xs:simpleType name="ExpressionType">
				<xs:annotation>
					<xs:documentation>	
						This enumeration defines all the expression that this service supports.
					</xs:documentation>
					<xs:appinfo>
						<typeLibrarySource library="common-type-library" namespace="http://www.ebayopensource.org/tumeric/search/v2/typelibrary">
						</typeLibrarySource>
					</xs:appinfo>
				</xs:annotation>
				<xs:restriction base="xs:string">
					<xs:enumeration value="KeywordLogicalExpression">
						<xs:annotation>
								<xs:documentation>KeywordLogicalExpression must have operator and one operand, the Member is optional</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="SimpleLogicalExpression">
						<xs:annotation>
								<xs:documentation>SimpleLogicalExpression must have Member, operator and one operand</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="CompositeLogicalExpression">
						<xs:annotation>
								<xs:documentation>CompositeLogicalExpression requires operator and one or multiple operands</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="StragegyLogicalExpression">
						<xs:annotation>
								<xs:documentation>StragegyLogicalExpression requires Member only</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="SimpleNumericExpression">
						<xs:annotation>
								<xs:documentation>SimpleNumericExpression requires operator and one or multiple operands</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="AggregateNumericExpression">
						<xs:annotation>
								<xs:documentation>AggregateNumericExpression requires operator and zero or multiple operands</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType name="AggregateNumericOperator">
				<xs:annotation>
					<xs:documentation>	
						This type defines aggregate functions that can be used in distribution
						requests to get distribution data.		
					</xs:documentation>
					<xs:appinfo>
						<typeLibrarySource library="common-type-library" namespace="http://www.ebayopensource.org/tumeric/search/v2/typelibrary">
						</typeLibrarySource>
					</xs:appinfo>
				</xs:annotation>
				<xs:restriction base="xs:string">
					<xs:enumeration value="MIN">
						<xs:annotation>
							<xs:documentation>
								Corresponding to the min() aggregate function defined in Search Backend.	
							</xs:documentation>
						</xs:annotation>				
					</xs:enumeration>
					<xs:enumeration value="MAX">
						<xs:annotation>
							<xs:documentation>	
								Corresponding to the max() aggregate function defined in Search Backend	
							</xs:documentation>
						</xs:annotation>				
					</xs:enumeration>
					<xs:enumeration value="SUM">
						<xs:annotation>
							<xs:documentation>	
								Corresponding to the sum() aggregate function defined in Search Backend
							</xs:documentation>
						</xs:annotation>				
					</xs:enumeration>
					<xs:enumeration value="COUNT">
						<xs:annotation>
							<xs:documentation>	
								Corresponding to the count() aggregate function defined in Search Backend
							</xs:documentation>
						</xs:annotation>								
					</xs:enumeration>
					<xs:enumeration value="UNIQUE">
						<xs:annotation>
							<xs:documentation>	
								Corresponding to the unique() aggregate function defined in Search Backend
							</xs:documentation>
						</xs:annotation>	
					</xs:enumeration>
					<xs:enumeration value="PROJECT">
						<xs:annotation>
							<xs:documentation>	
								Corresponding to the project() aggregate function defined in Search Backend
							</xs:documentation>
						</xs:annotation>				
					</xs:enumeration>
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType name="CompositeLogicalOperator">
				<xs:annotation>
					<xs:documentation>	
						This type defines the 3 boolean operators that can be used to
						form composite constraints or functions. 		
					</xs:documentation>
					<xs:appinfo>
						<typeLibrarySource library="common-type-library" namespace="http://www.ebayopensource.org/tumeric/search/v2/typelibrary">
						</typeLibrarySource>
					</xs:appinfo>
				</xs:annotation>
				
				<xs:restriction base="xs:string">
					<xs:enumeration value="AND">
						<xs:annotation>
							<xs:documentation>and</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="OR">
						<xs:annotation>
							<xs:documentation>or</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="NOT">
						<xs:annotation>
							<xs:documentation>not</xs:documentation>
						</xs:annotation>
					</xs:enumeration>			
					<xs:enumeration value="IF">
						<xs:annotation>
							<xs:documentation>if</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="SIMILAR">
						<xs:annotation>
							<xs:documentation>similar(aspect expression1, aspect expression2,...,weight,keyword1,keyword2,...)</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="RANK">
						<xs:annotation>
							<xs:documentation>RANK(aspect expression1, aspect expression2,...,weight,keyword1,keyword2,...)</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="SET_FIND">
						<xs:annotation>
							<xs:documentation>SetFindSetFind(AND(EQUAL(Make,"Honda,fit"),EQUAL(Model,"Civic,fit"))))</xs:documentation>
						</xs:annotation>
					</xs:enumeration>				
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType name="KeywordLogicalOperator">
				<xs:annotation>
					<xs:documentation/>
				<xs:appinfo><typeLibrarySource library="common-type-library" namespace="http://www.ebayopensource.org/tumeric/search/v2/typelibrary"/></xs:appinfo></xs:annotation>
				<xs:restriction base="xs:string">
					<xs:enumeration value="CONTAINS">
						<xs:annotation>
							<xs:documentation>contains</xs:documentation>
						</xs:annotation>
					</xs:enumeration>				
					<xs:enumeration value="CONTAINS_PHRASE">
						<xs:annotation>
							<xs:documentation>contains phrase</xs:documentation>
						</xs:annotation>
					</xs:enumeration>	
				</xs:restriction>	
			</xs:simpleType>
			<xs:simpleType name="SimpleLogicalOperator">
				<xs:annotation>
					<xs:documentation>	
						This type defines the basic relation operators.		
					</xs:documentation>
				<xs:appinfo><typeLibrarySource library="common-type-library" namespace="http://www.ebayopensource.org/tumeric/search/v2/typelibrary"/></xs:appinfo></xs:annotation>			
				<xs:restriction base="xs:string">
					<xs:enumeration value="EQ">
						<xs:annotation>
							<xs:documentation>equals</xs:documentation>
						</xs:annotation>
					</xs:enumeration>			
					<xs:enumeration value="NEQ">
						<xs:annotation>
							<xs:documentation>not equals</xs:documentation>
						</xs:annotation>
					</xs:enumeration>					
					<xs:enumeration value="GT">
						<xs:annotation>
							<xs:documentation>greater than</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="GEQ">
						<xs:annotation>
							<xs:documentation>greater than or equals</xs:documentation>
						</xs:annotation>
					</xs:enumeration>		
					<xs:enumeration value="LT">
						<xs:annotation>
							<xs:documentation>less than</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="LEQ">
						<xs:annotation>
							<xs:documentation>less than or equals</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="HAS_ATTR">
						<xs:annotation>
							<xs:documentation>has attribute</xs:documentation>
						</xs:annotation>
					</xs:enumeration>								
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType name="SimpleNumericOperator">
				<xs:annotation>
					<xs:documentation>	
						This type defines the mathematical operators and other operators that
						yields a numeric result on operands.		
					</xs:documentation>
				<xs:appinfo><typeLibrarySource library="common-type-library" namespace="http://www.ebayopensource.org/tumeric/search/v2/typelibrary"/></xs:appinfo></xs:annotation>
				
				<xs:restriction base="xs:string">
					<xs:enumeration value="ADD">
						<xs:annotation>
							<xs:documentation>add</xs:documentation>
						</xs:annotation>
					</xs:enumeration>				
					<xs:enumeration value="SUBTRACT">
						<xs:annotation>
							<xs:documentation>subtract</xs:documentation>
						</xs:annotation>
					</xs:enumeration>				
					<xs:enumeration value="MULTIPLY">
						<xs:annotation>
							<xs:documentation>multiply</xs:documentation>
						</xs:annotation>
					</xs:enumeration>				
					<xs:enumeration value="DIVIDE">
						<xs:annotation>
							<xs:documentation>in</xs:documentation>
						</xs:annotation>
					</xs:enumeration>	
					<xs:enumeration value="UNIQUE_BY_HASH">
						<xs:annotation>
							<xs:documentation>unique-by hash</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="CONST">
						<xs:annotation>
							<xs:documentation>const</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="BITAND">
						<xs:annotation>
							<xs:documentation>bit and</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="BITOR">
						<xs:annotation>
							<xs:documentation>bit or</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="BITXOR">
						<xs:annotation>
							<xs:documentation>bit xor</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
				</xs:restriction>
			</xs:simpleType>
			<xs:complexType name="Constraint">
				<xs:annotation>
					<xs:documentation>	
						This type defines the voyager constraint.
					</xs:documentation>
				<xs:appinfo><typeLibrarySource library="common-type-library" namespace="http://www.ebayopensource.org/tumeric/search/v2/typelibrary"/></xs:appinfo></xs:annotation>			
				<xs:sequence>
					<xs:element maxOccurs="1" minOccurs="1" name="expression" type="tns:Expression">
						<xs:annotation>
							<xs:documentation>
								It only accepts KeywordLogicalExpression, SimpleLogicalExpression, StrategyLogicalExpression and CompositeLogicalExpression 
							</xs:documentation>
						</xs:annotation>							
					</xs:element>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="ResultSummaryInfo">
				<xs:annotation>
					<xs:documentation>
					</xs:documentation>
					
				<xs:appinfo>
					<typeLibrarySource library="common-type-library" namespace="http://www.ebayopensource.org/tumeric/search/v2/typelibrary"/></xs:appinfo></xs:annotation>
				<xs:sequence>				
					<xs:element maxOccurs="1" minOccurs="1" name="matchCount" type="xs:int">
						<xs:annotation>
							<xs:documentation>
								Total matching entries.
							</xs:documentation>	 
						</xs:annotation> 				
					</xs:element>
					<xs:element maxOccurs="1" minOccurs="0" name="abridgedMatchCount" type="xs:int">
						<xs:annotation>
							<xs:documentation>
								Total matching entries after dedupe.
							</xs:documentation>	 
						</xs:annotation> 					
					</xs:element>				
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="SearchResult">
				<xs:annotation>
					<xs:documentation>
						Defines the type which contains all the search records.
					</xs:documentation>
				<xs:appinfo><typeLibrarySource library="common-type-library" namespace="http://www.ebayopensource.org/tumeric/search/v2/typelibrary"/></xs:appinfo></xs:annotation>
				<xs:sequence>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="field" type="tns:Field">
						<xs:annotation>
							<xs:documentation>
								The fields returned in search record.
							</xs:documentation>
						</xs:annotation>				
					</xs:element>		
					<xs:element maxOccurs="unbounded" minOccurs="0" name="record" type="tns:SearchRecord">
						<xs:annotation>
							<xs:documentation>
								The search records.
							</xs:documentation>
						</xs:annotation>				
					</xs:element>								
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="SearchRecord">
				<xs:annotation>
					<xs:documentation>
						Defines a single row or record as in the search results.
					</xs:documentation>
				<xs:appinfo><typeLibrarySource library="common-type-library" namespace="http://www.ebayopensource.org/tumeric/search/v2/typelibrary"/></xs:appinfo></xs:annotation>
				<xs:sequence>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="value" type="tns:FieldValue">
						<xs:annotation>
							<xs:documentation>
								A SearchRecord contains multiple field values in the order that is specified in request.
							</xs:documentation>
						</xs:annotation>				
					</xs:element>								
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="FieldValue">
				<xs:annotation>
					<xs:documentation>	
						This is the type for field value.			
					</xs:documentation>
				<xs:appinfo><typeLibrarySource library="common-type-library" namespace="http://www.ebayopensource.org/tumeric/search/v2/typelibrary"/></xs:appinfo></xs:annotation>	
				<xs:choice>
					<xs:element name="stringValue" type="xs:string">
						<xs:annotation>
							<xs:documentation>The string field value</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="intValue" type="xs:int">
						<xs:annotation>
							<xs:documentation>The integer field value</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="doubleValue" type="xs:double">
						<xs:annotation>
							<xs:documentation>The double field value</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="dateValue" type="xs:dateTime">
						<xs:annotation>
							<xs:documentation>The date field value</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="moneyValue" type="tns:Money">
						<xs:annotation>
							<xs:documentation>The money field value</xs:documentation>
						</xs:annotation>
					</xs:element>
					
				</xs:choice>	
			</xs:complexType>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="getVersionRequest">
		<wsdl:part element="tns:getVersionRequest" name="params"/>
	</wsdl:message>
	<wsdl:message name="getVersionResponse">
		<wsdl:part element="tns:getVersionResponse" name="params"/>
	</wsdl:message>
	<wsdl:message name="getDemandDataRequest">
		<wsdl:part element="tns:getDemandDataRequest" name="params"/>
	</wsdl:message>
	<wsdl:message name="getDemandDataResponse">
		<wsdl:part element="tns:getDemandDataResponse" name="params"/>
	</wsdl:message>
	<wsdl:portType name="FindingDemandServicePort">
		<wsdl:operation name="getVersion">
			<wsdl:documentation>
				Documentation goes here.
			</wsdl:documentation>
			<wsdl:input message="tns:getVersionRequest"/>
			<wsdl:output message="tns:getVersionResponse"/>
		</wsdl:operation>
		<wsdl:operation name="getDemandData">
			<wsdl:input message="tns:getDemandDataRequest"/>
			<wsdl:output message="tns:getDemandDataResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="FindingDemandServiceHttpBinding" type="tns:FindingDemandServicePort">
		<http:binding verb="POST"/>
		<wsdl:operation name="getVersion">
			<http:operation location="/getVersion"/>
			<wsdl:input>
				<mime:content type="application/x-www-form-urlencoded"/>
			</wsdl:input>
			<wsdl:output>
				<mime:content type="text/xml"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getDemandData">
			<http:operation location="/getDemand"/>
			<wsdl:input>
				<mime:content type="application/x-www-form-urlencoded"/>
			</wsdl:input>
			<wsdl:output>
				<mime:content type="text/xml"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="FindingDemandServiceSOAPBinding" type="tns:FindingDemandServicePort">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="getVersion">
			<soap:operation soapAction="http://www.ebayopensource.org/tumeric/search/v1/services/getVersion"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getDemandData">
			<soap:operation soapAction="http://www.ebayopensource.org/tumeric/search/v1/services/getDemand"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="FindingDemandService">
		<wsdl:documentation>
			<version>1.0.0</version>
		</wsdl:documentation>
		<wsdl:port binding="tns:FindingDemandServiceHttpBinding" name="FindingDemandServiceHttpPort">
			<http:address location="https://svcs.ebay.com/services/search/v1/FindingDemandService"/>
		</wsdl:port>
		<wsdl:port binding="tns:FindingDemandServiceSOAPBinding" name="FindingDemandServiceSOAPPort">
			<soap12:address location="https://svcs.ebay.com/services/search/v1/FindingDemandService"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>