codegen/codegen-tools/src/test/resources/org/ebayopensource/turmeric/test/tools/codegen/data/proto/FindingUserPreferenceService_for_tags.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://www.ebayopensource.org/tumeric/search/v1/services" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xs="http://www.w3.org/2001/XMLSchema" name="FindingUserPreferenceService" targetNamespace="http://www.ebayopensource.org/tumeric/search/v1/services">
	<wsdl:types>
		<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.ebayopensource.org/tumeric/search/v1/services">

			<xs:element name="getVersionRequest" type="tns:GetVersionRequest"/>
			<xs:element name="getVersionResponse" type="tns:GetVersionResponse"/>
			<xs:element name="addPreferenceRequest" type="tns:AddPreferenceRequest"/>
			<xs:element name="addPreferenceResponse" type="tns:AddPreferenceResponse"/>
			<xs:element name="removePreferenceRequest" type="tns:RemovePreferenceRequest"/>
			<xs:element name="removePreferenceResponse" type="tns:RemovePreferenceResponse"/>
			<xs:element name="removePreferenceByTypeRequest" type="tns:RemovePreferenceByTypeRequest"/>
			<xs:element name="removePreferenceByTypeResponse" type="tns:RemovePreferenceByTypeResponse"/>
			<xs:element name="savePreferenceRequest" type="tns:SavePreferenceRequest"/>
			<xs:element name="savePreferenceResponse" type="tns:SavePreferenceResponse"/>
			<xs:element name="getPreferenceRequest" type="tns:GetPreferenceRequest"/>
			<xs:element name="getPreferenceResponse" type="tns:GetPreferenceResponse"/>
			<xs:element name="getPreferenceByTypeRequest" type="tns:GetPreferenceByTypeRequest"/>
			<xs:element name="getPreferenceByTypeResponse" type="tns:GetPreferenceByTypeResponse"/>
			
			<xs:complexType name="GetVersionRequest">
				<xs:annotation>
					<xs:documentation>
						Document goes here
					</xs:documentation>
				</xs:annotation>
				<xs:complexContent>
					<xs:extension base="tns:BaseRequest">
						<xs:sequence/>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:complexType name="GetVersionResponse">
				<xs:annotation>
					<xs:documentation>
						Document goes here
					</xs:documentation>
				</xs:annotation>
				<xs:complexContent>
					<xs:extension base="tns:BaseResponse">
						<xs:sequence/>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:complexType name="AddPreferenceRequest">
				<xs:annotation>
					<xs:documentation>
						Document goes here
					</xs:documentation>
				</xs:annotation>
				<xs:complexContent>
					<xs:extension base="tns:BaseRequest">
						<xs:sequence>
							<xs:element maxOccurs="1" minOccurs="1" name="context" type="tns:ServiceContext">
								<xs:annotation>
								<xs:documentation>
								Context.
								</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element maxOccurs="1" minOccurs="1" name="id" type="tns:Identity"/>
							<xs:element maxOccurs="1" minOccurs="1" name="userPreference" type="tns:UserPreference"/>"
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:complexType name="AddPreferenceResponse">
				<xs:annotation>
					<xs:documentation>
						Document goes here
					</xs:documentation>
				</xs:annotation>
				<xs:complexContent>
					<xs:extension base="tns:BaseResponse">
						<xs:sequence>
							<xs:element maxOccurs="unbounded" minOccurs="1" name="profileId" type="xs:long"/>
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:complexType name="RemovePreferenceRequest">
				<xs:annotation>
					<xs:documentation>
						Document goes here
					</xs:documentation>
				</xs:annotation>
				<xs:complexContent>
					<xs:extension base="tns:BaseRequest">
						<xs:sequence>
							<xs:element maxOccurs="1" minOccurs="1" name="context" type="tns:ServiceContext">
								<xs:annotation>
								<xs:documentation>
								Context.
								</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element maxOccurs="1" minOccurs="1" name="id" type="tns:Identity"/>
							<xs:element maxOccurs="unbounded" minOccurs="1" name="preferenceNameGroup" type="tns:PreferenceNameGroup"/>
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:complexType name="RemovePreferenceResponse">
				<xs:annotation>
					<xs:documentation>
						Document goes here
					</xs:documentation>
				</xs:annotation>
				<xs:complexContent>
					<xs:extension base="tns:BaseResponse">
						<xs:sequence/>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:complexType name="RemovePreferenceByTypeRequest">
				<xs:annotation>
					<xs:documentation>
						Document goes here
					</xs:documentation>
				</xs:annotation>
				<xs:complexContent>
					<xs:extension base="tns:BaseRequest">
						<xs:sequence>
							<xs:element maxOccurs="1" minOccurs="1" name="context" type="tns:ServiceContext">
								<xs:annotation>
								<xs:documentation>
								Context.
								</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element maxOccurs="1" minOccurs="1" name="id" type="tns:Identity"/>
							<xs:element maxOccurs="unbounded" minOccurs="1" name="namespace" type="tns:NameSpace"/>
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:complexType name="RemovePreferenceByTypeResponse">
				<xs:annotation>
					<xs:documentation>
						Document goes here
					</xs:documentation>
				</xs:annotation>
				<xs:complexContent>
					<xs:extension base="tns:BaseResponse">
						<xs:sequence/>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:complexType name="SavePreferenceRequest">
				<xs:annotation>
					<xs:documentation>
						Document goes here
					</xs:documentation>
				</xs:annotation>
				<xs:complexContent>
					<xs:extension base="tns:BaseRequest">
						<xs:sequence>
							<xs:element maxOccurs="1" minOccurs="1" name="context" type="tns:ServiceContext">
								<xs:annotation>
								<xs:documentation>
								Context.
								</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element maxOccurs="1" minOccurs="1" name="id" type="tns:Identity"/>
							<xs:element maxOccurs="1" minOccurs="1" name="userPreference" type="tns:UserPreference"/>
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:complexType name="SavePreferenceResponse">
				<xs:annotation>
					<xs:documentation>
						Document goes here
					</xs:documentation>
				</xs:annotation>
				<xs:complexContent>
					<xs:extension base="tns:BaseResponse">
						<xs:sequence/>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:complexType name="GetPreferenceRequest">
				<xs:annotation>
					<xs:documentation>
						Document goes here
					</xs:documentation>
				</xs:annotation>
				<xs:complexContent>
					<xs:extension base="tns:BaseRequest">
						<xs:sequence>
							<xs:element maxOccurs="1" minOccurs="1" name="context" type="tns:ServiceContext">
								<xs:annotation>
								<xs:documentation>
								Context.
								</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element maxOccurs="1" minOccurs="1" name="id" type="tns:Identity"/>
							<xs:element maxOccurs="unbounded" minOccurs="1" name="preferenceNameGroup" type="tns:PreferenceNameGroup"/>
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:complexType name="GetPreferenceResponse">
				<xs:annotation>
					<xs:documentation>
						Document goes here
					</xs:documentation>
				</xs:annotation>
				<xs:complexContent>
					<xs:extension base="tns:BaseResponse">
						<xs:sequence>
							<xs:element maxOccurs="1" minOccurs="1" name="userPreference" type="tns:UserPreference"/>
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:complexType name="GetPreferenceByTypeRequest">
				<xs:annotation>
					<xs:documentation>
						Document goes here
					</xs:documentation>
				</xs:annotation>
				<xs:complexContent>
					<xs:extension base="tns:BaseRequest">
						<xs:sequence>
							<xs:element maxOccurs="1" minOccurs="1" name="context" type="tns:ServiceContext">
								<xs:annotation>
								<xs:documentation>
								Context.
								</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element maxOccurs="1" minOccurs="1" name="id" type="tns:Identity"/>
							<xs:element maxOccurs="unbounded" minOccurs="1" name="namespace" type="tns:NameSpace"/>
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:complexType name="GetPreferenceByTypeResponse">
				<xs:annotation>
					<xs:documentation>
						Document goes here
					</xs:documentation>
				</xs:annotation>
				<xs:complexContent>
					<xs:extension base="tns:GetPreferenceResponse">
						<xs:sequence/>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>


			<xs:simpleType name="NameSpace">
				<xs:annotation>
					<xs:documentation>
						Indicates the preference type. Currently the following 
						types are supported:
							CSA             - Clothes, Shoes and Accessories vertical search preferences
							FAVORITE_SEARCH - Favorite (or saved) searches
							SRP             - Customized view and preference for the Search Result Page.
					</xs:documentation>
				</xs:annotation>
				<xs:restriction base="xs:string">
					<xs:enumeration value="CSA">
						<xs:annotation>
							<xs:documentation>
								Search preference for CSA(fashion) vertical.
							</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="FAVORITE_SEARCH">
						<xs:annotation>
							<xs:documentation>
								Favorite searches saved by user.
							</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="SRP">
						<xs:annotation>
							<xs:documentation>
								Customized view and preferences for the Search Result Page.
							</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
				</xs:restriction>
			</xs:simpleType>

			<xs:simpleType name="IdentityType">
				<xs:annotation>
					<xs:documentation>
						Indicates whether the preference type. Currently it
						the following types are supported:
							USER             - Name of the logged-in user.
							SESSION          - The browser session ID.
							GUID             - Globally unique ID.
					</xs:documentation>
				</xs:annotation>
				<xs:restriction base="xs:string">
					<xs:enumeration value="USER">
						<xs:annotation>
							<xs:documentation>
								Name of the logged-in user.
							</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="SESSION">
						<xs:annotation>
							<xs:documentation>
								The browser session ID.
							</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="GUID">
						<xs:annotation>
							<xs:documentation>
								Globally unique ID.
							</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
				</xs:restriction>
			</xs:simpleType>
			
			<xs:complexType name="Identity">
				<xs:annotation>
					<xs:documentation>
						This is the unique key for accessing preference in persistence.
						Regardless whether the preference is saved (or to be saved) in
						database or PDS.
					</xs:documentation>
				</xs:annotation>
				<xs:sequence>
					<xs:element maxOccurs="1" minOccurs="1" name="id" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								When the user is logged in, the user ID should be used
								to access preferences.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element maxOccurs="1" minOccurs="1" name="type" type="tns:IdentityType">
						<xs:annotation>
							<xs:documentation>
								This field tells whether the ID provided is of USER, SESSION or GUID type.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element maxOccurs="1" minOccurs="0" name="cguid" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								An optional string-type locator object. Only needed for CSA category.
								It's needed for working with PDS - Personalization Data System. 
							</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:complexType>
			
			<xs:complexType name="NameValuePair">
				<xs:annotation>
					<xs:documentation>
						This defines an atomic unit of user preference. E.g. it could referring to a flag
						indicating whether to show the item ID in search result page.
					</xs:documentation>
				</xs:annotation>
				<xs:sequence>
					<xs:element maxOccurs="1" minOccurs="1" name="name" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								The name of the preference field.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element maxOccurs="1" minOccurs="1" name="value" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								The value of the preference field. The type of the value can be looked up from the 
								dictionaries defined FindingMetadataFramework. This field is optional.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="PreferenceNameGroup">
				<xs:annotation>
					<xs:documentation>
						This defines a set of user preferences under the same name space. E.g. 
						it could referring to set of SRP preferences.
					</xs:documentation>
				</xs:annotation>
				<xs:sequence>
					<xs:element maxOccurs="1" minOccurs="1" name="namespace" type="tns:NameSpace">
						<xs:annotation>
							<xs:documentation>
								This field is used to distinguish what type of preference this field is. For example,
								it could be one of SRP, CSA or FAVORITE_SEARCH. There should be dictionary data structures
								in Java form defined in the FindingMetadataFramework library for each preference name space.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:choice>
						<xs:element maxOccurs="1" minOccurs="0" name="profileId" type="xs:long">
							<xs:annotation>
								<xs:documentation>
									An optional profile ID field for UNIQUELY identify a preference profile.
								</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element maxOccurs="1" minOccurs="0" name="profileName" type="xs:string">
							<xs:annotation>
								<xs:documentation>
									An optional profile name field, if used in preference search, can be deemed as as
									search filter. It indicates only preferences of particular profile need to be
									returned.
								</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:choice>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="preferenceName" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								The name of the preference field need to be retrieved from the service. 
							</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="PreferenceGroup">
				<xs:annotation>
					<xs:documentation>
						This defines a set of user preferences under the same name space. E.g. 
						it could referring to set of SRP preferences.
					</xs:documentation>
				</xs:annotation>
				<xs:sequence>
					<xs:element maxOccurs="1" minOccurs="1" name="namespace" type="tns:NameSpace">
						<xs:annotation>
							<xs:documentation>
								This field is used to distinguish what type of preference this field is. For example,
								it could be one of SRP, CSA or FAVORITE_SEARCH. There should be dictionary data structures
								in Java form defined in the FindingMetadataFramework library for each preference name space.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:choice>
						<xs:element maxOccurs="1" minOccurs="0" name="profileId" type="xs:long">
							<xs:annotation>
								<xs:documentation>
									An optional Id for UNIQUELY identifying a group of individual preferences.
								</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element maxOccurs="1" minOccurs="0" name="profileName" type="xs:string">
							<xs:annotation>
								<xs:documentation>
									An optional name for identifying a group of individual preferences.
									E. g. in CSA vertical, one user can save up to 5 preference profiles.
									Each profile has one name to identify it.
								</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:choice>
					<xs:element maxOccurs="unbounded" minOccurs="1" name="preference" type="tns:NameValuePair">
						<xs:annotation>
							<xs:documentation>
								The name value pair of the preference field. Under one namespace, there 
								could be multiple name-value pairs. This can avoid the duplicate appearance
								of 'namespace' element in multiple fields. 
								Each pair is an atomic preference unit. e.g. It could be referring to a boolean 
								flag indicating whether to show item ID in the search result page.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="UserPreference">
				<xs:annotation>
					<xs:documentation>
						The user preference object consists of a set of unique preference fields.
					</xs:documentation>
				</xs:annotation>
				<xs:sequence>
					<xs:element maxOccurs="unbounded" minOccurs="1" name="preferenceGroup" type="tns:PreferenceGroup">
						<xs:annotation>
							<xs:documentation>
								This defines a group of user preferences under the same name space. E.g. 
								it could referring to a set of SRP preferences.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:complexType>
			
			<xs:complexType name="ServiceContext">
				<xs:annotation>
					<xs:documentation>
						Contextual information used by search services.
					</xs:documentation>
					<xs:appinfo>
						<typeLibrarySource library="common-type-library" namespace="http://www.ebayopensource.org/tumeric/search/v1/typelibrary"/>
					</xs:appinfo>
				</xs:annotation>
				<xs:complexContent>
					<xs:extension base="tns:BaseServiceContext">
						<xs:sequence>
							<xs:element maxOccurs="1" minOccurs="0" name="locale" type="xs:token">
								<xs:annotation>
									<xs:documentation>
										Locale in the format of "language,country,variant". Check
										java.util.Locale.
									</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element maxOccurs="1" minOccurs="0" name="timeZone" type="xs:token">
								<xs:annotation>
									<xs:documentation>
										Time zone in the format of "GMT+/-hh:mm"
									</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element maxOccurs="1" minOccurs="0" name="currency" type="xs:token">
								<xs:annotation>
									<xs:documentation>
										Money currency. Check com.ebay.af.common.types.Currency for the
										available values.		
					        </xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>










		<xs:simpleType name="AckValue">
		<xs:annotation>
			<xs:documentation>
				Indicates whether the error is a severe error (causing the request to fail)
				or an informational error (a warning) that should be communicated to the
				user.
			</xs:documentation>
		<xs:appinfo><typeLibrarySource library="common-type-library" namespace="http://www.ebayopensource.org/tumeric/services"/></xs:appinfo></xs:annotation>
		<xs:restriction base="xs:string">
	
			<xs:enumeration value="Success">
				<xs:annotation>
					<xs:documentation>
						The request was processed successfully, but something occurred that may
						affect your application or the user.				
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Failure">
				<xs:annotation>
	
					<xs:documentation>
						The request that triggered the error was not processed successfully.
						When a serious application-level error occurs, the error is returned
						instead of the business data.
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Warning">
				<xs:annotation>
					<xs:documentation>
						The request that triggered the error was processed successfully but with some warnings.
					</xs:documentation>
	
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="PartialFailure">
				<xs:annotation>
					<xs:documentation>
						The request that triggered the error was processed successfully but with some warnings.				</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
	
		</xs:restriction>
	</xs:simpleType><xs:complexType abstract="true" name="BaseRequest">
		<xs:annotation>
			<xs:documentation>
				This is the base class for request container for all
				service operations.
			</xs:documentation>
		<xs:appinfo><typeLibrarySource library="common-type-library" namespace="http://www.ebayopensource.org/tumeric/services"/></xs:appinfo></xs:annotation>
		<xs:sequence>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="extension" type="tns:ExtensionType"/>
		</xs:sequence>
	</xs:complexType><xs:complexType abstract="true" name="BaseResponse">
		<xs:annotation>
			<xs:documentation>
				Base response container for all service operations.
				Contains error information associated with the request.
			</xs:documentation>
		<xs:appinfo><typeLibrarySource library="common-type-library" namespace="http://www.ebayopensource.org/tumeric/services"/></xs:appinfo></xs:annotation>

		<xs:sequence>
			<xs:element name="ack" type="tns:AckValue">
				<xs:annotation>
					<xs:documentation>

					</xs:documentation>
					<xs:appinfo>
						<CallInfo>
							<AllCalls/>
							<Returned>Always</Returned>

						</CallInfo>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="errorMessage" type="tns:ErrorMessage">
				<xs:annotation>
					<xs:documentation>
						Information for an error or warning that
						occurred when eBay processed the request.
					</xs:documentation>

					<xs:appinfo>
						<CallInfo>
							<AllCalls/>
							<Returned>Conditionally</Returned>
						</CallInfo>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element minOccurs="0" name="version" type="xs:string">
				<xs:annotation>
					<xs:documentation/>
					<xs:appinfo>
						<CallInfo>
							<AllCalls/>
							<Returned>Always</Returned>

						</CallInfo>
					</xs:appinfo>
				</xs:annotation>

			</xs:element>
			<xs:element minOccurs="0" name="timestamp" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation/>

					<xs:appinfo>
						<CallInfo>
							<AllCalls/>
							<Returned>Always</Returned>
						</CallInfo>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="extension" type="tns:ExtensionType"/>
		</xs:sequence>
	</xs:complexType><xs:complexType name="BaseServiceContext">
		<xs:annotation>
			<xs:documentation/>
		<xs:appinfo><typeLibrarySource library="common-type-library" namespace="http://www.ebayopensource.org/tumeric/search/v1/typelibrary"/></xs:appinfo></xs:annotation>
		<xs:sequence>
			<xs:element maxOccurs="1" minOccurs="1" name="globalId" type="xs:string">
				<xs:annotation>
					<xs:documentation>
						The Global Id as defined in SOA platform e.g. EBAY-US.
					</xs:documentation>
				</xs:annotation>			
			</xs:element>
			<xs:element maxOccurs="1" minOccurs="0" name="partnerId" type="xs:int">
				<xs:annotation>
					<xs:documentation>
						The partner id as defined in ParnerEnum, in most cases its value should be 2 (ebay).
					</xs:documentation>
				</xs:annotation>			
			</xs:element>
		</xs:sequence>
	</xs:complexType><xs:simpleType name="ErrorCategory">
		<xs:annotation>
			<xs:documentation>
				Documentation goes here.
			</xs:documentation>
		<xs:appinfo><typeLibrarySource library="common-type-library" namespace="http://www.ebayopensource.org/tumeric/services"/></xs:appinfo></xs:annotation>

      <xs:restriction base="xs:token">
        <xs:enumeration value="System"/>
        <xs:enumeration value="Application"/>
        <xs:enumeration value="Request"/>
      </xs:restriction>

	</xs:simpleType><xs:complexType name="ErrorData">
		<xs:annotation>
			<xs:documentation>Documentation goes here</xs:documentation>
			
		<xs:appinfo><typeLibrarySource library="common-type-library" namespace="http://www.ebayopensource.org/tumeric/services"/></xs:appinfo></xs:annotation>
	
	  <xs:sequence>
        	<xs:element name="errorId" type="xs:long"/>
		  	<xs:element name="domain" type="xs:string"/>
			<xs:element minOccurs="0" name="subdomain" type="xs:string"/>
			<xs:element name="severity" type="tns:ErrorSeverity"/>
	  		<xs:element name="category" type="tns:ErrorCategory"/>
	  		<xs:element name="message" type="xs:string"/>
	  		<xs:element minOccurs="0" name="exceptionId" type="xs:token"/>
	  		<xs:element maxOccurs="unbounded" minOccurs="0" name="parameter" type="tns:ErrorParameter"/>
		</xs:sequence>
	
	
	</xs:complexType><xs:complexType name="ErrorMessage">
		<xs:annotation>
			<xs:documentation>Documentation goes here</xs:documentation>
			
		<xs:appinfo><typeLibrarySource library="common-type-library" namespace="http://www.ebayopensource.org/tumeric/services"/></xs:appinfo></xs:annotation>
		
		<!-- 
		<xs:sequence>

				processContents="lax" />
		</xs:sequence>
		-->
		
    	<xs:sequence>
    		<xs:element maxOccurs="unbounded" minOccurs="0" name="error" type="tns:ErrorData">
    		</xs:element>
    	</xs:sequence>
		
	</xs:complexType><xs:complexType name="ErrorParameter">
		<xs:annotation>
			<xs:documentation>Documentation goes here</xs:documentation>
			
		<xs:appinfo><typeLibrarySource library="common-type-library" namespace="http://www.ebayopensource.org/tumeric/services"/></xs:appinfo></xs:annotation>

		<xs:simpleContent>
		  <xs:extension base="xs:string">
		    <xs:attribute name="name" type="xs:string" use="optional"/>
		  </xs:extension>
		</xs:simpleContent>
	</xs:complexType><xs:simpleType name="ErrorSeverity">
		<xs:annotation>
			<xs:documentation>
				Documentation goes here.
			</xs:documentation>
		<xs:appinfo><typeLibrarySource library="common-type-library" namespace="http://www.ebayopensource.org/tumeric/services"/></xs:appinfo></xs:annotation>

      <xs:restriction base="xs:token">
        <xs:enumeration value="Error"/>
        <xs:enumeration value="Warning"/>
      </xs:restriction>

	</xs:simpleType><xs:complexType name="ExtensionType">
		<xs:annotation>
			<xs:documentation>Documentation goes here</xs:documentation>
			
		<xs:appinfo><typeLibrarySource library="common-type-library" namespace="http://www.ebayopensource.org/tumeric/services"/></xs:appinfo></xs:annotation>
		<xs:sequence>
			<xs:element name="id" type="xs:positiveInteger"/>
			<xs:element name="version" type="xs:string"/>
			<xs:element name="contentType" type="xs:string"/>
			<xs:element name="value" type="xs:string"/>

		</xs:sequence>
	</xs:complexType></xs:schema>
	</wsdl:types>
	<wsdl:message name="getVersionRequest">
		<wsdl:part element="tns:getVersionRequest" name="params"/>
	</wsdl:message>
	<wsdl:message name="getVersionResponse">
		<wsdl:part element="tns:getVersionResponse" name="params"/>
	</wsdl:message>
	<wsdl:message name="addPreferenceRequest">
		<wsdl:part element="tns:addPreferenceRequest" name="params"/>
	</wsdl:message>
	<wsdl:message name="addPreferenceResponse">
		<wsdl:part element="tns:addPreferenceResponse" name="params"/>
	</wsdl:message>
	<wsdl:message name="removePreferenceRequest">
		<wsdl:part element="tns:removePreferenceRequest" name="params"/>
	</wsdl:message>
	<wsdl:message name="removePreferenceResponse">
		<wsdl:part element="tns:removePreferenceResponse" name="params"/>
	</wsdl:message>
	<wsdl:message name="removePreferenceByTypeRequest">
		<wsdl:part element="tns:removePreferenceByTypeRequest" name="params"/>
	</wsdl:message>
	<wsdl:message name="removePreferenceByTypeResponse">
		<wsdl:part element="tns:removePreferenceByTypeResponse" name="params"/>
	</wsdl:message>
	<wsdl:message name="savePreferenceRequest">
		<wsdl:part element="tns:savePreferenceRequest" name="params"/>
	</wsdl:message>
	<wsdl:message name="savePreferenceResponse">
		<wsdl:part element="tns:savePreferenceResponse" name="params"/>
	</wsdl:message>
	<wsdl:message name="getPreferenceRequest">
		<wsdl:part element="tns:getPreferenceRequest" name="params"/>
	</wsdl:message>
	<wsdl:message name="getPreferenceResponse">
		<wsdl:part element="tns:getPreferenceResponse" name="params"/>
	</wsdl:message>
	<wsdl:message name="getPreferenceByTypeRequest">
		<wsdl:part element="tns:getPreferenceByTypeRequest" name="params"/>
	</wsdl:message>
	<wsdl:message name="getPreferenceByTypeResponse">
		<wsdl:part element="tns:getPreferenceByTypeResponse" name="params"/>
	</wsdl:message>
	<wsdl:portType name="FindingUserPreferenceServicePort">
		<wsdl:operation name="getVersion">
			<wsdl:documentation>
				Documentation goes here.
			</wsdl:documentation>
			<wsdl:input message="tns:getVersionRequest"/>
			<wsdl:output message="tns:getVersionResponse"/>
		</wsdl:operation>
		<wsdl:operation name="addPreference">
			<wsdl:documentation>
				Documentation goes here.
			</wsdl:documentation>
			<wsdl:input message="tns:addPreferenceRequest"/>
			<wsdl:output message="tns:addPreferenceResponse"/>
		</wsdl:operation>
		<wsdl:operation name="removePreference">
			<wsdl:documentation>
				Documentation goes here.
			</wsdl:documentation>
			<wsdl:input message="tns:removePreferenceRequest"/>
			<wsdl:output message="tns:removePreferenceResponse"/>
		</wsdl:operation>
		<wsdl:operation name="removePreferenceByType">
			<wsdl:documentation>
				Documentation goes here.
			</wsdl:documentation>
			<wsdl:input message="tns:removePreferenceByTypeRequest"/>
			<wsdl:output message="tns:removePreferenceByTypeResponse"/>
		</wsdl:operation>
		<wsdl:operation name="savePreference">
			<wsdl:documentation>
				Documentation goes here.
			</wsdl:documentation>
			<wsdl:input message="tns:savePreferenceRequest"/>
			<wsdl:output message="tns:savePreferenceResponse"/>
		</wsdl:operation>
		<wsdl:operation name="getPreference">
			<wsdl:documentation>
				Documentation goes here.
			</wsdl:documentation>
			<wsdl:input message="tns:getPreferenceRequest"/>
			<wsdl:output message="tns:getPreferenceResponse"/>
		</wsdl:operation>
		<wsdl:operation name="getPreferenceByType">
			<wsdl:documentation>
				Documentation goes here.
			</wsdl:documentation>
			<wsdl:input message="tns:getPreferenceByTypeRequest"/>
			<wsdl:output message="tns:getPreferenceByTypeResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="FindingUserPreferenceServiceHttpBinding" type="tns:FindingUserPreferenceServicePort">
		<http:binding verb="POST"/>
		<wsdl:operation name="getVersion">
			<http:operation location="/getVersion"/>
			<wsdl:input>
				<mime:content type="application/x-www-form-urlencoded"/>
			</wsdl:input>
			<wsdl:output>
				<mime:content type="text/xml"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="addPreference">
			<http:operation location="/addPreference"/>
			<wsdl:input>
				<mime:content type="application/x-www-form-urlencoded"/>
			</wsdl:input>
			<wsdl:output>
				<mime:content type="text/xml"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="removePreference">
			<http:operation location="/removePreference"/>
			<wsdl:input>
				<mime:content type="application/x-www-form-urlencoded"/>
			</wsdl:input>
			<wsdl:output>
				<mime:content type="text/xml"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="removePreferenceByType">
			<http:operation location="/removePreferenceByType"/>
			<wsdl:input>
				<mime:content type="application/x-www-form-urlencoded"/>
			</wsdl:input>
			<wsdl:output>
				<mime:content type="text/xml"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="savePreference">
			<http:operation location="/savePreference"/>
			<wsdl:input>
				<mime:content type="application/x-www-form-urlencoded"/>
			</wsdl:input>
			<wsdl:output>
				<mime:content type="text/xml"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getPreference">
			<http:operation location="/getPreference"/>
			<wsdl:input>
				<mime:content type="application/x-www-form-urlencoded"/>
			</wsdl:input>
			<wsdl:output>
				<mime:content type="text/xml"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getPreferenceByType">
			<http:operation location="/getPreferenceByType"/>
			<wsdl:input>
				<mime:content type="application/x-www-form-urlencoded"/>
			</wsdl:input>
			<wsdl:output>
				<mime:content type="text/xml"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="FindingUserPreferenceServiceSOAPBinding" type="tns:FindingUserPreferenceServicePort">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="getVersion">
			<soap:operation soapAction="http://www.ebayopensource.org/tumeric/search/v1/services/getVersion"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="addPreference">
			<soap:operation soapAction="http://www.ebayopensource.org/tumeric/search/v1/services/addPreference"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="removePreference">
			<soap:operation soapAction="http://www.ebayopensource.org/tumeric/search/v1/services/removePreference"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="removePreferenceByType">
			<soap:operation soapAction="http://www.ebayopensource.org/tumeric/search/v1/services/removePreferenceByType"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="savePreference">
			<soap:operation soapAction="http://www.ebayopensource.org/tumeric/search/v1/services/savePreference"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getPreference">
			<soap:operation soapAction="http://www.ebayopensource.org/tumeric/search/v1/services/getPreference"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getPreferenceByType">
			<soap:operation soapAction="http://www.ebayopensource.org/tumeric/search/v1/services/getPreferenceByType"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="FindingUserPreferenceService">
		<wsdl:documentation>
			<version>1.0.0</version>
		</wsdl:documentation>
		<wsdl:port binding="tns:FindingUserPreferenceServiceHttpBinding" name="FindingUserPreferenceServiceHttpPort">
			<http:address location="https://svcs.ebay.com/services/search/v1/FindingUserPreferenceService"/>
		</wsdl:port>
		<wsdl:port binding="tns:FindingUserPreferenceServiceSOAPBinding" name="FindingUserPreferenceServiceSOAPPort">
			<soap12:address location="https://svcs.ebay.com/services/search/v1/FindingUserPreferenceService"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>