codegen/codegen-tools/src/test/resources/org/ebayopensource/turmeric/test/tools/codegen/data/proto/GetNaturalSearchPageContentService_for_tags.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://www.ebayopensource.org/tumeric/naturalsearch/v1/services" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.ebayopensource.org/tumeric/naturalsearch/v1/services">
	<wsdl:types>
		<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.ebayopensource.org/tumeric/naturalsearch/v1/services">
		
			<xs:element name="getNaturalSearchPageContentRequest" type="tns:GetNaturalSearchPageContentRequest"/>
			<xs:element name="getNaturalSearchPageContentResponse" type="tns:GetNaturalSearchPageContentResponse"/>

			<xs:complexType name="Locale">
				<xs:annotation>
					<xs:documentation>
				 		This type characterizes the locale as a combination of language code and country code.
					</xs:documentation>
				</xs:annotation>
				<xs:sequence>
					<xs:element maxOccurs="1" minOccurs="0" name="language" type="xs:token">
						<xs:annotation>
							<xs:documentation>
								ISO 639 language code
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element maxOccurs="1" minOccurs="0" name="country" type="xs:token">
						<xs:annotation>
							<xs:documentation>
								ISO 3166 country code
							</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="Category">
				<xs:annotation>
					<xs:documentation>
				 		This type characterizes the category as a combination of space id within which categories can be defined.
				 		A category id only has meaning in the context of the space id. In other words the combination of space id
				 		and category id uniquely identifies a category.
					</xs:documentation>
				</xs:annotation>
				<xs:sequence>
					<xs:element maxOccurs="1" minOccurs="1" name="spaceId" type="xs:token">
						<xs:annotation>
							<xs:documentation>
							    Space ID is an extension of Global ID in that it supports the same concept beyond Marketplace. Global ID
						    	is specific to Marketplace.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element maxOccurs="1" minOccurs="1" name="categoryId" type="xs:token"/>
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="Hyperlink">
				<xs:annotation>
					<xs:documentation>
				 		A hyper link on a page that is characterized by anchor text and a URL to the destination
					</xs:documentation>
				</xs:annotation>
				<xs:sequence>
					<xs:element maxOccurs="1" minOccurs="1" name="anchorText" type="xs:string"/>
					<xs:element maxOccurs="1" minOccurs="1" name="destinationURL" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="HyperlinkGroup">
				<xs:annotation>
					<xs:documentation>
						A group of hyper links
					</xs:documentation>
				</xs:annotation>
				<xs:sequence>
					<xs:element maxOccurs="1" minOccurs="1" name="name" type="xs:string"/>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="hyperlink" type="tns:Hyperlink"/>
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="PageContent">
				<xs:annotation>
					<xs:documentation>
						Content, which when included on a page, improves its page rank on search engines
					</xs:documentation>
				</xs:annotation>
				<xs:sequence>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="hyperlinkGroup" type="tns:HyperlinkGroup"/>

				</xs:sequence>
			</xs:complexType>
			
			<xs:complexType name="GetNaturalSearchPageContentRequest">
				<xs:annotation>
					<xs:documentation>
						A type that defines the structure of the request message for getting page content
					</xs:documentation>
				</xs:annotation>
				<xs:complexContent>
					<xs:extension base="tns:BaseServiceRequest">
					<xs:sequence>
						<xs:element maxOccurs="1" minOccurs="1" name="url" type="xs:string">
							<xs:annotation>
								<xs:documentation>
									URL of the page instance
								</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element maxOccurs="1" minOccurs="0" name="canonicalUrl" type="xs:string">
							<xs:annotation>
								<xs:documentation>
									Canonical URL of the page is the URL that is fixed for a page. The URL of the page instance
									is created by appending any run-time aspects to this.
								</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element maxOccurs="1" minOccurs="0" name="keyword" type="xs:string">
							<xs:annotation>
								<xs:documentation>
									Keyword, exactly as entered by the user
								</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element maxOccurs="1" minOccurs="0" name="locale" type="tns:Locale">
							<xs:annotation>
								<xs:documentation>
									The locale in which the page content needs to be returned
								</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element maxOccurs="1" minOccurs="0" name="category" type="tns:Category">
							<xs:annotation>
								<xs:documentation>
									The category associated with the URL
								</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>

			<xs:complexType name="GetNaturalSearchPageContentResponse">
				<xs:annotation>
					<xs:documentation>
						A type that defines the structure of the response message that contains the page content
					</xs:documentation>
				</xs:annotation>
				<xs:complexContent>
					<xs:extension base="tns:BaseServiceResponse">
					<xs:sequence>
						<xs:annotation>
							<xs:documentation>
								The page content, which when included on the page, improves the page rank of the page on search engines
							</xs:documentation>
						</xs:annotation>
						<xs:element maxOccurs="1" minOccurs="0" name="pagecontent" type="tns:PageContent"/>
					</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>

			<!-- inherited ones from the marketplace svc definitions -->
	
			<xs:complexType abstract="true" name="BaseServiceRequest">
				<xs:annotation>
					<xs:documentation>
						This is the base class for request container for all service operations.
					</xs:documentation>
				</xs:annotation>
				<xs:sequence>

				</xs:sequence>
			</xs:complexType>

			<xs:complexType abstract="true" name="BaseServiceResponse">
				<xs:annotation>
					<xs:documentation>
						Base response container for all service operations. Contains error information
						associated with the request.
					</xs:documentation>
				</xs:annotation>
				<xs:sequence>
				<xs:element name="ack" type="tns:AckValue">
				<xs:annotation>
					<xs:documentation>
						
					</xs:documentation>
					<xs:appinfo>
						<CallInfo>
							<AllCalls/>
							<Returned>Always</Returned>
						</CallInfo>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="errorMessage" type="tns:ErrorMessage">
				<xs:annotation>
					<xs:documentation>
						Information for an error or warning that occurred when eBay processed the
						request.
					</xs:documentation>
					<xs:appinfo>
						<CallInfo>
							<AllCalls/>
							<Returned>Conditionally</Returned>
						</CallInfo>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="version" type="xs:string">
				<xs:annotation>
					<xs:documentation>
					</xs:documentation>
					<xs:appinfo>
						<CallInfo>
							<AllCalls/>
							<Returned>Always</Returned>
						</CallInfo>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="timestamp" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation>
					</xs:documentation>
					<xs:appinfo>
						<CallInfo>
							<AllCalls/>
							<Returned>Always</Returned>
						</CallInfo>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="AckValue">
		<xs:annotation>
			<xs:documentation>
				Indicates whether the error is a severe error (causing the request to fail)
				or an informational error (a warning) that should be communicated to the
				user.
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="Success">
				<xs:annotation>
					<xs:documentation>
						The request was processed successfully, but something occurred that may
						affect your application or the user.				
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Failure">
				<xs:annotation>
					<xs:documentation>
						The request that triggered the error was not processed successfully.
						When a serious application-level error occurs, the error is returned
						instead of the business data.
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Warning">
				<xs:annotation>
					<xs:documentation>
						The request that triggered the error was processed successfully but with some warnings.
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="PartialFailure">
				<xs:annotation>
					<xs:documentation>
						The request that triggered the error was processed successfully but with some warnings.				</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="ErrorMessage">
		<xs:annotation>
			<xs:documentation>
				ErrorMessage to indicate any Error/Warning occured as part of service call.
				Any run time error will not be reported here, but will be reported aspart of
				soap fault.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element maxOccurs="unbounded" name="error" type="tns:ErrorData">
				<xs:annotation>
					<xs:documentation>
						Details about a single error.
					</xs:documentation>
					<xs:appinfo>
						<CallInfo>
							<AllCalls/>
							<Returned>Conditionally</Returned>
						</CallInfo>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ErrorData">
		<xs:annotation>
			<xs:documentation>
				This represents error details.
			</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="errorId" type="xs:long">
				<xs:annotation>
					<xs:documentation>
						A unique code that identifies the particular error condition that occurred.
						Your application can use error codes as identifiers in your customized
						error-handling algorithms.
					</xs:documentation>
					<xs:appinfo>
						<CallInfo>
							<AllCalls/>
							<Returned>Conditionally</Returned>
						</CallInfo>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="domain" type="xs:string">
				<xs:annotation>
					<xs:documentation>
						Name of the domain upon which the error occurred. 
						&lt;dl&gt;
						&lt;lh&gt;Domains include:&lt;/lh&gt;
						&lt;dt&gt;
							Marketplace
						&lt;/dt&gt;
						&lt;dd&gt;
							A business or validation error occurred for the Merchandising Service.
						&lt;/dd&gt;
						&lt;dt&gt;
							SOA
						&lt;/dt&gt;
						&lt;dd&gt;
							An exception occurred in the Service Oriented Architecture (SOA) framework.
						&lt;/dd&gt;
						&lt;/dl&gt;
					</xs:documentation>
					<xs:appinfo>
						<CallInfo>
							<AllCalls/>
							<Returned>Conditionally</Returned>
						</CallInfo>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="severity" type="tns:ErrorSeverity">
				<xs:annotation>
					<xs:documentation>
						Indicates whether the error caused the request to fail (Error) or not
						(Warning).
						&lt;br&gt;&lt;br&gt;
						If the request fails and the source of the problem is within the application
						(such as a missing required element), please change the application before you
						retry the request. If the problem is due to end-user input data, please alert
						the end-user to the problem and provide the means for them to correct the data.
						Once the problem in the application or data is resolved, you can attempt to re-
						send the request to eBay.
						&lt;br&gt;&lt;br&gt;
						If the source of the problem is on eBay's side, you can retry the request as-is
						a reasonable number of times (eBay recommends twice). If the error persists,
						contact Developer Technical Support. Once the problem has been resolved, the
						request may be resent in its original form.
						&lt;br&gt;&lt;br&gt;
						When a warning occurs, the error is returned in addition to the business data.
						In this case, you do not need to retry the request (as the original request was
						successful). However, depending on the cause or nature of the warning, you
						might need to contact either the end user or eBay to effect a long term
						solution to the problem to prevent it from reoccurring in the future.
					</xs:documentation>
					<xs:appinfo>
						<CallInfo>
							<AllCalls/>
							<Returned>Conditionally</Returned>
						</CallInfo>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="category" type="tns:ErrorCategory">
				<xs:annotation>
					<xs:documentation>
						There are three categories of errors: request errors, application errors, and
						system errors.
					</xs:documentation>
					<xs:appinfo>
						<CallInfo>
							<AllCalls/>
							<Returned>Conditionally</Returned>
						</CallInfo>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element name="message" type="xs:string">
				<xs:annotation>
					<xs:documentation>
						A detailed description of the condition that resulted in the error.
					</xs:documentation>
					<xs:appinfo>
						<CallInfo>
							<AllCalls/>
							<Returned>Conditionally</Returned>
						</CallInfo>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="subdomain" type="xs:string">
				<xs:annotation>
					<xs:documentation>
						Name of the subdomain upon which the error occurred. 
						&lt;dl&gt;
						&lt;lh&gt;Subdomains include:&lt;/lh&gt;
						&lt;dt&gt;
							Merchandising
						&lt;/dt&gt;
						&lt;dd&gt;
							The error is specific to the Merchandising service.
						&lt;/dd&gt;
						&lt;dt&gt;
							MarketplaceCommon
						&lt;/dt&gt;
						&lt;dd&gt;
							The error is common to all Marketplace services.
						&lt;/dd&gt;
						&lt;/dl&gt;
					</xs:documentation>
					<xs:appinfo>
						<CallInfo>
							<AllCalls/>
							<Returned>Conditionally</Returned>
						</CallInfo>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="exceptionId" type="xs:token">
				<xs:annotation>
					<xs:documentation>
						Unique identifier for an exception associated with an error.
					</xs:documentation>
					<xs:appinfo>
						<CallInfo>
							<AllCalls/>
							<Returned>Conditionally</Returned>
						</CallInfo>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element maxOccurs="unbounded" name="parameter" type="tns:ErrorParameter">
				<xs:annotation>
					<xs:documentation>
						Some warning and error messages return one or more variables that contain
						contextual information about the error. This is often the field or value that
						triggered the error.
					</xs:documentation>
					<xs:appinfo>
						<CallInfo>
							<AllCalls/>
							<Returned>Conditionally</Returned>
						</CallInfo>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ErrorParameter">
		<xs:annotation>
			<xs:documentation>
				Contextual information associated with an error.
			</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute name="name" type="xs:string">
					<xs:annotation>
						<xs:documentation>
							The name of the parameter in the list of parameter types returned
							within the error type.
						</xs:documentation>
						<xs:appinfo>
							<CallInfo>
								<AllCalls/>
								<Returned>Conditionally</Returned>
							</CallInfo>
						</xs:appinfo>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:simpleType name="ErrorSeverity">
		<xs:annotation>
			<xs:documentation>
				Indicates whether the error is a severe error (causing the request to fail)
				or an informational error (a warning) that should be communicated to the
				user.
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="Error">
				<xs:annotation>
					<xs:documentation>
						The request that triggered the error was not processed successfully.
						When a serious application-level error occurs, the error is returned
						instead of the business data.
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Warning">
				<xs:annotation>
					<xs:documentation>
						The request was processed successfully, but something occurred that may
						affect your application or the user. For example, eBay may have changed a
						value the user sent in. In this case, eBay returns a normal, successful
						response and also returns the warning.
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="ErrorCategory">
		<xs:annotation>
			<xs:documentation>
				There are three categories of error: request errors, application errors,
				and system errors. Request and application errors are caused primarily by
				invalid data passed in the request. System errors are caused primarily by
				application failures and cannot be corrected by changing request values.
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="System">
				<xs:annotation>
					<xs:documentation>
						Indicates that an error has occurred on the eBay system side, such as a
						database or server down. An application can retry the request as-is a
						reasonable number of times (eBay recommends twice). If the error
						persists, contact Developer Technical Support. Once the problem has been
						resolved, the request may be resent in its original form.
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Application">
				<xs:annotation>
					<xs:documentation>
						An error occurred due to a problem with the request, such as missing or
						invalid fields. The problem must be corrected before the request can be
						made again. If the problem is due to something in the application (such
						as a missing required field), the application must be changed. Once the
						problem in the application or data is resolved, resend the corrected
						request to eBay.
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Request">
				<xs:annotation>
					<xs:documentation>
						An error occurred due to a problem with the request, such as invalid or
						missing data. The problem must be corrected before the request can be
						made again. If the problem is a result of end-user data, the application
						must alert the end-user to the problem and provide the means for the
						end-user to correct the data. Once the problem in the data is resolved,
						resend the request to eBay with the corrected data.
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>




	</wsdl:types>
	
	<wsdl:message name="getNaturalSearchPageContentRequest">
		<wsdl:part element="tns:getNaturalSearchPageContentRequest" name="parameters"/>
	</wsdl:message>

	<wsdl:message name="getNaturalSearchPageContentResponse">
		<wsdl:part element="tns:getNaturalSearchPageContentResponse" name="parameters"/>
	</wsdl:message>
	
	<wsdl:portType name="GetNaturalSearchPageContentServicePort">
		<wsdl:operation name="getNaturalSearchPageContent">
			<wsdl:documentation>
				Get page content
			</wsdl:documentation>
			<wsdl:input message="tns:getNaturalSearchPageContentRequest"/>
			<wsdl:output message="tns:getNaturalSearchPageContentResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	
	<wsdl:binding name="GetNaturalSearchPageContentServiceHttpBinding" type="tns:GetNaturalSearchPageContentServicePort">
		<http:binding verb="POST"/>
		<wsdl:operation name="getNaturalSearchPageContent">
			<wsdl:documentation>
				Get page content
			</wsdl:documentation>
			<http:operation location="GetNaturalSearchPageContentService/getNaturalSearchPageContent"/>
			<wsdl:input>
				<mime:content part="getNaturalSearchPageContentRequest" type="text/xml"/>
			</wsdl:input>
			<wsdl:output>
				<mime:content part="getNaturalSearchPageContentResponse" type="text/xml"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	
	<wsdl:binding name="GetNaturalSearchPageContentServiceSOAP11Binding" type="tns:GetNaturalSearchPageContentServicePort">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		
		<wsdl:operation name="getNaturalSearchPageContent">
			<wsdl:documentation>
				Get page content
			</wsdl:documentation>
			<soap:operation soapAction="urn:getNaturalSearchPageContent" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	
	<wsdl:binding name="GetNaturalSearchPageContentServiceSOAPBinding" type="tns:GetNaturalSearchPageContentServicePort">
		<soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="getNaturalSearchPageContent">
			<wsdl:documentation>
				Get page content
			</wsdl:documentation>
			<soap12:operation soapAction="urn:getNaturalSearchPageContent" style="document"/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	
	<wsdl:service name="GetNaturalSearchPageContentService">
		<wsdl:documentation>
			<Version>1.0.0</Version>
			This service returns content which when included, improves the page rank of the page in search engines.
		</wsdl:documentation>

		<wsdl:port binding="tns:GetNaturalSearchPageContentServiceSOAP11Binding" name="GetNaturalSearchPageContentServiceSOAP11port_http">
			<soap:address location="http://svcs.ebay.com/services/naturalsearch/v1/GetNaturalSearchPageContentService"/>
		</wsdl:port>
		<wsdl:port binding="tns:GetNaturalSearchPageContentServiceHttpBinding" name="GetNaturalSearchPageContentServiceHttp">
			<http:address location="http://svcs.ebay.com/services/naturalsearch/v1/GetNaturalSearchPageContentService"/>
		</wsdl:port>
		<wsdl:port binding="tns:GetNaturalSearchPageContentServiceSOAPBinding" name="GetNaturalSearchPageContentServiceSOAP12">
			<soap12:address location="http://svcs.ebay.com/services/naturalsearch/v1/GetNaturalSearchPageContentService"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>