codegen/codegen-tools/src/test/resources/org/ebayopensource/turmeric/test/tools/codegen/data/proto/ItemToProductAssociationService_for_tags.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://www.ebayopensource.org/tumeric/catalog/v1/services" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xs="http://www.w3.org/2001/XMLSchema" name="ItemToProductAssociationService" targetNamespace="http://www.ebayopensource.org/tumeric/catalog/v1/services">
  <wsdl:types>
    <xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.ebayopensource.org/tumeric/catalog/v1/services">



<xs:complexType abstract="true" name="BaseServiceRequest">
	<xs:annotation>
		<xs:documentation>
			This is the base class for request container for all service operations.
		</xs:documentation>
	</xs:annotation>
	<xs:sequence>

	</xs:sequence>
</xs:complexType>

<xs:complexType abstract="true" name="BaseServiceResponse">
	<xs:annotation>
		<xs:documentation>
			Base response container for all service operations. Contains error information
			associated with the request.
		</xs:documentation>
	</xs:annotation>
	<xs:sequence>
		<xs:element name="ack" type="tns:AckValue">
			<xs:annotation>
				<xs:documentation>

				</xs:documentation>
				<xs:appinfo>
					<CallInfo>
						<AllCalls/>
						<Returned>Always</Returned>
					</CallInfo>
				</xs:appinfo>
			</xs:annotation>
		</xs:element>
		<xs:element minOccurs="0" name="errorMessage" type="tns:ErrorMessage">
			<xs:annotation>
				<xs:documentation>
					Information for an error or warning that occurred
					when eBay processed the request.
				</xs:documentation>
				<xs:appinfo>
					<CallInfo>
						<AllCalls/>
						<Returned>Conditionally</Returned>
					</CallInfo>
				</xs:appinfo>
			</xs:annotation>
		</xs:element>

		<xs:element name="timestamp" type="xs:date"/>
	</xs:sequence>
</xs:complexType>


<xs:complexType name="ErrorMessage">
	<xs:annotation>
		<xs:documentation>
			ErrorMessage to indicate any Error/Warning occured as part of service call.
			Any run time error will not be reported here, but will be reported aspart of
			soap fault.
		</xs:documentation>
	</xs:annotation>
	<xs:sequence>
		<xs:element maxOccurs="unbounded" minOccurs="0" name="error" type="tns:ErrorData">
			<xs:annotation>
				<xs:documentation>
					Details about a single error.
				</xs:documentation>
				<xs:appinfo>
					<CallInfo>
						<AllCalls/>
						<Returned>Conditionally</Returned>
					</CallInfo>
				</xs:appinfo>
			</xs:annotation>
		</xs:element>
	</xs:sequence>
</xs:complexType>



<xs:complexType name="ErrorData">
	<xs:annotation>
		<xs:documentation>
			This represents error details.
		</xs:documentation>
	</xs:annotation>
	<xs:sequence>
		<xs:element name="errorId" type="xs:long">
			<xs:annotation>
				<xs:documentation>
					A unique code that identifies the particular error condition that occurred.
					Your application can use error codes as identifiers in your customized
					error-handling algorithms.
				</xs:documentation>
				<xs:appinfo>
					<CallInfo>
						<AllCalls/>
						<Returned>Conditionally</Returned>
					</CallInfo>
				</xs:appinfo>
			</xs:annotation>
		</xs:element>
		<xs:element name="domain" type="xs:string">
			<xs:annotation>
				<xs:documentation>
					Name of the domain upon which the error occurred. 
					&lt;dl&gt;
					&lt;lh&gt;Domains include:&lt;/lh&gt;
					&lt;dt&gt;
						Marketplace
					&lt;/dt&gt;
					&lt;dd&gt;
						A business or validation error occurred for the Merchandising Service.
					&lt;/dd&gt;
					&lt;dt&gt;
						SOA
					&lt;/dt&gt;
					&lt;dd&gt;
						An exception occurred in the Service Oriented Architecture (SOA) framework.
					&lt;/dd&gt;
					&lt;/dl&gt;
				</xs:documentation>
				<xs:appinfo>
					<CallInfo>
						<AllCalls/>
						<Returned>Conditionally</Returned>
					</CallInfo>
				</xs:appinfo>
			</xs:annotation>
		</xs:element>
		<xs:element name="severity" type="tns:ErrorSeverity">
			<xs:annotation>
				<xs:documentation>
					Indicates whether the error caused the request to fail (Error) or not
					(Warning).
					&lt;br&gt;&lt;br&gt;
					If the request fails and the source of the problem is within the application
					(such as a missing required element), please change the application before you
					retry the request. If the problem is due to end-user input data, please alert
					the end-user to the problem and provide the means for them to correct the data.
					Once the problem in the application or data is resolved, you can attempt to re-
					send the request to eBay.
					&lt;br&gt;&lt;br&gt;
					If the source of the problem is on eBay's side, you can retry the request as-is
					a reasonable number of times (eBay recommends twice). If the error persists,
					contact Developer Technical Support. Once the problem has been resolved, the
					request may be resent in its original form.
					&lt;br&gt;&lt;br&gt;
					When a warning occurs, the error is returned in addition to the business data.
					In this case, you do not need to retry the request (as the original request was
					successful). However, depending on the cause or nature of the warning, you
					might need to contact either the end user or eBay to effect a long term
					solution to the problem to prevent it from reoccurring in the future.
				</xs:documentation>
				<xs:appinfo>
					<CallInfo>
						<AllCalls/>
						<Returned>Conditionally</Returned>
					</CallInfo>
				</xs:appinfo>
			</xs:annotation>
		</xs:element>
		<xs:element name="category" type="tns:ErrorCategory">
			<xs:annotation>
				<xs:documentation>
					There are three categories of errors: request errors, application errors, and
					system errors.
				</xs:documentation>
				<xs:appinfo>
					<CallInfo>
						<AllCalls/>
						<Returned>Conditionally</Returned>
					</CallInfo>
				</xs:appinfo>
			</xs:annotation>
		</xs:element>
		<xs:element name="message" type="xs:string">
			<xs:annotation>
				<xs:documentation>
					A detailed description of the condition that resulted in the error.
				</xs:documentation>
				<xs:appinfo>
					<CallInfo>
						<AllCalls/>
						<Returned>Conditionally</Returned>
					</CallInfo>
				</xs:appinfo>
			</xs:annotation>
		</xs:element>
		<xs:element minOccurs="0" name="subdomain" type="xs:string">
			<xs:annotation>
				<xs:documentation>
					Name of the subdomain upon which the error occurred. 
					&lt;dl&gt;
					&lt;lh&gt;Subdomains include:&lt;/lh&gt;
					&lt;dt&gt;
						Merchandising
					&lt;/dt&gt;
					&lt;dd&gt;
						The error is specific to the Merchandising service.
					&lt;/dd&gt;
					&lt;dt&gt;
						MarketplaceCommon
					&lt;/dt&gt;
					&lt;dd&gt;
						The error is common to all Marketplace services.
					&lt;/dd&gt;
					&lt;/dl&gt;
				</xs:documentation>
				<xs:appinfo>
					<CallInfo>
						<AllCalls/>
						<Returned>Conditionally</Returned>
					</CallInfo>
				</xs:appinfo>
			</xs:annotation>
		</xs:element>
		<xs:element minOccurs="0" name="exceptionId" type="xs:token">
			<xs:annotation>
				<xs:documentation>
					Unique identifier for an exception associated with an error.
				</xs:documentation>
				<xs:appinfo>
					<CallInfo>
						<AllCalls/>
						<Returned>Conditionally</Returned>
					</CallInfo>
				</xs:appinfo>
			</xs:annotation>
		</xs:element>
		<xs:element maxOccurs="unbounded" minOccurs="0" name="parameter" type="tns:ErrorParameter">
			<xs:annotation>
				<xs:documentation>
					Some warning and error messages return one or more variables that contain
					contextual information about the error. This is often the field or value that
					triggered the error.
				</xs:documentation>
				<xs:appinfo>
					<CallInfo>
						<AllCalls/>
						<Returned>Conditionally</Returned>
					</CallInfo>
				</xs:appinfo>
			</xs:annotation>
		</xs:element>
	</xs:sequence>
</xs:complexType>


<xs:complexType name="ErrorParameter">
	<xs:annotation>
		<xs:documentation>
			Contextual information associated with an error.
		</xs:documentation>
	</xs:annotation>
	<xs:simpleContent>
		<xs:extension base="xs:string">
			<xs:attribute name="name" type="xs:string">
				<xs:annotation>
					<xs:documentation>
						The name of the parameter in the list of parameter types returned
						within the error type.
					</xs:documentation>
						<xs:appinfo>
							<CallInfo>
								<AllCalls/>
								<Returned>Conditionally</Returned>
							</CallInfo>
						</xs:appinfo>
				</xs:annotation>
			</xs:attribute>
		</xs:extension>
	</xs:simpleContent>
</xs:complexType>



<xs:simpleType name="AckValue">
	<xs:annotation>
		<xs:documentation>
			Indicates whether the error is a severe error (causing the request to fail)
			or an informational error (a warning) that should be communicated to the
			user.
		</xs:documentation>
	</xs:annotation>
	<xs:restriction base="xs:string">
		<xs:enumeration value="Success">
			<xs:annotation>
				<xs:documentation>
					The request was processed successfully, but something occurred that may
					affect your application or the user.				
				</xs:documentation>
			</xs:annotation>
		</xs:enumeration>
		<xs:enumeration value="Failure">
			<xs:annotation>
				<xs:documentation>
					The request that triggered the error was not processed successfully.
					When a serious application-level error occurs, the error is returned
					instead of the business data.
				</xs:documentation>
			</xs:annotation>
		</xs:enumeration>
		<xs:enumeration value="Warning">
			<xs:annotation>
				<xs:documentation>
					The request that triggered the error was processed successfully but with some warnings.
				</xs:documentation>
			</xs:annotation>
		</xs:enumeration>
		<xs:enumeration value="PartialFailure">
			<xs:annotation>
				<xs:documentation>
					The request that triggered the error was processed successfully but with some warnings.				</xs:documentation>
			</xs:annotation>
		</xs:enumeration>
	</xs:restriction>
</xs:simpleType>

<xs:simpleType name="ErrorSeverity">
	<xs:annotation>
		<xs:documentation>
			Indicates whether the error is a severe error (causing the request to fail)
			or an informational error (a warning) that should be communicated to the
			user.
		</xs:documentation>
	</xs:annotation>
	<xs:restriction base="xs:string">
		<xs:enumeration value="Error">
			<xs:annotation>
				<xs:documentation>
					The request that triggered the error was not processed successfully.
					When a serious application-level error occurs, the error is returned
					instead of the business data.
				</xs:documentation>
			</xs:annotation>
		</xs:enumeration>
		<xs:enumeration value="Warning">
			<xs:annotation>
				<xs:documentation>
					The request was processed successfully, but something occurred that may
					affect your application or the user. For example, eBay may have changed a
					value the user sent in. In this case, eBay returns a normal, successful
					response and also returns the warning.
				</xs:documentation>
			</xs:annotation>
		</xs:enumeration>
	</xs:restriction>
</xs:simpleType>

<xs:simpleType name="ErrorCategory">
	<xs:annotation>
		<xs:documentation>
			There are three categories of error: request errors, application errors,
			and system errors. Request and application errors are caused primarily by
			invalid data passed in the request. System errors are caused primarily by
			application failures and cannot be corrected by changing request values.
		</xs:documentation>
	</xs:annotation>
	<xs:restriction base="xs:string">
		<xs:enumeration value="System">
			<xs:annotation>
				<xs:documentation>
					Indicates that an error has occurred on the eBay system side, such as a
					database or server down. An application can retry the request as-is a
					reasonable number of times (eBay recommends twice). If the error
					persists, contact Developer Technical Support. Once the problem has been
					resolved, the request may be resent in its original form.
				</xs:documentation>
			</xs:annotation>
		</xs:enumeration>
		<xs:enumeration value="Application">
			<xs:annotation>
				<xs:documentation>
					An error occurred due to a problem with the request, such as missing or
					invalid fields. The problem must be corrected before the request can be
					made again. If the problem is due to something in the application (such
					as a missing required field), the application must be changed. Once the
					problem in the application or data is resolved, resend the corrected
					request to eBay.
				</xs:documentation>
			</xs:annotation>
		</xs:enumeration>
		<xs:enumeration value="Request">
			<xs:annotation>
				<xs:documentation>
					An error occurred due to a problem with the request, such as invalid or
					missing data. The problem must be corrected before the request can be
					made again. If the problem is a result of end-user data, the application
					must alert the end-user to the problem and provide the means for the
					end-user to correct the data. Once the problem in the data is resolved,
					resend the request to eBay with the corrected data.
				</xs:documentation>
			</xs:annotation>
		</xs:enumeration>
	</xs:restriction>
</xs:simpleType>


            <xs:element name="applyProductTagToItem" type="tns:ApplyProductTagToItemRequest">

            </xs:element>
            <xs:element name="applyProductTagToItemResponse" type="tns:ApplyProductTagToItemResponse">
            </xs:element>
            
            <xs:complexType name="ApplyProductTagToItemRequest">
                <xs:annotation>
                	<xs:documentation>
                		defines list of ApplyProductTagInformation where each
                		ApplyProductTagInformation element contains item id to
                		be tagged with correct product reference id,
                		product reference id to be tagged on item,
                		source of this tagging operation, confidence
                		score for this operation and unique invocation
                		id
                	</xs:documentation>
                </xs:annotation>
                <xs:complexContent>
            		<xs:extension base="tns:BaseServiceRequest">
            			<xs:sequence>
            				<xs:element maxOccurs="unbounded" minOccurs="1" name="tagInformation" type="tns:ApplyProductTagInformation">
            				</xs:element>
            			</xs:sequence>

            		</xs:extension>
            	</xs:complexContent>
            </xs:complexType>
            
            <xs:complexType name="ApplyProductTagInformation">
                <xs:annotation>
                	<xs:documentation>
                		defines item id which needs to be tagged with
                		correct product reference id, product reference
                		id to be tagged on item, source of this tagging
                		operation, confidence score for this operation
                		and unique invocation id
                	</xs:documentation>
                </xs:annotation>
                <xs:sequence>
            		<xs:element maxOccurs="1" minOccurs="1" name="invocationId" type="xs:string">
            			<xs:annotation>
            				<xs:documentation>
            					unique id to identify the request
            					element and use for mapping the
            					errorData in the response.
            				</xs:documentation>
            			</xs:annotation></xs:element>
            		<xs:element maxOccurs="1" minOccurs="1" name="itemId" type="xs:string">
            			<xs:annotation>
            				<xs:documentation>
            					Item id to be tagged
            				</xs:documentation>
            			</xs:annotation></xs:element>
            		<xs:element maxOccurs="1" minOccurs="1" name="confidencePercent" type="xs:double">
                        <xs:annotation>
                        	<xs:documentation>
                        		the confidence score for the tagged item
                        	</xs:documentation>
                        </xs:annotation>
            		</xs:element>
            		<xs:element maxOccurs="1" minOccurs="1" name="sourceOfTagging" type="xs:token">
            			<xs:annotation>
            				<xs:documentation>
            					identifies the caller of this tagging
            					operation
            				</xs:documentation>
            			</xs:annotation></xs:element>
            		<xs:element maxOccurs="1" minOccurs="1" name="productReferenceId" type="xs:string">
                        <xs:annotation>
                        	<xs:documentation>
                        		product reference id to be tagged.
                        	</xs:documentation>
                        </xs:annotation>
            		</xs:element>
            	</xs:sequence>
            </xs:complexType>

            <xs:complexType name="ApplyProductTagToItemResponse">
            	<xs:complexContent>
            		<xs:extension base="tns:BaseServiceResponse"/>
            	</xs:complexContent>
            </xs:complexType>
            <xs:element name="removeProductTagFromItem" type="tns:RemoveProductTagFromItemRequest">
            </xs:element>
            <xs:element name="removeProductTagFromItemResponse" type="tns:RemoveProductTagFromItemResponse">
            </xs:element>

            <xs:complexType name="RemoveProductTagFromItemRequest">
                <xs:annotation>
                	<xs:documentation>
                		defines list of RemoveTagInformation where each
                		RemoveTagInformation element contains item id
                		that needs removal of product reference id,
                		source of this operation and unique invocation
                		id
                	</xs:documentation>
                </xs:annotation>
                <xs:complexContent>
            		<xs:extension base="tns:BaseServiceRequest">
            			<xs:sequence>
            				<xs:element maxOccurs="unbounded" minOccurs="1" name="removeTagInformation" type="tns:RemoveTagInformation">
            				</xs:element>
            			</xs:sequence>
            		</xs:extension>
            	</xs:complexContent>
            </xs:complexType>

            <xs:complexType name="RemoveTagInformation">
                <xs:annotation>
                	<xs:documentation>
                		defines the information for removing product
                		reference id on an item like item id to be
                		affected, source of this operation and unique
                		invocation id
                	</xs:documentation>
                </xs:annotation>
                <xs:sequence>
            		<xs:element maxOccurs="1" minOccurs="1" name="invocationId" type="xs:string">
                        <xs:annotation>
                        	<xs:documentation>
                        		unique id to identify the request
                        		element and use for mapping the
                        		errorData in the response.
                        	</xs:documentation>
                        </xs:annotation>
            		</xs:element>
            		<xs:element maxOccurs="1" minOccurs="1" name="itemId" type="xs:string">
                        <xs:annotation>
                        	<xs:documentation>
                        		Item id to be untagged
                        	</xs:documentation>
                        </xs:annotation>
            		</xs:element>

            		<xs:element maxOccurs="1" minOccurs="1" name="sourceOfRemoveTagging" type="xs:token">
                        <xs:annotation>
                        	<xs:documentation>
                        		identifies the caller of this remove
                        		tagging
                        	</xs:documentation>
                        </xs:annotation>
            		</xs:element>
            	</xs:sequence>
            </xs:complexType>

            <xs:complexType name="RemoveProductTagFromItemResponse">
                <xs:annotation>
                	<xs:documentation>
                		Contains the response for removeProductTag and
                		the error information for the elements that have
                		failed are contained in
                		ErrorMessage--&gt;ErrorData-&gt;. ErrorParameter
                		contains the invocation id that is used to
                		identify the error for that particualr element
                	</xs:documentation>
                </xs:annotation>
                <xs:complexContent>
            		<xs:extension base="tns:BaseServiceResponse"/>
            	</xs:complexContent>
            </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="applyProductTagToItemResponse">
    <wsdl:part element="tns:applyProductTagToItemResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="applyProductTagToItemRequest">
    <wsdl:part element="tns:applyProductTagToItem" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="removeProductTagFromItemResponse">
    <wsdl:part element="tns:removeProductTagFromItemResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="removeProductTagFromItemRequest">
    <wsdl:part element="tns:removeProductTagFromItem" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="ItemToProductAssociationServicePort">
    <wsdl:operation name="applyProductTagToItem">
<wsdl:documentation>applies the Product reference id to the Item and can take multiple set of items to be tagged </wsdl:documentation>
      <wsdl:input message="tns:applyProductTagToItemRequest">
    </wsdl:input>
      <wsdl:output message="tns:applyProductTagToItemResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="removeProductTagFromItem">
<wsdl:documentation>removes the product reference id which is tagged to the item and can take multiple set of items for this operation</wsdl:documentation>
      <wsdl:input message="tns:removeProductTagFromItemRequest">
    </wsdl:input>
      <wsdl:output message="tns:removeProductTagFromItemResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ItemToProductAssociationServiceHttpBinding" type="tns:ItemToProductAssociationServicePort">
    <http:binding verb="POST"/>
    <wsdl:operation name="applyProductTagToItem">
         <http:operation location="/applyProductTagToItem"/>
      <wsdl:input>
        <mime:content part="applyProductTagToItem" type="application/x-www-form-urlencoded"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="applyProductTagToItemResponse" type="text/xml"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="removeProductTagFromItem">
      <http:operation location="/removeProductTagFromItem"/>
      <wsdl:input>
        <mime:content part="removeProductTagFromItem" type="application/x-www-form-urlencoded"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="removeProductTagFromItemResponse" type="text/xml"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ItemToProductAssociationServiceSOAPBinding" type="tns:ItemToProductAssociationServicePort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="applyProductTagToItem">
      <soap:operation soapAction="http://www.ebayopensource.org/tumeric/catalog/v1/services/applyProductTagToItem"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="removeProductTagFromItem">
      <soap:operation soapAction="http://www.ebayopensource.org/tumeric/catalog/v1/services/removeProductTagFromItem"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ItemToProductAssociationService">
    <wsdl:port binding="tns:ItemToProductAssociationServiceHttpBinding" name="ItemToProductAssociationServiceHttp">
      <http:address location="http://svcs.ebay.com/ItemToProductAssociationService"/>
    </wsdl:port>
    <wsdl:port binding="tns:ItemToProductAssociationServiceSOAPBinding" name="ItemToProductAssociationServiceSOAP">
      <soap12:address location="http://svcs.ebay.com/ItemToProductAssociationService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>