codegen/codegen-tools/src/test/resources/org/ebayopensource/turmeric/test/tools/codegen/data/proto/MaestroDecisionService_for_tags.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://www.ebayopensource.org/tumeric/maestro/v1/services" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xs="http://www.w3.org/2001/XMLSchema" name="MaestroDecisionService" targetNamespace="http://www.ebayopensource.org/tumeric/maestro/v1/services">
	<wsdl:types>
		<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.ebayopensource.org/tumeric/maestro/v1/services">
			<xs:simpleType name="AckValue">
				<xs:annotation>
					<xs:documentation>
						Indicates whether the error is a severe error
						(causing the request to fail) or an
						informational error (a warning)
						that should be
						communicated to the user.
					</xs:documentation>
					<xs:appinfo>
						<typeLibrarySource library="common-type-library" namespace="http://www.ebayopensource.org/tumeric/services"/>
					</xs:appinfo>
				</xs:annotation>
				<xs:restriction base="xs:string">
					<xs:enumeration value="Success">
						<xs:annotation>
							<xs:documentation>
								The request was processed successfully,
								but
								something occurred that may affect
								your application or the user.
							</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="Failure">
						<xs:annotation>
							<xs:documentation>
								The request that triggered the error was
								not
								processed successfully. When a
								serious application-level error
								occurs,
								the error is returned instead of the
								business data.
							</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="Warning">
						<xs:annotation>
							<xs:documentation>
								The request that triggered the error was
								processed successfully but with some
								warnings.
							</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="PartialFailure">
						<xs:annotation>
							<xs:documentation>
								The request that triggered the error was
								processed successfully but with some
								warnings.
							</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
				</xs:restriction>
			</xs:simpleType>
			<xs:complexType abstract="true" name="BaseRequest">
				<xs:annotation>
					<xs:documentation>
						This is the base class for request container for
						all service operations.
					</xs:documentation>
					<xs:appinfo>
						<typeLibrarySource library="common-type-library" namespace="http://www.ebayopensource.org/tumeric/services"/>
					</xs:appinfo>
				</xs:annotation>
				<xs:sequence>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="extension" type="tns:ExtensionType"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType abstract="true" name="BaseResponse">
				<xs:annotation>
					<xs:documentation>
						Base response container for all service
						operations. Contains error information
						associated with the request.
					</xs:documentation>
					<xs:appinfo>
						<typeLibrarySource library="common-type-library" namespace="http://www.ebayopensource.org/tumeric/services"/>
					</xs:appinfo>
				</xs:annotation>
				<xs:sequence>
					<xs:element name="ack" type="tns:AckValue">
						<xs:annotation>
							<xs:documentation/>
							<xs:appinfo>
								<CallInfo>
									<AllCalls/>
									<Returned>Always</Returned>
								</CallInfo>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="errorMessage" type="tns:ErrorMessage">
						<xs:annotation>
							<xs:documentation>
								Information for an error or warning that
								occurred when eBay processed the
								request.
							</xs:documentation>
							<xs:appinfo>
								<CallInfo>
									<AllCalls/>
									<Returned>Conditionally</Returned>
								</CallInfo>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="version" type="xs:string">
						<xs:annotation>
							<xs:documentation/>
							<xs:appinfo>
								<CallInfo>
									<AllCalls/>
									<Returned>Always</Returned>
								</CallInfo>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="timestamp" type="xs:dateTime">
						<xs:annotation>
							<xs:documentation/>
							<xs:appinfo>
								<CallInfo>
									<AllCalls/>
									<Returned>Always</Returned>
								</CallInfo>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="extension" type="tns:ExtensionType"/>
				</xs:sequence>
			</xs:complexType>
			<xs:simpleType name="ErrorCategory">
				<xs:annotation>
					<xs:documentation>
						Documentation goes here.
					</xs:documentation>
					<xs:appinfo>
						<typeLibrarySource library="common-type-library" namespace="http://www.ebayopensource.org/tumeric/services"/>
					</xs:appinfo>
				</xs:annotation>
				<xs:restriction base="xs:token">
					<xs:enumeration value="System"/>
					<xs:enumeration value="Application"/>
					<xs:enumeration value="Request"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:complexType name="ErrorData">
				<xs:annotation>
					<xs:documentation>
						Documentation goes here
					</xs:documentation>
					<xs:appinfo>
						<typeLibrarySource library="common-type-library" namespace="http://www.ebayopensource.org/tumeric/services"/>
					</xs:appinfo>
				</xs:annotation>
				<xs:sequence>
					<xs:element name="errorId" type="xs:long"/>
					<xs:element name="domain" type="xs:string"/>
					<xs:element minOccurs="0" name="subdomain" type="xs:string"/>
					<xs:element name="severity" type="tns:ErrorSeverity"/>
					<xs:element name="category" type="tns:ErrorCategory"/>
					<xs:element name="message" type="xs:string"/>
					<xs:element minOccurs="0" name="exceptionId" type="xs:token"/>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="parameter" type="tns:ErrorParameter"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="ErrorMessage">
				<xs:annotation>
					<xs:documentation>
						Documentation goes here
					</xs:documentation>
					<xs:appinfo>
						<typeLibrarySource library="common-type-library" namespace="http://www.ebayopensource.org/tumeric/services"/>
					</xs:appinfo>
				</xs:annotation>
				<!--

					processContents="lax" /> </xs:sequence>
				-->
				<xs:sequence>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="error" type="tns:ErrorData"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="ErrorParameter">
				<xs:annotation>
					<xs:documentation>
						Documentation goes here
					</xs:documentation>
					<xs:appinfo>
						<typeLibrarySource library="common-type-library" namespace="http://www.ebayopensource.org/tumeric/services"/>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleContent>
					<xs:extension base="xs:string">
						<xs:attribute name="name" type="xs:string" use="optional"/>
					</xs:extension>
				</xs:simpleContent>
			</xs:complexType>
			<xs:simpleType name="ErrorSeverity">
				<xs:annotation>
					<xs:documentation>
						Documentation goes here.
					</xs:documentation>
					<xs:appinfo>
						<typeLibrarySource library="common-type-library" namespace="http://www.ebayopensource.org/tumeric/services"/>
					</xs:appinfo>
				</xs:annotation>
				<xs:restriction base="xs:token">
					<xs:enumeration value="Error"/>
					<xs:enumeration value="Warning"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:complexType name="ExtensionType">
				<xs:annotation>
					<xs:documentation>
						Documentation goes here
					</xs:documentation>
					<xs:appinfo>
						<typeLibrarySource library="common-type-library" namespace="http://www.ebayopensource.org/tumeric/services"/>
					</xs:appinfo>
				</xs:annotation>
				<xs:sequence>
					<xs:element name="id" type="xs:positiveInteger"/>
					<xs:element name="version" type="xs:string"/>
					<xs:element name="contentType" type="xs:string"/>
					<xs:element name="value" type="xs:string"/>

				</xs:sequence>
			</xs:complexType>
			<xs:element name="getVersionRequest" type="tns:GetVersionRequest"/>
			<xs:complexType name="GetVersionRequest">
				<xs:annotation>
					<xs:documentation>
						Request object for the version of this SOA service.
					</xs:documentation>
				</xs:annotation>
				<xs:complexContent>
					<xs:extension base="tns:BaseRequest">
						<xs:sequence/>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:element name="getVersionResponse" type="tns:GetVersionResponse"/>
			<xs:complexType name="GetVersionResponse">
				<xs:annotation>
					<xs:documentation>
						Returns the version of this SOA service.
					</xs:documentation>
				</xs:annotation>
				<xs:complexContent>
					<xs:extension base="tns:BaseResponse">
						<xs:sequence/>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:element name="shouldIHoldRequest" type="tns:ShouldIHoldRequest"/>
			<xs:complexType name="ShouldIHoldRequest">
				<xs:annotation>
					<xs:documentation>
						This request object contains the order Id.
					</xs:documentation>
				</xs:annotation>
				<xs:complexContent>
					<xs:extension base="tns:BaseRequest">
						<xs:sequence>



							<xs:element maxOccurs="1" minOccurs="1" name="PurchaseOrder" type="tns:PurchaseOrderType">
							</xs:element>
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:element name="shouldIHoldResponse" type="tns:ShouldIHoldResponse"/>
			<xs:complexType name="ShouldIHoldResponse">
				<xs:annotation>
					<xs:documentation>
						This response object contains the outcome type (true/false) and the 
						outcome reason.
					</xs:documentation>
				</xs:annotation>
				<xs:complexContent>
					<xs:extension base="tns:BaseResponse">
						<xs:sequence>
							<xs:element maxOccurs="unbounded" minOccurs="1" name="holdOutcome" type="tns:HoldOutcomeType"/>
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:complexType name="HoldOutcomeType">
				<xs:annotation>
					<xs:documentation>
						Contains outcome type (true/false) and outcome reason.
					</xs:documentation>
				</xs:annotation>
				<xs:sequence>
					<xs:element maxOccurs="1" minOccurs="1" name="outcome" type="xs:boolean">
					</xs:element>
					<xs:element maxOccurs="1" minOccurs="1" name="outcomeReason" type="xs:string">
					</xs:element>
					<xs:element maxOccurs="1" minOccurs="1" name="orderId" type="xs:string"/>


				</xs:sequence>
			</xs:complexType>
			<xs:element name="decideOnReleaseRequest" type="tns:DecideOnReleaseRequest"/>
			<xs:complexType name="DecideOnReleaseRequest">
				<xs:annotation>
					<xs:documentation>
						This request object contains line item Id.
					</xs:documentation>
				</xs:annotation>
				<xs:complexContent>
					<xs:extension base="tns:BaseRequest">
						<xs:sequence>

							<xs:element maxOccurs="unbounded" minOccurs="1" name="orderId" type="xs:string">
							</xs:element>
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:element name="decideOnReleaseResponse" type="tns:DecideOnReleaseResponse"/>
			<xs:complexType name="DecideOnReleaseResponse">
				<xs:annotation>
					<xs:documentation>
						This response object contains outcome type (true/false), next evaluation date and  
						outcome reason.
					</xs:documentation>
				</xs:annotation>
				<xs:complexContent>
					<xs:extension base="tns:BaseResponse">
						<xs:sequence>
							<xs:element maxOccurs="unbounded" minOccurs="1" name="releaseOutcome" type="tns:ReleaseOutcomeType"/>
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:complexType name="ReleaseOutcomeType">
				<xs:annotation>
					<xs:documentation>
						Contains outcome type (true/false), next evaluation date and  
						outcome reason.
					</xs:documentation>
				</xs:annotation>
				<xs:sequence>
					<xs:element maxOccurs="1" minOccurs="1" name="outcome" type="xs:boolean">
					</xs:element>
					<xs:element maxOccurs="1" minOccurs="1" name="outcomeReason" type="xs:string">
					</xs:element>
					<xs:element maxOccurs="1" minOccurs="1" name="orderId" type="xs:string">
					</xs:element>
					<xs:element maxOccurs="1" minOccurs="1" name="maestroCoreRequestId" type="xs:string">
					</xs:element>
					<xs:element maxOccurs="1" minOccurs="1" name="nextDecisionType" type="xs:string">
					</xs:element>
					<xs:element maxOccurs="1" minOccurs="1" name="evaluationDate" type="xs:dateTime">
					</xs:element>
					<xs:element maxOccurs="1" minOccurs="1" name="estimatedFundsReleaseDate" type="xs:dateTime">
					</xs:element>
					<xs:element maxOccurs="1" minOccurs="1" name="remedyAction" type="xs:string">
					</xs:element>					
					
					
					<xs:element maxOccurs="1" minOccurs="1" name="nextDecisionDate" type="xs:dateTime"/>
				</xs:sequence>
			</xs:complexType>
		
			<xs:complexType name="OrderType">
				<xs:sequence>
					<xs:element maxOccurs="1" minOccurs="1" name="orderId" type="xs:string"/>

					<xs:element maxOccurs="1" minOccurs="1" name="sellerId" type="tns:SellerIdType">
					</xs:element>
					<xs:element maxOccurs="1" minOccurs="1" name="orderAmount" type="xs:decimal"/>
					<xs:element maxOccurs="unbounded" minOccurs="1" name="lineItem" type="tns:LineItemType">
					</xs:element>

				</xs:sequence>
			</xs:complexType>
		
			<xs:complexType name="SellerIdType">
				<xs:sequence>
					<xs:element name="RegistrationSiteId" type="xs:string">
					</xs:element>
					<xs:element maxOccurs="1" minOccurs="1" name="SellerId" type="xs:long"/>
				</xs:sequence>
			</xs:complexType>
			
            <xs:complexType name="LineItemType">
            	<xs:sequence>
            		<xs:element maxOccurs="1" minOccurs="1" name="externalId" type="xs:string">
            		</xs:element>
            		<xs:element maxOccurs="1" minOccurs="1" name="transactionSiteId" type="xs:string">
            		</xs:element>
            		<xs:element maxOccurs="1" minOccurs="1" name="quantity" type="xs:long">
            		</xs:element>
            		<xs:element maxOccurs="1" minOccurs="1" name="categoryId1" type="xs:string">
            		</xs:element>
            		<xs:element maxOccurs="1" minOccurs="1" name="categoryId2" type="xs:string">
            		</xs:element>
            		<xs:element maxOccurs="1" minOccurs="1" name="itemPrice" type="xs:decimal">
            		</xs:element>
            		<xs:element maxOccurs="1" minOccurs="1" name="orderListingSiteId" type="xs:string"/>
            	</xs:sequence>
            </xs:complexType>
		
            <xs:complexType name="listOfOrdersType">
            	<xs:sequence>
            		<xs:element name="orderId" type="xs:string"/>
            	</xs:sequence>
            </xs:complexType>
		
            <xs:complexType name="PurchaseOrderType">
            	<xs:sequence>
            		<xs:element maxOccurs="1" minOccurs="1" name="buyerId" type="xs:long"/>
            		<xs:element maxOccurs="1" minOccurs="0" name="state" type="xs:string"/>
            		<xs:element maxOccurs="unbounded" minOccurs="1" name="order" type="tns:OrderType"/>
            	</xs:sequence>
            </xs:complexType>
            <xs:element name="decideOnHoldByListing">
            	<xs:complexType>
            		<xs:sequence>

            			<xs:element name="in" type="xs:string"/>
            		</xs:sequence>
            	</xs:complexType>
            </xs:element>
            <xs:element name="decideOnHoldByListingResponse" type="tns:decideOnHoldByListingResponse">            </xs:element>
            <xs:element name="decideOnHoldByListingRequest" type="tns:decideOnHoldByListingRequest">
            </xs:element>
            
            <xs:complexType name="decideOnHoldByListingRequest">
            	<xs:complexContent>
            		<xs:extension base="tns:BaseRequest">
            			<xs:sequence>
            				<xs:element maxOccurs="1" minOccurs="1" name="sellerId" type="xs:long">
            				</xs:element>
            				<xs:element maxOccurs="1" minOccurs="1" name="listingSiteId" type="xs:int">
            				</xs:element>
            			</xs:sequence>
            		</xs:extension>
            	</xs:complexContent>
            </xs:complexType>

            <xs:complexType name="decideOnHoldByListingResponse">
            	<xs:complexContent>
            		<xs:extension base="tns:BaseResponse">
            			<xs:sequence>

            				<xs:element maxOccurs="1" minOccurs="1" name="outcomeReason" type="xs:token">
            				</xs:element>
            				<xs:element maxOccurs="1" minOccurs="1" name="outcome" type="xs:boolean">
            				</xs:element>
            			</xs:sequence>
            		</xs:extension>
            	</xs:complexContent>
            </xs:complexType>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="getVersionRequest">
		<wsdl:part element="tns:getVersionRequest" name="params"/>
	</wsdl:message>
	<wsdl:message name="getVersionResponse">
		<wsdl:part element="tns:getVersionResponse" name="params"/>
	</wsdl:message>
	<wsdl:message name="shouldIHoldRequest">
		<wsdl:part element="tns:shouldIHoldRequest" name="params"/>
	</wsdl:message>
	<wsdl:message name="shouldIHoldResponse">
		<wsdl:part element="tns:shouldIHoldResponse" name="params"/>
	</wsdl:message>
	<wsdl:message name="decideOnReleaseRequest">
		<wsdl:part element="tns:decideOnReleaseRequest" name="params"/>
	</wsdl:message>
	<wsdl:message name="decideOnReleaseResponse">
		<wsdl:part element="tns:decideOnReleaseResponse" name="params"/>
	</wsdl:message>
	<wsdl:message name="decideOnHoldByListingRequest">
		<wsdl:part element="tns:decideOnHoldByListingRequest" name="parameters"/>
	</wsdl:message>
	<wsdl:message name="decideOnHoldByListingResponse">
		<wsdl:part element="tns:decideOnHoldByListingResponse" name="parameters"/>
	</wsdl:message>
	<wsdl:portType name="MaestroDecisionServicePort">
		<wsdl:operation name="getVersion">
			<wsdl:documentation>
				Documentation goes here.
			</wsdl:documentation>
			<wsdl:input message="tns:getVersionRequest"/>
			<wsdl:output message="tns:getVersionResponse"/>
		</wsdl:operation>
		<wsdl:operation name="shouldIHold">
			<wsdl:documentation>
				This operation decides on whether a payment should be held (or not) based on some rules 
				and gives back a decision to the client.
			</wsdl:documentation>
			<wsdl:input message="tns:shouldIHoldRequest"/>
			<wsdl:output message="tns:shouldIHoldResponse"/>
		</wsdl:operation>
		<wsdl:operation name="decideOnRelease">
			<wsdl:documentation>
				This operation decides on whether a payment should be released (or not) based on some rules 
				and gives back a decision to the client.
			</wsdl:documentation>
			<wsdl:input message="tns:decideOnReleaseRequest"/>
			<wsdl:output message="tns:decideOnReleaseResponse"/>
		</wsdl:operation>
		<wsdl:operation name="decideOnHoldByListing">
			<wsdl:input message="tns:decideOnHoldByListingRequest"/>
			<wsdl:output message="tns:decideOnHoldByListingResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="MaestroDecisionServiceHttpBinding" type="tns:MaestroDecisionServicePort">
		<http:binding verb="POST"/>
		<wsdl:operation name="getVersion">
			<http:operation location="/getVersion"/>
			<wsdl:input>
				<mime:content type="application/x-www-form-urlencoded"/>
			</wsdl:input>
			<wsdl:output>
				<mime:content type="text/xml"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="shouldIHold">
			<http:operation location="/shouldIHold"/>
			<wsdl:input>
				<mime:content type="application/x-www-form-urlencoded"/>
			</wsdl:input>
			<wsdl:output>
				<mime:content type="text/xml"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="decideOnRelease">
			<http:operation location="decideOnRelease"/>
			<wsdl:input>
				<mime:content type="application/x-www-form-urlencoded"/>

			</wsdl:input>
			<wsdl:output>
				<mime:content type="text/xml"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="decideOnHoldByListing">
			<http:operation location="/decideOnHoldByListing"/>
			
			<wsdl:input>
				<mime:content type="application/x-www-form-urlencoded"/>
			</wsdl:input>
			<wsdl:output>
				<mime:content type="text/xml"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="MaestroDecisionServiceSOAPBinding" type="tns:MaestroDecisionServicePort">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="getVersion">
			<soap:operation soapAction="http://www.ebayopensource.org/tumeric/maestro/v1/services/getVersion"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="shouldIHold">
			<soap:operation soapAction="http://www.ebayopensource.org/tumeric/maestro/v1/services/shouldIHold"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="decideOnRelease">
			<soap:operation soapAction="http://www.ebayopensource.org/tumeric/maestro/v1/services/decideOnRelease"/>
			<wsdl:input>

				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>

				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="decideOnHoldByListing">
			<soap:operation soapAction="http://www.ebayopensource.org/tumeric/maestro/v1/services/decideOnHoldByListing"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="MaestroDecisionService">
		<wsdl:documentation>
			<version>1.0.0</version>
		</wsdl:documentation>
		<wsdl:port binding="tns:MaestroDecisionServiceHttpBinding" name="MaestroDecisionServiceHttpPort">
			<http:address location="https://svcs.ebay.com/services/maestro/v1/MaestroDecisionService"/>
		</wsdl:port>
		<wsdl:port binding="tns:MaestroDecisionServiceSOAPBinding" name="MaestroDecisionServiceSOAPPort">
			<soap12:address location="https://svcs.ebay.com/services/maestro/v1/MaestroDecisionService"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>