codegen/codegen-tools/src/test/resources/org/ebayopensource/turmeric/test/tools/codegen/data/proto/MyEbayApplicationService_for_tags.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="MyEbayApplicationService"
	targetNamespace="http://www.ebay.com/marketplace/mobile/v1/services"
	xmlns="http://schemas.xmlsoap.org/wsdl/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
	xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
	xmlns:tns="http://www.ebay.com/marketplace/mobile/v1/services"
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/">

	<wsdl:types>
		<xs:schema attributeFormDefault="unqualified"
			elementFormDefault="qualified"
			targetNamespace="http://www.ebay.com/marketplace/mobile/v1/services"
			xmlns:tns="http://www.ebay.com/marketplace/mobile/v1/services"
			xmlns:xs="http://www.w3.org/2001/XMLSchema">

			<xs:element name="getVersionResponse" 
				type="tns:GetVersionResponse" />

			<xs:complexType name="GetVersionResponse">
				<xs:complexContent>
					<xs:extension base="tns:BaseResponse">
						<xs:sequence />
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>

			<xs:simpleType name="AckValue">
				<xs:annotation>
					<xs:documentation>
						Indicates whether the error is a severe error
						(causing the request to fail) or an
						informational error (a warning) that should be
						communicated to the user.
					</xs:documentation>
				</xs:annotation>
				<xs:restriction base="xs:string">
					<xs:enumeration value="Success">
						<xs:annotation>
							<xs:documentation>
								The request was processed successfully,
								but something occurred that may affect
								your application or the user.
							</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="Failure">
						<xs:annotation>
							<xs:documentation>
								The request that triggered the error was
								processed successfully but with some
								warnings.
							</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="Warning">
						<xs:annotation>
							<xs:documentation>
								The request that triggered the error was
								processed successfully but with some
								warnings.
							</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="PartialFailure">
						<xs:annotation>
							<xs:documentation>
								The request that triggered the error was
								not processed successfully. When a
								serious application-level error occurs,
								the error is returned instead of the
								business data.
							</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
				</xs:restriction>
			</xs:simpleType>

			<xs:complexType abstract="true" name="BaseRequest">
				<xs:annotation>
					<xs:documentation>
						This is the base class for request container for
						all service operations.
					</xs:documentation>
				</xs:annotation>
				<xs:sequence>
					<xs:element name="extension"
						type="tns:ExtensionType" minOccurs="0" maxOccurs="unbounded" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType abstract="true" name="BaseResponse">
				<xs:annotation>
					<xs:documentation>
						Base response container for all service
						operations. Contains error information
						associated with the request.
					</xs:documentation>
				</xs:annotation>
				<xs:sequence>
					<xs:element name="ack" type="tns:AckValue">
						<xs:annotation>
							<xs:documentation>
								A token representing the
								application-level acknowledgment code
								that indicates the response status
								(e.g., success). Applicable values:
								CustomCode, Failure, Success, Warning.
							</xs:documentation>
							<xs:appinfo>
								<CallInfo>
									<AllCalls />
									<Returned>Always</Returned>
								</CallInfo>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="errorMessage"
						type="tns:ErrorMessage" minOccurs="0">
						<xs:annotation>
							<xs:documentation>
								Information for an error or warning that
								occurred when eBay processed the
								request.
							</xs:documentation>
							<xs:appinfo>
								<CallInfo>
									<AllCalls />
									<Returned>Conditionally</Returned>
								</CallInfo>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="version" type="xs:string"
						minOccurs="0">
						<xs:annotation>
							<xs:documentation>
								The version of the response payload
								schema. Indicates the version of the
								schema that eBay used to process the
								request. See &quot;Standard Data for All
								Calls&quot; in the eBay Web Services
								Guide for information on using the
								response version when troubleshooting
								&quot;CustomCode&quot; values that
								appear in the response.
							</xs:documentation>
							<xs:appinfo>
								<CallInfo>
									<AllCalls />
									<Returned>Always</Returned>
								</CallInfo>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="timestamp" type="xs:dateTime"
						minOccurs="0">
						<xs:annotation>
							<xs:documentation>
								This value represents the date and time
								when eBay processed the request. The
								time zone of this value is GMT and the
								format is the ISO 8601 date and time
								format (YYYY-MM-DDTHH:MM:SS.SSSZ). See
								Time Values in the eBay Web Services
								guide for information about this time
								format and converting to and from the
								GMT time zone.
							</xs:documentation>
							<xs:appinfo>
								<CallInfo>
									<AllCalls />
									<Returned>Always</Returned>
								</CallInfo>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="extension"
						type="tns:ExtensionType" minOccurs="0" maxOccurs="unbounded" />
				</xs:sequence>
			</xs:complexType>

			<xs:complexType name="ExtensionType">
				<xs:annotation>
					<xs:documentation>
						Documentation goes here
					</xs:documentation>
					<xs:appinfo></xs:appinfo>
				</xs:annotation>
				<xs:sequence>
					<xs:element name="id" type="xs:positiveInteger" />
					<xs:element name="version" type="xs:string" />
					<xs:element name="contentType" type="xs:string" />
					<xs:element name="value" type="xs:string" />

						processContents="lax" />
				</xs:sequence>
			</xs:complexType>

			<xs:simpleType name="ErrorCategory">
				<xs:annotation>
					<xs:documentation>
						Indicates the error category of an error.
						Typical values are &quot;System&quot;,
						&quot;Application&quot;, and &quot;Request&quot;
					</xs:documentation>
				</xs:annotation>
				<xs:restriction base="xs:token">
					<xs:enumeration value="System" />
					<xs:enumeration value="Application" />
					<xs:enumeration value="Request" />
				</xs:restriction>
			</xs:simpleType>
			<xs:complexType name="ErrorData">
				<xs:annotation>
					<xs:appinfo />
					<xs:documentation>
						Represents the error message contents.
					</xs:documentation>
				</xs:annotation>
				<xs:sequence>
					<xs:element name="errorId" type="xs:long">
						<xs:annotation>
							<xs:documentation>
								Represents the ID which is associated
								with an error message.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="domain" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								Denotes the domain to which this error
								message is to be associated.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="subdomain" type="xs:string"
						minOccurs="0">
						<xs:annotation>
							<xs:documentation>
								Denotes the sub-domain to which this
								error message is to be associated.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="severity"
						type="tns:ErrorSeverity">
						<xs:annotation>
							<xs:documentation>
								Denotes the severity of this error.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="category"
						type="tns:ErrorCategory">
						<xs:annotation>
							<xs:documentation>
								Denotes the category to which this error
								belongs.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="message" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								The error message which needs to be
								returned.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="exceptionId" type="xs:token"
						minOccurs="0">
						<xs:annotation>
							<xs:documentation>
								In case of exceptions, this denotes the
								exception id and the same will be used
								for tracking this error.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="parameter"
						type="tns:ErrorParameter" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>
								Denotes a list of string values which
								will be appended to the error message.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="ErrorMessage">
				<xs:annotation>
					<xs:appinfo />
					<xs:documentation>
						Represents the error message obtained while
						processing the request.
					</xs:documentation>
				</xs:annotation>
				<xs:sequence>
					<xs:element name="error" type="tns:ErrorData"
						minOccurs="0" maxOccurs="unbounded" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="ErrorParameter">
				<xs:annotation>
					<xs:appinfo />
					<xs:documentation>
						Represents the error message obtained while
						processing the request.
					</xs:documentation>
				</xs:annotation>
				<xs:simpleContent>
					<xs:extension base="xs:string">
						<xs:attribute name="name" type="xs:string"
							use="optional" />
					</xs:extension>
				</xs:simpleContent>
			</xs:complexType>
			<xs:simpleType name="ErrorSeverity">
				<xs:annotation>
					<xs:documentation>
						Represents the Severity of an error message
						obtained while processing the request.
					</xs:documentation>
				</xs:annotation>
				<xs:restriction base="xs:token">
					<xs:enumeration value="Error" />
					<xs:enumeration value="Warning" />
				</xs:restriction>
			</xs:simpleType>

			<xs:element name="removeFromDidntWinListRequest"
				type="tns:RemoveFromDidntWinListRequest" />
			<xs:complexType name="RemoveFromDidntWinListRequest">
				<xs:annotation>
					<xs:documentation>
						Request for the items (one or more items) to be
						removed from the users didn't win List. This
						contains one or more itemID's to be removed from
						the didn't win list.
					</xs:documentation>
				</xs:annotation>
				<xs:complexContent>
					<xs:extension base="tns:BaseRequest">
						<xs:sequence>
							<xs:element name="itemID" type="xs:string"
								minOccurs="1" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>
										The ID of the item to be removed
										from the didn't win list. This
										field can be repeated to include
										multiple categories
									</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:element name="removeFromDidntWinListResponse"
				type="tns:RemoveFromDidntWinListResponse" />
			<xs:complexType name="RemoveFromDidntWinListResponse">
				<xs:annotation>
					<xs:documentation>
						Response to notify whether the remove was
						successful or not. If it is successful then how
						many items are left in the didn't win list and
						what is the maximum allowed number in the didn't
						win list.
					</xs:documentation>
				</xs:annotation>
				<xs:complexContent>
					<xs:extension base="tns:BaseResponse">
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:element name="removeFromWonListResponse"
				type="tns:RemoveFromWonListResponse" />
			<xs:complexType name="RemoveFromWonListResponse">
				<xs:annotation>
					<xs:documentation>
						Response to notify whether the remove was
						successful or not. If it is successful then how
						many items are left in the won list and what is
						the maximum allowed number in the won list.
					</xs:documentation>
				</xs:annotation>
				<xs:complexContent>
					<xs:extension base="tns:BaseResponse">
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:element name="removeFromWonListRequest"
				type="tns:RemoveFromWonListRequest" />
			<xs:complexType name="RemoveFromWonListRequest">
				<xs:annotation>
					<xs:documentation>
						Request for the items (one or more items) to be
						removed from the users won List.
					</xs:documentation>
				</xs:annotation>
				<xs:complexContent>
					<xs:extension base="tns:BaseRequest">
						<xs:sequence>
							<xs:element name="orderID" type="xs:string"
								minOccurs="0" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>
										Represents the order id. This
										field can be repeated to include
										multiple orders.
									</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="item" type="tns:Item"
								minOccurs="0" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>
										This contains the item details
										which consists of an item id and
										an transaction id. This field
										can be repeated to include
										multiple items.
									</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>

			<xs:complexType name="Item">
				<xs:annotation>
					<xs:documentation>
						This contains the item details which consists of
						an item id and an transaction id.
					</xs:documentation>
				</xs:annotation>
				<xs:sequence>
					<xs:element name="itemID" type="xs:string"
						minOccurs="1">
						<xs:annotation>
							<xs:documentation>
								Represents the item id.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="transactionID" type="xs:string"
						minOccurs="1">
						<xs:annotation>
							<xs:documentation>
								Represents the transaction id.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:complexType>

			<xs:element name="getVersionRequest"
				type="tns:GetVersionRequest">
			</xs:element>

			<xs:complexType name="GetVersionRequest">
				<xs:complexContent>
					<xs:extension base="tns:BaseRequest"></xs:extension>
				</xs:complexContent>
			</xs:complexType>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="getVersionResponse">
		<wsdl:part name="parameters" element="tns:getVersionResponse">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="removeFromDidntWinListResponse">
		<wsdl:part name="parameters"
			element="tns:removeFromDidntWinListResponse">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="removeFromDidntWinListRequest">
		<wsdl:part name="parameters"
			element="tns:removeFromDidntWinListRequest">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="removeFromWonListRequest">
		<wsdl:part name="parameters"
			element="tns:removeFromWonListRequest">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="removeFromWonListResponse">
		<wsdl:part name="parameters"
			element="tns:removeFromWonListResponse">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="getVersionRequest">
		<wsdl:part name="parameters" element="tns:getVersionRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:portType name="MyEbayApplicationServicePort">
		<wsdl:operation name="getVersion">
			<wsdl:documentation>
				This operation returns the version.
			</wsdl:documentation>
			<wsdl:input message="tns:getVersionRequest"></wsdl:input>
			<wsdl:output message="tns:getVersionResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="removeFromDidntWinList">
			<wsdl:documentation>
				This operation Enables a user to remove item from his or
				her My eBay didn't win list.
			</wsdl:documentation>
			<wsdl:input message="tns:removeFromDidntWinListRequest">
			</wsdl:input>
			<wsdl:output message="tns:removeFromDidntWinListResponse">
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="removeFromWonList">
			<wsdl:documentation>
				This operation Enables a user to remove item from his or
				her My eBay won list.
			</wsdl:documentation>
			<wsdl:input message="tns:removeFromWonListRequest"></wsdl:input>
			<wsdl:output message="tns:removeFromWonListResponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="MyEbayApplicationServiceSOAPBinding"
		type="tns:MyEbayApplicationServicePort">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="getVersion">
			<soap:operation
				soapAction="http://www.ebay.com/marketplace/mobile/v1/services/getVersion" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="removeFromDidntWinList">
			<soap:operation
				soapAction="http://www.ebay.com/marketplace/mobile/v1/services/removeFromDidntWinList" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="removeFromWonList">
			<soap:operation
				soapAction="http://www.ebay.com/marketplace/mobile/v1/services/removeFromWonList" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="MyEbayApplicationServiceHttpBinding"
		type="tns:MyEbayApplicationServicePort">
		<http:binding verb="POST"></http:binding>
		<wsdl:operation name="getVersion">
			<http:operation location="/getVersion"></http:operation>
			<wsdl:input>
				<mime:content part="parameters"
					type="application/x-www-form-urlencoded" />
			</wsdl:input>
			<wsdl:output>
				<mime:content part="parameters" type="text/xml" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="removeFromDidntWinList">
			<http:operation location="/removeFromDidntWinList"></http:operation>
			<wsdl:input>
				<mime:content part="parameters"
					type="application/x-www-form-urlencoded" />
			</wsdl:input>
			<wsdl:output>
				<mime:content part="parameters" type="text/xml" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="removeFromWonList">
			<http:operation location="/removeFromWonList"></http:operation>
			<wsdl:input>
				<mime:content part="parameters"
					type="application/x-www-form-urlencoded" />
			</wsdl:input>
			<wsdl:output>
				<mime:content part="parameters" type="text/xml" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="MyEbayApplicationService">
		<wsdl:documentation>
			<Version>1.0.0</Version>
			This service exposes some of the My eBay application
			features (remove items from didn't win list and won list)
			into a SOA service.
		</wsdl:documentation>
		<wsdl:port name="MyEbayApplicationServiceSOAPPort"
			binding="tns:MyEbayApplicationServiceSOAPBinding">
			<soap12:address
				location="https://svcs.ebay.com/services/mobile/MyEbayApplicationService/v1" />
			<soap:address
				location="https://svcs.ebay.com/services/mobile/MyEbayApplicationService/v1" />
		</wsdl:port>
		<wsdl:port name="MyEbayApplicationServiceHttpPort"
			binding="tns:MyEbayApplicationServiceHttpBinding">
			<http:address
				location="https://svcs.ebay.com/services/mobile/MyEbayApplicationService/v1" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
