codegen/codegen-tools/src/test/resources/org/ebayopensource/turmeric/test/tools/codegen/data/proto/NotificationsService_for_tags.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:ns0="http://www.ebayopensource.org/tumeric/notification/v1/services" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.ebayopensource.org/tumeric/notification/v1/services">
  <wsdl:types>
    <xs:schema xmlns:tns="http://www.ebayopensource.org/tumeric/notification/v1/services" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.ebayopensource.org/tumeric/notification/v1/services">

<xs:element name="sendNotificationsRequest" type="tns:SendNotificationsRequest"/>
<xs:element name="sendNotificationsResponse" type="tns:SendNotificationsResponse"/>
<xs:element name="getVersionRequest" type="tns:GetVersionRequest"/>
<xs:element name="getVersionResponse" type="tns:GetVersionResponse"/>
<xs:element name="getSupportedEventTypesRequest" type="tns:GetSupportedEventTypesRequest"/>
<xs:element name="getSupportedEventTypesResponse" type="tns:GetSupportedEventTypesResponse"/>
<!-- Type definitions -->   
    <xs:complexType name="GetSupportedEventTypesRequest">
	<xs:annotation>
		<xs:documentation>Return a list of event types supported by the
			service</xs:documentation>
		<xs:appinfo/>
	</xs:annotation>
	<xs:complexContent>
		<xs:extension base="tns:BaseRequest">
			<xs:sequence>
			</xs:sequence>
		</xs:extension>
	</xs:complexContent>
</xs:complexType>


    <xs:complexType name="GetVersionRequest">
	<xs:complexContent>
		<xs:extension base="tns:BaseRequest"/>
	</xs:complexContent>
</xs:complexType>
    <xs:complexType name="SendNotificationsRequest">
	<xs:annotation>
		<xs:documentation>Send platform notifications to a recipient.
			The
			recipient should enable their interest by calling
			SetNotificationPreferences API</xs:documentation>
		<xs:appinfo/>
	</xs:annotation>
	<xs:complexContent>
		<xs:extension base="tns:BaseRequest">
			<xs:sequence>
				<xs:element maxOccurs="unbounded" minOccurs="1" name="eventDetail" type="ns0:EventDetail">
					<xs:annotation>
						<xs:documentation>
							The event detail such as intended recipient,
							payload
						</xs:documentation>
						<xs:appinfo>
							<CallInfo>
								<CallName/>
								<RequiredInput>Yes</RequiredInput>
							</CallInfo>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:extension>
	</xs:complexContent>
</xs:complexType>


    <xs:complexType name="GetSupportedEventTypesResponse">
	<xs:annotation>
		<xs:documentation>
			The response type of GetSupportedEventTypes
			operation.
		</xs:documentation>
		<xs:appinfo/>
	</xs:annotation>
	<xs:complexContent>
		<xs:extension base="tns:BaseResponse">
			<xs:sequence>
				<xs:element maxOccurs="unbounded" name="eventType" type="xs:string">
					<xs:annotation>
						<xs:documentation>Event type</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:extension>
	</xs:complexContent>
</xs:complexType>

    <xs:complexType name="GetVersionResponse">
	<xs:complexContent>
		<xs:extension base="tns:BaseResponse"/>
	</xs:complexContent>
</xs:complexType>

    <xs:complexType name="SendNotificationsResponse">
	<xs:annotation>
		<xs:documentation>
			The response of SendNotifications operation.
		</xs:documentation>
		<xs:appinfo/>
	</xs:annotation>
	<xs:complexContent>
		<xs:extension base="tns:BaseResponse">
			<xs:sequence>
			</xs:sequence>
		</xs:extension>
	</xs:complexContent>
</xs:complexType>

    <xs:complexType name="ContextDataType">
	<xs:annotation>
		<xs:documentation>A list of event properties. Each list has a unique
			name</xs:documentation>
	</xs:annotation>
	<xs:sequence>
		<xs:element maxOccurs="unbounded" minOccurs="0" name="property" type="ns0:PropertyType">
			<xs:annotation>
				<xs:documentation>Key-value pair</xs:documentation>
			</xs:annotation>
		</xs:element>
	</xs:sequence>
	<xs:attribute name="propertyGroup" type="xs:string"/>
</xs:complexType>

    <xs:complexType name="EventDetail">
	<xs:annotation>
		<xs:documentation>Details of event such as context user and
			payload</xs:documentation>
	</xs:annotation>
	<xs:sequence>
		<xs:element minOccurs="1" name="eventType" type="xs:string">
			<xs:annotation>
				<xs:documentation>
					The type of the event to send
						</xs:documentation>
				<xs:appinfo>
					<CallInfo>
						<CallName/>
						<RequiredInput>Yes</RequiredInput>
					</CallInfo>
				</xs:appinfo>
			</xs:annotation>
		</xs:element>
		<xs:element minOccurs="1" name="domain" type="xs:string">
			<xs:annotation>
				<xs:documentation>
					The domain to which the event belong to. For
					platform notifications, set it to platform.
						</xs:documentation>
				<xs:appinfo>
					<CallInfo>
						<CallName/>
						<RequiredInput>Yes</RequiredInput>
					</CallInfo>
				</xs:appinfo>
			</xs:annotation>
		</xs:element>
		<xs:element minOccurs="1" name="contextUser" type="xs:string">
			<xs:annotation>
				<xs:documentation>User for which this event is being generated.
					This can be the recipient</xs:documentation>
			</xs:annotation>
		</xs:element>
		<xs:element minOccurs="0" name="contextItemId" type="xs:string">
			<xs:annotation>
				<xs:documentation>The eBay item ID related to this event. Not all
					events are generated in the context of an item and hence this is
					optional</xs:documentation>
			</xs:annotation>
		</xs:element>
		<xs:element minOccurs="0" name="businessEventId" type="xs:string">
			<xs:annotation>
				<xs:documentation>The client can pass in this ID for correlation
					and trouble shooting</xs:documentation>
			</xs:annotation>
		</xs:element>
		<xs:element minOccurs="0" name="payload" type="xs:string">
			<xs:annotation>
				<xs:documentation>The event payload</xs:documentation>
			</xs:annotation>
		</xs:element>
		<xs:element maxOccurs="unbounded" minOccurs="0" name="contextData" type="ns0:ContextDataType">
			<xs:annotation>
				<xs:documentation>Data pertaining to event as name-value pair array</xs:documentation>
			</xs:annotation>
		</xs:element>
	</xs:sequence>
</xs:complexType>

    <xs:complexType name="PropertyType">
	<xs:annotation>
		<xs:documentation>Event Property, as key value pair</xs:documentation>
	</xs:annotation>
	<xs:simpleContent>
		<xs:extension base="xs:string">
			<xs:attribute name="name" type="xs:string"/>
		</xs:extension>
	</xs:simpleContent>
</xs:complexType>


<xs:complexType name="ExtensionType">
	<xs:annotation>
		<xs:documentation>Documentation goes here</xs:documentation>
		<xs:appinfo/>
	</xs:annotation>
	<xs:sequence>
		<xs:element name="id" type="xs:positiveInteger"/>
		<xs:element name="version" type="xs:string"/>
		<xs:element name="contentType" type="xs:string"/>
		<xs:element name="value" type="xs:string"/>

			processContents="lax" /&gt;
	</xs:sequence>
</xs:complexType>

<xs:complexType abstract="true" name="BaseRequest">
	<xs:annotation>
		<xs:documentation>
			This is the base class for request container for all
			service operations.
		</xs:documentation>
	</xs:annotation>
	<xs:sequence>
		<xs:element maxOccurs="unbounded" minOccurs="0" name="extension" type="tns:ExtensionType"/>
	</xs:sequence>
</xs:complexType>

<xs:complexType abstract="true" name="BaseResponse">
	<xs:annotation>
		<xs:documentation>
			Base response container for all service operations.
			Contains error information associated with the request.
		</xs:documentation>
	</xs:annotation>

	<xs:sequence>
		<xs:element name="ack" type="tns:AckValue">
			<xs:annotation>
				<xs:documentation>

				</xs:documentation>
				<xs:appinfo>
					<CallInfo>
						<AllCalls/>
						<Returned>Always</Returned>

					</CallInfo>
				</xs:appinfo>
			</xs:annotation>
		</xs:element>
		<xs:element minOccurs="0" name="errorMessage" type="tns:ErrorMessage">
			<xs:annotation>
				<xs:documentation>
					Information for an error or warning that
					occurred when eBay processed the request.
				</xs:documentation>

				<xs:appinfo>
					<CallInfo>
						<AllCalls/>
						<Returned>Conditionally</Returned>
					</CallInfo>
				</xs:appinfo>
			</xs:annotation>
		</xs:element>

		<xs:element minOccurs="0" name="version" type="xs:string">
			<xs:annotation>
				<xs:documentation/>
				<xs:appinfo>
					<CallInfo>
						<AllCalls/>
						<Returned>Always</Returned>

					</CallInfo>
				</xs:appinfo>
			</xs:annotation>

		</xs:element>
		<xs:element minOccurs="0" name="timestamp" type="xs:dateTime">
			<xs:annotation>
				<xs:documentation/>

				<xs:appinfo>
					<CallInfo>
						<AllCalls/>
						<Returned>Always</Returned>
					</CallInfo>
				</xs:appinfo>
			</xs:annotation>
		</xs:element>
		<xs:element maxOccurs="unbounded" minOccurs="0" name="extension" type="tns:ExtensionType"/>
	</xs:sequence>
</xs:complexType>

<xs:simpleType name="AckValue">
	<xs:annotation>
		<xs:documentation>
			Indicates whether the error is a severe error (causing the request to fail)
			or an informational error (a warning) that should be communicated to the
			user.
		</xs:documentation>
	</xs:annotation>
	<xs:restriction base="xs:string">
		<xs:enumeration value="Success">
			<xs:annotation>
				<xs:documentation>
					The request was processed successfully, but something occurred that may
					affect your application or the user.				
				</xs:documentation>
			</xs:annotation>
		</xs:enumeration>
		<xs:enumeration value="Failure">
			<xs:annotation>
				<xs:documentation>
					The request that triggered the error was not processed successfully.
					When a serious application-level error occurs, the error is returned
					instead of the business data.
				</xs:documentation>
			</xs:annotation>
		</xs:enumeration>
		<xs:enumeration value="Warning">
			<xs:annotation>
				<xs:documentation>
					The request that triggered the error was processed successfully but with some warnings.
				</xs:documentation>
			</xs:annotation>
		</xs:enumeration>
		<xs:enumeration value="PartialFailure">
			<xs:annotation>
				<xs:documentation>
					The request that triggered the error was processed successfully but with some warnings.				
				</xs:documentation>
			</xs:annotation>
		</xs:enumeration>
	</xs:restriction>
</xs:simpleType>

<xs:complexType name="ErrorMessage">
	<xs:annotation>
		<xs:documentation>
			ErrorMessage to indicate any Error/Warning occured as part of service call.
			Any run time error will not be reported here, but will be reported aspart of
			soap fault.
		</xs:documentation>
	</xs:annotation>
	<xs:sequence>
		<xs:element maxOccurs="unbounded" minOccurs="0" name="error" type="tns:ErrorData">
			<xs:annotation>
				<xs:documentation>
					Details about a single error.
				</xs:documentation>
				<xs:appinfo>
						<CallInfo>
						<AllCalls/>
						<Returned>Conditionally</Returned>
					</CallInfo>
				</xs:appinfo>
			</xs:annotation>
		</xs:element>
	</xs:sequence>
</xs:complexType>

<xs:complexType name="ErrorData">

	<xs:annotation>
		<xs:documentation>
			This represents error details.
		</xs:documentation>
	</xs:annotation>
	<xs:sequence>
		<xs:element name="errorId" type="xs:long">
			<xs:annotation>
				<xs:documentation>
					A unique code that identifies the particular error condition that occurred.
					Your application can use error codes as identifiers in your customized
					error-handling algorithms.
				</xs:documentation>
				<xs:appinfo>
					<CallInfo>
						<AllCalls/>
						<Returned>Conditionally</Returned>
					</CallInfo>
				</xs:appinfo>
			</xs:annotation>

		</xs:element>
		<xs:element name="domain" type="xs:string">
			<xs:annotation>
				<xs:documentation>
					Name of the domain upon which the error occurred. 
					&lt;dl&gt;
					&lt;lh&gt;Domains include:&lt;/lh&gt;

					&lt;dt&gt;
						Marketplace
					&lt;/dt&gt;
					&lt;dd&gt;
						A business or validation error occurred for the Merchandising Service.
					&lt;/dd&gt;
					&lt;dt&gt;

						SOA
					&lt;/dt&gt;
					&lt;dd&gt;
						An exception occurred in the Service Oriented Architecture (SOA) framework.
					&lt;/dd&gt;
					&lt;/dl&gt;
				</xs:documentation>
				<xs:appinfo>

					<CallInfo>
						<AllCalls/>
						<Returned>Conditionally</Returned>
					</CallInfo>
				</xs:appinfo>
			</xs:annotation>
		</xs:element>
		<xs:element name="severity" type="tns:ErrorSeverity">

			<xs:annotation>
				<xs:documentation>
					Indicates whether the error caused the request to fail (Error) or not
					(Warning).
					&lt;br&gt;&lt;br&gt;
					If the request fails and the source of the problem is within the application
					(such as a missing required element), please change the application before you
					retry the request. If the problem is due to end-user input data, please alert
					the end-user to the problem and provide the means for them to correct the data.
					Once the problem in the application or data is resolved, you can attempt to re-
					send the request to eBay.
					&lt;br&gt;&lt;br&gt;
					If the source of the problem is on eBay's side, you can retry the request as-is
					a reasonable number of times (eBay recommends twice). If the error persists,
					contact Developer Technical Support. Once the problem has been resolved, the
					request may be resent in its original form.
					&lt;br&gt;&lt;br&gt;

					When a warning occurs, the error is returned in addition to the business data.
					In this case, you do not need to retry the request (as the original request was
					successful). However, depending on the cause or nature of the warning, you
					might need to contact either the end user or eBay to effect a long term
					solution to the problem to prevent it from reoccurring in the future.
				</xs:documentation>
				<xs:appinfo>
					<CallInfo>
						<AllCalls/>
						<Returned>Conditionally</Returned>
					</CallInfo>
				</xs:appinfo>
			</xs:annotation>

		</xs:element>
		<xs:element name="category" type="tns:ErrorCategory">
			<xs:annotation>
				<xs:documentation>
					There are three categories of errors: request errors, application errors, and
					system errors.
				</xs:documentation>
				<xs:appinfo>
					<CallInfo>
						<AllCalls/>
						<Returned>Conditionally</Returned>
					</CallInfo>
				</xs:appinfo>
			</xs:annotation>
		</xs:element>
		<xs:element name="message" type="xs:string">
			<xs:annotation>
				<xs:documentation>
					A detailed description of the condition that resulted in the error.
				</xs:documentation>
				<xs:appinfo>
					<CallInfo>
						<AllCalls/>
						<Returned>Conditionally</Returned>
					</CallInfo>
				</xs:appinfo>
			</xs:annotation>

		</xs:element>
		<xs:element minOccurs="0" name="subdomain" type="xs:string">
			<xs:annotation>
				<xs:documentation>
					Name of the subdomain upon which the error occurred. 
					&lt;dl&gt;
					&lt;lh&gt;Subdomains include:&lt;/lh&gt;

					&lt;dt&gt;
						Merchandising
					&lt;/dt&gt;
					&lt;dd&gt;
						The error is specific to the Merchandising service.
					&lt;/dd&gt;
					&lt;dt&gt;

						MarketplaceCommon
					&lt;/dt&gt;
					&lt;dd&gt;
						The error is common to all Marketplace services.
					&lt;/dd&gt;
					&lt;/dl&gt;
				</xs:documentation>
				<xs:appinfo>

					<CallInfo>
						<AllCalls/>
						<Returned>Conditionally</Returned>
					</CallInfo>
				</xs:appinfo>
			</xs:annotation>
		</xs:element>
		<xs:element minOccurs="0" name="exceptionId" type="xs:token">

			<xs:annotation>
				<xs:documentation>
					Unique identifier for an exception associated with an error.
				</xs:documentation>
				<xs:appinfo>
					<CallInfo>
						<AllCalls/>
						<Returned>Conditionally</Returned>
					</CallInfo>

				</xs:appinfo>
			</xs:annotation>
		</xs:element>
		<xs:element maxOccurs="unbounded" minOccurs="0" name="parameter" type="tns:ErrorParameter">
			<xs:annotation>
				<xs:documentation>
					Some warning and error messages return one or more variables that contain
					contextual information about the error. This is often the field or value that
					triggered the error.
				</xs:documentation>
				<xs:appinfo>

					<CallInfo>
						<AllCalls/>
						<Returned>Conditionally</Returned>
					</CallInfo>
				</xs:appinfo>
			</xs:annotation>
		</xs:element>
	</xs:sequence>

</xs:complexType>

<xs:complexType name="ErrorParameter">
	<xs:annotation>
		<xs:documentation>
			Contextual information associated with an error.
		</xs:documentation>
	</xs:annotation>
	<xs:simpleContent>
		<xs:extension base="xs:string">

			<xs:attribute name="name" type="xs:string">
				<xs:annotation>
					<xs:documentation>
						The name of the parameter in the list of parameter types returned
						within the error type.
					</xs:documentation>
						<xs:appinfo>
							<CallInfo>
								<AllCalls/>
								<Returned>Conditionally</Returned>

							</CallInfo>
						</xs:appinfo>
				</xs:annotation>
			</xs:attribute>
		</xs:extension>
	</xs:simpleContent>
</xs:complexType>

<xs:simpleType name="ErrorSeverity">
	<xs:annotation>

		<xs:documentation>
			Indicates whether the error is a severe error (causing the request to fail)
			or an informational error (a warning) that should be communicated to the
			user.
		</xs:documentation>
	</xs:annotation>
	<xs:restriction base="xs:string">
		<xs:enumeration value="Error">
			<xs:annotation>
				<xs:documentation>
					The request that triggered the error was not processed successfully.
					When a serious application-level error occurs, the error is returned
					instead of the business data.
				</xs:documentation>

			</xs:annotation>
		</xs:enumeration>
		<xs:enumeration value="Warning">
			<xs:annotation>
				<xs:documentation>
					The request was processed successfully, but something occurred that may
					affect your application or the user. For example, eBay may have changed a
					value the user sent in. In this case, eBay returns a normal, successful
					response and also returns the warning.
				</xs:documentation>
			</xs:annotation>
		</xs:enumeration>

	</xs:restriction>
</xs:simpleType>

<xs:simpleType name="ErrorCategory">
	<xs:annotation>
		<xs:documentation>
			There are three categories of error: request errors, application errors,
			and system errors. Request and application errors are caused primarily by
			invalid data passed in the request. System errors are caused primarily by
			application failures and cannot be corrected by changing request values.
		</xs:documentation>
	</xs:annotation>
	<xs:restriction base="xs:string">

		<xs:enumeration value="System">
			<xs:annotation>
				<xs:documentation>
					Indicates that an error has occurred on the eBay system side, such as a
					database or server down. An application can retry the request as-is a
					reasonable number of times (eBay recommends twice). If the error
					persists, contact Developer Technical Support. Once the problem has been
					resolved, the request may be resent in its original form.
				</xs:documentation>
			</xs:annotation>
		</xs:enumeration>
		<xs:enumeration value="Application">
			<xs:annotation>

				<xs:documentation>
					An error occurred due to a problem with the request, such as missing or
					invalid fields. The problem must be corrected before the request can be
					made again. If the problem is due to something in the application (such
					as a missing required field), the application must be changed. Once the
					problem in the application or data is resolved, resend the corrected
					request to eBay.
				</xs:documentation>
			</xs:annotation>
		</xs:enumeration>
		<xs:enumeration value="Request">
			<xs:annotation>
				<xs:documentation>
					An error occurred due to a problem with the request, such as invalid or
					missing data. The problem must be corrected before the request can be
					made again. If the problem is a result of end-user data, the application
					must alert the end-user to the problem and provide the means for the
					end-user to correct the data. Once the problem in the data is resolved,
					resend the request to eBay with the corrected data.
				</xs:documentation>

			</xs:annotation>
		</xs:enumeration>
	</xs:restriction>
</xs:simpleType>
</xs:schema>
</wsdl:types>

  <wsdl:message name="sendNotificationsRequest">
    <wsdl:part element="ns0:sendNotificationsRequest" name="params">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="sendNotificationsResponse">
    <wsdl:part element="ns0:sendNotificationsResponse" name="params">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getVersionRequest">
    <wsdl:part element="ns0:getVersionRequest" name="params">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getVersionResponse">
    <wsdl:part element="ns0:getVersionResponse" name="params">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getSupportedEventTypesRequest">
    <wsdl:part element="ns0:getSupportedEventTypesRequest" name="params">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getSupportedEventTypesResponse">
    <wsdl:part element="ns0:getSupportedEventTypesResponse" name="params">
    </wsdl:part>
  </wsdl:message>
  
  <wsdl:portType name="NotificationsServicePort">
    <wsdl:operation name="sendNotifications">
	<wsdl:documentation>
		Send notifications to recipients
	</wsdl:documentation>
      <wsdl:input message="ns0:sendNotificationsRequest">
    </wsdl:input>
      <wsdl:output message="ns0:sendNotificationsResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getVersion">
	<wsdl:documentation>
		Retrieve the version of the service
	</wsdl:documentation>
      <wsdl:input message="ns0:getVersionRequest">
    </wsdl:input>
      <wsdl:output message="ns0:getVersionResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSupportedEventTypes">
	<wsdl:documentation>
		Return the notification types known in the system
	</wsdl:documentation>
      <wsdl:input message="ns0:getSupportedEventTypesRequest">
    </wsdl:input>
      <wsdl:output message="ns0:getSupportedEventTypesResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>

  <wsdl:binding name="NotificationsServiceHttpBinding" type="ns0:NotificationsServicePort">
    <http:binding verb="POST"/>
    <wsdl:operation name="sendNotifications">
      <http:operation location="NotificationsService/sendNotifications"/>
      <wsdl:input>
        <mime:content part="sendNotifications" type="text/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="sendNotifications" type="text/xml"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getVersion">
      <http:operation location="NotificationsService/getVersion"/>
      <wsdl:input>
        <mime:content part="getVersion" type="text/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="getVersion" type="text/xml"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSupportedEventTypes">
      <http:operation location="NotificationsService/getSupportedEventTypes"/>
      <wsdl:input>
        <mime:content part="getSupportedEventTypes" type="text/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="getSupportedEventTypes" type="text/xml"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NotificationsServiceSOAPBinding" type="ns0:NotificationsServicePort">
    <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="sendNotifications">
      <soap12:operation soapAction="urn:sendNotifications" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getVersion">
      <soap12:operation soapAction="urn:getVersion" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getSupportedEventTypes">
      <soap12:operation soapAction="urn:getSupportedEventTypes" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="NotificationsService">
	<wsdl:documentation>
		<Version>1.0.0</Version> 
	</wsdl:documentation>
    <wsdl:port binding="ns0:NotificationsServiceHttpBinding" name="NotificationsServiceHttpPort">
      <http:address location="http://svcs.ebay.com/services/notification/NotificationsService/v1"/>
    </wsdl:port>
    <wsdl:port binding="ns0:NotificationsServiceSOAPBinding" name="NotificationsServiceSOAPPort">
      <soap12:address location="http://svcs.ebay.com/services/notification/NotificationsService/v1"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>