codegen/codegen-tools/src/test/resources/org/ebayopensource/turmeric/test/tools/codegen/data/proto/OpeneBayApplicationIntegrationService_for_tags.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:ns0="http://www.ebayopensource.org/tumeric/services" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.ebayopensource.org/tumeric/services">

	<wsdl:types>
		<xs:schema xmlns:Q1="http://www.ebayopensource.org/tumeric/services" xmlns:Q2="http://www.ebayopensource.org/tumeric/services" xmlns:tns="http://www.ebayopensource.org/tumeric/services" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.ebayopensource.org/tumeric/services">


<xs:element name="getSessionRequest" type="tns:OpeneBayGetSessionRequestType"/>
<xs:element name="getSessionResponse" type="tns:OpeneBayGetSessionResponseType"/>
<xs:element name="setApplicationOperationStateRequest" type="tns:OpeneBaySetApplicationOperationStateRequestType"/>
<xs:element name="setApplicationOperationStateResponse" type="tns:OpeneBaySetApplicationOperationStateResponseType"/>


<!-- Common types start -->
<xs:complexType name="OpeneBayPrincipalIdentifierType">
	<xs:annotation>
		<xs:documentation>
			[???]
		</xs:documentation>
	</xs:annotation>
	<xs:attribute name="appId" type="xs:string">
		<xs:annotation>
			<xs:documentation>
				Fully-qualified name of an application.
				This value must be structured as
				ApplicationName.PlatformName.TopDomain (e.g., MyApp.MyCompany.com).
				Also used in the deployment descriptor.
			</xs:documentation>
			<xs:appinfo>
				<MaxLength>128</MaxLength>
				<CallInfo>
					<CallName>login</CallName>
					<CallName>authenticate</CallName>
					<RequiredInput>Yes</RequiredInput>
				</CallInfo>
			</xs:appinfo>
		</xs:annotation>
	</xs:attribute>
</xs:complexType>


<xs:simpleType name="OpeneBayEventType">
	<xs:annotation>
		<xs:documentation>
			Container to distinguish alerts from notifications. Not currently required.
		</xs:documentation>
	</xs:annotation>
	<xs:restriction base="xs:string">
		<xs:enumeration value="Event">
			<xs:annotation>
				<xs:documentation>
					Container to distinguish alerts from notifications. Not currently required.
				</xs:documentation>
			</xs:annotation>
		</xs:enumeration>
		<xs:enumeration value="Alert">
			<xs:annotation>
				<xs:documentation>
					Currently not required.
				</xs:documentation>
			</xs:annotation>
		</xs:enumeration>
		<xs:enumeration value="Notification">
			<xs:annotation>
				<xs:documentation>
					Currently not required.
				</xs:documentation>
			</xs:annotation>
		</xs:enumeration>
	</xs:restriction>
</xs:simpleType>


<xs:complexType name="OpeneBayAcceptType">
	<xs:annotation>
		<xs:documentation>
			Not used in Open eBay Application Integration Service.
		</xs:documentation>
	</xs:annotation>
	<xs:attribute default="Value" name="by" type="tns:OpeneBayTokenType" use="optional">
		<xs:annotation>
			<xs:documentation>
				Not used in Open eBay Application Integration Service.
			</xs:documentation>
		</xs:annotation>
	</xs:attribute>
</xs:complexType>


<xs:simpleType name="OpeneBayApplicationOperationalStateType">
	<xs:annotation>
		<xs:documentation>
			Defines possible application states.
		</xs:documentation>
	</xs:annotation>
	<xs:restriction base="xs:string">
		<xs:enumeration value="MarkedUp">
			<xs:annotation>
				<xs:documentation>
					Denotes that the application is online and available.
				</xs:documentation>
				<xs:appinfo>
					<CallInfo>
						<CallName>setApplicationOperationState</CallName>
						<RequiredInput>Yes</RequiredInput>
					</CallInfo>
				</xs:appinfo>
			</xs:annotation>
		</xs:enumeration>
		<xs:enumeration value="MarkedDown">
			<xs:annotation>
				<xs:documentation>
					Denotes that the application has been taken offline, possibly for maintenance.
				</xs:documentation>
				<xs:appinfo>
					<CallInfo>
						<CallName>setApplicationOperationState</CallName>
						<RequiredInput>Yes</RequiredInput>
					</CallInfo>
				</xs:appinfo>
			</xs:annotation>
		</xs:enumeration>
	</xs:restriction>
</xs:simpleType>


<xs:complexType name="OpeneBayLoginCredentialsType">
	<xs:annotation>
		<xs:documentation>
			[???]
		</xs:documentation>
	</xs:annotation>
	<xs:complexContent>
		<xs:extension base="tns:OpeneBayPrincipalIdentifierType">
			<xs:sequence>
				<xs:element name="certId" type="xs:string">
					<xs:annotation>
						<xs:documentation>
							The Certification ID of the application. This value formerly was referred
							to as the Open eBay application "secret." Used to log in to EIDP.
						</xs:documentation>
						<xs:appinfo>
							<MaxLength>128</MaxLength>
							<CallInfo>
								<CallName>login</CallName>
								<RequiredInput>Yes</RequiredInput>
							</CallInfo>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:extension>
	</xs:complexContent>
</xs:complexType>


<xs:simpleType name="OpeneBayTokenType">
	<xs:annotation>
		<xs:documentation>
			Base type for tokens.
		</xs:documentation>
	</xs:annotation>
	<xs:restriction base="xs:token">
		<xs:enumeration value="Reference">
			<xs:annotation>
				<xs:documentation>
					The token is passed by reference.
				</xs:documentation>
			</xs:annotation>
		</xs:enumeration>
		<xs:enumeration value="Value">
			<xs:annotation>
				<xs:documentation>
					The token is passed by value.
				</xs:documentation>
			</xs:annotation>
		</xs:enumeration>
	</xs:restriction>
</xs:simpleType>


<xs:complexType name="OpeneBaySecurityTokenReferenceType">
	<xs:annotation>
		<xs:documentation>
			Reserved for future use.
		</xs:documentation>
	</xs:annotation>
	<xs:complexContent>
		<xs:extension base="tns:OpeneBayBaseSecurityTokenType">
			<xs:attribute name="tokenref" type="xs:string">
				<xs:annotation>
					<xs:documentation>
						Reserved for future use.
					</xs:documentation>
				</xs:annotation>
			</xs:attribute>
		</xs:extension>
	</xs:complexContent>
</xs:complexType>


<xs:complexType name="OpeneBaySecurityTokenType">
	<xs:annotation>
		<xs:documentation>
			[???]
		</xs:documentation>
	</xs:annotation>
	<xs:complexContent>
		<xs:extension base="tns:OpeneBayBaseSecurityTokenType">
			<xs:sequence>
				<xs:element name="tokenValue" type="xs:string">
					<xs:annotation>
						<xs:documentation>
							The application's EIDP token, received in response to the Login request
							and used by Open eBay to authenticate calls from the application to Open eBay.
						</xs:documentation>
						<xs:appinfo>
							<MaxLength>2000</MaxLength>
							<CallInfo>
								<CallName>getSession</CallName>
								<Returned>Always</Returned>
							</CallInfo>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
				<xs:element name="signature" type="xs:string">
					<xs:annotation>
						<xs:documentation>
							Reserved for future use.
						</xs:documentation>
						<xs:appinfo>
							<CallInfo>
								<CallName>getSession</CallName>
								<Returned>Always</Returned>
							</CallInfo>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:extension>
	</xs:complexContent>
</xs:complexType>


<xs:complexType name="OpeneBayBaseSecurityTokenType">
	<xs:annotation>
		<xs:documentation>
			[???]
		</xs:documentation>
	</xs:annotation>
	<xs:attribute name="type" type="tns:OpeneBayTokenType">
		<xs:annotation>
			<xs:documentation>
				The eBay user auth token.
			</xs:documentation>
			<xs:appinfo>
				<MaxLength>1000</MaxLength>
				<CallInfo>
					<CallName>getSession</CallName>
					<Returned>Always</Returned>
				</CallInfo>
			</xs:appinfo>
		</xs:annotation>
	</xs:attribute>
	<xs:attribute name="issuingAuthority" type="xs:string" use="required">
		<xs:annotation>
			<xs:documentation>
				Issuing authority is eBay.
			</xs:documentation>
			<xs:appinfo>
				<MaxLength>128</MaxLength>
				<CallInfo>
					<CallName>getSession</CallName>
					<Returned>Always</Returned>
				</CallInfo>
			</xs:appinfo>
		</xs:annotation>
	</xs:attribute>
	<xs:attribute name="expirationDate" type="xs:dateTime" use="required">
		<xs:annotation>
			<xs:documentation>
				The time and date that the token expires (typically, 24 hours after
				it is issued).
			</xs:documentation>
			<xs:appinfo>
				<CallInfo>
					<CallName>getSession</CallName>
					<Returned>Always</Returned>
				</CallInfo>
			</xs:appinfo>
		</xs:annotation>
	</xs:attribute>
</xs:complexType>


<!-- Base request types -->
<xs:complexType abstract="true" name="BaseServiceRequest">
	<xs:annotation>
		<xs:documentation>
			[???]
		</xs:documentation>
	</xs:annotation>
	<xs:sequence>

	</xs:sequence>
</xs:complexType>


<!-- Base response types -->
<xs:complexType abstract="true" name="BaseServiceResponse">
	<xs:annotation>
		<xs:documentation>
			Base response container for all service operations. Contains error information
			associated with the request.
		</xs:documentation>
	</xs:annotation>
	<xs:sequence>
		<xs:element name="ack" type="tns:AckValue">
			<xs:annotation>
				<xs:documentation>
					Indicates whether there are any errors or warnings associated with the
					processing of the request.
				</xs:documentation>
				<xs:appinfo>
					<CallInfo>
						<AllCalls/>
						<Returned>Always</Returned>
					</CallInfo>
				</xs:appinfo>
			</xs:annotation>
		</xs:element>
		<xs:element minOccurs="0" name="errorMessage" type="tns:ErrorMessage">
			<xs:annotation>
				<xs:documentation>
					Information for an error or warning that occurred when eBay processed the
					request.
				</xs:documentation>
				<xs:appinfo>
					<CallInfo>
						<AllCalls/>
						<Returned>Conditionally</Returned>
					</CallInfo>
				</xs:appinfo>
			</xs:annotation>
		</xs:element>
		<xs:element name="version" type="xs:string">
			<xs:annotation>
				<xs:documentation>
					Open eBay version.
				</xs:documentation>
				<xs:appinfo>
					<CallInfo>
						<AllCalls/>
						<Returned>Always</Returned>
					</CallInfo>
				</xs:appinfo>
			</xs:annotation>
		</xs:element>
		<xs:element name="timestamp" type="xs:dateTime">
			<xs:annotation>
				<xs:documentation>
					The date and time when eBay processed the request. The time zone of this value
					is GMT and the format is the ISO 8601 date and time format (YYYY-MM-
					DDTHH:MM:SS.SSSZ). See Time Values in the eBay Web Services guide for
					information about this time format and converting to and from the GMT time zone.
				</xs:documentation>
				<xs:appinfo>
					<CallInfo>
						<AllCalls/>
						<Returned>Always</Returned>
					</CallInfo>
				</xs:appinfo>
			</xs:annotation>
		</xs:element>
	</xs:sequence>
</xs:complexType>


<xs:simpleType name="AckValue">
	<xs:annotation>
		<xs:documentation>
			Indicates whether the error is a severe error (causing the request to fail)
			or an informational error (a warning) that should be communicated to the
			user.
		</xs:documentation>
	</xs:annotation>
	<xs:restriction base="xs:string">
		<xs:enumeration value="Success">
			<xs:annotation>
				<xs:documentation>
					The request was processed successfully, but something occurred that may
					affect your application or the user.
				</xs:documentation>
			</xs:annotation>
		</xs:enumeration>
		<xs:enumeration value="Failure">
			<xs:annotation>
				<xs:documentation>
					The request that triggered the error was not processed successfully.
					When a serious application-level error occurs, the error is returned
					instead of the business data.
				</xs:documentation>
			</xs:annotation>
		</xs:enumeration>
		<xs:enumeration value="Warning">
			<xs:annotation>
				<xs:documentation>
					The request that triggered the error was processed successfully but with some warnings.
				</xs:documentation>
			</xs:annotation>
		</xs:enumeration>
		<xs:enumeration value="PartialFailure">
			<xs:annotation>
				<xs:documentation>
					The request that triggered the error was processed successfully but with some warnings.
				</xs:documentation>
			</xs:annotation>
		</xs:enumeration>
	</xs:restriction>
</xs:simpleType>


<xs:complexType name="ErrorMessage">
	<xs:annotation>
		<xs:documentation>
			ErrorMessage to indicate any Error/Warning occured as part of service call.
			Any run time error will not be reported here, but will be reported aspart of
			soap fault.
		</xs:documentation>
	</xs:annotation>
	<xs:sequence>
		<xs:element maxOccurs="unbounded" minOccurs="0" name="error" type="tns:ErrorData">
			<xs:annotation>
				<xs:documentation>
					ActivityProfile about a single error.
				</xs:documentation>
				<xs:appinfo>
					<CallInfo>
						<AllCalls/>
						<Returned>Conditionally</Returned>
					</CallInfo>
				</xs:appinfo>
			</xs:annotation>
		</xs:element>
	</xs:sequence>
</xs:complexType>


<xs:complexType name="ErrorData">
	<xs:annotation>
		<xs:documentation>
			This represents error details.
		</xs:documentation>
	</xs:annotation>
	<xs:sequence>
		<xs:element name="errorId" type="xs:long">
			<xs:annotation>
				<xs:documentation>
						A unique code that identifies the particular error condition that occurred.
						Your application can use error codes as identifiers in your customized
						error-handling algorithms.
				</xs:documentation>
				<xs:appinfo>
					<CallInfo>
						<AllCalls/>
						<Returned>Conditionally</Returned>
					</CallInfo>
				</xs:appinfo>
			</xs:annotation>
		</xs:element>
		<xs:element name="domain" type="xs:string">
			<xs:annotation>
				<xs:documentation>
					Name of the domain upon which the error occurred.
					&lt;dl&gt;
					&lt;lh&gt;Domains include:&lt;/lh&gt;
					&lt;dt&gt;
						Marketplace
					&lt;/dt&gt;
					&lt;dd&gt;
						A business or validation error occurred for the UserProfile Service.
					&lt;/dd&gt;
					&lt;dt&gt;
						SOA
					&lt;/dt&gt;
					&lt;dd&gt;
						An exception occurred in the Service Oriented Architecture (SOA) framework.
					&lt;/dd&gt;
					&lt;/dl&gt;
				</xs:documentation>
				<xs:appinfo>
					<CallInfo>
						<AllCalls/>
						<Returned>Conditionally</Returned>
					</CallInfo>
				</xs:appinfo>
			</xs:annotation>
		</xs:element>
		<xs:element name="severity" type="tns:ErrorSeverity">
			<xs:annotation>
				<xs:documentation>
					Indicates whether the error caused the request to fail (Error) or not
					(Warning).
					&lt;br&gt;&lt;br&gt;
					If the request fails and the source of the problem is within the application
					(such as a missing required element), please change the application before you
					retry the request. If the problem is due to end-user input data, please alert
					the end-user to the problem and provide the means for them to correct the data.
					Once the problem in the application or data is resolved, you can attempt to re-
					send the request to eBay.
					&lt;br&gt;&lt;br&gt;
					If the source of the problem is on eBay's side, you can retry the request as-is
					a reasonable number of times (eBay recommends twice). If the error persists,
					contact Developer Technical Support. Once the problem has been resolved, the
					request may be resent in its original form.
					&lt;br&gt;&lt;br&gt;
					When a warning occurs, the error is returned in addition to the business data.
					In this case, you do not need to retry the request (as the original request was
					successful). However, depending on the cause or nature of the warning, you
					might need to contact either the end user or eBay to effect a long term
					solution to the problem to prevent it from reoccurring in the future.
				</xs:documentation>
				<xs:appinfo>
					<CallInfo>
						<AllCalls/>
						<Returned>Conditionally</Returned>
					</CallInfo>
				</xs:appinfo>
			</xs:annotation>
		</xs:element>
		<xs:element name="category" type="tns:ErrorCategory">
			<xs:annotation>
				<xs:documentation>
					There are three categories of errors: request errors, application errors, and
					system errors.
				</xs:documentation>
				<xs:appinfo>
					<CallInfo>
						<AllCalls/>
						<Returned>Conditionally</Returned>
					</CallInfo>
				</xs:appinfo>
			</xs:annotation>
		</xs:element>
		<xs:element name="message" type="xs:string">
			<xs:annotation>
				<xs:documentation>
					A detailed description of the condition that resulted in the error.
				</xs:documentation>
				<xs:appinfo>
					<CallInfo>
						<AllCalls/>
						<Returned>Conditionally</Returned>
					</CallInfo>
				</xs:appinfo>
			</xs:annotation>
		</xs:element>
		<xs:element minOccurs="0" name="subdomain" type="xs:string">
			<xs:annotation>
				<xs:documentation>
					Name of the subdomain upon which the error occurred. Subdomains include the
					following: UserProfile (in which the error is specific to the UserProfile
					service) and MarketplaceCommon (in which the error is common to all
					Marketplace
					services).
				</xs:documentation>
				<xs:appinfo>
					<CallInfo>
						<AllCalls/>
						<Returned>Conditionally</Returned>
					</CallInfo>
				</xs:appinfo>
			</xs:annotation>
		</xs:element>
		<xs:element minOccurs="0" name="exceptionId" type="xs:token">
			<xs:annotation>
				<xs:documentation>
					Unique identifier for an exception associated with an error.
				</xs:documentation>
				<xs:appinfo>
					<CallInfo>
						<AllCalls/>
						<Returned>Conditionally</Returned>
					</CallInfo>
				</xs:appinfo>
			</xs:annotation>
		</xs:element>
		<xs:element maxOccurs="unbounded" minOccurs="0" name="parameter" type="tns:ErrorParameter">
			<xs:annotation>
				<xs:documentation>
					Some warning and error messages return one or more variables that contain
					contextual information about the error. This is often the field or value that
					triggered the error.
				</xs:documentation>
				<xs:appinfo>
					<CallInfo>
						<AllCalls/>
						<Returned>Conditionally</Returned>
					</CallInfo>
				</xs:appinfo>
			</xs:annotation>
		</xs:element>
	</xs:sequence>
</xs:complexType>


<xs:complexType name="ErrorParameter">
	<xs:annotation>
		<xs:documentation>
			Contextual information associated with an error.
		</xs:documentation>
	</xs:annotation>
	<xs:simpleContent>
		<xs:extension base="xs:string">
			<xs:attribute name="name" type="xs:string">
				<xs:annotation>
					<xs:documentation>
						The name of the parameter in the list of parameter types returned
						within the error type.
					</xs:documentation>
					<xs:appinfo>
						<CallInfo>
							<AllCalls/>
							<Returned>Conditionally</Returned>
						</CallInfo>
					</xs:appinfo>
				</xs:annotation>
			</xs:attribute>
		</xs:extension>
	</xs:simpleContent>
</xs:complexType>


<xs:simpleType name="ErrorSeverity">
	<xs:annotation>
		<xs:documentation>
			Indicates whether the error is a severe error (causing the request to fail)
			or an informational error (a warning) that should be communicated to the
			user.
		</xs:documentation>
	</xs:annotation>
	<xs:restriction base="xs:string">
		<xs:enumeration value="Error">
			<xs:annotation>
				<xs:documentation>
					The request that triggered the error was not processed successfully.
					When a serious application-level error occurs, the error is returned
					instead of the business data.
				</xs:documentation>
			</xs:annotation>
		</xs:enumeration>
		<xs:enumeration value="Warning">
			<xs:annotation>
				<xs:documentation>
					The request was processed successfully, but something occurred that may
					affect your application or the user. For example, eBay may have changed a
					value the user sent in. In this case, eBay returns a normal, successful
					response and also returns the warning.
				</xs:documentation>
			</xs:annotation>
		</xs:enumeration>
	</xs:restriction>
</xs:simpleType>


<xs:simpleType name="ErrorCategory">
	<xs:annotation>
		<xs:documentation>
			There are three categories of error: request errors, application errors,
			and system errors. Request and application errors are caused primarily by
			invalid data passed in the request. System errors are caused primarily by
			application failures and cannot be corrected by changing request values.
		</xs:documentation>
	</xs:annotation>
	<xs:restriction base="xs:string">
		<xs:enumeration value="System">
			<xs:annotation>
				<xs:documentation>
					Indicates that an error has occurred on the eBay system side, such as a
					database or server down. An application can retry the request as-is a
					reasonable number of times (eBay recommends twice). If the error
					persists, contact Developer Technical Support. Once the problem has been
					resolved, the request may be resent in its original form.
				</xs:documentation>
			</xs:annotation>
		</xs:enumeration>
		<xs:enumeration value="Application">
			<xs:annotation>
				<xs:documentation>
					An error occurred due to a problem with the request, such as missing or
					invalid fields. The problem must be corrected before the request can be
					made again. If the problem is due to something in the application (such
					as a missing required field), the application must be changed. Once the
					problem in the appilcation or data is resolved, resend the corrected
					request to eBay.
				</xs:documentation>
			</xs:annotation>
		</xs:enumeration>
		<xs:enumeration value="Request">
			<xs:annotation>
				<xs:documentation>
					An error occurred due to a problem with the request, such as invalid or
					missing data. The problem must be corrected before the request can be
					made again. If the problem is a result of end-user data, the application
					must alert the end-user to the problem and provide the means for the
					end-user to correct the data. Once the problem in the data is resolved,
					resend the request to eBay with the corrected data.
				</xs:documentation>
			</xs:annotation>
		</xs:enumeration>
	</xs:restriction>
</xs:simpleType>
<!-- Common types end -->


<xs:complexType name="OpeneBaySubscriberInfoType">
	<xs:annotation>
		<xs:documentation>
			A container for user-related information. Not used in the Open eBay Application
			Integration service.
		</xs:documentation>
	</xs:annotation>
	<xs:sequence>
		<xs:element minOccurs="0" name="userName" type="xs:string">
			<xs:annotation>
				<xs:documentation>
					Login name of an eBay user.
				</xs:documentation>
				<xs:appinfo>
					<MaxLength>64</MaxLength>
					<CallInfo>
						<CallName>getSession</CallName>
						<Returned>Always</Returned>
					</CallInfo>
				</xs:appinfo>
			</xs:annotation>
		</xs:element>
		<xs:element minOccurs="0" name="EIASToken" type="xs:string">
			<xs:annotation>
				<xs:documentation>
					Corresponds to the value of the Item.Seller.EIASToken field in the Trading API.
					A unique identifier for an eBay user. This identifier does not change when
					the eBay user name is changed.
				</xs:documentation>
				<xs:appinfo>
					<MaxLength>128</MaxLength>
					<CallInfo>
						<CallName>getSession</CallName>
						<Returned>Always</Returned>
					</CallInfo>
				</xs:appinfo>
			</xs:annotation>
		</xs:element>
		<xs:element minOccurs="0" name="authToken" type="tns:OpeneBaySecurityTokenType">
			<xs:annotation>
				<xs:documentation>
					eBay user token authorizing the application to act on behalf of the user, with
					expiration date.
				</xs:documentation>
				<xs:appinfo>
					<CallInfo>
						<CallName>getSession</CallName>
						<Returned>Always</Returned>
					</CallInfo>
				</xs:appinfo>
			</xs:annotation>
		</xs:element>
	</xs:sequence>
</xs:complexType>


<xs:complexType name="OpeneBayGetSessionRequestType">
	<xs:annotation>
		<xs:documentation>
			Your application uses this request to verify a Start request sent to your
			application and to retrieve an auth token for a user. The response
			also returns session and user-related information. The Start request contains a
			SessionID. Include this SessionID in a GetSession request to authenticate the
			session. The application identity and token are sent in HTTPS header.
		</xs:documentation>
		<xs:appinfo>
			<Summary>
				Your application uses this call to verify a Start request sent to
				your application.
			</Summary>
		</xs:appinfo>
	</xs:annotation>
	<xs:complexContent>
		<xs:extension base="tns:BaseServiceRequest">
			<xs:sequence>
				<xs:element name="sessionId" type="xs:string">
					<xs:annotation>
						<xs:documentation>
							ID of session to be verified in GetSession request. Obtained from the Start
							request sent to your application by Open eBay. sessionID remains valid for
							ten minutes after Start request is sent. A sessionID is 40 characters in length.
						</xs:documentation>
						<xs:appinfo>
							<CallInfo>
								<CallName>getSession</CallName>
								<RequiredInput>Yes</RequiredInput>
							</CallInfo>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:extension>
	</xs:complexContent>
</xs:complexType>


<xs:complexType name="OpeneBayGetSessionResponseType">
	<xs:annotation>
		<xs:documentation>
			Response container for the GetSession operation.
		</xs:documentation>
	</xs:annotation>
	<xs:complexContent>
		<xs:extension base="tns:BaseServiceResponse">
			<xs:sequence>
				<xs:element name="sessionData" type="tns:OpeneBaySessionDataType">
					<xs:annotation>
						<xs:documentation>
							Session data from a Start request, included for verification in the
							subsequent GetSession request. Includes user information, which your application can use to
							create your own session for the user, associate your session with the Open eBay session,
							and render a page to the user.
						</xs:documentation>
						<xs:appinfo>
							<CallInfo>
								<CallName>getSession</CallName>
								<Returned>Always</Returned>
							</CallInfo>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:extension>
	</xs:complexContent>
</xs:complexType>


<xs:complexType name="OpeneBaySessionDataType">
	<xs:annotation>
		<xs:documentation>
			[???]
		</xs:documentation>
	</xs:annotation>
	<xs:sequence>
		<xs:element name="subscriberInfo" type="tns:OpeneBaySubscriberInfoType">
			<xs:annotation>
				<xs:documentation>
					A container for user information, such as user ID and user token.
				</xs:documentation>
				<xs:appinfo>
					<CallInfo>
						<CallName>getSession</CallName>
						<Returned>Always</Returned>
					</CallInfo>
				</xs:appinfo>
			</xs:annotation>
		</xs:element>
	</xs:sequence>
</xs:complexType>


<xs:complexType name="OpeneBaySetApplicationOperationStateRequestType">
	<xs:annotation>
		<xs:documentation>
			Requests a change in the state of your Open eBay application. For example, take your
			application offline and make it unavailable while debugging, or put it back online.
			Your application identity and token are sent in HTTPS header with this request.
		</xs:documentation>
		<xs:appinfo>
			<Summary>
				Requests a change in the operational state of an Open eBay application.
			</Summary>
		</xs:appinfo>
	</xs:annotation>
	<xs:complexContent>
		<xs:extension base="tns:BaseServiceRequest">
			<xs:sequence>
				<xs:element name="state" type="tns:OpeneBayApplicationOperationalStateType">
					<xs:annotation>
						<xs:documentation>
							Sets the operational state of the application. Possibilities include:
							&lt;br&gt;&lt;br&gt;
							MarkedUp: application is online and available to users.
							&lt;br&gt;&lt;br&gt;
							MarkedDown: application is offline and unavailable to users.
						</xs:documentation>
						<xs:appinfo>
							<CallInfo>
								<CallName>setApplicationOperationState</CallName>
								<RequiredInput>Yes</RequiredInput>
							</CallInfo>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:extension>
	</xs:complexContent>
</xs:complexType>


<xs:complexType name="OpeneBaySetApplicationOperationStateResponseType">
	<xs:annotation>
		<xs:documentation>
			Acknowledgment and success or failure of a request to change the operation state of
			the application.
		</xs:documentation>
	</xs:annotation>
	<xs:complexContent>
		<xs:extension base="tns:BaseServiceResponse"/>
	</xs:complexContent>
</xs:complexType>



		</xs:schema>
	</wsdl:types>

	<wsdl:message name="getSessionRequest">
		<wsdl:part element="ns0:getSessionRequest" name="getSessionRequest"/>
	</wsdl:message>
	<wsdl:message name="getSessionResponse">
		<wsdl:part element="ns0:getSessionResponse" name="getSessionResponse"/>
	</wsdl:message>
	<wsdl:message name="setApplicationOperationStateRequest">
		<wsdl:part element="ns0:setApplicationOperationStateRequest" name="setApplicationOperationStateRequest"/>
	</wsdl:message>
	<wsdl:message name="setApplicationOperationStateResponse">
		<wsdl:part element="ns0:setApplicationOperationStateResponse" name="setApplicationOperationStateResponse"/>
	</wsdl:message>

	<wsdl:portType name="OpeneBayApplicationIntegrationServicePort">
		<wsdl:operation name="getSession">
			<wsdl:input message="ns0:getSessionRequest"/>
			<wsdl:output message="ns0:getSessionResponse"/>
		</wsdl:operation>
		<wsdl:operation name="setApplicationOperationState">
			<wsdl:input message="ns0:setApplicationOperationStateRequest"/>
			<wsdl:output message="ns0:setApplicationOperationStateResponse"/>
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="OpeneBayApplicationIntegrationServiceHttpBinding" type="ns0:OpeneBayApplicationIntegrationServicePort">
		<http:binding verb="POST"/>
		<wsdl:operation name="getSession">
			<http:operation location="OpeneBayApplicationIntegrationService/getSession"/>
			<wsdl:input>
				<mime:content part="getSessionRequest" type="text/xml"/>
			</wsdl:input>
			<wsdl:output>
				<mime:content part="getSessionResponse" type="text/xml"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="setApplicationOperationState">
			<http:operation location="OpeneBayApplicationIntegrationService/setApplicationOperationState"/>
			<wsdl:input>
				<mime:content part="setApplicationOperationStateRequest" type="text/xml"/>
			</wsdl:input>
			<wsdl:output>
				<mime:content part="setApplicationOperationStateResponse" type="text/xml"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:binding name="OpeneBayApplicationIntegrationServiceSOAPBinding" type="ns0:OpeneBayApplicationIntegrationServicePort">
		<soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="getSession">
			<soap12:operation soapAction="urn:getSession" style="document"/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="setApplicationOperationState">
			<soap12:operation soapAction="urn:setApplicationOperationState" style="document"/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="OpeneBayApplicationIntegrationService">
		<wsdl:documentation>
			<Version>1.0.0</Version>
		</wsdl:documentation>
		<wsdl:port binding="ns0:OpeneBayApplicationIntegrationServiceSOAPBinding" name="OpeneBayApplicationIntegrationServiceSOAP">
			<soap12:address location="http://svcs.ebay.com/OpeneBayApplicationIntegrationService"/>
		</wsdl:port>
		<wsdl:port binding="ns0:OpeneBayApplicationIntegrationServiceHttpBinding" name="OpeneBayApplicationIntegrationServiceHttp">
			<http:address location="http://svcs.ebay.com/OpeneBayApplicationIntegrationService"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>