codegen/codegen-tools/src/test/resources/org/ebayopensource/turmeric/test/tools/codegen/data/proto/OpeneBayIdentityProviderService_for_tags.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:ns0="http://www.ebayopensource.org/tumeric/services" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.ebayopensource.org/tumeric/services">
	<wsdl:types>
		<xs:schema xmlns:Q1="http://www.ebayopensource.org/tumeric/services" xmlns:Q2="http://www.ebayopensource.org/tumeric/services" xmlns:tns="http://www.ebayopensource.org/tumeric/services" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.ebayopensource.org/tumeric/services">


<xs:element name="authenticateRequest" type="tns:OpeneBayAuthenticateRequestType"/>
<xs:element name="authenticateResponse" type="tns:OpeneBayAuthenticateResponseType"/>
<xs:element name="loginRequest" type="tns:OpeneBayLoginRequestType"/>
<xs:element name="loginResponse" type="tns:OpeneBayLoginResponseType"/>


<!-- Common Types -->
<xs:complexType name="OpeneBayPrincipalIdentifierType">
	<xs:annotation>
		<xs:documentation>
			Fully-qualified name of an application, as required in the deployment descriptor. This value must be structured as
			ApplicationName.PlatformName.TopDomain.
		</xs:documentation>
	</xs:annotation>
	<xs:attribute name="appId" type="xs:string">
		<xs:annotation>
			<xs:documentation>
				AppID, or fully-qualified name of an application as required in the deployment
				descriptor. This value must be structured as
				ApplicationName.PlatformName.TopDomain.
			</xs:documentation>
			<xs:appinfo>
				<MaxLength>128</MaxLength>
				<CallInfo>
					<CallName>login</CallName>
					<RequiredInput>Yes</RequiredInput>
				</CallInfo>
			</xs:appinfo>
		</xs:annotation>
	</xs:attribute>
</xs:complexType>


<xs:complexType name="OpeneBayAcceptType">
	<xs:annotation>
		<xs:documentation>
			Container for token type.
		</xs:documentation>
	</xs:annotation>
	<xs:attribute default="Value" name="by" type="tns:OpeneBayTokenType" use="optional">
		<xs:annotation>
			<xs:documentation>
				Specifies whether a token is passed by reference or by value.
			</xs:documentation>
			<xs:appinfo>
				<CallInfo>
					<CallName>login</CallName>
					<RequiredInput>No</RequiredInput>
				</CallInfo>
			</xs:appinfo>
		</xs:annotation>
	</xs:attribute>
</xs:complexType>


<xs:complexType name="OpeneBayLoginCredentialsType">
	<xs:annotation>
		<xs:documentation>
			Container for the certId.
		</xs:documentation>
	</xs:annotation>
	<xs:complexContent>
		<xs:extension base="tns:OpeneBayPrincipalIdentifierType">
			<xs:sequence>
				<xs:element name="certId" type="xs:string">
					<xs:annotation>
						<xs:documentation>
							The certID is generated by eBay and provided to third parties. Third
							parties use the certId to log into eBay through the EIDP service.
						</xs:documentation>
						<xs:appinfo>
							<MaxLength>128</MaxLength>
							<CallInfo>
								<CallName>login</CallName>
								<RequiredInput>Yes</RequiredInput>
							</CallInfo>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:extension>
	</xs:complexContent>
</xs:complexType>


<xs:simpleType name="OpeneBayTokenType">
	<xs:annotation>
		<xs:documentation>
			Used to specify whether a token is passed by value or by reference.
			Applications should expect it to be passed by value, and should pass it by
			value. Later implementations will allow tokens to be passed by reference, to
			accomodate lengthy assertions in case there is a need to pass encrypted tokens in
			URLs.
		</xs:documentation>
	</xs:annotation>
	<xs:restriction base="xs:string">
		<xs:enumeration value="Reference">
			<xs:annotation>
				<xs:documentation>
					The token is passed by reference.
				</xs:documentation>
			</xs:annotation>
		</xs:enumeration>
		<xs:enumeration value="Value">
			<xs:annotation>
				<xs:documentation>
					The token is passed by value.
				</xs:documentation>
			</xs:annotation>
		</xs:enumeration>
	</xs:restriction>
</xs:simpleType>

<xs:complexType name="OpeneBaySecurityTokenType">
	<xs:annotation>
		<xs:documentation>
			Container for the EIDP token.
		</xs:documentation>
	</xs:annotation>
	<xs:complexContent>
		<xs:extension base="tns:OpeneBayBaseSecurityTokenType">
			<xs:sequence>
				<xs:element name="tokenValue" type="xs:string">
					<xs:annotation>
						<xs:documentation>
							The EIDP token identifying the third-party application. Obtained using
							the login request.
						</xs:documentation>
						<xs:appinfo>
							<MaxLength>2000</MaxLength>
							<CallInfo>
								<CallName>login</CallName>
								<Returned>Always</Returned>
							</CallInfo>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
				<xs:element name="signature" type="xs:string">
					<xs:annotation>
						<xs:documentation>
							Reserved for future use.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:extension>
	</xs:complexContent>
</xs:complexType>


<xs:complexType name="OpeneBayBaseSecurityTokenType">
	<xs:annotation>
		<xs:documentation>
			Container for the token base type.
		</xs:documentation>
	</xs:annotation>
	<xs:attribute name="type" type="tns:OpeneBayTokenType">
		<xs:annotation>
			<xs:documentation>
				Base type for tokens.
			</xs:documentation>
			<xs:appinfo>
				<MaxLength>1000</MaxLength>
				<CallInfo>
					<CallName>authenticate</CallName>
					<RequiredInput>Yes</RequiredInput>
				</CallInfo>
				<CallInfo>
					<CallName>login</CallName>
					<Returned>Always</Returned>
				</CallInfo>
			</xs:appinfo>
		</xs:annotation>
	</xs:attribute>
	<xs:attribute name="issuingAuthority" type="xs:string" use="required">
		<xs:annotation>
			<xs:documentation>
				Issuing authority for the token. Value is eBay.
			</xs:documentation>
			<xs:appinfo>
				<MaxLength>128</MaxLength>
				<CallInfo>
					<CallName>authenticate</CallName>
					<RequiredInput>Yes</RequiredInput>
				</CallInfo>
				<CallInfo>
					<CallName>login</CallName>
					<Returned>Always</Returned>
				</CallInfo>
			</xs:appinfo>
		</xs:annotation>
	</xs:attribute>
	<xs:attribute name="expirationDate" type="xs:dateTime" use="required">
		<xs:annotation>
			<xs:documentation>
				The time and date that the EIDP token expires (typically, 24 hours after
				issuance).
			</xs:documentation>
			<xs:appinfo>
				<CallInfo>
					<CallName>authenticate</CallName>
					<RequiredInput>Yes</RequiredInput>
				</CallInfo>
				<CallInfo>
					<CallName>login</CallName>
					<Returned>Always</Returned>
				</CallInfo>
			</xs:appinfo>
		</xs:annotation>
	</xs:attribute>
</xs:complexType>
<!-- Common Types -->
<!-- Base Request Types -->


<xs:complexType abstract="true" name="BaseServiceRequest">
	<xs:annotation>
		<xs:documentation>
			Base request container for all service operations.
		</xs:documentation>
	</xs:annotation>
	<xs:sequence>


	</xs:sequence>
</xs:complexType>
<!-- ****************************************************************************** -->
<!-- Base Response Types -->


<xs:complexType abstract="true" name="BaseServiceResponse">
	<xs:annotation>
		<xs:documentation>
			Base response container for all service operations. Contains error information
			associated with the request.
		</xs:documentation>
	</xs:annotation>
	<xs:sequence>
		<xs:element name="ack" type="tns:AckValue">
			<xs:annotation>
				<xs:documentation/>
				<xs:appinfo>
					<CallInfo>
						<AllCalls/>
						<Returned>Always</Returned>
					</CallInfo>
				</xs:appinfo>
			</xs:annotation>
		</xs:element>
		<xs:element minOccurs="0" name="errorMessage" type="tns:ErrorMessage">
			<xs:annotation>
				<xs:documentation>
					Information for an error or warning that occurred when eBay processed the
					request.
				</xs:documentation>
				<xs:appinfo>
					<CallInfo>
						<AllCalls/>
						<Returned>Conditionally</Returned>
					</CallInfo>
				</xs:appinfo>
			</xs:annotation>
		</xs:element>
		<xs:element name="version" type="xs:string">
			<xs:annotation>
				<xs:documentation>
					Open eBay version.
				</xs:documentation>
				<xs:appinfo>
					<CallInfo>
						<AllCalls/>
						<Returned>Always</Returned>
					</CallInfo>
				</xs:appinfo>
			</xs:annotation>
		</xs:element>
		<xs:element name="timestamp" type="xs:dateTime">
			<xs:annotation>
				<xs:documentation>
					The date and time when eBay processed the request. The time zone of this value
					is GMT and the format is the ISO 8601 date and time format (YYYY-MM-
					DDTHH:MM:SS.SSSZ). See Time Values in the eBay Web Services guide for
					information about this time format and converting to and from the GMT time zone.
				</xs:documentation>
				<xs:appinfo>
					<CallInfo>
						<AllCalls/>
						<Returned>Always</Returned>
					</CallInfo>
				</xs:appinfo>
			</xs:annotation>
		</xs:element>
	</xs:sequence>
</xs:complexType>


<xs:simpleType name="AckValue">
	<xs:annotation>
		<xs:documentation>
			Indicates whether the error is a severe error (causing the request to fail) or an
			informational error (a warning) that should be communicated to the user.
		</xs:documentation>
	</xs:annotation>
	<xs:restriction base="xs:string">
		<xs:enumeration value="Success">
			<xs:annotation>
				<xs:documentation>
					The request was processed successfully, but something occurred that may
					affect your application or the user.
				</xs:documentation>
			</xs:annotation>
		</xs:enumeration>
		<xs:enumeration value="Failure">
			<xs:annotation>
				<xs:documentation>
					The request that triggered the error was not processed successfully. When a
					serious application-level error occurs, the error is returned instead of the
					business data.
				</xs:documentation>
			</xs:annotation>
		</xs:enumeration>
		<xs:enumeration value="Warning">
			<xs:annotation>
				<xs:documentation>
					The request that triggered the error was processed successfully but with some
					warnings.
				</xs:documentation>
			</xs:annotation>
		</xs:enumeration>
		<xs:enumeration value="PartialFailure">
			<xs:annotation>
				<xs:documentation>
					The request that triggered the error was processed successfully but with some
					warnings.
				</xs:documentation>
			</xs:annotation>
		</xs:enumeration>
	</xs:restriction>
</xs:simpleType>


<xs:complexType name="ErrorMessage">
	<xs:annotation>
		<xs:documentation>
			ErrorMessage to indicate any Error/Warning occured as part of service call. Any
			run time error will not be reported here, but will be reported aspart of soap
			fault.
		</xs:documentation>
	</xs:annotation>
	<xs:sequence>
		<xs:element maxOccurs="unbounded" minOccurs="0" name="error" type="tns:ErrorData">
			<xs:annotation>
				<xs:documentation>
					ActivityProfile about a single error.
				</xs:documentation>
				<xs:appinfo>
					<CallInfo>
						<AllCalls/>
						<Returned>Conditionally</Returned>
					</CallInfo>
				</xs:appinfo>
			</xs:annotation>
		</xs:element>
	</xs:sequence>
</xs:complexType>


<xs:complexType name="ErrorData">
	<xs:annotation>
		<xs:documentation>
			This represents error details.
		</xs:documentation>
	</xs:annotation>
	<xs:sequence>
		<xs:element name="errorId" type="xs:long">
			<xs:annotation>
				<xs:documentation>
					A unique code that identifies the particular error condition that occurred.
					Your application can use error codes as identifiers in your customized error-
					handling algorithms.
				</xs:documentation>
				<xs:appinfo>
					<CallInfo>
						<AllCalls/>
						<Returned>Conditionally</Returned>
					</CallInfo>
				</xs:appinfo>
			</xs:annotation>
		</xs:element>
		<xs:element name="domain" type="xs:string">
			<xs:annotation>
				<xs:documentation>
					Name of the domain in which the error occurred.
					&lt;dl&gt; &lt;lh&gt;
					Domains include:
					&lt;/lh&gt; &lt;dt&gt;
					Marketplace
					&lt;/dt&gt; &lt;dd&gt;
					A business or validation error occurred
					for the UserProfile Service.
					&lt;/dd&gt; &lt;dt&gt;
					SOA
					&lt;/dt&gt; &lt;dd&gt;
					An exception occurred in the Service Oriented Architecture (SOA) framework.
					&lt;/dd&gt; &lt;/dl&gt;
				</xs:documentation>
				<xs:appinfo>
					<CallInfo>
						<AllCalls/>
						<Returned>Conditionally</Returned>
					</CallInfo>
				</xs:appinfo>
			</xs:annotation>
		</xs:element>
		<xs:element name="severity" type="tns:ErrorSeverity">
			<xs:annotation>
				<xs:documentation>
					Indicates whether the error caused the request to fail (Error) or not
					(Warning).
					&lt;br&gt;&lt;br&gt;
					If the request fails and the source of the problem is within the application
					(such as a missing required element), please change the application before
					you retry the request. If the problem is due to end-user input data, please
					alert the end-user to the problem and provide the means for them to correct
					the data. Once the problem in the application or data is resolved, you can
					attempt to re- send the request to eBay.
					&lt;br&gt;&lt;br&gt;
					If the source of the problem is on eBay's side, you can retry the request as-
					is a reasonable number of times (eBay recommends twice). If the error
					persists, contact Developer Technical Support. Once the problem has been
					resolved, the request may be resent in its original form.
					&lt;br&gt;&lt;br&gt;
					When a warning occurs, the error is returned in addition to the business
					data. In this case, you do not need to retry the request (as the original
					request was successful). However, depending on the cause or nature of the
					warning, you might need to contact either the end user or eBay to effect a
					long term solution to the problem to prevent it from reoccurring in the
					future.
				</xs:documentation>
				<xs:appinfo>
					<CallInfo>
						<AllCalls/>
						<Returned>Conditionally</Returned>
					</CallInfo>
				</xs:appinfo>
			</xs:annotation>
		</xs:element>
		<xs:element name="category" type="tns:ErrorCategory">
			<xs:annotation>
				<xs:documentation>
					There are three categories of errors: request errors, application errors, and
					system errors.
				</xs:documentation>
				<xs:appinfo>
					<CallInfo>
						<AllCalls/>
						<Returned>Conditionally</Returned>
					</CallInfo>
				</xs:appinfo>
			</xs:annotation>
		</xs:element>
		<xs:element name="message" type="xs:string">
			<xs:annotation>
				<xs:documentation>
					A detailed description of the condition that resulted in the error.
				</xs:documentation>
				<xs:appinfo>
					<CallInfo>
						<AllCalls/>
						<Returned>Conditionally</Returned>
					</CallInfo>
				</xs:appinfo>
			</xs:annotation>
		</xs:element>
		<xs:element minOccurs="0" name="subdomain" type="xs:string">
			<xs:annotation>
				<xs:documentation>
					Name of the subdomain in which the error occurred.
					&lt;dl&gt;
					&lt;lh&gt;
					Subdomains include:
					&lt;/lh&gt;
					&lt;dt&gt;
					UserProfile
					&lt;/dt&gt;
					&lt;dd&gt;
					The error is specific to the UserProfile service.
					&lt;/dd&gt;
					&lt;dt&gt;
					MarketplaceCommon
					&lt;/dt&gt;
					&lt;dd&gt;
					The error is common to all Marketplace services.
					&lt;/dd&gt;
					&lt;/dl&gt;
				</xs:documentation>
				<xs:appinfo>
					<CallInfo>
						<AllCalls/>
						<Returned>Conditionally</Returned>
					</CallInfo>
				</xs:appinfo>
			</xs:annotation>
		</xs:element>
		<xs:element minOccurs="0" name="exceptionId" type="xs:token">
			<xs:annotation>
				<xs:documentation>
					Unique identifier for an exception associated with an error.
				</xs:documentation>
				<xs:appinfo>
					<CallInfo>
						<AllCalls/>
						<Returned>Conditionally</Returned>
					</CallInfo>
				</xs:appinfo>
			</xs:annotation>
		</xs:element>
		<xs:element maxOccurs="unbounded" minOccurs="0" name="parameter" type="tns:ErrorParameter">
			<xs:annotation>
				<xs:documentation>
					Some warning and error messages return one or more variables that contain
					contextual information about the error. This is often the field or value that
					triggered the error.
				</xs:documentation>
				<xs:appinfo>
					<CallInfo>
						<AllCalls/>
						<Returned>Conditionally</Returned>
					</CallInfo>
				</xs:appinfo>
			</xs:annotation>
		</xs:element>
	</xs:sequence>
</xs:complexType>


<xs:complexType name="ErrorParameter">
	<xs:annotation>
		<xs:documentation>
			Contextual information associated with an error.
		</xs:documentation>
	</xs:annotation>
	<xs:simpleContent>
		<xs:extension base="xs:string">
			<xs:attribute name="name" type="xs:string">
				<xs:annotation>
					<xs:documentation>
						The name of the parameter in the list of parameter types returned within
						the error type.
					</xs:documentation>
					<xs:appinfo>
						<CallInfo>
							<AllCalls/>
							<Returned>Conditionally</Returned>
						</CallInfo>
					</xs:appinfo>
				</xs:annotation>
			</xs:attribute>
		</xs:extension>
	</xs:simpleContent>
</xs:complexType>


<xs:simpleType name="ErrorSeverity">
	<xs:annotation>
		<xs:documentation>
			Indicates whether the error is a severe error (causing the request to fail) or an
			informational error (a warning) that should be communicated to the user.
		</xs:documentation>
	</xs:annotation>
	<xs:restriction base="xs:string">
		<xs:enumeration value="Error">
			<xs:annotation>
				<xs:documentation>
					The request that triggered the error was
					not processed successfully. When a
					serious application-level error occurs,
					the error is returned instead of the
					business data.
				</xs:documentation>
			</xs:annotation>
		</xs:enumeration>
		<xs:enumeration value="Warning">
			<xs:annotation>
				<xs:documentation>
					The request was processed successfully, but something occurred that may
					affect your application or the user. For example, eBay may have changed a
					value the user sent in. In this case, eBay returns a normal, successful
					response and also returns the warning.
				</xs:documentation>
			</xs:annotation>
		</xs:enumeration>
	</xs:restriction>
</xs:simpleType>


<xs:simpleType name="ErrorCategory">
	<xs:annotation>
		<xs:documentation>
			There are three categories of error: request errors, application errors, and
			system errors. Request and application errors are caused primarily by invalid
			data passed in the request. System errors are caused primarily by application
			failures and cannot be corrected by changing request values.
		</xs:documentation>
	</xs:annotation>
	<xs:restriction base="xs:string">
		<xs:enumeration value="System">
			<xs:annotation>
				<xs:documentation>
					Indicates that an error has occurred on the eBay system side, such as a
					database or server down. An application can retry the request as-is a
					reasonable number of times (eBay recommends twice). If the error persists,
					contact Developer Technical Support. Once the problem has been resolved, the
					request may be resent in its original form.
				</xs:documentation>
			</xs:annotation>
		</xs:enumeration>
		<xs:enumeration value="Application">
			<xs:annotation>
				<xs:documentation>
					An error occurred due to a problem with the request, such as missing or
					invalid fields. The problem must be corrected before the request can be made
					again. If the problem is due to something in the application (such as a
					missing required field), the application must be changed. Once the problem in
					the application or data is resolved, resend the corrected request to eBay.
				</xs:documentation>
			</xs:annotation>
		</xs:enumeration>
		<xs:enumeration value="Request">
			<xs:annotation>
				<xs:documentation>
					An error occurred due to a problem with the request, such as invalid or
					missing data. The problem must be corrected before the request can be made
					again. If the problem is a result of end-user data, the application must
					alert the end-user to the problem and provide the means for the end-user to
					correct the data. Once the problem in the data is resolved, resend the
					request to eBay with the corrected data.
				</xs:documentation>
			</xs:annotation>
		</xs:enumeration>
	</xs:restriction>
</xs:simpleType>


<xs:complexType name="OpeneBayAuthenticateRequestType">
	<xs:annotation>
		<xs:documentation>
			Requests authentication of an EIDP token sent to your application. In addition to the
			token to be validated, you include your application identity and token in the
			HTTP header with this request.
		</xs:documentation>
		<xs:appinfo>
			<Summary>
				Requests authentication of an EIDP token sent to your application.
			</Summary>
		</xs:appinfo>
	</xs:annotation>
	<xs:complexContent>
		<xs:extension base="tns:BaseServiceRequest">
			<xs:sequence>
				<xs:element name="tokenToValidate" type="xs:string">
					<xs:annotation>
						<xs:documentation>
							The EIDP token to be validated. The EIDP token is included in the HTTP header
							to validate calls from your application to eBay, such as OEAIS service
							operations.
						</xs:documentation>
						<xs:appinfo>
							<CallInfo>
								<CallName>authenticate</CallName>
								<RequiredInput>Yes</RequiredInput>
							</CallInfo>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:extension>
	</xs:complexContent>
</xs:complexType>


<xs:complexType name="OpeneBayAuthenticateResponseType">
	<xs:annotation>
		<xs:documentation>
			Response container for Authenticate operation in the EIDP service.
		</xs:documentation>
	</xs:annotation>
	<xs:complexContent>
		<xs:extension base="tns:BaseServiceResponse">
			<xs:sequence>
				<xs:element minOccurs="0" name="attributes" type="tns:OpeneBayAssertionAttributesType">
					<xs:annotation>
						<xs:documentation>
							Internal use only.
						</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:extension>
	</xs:complexContent>
</xs:complexType>


<xs:complexType name="OpeneBayAssertionAttributeType">
	<xs:annotation>
		<xs:documentation>
			Contains the values of the identity assertions used in the login call.
		</xs:documentation>
		<xs:appinfo>
			<CallInfo>
				<CallName>login</CallName>
				<RequiredInput>Yes</RequiredInput>
			</CallInfo>
		</xs:appinfo>
	</xs:annotation>
	<xs:sequence>
		<xs:element name="attributeValue" type="xs:string">
			<xs:annotation>
				<xs:documentation>
					Contains the values of the identity assertion, usually a DevID, used in the login
					call.
				</xs:documentation>
				<xs:appinfo>
					<CallInfo>
						<CallName>login</CallName>
						<RequiredInput>Yes</RequiredInput>
					</CallInfo>
				</xs:appinfo>
			</xs:annotation>
		</xs:element>
	</xs:sequence>
	<xs:attribute name="name" type="xs:string" use="required">
		<xs:annotation>
			<xs:documentation>
				Specifies which identity assertion is used in the login call. For example, DevID.
			</xs:documentation>
			<xs:appinfo>
				<CallInfo>
					<CallName>login</CallName>
					<RequiredInput>Yes</RequiredInput>
				</CallInfo>
			</xs:appinfo>
		</xs:annotation>
	</xs:attribute>
</xs:complexType>


<xs:complexType name="OpeneBayAssertionAttributesType">
	<xs:annotation>
		<xs:documentation>
			Container for the identity assertions used in the login call.
		</xs:documentation>
		<xs:appinfo>
			<CallInfo>
				<CallName>login</CallName>
				<RequiredInput>Yes</RequiredInput>
			</CallInfo>
		</xs:appinfo>
	</xs:annotation>
	<xs:sequence>
		<xs:element maxOccurs="unbounded" minOccurs="0" name="attribute" type="tns:OpeneBayAssertionAttributeType">
			<xs:annotation>
				<xs:documentation>
					Container for the identity assertions used in the login call.
				</xs:documentation>
				<xs:appinfo>
					<CallInfo>
						<CallName>login</CallName>
						<RequiredInput>Yes</RequiredInput>
					</CallInfo>
				</xs:appinfo>
			</xs:annotation>
		</xs:element>
	</xs:sequence>
</xs:complexType>


<xs:complexType name="OpeneBayLoginRequestType">
	<xs:annotation>
		<xs:documentation>
			Requests an EIDP token, which will enable your application to make calls and to
			authenticate incoming calls from the eBay.
		</xs:documentation>
		<xs:appinfo>
			<Summary>
				Requests an EIDP token.
			</Summary>
		</xs:appinfo>
	</xs:annotation>
	<xs:complexContent>
		<xs:extension base="tns:BaseServiceRequest">
			<xs:sequence>
				<xs:element name="credential" type="tns:OpeneBayLoginCredentialsType">
					<xs:annotation>
						<xs:documentation>
							Specifies the type of credentials offered in the login request.
						</xs:documentation>
						<xs:appinfo>
							<CallInfo>
								<CallName>login</CallName>
								<RequiredInput>Yes</RequiredInput>
							</CallInfo>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
				<xs:element name="accept" type="tns:OpeneBayAcceptType">
					<xs:annotation>
						<xs:documentation>
							Specifies whether acceptance will be based on a token passed by value or
							by reference.
						</xs:documentation>
						<xs:appinfo>
							<CallInfo>
								<CallName>login</CallName>
								<RequiredInput>Yes</RequiredInput>
							</CallInfo>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
				<xs:element minOccurs="0" name="attributes" type="tns:OpeneBayAssertionAttributesType">
					<xs:annotation>
						<xs:documentation>
							The identity assertions submitted at login include CertID and AppID.
						</xs:documentation>
						<xs:appinfo>
							<CallInfo>
								<CallName>login</CallName>
								<RequiredInput>Yes</RequiredInput>
							</CallInfo>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:extension>
	</xs:complexContent>
</xs:complexType>


<xs:complexType name="OpeneBayLoginResponseType">
	<xs:annotation>
		<xs:documentation>
			Response container for login operation in the EIDP service.
		</xs:documentation>
	</xs:annotation>
	<xs:complexContent>
		<xs:extension base="tns:BaseServiceResponse">
			<xs:sequence>
				<xs:element name="securityToken" type="tns:OpeneBaySecurityTokenType">
					<xs:annotation>
						<xs:documentation>
							Container for EIDP token, returned as part of the response to the login call.
							Your application then
							uses this token in calls to the Open eBay Subscription service
							and to the Open eBay Application Integration service.
						</xs:documentation>
						<xs:appinfo>
							<CallInfo>
								<CallName>login</CallName>
								<Returned>Always</Returned>
							</CallInfo>
						</xs:appinfo>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:extension>
	</xs:complexContent>
</xs:complexType>


		</xs:schema>
	</wsdl:types>

	<wsdl:message name="authenticateRequest">
		<wsdl:part element="ns0:authenticateRequest" name="authenticateRequest">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="authenticateResponse">
		<wsdl:part element="ns0:authenticateResponse" name="authenticateResponse">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="loginRequest">
		<wsdl:part element="ns0:loginRequest" name="loginRequest">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="loginResponse">
		<wsdl:part element="ns0:loginResponse" name="loginResponse">
		</wsdl:part>
	</wsdl:message>

	<wsdl:portType name="OpeneBayIdentityProviderServicePort">
		<wsdl:operation name="authenticate">
			<wsdl:input message="ns0:authenticateRequest"/>
			<wsdl:output message="ns0:authenticateResponse">
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="login">
			<wsdl:input message="ns0:loginRequest"/>
			<wsdl:output message="ns0:loginResponse"/>
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="OpeneBayIdentityProviderServiceHttpBinding" type="ns0:OpeneBayIdentityProviderServicePort">
		<http:binding verb="POST"/>
		<wsdl:operation name="authenticate">
			<http:operation location="OpeneBayIdentityProviderService/authenticate"/>
			<wsdl:input>
				<mime:content part="authenticateRequest" type="text/xml"/>
			</wsdl:input>
			<wsdl:output>
				<mime:content part="authenticateResponse" type="text/xml"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="login">
			<http:operation location="OpeneBayIdentityProviderService/login"/>
			<wsdl:input>
				<mime:content part="loginRequest" type="text/xml"/>
			</wsdl:input>
			<wsdl:output>
				<mime:content part="loginResponse" type="text/xml"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:binding name="OpeneBayIdentityProviderServiceSOAPBinding" type="ns0:OpeneBayIdentityProviderServicePort">
		<soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="authenticate">
			<soap12:operation soapAction="urn:authenticate" style="document"/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="login">
			<soap12:operation soapAction="urn:login" style="document"/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="OpeneBayIdentityProviderService">
		<wsdl:documentation>
			<Version>1.0.0</Version>
		</wsdl:documentation>
		<wsdl:port binding="ns0:OpeneBayIdentityProviderServiceSOAPBinding" name="OpeneBayIdentityProviderServiceSOAP">
			<soap12:address location="http://svcs.ebay.com/OpeneBayIdentityProviderService"/>
		</wsdl:port>
		<wsdl:port binding="ns0:OpeneBayIdentityProviderServiceHttpBinding" name="OpeneBayIdentityProviderServiceHttp">
			<http:address location="http://svcs.ebay.com/OpeneBayIdentityProviderService"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>