codegen/codegen-tools/src/test/resources/org/ebayopensource/turmeric/test/tools/codegen/data/proto/PageMetadataService_for_tags.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:ns0="http://www.ebayopensource.org/tumeric/services" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xs="http://www.w3.org/2001/XMLSchema" name="PageMetadataService" targetNamespace="http://www.ebayopensource.org/tumeric/services">

	<wsdl:types>
		<xs:schema xmlns:tns="http://www.ebayopensource.org/tumeric/services" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.ebayopensource.org/tumeric/services">
			<xs:element name="getAllPagesRequest" type="tns:GetAllPagesRequest">
				<xs:annotation>
					<xs:documentation> Request to get all pages that are not in 'removed' status for
						given client and number of records. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="getAllPagesResponse" type="tns:GetAllPagesResponse">
				<xs:annotation>
					<xs:documentation> Response containing the list of pages or error message.
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:complexType abstract="true" name="BaseServiceRequest">
				<xs:annotation>
					<xs:documentation> This is the base class for request container for all service
						operations. </xs:documentation>
				</xs:annotation>
				<xs:sequence>

				</xs:sequence>
			</xs:complexType>

			<xs:complexType abstract="true" name="BaseServiceResponse">
				<xs:annotation>
					<xs:documentation> Base response container for all service operations. Contains
						error information associated with the request. </xs:documentation>
				</xs:annotation>
				<xs:sequence>
					<xs:element name="ack" type="tns:AckValue">
						<xs:annotation>
							<xs:documentation> Acknowledgement of operation. </xs:documentation>
							<xs:appinfo>
								<CallInfo>
									<AllCalls/>
									<Returned>Always</Returned>
								</CallInfo>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="errorMessage" type="tns:ErrorMessage">
						<xs:annotation>
							<xs:documentation> Information for an error or warning that occurred
								when eBay processed the request. </xs:documentation>
							<xs:appinfo>
								<CallInfo>
									<AllCalls/>
									<Returned>Conditionally</Returned>
								</CallInfo>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="version" type="xs:string">
						<xs:annotation>
							<xs:documentation> </xs:documentation>
							<xs:appinfo>
								<CallInfo>
									<AllCalls/>
									<Returned>Always</Returned>
								</CallInfo>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="timestamp" type="xs:dateTime">
						<xs:annotation>
							<xs:documentation> </xs:documentation>
							<xs:appinfo>
								<CallInfo>
									<AllCalls/>
									<Returned>Always</Returned>
								</CallInfo>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>

				</xs:sequence>
			</xs:complexType>
			<xs:simpleType name="AckValue">
				<xs:annotation>
					<xs:documentation> Indicates whether the error is a severe error (causing the
						request to fail) or an informational error (a warning) that should be
						communicated to the user. </xs:documentation>
				</xs:annotation>
				<xs:restriction base="xs:string">
					<xs:enumeration value="Success">
						<xs:annotation>
							<xs:documentation> The request was processed successfully, but something
								occurred that may affect your application or the user.
							</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="Failure">
						<xs:annotation>
							<xs:documentation> The request that triggered the error was not
								processed successfully. When a serious application-level error
								occurs, the error is returned instead of the business data.
							</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="Warning">
						<xs:annotation>
							<xs:documentation> The request that triggered the error was processed
								successfully but with some warnings. </xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="PartialFailure">
						<xs:annotation>
							<xs:documentation> The request that triggered the error was processed
								successfully but with some warnings. </xs:documentation>
						</xs:annotation>
					</xs:enumeration>
				</xs:restriction>
			</xs:simpleType>

			<xs:complexType name="ErrorMessage">
				<xs:annotation>
					<xs:documentation> ErrorMessage to indicate any Error/Warning occurred as part
						of service call. Any run time error will not be reported here, but will be
						reported aspart of SOAP fault. </xs:documentation>
				</xs:annotation>
				<xs:sequence>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="error" type="tns:ErrorData">
						<xs:annotation>
							<xs:documentation> Details about a single error. </xs:documentation>
							<xs:appinfo>
								<CallInfo>
									<AllCalls/>
									<Returned>Conditionally</Returned>
								</CallInfo>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="ErrorData">
				<xs:annotation>
					<xs:documentation> This represents error details. </xs:documentation>
				</xs:annotation>
				<xs:sequence>
					<xs:element name="errorId" type="xs:long">
						<xs:annotation>
							<xs:documentation> A unique code that identifies the particular error
								condition that occurred. Your application can use error codes as
								identifiers in your customized error-handling algorithms. </xs:documentation>
							<xs:appinfo>
								<CallInfo>
									<AllCalls/>
									<Returned>Conditionally</Returned>
								</CallInfo>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="domain" type="xs:string">
						<xs:annotation>
							<xs:documentation> Name of the domain upon which the error occurred.
								&lt;dl&gt; &lt;lh&gt;Domains
								include:&lt;/lh&gt; &lt;dt&gt; Marketplace
								Services&lt;/dt&gt; &lt;dd&gt; A business or
								validation error occurred for the PageMetadata Service.
								&lt;/dd&gt; &lt;dt&gt; SOA &lt;/dt&gt;
								&lt;dd&gt; An exception occurred in the Service Oriented
								Architecture (SOA) framework. &lt;/dd&gt;
								&lt;/dl&gt; </xs:documentation>
							<xs:appinfo>
								<CallInfo>
									<AllCalls/>
									<Returned>Conditionally</Returned>
								</CallInfo>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="severity" type="tns:ErrorSeverity">
						<xs:annotation>
							<xs:documentation> Indicates whether the error caused the request to
								fail (Error) or not (Warning). &lt;br&gt;&lt;br&gt;
								If the request fails and the source of the problem is within the
								application (such as a missing required element), please change the
								application before you retry the request. If the problem is due to
								end-user input data, please alert the end-user to the problem and
								provide the means for them to correct the data. Once the problem in
								the application or data is resolved, you can attempt to re- send the
								request to eBay. &lt;br&gt;&lt;br&gt; If the source
								of the problem is on eBay's side, you can retry the request as-is a
								reasonable number of times (eBay recommends twice). If the error
								persists, contact Developer Technical Support. Once the problem has
								been resolved, the request may be resent in its original form.
								&lt;br&gt;&lt;br&gt; When a warning occurs, the
								error is returned in addition to the business data. In this case,
								you do not need to retry the request (as the original request was
								successful). However, depending on the cause or nature of the
								warning, you might need to contact either the end user or eBay to
								effect a long term solution to the problem to prevent it from
								reoccurring in the future. </xs:documentation>
							<xs:appinfo>
								<CallInfo>
									<AllCalls/>
									<Returned>Conditionally</Returned>
								</CallInfo>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="category" type="tns:ErrorCategory">
						<xs:annotation>
							<xs:documentation> There are three categories of errors: request errors,
								application errors, and system errors. </xs:documentation>
							<xs:appinfo>
								<CallInfo>
									<AllCalls/>
									<Returned>Conditionally</Returned>
								</CallInfo>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="message" type="xs:string">
						<xs:annotation>
							<xs:documentation> A detailed description of the condition that resulted
								in the error. </xs:documentation>
							<xs:appinfo>
								<CallInfo>
									<AllCalls/>
									<Returned>Conditionally</Returned>
								</CallInfo>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="subdomain" type="xs:string">
						<xs:annotation>
							<xs:documentation> Name of the subdomain upon which the error occurred.
								&lt;dl&gt; &lt;lh&gt;Subdomains
								include:&lt;/lh&gt; &lt;dt&gt; Merchandising
								&lt;/dt&gt; &lt;dd&gt; The error is specific to the
								Merchandising service. &lt;/dd&gt; &lt;dt&gt;
								MarketplaceCommon &lt;/dt&gt; &lt;dd&gt; The error
								is common to all Marketplace services. &lt;/dd&gt;
								&lt;/dl&gt; </xs:documentation>
							<xs:appinfo>
								<CallInfo>
									<AllCalls/>
									<Returned>Conditionally</Returned>
								</CallInfo>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="exceptionId" type="xs:token">
						<xs:annotation>
							<xs:documentation> Unique identifier for an exception associated with an
								error. </xs:documentation>
							<xs:appinfo>
								<CallInfo>
									<AllCalls/>
									<Returned>Conditionally</Returned>
								</CallInfo>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="parameter" type="tns:ErrorParameter">
						<xs:annotation>
							<xs:documentation> Some warning and error messages return one or more
								variables that contain contextual information about the error. This
								is often the field or value that triggered the error. </xs:documentation>
							<xs:appinfo>
								<CallInfo>
									<AllCalls/>
									<Returned>Conditionally</Returned>
								</CallInfo>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="ErrorParameter">
				<xs:annotation>
					<xs:documentation> Contextual information associated with an error.
					</xs:documentation>
				</xs:annotation>
				<xs:simpleContent>
					<xs:extension base="xs:string">
						<xs:attribute name="name" type="xs:string">
							<xs:annotation>
								<xs:documentation> The name of the parameter in the list of
									parameter types returned within the error type. </xs:documentation>
								<xs:appinfo>
									<CallInfo>
										<AllCalls/>
										<Returned> Conditionally </Returned>
									</CallInfo>
								</xs:appinfo>
							</xs:annotation>
						</xs:attribute>
					</xs:extension>
				</xs:simpleContent>
			</xs:complexType>
			<xs:simpleType name="ErrorSeverity">
				<xs:annotation>
					<xs:documentation> Indicates whether the error is a severe error (causing the
						request to fail) or an informational error (a warning) that should be
						communicated to the user. </xs:documentation>
				</xs:annotation>
				<xs:restriction base="xs:string">
					<xs:enumeration value="Error">
						<xs:annotation>
							<xs:documentation> The request that triggered the error was not
								processed successfully. When a serious application-level error
								occurs, the error is returned instead of the business data.
							</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="Warning">
						<xs:annotation>
							<xs:documentation> The request was processed successfully, but something
								occurred that may affect your application or the user. For example,
								eBay may have changed a value the user sent in. In this case, eBay
								returns a normal, successful response and also returns the warning.
							</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType name="ErrorCategory">
				<xs:annotation>
					<xs:documentation> There are three categories of error: request errors,
						application errors, and system errors. Request and application errors are
						caused primarily by invalid data passed in the request. System errors are
						caused primarily by application failures and cannot be corrected by changing
						request values. </xs:documentation>
				</xs:annotation>
				<xs:restriction base="xs:string">
					<xs:enumeration value="System">
						<xs:annotation>
							<xs:documentation> Indicates that an error has occurred on the eBay
								system side, such as a database or server down. An application can
								retry the request as-is a reasonable number of times (eBay
								recommends twice). If the error persists, contact Developer
								Technical Support. Once the problem has been resolved, the request
								may be resent in its original form. </xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="Application">
						<xs:annotation>
							<xs:documentation> An error occurred due to a problem with the request,
								such as missing or invalid fields. The problem must be corrected
								before the request can be made again. If the problem is due to
								something in the application (such as a missing required field), the
								application must be changed. Once the problem in the application or
								data is resolved, resend the corrected request to eBay.
							</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="Request">
						<xs:annotation>
							<xs:documentation> An error occurred due to a problem with the request,
								such as invalid or missing data. The problem must be corrected
								before the request can be made again. If the problem is a result of
								end-user data, the application must alert the end-user to the
								problem and provide the means for the end-user to correct the data.
								Once the problem in the data is resolved, resend the request to eBay
								with the corrected data. </xs:documentation>
						</xs:annotation>
					</xs:enumeration>
				</xs:restriction>
			</xs:simpleType>
			<xs:complexType name="Page">
				<xs:annotation>
					<xs:documentation> A page that is served to the user </xs:documentation>
				</xs:annotation>
				<xs:sequence>
					<xs:element maxOccurs="1" minOccurs="1" name="pageName" type="xs:string">
						<xs:annotation>
							<xs:documentation> Name given to a page by an application. A page name
								is unique within an application. </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element maxOccurs="1" minOccurs="1" name="applicationId" type="xs:long">
						<xs:annotation>
							<xs:documentation> A name space for a logical set of pages, representing
								an application. </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element maxOccurs="1" minOccurs="1" name="pageStatus" type="tns:PageStatus">
						<xs:annotation>
							<xs:documentation> Status of the page. </xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element maxOccurs="1" minOccurs="1" name="pagePublishDate" type="xs:dateTime">
						<xs:annotation>
							<xs:documentation> Date from when the page will be shown to the user.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element maxOccurs="1" minOccurs="1" name="pageClientId" type="xs:long">
						<xs:annotation>
							<xs:documentation> A client of the service. A client can have multiple
								applications, each of which can have several pages.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element maxOccurs="1" minOccurs="0" name="pageExpirationDate" type="xs:dateTime">
						<xs:annotation>
							<xs:documentation> Date when the page will no longer be shown to the
								user. </xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
				<xs:attribute name="pageId" type="xs:long">
					<xs:annotation>
						<xs:documentation> A unique identifier for the page. This is unique across
							applications and clients. </xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:complexType>
			<xs:simpleType name="PageStatus">
				<xs:restriction base="xs:string">
					<xs:annotation>
						<xs:documentation> Status of the page Inactive: Indicates that the page will
							not be served Active: Indicates that the page can be served Expired:
							Indicates that the page has expired and will not be served Removed:
							Indicates that the page has been deleted and no longer available
							Replaced: Indicates that the page has been replaced by another page
						</xs:documentation>
					</xs:annotation>
					<xs:enumeration value="Inactive"/>
					<xs:enumeration value="Active"/>
					<xs:enumeration value="Expired"/>
					<xs:enumeration value="Removed"/>
					<xs:enumeration value="Replaced"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:complexType name="GetAllPagesRequest">
				<xs:annotation>
					<xs:documentation> Returns all pages for the specified client identifier and
						range (defined by start and requested number of records) that are not in
						removed state </xs:documentation>
				</xs:annotation>
				<xs:complexContent>
					<xs:extension base="tns:BaseServiceRequest">
						<xs:all>
							<xs:element maxOccurs="1" minOccurs="1" name="clientId" type="xs:int">
								<xs:annotation>
									<xs:documentation> Client to whom the page belongs
									</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element maxOccurs="1" minOccurs="1" name="start" type="xs:int">
								<xs:annotation>
									<xs:documentation> Starting position of Page record to be
										retrieved. </xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element maxOccurs="1" minOccurs="1" name="maxRecord" type="xs:string">
							</xs:element>
						</xs:all>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:complexType name="GetAllPagesResponse">
				<xs:annotation>
					<xs:documentation> This returns range of ebay pages record found database that
						do not have Page Status 'Removed' for given Client. </xs:documentation>
				</xs:annotation>
				<xs:complexContent>
					<xs:extension base="tns:BaseServiceResponse">
						<xs:sequence>
							<xs:element maxOccurs="10000" minOccurs="0" name="pages" type="tns:Page">
								<xs:annotation>
									<xs:documentation> List of pages </xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="getAllPagesResponse">
		<wsdl:part element="ns0:getAllPagesResponse" name="parameters">
			<wsdl:documentation> Response containing the list of pages or error message.
			</wsdl:documentation>
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="getAllPagesRequest">
		<wsdl:part element="ns0:getAllPagesRequest" name="parameters">
			<wsdl:documentation> Request to get all pages that are not in 'removed' status for given
				client and number of records. </wsdl:documentation>
		</wsdl:part>
	</wsdl:message>
	<wsdl:portType name="PageMetadataServicePortType">
		<wsdl:operation name="getAllPages">
			<wsdl:documentation> Serve all pages that are not in 'removed' status for given client
				and number of records. </wsdl:documentation>
			<wsdl:input message="ns0:getAllPagesRequest"> </wsdl:input>
			<wsdl:output message="ns0:getAllPagesResponse"> </wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="PageMetadataServiceSOAPBinding" type="ns0:PageMetadataServicePortType">
		<soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="getAllPages">
			<soap12:operation soapAction="urn:getAllPages" style="document"/>
			<wsdl:input>
				<soap12:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="PageMetadataServiceHttpBinding" type="ns0:PageMetadataServicePortType">
		<http:binding verb="POST"/>
		<wsdl:operation name="getAllPages">
			<http:operation location="PageMetadataService/getAllPages"/>
			<wsdl:input>
				<mime:content part="getAllPagesRequest" type="text/xml"/>
			</wsdl:input>
			<wsdl:output>
				<mime:content part="getAllPagesResponse" type="text/xml"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="PageMetadataService">
		<wsdl:documentation>
			<Version>1.0.0</Version>
		</wsdl:documentation>
		<wsdl:port binding="ns0:PageMetadataServiceHttpBinding" name="PageMetadataServiceHttp">
			<http:address location="http://svcs.ebay.com/PageMetadataService"/>
		</wsdl:port>
		<wsdl:port binding="ns0:PageMetadataServiceSOAPBinding" name="PageMetadataServiceSOAP">
			<soap12:address location="http://svcs.ebay.com/PageMetadataService"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>