codegen/codegen-tools/src/test/resources/org/ebayopensource/turmeric/test/tools/codegen/data/proto/RadarEvaluationService_for_tags.wsdl

<?xml version="1.0" encoding="UTF-8"?><definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:ns0="http://www.ebayopensource.org/tumeric/security/v1/services" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.ebayopensource.org/tumeric/security/v1/services">
  <types>
    <xs:schema xmlns:tns="http://www.ebayopensource.org/tumeric/security/v1/services" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.ebayopensource.org/tumeric/security/v1/services">

<xs:element name="getRadarScoreRequest" type="tns:GetRadarScoreRequest"/>
<xs:element name="getRadarScoreResponse" type="tns:GetRadarScoreResponse"/>
<xs:element name="getVersionRequest" type="tns:GetVersionRequest"/>
<xs:element name="getVersionResponse" type="tns:GetVersionResponse"/>

<xs:complexType name="GetVersionRequest">
  <xs:complexContent>
  <xs:extension base="tns:BaseRequest"/>
  </xs:complexContent>
</xs:complexType>
 
<xs:complexType name="GetVersionResponse">
  <xs:complexContent>
  <xs:extension base="tns:BaseResponse"/>
  </xs:complexContent>
</xs:complexType>






<xs:complexType name="GetRadarScoreResponse">
	<xs:complexContent>
		<xs:extension base="tns:BaseResponse">
			<xs:sequence>
				<xs:element name="Score" type="xs:int">
				</xs:element>
			</xs:sequence>
		</xs:extension>
	</xs:complexContent>
</xs:complexType>


<xs:complexType name="GetRadarScoreRequest">
	<xs:complexContent>
		<xs:extension base="tns:BaseRequest">
			<xs:sequence>

				<xs:element name="userId" type="xs:long">
				</xs:element>
				<xs:element name="transactionData" type="xs:string">
				</xs:element>
				<xs:element name="modelName" type="xs:string">
				</xs:element>
				<xs:element name="client" type="xs:string">
				</xs:element>
				<xs:element name="payload" type="xs:base64Binary">
				</xs:element>
			</xs:sequence>
		</xs:extension>
	</xs:complexContent>
</xs:complexType>
















<xs:complexType name="ErrorParameter">
		<xs:annotation>
			<xs:documentation>Documentation goes here</xs:documentation>
			
		<xs:appinfo><typeLibrarySource library="common-type-library" namespace="http://www.ebayopensource.org/tumeric/services"/></xs:appinfo></xs:annotation>

		<xs:simpleContent>
		  <xs:extension base="xs:string">
		    <xs:attribute name="name" type="xs:string" use="optional"/>
		  </xs:extension>
		</xs:simpleContent>
	</xs:complexType><xs:complexType abstract="true" name="BaseRequest">
		<xs:annotation>
			<xs:documentation>
				This is the base class for request container for all
				service operations.
			</xs:documentation>
		<xs:appinfo><typeLibrarySource library="common-type-library" namespace="http://www.ebayopensource.org/tumeric/services"/></xs:appinfo></xs:annotation>
		<xs:sequence>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="extension" type="tns:ExtensionType"/>
		</xs:sequence>
	</xs:complexType><xs:simpleType name="AckValue">
		<xs:annotation>
			<xs:documentation>
				Indicates whether the error is a severe error (causing the request to fail)
				or an informational error (a warning) that should be communicated to the
				user.
			</xs:documentation>
		<xs:appinfo><typeLibrarySource library="common-type-library" namespace="http://www.ebayopensource.org/tumeric/services"/></xs:appinfo></xs:annotation>
		<xs:restriction base="xs:string">
	
			<xs:enumeration value="Success">
				<xs:annotation>
					<xs:documentation>
						The request was processed successfully, but something occurred that may
						affect your application or the user.				
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Failure">
				<xs:annotation>
	
					<xs:documentation>
						The request that triggered the error was not processed successfully.
						When a serious application-level error occurs, the error is returned
						instead of the business data.
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Warning">
				<xs:annotation>
					<xs:documentation>
						The request that triggered the error was processed successfully but with some warnings.
					</xs:documentation>
	
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="PartialFailure">
				<xs:annotation>
					<xs:documentation>
						The request that triggered the error was processed successfully but with some warnings.				</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
	
		</xs:restriction>
	</xs:simpleType><xs:complexType abstract="true" name="BaseResponse">
		<xs:annotation>
			<xs:documentation>
				Base response container for all service operations.
				Contains error information associated with the request.
			</xs:documentation>
		<xs:appinfo><typeLibrarySource library="common-type-library" namespace="http://www.ebayopensource.org/tumeric/services"/></xs:appinfo></xs:annotation>

		<xs:sequence>
			<xs:element name="ack" type="ns0:AckValue">
				<xs:annotation>
					<xs:documentation>

					</xs:documentation>
					<xs:appinfo>
						<CallInfo>
							<AllCalls/>
							<Returned>Always</Returned>

						</CallInfo>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="errorMessage" type="xs:string">
				<xs:annotation>
					<xs:documentation>
						Information for an error or warning that
						occurred when eBay processed the request.
					</xs:documentation>

					<xs:appinfo>
						<CallInfo>
							<AllCalls/>
							<Returned>Conditionally</Returned>
						</CallInfo>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element minOccurs="0" name="version" type="xs:string">
				<xs:annotation>
					<xs:documentation/>
					<xs:appinfo>
						<CallInfo>
							<AllCalls/>
							<Returned>Always</Returned>

						</CallInfo>
					</xs:appinfo>
				</xs:annotation>

			</xs:element>
			<xs:element minOccurs="0" name="timestamp" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation/>

					<xs:appinfo>
						<CallInfo>
							<AllCalls/>
							<Returned>Always</Returned>
						</CallInfo>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="extension" type="tns:ExtensionType"/>
		</xs:sequence>
	</xs:complexType><xs:simpleType name="ErrorCategory">
		<xs:annotation>
			<xs:documentation>
				Documentation goes here.
			</xs:documentation>
		<xs:appinfo><typeLibrarySource library="common-type-library" namespace="http://www.ebayopensource.org/tumeric/services"/></xs:appinfo></xs:annotation>

      <xs:restriction base="xs:token">
        <xs:enumeration value="System"/>
        <xs:enumeration value="Application"/>
        <xs:enumeration value="Request"/>
      </xs:restriction>

	</xs:simpleType><xs:complexType name="ErrorData">
		<xs:annotation>
			<xs:documentation>Documentation goes here</xs:documentation>
			
		<xs:appinfo><typeLibrarySource library="common-type-library" namespace="http://www.ebayopensource.org/tumeric/services"/></xs:appinfo></xs:annotation>
	
	  <xs:sequence>
        	<xs:element name="errorId" type="xs:long"/>
		  	<xs:element name="domain" type="xs:string"/>
			<xs:element minOccurs="0" name="subdomain" type="xs:string"/>
			<xs:element name="severity" type="xs:string"/>
	  		<xs:element name="category" type="ns0:ErrorCategory"/>
	  		<xs:element name="message" type="xs:string"/>
	  		<xs:element minOccurs="0" name="exceptionId" type="xs:token"/>
	  		<xs:element maxOccurs="unbounded" minOccurs="0" name="parameter" type="ns0:ErrorParameter"/>
		</xs:sequence>
	
	
	</xs:complexType><xs:complexType name="ErrorMessage">
		<xs:annotation>
			<xs:documentation>Documentation goes here</xs:documentation>
			
		<xs:appinfo><typeLibrarySource library="common-type-library" namespace="http://www.ebayopensource.org/tumeric/services"/></xs:appinfo></xs:annotation>
		
		<!-- 
		<xs:sequence>

				processContents="lax" />
		</xs:sequence>
		-->
		
    	<xs:sequence>
    		<xs:element maxOccurs="unbounded" minOccurs="0" name="error" type="ns0:ErrorData">
    		</xs:element>
    	</xs:sequence>
		
	</xs:complexType><xs:simpleType name="ErrorSeverity">
		<xs:annotation>
			<xs:documentation>
				Documentation goes here.
			</xs:documentation>
		<xs:appinfo><typeLibrarySource library="common-type-library" namespace="http://www.ebayopensource.org/tumeric/services"/></xs:appinfo></xs:annotation>

      <xs:restriction base="xs:token">
        <xs:enumeration value="Error"/>
        <xs:enumeration value="Warning"/>
      </xs:restriction>

	</xs:simpleType><xs:complexType name="ExtensionType">
		<xs:annotation>
			<xs:documentation>Documentation goes here</xs:documentation>
			
		<xs:appinfo><typeLibrarySource library="common-type-library" namespace="http://www.ebayopensource.org/tumeric/services"/></xs:appinfo></xs:annotation>
		<xs:sequence>
			<xs:element name="id" type="xs:positiveInteger"/>
			<xs:element name="version" type="xs:string"/>
			<xs:element name="contentType" type="xs:string"/>
			<xs:element name="value" type="xs:string"/>

		</xs:sequence>
	</xs:complexType></xs:schema>
  </types>
  <message name="getVersionResponse">
    <part element="ns0:getVersionResponse" name="params">
    </part>
  </message>
  <message name="getRadarScoreResponse">
    <part element="ns0:getRadarScoreResponse" name="params">
    </part>
  </message>
  <message name="getVersionRequest">
    <part element="ns0:getVersionRequest" name="params">
    </part>
  </message>
  <message name="getRadarScoreRequest">
    <part element="ns0:getRadarScoreRequest" name="params">
    </part>
  </message>
  <portType name="RadarEvaluationServicePort">
    <operation name="getRadarScore">
      <input message="ns0:getRadarScoreRequest">
    </input>
      <output message="ns0:getRadarScoreResponse">
    </output>
    </operation>
    <operation name="getVersion">
      <input message="ns0:getVersionRequest">
    </input>
      <output message="ns0:getVersionResponse">
    </output>
    </operation>
  </portType>
  <binding name="RadarEvaluationServiceSOAPBinding" type="ns0:RadarEvaluationServicePort">
    <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="getRadarScore">
      <soap12:operation soapAction="urn:getRadarScore" style="document"/>
      <input>
        <soap12:body use="literal"/>
      </input>
      <output>
        <soap12:body use="literal"/>
      </output>
    </operation>
    <operation name="getVersion">
      <soap12:operation soapAction="urn:getVersion" style="document"/>
      <input>
        <soap12:body use="literal"/>
      </input>
      <output>
        <soap12:body use="literal"/>
      </output>
    </operation>
  </binding>
  <binding name="RadarEvaluationServiceHttpBinding" type="ns0:RadarEvaluationServicePort">
    <http:binding verb="POST"/>
    <operation name="getRadarScore">
      <http:operation location="RadarEvaluationService/getRadarScore"/>
      <input>
        <mime:content part="getRadarScore" type="text/xml"/>
      </input>
      <output>
        <mime:content part="getRadarScore" type="text/xml"/>
      </output>
    </operation>
    <operation name="getVersion">
      <http:operation location="RadarEvaluationService/getVersion"/>
      <input>
        <mime:content part="getVersion" type="text/xml"/>
      </input>
      <output>
        <mime:content part="getVersion" type="text/xml"/>
      </output>
    </operation>
  </binding>
  <service name="RadarEvaluationService">
    <port binding="ns0:RadarEvaluationServiceHttpBinding" name="RadarEvaluationServiceHttpPort">
      <http:address location="https://svcs.ebay.com/services/user/RadarEvaluationService/v1"/>
    </port>
    <port binding="ns0:RadarEvaluationServiceSOAPBinding" name="RadarEvaluationServiceSOAPPort">
      <soap12:address location="https://svcs.ebay.com/services/user/RadarEvaluationService/v1"/>
    </port>
  </service>
</definitions>