codegen/codegen-tools/src/test/resources/org/ebayopensource/turmeric/test/tools/codegen/data/proto/RetrieveArtifactDirectly_for_tags.wsdl

<?xml version="1.0" encoding="UTF-8"?><definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://www.ebayopensource.org/tumeric/utility/v1/services" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="RetrieveArtifactDirectly" targetNamespace="http://www.ebayopensource.org/tumeric/utility/v1/services">
  <types>
    <xsd:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.ebayopensource.org/tumeric/utility/v1/services">

			<xsd:complexType name="CreateShortURIResponse">
				<xsd:annotation>
				<xsd:documentation>Creates a ShortURI.</xsd:documentation>
					<xsd:appinfo>
						<typeLibrarySource library="common-type-library" namespace="http://www.ebayopensource.org/tumeric/services/shorturi">
						</typeLibrarySource>
					</xsd:appinfo>
				</xsd:annotation>
				<xsd:complexContent>
					<xsd:extension base="tns:BaseServiceResponse">
						<xsd:sequence>
							<xsd:element maxOccurs="1" minOccurs="0" name="shortURI" type="xsd:anyURI">
								<xsd:annotation>
									<xsd:documentation>
										The generated ShortURI for a URI.
									</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
						</xsd:sequence>
					</xsd:extension>
				</xsd:complexContent>
			</xsd:complexType>

			<xsd:complexType name="DeleteRequest">
				<xsd:annotation>
				  <xsd:documentation>
					Deletes a request.
					</xsd:documentation>
					<xsd:appinfo>
						<typeLibrarySource library="common-type-library" namespace="http://www.ebayopensource.org/tumeric/services/shorturi">
						</typeLibrarySource>
					</xsd:appinfo>
				</xsd:annotation>
				<xsd:complexContent>
					<xsd:extension base="tns:BaseServiceRequest">
						<xsd:sequence>
							<xsd:element maxOccurs="1" minOccurs="1" name="shortURI" type="xsd:anyURI">
								<xsd:annotation>
									<xsd:documentation>
										ShortURI to deactivate.
									</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
						</xsd:sequence>
					</xsd:extension>
				</xsd:complexContent>
			</xsd:complexType>

			<xsd:complexType name="DeleteResponse">
				<xsd:annotation>
				<xsd:documentation>
					Deletes a request.
					</xsd:documentation>
					<xsd:appinfo>
						<typeLibrarySource library="common-type-library" namespace="http://www.ebayopensource.org/tumeric/services/shorturi">
						</typeLibrarySource>
					</xsd:appinfo>
				</xsd:annotation>
				<xsd:complexContent>
					<xsd:extension base="tns:BaseServiceResponse">
						<xsd:sequence>

						</xsd:sequence>
					</xsd:extension>
				</xsd:complexContent>
			</xsd:complexType>

			<xsd:complexType name="ExtendedURIEntry">
				<xsd:annotation>
					<xsd:documentation>
						Represents an Extended URI entry.
					</xsd:documentation>

					<xsd:appinfo>
						<typeLibrarySource library="common-type-library" namespace="http://www.ebayopensource.org/tumeric/services/shorturi">
						</typeLibrarySource>
					</xsd:appinfo>
				</xsd:annotation>
				<xsd:complexContent>
					<xsd:extension base="tns:BaseURIEntry">
						<xsd:sequence>
							<xsd:element maxOccurs="1" minOccurs="0" name="creator" type="xsd:string">
								<xsd:annotation>
									<xsd:documentation>
										The APPID that creates the
										ShortURI.
									</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element maxOccurs="1" minOccurs="0" name="creationDate" type="xsd:dateTime">
								<xsd:annotation>
									<xsd:documentation>
										Creation date for a ShortURI.
									</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element maxOccurs="1" minOccurs="0" name="modificationDate" type="xsd:dateTime">
								<xsd:annotation>
									<xsd:documentation>
										Last date of modification of a
										ShortURI.
									</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
						</xsd:sequence>
					</xsd:extension>
				</xsd:complexContent>
			</xsd:complexType>

			<xsd:complexType name="GetInfoLongRequest">
				<xsd:annotation>
				<xsd:documentation>
					Searches for a shortURI and returns information such 
					as the longURI, creator, namespace, and tags.
					</xsd:documentation>
					<xsd:appinfo>
						<typeLibrarySource library="common-type-library" namespace="http://www.ebayopensource.org/tumeric/services/shorturi">
						</typeLibrarySource>
					</xsd:appinfo>
				</xsd:annotation>
				<xsd:complexContent>
					<xsd:extension base="tns:BaseServiceRequest">
						<xsd:sequence>
							<xsd:element maxOccurs="1" minOccurs="1" name="longURI" type="xsd:anyURI">
								<xsd:annotation>
									<xsd:documentation>
										The LongURI for which
										information is needed.
									</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
						</xsd:sequence>
					</xsd:extension>
				</xsd:complexContent>
			</xsd:complexType>

			<xsd:complexType name="GetInfoLongResponse">
				<xsd:annotation>
				<xsd:documentation>
					Gets the long URI for a ShortURI request.
					</xsd:documentation>
					<xsd:appinfo>
						<typeLibrarySource library="common-type-library" namespace="http://www.ebayopensource.org/tumeric/services/shorturi">
						</typeLibrarySource>
					</xsd:appinfo>
				</xsd:annotation>
				<xsd:complexContent>
					<xsd:extension base="tns:BaseServiceResponse">
						<xsd:sequence>
							<xsd:element maxOccurs="unbounded" minOccurs="0" name="uriEntry" type="tns:ExtendedURIEntry">
								<xsd:annotation>
									<xsd:documentation>
										Information about a
										LongURI.
									</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
						</xsd:sequence>
					</xsd:extension>
				</xsd:complexContent>
			</xsd:complexType>

			<xsd:complexType name="GetInfoShortRequest">
				<xsd:annotation>
				<xsd:documentation>
					Searches for a shortURI and returns information such 
					as the longURI, creator, namespace, and tags.
					</xsd:documentation>
					<xsd:appinfo>
						<typeLibrarySource library="common-type-library" namespace="http://www.ebayopensource.org/tumeric/services/shorturi">
						</typeLibrarySource>
					</xsd:appinfo>
				</xsd:annotation>
				<xsd:complexContent>
					<xsd:extension base="tns:BaseServiceRequest">
						<xsd:sequence>
							<xsd:element maxOccurs="1" minOccurs="1" name="shortURI" type="xsd:anyURI">
								<xsd:annotation>
									<xsd:documentation>
										The ShortURI for which
										information is needed.
										example:
										http://ebay.us/xyz123
									</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
						</xsd:sequence>
					</xsd:extension>
				</xsd:complexContent>
			</xsd:complexType>

			<xsd:complexType name="GetInfoShortResponse">
				<xsd:annotation>
				<xsd:documentation>
					Gets the short information about a ShortURI request.
					</xsd:documentation>
					<xsd:appinfo>
						<typeLibrarySource library="common-type-library" namespace="http://www.ebayopensource.org/tumeric/services/shorturi">
						</typeLibrarySource>
					</xsd:appinfo>
				</xsd:annotation>
				<xsd:complexContent>
					<xsd:extension base="tns:BaseServiceResponse">
						<xsd:sequence>
							<xsd:element maxOccurs="1" minOccurs="0" name="uriEntry" type="tns:ExtendedURIEntry">
								<xsd:annotation>
									<xsd:documentation>
										Information about a
										ShortURI.
									</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
						</xsd:sequence>
					</xsd:extension>
				</xsd:complexContent>
			</xsd:complexType>

			<xsd:complexType name="GetStatsRequest">
				<xsd:annotation>
				<xsd:documentation>
				Returns statistics for a shortURI, which includes the total number of
				clicks, and clicks grouped by browser, referrer, and time.
					</xsd:documentation>
					<xsd:appinfo>
						<typeLibrarySource library="common-type-library" namespace="http://www.ebayopensource.org/tumeric/services/shorturi">
						</typeLibrarySource>
					</xsd:appinfo>
				</xsd:annotation>
				<xsd:complexContent>
					<xsd:extension base="tns:BaseServiceRequest">
						<xsd:sequence>
							<xsd:element maxOccurs="1" minOccurs="1" name="shortURI" type="xsd:anyURI">
								<xsd:annotation>
									<xsd:documentation>
										The ShortURI for which
										Statistics is needed.
										example:
										http://ebay.us/xyz123
									</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
						</xsd:sequence>
					</xsd:extension>
				</xsd:complexContent>
			</xsd:complexType>

			<xsd:complexType name="GetStatsResponse">
				<xsd:annotation>
				<xsd:documentation>
					Gets the statistics information about a ShortURI request.
					</xsd:documentation>
					<xsd:appinfo>
						<typeLibrarySource library="common-type-library" namespace="http://www.ebayopensource.org/tumeric/services/shorturi">
						</typeLibrarySource>
					</xsd:appinfo>
				</xsd:annotation>
				<xsd:complexContent>
					<xsd:extension base="tns:BaseServiceResponse">
						<xsd:sequence>
							<xsd:element maxOccurs="1" minOccurs="0" name="uriStats" type="tns:URIStats">
								<xsd:annotation>
									<xsd:documentation>
										Statistics for a
										ShortURI.
									</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
						</xsd:sequence>
					</xsd:extension>
				</xsd:complexContent>
			</xsd:complexType>

			<xsd:complexType name="URIStats">
				<xsd:annotation>
					<xsd:documentation>
						Provides URI statistics.
					</xsd:documentation>

					<xsd:appinfo>
						<typeLibrarySource library="common-type-library" namespace="http://www.ebayopensource.org/tumeric/services/shorturi">
						</typeLibrarySource>
					</xsd:appinfo>
				</xsd:annotation>
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="0" name="shortURI" type="xsd:anyURI">
						<xsd:annotation>
							<xsd:documentation>
								ShortURI for the statistics.
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="totalClicks" type="xsd:unsignedLong">
						<xsd:annotation>
							<xsd:documentation>
								Total number of times that the ShortURI is
								accessed.
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element maxOccurs="unbounded" minOccurs="0" name="statsDetail" type="tns:URIStatsDetail">
						<xsd:annotation>
							<xsd:documentation>
								Statistics Grouped by User-Agent,
								Referrer, and
								Location.
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="URIStatsDetail">
				<xsd:annotation>
					<xsd:documentation>
						Represents URI statistics detail.
					</xsd:documentation>

					<xsd:appinfo>
						<typeLibrarySource library="common-type-library" namespace="http://www.ebayopensource.org/tumeric/services/shorturi">
						</typeLibrarySource>
					</xsd:appinfo>
				</xsd:annotation>
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="1" name="clicks" type="xsd:unsignedLong">
						<xsd:annotation>
						<xsd:documentation>
					    Number of clicks on the short URI.
					    </xsd:documentation>
					    </xsd:annotation>
					</xsd:element>
					<xsd:choice>
						<xsd:element maxOccurs="1" minOccurs="1" name="referrer" type="xsd:string">
							<xsd:annotation>
								<xsd:documentation>
									Web site that referred this shortURI.
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element maxOccurs="1" minOccurs="1" name="useragent" type="xsd:string">
							<xsd:annotation>
								<xsd:documentation>
									Browser used by the client.
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element maxOccurs="1" minOccurs="1" name="location" type="xsd:string">
							<xsd:annotation>
								<xsd:documentation>
									Geographical location of the client.
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element maxOccurs="1" minOccurs="1" name="time" type="xsd:string">
							<xsd:annotation>
								<xsd:documentation>
									Time when the ShortURI was accessed.
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
					</xsd:choice>
				</xsd:sequence>
			</xsd:complexType>

			<xsd:complexType name="LookupRequest">
				<xsd:annotation>
				<xsd:documentation>
					Searches for a shortURI and returns a longURI.
					</xsd:documentation>
					<xsd:appinfo>
						<typeLibrarySource library="common-type-library" namespace="http://www.ebayopensource.org/tumeric/services/shorturi">
						</typeLibrarySource>
					</xsd:appinfo>
				</xsd:annotation>
				<xsd:complexContent>
					<xsd:extension base="tns:BaseServiceRequest">
						<xsd:sequence>
							<xsd:element maxOccurs="1" minOccurs="1" name="shortURI" type="xsd:anyURI">
								<xsd:annotation>
									<xsd:documentation>
										The ShortURI to
										search for. Example:
										http://ebay.us/xyz123
									</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
						</xsd:sequence>
					</xsd:extension>
				</xsd:complexContent>
			</xsd:complexType>



			<xsd:complexType name="RegisterShortURIResponse">
				<xsd:annotation>
				<xsd:documentation>
					The registered ShortURI for the
				  URI.
					</xsd:documentation>
					<xsd:appinfo>
						<typeLibrarySource library="common-type-library" namespace="http://www.ebayopensource.org/tumeric/services/shorturi">
						</typeLibrarySource>
					</xsd:appinfo>
				</xsd:annotation>
				<xsd:complexContent>
					<xsd:extension base="tns:BaseServiceResponse">
						<xsd:sequence>
							<xsd:element maxOccurs="1" minOccurs="0" name="shortURI" type="xsd:anyURI">
								<xsd:annotation>
									<xsd:documentation>
										The registered ShortURI for 
										a URI.
									</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
						</xsd:sequence>
					</xsd:extension>
				</xsd:complexContent>
			</xsd:complexType>


			<xsd:complexType name="SearchResponse">
				<xsd:annotation>
				<xsd:documentation>
				 Search response.
				 </xsd:documentation>  
					<xsd:appinfo>
						<typeLibrarySource library="common-type-library" namespace="http://www.ebayopensource.org/tumeric/services/shorturi">
						</typeLibrarySource>
					</xsd:appinfo>
				</xsd:annotation>
				<xsd:complexContent>
					<xsd:extension base="tns:BaseServiceResponse">
						<xsd:sequence>
							<xsd:element maxOccurs="unbounded" minOccurs="0" name="entries" type="tns:ExtendedURIEntry">
								<xsd:annotation>
									<xsd:documentation>
										Search Result for the given
										criteria.
									</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
						</xsd:sequence>
					</xsd:extension>
				</xsd:complexContent>
			</xsd:complexType>



			<xsd:complexType name="UpdateResponse">
				<xsd:annotation>
				  <xsd:documentation>
					Update response.
					</xsd:documentation>
					<xsd:appinfo>
						<typeLibrarySource library="common-type-library" namespace="http://www.ebayopensource.org/tumeric/services/shorturi">
						</typeLibrarySource>
					</xsd:appinfo>
				</xsd:annotation>
				<xsd:complexContent>
					<xsd:extension base="tns:BaseServiceResponse">
						<xsd:sequence>
							<xsd:element maxOccurs="1" minOccurs="1" name="output" type="xsd:string">
							   <xsd:annotation>
							    <xsd:documentation>
							    Updated output.
							    </xsd:documentation>
							    </xsd:annotation>
							</xsd:element>
						</xsd:sequence>
					</xsd:extension>
				</xsd:complexContent>
			</xsd:complexType>

			<xsd:complexType name="GetVersionRequest">
				<xsd:annotation>
					<xsd:documentation>
						Gets the version of this service and the timestamp for when the server processes the request.
					</xsd:documentation>
				</xsd:annotation>
				<xsd:complexContent>
					<xsd:extension base="tns:BaseServiceRequest">
						<xsd:sequence/>
					</xsd:extension>
				</xsd:complexContent>
			</xsd:complexType>

			<xsd:complexType name="GetVersionResponse">
				<xsd:annotation>
					<xsd:documentation>
						Gets the version of this service and the timestamp for when the server processes the request.
					</xsd:documentation>
				</xsd:annotation>
				<xsd:complexContent>
					<xsd:extension base="tns:BaseServiceResponse">
						<xsd:sequence>
						</xsd:sequence>
					</xsd:extension>
				</xsd:complexContent>
			</xsd:complexType>


			<xsd:complexType name="GetSupportedBaseURIsRequest">
				<xsd:annotation>
					<xsd:documentation>
						Returns the list of currently supported base URIs.
					</xsd:documentation>
					<xsd:appinfo>
						<typeLibrarySource library="common-type-library" namespace="http://www.ebayopensource.org/tumeric/services/shorturi"/>
					</xsd:appinfo>
				</xsd:annotation>
				<xsd:complexContent>
					<xsd:extension base="tns:BaseServiceRequest">
						<xsd:sequence/>
					</xsd:extension>
				</xsd:complexContent>
			</xsd:complexType>
			<xsd:complexType name="GetSupportedBaseURIsResponse">
				<xsd:annotation>
					<xsd:documentation>
						The response type for the getBaseURIs.
						This contains a
						list of supported
						base URIs.
			        </xsd:documentation>
					<xsd:appinfo>
						<typeLibrarySource library="common-type-library" namespace="http://www.ebayopensource.org/tumeric/services/shorturi"/>
					</xsd:appinfo>
				</xsd:annotation>
				<xsd:complexContent>
					<xsd:extension base="tns:BaseServiceResponse">
						<xsd:sequence>
							<xsd:element maxOccurs="unbounded" minOccurs="0" name="baseURI" type="xsd:anyURI"/>
						</xsd:sequence>
					</xsd:extension>
				</xsd:complexContent>
			</xsd:complexType>


			<xsd:element name="createShortURIRequest" type="tns:CreateShortURIRequest"/>
			<xsd:element name="createShortURIResponse" type="tns:CreateShortURIResponse"/>
			<xsd:element name="registerShortURIRequest" type="tns:RegisterShortURIRequest"/>
			<xsd:element name="registerShortURIResponse" type="tns:RegisterShortURIResponse"/>
			<xsd:element name="lookupRequest" type="tns:LookupRequest"/>
			<xsd:element name="lookupResponse" type="tns:LookupResponse"/>
			<xsd:element name="getInfoShortRequest" type="tns:GetInfoShortRequest"/>
			<xsd:element name="getInfoShortResponse" type="tns:GetInfoShortResponse"/>
			<xsd:element name="getInfoLongRequest" type="tns:GetInfoLongRequest"/>
			<xsd:element name="getInfoLongResponse" type="tns:GetInfoLongResponse"/>
			<xsd:element name="getStatsRequest" type="tns:GetStatsRequest"/>
			<xsd:element name="getStatsResponse" type="tns:GetStatsResponse"/>
			<xsd:element name="searchRequest" type="tns:SearchRequest"/>
			<xsd:element name="searchResponse" type="tns:SearchResponse"/>
			<xsd:element name="updateRequest" type="tns:UpdateRequest"/>
			<xsd:element name="updateResponse" type="tns:UpdateResponse"/>
			<xsd:element name="deleteRequest" type="tns:DeleteRequest"/>
			<xsd:element name="deleteResponse" type="tns:DeleteResponse"/>
			<xsd:element name="getVersionRequest" type="tns:GetVersionRequest"/>
			<xsd:element name="getVersionResponse" type="tns:GetVersionResponse"/>
			<xsd:element name="getSupportedBaseURIsRequest" type="tns:GetSupportedBaseURIsRequest"/>
			<xsd:element name="getSupportedBaseURIsResponse" type="tns:GetSupportedBaseURIsResponse"/>
			
			<xsd:simpleType name="AckValue">
				<xsd:annotation>
					<xsd:documentation>
						Indicates whether the error is a severe error (causing the request to fail)
						or an informational error (a warning) that should be communicated
						to the
						user.
					</xsd:documentation>
					<xsd:appinfo>
						<typeLibrarySource library="common-type-library" namespace="http://www.ebayopensource.org/tumeric/services"/>
					</xsd:appinfo>
				</xsd:annotation>
				<xsd:restriction base="xsd:string">

					<xsd:enumeration value="Success">
						<xsd:annotation>
							<xsd:documentation>
								The request was processed successfully, but something occurred that
								may
								affect your application or the user.				
					</xsd:documentation>
						</xsd:annotation>
					</xsd:enumeration>
					<xsd:enumeration value="Failure">
						<xsd:annotation>

							<xsd:documentation>
								The request that triggered the error was not processed
								successfully.
								When a serious application-level error occurs, the error is returned
								instead of the business data.
					</xsd:documentation>
						</xsd:annotation>
					</xsd:enumeration>
					<xsd:enumeration value="Warning">
						<xsd:annotation>
							<xsd:documentation>
								The request that triggered the error was processed successfully but
								with some warnings.
					</xsd:documentation>

						</xsd:annotation>
					</xsd:enumeration>
					<xsd:enumeration value="PartialFailure">
						<xsd:annotation>
							<xsd:documentation>
								The request that triggered the error was processed successfully but
								with some warnings.				</xsd:documentation>
						</xsd:annotation>
					</xsd:enumeration>

				</xsd:restriction>
			</xsd:simpleType>
			<xsd:complexType abstract="true" name="BaseServiceResponse">
				<xsd:annotation>
					<xsd:documentation>
						Base response container for all service operations.
						Contains error information associated with the request.
					</xsd:documentation>
					<xsd:appinfo>
						<typeLibrarySource library="common-type-library" namespace="http://www.ebayopensource.org/tumeric/services"/>
					</xsd:appinfo>
				</xsd:annotation>

				<xsd:sequence>
					<xsd:element name="ack" type="tns:AckValue">
						<xsd:annotation>
							<xsd:documentation>
                             Indicates whether or not errors or warnings were 
                             generated during the processing of the request.
							</xsd:documentation>
							<xsd:appinfo>
								<CallInfo>
									<AllCalls/>
									<Returned>Always</Returned>
								</CallInfo>
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					
					<xsd:element minOccurs="0" name="errorMessage" type="tns:ErrorMessage">
						<xsd:annotation>
							<xsd:documentation>
								Information for an error or warning that
								occurred when eBay processed the request.
					        </xsd:documentation>
							<xsd:appinfo>
								<CallInfo>
									<AllCalls/>
									<Returned>Conditionally</Returned>
								</CallInfo>
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>

					<xsd:element minOccurs="0" name="version" type="xsd:string">
						<xsd:annotation>
							<xsd:documentation>
							The released version of this service that eBay uses to process the request.
							The version in use is normally the latest release version,
		  					as specified in the service documentation.							
							</xsd:documentation>
							<xsd:appinfo>
								<CallInfo>
									<AllCalls/>
									<Returned>Always</Returned>

								</CallInfo>
							</xsd:appinfo>
						</xsd:annotation>

					</xsd:element>
					<xsd:element minOccurs="0" name="timestamp" type="xsd:dateTime">
						<xsd:annotation>
							<xsd:documentation>
							This value represents the date and time when eBay processed the request.
							This value is returned in GMT, the ISO 8601 date and time format 
							(YYYY-MM-DDTHH:MM:SS.SSSZ). See the "dateTime" type for information 
							about the time format, and for details on converting to and from the GMT time zone.
							</xsd:documentation>

							<xsd:appinfo>
								<CallInfo>
									<AllCalls/>
									<Returned>Always</Returned>
								</CallInfo>
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>
					
				</xsd:sequence>
			</xsd:complexType>
			<xsd:simpleType name="ErrorCategory">
				<xsd:annotation>
					<xsd:documentation>
						There are three categories of errors: Request errors, Application 
          				errors, and system errors.	
					</xsd:documentation>
					<xsd:appinfo>
						<typeLibrarySource library="common-type-library" namespace="http://www.ebayopensource.org/tumeric/services"/>
					</xsd:appinfo>
				</xsd:annotation>

				<xsd:restriction base="xsd:token">
					<xsd:enumeration value="System">
					  <xsd:annotation>
					    <xsd:documentation>
					      System error.
					    </xsd:documentation>
                      </xsd:annotation>
					</xsd:enumeration>
					<xsd:enumeration value="Application">
					  <xsd:annotation>
					    <xsd:documentation>
					      Application error.
					    </xsd:documentation>
                      </xsd:annotation>					
					</xsd:enumeration>
					<xsd:enumeration value="Request">
					  <xsd:annotation>
					    <xsd:documentation>
					      Request error.
					    </xsd:documentation>
                      </xsd:annotation>					
					</xsd:enumeration>
				</xsd:restriction>

			</xsd:simpleType>
			<xsd:complexType name="ErrorData">
				<xsd:annotation>
					<xsd:documentation>A container for error details.
					</xsd:documentation>

					<xsd:appinfo>
						<typeLibrarySource library="common-type-library" namespace="http://www.ebayopensource.org/tumeric/services"/>
					</xsd:appinfo>
				</xsd:annotation>

				<xsd:sequence>
					<xsd:element name="errorId" type="xsd:long">
					<xsd:annotation>
					<xsd:documentation>
          A unique code that identifies the particular error condition that
          occurred. Your application can use error codes as identifiers in your
          customized error-handling algorithms.
          			</xsd:documentation>
          			</xsd:annotation>
					</xsd:element>
					
					<xsd:element name="domain" type="xsd:string">
					<xsd:annotation>
					<xsd:documentation>
          Name of the domain in which the error occurred.
          &lt;dl&gt;
          &lt;dt&gt;
            &lt;b&gt;domain values:&lt;/b&gt;
          &lt;/dt&gt;
          &lt;dt&gt;
            Marketplace
          &lt;/dt&gt;
          &lt;dd&gt;
            A business or validation error occurred in the service.
          &lt;/dd&gt;
          &lt;dt&gt;
            SOA 
          &lt;/dt&gt;
          &lt;dd&gt;
            An exception occurred in the SOA (Service Oriented Architecture)
            framework.
          &lt;/dd&gt;
          &lt;/dl&gt;	
          			</xsd:documentation>
          			</xsd:annotation>
					</xsd:element>
					
					<xsd:element minOccurs="0" name="subdomain" type="xsd:string">
					<xsd:annotation>
					<xsd:documentation>
          Name of the subdomain in which the error occurred:
          &lt;dl&gt;
          &lt;dt&gt;Subdomain values:&lt;/dt&gt;
          &lt;dt&gt;&lt;i&gt;ThisServiceDomain&lt;/i&gt;&lt;/dt&gt;
          &lt;dd&gt;The error is specific to this service.&lt;/dd&gt;
          &lt;dt&gt;MarketplaceCommon&lt;/dt&gt;
          &lt;dd&gt;The error is common to all services.&lt;/dd&gt;
          &lt;/dl&gt;	
          			</xsd:documentation>
          			</xsd:annotation>
					</xsd:element>
					
					<xsd:element name="severity" type="tns:ErrorSeverity">
					<xsd:annotation>
					<xsd:documentation>
          Indicates whether the reported problem is fatal (an error) or is less-
          severe (a warning). Review the error message details for information on
          the cause.
          &lt;br&gt;&lt;br&gt;
          If the request fails and the application is the source of the error (for
          example, a required element is missing), update the application before
          you retry the request. If the problem is due to incorrect user data,
          alert the end-user to the problem and provide the means for them to
          correct the data. 
          &lt;br&gt;&lt;br&gt;
          If the source of the problem is in the service, you can retry the request
          a reasonable number of times (try the request twice).
          After the problem is resolved, you can resend the request in its original
          form.
          &lt;br&gt;&lt;br&gt;
          If a warning occurs, warning information is returned in addition to the
          business data. Normally, you do not need to resend the request (as the
          original request was successful).	
          			</xsd:documentation>
          			</xsd:annotation> 					
					</xsd:element>
					
					<xsd:element name="category" type="tns:ErrorCategory">
					<xsd:annotation>
					<xsd:documentation>
          There are three categories of errors: Request errors, Application 
          errors, and System errors.		
          			</xsd:documentation>
          			</xsd:annotation>				
					</xsd:element>
					
					<xsd:element name="message" type="xsd:string">
					<xsd:annotation>
					<xsd:documentation>
					A detailed description of the condition that caused the error.		
          			</xsd:documentation>
          			</xsd:annotation>
					</xsd:element>
					
					<xsd:element minOccurs="0" name="exceptionId" type="xsd:token">
					<xsd:annotation>
					<xsd:documentation>
					Unique identifier for an exception associated with an error.		
          			</xsd:documentation>
          			</xsd:annotation>
					</xsd:element>
					
					<xsd:element maxOccurs="unbounded" minOccurs="0" name="parameter" type="tns:ErrorParameter">
					<xsd:annotation>
					<xsd:documentation>
          Various warning and error messages that return one or more variables that 
          contain contextual information about the error. This is often the 
          field or value that triggered the error.				
          			</xsd:documentation>
          			</xsd:annotation>				
					</xsd:element>
				</xsd:sequence>


			</xsd:complexType>

			<xsd:complexType name="ErrorMessage">
				<xsd:annotation>
					<xsd:documentation>
					Information regarding an error or warning that occurred when eBay processed
        the request. Not returned when the ack value is Success. Run-time errors are
        not reported here, but are instead reported as part of a SOAP fault.
					</xsd:documentation>
					<xsd:appinfo>
						<typeLibrarySource library="common-type-library" namespace="http://www.ebayopensource.org/tumeric/services"/>
					</xsd:appinfo>
				</xsd:annotation>

				<!--

					processContents="lax" /> </xs:sequence>
				-->

				<xsd:sequence>
					<xsd:element maxOccurs="unbounded" minOccurs="0" name="error" type="tns:ErrorData">
						<xsd:annotation>
         <xsd:documentation>
          Unbounded error.
         </xsd:documentation>
        </xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			
			<xsd:complexType name="ErrorParameter">
				<xsd:annotation>
					<xsd:documentation>Contextual data associated with an error.</xsd:documentation>
					<xsd:appinfo>
						<typeLibrarySource library="common-type-library" namespace="http://www.ebayopensource.org/tumeric/services"/>
					</xsd:appinfo>
				</xsd:annotation>

				<xsd:simpleContent>
					<xsd:extension base="xsd:string">
						<xsd:attribute name="name" type="xsd:string" use="optional">	
							<xsd:annotation>
							<xsd:documentation>
							Error name.
          					</xsd:documentation>
          					</xsd:annotation>
						</xsd:attribute>
					</xsd:extension>
				</xsd:simpleContent>
			</xsd:complexType>
			
			<xsd:simpleType name="ErrorSeverity">
				<xsd:annotation>
					<xsd:documentation>
        Indicates whether the error is a fatal error (causing the request to fail)
        or a less severe error (a warning) that should be communicated to the user.
			</xsd:documentation>
					<xsd:appinfo>
						<typeLibrarySource library="common-type-library" namespace="http://www.ebayopensource.org/tumeric/services"/>
					</xsd:appinfo>
				</xsd:annotation>

				<xsd:restriction base="xsd:token">
					<xsd:enumeration value="Error">
        <xsd:annotation>
          <xsd:documentation>
           Error type.
          </xsd:documentation>
        </xsd:annotation>					
					</xsd:enumeration>
					<xsd:enumeration value="Warning">
        <xsd:annotation>
          <xsd:documentation>
           Warning type.
          </xsd:documentation>
        </xsd:annotation>						
					</xsd:enumeration>
				</xsd:restriction>

			</xsd:simpleType>
			<xsd:complexType name="LookupResponse">
				<xsd:annotation>
					<xsd:appinfo>
						<typeLibrarySource library="common-type-library" namespace="http://www.ebayopensource.org/tumeric/services/shorturi"/>
					</xsd:appinfo>
				</xsd:annotation>
				<xsd:complexContent>
					<xsd:extension base="tns:BaseServiceResponse">
						<xsd:sequence>
							<xsd:element maxOccurs="1" minOccurs="0" name="longURI" type="xsd:anyURI">
								<xsd:annotation>
									<xsd:documentation>The LongURI corresponding to a
										ShortURI.</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element maxOccurs="1" minOccurs="0" name="expirationDate" type="xsd:dateTime">
								<xsd:annotation>
									<xsd:documentation>Date until which this shortURI will be
										active.</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
						</xsd:sequence>
					</xsd:extension>
				</xsd:complexContent>
			</xsd:complexType>

			<xsd:complexType name="BaseURIEntry">
				<xsd:annotation>
					<xsd:documentation>Represents a Base URI Entry.
					</xsd:documentation>

					<xsd:appinfo>
						<typeLibrarySource library="common-type-library" namespace="http://www.ebayopensource.org/tumeric/services/shorturi"/>
					</xsd:appinfo>
				</xsd:annotation>
				<xsd:sequence>
					<xsd:element maxOccurs="1" minOccurs="0" name="longURI" type="xsd:anyURI">
						<xsd:annotation>
							<xsd:documentation>LongURI is the actual URI that is
								shortened.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:choice>
						<xsd:element maxOccurs="1" minOccurs="0" name="shortURI" type="xsd:anyURI">
							<xsd:annotation>
								<xsd:documentation>The ShortURI is a combination of the baseURI
									and a handle.</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element maxOccurs="1" minOccurs="0" name="handle" type="xsd:string">
							<xsd:annotation>
								<xsd:documentation>Handle is a unique value for the 
									shortURI.</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
					</xsd:choice>
					<xsd:element maxOccurs="1" minOccurs="0" name="namespace" type="xsd:string">
						<xsd:annotation>
							<xsd:documentation>Namespace is used for Categorize the
								shortURI.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element maxOccurs="unbounded" minOccurs="0" name="tags" type="xsd:string">
						<xsd:annotation>
							<xsd:documentation>Tags are used for identification of
								shortURI (max number of tags is 2).</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:choice>
						<xsd:element maxOccurs="1" minOccurs="0" name="expirationDate" type="xsd:dateTime">
							<xsd:annotation>
								<xsd:documentation>Date until which the ShortURI will be
									active.</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<xsd:element maxOccurs="1" minOccurs="0" name="durationInDays" type="xsd:unsignedInt">
							<xsd:annotation>
								<xsd:documentation>Number of days for the ShortURI to be
									active.</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
					</xsd:choice>
					<xsd:element maxOccurs="1" minOccurs="0" name="isActive" type="xsd:string">
						<xsd:annotation>
							<xsd:documentation>Indicates whether a shortURI is
								active or not.</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element maxOccurs="1" minOccurs="0" name="description" type="xsd:string">
						<xsd:annotation>
							<xsd:documentation>Description for 
								 identifying and searching for a shortURI.
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="CreateShortURIRequest">
				<xsd:annotation>
				<xsd:documentation>
				Creates a new ShortURI for a LongURI. The handle
				is an autogenerated base62 value.
				</xsd:documentation>
					<xsd:appinfo>
						<typeLibrarySource library="common-type-library" namespace="http://www.ebayopensource.org/tumeric/services/shorturi"/>
					</xsd:appinfo>
				</xsd:annotation>
				<xsd:complexContent>
					<xsd:extension base="tns:BaseServiceRequest">
						<xsd:sequence>
							<xsd:element maxOccurs="1" minOccurs="1" name="longURI" type="xsd:anyURI">
								<xsd:annotation>
									<xsd:documentation>The LongURI for which a shortURI is created.
									</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element maxOccurs="1" minOccurs="0" name="baseURI" type="xsd:anyURI">
								<xsd:annotation>
									<xsd:documentation>
										The baseURI of the shortURI.
										Example:
										http://ebay.us/
									</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element maxOccurs="1" minOccurs="0" name="namespace" type="xsd:string">
								<xsd:annotation>
									<xsd:documentation>Namespace to categorize the
										shortURI.</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element maxOccurs="unbounded" minOccurs="0" name="tags" type="xsd:string">
								<xsd:annotation>
									<xsd:documentation>Tags for identifying or
										searching for a shortURI.</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:choice>
								<xsd:element maxOccurs="1" minOccurs="0" name="expirationDate" type="xsd:dateTime">
									<xsd:annotation>
										<xsd:documentation>Date until the shortURI expires.
											</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element maxOccurs="1" minOccurs="0" name="durationInDays" type="xsd:unsignedInt">
									<xsd:annotation>
										<xsd:documentation>Number of days that the shortURI
											is active.</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
							</xsd:choice>
							<xsd:element maxOccurs="1" minOccurs="0" name="description" type="xsd:string">
								<xsd:annotation>
									<xsd:documentation>Description for
										 identifying and searching for a shortURI.
									</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
						</xsd:sequence>
					</xsd:extension>
				</xsd:complexContent>
			</xsd:complexType>
			<xsd:complexType name="RegisterShortURIRequest">
				<xsd:annotation>
				<xsd:documentation>
				Creates a new ShortURI for a LongURI using the user's vanity handle. 
				The maximum number of tags allowed per shortURI is 2.
				</xsd:documentation>
					<xsd:appinfo>
						<typeLibrarySource library="common-type-library" namespace="http://www.ebayopensource.org/tumeric/services/shorturi"/>
					</xsd:appinfo>
				</xsd:annotation>
				<xsd:complexContent>
					<xsd:extension base="tns:BaseServiceRequest">
						<xsd:sequence>
							<xsd:element maxOccurs="1" minOccurs="1" name="longURI" type="xsd:string">
								<xsd:annotation>
									<xsd:documentation>The LongURI for which a shortURI is created.
									</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element maxOccurs="1" minOccurs="0" name="baseURI" type="xsd:string">
								<xsd:annotation>
									<xsd:documentation>The baseURI of the shortURI.
										Example:
										http://ebay.us/
									</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element maxOccurs="1" minOccurs="1" name="handle" type="xsd:string">
								<xsd:annotation>
									<xsd:documentation>User defined vanity handle. Maximum length
										is 10 characters.</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element maxOccurs="1" minOccurs="0" name="namespace" type="xsd:string">
								<xsd:annotation>
									<xsd:documentation>Namespace to categorize the
										shortURI.</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element maxOccurs="unbounded" minOccurs="0" name="tags" type="xsd:string">
								<xsd:annotation>
									<xsd:documentation>Tags  to identify or
										search for a shortURI.</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:choice>
								<xsd:element maxOccurs="1" minOccurs="0" name="expirationDate" type="xsd:dateTime">
									<xsd:annotation>
										<xsd:documentation>Date until this shortURI expires.</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
								<xsd:element maxOccurs="1" minOccurs="0" name="durationInDays" type="xsd:unsignedInt">
									<xsd:annotation>
										<xsd:documentation>Number of days that the shortURI
											is active.</xsd:documentation>
									</xsd:annotation>
								</xsd:element>
							</xsd:choice>
							<xsd:element maxOccurs="1" minOccurs="0" name="description" type="xsd:string">
								<xsd:annotation>
									<xsd:documentation>Description for
										identifying and searching for a shortURI.
									</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
						</xsd:sequence>
					</xsd:extension>
				</xsd:complexContent>
			</xsd:complexType>
			<xsd:complexType name="SearchRequest">
				<xsd:annotation>
				<xsd:documentation>
				Searches for a baseURI, namespace, and Tags. This is an AND based 
				search of all three criteria.
				</xsd:documentation>
					<xsd:appinfo>
						<typeLibrarySource library="common-type-library" namespace="http://www.ebayopensource.org/tumeric/services/shorturi"/>
					</xsd:appinfo>
				</xsd:annotation>
				<xsd:complexContent>
					<xsd:extension base="tns:BaseServiceRequest">
						<xsd:sequence>
							<xsd:element maxOccurs="1" minOccurs="0" name="baseURI" type="xsd:anyURI">
								<xsd:annotation>
									<xsd:documentation>The baseURI of the shortURI. Example:
										http://ebay.us/</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element maxOccurs="1" minOccurs="0" name="namespace" type="xsd:string">
								<xsd:annotation>
									<xsd:documentation>The namespace of the shortURI.
									</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element maxOccurs="unbounded" minOccurs="0" name="tags" type="xsd:string">
								<xsd:annotation>
									<xsd:documentation>Tags related to the shortURI.
									</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element maxOccurs="1" minOccurs="0" name="description" type="xsd:string">
								<xsd:annotation>
									<xsd:documentation>Description for
										identifying or searching for a shortURI.
									</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
						</xsd:sequence>
					</xsd:extension>
				</xsd:complexContent>
			</xsd:complexType>
			<xsd:complexType abstract="true" name="BaseServiceRequest">
				<xsd:annotation>
					<xsd:documentation>
						The base class for a request container for all service
						operations.
			</xsd:documentation>
					<xsd:appinfo>
						<typeLibrarySource library="common-type-library" namespace="http://www.ebayopensource.org/tumeric/services"/>
					</xsd:appinfo>
				</xsd:annotation>
				<xsd:sequence>
					
				</xsd:sequence>
			</xsd:complexType>
			<xsd:simpleType name="TagModeValue">
				<xsd:annotation>
					<xsd:documentation>Represents the tagUpdate Mode, whether
						it is ADD or REPLACE</xsd:documentation>
					<xsd:appinfo>
						<typeLibrarySource library="common-type-library" namespace="http://www.ebayopensource.org/tumeric/services/shorturi"/>
					</xsd:appinfo>
				</xsd:annotation>
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="ADD">
						<xsd:annotation>
							<xsd:documentation>Option for adding or appending tags to
								the existing ones.</xsd:documentation>
						</xsd:annotation>
					</xsd:enumeration>
					<xsd:enumeration value="REPLACE">
						<xsd:annotation>
							<xsd:documentation>Option for replacing existing tags with
								new tags.</xsd:documentation>
						</xsd:annotation>
					</xsd:enumeration>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:complexType name="UpdateRequest">
				<xsd:annotation>
				<xsd:documentation>
				Updates the namespace and tag information for a  
				shortURI. The maximum number of tags per shortURI is 2.
				</xsd:documentation>
					<xsd:appinfo>
						<typeLibrarySource library="common-type-library" namespace="http://www.ebayopensource.org/tumeric/services/shorturi"/>
					</xsd:appinfo>
				</xsd:annotation>
				<xsd:complexContent>
					<xsd:extension base="tns:BaseServiceRequest">
						<xsd:sequence>
							<xsd:element maxOccurs="1" minOccurs="1" name="shortURI" type="xsd:anyURI">
								<xsd:annotation>
									<xsd:documentation>ShortURI that needs to be updated.
										Example: http://ebay.us/xyz123</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element maxOccurs="1" minOccurs="0" name="namespace" type="xsd:string">
								<xsd:annotation>
									<xsd:documentation>Namespace to update for a ShortURI.</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element maxOccurs="unbounded" minOccurs="0" name="tags" type="xsd:string">
								<xsd:annotation>
									<xsd:documentation>Tags to add or replace for a shortURI.
									</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element maxOccurs="1" minOccurs="1" name="tagUpdateMode" type="tns:TagModeValue">
								<xsd:annotation>
									<xsd:documentation>TagMode that describes whether the request is
										an ADD or REPLACE of tags.</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element maxOccurs="1" minOccurs="0" name="description" type="xsd:string">
								<xsd:annotation>
									<xsd:documentation>Description for identifying or searching for
										a shortURI.
									</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
						</xsd:sequence>
					</xsd:extension>
				</xsd:complexContent>
			</xsd:complexType>
		</xsd:schema>
  </types>
  <message name="getVersionRequest">
    <part element="tns:getVersionRequest" name="parameter">
    </part>
  </message>
  <message name="createShortURIResponse">
    <part element="tns:createShortURIResponse" name="parameter">
    </part>
  </message>
  <message name="deleteResponse">
    <part element="tns:deleteResponse" name="parameter">
    </part>
  </message>
  <message name="getInfoLongRequest">
    <part element="tns:getInfoLongRequest" name="parameter">
    </part>
  </message>
  <message name="searchResponse">
    <part element="tns:searchResponse" name="parameter">
    </part>
  </message>
  <message name="getStatsResponse">
    <part element="tns:getStatsResponse" name="parameter">
    </part>
  </message>
  <message name="updateResponse">
    <part element="tns:updateResponse" name="parameter">
    </part>
  </message>
  <message name="deleteRequest">
    <part element="tns:deleteRequest" name="parameter">
    </part>
  </message>
  <message name="searchRequest">
    <part element="tns:searchRequest" name="parameter">
    </part>
  </message>
  <message name="updateRequest">
    <part element="tns:updateRequest" name="parameter">
    </part>
  </message>
  <message name="getStatsRequest">
    <part element="tns:getStatsRequest" name="parameter">
    </part>
  </message>
  <message name="getInfoLongResponse">
    <part element="tns:getInfoLongResponse" name="parameter">
    </part>
  </message>
  <message name="getVersionResponse">
    <part element="tns:getVersionResponse" name="parameter">
    </part>
  </message>
  <message name="createShortURIRequest">
    <part element="tns:createShortURIRequest" name="parameter">
    </part>
  </message>
  <message name="registerShortURIRequest">
    <part element="tns:registerShortURIRequest" name="parameter">
    </part>
  </message>
  <message name="getSupportedBaseURIsRequest">
    <part element="tns:getSupportedBaseURIsRequest" name="parameter">
    </part>
  </message>
  <message name="getInfoShortResponse">
    <part element="tns:getInfoShortResponse" name="parameter">
    </part>
  </message>
  <message name="lookupResponse">
    <part element="tns:lookupResponse" name="parameter">
    </part>
  </message>
  <message name="lookupRequest">
    <part element="tns:lookupRequest" name="parameter">
    </part>
  </message>
  <message name="registerShortURIResponse">
    <part element="tns:registerShortURIResponse" name="parameter">
    </part>
  </message>
  <message name="getInfoShortRequest">
    <part element="tns:getInfoShortRequest" name="parameter">
    </part>
  </message>
  <message name="getSupportedBaseURIsResponse">
    <part element="tns:getSupportedBaseURIsResponse" name="parameter">
    </part>
  </message>
  <portType name="RetrieveArtifactDirectlyPort">
    <operation name="createShortURI">
<wsdl:documentation>
				Creates a New ShortURI for the given LongURI. The
				handle is an autogenerated base62 value.
			</wsdl:documentation>
      <input message="tns:createShortURIRequest">
    </input>
      <output message="tns:createShortURIResponse">
    </output>
    </operation>
    <operation name="registerShortURI">
<wsdl:documentation>
				Creates a New ShortURI for the given LongURI
				using the
				user given vanity handle. Maximum number of tags allowed
				per shortURI is Two.
			</wsdl:documentation>
      <input message="tns:registerShortURIRequest">
    </input>
      <output message="tns:registerShortURIResponse">
    </output>
    </operation>
    <operation name="lookup">
<wsdl:documentation>
				Searches for a shortURI and returns a longURI.
			</wsdl:documentation>
      <input message="tns:lookupRequest">
    </input>
      <output message="tns:lookupResponse">
    </output>
    </operation>
    <operation name="getInfoShort">
<wsdl:documentation>
				Searches for a shortURI and returns information such 
				as the longURI, creator, namespace, and tags.
			</wsdl:documentation>
      <input message="tns:getInfoShortRequest">
    </input>
      <output message="tns:getInfoShortResponse">
    </output>
    </operation>
    <operation name="getInfoLong">
<wsdl:documentation>
				Searches for a LongURI and returns all matching records with
				details such as shortURI, tags, namespace, and creator.
			</wsdl:documentation>
      <input message="tns:getInfoLongRequest">
    </input>
      <output message="tns:getInfoLongResponse">
    </output>
    </operation>
    <operation name="getStats">
<wsdl:documentation>
				Returns statistics for a shortURI, which include the total number of
				clicks, and clicks grouped by browser, referrer, and time.
			</wsdl:documentation>
      <input message="tns:getStatsRequest">
    </input>
      <output message="tns:getStatsResponse">
    </output>
    </operation>
    <operation name="search">
<wsdl:documentation>
				Searches for a baseURI, namespace, and Tags. This is an AND based 
				search of all three criteria.
			</wsdl:documentation>
      <input message="tns:searchRequest">
    </input>
      <output message="tns:searchResponse">
    </output>
    </operation>
    <operation name="update">
<wsdl:documentation>
				Updates the namespace and tag information for a  
				shortURI. The maximum number of tags per shortURI is 2.
			</wsdl:documentation>
      <input message="tns:updateRequest">
    </input>
      <output message="tns:updateResponse">
    </output>
    </operation>
    <operation name="delete">
<wsdl:documentation>
				Deactivates a shortURI.
			</wsdl:documentation>
      <input message="tns:deleteRequest">
    </input>
      <output message="tns:deleteResponse">
    </output>
    </operation>
    <operation name="getVersion">
      <input message="tns:getVersionRequest">
    </input>
      <output message="tns:getVersionResponse">
    </output>
    </operation>
    <operation name="getSupportedBaseURIs">
<wsdl:documentation>
				Returns the list of currently supported base URIs.
			</wsdl:documentation>
      <input message="tns:getSupportedBaseURIsRequest">
    </input>
      <output message="tns:getSupportedBaseURIsResponse">
    </output>
    </operation>
  </portType>
  <binding name="RetrieveArtifactDirectlyHttpBinding" type="tns:RetrieveArtifactDirectlyPort">
    <http:binding verb="POST"/>
    <operation name="createShortURI">
      <http:operation location="/createShortURI"/>
      <input>
        <mime:content part="createShortURI" type="application/x-www-form-urlencoded"/>
      </input>
      <output>
        <mime:content part="createShortURI" type="text/xml"/>
      </output>
    </operation>
    <operation name="registerShortURI">
      <http:operation location="/registerShortURI"/>
      <input>
        <mime:content part="registerShortURI" type="application/x-www-form-urlencoded"/>
      </input>
      <output>
        <mime:content part="registerShortURI" type="text/xml"/>
      </output>
    </operation>
    <operation name="lookup">
      <http:operation location="/lookup"/>
      <input>
        <mime:content part="lookup" type="application/x-www-form-urlencoded"/>
      </input>
      <output>
        <mime:content part="lookup" type="text/xml"/>
      </output>
    </operation>
    <operation name="getInfoShort">
      <http:operation location="/getInfoShort"/>
      <input>
        <mime:content part="getInfoShort" type="application/x-www-form-urlencoded"/>
      </input>
      <output>
        <mime:content part="getInfoShort" type="text/xml"/>
      </output>
    </operation>
    <operation name="getInfoLong">
      <http:operation location="/getInfoLong"/>
      <input>
        <mime:content part="getInfoLong" type="application/x-www-form-urlencoded"/>
      </input>
      <output>
        <mime:content part="getInfoLong" type="text/xml"/>
      </output>
    </operation>
    <operation name="getStats">
      <http:operation location="/getStats"/>
      <input>
        <mime:content part="getStats" type="application/x-www-form-urlencoded"/>
      </input>
      <output>
        <mime:content part="getStats" type="text/xml"/>
      </output>
    </operation>
    <operation name="search">
      <http:operation location="/search"/>
      <input>
        <mime:content part="search" type="application/x-www-form-urlencoded"/>
      </input>
      <output>
        <mime:content part="search" type="text/xml"/>
      </output>
    </operation>
    <operation name="update">
      <http:operation location="/update"/>
      <input>
        <mime:content part="update" type="application/x-www-form-urlencoded"/>
      </input>
      <output>
        <mime:content part="update" type="text/xml"/>
      </output>
    </operation>
    <operation name="delete">
      <http:operation location="/delete"/>
      <input>
        <mime:content part="delete" type="application/x-www-form-urlencoded"/>
      </input>
      <output>
        <mime:content part="delete" type="text/xml"/>
      </output>
    </operation>
    <operation name="getVersion">
      <http:operation location="/getVersion"/>
      <input>
        <mime:content part="getVersion" type="application/x-www-form-urlencoded"/>
      </input>
      <output>
        <mime:content part="getVersion" type="text/xml"/>
      </output>
    </operation>
    <operation name="getSupportedBaseURIs">
      <http:operation location="/getSupportedBaseURIs"/>
      <input>
        <mime:content part="getSupportedBaseURIs" type="application/x-www-form-urlencoded"/>
      </input>
      <output>
        <mime:content part="getSupportedBaseURIs" type="text/xml"/>
      </output>
    </operation>
  </binding>
  <binding name="RetrieveArtifactDirectlySOAPBinding" type="tns:RetrieveArtifactDirectlyPort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="createShortURI">
      <soap:operation soapAction="http://www.ebayopensource.org/tumeric/utility/v1/services/createShortURI"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="registerShortURI">
      <soap:operation soapAction="http://www.ebayopensource.org/tumeric/utility/v1/services/registerShortURI"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="lookup">
      <soap:operation soapAction="http://www.ebayopensource.org/tumeric/utility/v1/services/lookup"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getInfoShort">
      <soap:operation soapAction="http://www.ebayopensource.org/tumeric/utility/v1/services/getInfoShort"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getInfoLong">
      <soap:operation soapAction="http://www.ebayopensource.org/tumeric/utility/v1/services/getInfoLong"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getStats">
      <soap:operation soapAction="http://www.ebayopensource.org/tumeric/utility/v1/services/getStats"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="search">
      <soap:operation soapAction="http://www.ebayopensource.org/tumeric/utility/v1/services/search"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="update">
      <soap:operation soapAction="http://www.ebayopensource.org/tumeric/utility/v1/services/update"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="delete">
      <soap:operation soapAction="http://www.ebayopensource.org/tumeric/utility/v1/services/delete"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getVersion">
      <soap:operation soapAction="http://www.ebayopensource.org/tumeric/utility/v1/services/getVersion"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getSupportedBaseURIs">
      <soap:operation soapAction="http://www.ebayopensource.org/tumeric/utility/v1/services/getSupportedBaseURIs"/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="RetrieveArtifactDirectly">
<wsdl:documentation>
			<Version>1.2.0</Version>
			The Short URI Service allows clients to create short aliases for long
			URIs.
			When a short URI is accessed, the client is redirected to the
			original
			long URI.
		</wsdl:documentation>
    <port binding="tns:RetrieveArtifactDirectlySOAPBinding" name="RetrieveArtifactDirectlySOAPPort">
      <soap12:address location="https://svcs.ebay.com/services/utility/v1/RetrieveArtifactDirectly"/>
    </port>
    <port binding="tns:RetrieveArtifactDirectlyHttpBinding" name="RetrieveArtifactDirectlyHttpPort">
      <http:address location="https://svcs.ebay.com/services/utility/v1/RetrieveArtifactDirectly"/>
    </port>
  </service>
</definitions>