codegen/codegen-tools/src/test/resources/org/ebayopensource/turmeric/test/tools/codegen/data/proto/ServiceManagerService_for_tags.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="ServiceManagerService"
	targetNamespace="http://www.ebay.com/marketplace/cloud/v1/services"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
	xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
	xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" 
	xmlns:tns="http://www.ebay.com/marketplace/cloud/v1/services"
	xmlns:apachesoap="http://xml.apache.org/xml-soap" 
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
	<wsdl:types>
		<xs:schema attributeFormDefault="unqualified"
			elementFormDefault="qualified" 
			targetNamespace="http://www.ebay.com/marketplace/cloud/v1/services"
			xmlns:tns="http://www.ebay.com/marketplace/cloud/v1/services" 
			xmlns:xs="http://www.w3.org/2001/XMLSchema">

            <xs:element name="reverseDeploy" type="tns:ReverseDeploy" />
			<xs:element name="reverseDeployResponse" type="tns:ReverseDeployResponse" />
			<xs:element name="undeploy" type="tns:Undeploy" />
			<xs:element name="undeployResponse" type="tns:UndeployResponse" />

			<xs:element name="executeTask" type="tns:ExecuteTask" />
			<xs:element name="executeTaskResponse" type="tns:ExecuteTaskResponse" />
			<xs:element name="deploy" type="tns:Deploy" />
			<xs:element name="deployResponse" type="tns:DeployResponse" />
<xs:simpleType name="AckValue">
		<xs:annotation>
			<xs:documentation>
				Indicates whether the error is a severe error (causing the request to fail)
				or an informational error (a warning) that should be communicated to the
				user.
			</xs:documentation>
		<xs:appinfo><typeLibrarySource library="MarketPlaceServiceCommonTypeLibrary" namespace="http://www.ebay.com/marketplace/services"></typeLibrarySource></xs:appinfo></xs:annotation>
		<xs:restriction base="xs:string">
	
			<xs:enumeration value="Success">
				<xs:annotation>
					<xs:documentation>
						The request was processed successfully, but something occurred that may
						affect your application or the user.				
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Failure">
				<xs:annotation>
	
					<xs:documentation>
						The request that triggered the error was not processed successfully.
						When a serious application-level error occurs, the error is returned
						instead of the business data.
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Warning">
				<xs:annotation>
					<xs:documentation>
						The request that triggered the error was processed successfully but with some warnings.
					</xs:documentation>
	
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="PartialFailure">
				<xs:annotation>
					<xs:documentation>
						The request that triggered the error was processed successfully but with some warnings.				</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
	
		</xs:restriction>
	</xs:simpleType><xs:complexType abstract="true" name="BaseRequest">
		<xs:annotation>
			<xs:documentation>
				This is the base class for request container for all
				service operations.
			</xs:documentation>
		<xs:appinfo><typeLibrarySource library="MarketPlaceServiceCommonTypeLibrary" namespace="http://www.ebay.com/marketplace/services"></typeLibrarySource></xs:appinfo></xs:annotation>
		<xs:sequence>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="extension" type="tns:ExtensionType"></xs:element>
		</xs:sequence>
	</xs:complexType><xs:complexType abstract="true" name="BaseResponse">
		<xs:annotation>
			<xs:documentation>
				Base response container for all service operations.
				Contains error information associated with the request.
			</xs:documentation>
		<xs:appinfo><typeLibrarySource library="MarketPlaceServiceCommonTypeLibrary" namespace="http://www.ebay.com/marketplace/services"></typeLibrarySource></xs:appinfo></xs:annotation>

		<xs:sequence>
			<xs:element name="ack" type="tns:AckValue">
				<xs:annotation>
					<xs:documentation>

					</xs:documentation>
					<xs:appinfo>
						<CallInfo>
							<AllCalls></AllCalls>
							<Returned>Always</Returned>

						</CallInfo>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element minOccurs="0" name="errorMessage" type="tns:ErrorMessage">
				<xs:annotation>
					<xs:documentation>
						Information for an error or warning that
						occurred when eBay processed the request.
					</xs:documentation>

					<xs:appinfo>
						<CallInfo>
							<AllCalls></AllCalls>
							<Returned>Conditionally</Returned>
						</CallInfo>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>

			<xs:element minOccurs="0" name="version" type="xs:string">
				<xs:annotation>
					<xs:documentation></xs:documentation>
					<xs:appinfo>
						<CallInfo>
							<AllCalls></AllCalls>
							<Returned>Always</Returned>

						</CallInfo>
					</xs:appinfo>
				</xs:annotation>

			</xs:element>
			<xs:element minOccurs="0" name="timestamp" type="xs:dateTime">
				<xs:annotation>
					<xs:documentation></xs:documentation>

					<xs:appinfo>
						<CallInfo>
							<AllCalls></AllCalls>
							<Returned>Always</Returned>
						</CallInfo>
					</xs:appinfo>
				</xs:annotation>
			</xs:element>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="extension" type="tns:ExtensionType"></xs:element>
		</xs:sequence>
	</xs:complexType><xs:complexType name="Deploy">
		<xs:annotation>
			<xs:documentation></xs:documentation>
		<xs:appinfo><typeLibrarySource library="CMServiceTypeLibrary" namespace="http://www.ebay.com/cloud/services"></typeLibrarySource></xs:appinfo></xs:annotation>
		<xs:complexContent>
			<xs:extension base="tns:BaseRequest">
		<xs:sequence>
			<xs:element name="requestContext" type="tns:RequestContext"></xs:element>
			<xs:element name="wisbId" type="tns:WisbId"></xs:element>
		</xs:sequence>
		</xs:extension>
		</xs:complexContent>
	</xs:complexType><xs:complexType name="DeployResponse">
		<xs:annotation>
			<xs:documentation></xs:documentation>
		<xs:appinfo><typeLibrarySource library="CMServiceTypeLibrary" namespace="http://www.ebay.com/cloud/services"></typeLibrarySource></xs:appinfo></xs:annotation>
		<xs:complexContent>
			<xs:extension base="tns:BaseResponse">
		<xs:sequence></xs:sequence>
		</xs:extension>
		</xs:complexContent>
	</xs:complexType><xs:simpleType name="ErrorCategory">
		<xs:annotation>
			<xs:documentation>
				Documentation goes here.
			</xs:documentation>
		<xs:appinfo><typeLibrarySource library="SOACommonTypeLibrary" namespace="http://www.ebay.com/marketplace/services"></typeLibrarySource></xs:appinfo></xs:annotation>

      <xs:restriction base="xs:token">
        <xs:enumeration value="System"></xs:enumeration>
        <xs:enumeration value="Application"></xs:enumeration>
        <xs:enumeration value="Request"></xs:enumeration>
      </xs:restriction>

	</xs:simpleType><xs:complexType name="ErrorData">
		<xs:annotation>
			<xs:documentation>Documentation goes here</xs:documentation>
			
		<xs:appinfo><typeLibrarySource library="SOACommonTypeLibrary" namespace="http://www.ebay.com/marketplace/services"></typeLibrarySource></xs:appinfo></xs:annotation>
	
	  <xs:sequence>
        	<xs:element name="errorId" type="xs:long"></xs:element>
		  	<xs:element name="domain" type="xs:string"></xs:element>
			<xs:element minOccurs="0" name="subdomain" type="xs:string"></xs:element>
			<xs:element name="severity" type="tns:ErrorSeverity"></xs:element>
	  		<xs:element name="category" type="tns:ErrorCategory"></xs:element>
	  		<xs:element name="message" type="xs:string"></xs:element>
	  		<xs:element minOccurs="0" name="exceptionId" type="xs:token"></xs:element>
	  		<xs:element maxOccurs="unbounded" minOccurs="0" name="parameter" type="tns:ErrorParameter"></xs:element>
		</xs:sequence>
	
	
	</xs:complexType><xs:complexType name="ErrorMessage">
		<xs:annotation>
			<xs:documentation>Documentation goes here</xs:documentation>
			
		<xs:appinfo><typeLibrarySource library="SOACommonTypeLibrary" namespace="http://www.ebay.com/marketplace/services"></typeLibrarySource></xs:appinfo></xs:annotation>
		
		<!-- 
		<xs:sequence>

				processContents="lax" />
		</xs:sequence>
		-->
		
    	<xs:sequence>
    		<xs:element maxOccurs="unbounded" minOccurs="0" name="error" type="tns:ErrorData">
    		</xs:element>
    	</xs:sequence>
		
	</xs:complexType><xs:complexType name="ErrorParameter">
		<xs:annotation>
			<xs:documentation>Documentation goes here</xs:documentation>
			
		<xs:appinfo><typeLibrarySource library="SOACommonTypeLibrary" namespace="http://www.ebay.com/marketplace/services"></typeLibrarySource></xs:appinfo></xs:annotation>

		<xs:simpleContent>
		  <xs:extension base="xs:string">
		    <xs:attribute name="name" type="xs:string" use="optional"></xs:attribute>
		  </xs:extension>
		</xs:simpleContent>
	</xs:complexType><xs:simpleType name="ErrorSeverity">
		<xs:annotation>
			<xs:documentation>
				Documentation goes here.
			</xs:documentation>
		<xs:appinfo><typeLibrarySource library="SOACommonTypeLibrary" namespace="http://www.ebay.com/marketplace/services"></typeLibrarySource></xs:appinfo></xs:annotation>

      <xs:restriction base="xs:token">
        <xs:enumeration value="Error"></xs:enumeration>
        <xs:enumeration value="Warning"></xs:enumeration>
      </xs:restriction>

	</xs:simpleType><xs:complexType name="ExecuteTask">
		<xs:annotation>
			<xs:documentation></xs:documentation>
		<xs:appinfo><typeLibrarySource library="CMServiceTypeLibrary" namespace="http://www.ebay.com/cloud/services"></typeLibrarySource></xs:appinfo></xs:annotation>
		<xs:complexContent>
			<xs:extension base="tns:BaseRequest">
		<xs:sequence>

			<xs:element name="requestContext" type="tns:RequestContext"></xs:element>
			<xs:element name="moType" type="tns:ManagedObjectEnum"></xs:element>

			<xs:element maxOccurs="unbounded" minOccurs="0" name="moId" type="xs:string"></xs:element>

			<xs:element name="wisbId" type="tns:WisbId"></xs:element>
			<xs:element name="lifecycleOperation" type="xs:string"></xs:element>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="parameters" type="tns:TaskParameter"></xs:element>

		</xs:sequence>
		</xs:extension>
		</xs:complexContent>
	</xs:complexType><xs:complexType name="ExecuteTaskResponse">
		<xs:annotation>
			<xs:documentation></xs:documentation>
		<xs:appinfo><typeLibrarySource library="CMServiceTypeLibrary" namespace="http://www.ebay.com/cloud/services"></typeLibrarySource></xs:appinfo></xs:annotation>
		<xs:complexContent>
			<xs:extension base="tns:BaseResponse">
		<xs:sequence></xs:sequence>
		</xs:extension>
		</xs:complexContent>
	</xs:complexType><xs:complexType name="ExtensionType">
		<xs:annotation>
			<xs:documentation>Documentation goes here</xs:documentation>
			
		<xs:appinfo><typeLibrarySource library="MarketPlaceServiceCommonTypeLibrary" namespace="http://www.ebay.com/marketplace/services"></typeLibrarySource></xs:appinfo></xs:annotation>
		<xs:sequence>
			<xs:element name="id" type="xs:positiveInteger"></xs:element>
			<xs:element name="version" type="xs:string"></xs:element>
			<xs:element name="contentType" type="xs:string"></xs:element>
			<xs:element name="value" type="xs:string"></xs:element>

		</xs:sequence>
	</xs:complexType><xs:simpleType name="ManagedObjectEnum">
        				<xs:annotation><xs:appinfo><typeLibrarySource library="CMTypeLibrary" namespace="http://www.ebay.com/cloud/common/types"></typeLibrarySource></xs:appinfo></xs:annotation>
        <xs:restriction base="xs:token">
					<xs:enumeration value="Function"></xs:enumeration>
					<xs:enumeration value="Feature"></xs:enumeration>
					<xs:enumeration value="Build"></xs:enumeration>
					<xs:enumeration value="Application"></xs:enumeration>
					<xs:enumeration value="Pool"></xs:enumeration>
					<xs:enumeration value="NodeServer"></xs:enumeration>
					<xs:enumeration value="Service"></xs:enumeration>
					<xs:enumeration value="ServiceVirtual"></xs:enumeration>
					<xs:enumeration value="NodeFloating"></xs:enumeration>
					<xs:enumeration value="Asset"></xs:enumeration>
				</xs:restriction>
	</xs:simpleType><xs:complexType name="RequestContext">
        		<xs:annotation><xs:appinfo><typeLibrarySource library="CMTypeLibrary" namespace="http://www.ebay.com/cloud/common/types"></typeLibrarySource></xs:appinfo></xs:annotation>
        <xs:sequence>
			<xs:element name="dryRun" type="xs:boolean"></xs:element>
			<xs:element minOccurs="0" name="processId" type="xs:int"></xs:element>
			<xs:element minOccurs="0" name="processTaskId" type="xs:int"></xs:element>
			<xs:element name="userId" type="xs:string"></xs:element>
			<xs:element name="correlationId" type="xs:string"></xs:element>
			<xs:element minOccurs="0" name="callbackId" type="xs:string"></xs:element>
			<xs:element minOccurs="0" name="ticketId" type="xs:string"></xs:element>
		</xs:sequence>
	</xs:complexType><xs:complexType name="ReverseDeploy">
		<xs:annotation>
			<xs:documentation></xs:documentation>
		<xs:appinfo><typeLibrarySource library="CMServiceTypeLibrary" namespace="http://www.ebay.com/cloud/services"></typeLibrarySource></xs:appinfo></xs:annotation>
		<xs:complexContent>
			<xs:extension base="tns:BaseRequest">
		<xs:sequence>
			<xs:element name="requestContext" type="tns:RequestContext"></xs:element>
			<xs:element name="wisbName" type="xs:string"></xs:element>
		</xs:sequence>
		</xs:extension>
		</xs:complexContent>
	</xs:complexType><xs:complexType name="ReverseDeployResponse">
		<xs:annotation>
			<xs:documentation></xs:documentation>
		<xs:appinfo><typeLibrarySource library="CMServiceTypeLibrary" namespace="http://www.ebay.com/cloud/services"></typeLibrarySource></xs:appinfo></xs:annotation>
		<xs:complexContent>
			<xs:extension base="tns:BaseResponse">
		<xs:sequence></xs:sequence>
		</xs:extension>
		</xs:complexContent>
	</xs:complexType><xs:complexType name="TaskParameter">
		<xs:annotation>
			<xs:documentation></xs:documentation>
		<xs:appinfo><typeLibrarySource library="CMTypeLibrary" namespace="http://www.ebay.com/cloud/common/types"></typeLibrarySource></xs:appinfo></xs:annotation>
		<xs:sequence>
			<xs:element name="name" type="xs:string"></xs:element>
			<xs:element name="value" type="xs:string"></xs:element>
		</xs:sequence>
	</xs:complexType><xs:complexType name="Undeploy">
		<xs:annotation>
			<xs:documentation></xs:documentation>
		<xs:appinfo><typeLibrarySource library="CMServiceTypeLibrary" namespace="http://www.ebay.com/cloud/services"></typeLibrarySource></xs:appinfo></xs:annotation>
		<xs:complexContent>
			<xs:extension base="tns:BaseRequest">
		<xs:sequence>

			<xs:element name="requestContext" type="tns:RequestContext"></xs:element>
			<xs:element name="wisbId" type="tns:WisbId"></xs:element>

		</xs:sequence>
		</xs:extension>
		</xs:complexContent>
	</xs:complexType><xs:complexType name="UndeployResponse">
		<xs:annotation>
			<xs:documentation></xs:documentation>
		<xs:appinfo><typeLibrarySource library="CMServiceTypeLibrary" namespace="http://www.ebay.com/cloud/services"></typeLibrarySource></xs:appinfo></xs:annotation>
		<xs:complexContent>
			<xs:extension base="tns:BaseResponse">
				<xs:sequence></xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType><xs:complexType name="WisbId">
        		<xs:annotation><xs:appinfo><typeLibrarySource library="CMTypeLibrary" namespace="http://www.ebay.com/cloud/common/types"></typeLibrarySource></xs:appinfo></xs:annotation>
        <xs:sequence>
			<xs:element name="name" type="xs:string"></xs:element>
			<xs:element name="version" type="xs:string"></xs:element>
		</xs:sequence>
	</xs:complexType></xs:schema>
	</wsdl:types>

	<wsdl:message name="serviceMgrServiceException">
		<wsdl:part name="serviceMgrServiceException" element="xs:string">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="deployResponse">
		<wsdl:part name="deployResponse" element="tns:deployResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="deployRequest">
		<wsdl:part name="deployRequest" element="tns:deploy"></wsdl:part>
	</wsdl:message>

	<wsdl:message name="undeployResponse">
		<wsdl:part name="undeployResponse" element="tns:undeployResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="undeployRequest">
		<wsdl:part name="undeployRequest" element="tns:undeploy"></wsdl:part>
	</wsdl:message>

	<wsdl:message name="executeTaskResponse">
		<wsdl:part name="executeTaskResponse" element="tns:executeTaskResponse">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="executeTaskRequest">
		<wsdl:part name="executeTaskRequest" element="tns:executeTask">
		</wsdl:part>
	</wsdl:message>

	<wsdl:message name="reverseDeployRequest">
		<wsdl:part name="reverseDeployRequest" element="tns:reverseDeploy">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="reverseDeployResponse">
		<wsdl:part name="reverseDeployResponse" element="tns:reverseDeployResponse">
		</wsdl:part>
	</wsdl:message>

	<wsdl:portType name="ServiceManagerServicePort">
		<wsdl:operation name="executeTask">
			<wsdl:input message="tns:executeTaskRequest"></wsdl:input>
			<wsdl:output message="tns:executeTaskResponse">
			</wsdl:output>
			<wsdl:fault name="serviceMgrFault" message="tns:serviceMgrServiceException">
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="deploy">
			<wsdl:input message="tns:deployRequest"></wsdl:input>
			<wsdl:output message="tns:deployResponse"></wsdl:output>
			<wsdl:fault name="serviceMgrFault" message="tns:serviceMgrServiceException">
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="undeploy">
			<wsdl:input message="tns:undeployRequest"></wsdl:input>
			<wsdl:output message="tns:undeployResponse"></wsdl:output>
			<wsdl:fault name="serviceMgrFault" message="tns:serviceMgrServiceException">
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="reverseDeploy">
			<wsdl:input message="tns:reverseDeployRequest"></wsdl:input>
			<wsdl:output message="tns:reverseDeployResponse"></wsdl:output>
			<wsdl:fault name="serviceMgrFault" message="tns:serviceMgrServiceException">
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="ServiceManagerServiceSOAPBinding"
		type="tns:ServiceManagerServicePort">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="executeTask">
			<soap:operation soapAction="urn:executeTask"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="serviceMgrFault">
				<soap:fault name="serviceMgrFault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="deploy">
			<soap:operation soapAction="urn:deploy" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="serviceMgrFault">
				<soap:fault name="serviceMgrFault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="undeploy">
			<soap:operation soapAction="urn:deploy" style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="serviceMgrFault">
				<soap:fault name="serviceMgrFault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="reverseDeploy">
			<soap:operation soapAction="urn:reverseDeploy"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
			<wsdl:fault name="serviceMgrFault">
				<soap:fault name="serviceMgrFault" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="ServiceManagerService">
		<wsdl:port name="ServiceManagerServiceSOAPPort"
			binding="tns:ServiceManagerServiceSOAPBinding">
			<soap:address
				location="http://svcs.ebay.com/services/cloud/v1/ServiceManagerService" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
