codegen/codegen-tools/src/test/resources/org/ebayopensource/turmeric/test/tools/codegen/data/proto/StoreInfoService_for_tags.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://www.ebayopensource.org/tumeric/buying/v1/services" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xs="http://www.w3.org/2001/XMLSchema" name="StoreInfoService" targetNamespace="http://www.ebayopensource.org/tumeric/buying/v1/services">
	<wsdl:types>
		<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.ebayopensource.org/tumeric/buying/v1/services">
			<xs:simpleType name="AckValue">
				<xs:annotation>
					<xs:documentation>
						Indicates whether the error is a severe error
						(causing the request to fail) or an
						informational error (a warning) that should be
						communicated to the user.
					</xs:documentation>
					<xs:appinfo>
						<typeLibrarySource library="common-type-library" namespace="http://www.ebayopensource.org/tumeric/services"/>
					</xs:appinfo>
				</xs:annotation>
				<xs:restriction base="xs:string">
					<xs:enumeration value="Success">
						<xs:annotation>
							<xs:documentation>
								The request was processed successfully,
								but something occurred that may affect
								your application or the user.
							</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="Failure">
						<xs:annotation>
							<xs:documentation>
								The request that triggered the error was
								not processed successfully. When a
								serious application-level error occurs,
								the error is returned instead of the
								business data.
							</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="Warning">
						<xs:annotation>
							<xs:documentation>
								The request that triggered the error was
								processed successfully but with some
								warnings.
							</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="PartialFailure">
						<xs:annotation>
							<xs:documentation>
								The request that triggered the error was
								processed successfully but with some
								warnings.
							</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
				</xs:restriction>
			</xs:simpleType>
			<xs:complexType abstract="true" name="BaseRequest">
				<xs:annotation>
					<xs:documentation>
						This is the base class for request container for
						all service operations.
					</xs:documentation>
					<xs:appinfo>
						<typeLibrarySource library="common-type-library" namespace="http://www.ebayopensource.org/tumeric/services"/>
					</xs:appinfo>
				</xs:annotation>
				<xs:sequence>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="extension" type="tns:ExtensionType"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType abstract="true" name="BaseResponse">
				<xs:annotation>
					<xs:documentation>
						Base response container for all service
						operations. Contains error information
						associated with the request.
					</xs:documentation>
					<xs:appinfo>
						<typeLibrarySource library="common-type-library" namespace="http://www.ebayopensource.org/tumeric/services"/>
					</xs:appinfo>
				</xs:annotation>
				<xs:sequence>
					<xs:element name="ack" type="tns:AckValue">
						<xs:annotation>
							<xs:documentation/>
							<xs:appinfo>
								<CallInfo>
									<AllCalls/>
									<Returned>Always</Returned>
								</CallInfo>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="errorMessage" type="tns:ErrorMessage">
						<xs:annotation>
							<xs:documentation>
								Information for an error or warning that
								occurred when eBay processed the
								request.
							</xs:documentation>
							<xs:appinfo>
								<CallInfo>
									<AllCalls/>
									<Returned>Conditionally</Returned>
								</CallInfo>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="version" type="xs:string">
						<xs:annotation>
							<xs:documentation/>
							<xs:appinfo>
								<CallInfo>
									<AllCalls/>
									<Returned>Always</Returned>
								</CallInfo>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="timestamp" type="xs:dateTime">
						<xs:annotation>
							<xs:documentation/>
							<xs:appinfo>
								<CallInfo>
									<AllCalls/>
									<Returned>Always</Returned>
								</CallInfo>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="extension" type="tns:ExtensionType"/>
				</xs:sequence>
			</xs:complexType>
			<xs:simpleType name="ErrorCategory">
				<xs:annotation>
					<xs:documentation>
						Documentation goes here.
					</xs:documentation>
					<xs:appinfo>
						<typeLibrarySource library="common-type-library" namespace="http://www.ebayopensource.org/tumeric/services"/>
					</xs:appinfo>
				</xs:annotation>
				<xs:restriction base="xs:token">
					<xs:enumeration value="System"/>
					<xs:enumeration value="Application"/>
					<xs:enumeration value="Request"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:complexType name="ErrorData">
				<xs:annotation>
					<xs:documentation>
						Documentation goes here
					</xs:documentation>
					<xs:appinfo>
						<typeLibrarySource library="common-type-library" namespace="http://www.ebayopensource.org/tumeric/services"/>
					</xs:appinfo>
				</xs:annotation>
				<xs:sequence>
					<xs:element name="errorId" type="xs:long"/>
					<xs:element name="domain" type="xs:string"/>
					<xs:element minOccurs="0" name="subdomain" type="xs:string"/>
					<xs:element name="severity" type="tns:ErrorSeverity"/>
					<xs:element name="category" type="tns:ErrorCategory"/>
					<xs:element name="message" type="xs:string"/>
					<xs:element minOccurs="0" name="exceptionId" type="xs:token"/>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="parameter" type="tns:ErrorParameter"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="ErrorMessage">
				<xs:annotation>
					<xs:documentation>
						Documentation goes here
					</xs:documentation>
					<xs:appinfo>
						<typeLibrarySource library="common-type-library" namespace="http://www.ebayopensource.org/tumeric/services"/>
					</xs:appinfo>
				</xs:annotation>
				<!-- 
					<xs:sequence>

					processContents="lax" />
					</xs:sequence>
				-->
				<xs:sequence>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="error" type="tns:ErrorData"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="ErrorParameter">
				<xs:annotation>
					<xs:documentation>
						Documentation goes here
					</xs:documentation>
					<xs:appinfo>
						<typeLibrarySource library="common-type-library" namespace="http://www.ebayopensource.org/tumeric/services"/>
					</xs:appinfo>
				</xs:annotation>
				<xs:simpleContent>
					<xs:extension base="xs:string">
						<xs:attribute name="name" type="xs:string" use="optional"/>
					</xs:extension>
				</xs:simpleContent>
			</xs:complexType>
			<xs:simpleType name="ErrorSeverity">
				<xs:annotation>
					<xs:documentation>
						Documentation goes here.
					</xs:documentation>
					<xs:appinfo>
						<typeLibrarySource library="common-type-library" namespace="http://www.ebayopensource.org/tumeric/services"/>
					</xs:appinfo>
				</xs:annotation>
				<xs:restriction base="xs:token">
					<xs:enumeration value="Error"/>
					<xs:enumeration value="Warning"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:complexType name="ExtensionType">
				<xs:annotation>
					<xs:documentation>
						Documentation goes here
					</xs:documentation>
					<xs:appinfo>
						<typeLibrarySource library="common-type-library" namespace="http://www.ebayopensource.org/tumeric/services"/>
					</xs:appinfo>
				</xs:annotation>
				<xs:sequence>
					<xs:element name="id" type="xs:positiveInteger"/>
					<xs:element name="version" type="xs:string"/>
					<xs:element name="contentType" type="xs:string"/>
					<xs:element name="value" type="xs:string"/>

						processContents="lax" /&gt;
				</xs:sequence>
			</xs:complexType>
			<xs:element name="getVersionRequest" type="tns:GetVersionRequest"/>
			<xs:complexType name="GetVersionRequest">
				<xs:annotation>
					<xs:documentation>
						Document goes here
					</xs:documentation>
				</xs:annotation>
				<xs:complexContent>
					<xs:extension base="tns:BaseRequest">
						<xs:sequence/>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:element name="getVersionResponse" type="tns:GetVersionResponse"/>
			<xs:complexType name="GetVersionResponse">
				<xs:annotation>
					<xs:documentation>
						Document goes here
					</xs:documentation>
				</xs:annotation>
				<xs:complexContent>
					<xs:extension base="tns:BaseResponse">
						<xs:sequence/>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:element name="getStoreFrontInfoByStoreIdRequest" type="tns:GetStoreFrontInfoByStoreIdRequest">

			</xs:element>
			<xs:element name="getStoreFrontInfoByStoreIdResponse" type="tns:GetStoreFrontInfoByStoreIdResponse">

			</xs:element>
		
			<xs:complexType name="GetStoreFrontInfoByStoreIdRequest">
				<xs:complexContent>
					<xs:extension base="tns:BaseRequest">
						<xs:sequence>
							<xs:element maxOccurs="1" minOccurs="1" name="storeId" type="xs:string">
							</xs:element>
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>

			<xs:complexType name="GetStoreFrontInfoByStoreIdResponse">
				<xs:complexContent>
					<xs:extension base="tns:BaseResponse">
						<xs:sequence>
							<xs:element maxOccurs="1" minOccurs="0" name="storeFrontInfo" type="tns:StoreFrontInfo">
							</xs:element>
							<xs:element maxOccurs="1" minOccurs="0" name="logId" type="xs:string">
							</xs:element>
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:element name="getStoreFrontInfoByOwnerIdRequest" type="tns:GetStoreFrontInfoByOwnerIdRequest">
            </xs:element>
            <xs:element name="getStoreFrontInfoByOwnerIdResponse" type="tns:GetStoreFrontInfoByOwnerIdResponse">

            </xs:element>
		
            <xs:complexType name="GetStoreFrontInfoByOwnerIdRequest">
            	<xs:complexContent>
            		<xs:extension base="tns:BaseRequest">
            			<xs:sequence>
            				<xs:element maxOccurs="1" minOccurs="1" name="ownerId" type="xs:string">
            				</xs:element>
            			</xs:sequence>
            		</xs:extension>
            	</xs:complexContent>
            </xs:complexType>

            <xs:complexType name="GetStoreFrontInfoByOwnerIdResponse">
            	<xs:complexContent>
            		<xs:extension base="tns:BaseResponse">
            			<xs:sequence>
            				<xs:element maxOccurs="1" minOccurs="0" name="storeFrontInfo" type="tns:StoreFrontInfo">
            				</xs:element>
            				<xs:element maxOccurs="1" minOccurs="0" name="logId" type="xs:string">
            				</xs:element>
            			</xs:sequence>
            		</xs:extension>
            	</xs:complexContent>
            </xs:complexType>

            <xs:complexType name="StoreFrontInfo">
            	<xs:sequence>
            		<!-- from the table: ebay_storefronts -->
            		<xs:element maxOccurs="1" minOccurs="1" name="storeName" type="xs:string"/>


            		<xs:element minOccurs="0" name="customLogo" type="xs:string"/>
            		<!-- replaced by custom logo ???  
            			<xs:element minOccurs="0" name="storeGraphic"
            			type="xs:int" />
            		-->
            		<xs:element maxOccurs="1" minOccurs="0" name="subscriptionLevel" type="xs:string"/>
            		<xs:element minOccurs="0" name="lightColor" type="xs:string"/>
            		<xs:element minOccurs="0" name="darkColor" type="xs:string"/>
            		<xs:element minOccurs="0" name="colorId" type="xs:int"/>
            		<xs:element minOccurs="0" name="colorForeGround" type="xs:string"/>
            		<xs:element minOccurs="0" name="colorBackGround" type="xs:string"/>
            		<xs:element minOccurs="0" name="colorText" type="xs:string"/>
            		<xs:element minOccurs="0" name="vacationReturnDate" type="xs:dateTime"/>
            		<xs:element minOccurs="0" name="onVacation" type="xs:boolean"/>
            		<xs:element maxOccurs="1" minOccurs="0" name="storeFrontCustomMessage" type="xs:string"/>
            		<xs:element maxOccurs="1" minOccurs="0" name="showCustomHeader" type="xs:boolean">
            		</xs:element>
            		<xs:element maxOccurs="1" minOccurs="0" name="showCustomListingHeader" type="xs:boolean">
            		</xs:element>
            		<xs:element maxOccurs="1" minOccurs="0" name="showCustomListingHeaderAndLeftNav" type="xs:boolean">
            		</xs:element>

            		<!-- from the table: storefront_viewitem_header    
            			<xs:element minOccurs="0" name="displayType" type="xs:int" /> 
            			<xs:element minOccurs="0" name="includeSearch" type="xs:boolean" /> 
            			<xs:element minOccurs="0" name="oldPreferenceComaptible" type="xs:boolean" />
            			<xs:element minOccurs="0" name="marketingMessageType" type="xs:token" /> 
            			<xs:element minOccurs="0" name="storeHeaderCustomLinks" type="xs:boolean" />
            			<xs:element minOccurs="0" name="customMessage" type="xs:string" />
            		-->
            		<!-- NGVI specific: depending on flags:
            			STORE_OPTIONS_SHOW_CUSTOM_HEADER, or
            			STORE_OPTIONS_SHOW_CUSTOM_LISTING_HEADER_LEFT_NAV
            			
            			<xs:element minOccurs="0" name="includeLogo" type="xs:boolean" /> 
            			<xs:element minOccurs="0" name="includeFavoriteStore" type="xs:boolean" />
            			<xs:element minOccurs="0" name="includeNewsletterSignup" type="xs:boolean" />
            			<xs:element minOccurs="0" name="includeItemsOnSale" type="xs:boolean" />
            			<xs:element minOccurs="0" name="includeLeftNav" type="xs:boolean" />
            		-->

            		<!-- leave these for application to build





            			
            			<xs:element minOccurs="0" maxOccurs="unbounded"
            			name="categoryLinks"  
            			type="tns:StoreCustomListingHeaderLink" />
            		-->

            		<!-- from the table: storefront_preference -->
            		<xs:element minOccurs="0" name="colorSchemeId" type="xs:int"/>
            		<xs:element minOccurs="0" name="primaryColor" type="xs:string"/>
            		<xs:element minOccurs="0" name="secondaryColor" type="xs:string"/>
            		<xs:element minOccurs="0" name="storeNameFontFace" type="xs:string"/>
            		<xs:element minOccurs="0" name="storeNameFontSize" type="xs:string"/>
            		<xs:element minOccurs="0" name="storeNameFontColor" type="xs:string"/>
            	</xs:sequence>
            </xs:complexType>
            <xs:element name="getStoreFrontInfoByOwnerNameRequest" type="tns:GetStoreFrontInfoByOwnerNameRequest">
            </xs:element>
            <xs:element name="getStoreFrontInfoByOwnerNameResponse" type="tns:GetStoreFrontInfoByOwnerNameResponse">

            </xs:element>
		
            <xs:complexType name="GetStoreFrontInfoByOwnerNameRequest">
            	<xs:complexContent>
            		<xs:extension base="tns:BaseRequest">
            			<xs:sequence>
            				<xs:element maxOccurs="1" minOccurs="1" name="ownerName" type="xs:string">
            				</xs:element>
            			</xs:sequence>
            		</xs:extension>
            	</xs:complexContent>
            </xs:complexType>
		
            <xs:complexType name="GetStoreFrontInfoByOwnerNameResponse">
            	<xs:complexContent>
            		<xs:extension base="tns:BaseResponse">
            			<xs:sequence>
            				<xs:element maxOccurs="1" minOccurs="0" name="storeFrontInfo" type="tns:StoreFrontInfo">
            				</xs:element>
            				<xs:element maxOccurs="1" minOccurs="0" name="logId" type="xs:string">
            				</xs:element>
            			</xs:sequence>
            		</xs:extension>
            	</xs:complexContent>
            </xs:complexType>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="getVersionRequest">
		<wsdl:part element="tns:getVersionRequest" name="params"/>
	</wsdl:message>
	<wsdl:message name="getVersionResponse">
		<wsdl:part element="tns:getVersionResponse" name="params"/>
	</wsdl:message>
	<wsdl:message name="getStoreFrontInfoByStoreIdRequest">
		<wsdl:part element="tns:getStoreFrontInfoByStoreIdRequest" name="param"/>
	</wsdl:message>
	<wsdl:message name="getStoreFrontInfoByStoreIdResponse">
		<wsdl:part element="tns:getStoreFrontInfoByStoreIdResponse" name="param"/>
	</wsdl:message>
	<wsdl:message name="getStoreFrontInfoByOwnerIdRequest">
		<wsdl:part element="tns:getStoreFrontInfoByOwnerIdRequest" name="param"/>
	</wsdl:message>
	<wsdl:message name="getStoreFrontInfoByOwnerIdResponse">
		<wsdl:part element="tns:getStoreFrontInfoByOwnerIdResponse" name="param"/>
	</wsdl:message>
	<wsdl:message name="getStoreFrontInfoByOwnerNameRequest">
		<wsdl:part element="tns:getStoreFrontInfoByOwnerNameRequest" name="request"/>
	</wsdl:message>
	<wsdl:message name="getStoreFrontInfoByOwnerNameResponse">
		<wsdl:part element="tns:getStoreFrontInfoByOwnerNameResponse" name="response"/>
	</wsdl:message>
	<wsdl:portType name="StoreInfoServicePort">
		<wsdl:operation name="getVersion">
			<wsdl:documentation>Get the current version of this service.</wsdl:documentation>
			<wsdl:input message="tns:getVersionRequest"/>
			<wsdl:output message="tns:getVersionResponse"/>
		</wsdl:operation>
		<wsdl:operation name="getStoreFrontInfoByStoreId">
			<wsdl:documentation>To retrieve the store information by using the store ID. </wsdl:documentation>
			<wsdl:input message="tns:getStoreFrontInfoByStoreIdRequest"/>
			<wsdl:output message="tns:getStoreFrontInfoByStoreIdResponse"/>
		</wsdl:operation>
		<wsdl:operation name="getStoreFrontInfoByOwnerId">
			<wsdl:documentation>To retrieve the store information by using the store's owner ID. </wsdl:documentation>
			<wsdl:input message="tns:getStoreFrontInfoByOwnerIdRequest"/>
			<wsdl:output message="tns:getStoreFrontInfoByOwnerIdResponse"/>
		</wsdl:operation>
		<wsdl:operation name="getStoreFrontInfoByOwnerName">
			<wsdl:input message="tns:getStoreFrontInfoByOwnerNameRequest"/>
			<wsdl:output message="tns:getStoreFrontInfoByOwnerNameResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="StoreInfoServiceHttpBinding" type="tns:StoreInfoServicePort">
		<http:binding verb="POST"/>
		<wsdl:operation name="getVersion">
			<http:operation location="/getVersion"/>
			<wsdl:input>
				<mime:content type="application/x-www-form-urlencoded"/>
			</wsdl:input>
			<wsdl:output>
				<mime:content type="text/xml"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getStoreFrontInfoByStoreId">
			<http:operation location="/getStoreFrontInfoByStoreId"/>
			<wsdl:input>
				<mime:content type="application/x-www-form-urlencoded"/>
			</wsdl:input>
			<wsdl:output>
				<mime:content type="text/xml"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getStoreFrontInfoByOwnerId">
			<http:operation location="/getStoreFrontInfoByOwnerId"/>
			<wsdl:input>
				<mime:content type="application/x-www-form-urlencoded"/>
			</wsdl:input>
			<wsdl:output>
				<mime:content type="text/xml"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getStoreFrontInfoByOwnerName">
			<http:operation location="/getStoreFrontInfoByOwnerName"/>
			<wsdl:input>
				<mime:content type="application/x-www-form-urlencoded"/>
			</wsdl:input>
			<wsdl:output>
				<mime:content type="text/xml"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="StoreInfoServiceSOAPBinding" type="tns:StoreInfoServicePort">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="getVersion">
			<soap:operation soapAction="http://www.ebayopensource.org/tumeric/buying/v1/services/getVersion"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getStoreFrontInfoByStoreId">
			<soap:operation soapAction="http://www.ebayopensource.org/tumeric/buying/v1/services/getStoreFrontInfoByStoreId"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getStoreFrontInfoByOwnerId">
			<soap:operation soapAction="http://www.ebayopensource.org/tumeric/buying/v1/services/getStoreFrontInfoByOwnerId"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getStoreFrontInfoByOwnerName">
			<soap:operation soapAction="http://www.ebayopensource.org/tumeric/buying/v1/services/getStoreFrontInfoByOwnerName"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="StoreInfoService">
		<wsdl:documentation>
			<version>1.0.0</version>
		</wsdl:documentation>
		<wsdl:port binding="tns:StoreInfoServiceHttpBinding" name="StoreInfoServiceHttpPort">
			<http:address location="https://svcs.ebay.com/services/buying/v1/StoreInfoService"/>
		</wsdl:port>
		<wsdl:port binding="tns:StoreInfoServiceSOAPBinding" name="StoreInfoServiceSOAPPort">
			<soap12:address location="https://svcs.ebay.com/services/buying/v1/StoreInfoService"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>