codegen/codegen-tools/src/test/resources/org/ebayopensource/turmeric/test/tools/codegen/data/proto/TestFullRunComplexTypeWsdl.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://codegen.tools.soaframework.test.ebay.com.fullrun" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xs="http://www.w3.org/2001/XMLSchema" name="Calculator" targetNamespace="http://codegen.tools.soaframework.test.ebay.com.fullrun">
    <wsdl:types>
        <xs:schema xmlns="http://codegen.tools.soaframework.test.ebay.com.fullrun" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://codegen.tools.soaframework.test.ebay.com.fullrun">
                    
                    <xs:simpleType name="testtoken">
  <xs:restriction base="xs:token">

</xs:restriction>
</xs:simpleType>

<xs:simpleType name="teststring">
  <xs:restriction base="xs:string">

</xs:restriction>
</xs:simpleType>
<xs:simpleType name="testdecimal">
 <xs:restriction base="xs:decimal">
  <xs:fractionDigits value="2"/>
  <xs:minExclusive value="0.00"/>
  <xs:maxExclusive value="100.00"/>
 </xs:restriction>
</xs:simpleType>

<xs:simpleType name="testinteger">
 <xs:restriction base="xs:integer">
  <xs:minExclusive value="0"/>
  <xs:maxExclusive value="100"/>
 </xs:restriction>
</xs:simpleType>

<xs:simpleType name="MySimpleTypeList">
  <xs:list itemType="xs:double"/>
 </xs:simpleType>


                    
         <xs:complexType name="TestAllPossibleComplexTypeFullRun">
<xs:sequence>
<xs:element minOccurs="0" name="param1" type="tns:testtoken"/>
<xs:element minOccurs="0" name="param2" type="tns:teststring"/>
<xs:element minOccurs="0" name="param3" type="tns:testdecimal"/>
<xs:element minOccurs="0" name="param4" type="tns:testinteger"/>
<xs:element minOccurs="0" name="param5" type="tns:MySimpleTypeList"/>
<xs:element minOccurs="0" name="param6" type="xs:int"/>
<xs:element minOccurs="0" name="param7" type="xs:long"/>
<xs:element minOccurs="0" name="param8" type="xs:positiveInteger"/>
<xs:element minOccurs="0" name="param14" type="xs:anyURI"/>
<xs:element minOccurs="0" name="param15" type="xs:boolean"/>
<xs:element minOccurs="0" name="param17" type="xs:byte"/>
<!-- <xs:element minOccurs="0" name="param18" type="xs:base64Binary " />-->
<xs:element minOccurs="0" name="param19" type="xs:duration"/>
<xs:element minOccurs="0" name="param20" type="xs:dateTime"/>
<xs:element minOccurs="0" name="param21" type="xs:time"/>
<xs:element minOccurs="0" name="param22" type="xs:gYearMonth"/>
<xs:element minOccurs="0" name="param23" type="xs:gYear"/>


<xs:element minOccurs="0" name="param24" type="xs:gMonthDay"/>

<xs:element minOccurs="0" name="param25" type="xs:gDay"/>

<xs:element minOccurs="0" name="param26" type="xs:gMonth"/>
<xs:element minOccurs="0" name="param27" type="xs:hexBinary"/>
<xs:element minOccurs="0" name="param28" type="xs:QName"/>
<xs:element minOccurs="0" name="param29" type="xs:unsignedByte"/>

<xs:element minOccurs="0" name="param30" type="xs:unsignedInt"/>

<xs:element minOccurs="0" name="param31" type="xs:unsignedLong"/>

<xs:element minOccurs="0" name="param32" type="xs:unsignedShort"/>
<xs:element maxOccurs="unbounded" minOccurs="0" name="param34" type="tns:testdecimal"/>
<xs:element maxOccurs="unbounded" minOccurs="0" name="param35" type="xs:QName"/>
<xs:element maxOccurs="unbounded" minOccurs="0" name="param36" type="xs:positiveInteger"/>
<xs:element maxOccurs="unbounded" minOccurs="0" name="param37" type="xs:byte"/>
<xs:element maxOccurs="unbounded" minOccurs="0" name="param38" type="xs:short"/>
</xs:sequence>          
 </xs:complexType>          
           
  <xs:element name="test" type="tns:TestAllPossibleComplexTypeFullRun"/>         
           
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="add">
        <wsdl:part element="tns:test" name="add"/>
    </wsdl:message>
    <wsdl:message name="addResponse">
        <wsdl:part element="tns:test" name="addResponse"/>
    </wsdl:message>
    <wsdl:portType name="Calculator">
        <wsdl:operation name="add">
            <wsdl:input message="tns:add" name="add"/>
            <wsdl:output message="tns:addResponse" name="addResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="CalculatorSoapBinding" type="tns:Calculator">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="add">
            <soap:operation soapAction="add" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="CalculatorService">
        <wsdl:port binding="tns:CalculatorSoapBinding" name="Calculator">
            <soap:address location="http://localhost:8080/calculator"/>
            <wswa:UsingAddressing xmlns:wswa="http://www.w3.org/2005/08/addressing/wsdl"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>