codegen/codegen-tools/src/test/resources/org/ebayopensource/turmeric/test/tools/codegen/data/proto/TnsTaxonomyService_for_tags.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://www.ebayopensource.org/tumeric/services" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xs="http://www.w3.org/2001/XMLSchema" name="TnsTaxonomyService" targetNamespace="http://www.ebayopensource.org/tumeric/services">

	<wsdl:types>
		<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.ebayopensource.org/tumeric/services">
			<xs:element name="getVersionResponse" type="tns:GetVersionResponse"/>

			<xs:complexType name="GetVersionResponse">
				<xs:annotation>
					<xs:documentation/>

					<xs:appinfo/>
				</xs:annotation>
				<xs:complexContent>
					<xs:extension base="tns:BaseServiceResponse">
						<xs:sequence/>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>

			<xs:complexType abstract="true" name="BaseServiceRequest">
				<xs:annotation>
					<xs:documentation>
						This is the base class for request container for
						all service operations.
					</xs:documentation>
				</xs:annotation>
				<xs:sequence>

						processContents="lax" /&gt;
				</xs:sequence>
			</xs:complexType>
			<xs:complexType abstract="true" name="BaseServiceResponse">
				<xs:annotation>
					<xs:documentation>
						Base response container for all service
						operations. Contains error information
						associated with the request.
					</xs:documentation>
				</xs:annotation>
				<xs:sequence>
					<xs:element name="ack" type="xs:string">
						<xs:annotation>
							<xs:appinfo>
								<CallInfo>
									<AllCalls/>
									<Returned>Always</Returned>

								</CallInfo>
							</xs:appinfo>
							<xs:documentation>

							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="errorMessage" type="tns:ErrorMessage">
						<xs:annotation>
							<xs:appinfo>
								<CallInfo>
									<AllCalls/>
									<Returned>Conditionally</Returned>
								</CallInfo>
							</xs:appinfo>
							<xs:documentation>
								Information for an error or warning that
								occurred when eBay processed the
								request.
							</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="version" type="xs:string">
						<xs:annotation>
							<xs:appinfo>
								<CallInfo>
									<AllCalls/>
									<Returned>Always</Returned>

								</CallInfo>
							</xs:appinfo>
							<xs:documentation/>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="timestamp" type="xs:dateTime">
						<xs:annotation>
							<xs:appinfo>
								<CallInfo>
									<AllCalls/>
									<Returned>Always</Returned>
								</CallInfo>
							</xs:appinfo>
							<xs:documentation/>
						</xs:annotation>
					</xs:element>

						processContents="lax" /&gt;
				</xs:sequence>
			</xs:complexType>
			<xs:simpleType name="ErrorCategory">
				<xs:annotation>
					<xs:documentation>
						Documentation goes here.
					</xs:documentation>
				</xs:annotation>
				<xs:restriction base="xs:token">
					<xs:enumeration value="System"/>
					<xs:enumeration value="Application"/>
					<xs:enumeration value="Request"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:complexType name="ErrorData">
				<xs:annotation>
					<xs:appinfo/>
					<xs:documentation>
						Documentation goes here
					</xs:documentation>
				</xs:annotation>
				<xs:sequence>
					<xs:element name="errorId" type="xs:long"/>
					<xs:element name="domain" type="xs:string"/>
					<xs:element minOccurs="0" name="subdomain" type="xs:string"/>
					<xs:element name="severity" type="tns:ErrorSeverity"/>
					<xs:element name="category" type="tns:ErrorCategory"/>
					<xs:element name="message" type="xs:string"/>
					<xs:element minOccurs="0" name="exceptionId" type="xs:token"/>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="parameter" type="tns:ErrorParameter"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="ErrorMessage">
				<xs:annotation>
					<xs:appinfo/>
					<xs:documentation>
						Documentation goes here
					</xs:documentation>
				</xs:annotation>
				<xs:sequence>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="error" type="tns:ErrorData"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="ErrorParameter">
				<xs:annotation>
					<xs:appinfo/>
					<xs:documentation>
						Documentation goes here
					</xs:documentation>
				</xs:annotation>
				<xs:simpleContent>
					<xs:extension base="xs:string">
						<xs:attribute name="name" type="xs:string" use="optional"/>
					</xs:extension>
				</xs:simpleContent>
			</xs:complexType>
			<xs:simpleType name="ErrorSeverity">
				<xs:annotation>
					<xs:documentation>
						Documentation goes here.
					</xs:documentation>
				</xs:annotation>
				<xs:restriction base="xs:token">
					<xs:enumeration value="Error"/>
					<xs:enumeration value="Warning"/>
				</xs:restriction>
			</xs:simpleType>
			<xs:element name="getPolicyGroupsRequest">
			<xs:complexType>
				<xs:complexContent>
					<xs:extension base="tns:BaseServiceRequest">
						<xs:sequence>
							<xs:element minOccurs="0" name="siteId" type="xs:int"/>
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="getPolicyGroupsResponse">
			<xs:complexType>
				<xs:complexContent>
					<xs:extension base="tns:BaseServiceResponse">
						<xs:sequence>
							<xs:element maxOccurs="unbounded" minOccurs="0" name="policyGroup" type="tns:TnsPolicyGroup">
							</xs:element>
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="getPoliciesRequest">
			<xs:complexType>
				<xs:complexContent>
					<xs:extension base="tns:BaseServiceRequest">
						<xs:sequence>
							<xs:element minOccurs="0" name="siteId" type="xs:int"/>
							<xs:element minOccurs="0" name="policyGroupId" type="xs:int"/>
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="getPoliciesResponse">
			<xs:complexType>
				<xs:complexContent>
					<xs:extension base="tns:BaseServiceResponse">
						<xs:sequence>
							<xs:element maxOccurs="unbounded" minOccurs="0" name="policy" type="tns:TnsPolicy">
							</xs:element>
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="addPolicyGroupRequest">
			<xs:complexType>
				<xs:complexContent>
					<xs:extension base="tns:BaseServiceRequest">
						<xs:sequence>
							<xs:element minOccurs="1" name="siteId" type="xs:int"/>
							<xs:element minOccurs="1" name="policyGroupName" type="xs:string"/>
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="addPolicyGroupResponse">
			<xs:complexType>
				<xs:complexContent>
					<xs:extension base="tns:BaseServiceResponse">
						<xs:sequence>
							<xs:element minOccurs="0" name="policyGroup" type="tns:TnsPolicyGroup">
							</xs:element>
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="addPolicyRequest">
			<xs:complexType>
				<xs:complexContent>
					<xs:extension base="tns:BaseServiceRequest">
						<xs:sequence>
							<xs:element minOccurs="1" name="siteId" type="xs:int"/>
							<xs:element minOccurs="1" name="policyGroupId" type="xs:int"/>
							<xs:element minOccurs="1" name="policyName" type="xs:string"/>
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="addPolicyResponse">
			<xs:complexType>
				<xs:complexContent>
					<xs:extension base="tns:BaseServiceResponse">
						<xs:sequence>
							<xs:element minOccurs="0" name="policy" type="tns:TnsPolicy">
							</xs:element>
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="getPrioritiesRequest">
			<xs:complexType>
				<xs:complexContent>
					<xs:extension base="tns:BaseServiceRequest">
						<xs:sequence>
							<xs:element minOccurs="0" name="siteId" type="xs:int"/>
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="getPrioritiesResponse">
			<xs:complexType>
				<xs:complexContent>
					<xs:extension base="tns:BaseServiceResponse">
						<xs:sequence>
							<xs:element maxOccurs="unbounded" minOccurs="0" name="priority" type="tns:TnsPriority">
							</xs:element>
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
				</xs:complexType>
			</xs:element>

			<xs:complexType name="TnsPolicyGroup">
				<xs:sequence>
					<xs:element name="policyGroupId" type="xs:int"/>
					<xs:element name="siteId" type="xs:int"/>
					<xs:element name="policyGroupName" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="TnsPolicy">
				<xs:sequence>
					<xs:element name="policyId" type="xs:int"/>
					<xs:element name="siteId" type="xs:int"/>
					<xs:element name="policyGroupId" type="xs:int"/>
					<xs:element name="policyName" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="TnsPriority">
				<xs:sequence>
					<xs:element name="priorityId" type="xs:int"/>
					<xs:element name="siteId" type="xs:int"/>
					<xs:element name="priorityName" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>

		</xs:schema>
	</wsdl:types>
	<wsdl:message name="getVersionResponse">
		<wsdl:part element="tns:getVersionResponse" name="parameters"/>
	</wsdl:message>

	<wsdl:message name="getPolicyGroupsRequest">
		<wsdl:part element="tns:getPolicyGroupsRequest" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="getPolicyGroupsResponse">
		<wsdl:part element="tns:getPolicyGroupsResponse" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="getPoliciesRequest">
		<wsdl:part element="tns:getPoliciesRequest" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="getPoliciesResponse">
		<wsdl:part element="tns:getPoliciesResponse" name="parameters">
		</wsdl:part>
	</wsdl:message>

	<wsdl:message name="addPolicyGroupRequest">
		<wsdl:part element="tns:addPolicyGroupRequest" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="addPolicyGroupResponse">
		<wsdl:part element="tns:addPolicyGroupResponse" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="addPolicyRequest">
		<wsdl:part element="tns:addPolicyRequest" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="addPolicyResponse">
		<wsdl:part element="tns:addPolicyResponse" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="getPrioritiesRequest">
		<wsdl:part element="tns:getPrioritiesRequest" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="getPrioritiesResponse">
		<wsdl:part element="tns:getPrioritiesResponse" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:portType name="TnsTaxonomyServicePort">
		<wsdl:operation name="getVersion">
			<wsdl:output message="tns:getVersionResponse"/>
		</wsdl:operation>
		<wsdl:operation name="getPolicyGroups">
			<wsdl:documentation>
				Retrieves available policy groups - all or for given site
			</wsdl:documentation>
			<wsdl:input message="tns:getPolicyGroupsRequest"/>
			<wsdl:output message="tns:getPolicyGroupsResponse"/>
		</wsdl:operation>
		<wsdl:operation name="getPolicies">
			<wsdl:documentation>
				Retrieves available policies - all or for given site/policy group
			</wsdl:documentation>
			<wsdl:input message="tns:getPoliciesRequest"/>
			<wsdl:output message="tns:getPoliciesResponse"/>
		</wsdl:operation>

		<wsdl:operation name="addPolicyGroup">
			<wsdl:documentation>
				Creates specified new policy group0
			</wsdl:documentation>
			<wsdl:input message="tns:addPolicyGroupRequest"/>
			<wsdl:output message="tns:addPolicyGroupResponse"/>
		</wsdl:operation>
		<wsdl:operation name="addPolicy">
			<wsdl:documentation>
				Creates specified new policy
			</wsdl:documentation>
			<wsdl:input message="tns:addPolicyRequest"/>
			<wsdl:output message="tns:addPolicyResponse"/>
		</wsdl:operation>
		<wsdl:operation name="getPriorities">
			<wsdl:documentation>
				Retrieves available priorities - all or for given site
			</wsdl:documentation>
			<wsdl:input message="tns:getPrioritiesRequest"/>
			<wsdl:output message="tns:getPrioritiesResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="TnsTaxonomyServiceHttpBinding" type="tns:TnsTaxonomyServicePort">
		<http:binding verb="POST"/>
		<wsdl:operation name="getVersion">
			<http:operation location="TnsTaxonomyService/getVersion"/>
			<wsdl:output>
				<mime:content part="getVersion" type="text/xml"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="TnsTaxonomyServiceSOAPBinding" type="tns:TnsTaxonomyServicePort">

		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="getVersion">

			<soap:operation soapAction="http://www.ebayopensource.org/tumeric/services/getVersion"/>
			<wsdl:output>

				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getPolicyGroups">

			<soap:operation soapAction="http://www.ebayopensource.org/tumeric/services/getPolicyGroups"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getPolicies">

			<soap:operation soapAction="http://www.ebayopensource.org/tumeric/services/getPolicies"/>
			<wsdl:input>

				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>

				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="addPolicyGroup">
			<soap:operation soapAction="http://www.ebayopensource.org/tumeric/services/addPolicyGroup"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="addPolicy">
			<soap:operation soapAction="http://www.ebayopensource.org/tumeric/services/addPolicy"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getPriorities">

			<soap:operation soapAction="http://www.ebayopensource.org/tumeric/services/getPriorities"/>
			<wsdl:input>

				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>

				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="TnsTaxonomyService">
		<wsdl:documentation>
		<Version>1.0.0</Version>
		Provides definition of hierarchical classification buckets for the tns rules
		</wsdl:documentation>		
		<wsdl:port binding="tns:TnsTaxonomyServiceHttpBinding" name="TnsTaxonomyServiceHttpPort">
			<http:address location="http://svcs.ebay.com/TnsTaxonomyService"/>
		</wsdl:port>
		<wsdl:port binding="tns:TnsTaxonomyServiceSOAPBinding" name="TnsTaxonomyServiceSOAPPort">
			<soap12:address location="http://svcs.ebay.com/TnsTaxonomyService"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>