codegen/codegen-tools/src/test/resources/org/ebayopensource/turmeric/test/tools/codegen/data/proto/UserProfileService_for_tags.wsdl

<?xml version="1.0" encoding="UTF-8"?><wsdl:definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:ns0="http://www.ebayopensource.org/tumeric/services" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.ebayopensource.org/tumeric/services">
  <wsdl:types>
    <xs:schema xmlns:tns="http://www.ebayopensource.org/tumeric/services" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.ebayopensource.org/tumeric/services">
		
			<xs:element name="getUserActivityProfileResponse" type="tns:GetUserActivityProfileResponse"/>
			
			<xs:complexType abstract="true" name="BaseServiceResponse">
				<xs:annotation>
					<xs:documentation>
						Base response container for all service operations. Contains error information
						associated with the request.
					</xs:documentation>
				</xs:annotation>
				<xs:sequence>
					<xs:element name="ack" type="tns:AckValue">
						<xs:annotation>
							<xs:documentation>
								
							</xs:documentation>
							<xs:appinfo>
								<CallInfo>
									<AllCalls/>
									<Returned>Always</Returned>
								</CallInfo>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="errorMessage" type="tns:ErrorMessage">
						<xs:annotation>
							<xs:documentation>
								Information for an error or warning that occurred when eBay processed the
								request.
							</xs:documentation>
							<xs:appinfo>
								<CallInfo>
									<AllCalls/>
									<Returned>Conditionally</Returned>
								</CallInfo>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="version" type="xs:string">
						<xs:annotation>
							<xs:documentation>
							</xs:documentation>
							<xs:appinfo>
								<CallInfo>
									<AllCalls/>
									<Returned>Always</Returned>
								</CallInfo>
							</xs:appinfo>
						</xs:annotation>

					</xs:element>
					<xs:element minOccurs="0" name="timestamp" type="xs:dateTime">
						<xs:annotation>
							<xs:documentation>
							</xs:documentation>
							<xs:appinfo>
								<CallInfo>
									<AllCalls/>
									<Returned>Always</Returned>
								</CallInfo>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>		

				</xs:sequence>
			</xs:complexType>


			<xs:simpleType name="AckValue">
				<xs:annotation>
					<xs:documentation>
						Indicates whether the error is a severe error (causing the request to fail)
						or an informational error (a warning) that should be communicated to the
						user.
					</xs:documentation>
				</xs:annotation>
				<xs:restriction base="xs:string">
					<xs:enumeration value="Success">
						<xs:annotation>
							<xs:documentation>
								The request was processed successfully, but something occurred that may
								affect your application or the user.				
							</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="Failure">
						<xs:annotation>
							<xs:documentation>
								The request that triggered the error was not processed successfully.
								When a serious application-level error occurs, the error is returned
								instead of the business data.
							</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="Warning">
						<xs:annotation>
							<xs:documentation>
								The request that triggered the error was processed successfully but with some warnings.
							</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="PartialFailure">
						<xs:annotation>
							<xs:documentation>
								The request that triggered the error was processed successfully but with some warnings.
							</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
				</xs:restriction>
			</xs:simpleType>

	<xs:complexType abstract="true" name="BaseUserProfileServiceResponse">
		<xs:annotation>
			<xs:documentation>
				This is the base class for response container for all operations in the
				User Profile Service.
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="tns:BaseServiceResponse">
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
						
	<xs:complexType name="GetUserActivityProfileResponse">
		<xs:annotation>
			<xs:documentation>
				Response container for getUserActivityProfile operation in the UserProfile Service.
			</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="tns:BaseUserProfileServiceResponse">
				<xs:sequence>
					<xs:element name="EiasId" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								Unique identifier of eBay user.
							</xs:documentation>
							<xs:appinfo>
								<CallInfo>
									<CallName>getUserActivityProfile</CallName>
									<Returned>Always</Returned>
								</CallInfo>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="totalHistoricalGMV" type="tns:Amount">
						<xs:annotation>
							<xs:documentation>
								Total historical GMV this user has on eBay.
							</xs:documentation>
							<xs:appinfo>
								<CallInfo>
									<CallName>getUserActivityProfile</CallName>
									<Returned>Always</Returned>
								</CallInfo>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="totalHistoricalGMB" type="tns:Amount">
						<xs:annotation>
							<xs:documentation>
								Total historical GMB this user has on eBay.
							</xs:documentation>
							<xs:appinfo>
								<CallInfo>
									<CallName>getUserActivityProfile</CallName>
									<Returned>Always</Returned>
								</CallInfo>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="lastSixMonthGMV" type="tns:Amount">
						<xs:annotation>
							<xs:documentation>
								GMV in last 6 months this user has on eBay.
							</xs:documentation>
							<xs:appinfo>
								<CallInfo>
									<CallName>getUserActivityProfile</CallName>
									<Returned>Always</Returned>
								</CallInfo>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="lastSixMonthGMB" type="tns:Amount">
						<xs:annotation>
							<xs:documentation>
								GMB in last 6 months this user has on eBay.
							</xs:documentation>
							<xs:appinfo>
								<CallInfo>
									<CallName>getUserActivityProfile</CallName>
									<Returned>Always</Returned>
								</CallInfo>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="balanceDue" type="tns:Amount">
						<xs:annotation>
							<xs:documentation>
								Balance due as of last update.
							</xs:documentation>
							<xs:appinfo>
								<CallInfo>
									<CallName>getUserActivityProfile</CallName>
									<Returned>Always</Returned>
								</CallInfo>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="totalBids" type="xs:long">
						<xs:annotation>
							<xs:documentation>
								total historical bids this user has made.
							</xs:documentation>
							<xs:appinfo>
								<CallInfo>
									<CallName>getUserActivityProfile</CallName>
									<Returned>Always</Returned>
								</CallInfo>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="totalWinningBids" type="xs:long">
						<xs:annotation>
							<xs:documentation>
								total winning bids this user has made.
							</xs:documentation>
							<xs:appinfo>
								<CallInfo>
									<CallName>getUserActivityProfile</CallName>
									<Returned>Always</Returned>
								</CallInfo>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="totalListings" type="xs:long">
						<xs:annotation>
							<xs:documentation>
								total successful listings this user has made.
							</xs:documentation>
							<xs:appinfo>
								<CallInfo>
									<CallName>getUserActivityProfile</CallName>
									<Returned>Always</Returned>
								</CallInfo>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="totalSoldListings" type="xs:long">
						<xs:annotation>
							<xs:documentation>
								total sold listings this user has made.
							</xs:documentation>
							<xs:appinfo>
								<CallInfo>
									<CallName>getUserActivityProfile</CallName>
									<Returned>Always</Returned>
								</CallInfo>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>	
					<xs:element name="sentCSEmail" type="xs:boolean">
						<xs:annotation>
							<xs:documentation>
								whether the user has sent customer support email in last 30 days.
							</xs:documentation>
							<xs:appinfo>
								<CallInfo>
									<CallName>getUserActivityProfile</CallName>
									<Returned>Always</Returned>
								</CallInfo>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="kanaHotKey" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								List of Kana Hotkeys used to answer customer emails in past 30 days .
							</xs:documentation>
							<xs:appinfo>
								<CallInfo>
									<CallName>getUserActivityProfile</CallName>
									<Returned>Always</Returned>
								</CallInfo>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					
					<xs:element name="feedbackScore" type="xs:int">
						<xs:annotation>
							<xs:documentation>
								feedback score this user has made.
							</xs:documentation>
							<xs:appinfo>
								<CallInfo>
									<CallName>getUserActivityProfile</CallName>
									<Returned>Always</Returned>
								</CallInfo>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>

					<xs:element minOccurs="0" name="detailedSellerRating" type="tns:DetailedSellerRating">
						<xs:annotation>
							<xs:documentation>
								container for detailed seller ratings.
							</xs:documentation>
							<xs:appinfo>
								<CallInfo>
									<CallName>getUserActivityProfile</CallName>
									<Returned>Always</Returned>
								</CallInfo>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
																		
					<xs:element minOccurs="0" name="topSellerLevelCode" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								Top seller level code .
							</xs:documentation>
							<xs:appinfo>
								<CallInfo>
									<CallName>getUserActivityProfile</CallName>
									<Returned>Always</Returned>
								</CallInfo>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="topBuyerCode" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								top buyer code this user has.
							</xs:documentation>
							<xs:appinfo>
								<CallInfo>
									<CallName>getUserActivityProfile</CallName>
									<Returned>Always</Returned>
								</CallInfo>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
																		
					<xs:element name="registrationDate" type="xs:date">
						<xs:annotation>
							<xs:documentation>
								the user's registration date.
							</xs:documentation>
							<xs:appinfo>
								<CallInfo>
									<CallName>getUserActivityProfile</CallName>
									<Returned>Always</Returned>
								</CallInfo>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
																		
					<xs:element name="registrationGlobalId" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								indicates which site the user had registered.
							</xs:documentation>
							<xs:appinfo>
								<CallInfo>
									<CallName>getUserActivityProfile</CallName>
									<Returned>Always</Returned>
								</CallInfo>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="sellerStatus" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								seller status: Professional or Private status 
							</xs:documentation>
							<xs:appinfo>
								<CallInfo>
									<CallName>getUserActivityProfile</CallName>
									<Returned>Always</Returned>
								</CallInfo>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="userStatus" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								Potential values are: -1 = Unknown, 0 = Suspended, 1 = Confirmed, 2 = Unconfirmed, 3 = Ghost, 4 = In Maintenance, 
								5 = Deleted, 6 = CC Verify, 7 = Account on Hold, 8 = Merged, 9 = Reg Code Email Out, 10 = Term Pending, 
								11 = Unconfirmed (Half Opt In), 12 = CC Verify (Half Opt In), 13 = Unconfirmed (Passport), 14 = CC Verify (Passport), 
								15 = Unconfirmed (Express), 16 = Visitor, 17 = Guest (Created in Streamlined BIN project) 
							</xs:documentation>
							<xs:appinfo>
								<CallInfo>
									<CallName>getUserActivityProfile</CallName>
									<Returned>Always</Returned>
								</CallInfo>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="valueBasedSegmentationCode" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								Value-Based Segmentation Code for the user.
							</xs:documentation>
							<xs:appinfo>
								<CallInfo>
									<CallName>getUserActivityProfile</CallName>
									<Returned>Always</Returned>
								</CallInfo>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

			<xs:complexType name="Amount">
				<xs:annotation>
					<xs:documentation>
			Basic type for specifying monetary amounts. A double value (e.g.,1.00 or 1.0) is
			meaningful as a monetary amount when accompanied by a specification of the
			currency, in which case the value specifies the amount in that currency. An
			AmountType expresses both the value (a double) and the currency. ActivityProfile such as
			prices, fees, costs,and payments are specified as amount types.
		</xs:documentation>
				</xs:annotation>
				<xs:simpleContent>
					<xs:extension base="xs:double">
						<xs:attribute name="currencyId" type="xs:string" use="required">
							<xs:annotation>
								<xs:documentation>
						Currency in which the monetary amount is specified.
						&lt;br&gt;&lt;br&gt;
						For a list of possible enumeration values, see
						&lt;a href="Enums/currencyIdList.html.html"&gt;currencyId Values&lt;/a&gt;.
					</xs:documentation>
								<xs:appinfo>
									<CallInfo>
										<AllCalls/>
										<Returned>Always</Returned>
									</CallInfo>
								</xs:appinfo>
							</xs:annotation>
						</xs:attribute>
					</xs:extension>
				</xs:simpleContent>
			</xs:complexType>

			<xs:complexType name="DetailedSellerRating">
				<xs:annotation>
					<xs:documentation>
					container type for detailed seller ratings.
					</xs:documentation>
				</xs:annotation>
				<xs:sequence>
							<xs:element name="itemAsDescribedAverageRate" type="xs:double">
								<xs:annotation>
									<xs:documentation>
										Average rate for "item as described" this user has made in last X days, where X is defined in lookbackPeriod
									</xs:documentation>
									<xs:appinfo>
										<CallInfo>
											<CallName>getUserActivityProfile</CallName>
											<Returned>Always</Returned>
										</CallInfo>
									</xs:appinfo>
								</xs:annotation>
							</xs:element>
							<xs:element name="communicationAverageRate" type="xs:double">
								<xs:annotation>
									<xs:documentation>
										Average rate for "communication" this user has made in last X days, where X is defined in lookbackPeriod
									</xs:documentation>
									<xs:appinfo>
										<CallInfo>
											<CallName>getUserActivityProfile</CallName>
											<Returned>Always</Returned>
										</CallInfo>
									</xs:appinfo>
								</xs:annotation>
							</xs:element>
							<xs:element name="shippingTimeAverageRate" type="xs:double">
								<xs:annotation>
									<xs:documentation>
										Average rate for "shipping time" this user has made in last X days, where X is defined in lookbackPeriod
									</xs:documentation>
									<xs:appinfo>
										<CallInfo>
											<CallName>getUserActivityProfile</CallName>
											<Returned>Always</Returned>
										</CallInfo>
									</xs:appinfo>
								</xs:annotation>
							</xs:element>
							<xs:element name="shippingChargeAverageRate" type="xs:double">
								<xs:annotation>
									<xs:documentation>
										Average rate for "shipping charge" this user has made in last X days, where X is defined in lookbackPeriod
									</xs:documentation>
									<xs:appinfo>
										<CallInfo>
											<CallName>getUserActivityProfile</CallName>
											<Returned>Always</Returned>
										</CallInfo>
									</xs:appinfo>
								</xs:annotation>
							</xs:element>
							<xs:element name="lookbackPeriod" type="xs:duration">
							<xs:annotation>
								<xs:documentation>
									specify the time period in days over which the average is calculated.The duration is represented in the
					ISO 8601 duration format (PnDTnHnMnS)
								</xs:documentation>
								<xs:appinfo>
									<CallInfo>
										<CallName>getUserActivityProfile</CallName>
										<Returned>Always</Returned>
									</CallInfo>
								</xs:appinfo>
							</xs:annotation>
						</xs:element>

			</xs:sequence>
			</xs:complexType>
			
			<xs:complexType name="ErrorMessage">
				<xs:annotation>
					<xs:documentation>
						ErrorMessage to indicate any Error/Warning occured as part of service call.
						Any run time error will not be reported here, but will be reported aspart of
						soap fault.
					</xs:documentation>
				</xs:annotation>
				<xs:sequence>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="error" type="tns:ErrorData">
						<xs:annotation>
							<xs:documentation>
								ActivityProfile about a single error.
							</xs:documentation>
							<xs:appinfo>
								<CallInfo>
									<AllCalls/>
									<Returned>Conditionally</Returned>
								</CallInfo>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="ErrorData">
				<xs:annotation>
					<xs:documentation>
						This represents error details.
					</xs:documentation>
				</xs:annotation>
				<xs:sequence>
					<xs:element name="errorId" type="xs:long">
						<xs:annotation>
							<xs:documentation>
								A unique code that identifies the particular error condition that occurred.
								Your application can use error codes as identifiers in your customized
								error-handling algorithms.
							</xs:documentation>
							<xs:appinfo>
								<CallInfo>
									<AllCalls/>
									<Returned>Conditionally</Returned>
								</CallInfo>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					
					<xs:element name="domain" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								Name of the domain upon which the error occurred. 
								&lt;dl&gt;
								&lt;lh&gt;Domains include:&lt;/lh&gt;
								&lt;dt&gt;
									Marketplace
								&lt;/dt&gt;
								&lt;dd&gt;
									A business or validation error occurred for the UserProfile Service.
								&lt;/dd&gt;
								&lt;dt&gt;
									SOA
								&lt;/dt&gt;
								&lt;dd&gt;
									An exception occurred in the Service Oriented Architecture (SOA) framework.
								&lt;/dd&gt;
								&lt;/dl&gt;
							</xs:documentation>
							<xs:appinfo>
								<CallInfo>
									<AllCalls/>
									<Returned>Conditionally</Returned>
								</CallInfo>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="severity" type="tns:ErrorSeverity">
						<xs:annotation>
							<xs:documentation>
								Indicates whether the error caused the request to fail (Error) or not
								(Warning).
								&lt;br&gt;&lt;br&gt;
								If the request fails and the source of the problem is within the application
								(such as a missing required element), please change the application before you
								retry the request. If the problem is due to end-user input data, please alert
								the end-user to the problem and provide the means for them to correct the data.
								Once the problem in the application or data is resolved, you can attempt to re-
								send the request to eBay.
								&lt;br&gt;&lt;br&gt;
								If the source of the problem is on eBay's side, you can retry the request as-is
								a reasonable number of times (eBay recommends twice). If the error persists,
								contact Developer Technical Support. Once the problem has been resolved, the
								request may be resent in its original form.
								&lt;br&gt;&lt;br&gt;
								When a warning occurs, the error is returned in addition to the business data.
								In this case, you do not need to retry the request (as the original request was
								successful). However, depending on the cause or nature of the warning, you
								might need to contact either the end user or eBay to effect a long term
								solution to the problem to prevent it from reoccurring in the future.
							</xs:documentation>
							<xs:appinfo>
								<CallInfo>
									<AllCalls/>
									<Returned>Conditionally</Returned>
								</CallInfo>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="category" type="tns:ErrorCategory">
						<xs:annotation>
							<xs:documentation>
								There are three categories of errors: request errors, application errors, and
								system errors.
							</xs:documentation>
							<xs:appinfo>
								<CallInfo>
									<AllCalls/>
									<Returned>Conditionally</Returned>
								</CallInfo>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="message" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								A detailed description of the condition that resulted in the error.
							</xs:documentation>
							<xs:appinfo>
								<CallInfo>
									<AllCalls/>
									<Returned>Conditionally</Returned>
								</CallInfo>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="subdomain" type="xs:string">
						<xs:annotation>
							<xs:documentation>
								Name of the subdomain upon which the error occurred. 
								&lt;dl&gt;
								&lt;lh&gt;Subdomains include:&lt;/lh&gt;
								&lt;dt&gt;
									UserProfile
								&lt;/dt&gt;
								&lt;dd&gt;
									The error is specific to the UserProfile service.
								&lt;/dd&gt;
								&lt;dt&gt;
									MarketplaceCommon
								&lt;/dt&gt;
								&lt;dd&gt;
									The error is common to all Marketplace services.
								&lt;/dd&gt;
								&lt;/dl&gt;
							</xs:documentation>
							<xs:appinfo>
								<CallInfo>
									<AllCalls/>
									<Returned>Conditionally</Returned>
								</CallInfo>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="exceptionId" type="xs:token">
						<xs:annotation>
							<xs:documentation>
								Unique identifier for an exception associated with an error.
							</xs:documentation>
							<xs:appinfo>
								<CallInfo>
									<AllCalls/>
									<Returned>Conditionally</Returned>
								</CallInfo>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="parameter" type="tns:ErrorParameter">
						<xs:annotation>
							<xs:documentation>
								Some warning and error messages return one or more variables that contain
								contextual information about the error. This is often the field or value that
								triggered the error.
							</xs:documentation>
							<xs:appinfo>
								<CallInfo>
									<AllCalls/>
									<Returned>Conditionally</Returned>
								</CallInfo>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="ErrorParameter">
				<xs:annotation>
					<xs:documentation>
			Contextual information associated with an error.
		</xs:documentation>
				</xs:annotation>
				<xs:simpleContent>
					<xs:extension base="xs:string">
						<xs:attribute name="name" type="xs:string">
							<xs:annotation>
								<xs:documentation>
						The name of the parameter in the list of parameter types returned
						within the error type.
					</xs:documentation>
								<xs:appinfo>
									<CallInfo>
										<AllCalls/>
										<Returned>Conditionally</Returned>
									</CallInfo>
								</xs:appinfo>
							</xs:annotation>
						</xs:attribute>
					</xs:extension>
				</xs:simpleContent>
			</xs:complexType>
			<xs:simpleType name="ErrorSeverity">
				<xs:annotation>
					<xs:documentation>
			Indicates whether the error is a severe error (causing the request to fail)
			or an informational error (a warning) that should be communicated to the
			user.
		</xs:documentation>
				</xs:annotation>
				<xs:restriction base="xs:string">
					<xs:enumeration value="Error">
						<xs:annotation>
							<xs:documentation>
					The request that triggered the error was not processed successfully.
					When a serious application-level error occurs, the error is returned
					instead of the business data.
				</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="Warning">
						<xs:annotation>
							<xs:documentation>
					The request was processed successfully, but something occurred that may
					affect your application or the user. For example, eBay may have changed a
					value the user sent in. In this case, eBay returns a normal, successful
					response and also returns the warning.
				</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
				</xs:restriction>
			</xs:simpleType>
			<xs:simpleType name="ErrorCategory">
				<xs:annotation>
					<xs:documentation>
			There are three categories of error: request errors, application errors,
			and system errors. Request and application errors are caused primarily by
			invalid data passed in the request. System errors are caused primarily by
			application failures and cannot be corrected by changing request values.
		</xs:documentation>
				</xs:annotation>
				<xs:restriction base="xs:string">
					<xs:enumeration value="System">
						<xs:annotation>
							<xs:documentation>
					Indicates that an error has occurred on the eBay system side, such as a
					database or server down. An application can retry the request as-is a
					reasonable number of times (eBay recommends twice). If the error
					persists, contact Developer Technical Support. Once the problem has been
					resolved, the request may be resent in its original form.
				</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="Application">
						<xs:annotation>
							<xs:documentation>
					An error occurred due to a problem with the request, such as missing or
					invalid fields. The problem must be corrected before the request can be
					made again. If the problem is due to something in the application (such
					as a missing required field), the application must be changed. Once the
					problem in the application or data is resolved, resend the corrected
					request to eBay.
				</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="Request">
						<xs:annotation>
							<xs:documentation>
					An error occurred due to a problem with the request, such as invalid or
					missing data. The problem must be corrected before the request can be
					made again. If the problem is a result of end-user data, the application
					must alert the end-user to the problem and provide the means for the
					end-user to correct the data. Once the problem in the data is resolved,
					resend the request to eBay with the corrected data.
				</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
				</xs:restriction>
			</xs:simpleType>
		</xs:schema>
  </wsdl:types>
  <wsdl:message name="getUserActivityProfileRequest"/>
  <wsdl:message name="getUserActivityProfileResponse">
    <wsdl:part element="ns0:getUserActivityProfileResponse" name="params"/>
  </wsdl:message>
  <wsdl:portType name="UserProfileServicePort">
    <wsdl:operation name="getUserActivityProfile">
      <wsdl:input message="ns0:getUserActivityProfileRequest"/>
      <wsdl:output message="ns0:getUserActivityProfileResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="UserProfileServiceHttpBinding" type="ns0:UserProfileServicePort">
    <http:binding verb="POST"/>
    <wsdl:operation name="getUserActivityProfile">
      <http:operation location="UserProfileService/getUserActivityProfile"/>
      <wsdl:input>
        <mime:content part="getUserActivityProfile" type="text/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="getUserActivityProfile" type="text/xml"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="UserProfileServiceSOAPBinding" type="ns0:UserProfileServicePort">
    <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getUserActivityProfile">
    <soap12:operation soapAction="urn:getUserActivityProfile" style="document"/>
      <wsdl:input>
    <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
    <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UserProfileService">
    <wsdl:port binding="ns0:UserProfileServiceHttpBinding" name="UserProfileServiceHttp">
      <http:address location="http://svcs.ebay.com/UserProfileService"/>
    </wsdl:port>
    <wsdl:port binding="ns0:UserProfileServiceSOAPBinding" name="UserProfileServiceSOAP">
    <soap12:address location="http://svcs.ebay.com/UserProfileService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>