codegen/codegen-tools/src/test/resources/types/TypeLibrarySupportForProtobuf/ComplexTypeWithAnyAttr.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:tns="http://www.ebay.com/marketplace/advertising/v1/types"
	attributeFormDefault="unqualified" elementFormDefault="qualified"
	targetNamespace="http://www.ebay.com/marketplace/advertising/v1/types"
	version="1.0.0">
	<xs:complexType name="ComplexTypeWithAnyAttr">
		<xs:sequence>
			<xs:element maxOccurs="1" minOccurs="0" name="elementV"
				type="xs:string" />
			<xs:element maxOccurs="1" minOccurs="0" name="element"
				type="xs:string" />
		</xs:sequence>
		<xs:anyAttribute namespace="http://www.ebay.com/marketplace/advertising/v1/types" />
	</xs:complexType>
</xs:schema>

