codegen/codegen-tools/src/test/resources/types/TypeLibrarySupportForProtobuf/ComplexTypeWithAttr.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:tns="http://www.ebay.com/marketplace/advertising/v1/types"
	attributeFormDefault="unqualified" elementFormDefault="qualified"
	targetNamespace="http://www.ebay.com/marketplace/advertising/v1/types"
	version="1.0.0">
	<xs:complexType abstract="true" name="ComplexTypeWithAttr">
		<xs:sequence>
			<xs:element maxOccurs="1" minOccurs="0" name="inA"
				type="xs:string" />
		</xs:sequence>
		<xs:attribute name="attrZ" type="xs:float"/>
	</xs:complexType>
</xs:schema>

