codegen/codegen-tools/src/test/resources/types/TypeLibrarySupportForProtobuf/ComplexTypeusingGrp.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:tns="http://www.ebay.com/marketplace/advertising/v1/types"
	attributeFormDefault="unqualified" elementFormDefault="qualified"
	targetNamespace="http://www.ebay.com/marketplace/advertising/v1/types"
	version="1.0.0">
	<xs:group name="Literal">
		<xs:choice>
			<xs:element name="xInt" type="xs:int" />
			<xs:element name="xBoolean" type="xs:boolean" />
			<xs:element name="xString" type="xs:string" />
		</xs:choice>
	</xs:group>
	<xs:complexType name="ComplexTypeusingGrp">
		<xs:group ref="tns:Literal"></xs:group>
	</xs:complexType>
</xs:schema>

