codegen/codegen-tools/src/test/resources/types/TypeLibrarySupportForProtobuf/ComplexTypeUsingChoice.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:tns="http://www.ebay.com/marketplace/advertising/v1/types"
	attributeFormDefault="unqualified" elementFormDefault="qualified"
	targetNamespace="http://www.ebay.com/marketplace/advertising/v1/types"
	version="1.0.0">
	<xs:complexType name="ComplexTypeUsingChoice">
		<xs:choice>
			<xs:element maxOccurs="1" minOccurs="0" name="argE"
				type="xs:string" />
			<xs:element maxOccurs="1" minOccurs="0" name="argF"
				type="xs:string" />
		</xs:choice>
	</xs:complexType>
</xs:schema>

