codegen/codegen-tools/src/test/resources/types/TypeLibrarySupportForProtobuf/MyComplexType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:tns="http://www.ebay.com/marketplace/advertising/v1/types"
	attributeFormDefault="unqualified" elementFormDefault="qualified"
	targetNamespace="http://www.ebay.com/marketplace/advertising/v1/types"
	version="1.0.0">
	<xs:include
		schemaLocation="typelib://TypeLibrarySupportForProtoBuf//MySimpleTypeIntRest.xsd" />
	<xs:complexType name="MyComplexType">
		<xs:sequence>
			<xs:element maxOccurs="1" minOccurs="0" name="elemB"
				type="tns:MySimpleTypeIntRest" />
			<xs:element maxOccurs="1" minOccurs="0" name="elemA" type="xs:float" />
		</xs:sequence>
	</xs:complexType>
</xs:schema>

