codegen/codegen-tools/src/test/resources/types/TypeLibrarySupportForProtobuf/MyComplexSimpleContentType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:tns="http://www.ebay.com/marketplace/advertising/v1/types"
	attributeFormDefault="unqualified" elementFormDefault="qualified"
	targetNamespace="http://www.ebay.com/marketplace/advertising/v1/types"
	version="1.0.0">
	<xs:complexType name="MyComplexSimpleContentType">
		<xs:simpleContent>
			<xs:extension base="xs:float">
				<xs:attribute name="argA" type="xs:date" />
				<xs:attribute name="argB" type="xs:boolean" />
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
</xs:schema>

