integration-tests/AdvertisingUniqueIDServiceV2/src/main/resources/META-INF/soa/services/wsdl/AdvertisingUniqueIDServiceV2/AdvertisingUniqueIDServiceV2.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns="http://schemas.xmlsoap.org/wsdl/"
	xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
	xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
	xmlns:tns="http://www.ebayopensource.org/turmeric/advertising/v2/services"
	xmlns:xs="http://www.w3.org/2001/XMLSchema" name="UniqueIDService"
	targetNamespace="http://www.ebayopensource.org/turmeric/advertising/v2/services">
	<wsdl:types>
		<xs:schema attributeFormDefault="unqualified"
			elementFormDefault="qualified"
			targetNamespace="http://www.ebayopensource.org/turmeric/advertising/v2/services">

			<xs:element name="getVersionResponse"
				type="tns:GetVersionResponse" />
			<xs:complexType name="GetVersionResponse">
				<xs:annotation>
					<xs:documentation>
						Document goes here
					</xs:documentation>
				</xs:annotation>
				<xs:complexContent>
					<xs:extension base="tns:BaseResponse">
						<xs:sequence>
							<xs:element maxOccurs="1" minOccurs="1"
								name="version" type="xs:string" />
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:element name="getNestedServiceRequestIDResponse">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="nestedSrvcRequestID"
							type="xs:string">
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:simpleType name="AckValue">
				<xs:annotation>
					<xs:documentation>
						Indicates whether the error is a severe error
						(causing the request to fail) or an
						informational error (a warning) that should be
						communicated to the user.
					</xs:documentation>
					<xs:appinfo>
						<typeLibrarySource
							library="common-type-library"
							namespace="http://www.ebayopensource.org/turmeric/common/v1/types" >
						</typeLibrarySource>
					</xs:appinfo>
				</xs:annotation>
				<xs:restriction base="xs:string">

					<xs:enumeration value="Success">
						<xs:annotation>
							<xs:documentation>
								The request was processed successfully,
								but something occurred that may affect
								your application or the user.
							</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="Failure">
						<xs:annotation>

							<xs:documentation>
								The request that triggered the error was
								not processed successfully. When a
								serious application-level error occurs,
								the error is returned instead of the
								business data.
							</xs:documentation>
						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="Warning">
						<xs:annotation>
							<xs:documentation>
								The request that triggered the error was
								processed successfully but with some
								warnings.
							</xs:documentation>

						</xs:annotation>
					</xs:enumeration>
					<xs:enumeration value="PartialFailure">
						<xs:annotation>
							<xs:documentation>
								The request that triggered the error was
								processed successfully but with some
								warnings.
							</xs:documentation>
						</xs:annotation>
					</xs:enumeration>

				</xs:restriction>
			</xs:simpleType>
			<xs:complexType abstract="true" name="BaseServiceRequest">
				<xs:annotation>
					<xs:documentation>
						This is the base class for request container for
						all service operations.
					</xs:documentation>
					<xs:appinfo>
						<typeLibrarySource
							library="common-type-library"
							namespace="http://www.ebayopensource.org/turmeric/common/v1/types">
						</typeLibrarySource>
					</xs:appinfo>
				</xs:annotation>
				<xs:sequence>
					<xs:any maxOccurs="unbounded" minOccurs="0"
						processContents="lax">
					</xs:any>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType abstract="true"
				name="BaseServiceResponse">
				<xs:annotation>
					<xs:documentation>
						Base response container for all service
						operations. Contains error information
						associated with the request.
					</xs:documentation>
					<xs:appinfo>
						<typeLibrarySource
							library="common-type-library"
							namespace="http://www.ebayopensource.org/turmeric/common/v1/types" >
						</typeLibrarySource>
					</xs:appinfo>
				</xs:annotation>

				<xs:sequence>
					<xs:element name="ack" type="tns:AckValue">
						<xs:annotation>
							<xs:documentation>

							</xs:documentation>
							<xs:appinfo>
								<CallInfo>
									<AllCalls></AllCalls>
									<Returned>Always</Returned>

								</CallInfo>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="errorMessage"
						type="tns:ErrorMessage">
						<xs:annotation>
							<xs:documentation>
								Information for an error or warning that
								occurred when eBay processed the
								request.
							</xs:documentation>

							<xs:appinfo>
								<CallInfo>
									<AllCalls></AllCalls>
									<Returned>Conditionally</Returned>
								</CallInfo>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>

					<xs:element minOccurs="0" name="version"
						type="xs:string">
						<xs:annotation>
							<xs:documentation></xs:documentation>
							<xs:appinfo>
								<CallInfo>
									<AllCalls></AllCalls>
									<Returned>Always</Returned>

								</CallInfo>
							</xs:appinfo>
						</xs:annotation>

					</xs:element>
					<xs:element minOccurs="0" name="timestamp"
						type="xs:dateTime">
						<xs:annotation>
							<xs:documentation></xs:documentation>

							<xs:appinfo>
								<CallInfo>
									<AllCalls></AllCalls>
									<Returned>Always</Returned>
								</CallInfo>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:any maxOccurs="unbounded" minOccurs="0"
						processContents="lax">
					</xs:any>
				</xs:sequence>
			</xs:complexType>
			<xs:simpleType name="ErrorCategory">
				<xs:annotation>
					<xs:documentation>
						Documentation goes here.
					</xs:documentation>
					<xs:appinfo>
						<typeLibrarySource
							library="common-type-library"
							namespace="http://www.ebayopensource.org/turmeric/common/v1/types" >
						</typeLibrarySource>
					</xs:appinfo>
				</xs:annotation>

				<xs:restriction base="xs:token">
					<xs:enumeration value="System"></xs:enumeration>
					<xs:enumeration value="Application"></xs:enumeration>
					<xs:enumeration value="Request"></xs:enumeration>
				</xs:restriction>

			</xs:simpleType>
			<xs:complexType name="ErrorData">
				<xs:annotation>
					<xs:documentation>
						Documentation goes here
					</xs:documentation>

					<xs:appinfo>
						<typeLibrarySource
							library="common-type-library"
							namespace="http://www.ebayopensource.org/turmeric/common/v1/types">
						</typeLibrarySource>
					</xs:appinfo>
				</xs:annotation>

				<xs:sequence>
					<xs:element name="errorId" type="xs:long"></xs:element>
					<xs:element name="domain" type="xs:string"></xs:element>
					<xs:element minOccurs="0" name="subdomain"
						type="xs:string">
					</xs:element>
					<xs:element name="severity"
						type="tns:ErrorSeverity">
					</xs:element>
					<xs:element name="category"
						type="tns:ErrorCategory">
					</xs:element>
					<xs:element name="message" type="xs:string"></xs:element>
					<xs:element minOccurs="0" name="exceptionId"
						type="xs:token">
					</xs:element>
					<xs:element maxOccurs="unbounded" minOccurs="0"
						name="parameter" type="tns:ErrorParameter">
					</xs:element>
				</xs:sequence>


			</xs:complexType>
			<xs:complexType name="ErrorMessage">
				<xs:annotation>
					<xs:documentation>
						Documentation goes here
					</xs:documentation>

					<xs:appinfo>
						<typeLibrarySource
							library="common-type-library"
							namespace="http://www.ebayopensource.org/turmeric/common/v1/types">
						</typeLibrarySource>
					</xs:appinfo>
				</xs:annotation>

				<!-- 
					<xs:sequence>
					<xs:any maxOccurs="unbounded" minOccurs="0"
					processContents="lax" />
					</xs:sequence>
				-->

				<xs:sequence>
					<xs:element maxOccurs="unbounded" minOccurs="0"
						name="error" type="tns:ErrorData">
					</xs:element>
				</xs:sequence>

			</xs:complexType>
			<xs:complexType name="ErrorParameter">
				<xs:annotation>
					<xs:documentation>
						Documentation goes here
					</xs:documentation>

					<xs:appinfo>
						<typeLibrarySource
							library="common-type-library"
							namespace="http://www.ebayopensource.org/turmeric/common/v1/types">
						</typeLibrarySource>
					</xs:appinfo>
				</xs:annotation>

				<xs:simpleContent>
					<xs:extension base="xs:string">
						<xs:attribute name="name" type="xs:string"
							use="optional">
						</xs:attribute>
					</xs:extension>
				</xs:simpleContent>
			</xs:complexType>
			<xs:simpleType name="ErrorSeverity">
				<xs:annotation>
					<xs:documentation>
						Documentation goes here.
					</xs:documentation>
					<xs:appinfo>
						<typeLibrarySource
							library="common-type-library"
							namespace="http://www.ebayopensource.org/turmeric/common/v1/types">
						</typeLibrarySource>
					</xs:appinfo>
				</xs:annotation>

				<xs:restriction base="xs:token">
					<xs:enumeration value="Error"></xs:enumeration>
					<xs:enumeration value="Warning"></xs:enumeration>
				</xs:restriction>

			</xs:simpleType>
	<xs:element name="getNestedGenericClientInfoRequest"
				type="tns:GetNestedGenericClientInfoRequest" />
			<xs:complexType name="GetNestedGenericClientInfoRequest">
				<xs:annotation>
					<xs:documentation>
						Document goes here
					</xs:documentation>
				</xs:annotation>
				<xs:complexContent>
					<xs:extension base="tns:BaseRequest">
						<xs:sequence>
							<xs:element maxOccurs="1" minOccurs="1"
								name="id" type="xs:string" />
							<xs:element maxOccurs="1" minOccurs="1"
								name="name" type="xs:string" />
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
			<xs:element name="getNestedGenericClientInfoResponse"
				type="tns:GetNestedGenericClientInfoResponse" />
			<xs:complexType name="GetNestedGenericClientInfoResponse">
				<xs:annotation>
					<xs:documentation>
						Document goes here
					</xs:documentation>
				</xs:annotation>
				<xs:complexContent>
					<xs:extension base="tns:BaseResponse">
						<xs:sequence>
							<xs:element maxOccurs="1" minOccurs="1"
								name="id" type="xs:string" />
							<xs:element maxOccurs="1" minOccurs="1"
								name="name" type="xs:string" />
							<xs:element maxOccurs="1" minOccurs="1"
								name="phonenumber" type="xs:string" />
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>

			<xs:complexType abstract="true" name="BaseRequest">
				<xs:annotation>
					<xs:documentation>
						This is the base class for request container for
						all service operations.
					</xs:documentation>
					<xs:appinfo>
						<typeLibrarySource
							library="common-type-library"
							namespace="http://www.ebayopensource.org/turmeric/common/v1/types">
						</typeLibrarySource>
					</xs:appinfo>
				</xs:annotation>
				<xs:sequence>
					<xs:element maxOccurs="unbounded" minOccurs="0"
						name="extension" type="tns:ExtensionType">
					</xs:element>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType abstract="true" name="BaseResponse">
				<xs:annotation>
					<xs:documentation>
						Base response container for all service
						operations. Contains error information
						associated with the request.
					</xs:documentation>
					<xs:appinfo>
						<typeLibrarySource
							library="common-type-library"
							namespace="http://www.ebayopensource.org/turmeric/common/v1/types">
						</typeLibrarySource>
					</xs:appinfo>
				</xs:annotation>

				<xs:sequence>
					<xs:element name="ack" type="tns:AckValue">
						<xs:annotation>
							<xs:documentation>

							</xs:documentation>
							<xs:appinfo>
								<CallInfo>
									<AllCalls></AllCalls>
									<Returned>Always</Returned>

								</CallInfo>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element minOccurs="0" name="errorMessage"
						type="tns:ErrorMessage">
						<xs:annotation>
							<xs:documentation>
								Information for an error or warning that
								occurred when eBay processed the
								request.
							</xs:documentation>

							<xs:appinfo>
								<CallInfo>
									<AllCalls></AllCalls>
									<Returned>Conditionally</Returned>
								</CallInfo>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>

					<xs:element minOccurs="0" name="version"
						type="xs:string">
						<xs:annotation>
							<xs:documentation></xs:documentation>
							<xs:appinfo>
								<CallInfo>
									<AllCalls></AllCalls>
									<Returned>Always</Returned>

								</CallInfo>
							</xs:appinfo>
						</xs:annotation>

					</xs:element>
					<xs:element minOccurs="0" name="timestamp"
						type="xs:dateTime">
						<xs:annotation>
							<xs:documentation></xs:documentation>

							<xs:appinfo>
								<CallInfo>
									<AllCalls></AllCalls>
									<Returned>Always</Returned>
								</CallInfo>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element maxOccurs="unbounded" minOccurs="0"
						name="extension" type="tns:ExtensionType">
					</xs:element>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="ExtensionType">
				<xs:annotation>
					<xs:documentation>
						Documentation goes here
					</xs:documentation>

					<xs:appinfo>
						<typeLibrarySource
							library="common-type-library"
							namespace="http://www.ebayopensource.org/turmeric/common/v1/types">
						</typeLibrarySource>
					</xs:appinfo>
				</xs:annotation>
				<xs:sequence>
					<xs:element name="id" type="xs:positiveInteger"></xs:element>
					<xs:element name="version" type="xs:string"></xs:element>
					<xs:element name="contentType" type="xs:string"></xs:element>
					<xs:element name="value" type="xs:string"></xs:element>
					<xs:any maxOccurs="unbounded" minOccurs="0"
						processContents="lax">
					</xs:any>
				</xs:sequence>
			</xs:complexType>
			
			<xs:element name="getNestedTransportHeaders">
				<xs:complexType>
					<xs:sequence>

						<xs:element name="in" type="xs:string" minOccurs="0" maxOccurs="unbounded"></xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="getNestedTransportHeadersResponse">
				<xs:complexType>
					<xs:sequence>

						<xs:element name="out" type="xs:string" minOccurs="0" maxOccurs="unbounded"></xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>



<xs:complexType name="GetMessagesForTheDayRequest">
				<xs:complexContent>
					<xs:extension base="tns:BaseServiceRequest">
						<xs:sequence>
							<xs:element maxOccurs="1" minOccurs="1" name="clientId" type="xs:string">
							</xs:element>
							<xs:element maxOccurs="1" minOccurs="0" name="siteId" type="xs:string">
							</xs:element>
							<xs:element maxOccurs="1" minOccurs="0" name="language" type="xs:string">
							</xs:element>
							<xs:element maxOccurs="1" minOccurs="0" name="messageType" type="tns:MessageType">
							</xs:element>
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
		
			<xs:simpleType name="MessageType">
				<xs:restriction base="xs:string">
					<xs:enumeration value="Info"/>
					<xs:enumeration value="Announcement"/>
					<xs:enumeration value="Alert"/>
				</xs:restriction>
			</xs:simpleType>
		
			<xs:element name="testSchemaValidationWithUPA" type="tns:GetMessagesForTheDayRequest">
			</xs:element>

	<xs:complexType name="Messsage">
				<xs:sequence>
					<xs:element name="messageType" type="tns:MessageType">
					</xs:element>
					<xs:element name="message" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
		
			<xs:complexType name="GetMessagesForTheDayResponse">
				<xs:complexContent>
					<xs:extension base="tns:BaseServiceResponse">
						<xs:sequence>
							<xs:element maxOccurs="unbounded" minOccurs="0" name="messageList" type="tns:Messsage">
							</xs:element>
						</xs:sequence>
					</xs:extension>
				</xs:complexContent>
			</xs:complexType>
		
			<xs:element name="testSchemaValidationWithUPAResponse" type="tns:GetMessagesForTheDayResponse">
			</xs:element>
			<xs:element name="testSchemaValidationWithoutUPA">
				<xs:complexType>
					<xs:sequence>

			<xs:element name="in">
  				<xs:simpleType>
  				  <xs:restriction base="xs:string">
   					<xs:enumeration value="Audi"/>
      				<xs:enumeration value="Golf"/>
      				<xs:enumeration value="BMW"/>
    			  </xs:restriction>
  				</xs:simpleType>
			</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			
			<xs:element name="testSchemaValidationWithoutUPAResponse">
				<xs:complexType>
					<xs:sequence>

						<xs:element name="out" type="xs:string"></xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="getVersionResponse">
		<wsdl:part element="tns:getVersionResponse" name="params" />
	</wsdl:message>
	<wsdl:message name="getNestedServiceRequestIDResponse">
		<wsdl:part name="parameters"
			element="tns:getNestedServiceRequestIDResponse">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="getNestedGenericClientInfoRequest">
		<wsdl:part name="parameters"
			element="tns:getNestedGenericClientInfoRequest">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="getNestedGenericClientInfoResponse">
		<wsdl:part name="parameters"
			element="tns:getNestedGenericClientInfoResponse">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="getNestedTransportHeadersRequest">
		<wsdl:part name="parameters" element="tns:getNestedTransportHeaders"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="getNestedTransportHeadersResponse">
		<wsdl:part name="parameters" element="tns:getNestedTransportHeadersResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="testSchemaValidationWithUPARequest">
		<wsdl:part name="parameters" element="tns:testSchemaValidationWithUPA"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="testSchemaValidationWithUPAResponse">
		<wsdl:part name="parameters" element="tns:testSchemaValidationWithUPAResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="testSchemaValidationWithoutUPARequest">
		<wsdl:part name="parameters" element="tns:testSchemaValidationWithoutUPA"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="testSchemaValidationWithoutUPAResponse">
		<wsdl:part name="parameters" element="tns:testSchemaValidationWithoutUPAResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:portType name="UniqueIDServicePort">
		<wsdl:operation name="getVersion">
			<wsdl:output message="tns:getVersionResponse" />
		</wsdl:operation>
		<wsdl:operation name="getNestedServiceRequestID">

			<wsdl:output
				message="tns:getNestedServiceRequestIDResponse">
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getNestedGenericClientInfo">
			<wsdl:input message="tns:getNestedGenericClientInfoRequest"></wsdl:input>
			<wsdl:output message="tns:getNestedGenericClientInfoResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getNestedTransportHeaders">
			<wsdl:input message="tns:getNestedTransportHeadersRequest"></wsdl:input>
			<wsdl:output message="tns:getNestedTransportHeadersResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="testSchemaValidationWithUPA">
			<wsdl:input message="tns:testSchemaValidationWithUPARequest"></wsdl:input>
			<wsdl:output message="tns:testSchemaValidationWithUPAResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="testSchemaValidationWithoutUPA">
			<wsdl:input message="tns:testSchemaValidationWithoutUPARequest"></wsdl:input>
			<wsdl:output message="tns:testSchemaValidationWithoutUPAResponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="UniqueIDServiceHttpBinding"
		type="tns:UniqueIDServicePort">

		<http:binding verb="POST" />
		<wsdl:operation name="getVersion">

			<http:operation location="/getVersion" />
			<wsdl:output>
				<mime:content part="params" type="text/xml" />

			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getNestedServiceRequestID">
			<http:operation location="/getNestedServiceRequestID" />
			<wsdl:output>
				<mime:content part="parameters" type="text/xml" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getNestedGenericClientInfo">
			<http:operation location="/getNestedGenericClientInfo" />
			<wsdl:input>
				<mime:content part="parameters"
					type="application/x-www-form-urlencoded" />
			</wsdl:input>
			<wsdl:output>
				<mime:content part="parameters" type="text/xml" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getNestedTransportHeaders">
			<http:operation location="/getNestedTransportHeaders" />
			<wsdl:input>
				<mime:content part="parameters"
					type="application/x-www-form-urlencoded" />
			</wsdl:input>
			<wsdl:output>
				<mime:content part="parameters" type="text/xml" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="testSchemaValidationWithUPA">
			<http:operation location="/testSchemaValidationWithUPA" />
			<wsdl:input>
				<mime:content type="application/x-www-form-urlencoded" />
			</wsdl:input>
			<wsdl:output>
				<mime:content type="text/xml" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="testSchemaValidationWithoutUPA">
			<http:operation location="/testSchemaValidationWithoutUPA" />
			<wsdl:input>
				<mime:content type="application/x-www-form-urlencoded" />
			</wsdl:input>
			<wsdl:output>
				<mime:content type="text/xml" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="UniqueIDServiceSOAPBinding"
		type="tns:UniqueIDServicePort">

		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="getVersion">

			<soap:operation
				soapAction="http://www.ebayopensource.org/turmeric/advertising/v1/services/getVersion" />
			<wsdl:output>

				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getNestedServiceRequestID">
			<soap:operation
				soapAction="http://www.ebayopensource.org/turmericadvertising/v1/services/getNestedServiceRequestID" />
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getNestedGenericClientInfo">
			<soap:operation
				soapAction="http://www.ebayopensource.org/turmeric/advertising/v1/services/getNestedGenericClientInfo" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="getNestedTransportHeaders">
			<soap:operation
				soapAction="http://www.ebayopensource.org/turmeric/advertising/v1/services/getNestedTransportHeaders" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="testSchemaValidationWithUPA">
			<soap:operation
				soapAction="http://www.ebay.com/marketplace/advertising/v1/services/testSchemaValidationWithUPA" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="testSchemaValidationWithoutUPA">
			<soap:operation
				soapAction="http://www.ebayopensource.org/turmeric/advertising/v1/services/testSchemaValidationWithoutUPA" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="UniqueIDService">
		<wsdl:port binding="tns:UniqueIDServiceHttpBinding"
			name="UniqueIDServiceHttp">
			<http:address
				location="http://svcs.ebay.com/UniqueIDService" />
		</wsdl:port>
		<wsdl:port binding="tns:UniqueIDServiceSOAPBinding"
			name="UniqueIDServiceSOAP">
			<soap12:address
				location="http://svcs.ebay.com/UniqueIDService" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>

