codegen/turmeric-maven-plugin/src/test/resources/legacy/AdminTestItemValidation/meta-src/META-INF/soa/services/wsdl/AdminTestItemValidation/AdminTestItemValidation.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================================================== -->
<!--  Copyright (c) 2006-2010 eBay Inc. All Rights Reserved.            -->
<!--  Licensed under the Apache License, Version 2.0 (the "License");   -->
<!--  you may not use this file except in compliance with the License.  -->
<!--  You may obtain a copy of the License at                           -->
<!--                                                                    -->
<!--     http://www.apache.org/licenses/LICENSE-2.0                     -->
<!-- ================================================================== -->
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
    xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
    xmlns:tns="http://www.ebay.com/marketplace/advertising/v1/services"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    name="TestItemValidationService"
    targetNamespace="http://www.ebay.com/marketplace/advertising/v1/services">
    <wsdl:types>
        <xs:schema attributeFormDefault="unqualified"
            elementFormDefault="qualified"
            targetNamespace="http://www.ebay.com/marketplace/advertising/v1/services">
            <xs:simpleType name="AckValue">
                <xs:annotation>
                    <xs:documentation>
                        Indicates whether the error is a severe error
                        (causing the request to fail) or an
                        informational error (a warning) that should be
                        communicated to the user.
                    </xs:documentation>
                    <xs:appinfo>
                        <typeLibrarySource
                            library="common-type-library"
                            namespace="http://www.ebayopensource.org/turmeric/common/v1/types" />
                    </xs:appinfo>
                </xs:annotation>
                <xs:restriction base="xs:string">
                    <xs:enumeration value="Success">
                        <xs:annotation>
                            <xs:documentation>
                                The request was processed successfully,
                                but something occurred that may affect
                                your application or the user.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:enumeration>
                    <xs:enumeration value="Failure">
                        <xs:annotation>
                            <xs:documentation>
                                The request that triggered the error was
                                not processed successfully. When a
                                serious application-level error occurs,
                                the error is returned instead of the
                                business data.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:enumeration>
                    <xs:enumeration value="Warning">
                        <xs:annotation>
                            <xs:documentation>
                                The request that triggered the error was
                                processed successfully but with some
                                warnings.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:enumeration>
                    <xs:enumeration value="PartialFailure">
                        <xs:annotation>
                            <xs:documentation>
                                The request that triggered the error was
                                processed successfully but with some
                                warnings.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:enumeration>
                </xs:restriction>
            </xs:simpleType>
            <xs:complexType abstract="true" name="BaseRequest">
                <xs:annotation>
                    <xs:documentation>
                        This is the base class for request container for
                        all service operations.
                    </xs:documentation>
                    <xs:appinfo>
                        <typeLibrarySource
                            library="common-type-library"
                            namespace="http://www.ebayopensource.org/turmeric/common/v1/types" />
                    </xs:appinfo>
                </xs:annotation>
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0"
                        name="extension" type="tns:ExtensionType" />
                </xs:sequence>
            </xs:complexType>
            <xs:complexType abstract="true" name="BaseResponse">
                <xs:annotation>
                    <xs:documentation>
                        Base response container for all service
                        operations. Contains error information
                        associated with the request.
                    </xs:documentation>
                    <xs:appinfo>
                        <typeLibrarySource
                            library="common-type-library"
                            namespace="http://www.ebayopensource.org/turmeric/common/v1/types" />
                    </xs:appinfo>
                </xs:annotation>
                <xs:sequence>
                    <xs:element name="ack" type="tns:AckValue">
                        <xs:annotation>
                            <xs:documentation />
                            <xs:appinfo>
                                <CallInfo>
                                    <AllCalls />
                                    <Returned>Always</Returned>
                                </CallInfo>
                            </xs:appinfo>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="errorMessage"
                        type="tns:ErrorMessage">
                        <xs:annotation>
                            <xs:documentation>
                                Information for an error or warning that
                                occurred when eBay processed the
                                request.
                            </xs:documentation>
                            <xs:appinfo>
                                <CallInfo>
                                    <AllCalls />
                                    <Returned>Conditionally</Returned>
                                </CallInfo>
                            </xs:appinfo>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="version"
                        type="xs:string">
                        <xs:annotation>
                            <xs:documentation />
                            <xs:appinfo>
                                <CallInfo>
                                    <AllCalls />
                                    <Returned>Always</Returned>
                                </CallInfo>
                            </xs:appinfo>
                        </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" name="timestamp"
                        type="xs:dateTime">
                        <xs:annotation>
                            <xs:documentation />
                            <xs:appinfo>
                                <CallInfo>
                                    <AllCalls />
                                    <Returned>Always</Returned>
                                </CallInfo>
                            </xs:appinfo>
                        </xs:annotation>
                    </xs:element>
                    <xs:element maxOccurs="unbounded" minOccurs="0"
                        name="extension" type="tns:ExtensionType" />
                </xs:sequence>
            </xs:complexType>
            <xs:simpleType name="ErrorCategory">
                <xs:annotation>
                    <xs:documentation>
                        Documentation goes here.
                    </xs:documentation>
                    <xs:appinfo>
                        <typeLibrarySource
                            library="common-type-library"
                            namespace="http://www.ebayopensource.org/turmeric/common/v1/types" />
                    </xs:appinfo>
                </xs:annotation>
                <xs:restriction base="xs:token">
                    <xs:enumeration value="System" />
                    <xs:enumeration value="Application" />
                    <xs:enumeration value="Request" />
                </xs:restriction>
            </xs:simpleType>
            <xs:complexType name="ErrorData">
                <xs:annotation>
                    <xs:documentation>
                        Documentation goes here
                    </xs:documentation>
                    <xs:appinfo>
                        <typeLibrarySource
                            library="common-type-library"
                            namespace="http://www.ebayopensource.org/turmeric/common/v1/types" />
                    </xs:appinfo>
                </xs:annotation>
                <xs:sequence>
                    <xs:element name="errorId" type="xs:long" />
                    <xs:element name="domain" type="xs:string" />
                    <xs:element minOccurs="0" name="subdomain"
                        type="xs:string" />
                    <xs:element name="severity"
                        type="tns:ErrorSeverity" />
                    <xs:element name="category"
                        type="tns:ErrorCategory" />
                    <xs:element name="message" type="xs:string" />
                    <xs:element minOccurs="0" name="exceptionId"
                        type="xs:token" />
                    <xs:element maxOccurs="unbounded" minOccurs="0"
                        name="parameter" type="tns:ErrorParameter" />
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ErrorMessage">
                <xs:annotation>
                    <xs:documentation>
                        Documentation goes here
                    </xs:documentation>
                    <xs:appinfo>
                        <typeLibrarySource
                            library="common-type-library"
                            namespace="http://www.ebayopensource.org/turmeric/common/v1/types" />
                    </xs:appinfo>
                </xs:annotation>
                <!-- 
                    <xs:sequence>
                    <xs:any maxOccurs="unbounded" minOccurs="0"
                    processContents="lax" />
                    </xs:sequence>
                -->
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0"
                        name="error" type="tns:ErrorData" />
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ErrorParameter">
                <xs:annotation>
                    <xs:documentation>
                        Documentation goes here
                    </xs:documentation>
                    <xs:appinfo>
                        <typeLibrarySource
                            library="common-type-library"
                            namespace="http://www.ebayopensource.org/turmeric/common/v1/types" />
                    </xs:appinfo>
                </xs:annotation>
                <xs:simpleContent>
                    <xs:extension base="xs:string">
                        <xs:attribute name="name" type="xs:string"
                            use="optional" />
                    </xs:extension>
                </xs:simpleContent>
            </xs:complexType>
            <xs:simpleType name="ErrorSeverity">
                <xs:annotation>
                    <xs:documentation>
                        Documentation goes here.
                    </xs:documentation>
                    <xs:appinfo>
                        <typeLibrarySource
                            library="common-type-library"
                            namespace="http://www.ebayopensource.org/turmeric/common/v1/types" />
                    </xs:appinfo>
                </xs:annotation>
                <xs:restriction base="xs:token">
                    <xs:enumeration value="Error" />
                    <xs:enumeration value="Warning" />
                </xs:restriction>
            </xs:simpleType>
            <xs:complexType name="ExtensionType">
                <xs:annotation>
                    <xs:documentation>
                        Documentation goes here
                    </xs:documentation>
                    <xs:appinfo>
                        <typeLibrarySource
                            library="common-type-library"
                            namespace="http://www.ebayopensource.org/turmeric/common/v1/types" />
                    </xs:appinfo>
                </xs:annotation>
                <xs:sequence>
                    <xs:element name="id" type="xs:positiveInteger" />
                    <xs:element name="version" type="xs:string" />
                    <xs:element name="contentType" type="xs:string" />
                    <xs:element name="value" type="xs:string" />
                    <xs:any maxOccurs="unbounded" minOccurs="0"
                        processContents="lax" />
                </xs:sequence>
            </xs:complexType>
            <xs:element name="getVersionRequest"
                type="tns:GetVersionRequest" />
            <xs:complexType name="GetVersionRequest">
                <xs:annotation>
                    <xs:documentation>
                        Document goes here
                    </xs:documentation>
                </xs:annotation>
                <xs:complexContent>
                    <xs:extension base="tns:BaseRequest">
                        <xs:sequence />
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:element name="getVersionResponse"
                type="tns:GetVersionResponse" />
            <xs:complexType name="GetVersionResponse">
                <xs:annotation>
                    <xs:documentation>
                        Document goes here
                    </xs:documentation>
                </xs:annotation>
                <xs:complexContent>
                    <xs:extension base="tns:BaseResponse">
                        <xs:sequence>
                            <xs:element maxOccurs="1" minOccurs="1"
                                name="version" type="xs:string" />
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:element name="getItemRequest" type="tns:GetItemRequest" />
            <xs:complexType name="GetItemRequest">
                <xs:annotation>
                    <xs:documentation>
                        Document goes here
                    </xs:documentation>
                </xs:annotation>
                <xs:complexContent>
                    <xs:extension base="tns:BaseRequest">
                        <xs:sequence>
                            <xs:element maxOccurs="1" minOccurs="1"
                                name="itemId" type="xs:string" />
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:element name="getItemResponse"
                type="tns:GetItemResponse" />
            <xs:complexType name="GetItemResponse">
                <xs:annotation>
                    <xs:documentation>
                        Document goes here
                    </xs:documentation>
                </xs:annotation>
                <xs:complexContent>
                    <xs:extension base="tns:BaseResponse">
                        <xs:sequence>
                            <xs:element maxOccurs="1" minOccurs="1"
                                name="itemDesc" type="xs:string" />
                            <xs:element maxOccurs="1" minOccurs="1"
                                name="itemName" type="xs:string" />
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:element name="addItemRequest" type="tns:AddItemRequest" />
            <xs:complexType name="AddItemRequest">
                <xs:annotation>
                    <xs:documentation>
                        Document goes here
                    </xs:documentation>
                </xs:annotation>
                <xs:complexContent>
                    <xs:extension base="tns:BaseRequest">
                        <xs:sequence>
                            <xs:element maxOccurs="1" minOccurs="1"
                                name="itemId" type="xs:string" />
                            <xs:element maxOccurs="1" minOccurs="1"
                                name="itemDesc" type="xs:string" />
                            <xs:element maxOccurs="1" minOccurs="1"
                                name="itemName" type="xs:string" />
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:element name="addItemResponse"
                type="tns:AddItemResponse" />
            <xs:complexType name="AddItemResponse">
                <xs:annotation>
                    <xs:documentation>
                        Document goes here
                    </xs:documentation>
                </xs:annotation>
                <xs:complexContent>
                    <xs:extension base="tns:BaseResponse">
                        <xs:sequence>
                            <xs:element maxOccurs="1" minOccurs="1"
                                name="itemId" type="xs:string" />
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
            <xs:complexType name="ResOpType">
                <xs:sequence>
                    <xs:element maxOccurs="1" minOccurs="1" name="resourceType" type="xs:string"/>
                    <xs:element maxOccurs="1" minOccurs="1" name="resourceName" type="xs:string"/>
                    <xs:element maxOccurs="1" minOccurs="1" name="operationName" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="getAuthzCacheKeysRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="resOp" type="tns:ResOpType"/>
                        <xs:element name="SGName" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getAuthzCacheKeysResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" name="resourceInfo" type="tns:ResourceInfoType"></xs:element>
                        <xs:element maxOccurs="unbounded" name="sgInfo" type="tns:SGInfoType"></xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="ResourceInfoType">
                <xs:annotation>
                    <xs:documentation />
                </xs:annotation>
                <xs:sequence>
                        <xs:element name="resOp" type="tns:ResOpType"/>
                        <xs:element name="hits" type="xs:long"></xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="SGInfoType">
                <xs:annotation>
                    <xs:documentation />
                </xs:annotation>
                <xs:sequence>
                        <xs:element name="sgName" type="xs:string"></xs:element>
                        <xs:element name="hits" type="xs:long"></xs:element>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="callInitializerRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="1" maxOccurs="1" name="initializerClassName" type="xs:string"/>
                        <xs:element minOccurs="1" maxOccurs="unbounded" name="serviceName" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="callInitializerResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="1" maxOccurs="unbounded" name="serviceName" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getVersionRequest">
        <wsdl:part element="tns:getVersionRequest" name="params" />
    </wsdl:message>
    <wsdl:message name="getVersionResponse">
        <wsdl:part element="tns:getVersionResponse" name="params" />
    </wsdl:message>
    <wsdl:message name="getItemRequest">
        <wsdl:part element="tns:getItemRequest" name="params" />
    </wsdl:message>
    <wsdl:message name="getItemResponse">
        <wsdl:part element="tns:getItemResponse" name="params" />
    </wsdl:message>
    <wsdl:message name="addItemRequest">
        <wsdl:part element="tns:addItemRequest" name="params" />
    </wsdl:message>
    <wsdl:message name="addItemResponse">
        <wsdl:part element="tns:addItemResponse" name="params" />
    </wsdl:message>
    <wsdl:message name="getAuthzCacheKeysRequest">
        <wsdl:part name="parameters" element="tns:getAuthzCacheKeysRequest"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getAuthzCacheKeysResponse">
        <wsdl:part name="parameters" element="tns:getAuthzCacheKeysResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="callInitializerRequest">
        <wsdl:part name="parameters" element="tns:callInitializerRequest"/>
    </wsdl:message>
    <wsdl:message name="callInitializerResponse">
        <wsdl:part name="parameters" element="tns:callInitializerResponse"/>
    </wsdl:message>
    <wsdl:portType name="TestItemValidationServicePort">
        <wsdl:operation name="getVersion">
            <wsdl:input message="tns:getVersionRequest" />
            <wsdl:output message="tns:getVersionResponse" />
        </wsdl:operation>
        <wsdl:operation name="getItem">
            <wsdl:input message="tns:getItemRequest" />
            <wsdl:output message="tns:getItemResponse" />
        </wsdl:operation>
        <wsdl:operation name="addItem">
            <wsdl:input message="tns:addItemRequest" />
            <wsdl:output message="tns:addItemResponse" />
        </wsdl:operation>
        <wsdl:operation name="getAuthzCacheKeys">
            <wsdl:input message="tns:getAuthzCacheKeysRequest"></wsdl:input>
            <wsdl:output message="tns:getAuthzCacheKeysResponse"></wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="callInitializer">
            <wsdl:input message="tns:callInitializerRequest"/>
            <wsdl:output message="tns:callInitializerResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="TestItemValidationServiceHttpBinding"
        type="tns:TestItemValidationServicePort">
        <http:binding verb="POST" />
        <wsdl:operation name="getVersion">
            <http:operation location="/getVersion" />
            <wsdl:input>
                <mime:content part="params"
                    type="application/x-www-form-urlencoded" />
            </wsdl:input>
            <wsdl:output>
                <mime:content part="params" type="text/xml" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getItem">
            <http:operation location="/getItem" />
            <wsdl:input>
                <mime:content part="params"
                    type="application/x-www-form-urlencoded" />
            </wsdl:input>
            <wsdl:output>
                <mime:content part="params" type="text/xml" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="addItem">
            <http:operation location="/addItem" />
            <wsdl:input>
                <mime:content part="params"
                    type="application/x-www-form-urlencoded" />
            </wsdl:input>
            <wsdl:output>
                <mime:content part="params" type="text/xml" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAuthzCacheKeys">
           <http:operation location="/getAuthzCacheKeys" />
            <wsdl:input>
                <mime:content part="params"
                    type="application/x-www-form-urlencoded" />
            </wsdl:input>
            <wsdl:output>
                <mime:content part="params" type="text/xml" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="callInitializer">
           <http:operation location="/callInitializer" />
            <wsdl:input>
                <mime:content part="params"
                    type="application/x-www-form-urlencoded" />
            </wsdl:input>
            <wsdl:output>
                <mime:content part="params" type="text/xml" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="TestItemValidationServiceSOAPBinding"
        type="tns:TestItemValidationServicePort">
        <soap:binding style="document"
            transport="http://schemas.xmlsoap.org/soap/http" />
        <wsdl:operation name="getVersion">
            <soap:operation
                soapAction="http://www.ebay.com/marketplace/advertising/v1/services/getVersion" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getItem">
            <soap:operation
                soapAction="http://www.ebay.com/marketplace/advertising/v1/services/getItem" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="addItem">
            <soap:operation
                soapAction="http://www.ebay.com/marketplace/advertising/v1/services/addItem" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getAuthzCacheKeys">
            <soap:operation soapAction="http://www.ebay.com/marketplace/advertising/v1/services/getAuthzCacheKeys"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="callInitializer">
            <soap:operation soapAction="http://www.ebay.com/marketplace/advertising/v1/services/callInitializer"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="TestItemValidationService">
        <wsdl:documentation>
            <Version>1.0</Version>
        </wsdl:documentation>
        <wsdl:port binding="tns:TestItemValidationServiceHttpBinding"
            name="TestItemValidationServiceHttp">
            <http:address
                location="https://svcs.ebay.com/services/advertising/v1/TestItemValidationService" />
        </wsdl:port>
        <wsdl:port binding="tns:TestItemValidationServiceSOAPBinding"
            name="TestItemValidationServiceSOAP">
            <soap12:address
                location="https://svcs.ebay.com/services/advertising/v1/TestItemValidationService" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
