codegen/codegen-tools/src/test/resources/org/ebayopensource/turmeric/test/tools/codegen/data/StockQuote.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
    Copyright (c) 2006-2010 eBay Inc. All Rights Reserved.
    Licensed under the Apache License, Version 2.0 (the "License"); 
    you may not use this file except in compliance with the License. 
    You may obtain a copy of the License at 
   
       http://www.apache.org/licenses/LICENSE-2.0
       
 -->
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:axis2="http://stock.app.ebay.com" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:ns="http://types.stock.app.ebay.com" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://stock.app.ebay.com">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://types.stock.app.ebay.com">
            <xs:element name="getPrice" type="ns:getPriceType"/>
            <xs:complexType name="getPriceType">
                <xs:sequence>
                    <xs:element name="symbol" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="getPriceResponse" type="ns:getPriceResponseType"/>
            <xs:complexType name="getPriceResponseType">
                <xs:sequence>
                    <xs:element name="return" nillable="true" type="xs:double"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="update" type="ns:UpdateType"/>
            <xs:complexType name="UpdateType">
                <xs:sequence>
                    <xs:element name="symbol" nillable="true" type="xs:string"/>
                    <xs:element name="price" nillable="true" type="xs:double"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getPriceMessage">
        <wsdl:part name="part1" element="ns:getPrice"/>
    </wsdl:message>
    <wsdl:message name="getPriceResponseMessage">
        <wsdl:part name="part1" element="ns:getPriceResponse"/>
    </wsdl:message>
    <wsdl:message name="updateMessage">
        <wsdl:part name="part1" element="ns:update"/>
    </wsdl:message>
    <wsdl:portType name="StockQuoteServicePortType">
        <wsdl:operation name="getPrice">
            <wsdl:input message="axis2:getPriceMessage"/>
            <wsdl:output message="axis2:getPriceResponseMessage"/>
        </wsdl:operation>
        <wsdl:operation name="update">
            <wsdl:input message="axis2:updateMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="StockQuoteServiceSOAP11Binding" type="axis2:StockQuoteServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getPrice">
            <soap:operation soapAction="urn:getPrice" style="document"/>
            <wsdl:input>
                <soap:body use="literal" namespace="http://quickstart.samples/"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" namespace="http://quickstart.samples/"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="update">
            <soap:operation soapAction="urn:update" style="document"/>
            <wsdl:input>
                <soap:body use="literal" namespace="http://quickstart.samples/"/>
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="StockQuoteServiceSOAP12Binding" type="axis2:StockQuoteServicePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getPrice">
            <soap12:operation soapAction="urn:getPrice" style="document"/>
            <wsdl:input>
                <soap12:body use="literal" namespace="http://quickstart.samples/"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" namespace="http://quickstart.samples/"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="update">
            <soap12:operation soapAction="urn:update" style="document"/>
            <wsdl:input>
                <soap12:body use="literal" namespace="http://quickstart.samples/"/>
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="StockQuoteService">
        <wsdl:port name="StockQuoteServiceSOAP11port" binding="axis2:StockQuoteServiceSOAP11Binding">
            <soap:address location="http://localhost:8080/services/stockquoteservice"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
