codegen/codegen-tools/src/test/resources/org/ebayopensource/turmeric/test/tools/codegen/data/test_wsdl.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--
    Copyright (c) 2006-2010 eBay Inc. All Rights Reserved.
    Licensed under the Apache License, Version 2.0 (the "License"); 
    you may not use this file except in compliance with the License. 
    You may obtain a copy of the License at 
   
       http://www.apache.org/licenses/LICENSE-2.0
       
 -->
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://www.ebay.com/soaframework/common/types" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:ns0="http://www.ebay.com/marketplace/services" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" targetNamespace="http://www.ebay.com/marketplace/services">
    <wsdl:types>
        <xs:schema attributeFormDefault="unqualified" elementFormDefault="unqualified" targetNamespace="http://www.ebay.com/marketplace/services">
        <xs:import namespace="http://www.ebay.com/soaframework/common/types" schemaLocation="test_xsd.xsd"/>
            <xs:complexType name="calculateInterestRequestType">
                <xs:sequence>
                    <xs:element name="param0" type="xs:int"/>
                    <xs:element name="param1" type="xs:float"/>
                    <xs:element name="param2" type="xs:float"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="ErrorMessage" nillable="true" type="ns1:ErrorMessage"/>
            <xs:element name="calculateInterest" nillable="true" type="ns0:calculateInterestRequestType"/>
            <xs:element name="calculateInterestResponse" type="xs:float"/>
        </xs:schema>

    </wsdl:types>
    <wsdl:message name="calculateInterestRequest">
        <wsdl:part name="parameters" element="ns0:calculateInterest"/>
    </wsdl:message>
    <wsdl:message name="calculateInterestResponse">
        <wsdl:part name="parameters" element="ns0:calculateInterestResponse"/>
    </wsdl:message>
    <wsdl:message name="ErrorMessage">
        <wsdl:part name="parameters" element="ns0:ErrorMessage"/>
    </wsdl:message>
    <wsdl:portType name="ComplexService_1001PortType">
        <wsdl:operation name="calculateInterest">
            <wsdl:input xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" message="ns0:calculateInterestRequest" wsaw:Action="urn:calculateInterest"/>
            <wsdl:output xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" message="ns0:calculateInterestResponse" wsaw:Action="urn:calculateInterestResponse"/>
            <wsdl:fault xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" message="ns0:ErrorMessage" name="ErrorMessage" wsaw:Action="urn:calculateInterestErrorMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="ComplexService_1001SOAP11Binding" type="ns0:ComplexService_1001PortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="calculateInterest">
            <soap:operation soapAction="urn:calculateInterest" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ErrorMessage">
                <soap:fault use="literal" name="ErrorMessage"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="ComplexService_1001SOAP12Binding" type="ns0:ComplexService_1001PortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="calculateInterest">
            <soap12:operation soapAction="urn:calculateInterest" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
            <wsdl:fault name="ErrorMessage">
                <soap12:fault use="literal" name="ErrorMessage"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="ComplexService_1001HttpBinding" type="ns0:ComplexService_1001PortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="calculateInterest">
            <http:operation location="ComplexService_1001/calculateInterest"/>
            <wsdl:input>
                <mime:content type="text/xml" part="calculateInterest"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="text/xml" part="calculateInterest"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="ComplexService_1001">
        <wsdl:port name="ComplexService_1001SOAP11port_http" binding="ns0:ComplexService_1001SOAP11Binding">
            <soap:address location="http://localhost:8080/ComplexService_1001"/>
        </wsdl:port>
        <wsdl:port name="ComplexService_1001SOAP12port_http" binding="ns0:ComplexService_1001SOAP12Binding">
            <soap12:address location="http://localhost:8080/ComplexService_1001"/>
        </wsdl:port>
        <wsdl:port name="ComplexService_1001Httpport" binding="ns0:ComplexService_1001HttpBinding">
            <http:address location="http://localhost:8080/ComplexService_1001"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
